{% extends 'guide/lesson.html' %}
{% from 'guide/macros.html' import dev_row as row %}

{% block lesson %}

<p>The consonants are the most important part of Devanagari, and they're where you should spend most of your time. If you know these letters well, you'll have little trouble reading Devanagari.</p>

<h2>The letters</h2>
<h3>Stops and nasals</h3>
<ul class="grid-5 letters">
    {{ row('ka kha ga gha Ga') }}
    {{ row('ca cha ja jha Ja') }}
    {{ row('Ta Tha Da Dha Na') }}
    {{ row('ta tha da dha na') }}
    {{ row('pa pha ba bha ma') }}
</ul>

<h3>Other letters</h3>
<ul class="grid-4 letters">
    {{ row('ya ra la va') }}
    {{ row('za Sa sa ha') }}
</ul>

<h2>Common letters</h2>
<p>Usually, students try to memorize the consonants in order, starting with {{ 'ka'|d }} and ending with {{ 'ha'|d }}. This is slow and unrewarding. Some consonants are so rare that they appear in Sanskrit only rarely. Others are so common that they appear in almost every other word. By focusing on common consonants first, you can start reading Devanagari even if you don't know the complete script:</p>

<figure>
    {{ svg('consonant-distribution') }}
    <figcaption>Distribution of Devanagari consonants in the Bhagavad Gita. The larger a circle is, the more times its letter appears. {{ 'jha'|i }} is so rare that it appears just once. <span class="js">(Hover over a circle to see how many times it appears in the text.)</span></figcaption>
</figure>

<h2>How to memorize a letter</h2>
<p>If you are having trouble memorizing a letter, consider the students of Japanese and Chinese, who have to memorize thousands of characters. To help them remember particular characters, these students create <em>vivid stories</em> about the different letters that relate to their shape. These stories serve as reminders of how different letters sound.</p>

<ul class="examples">
    {{ ex('gha', iast=true, aside='This looks like a <em>guy</em> with a <em>goiter</em> and a <em>gut</em> full of <em>gas</em>.') }}
</ul>

<p>These stories can also help you distinguish between similar letters. For example, we can keep <span class="dev">ङ</span> and <span class="dev">ड</span> apart because <span class="dev">ङ</span> has a dot like a <strong>nose</strong> piercing. The most commonly confused letters are below:</p>

<ul class="examples">
    {{ ex('ca, ja', iast=true) }}
    {{ ex('ba, va', iast=true) }}
    {{ ex('pa, Sa', iast=true) }}
    {{ ex('gha, dha', iast=true) }}
    {{ ex('bha, ma', iast=true) }}
    {{ ex('Ga, Da', iast=true) }}
    {{ ex('Ta, Tha, Dha, da', iast=true) }}
</ul>


{% endblock %}
