{% if not standalone %}{% extends 'guide/lesson.html' %}{% endif %}
{% from 'guide/macros.html' import dev_row as row %}

{% block lesson %}
<p>Recall that Devanagari consonants are automatically followed by the {{ 'a'|i }} vowel sound. Thus {{ 'ka'|d }} is {{ 'ka'|i }}, not {{ 'k'|i }}. This {{ 'a'|i }} follows every Devanagari consonant by default.</p>

<p>To write sounds like {{ 'ki'|i }} or {{ 'k'|i }}, we add marks to the original {{ 'ka'|d }}. These marks indicate the type of vowel sound that follows the consonant. All consonants use the same set of marks.</p>

<h2>Vowel marks</h2>
<ul class="grid-4 letters">
    {{ row('ka kA ki kI') }}
    {{ row('ku kU kR kRR') }}
    {{ row('ke kai ko kau') }}
</ul>

<p>For convenience, we can call these marks <dfn>vowel marks</dfn>. Generally, the marks for long vowels are modified versions of the marks for short vowels.</p>

<p>In Devanagari, vowels appear both as proper letters and as vowel marks. But the vowel mark is used wherever possible. This makes the "letter" form of the vowels very rare.</p>

<h2>Other marks</h2>
<ul class="grid-4 letters">
    {{ row('kaM kaH rka k') }}
</ul>

<p>The stroke that makes {{ 'ka'|d }} become {{ 'k'|d }} is called the {{ 'virAma'|i('dfn') }}. Note that {{ 'ra'|i }} can appear as a mark on another consonant.</p>

<p>There is also a symbol for <dfn>nasal vowels</dfn>:</p>

<ul class="letters">
    {{ row('ka~') }}
</ul>

<p>This mark is called the {{ 'candrabindu'|i }}. In ordinary Sanskrit, the {{ 'candrabindu'|i }} is used only in certain contexts. The guide describes the {{ 'candrabindu'|i }} in more detail.</p>

{% endblock %}
