{% extends 'guide/lesson.html' %}
{% from 'guide/macros.html' import dev_row as row %}

{% block lesson %}
<p>In addition to ordinary letters, Devanagari contains some basic symbols:</p>

<h2>{{ 'oM'|d }}</h2>

<p>The <dfn>om</dfn> symbol is the most famous symbol in Devanagari. It is made from two vowels and the {{ 'candrabindu'|i }}:</p>

<ul class="examples">
    {{ iex('a + U~ -> oM') }}
</ul>

<h2>Punctuation</h2>
<p>English has a variety of different punctuation marks. When writing Sanskrit, Devanagari has only three:</p>

<ul class="grid-3 letters">
    {{ row("| || '") }}
</ul>

<p>The first is the {{ 'daNDa'|i('dfn') }}, or "stick." This marks the end of a sentence or half-verse. The second can be called a <dfn>double {{ 'daNDa'|i }}</dfn>. This marks the end of a paragraph or verse. The third is the {{ 'avagraha'|i('dfn') }}. This is sometimes used to indicate a vowel sound that is removed due to blending. The {{ 'avagraha'|i }} is discussed in more detail in the grammar guide.</p>

<h2>Numerals</h2>
<p>Devanagari <dfn>numerals</dfn> descend from the same Indian system that gives us the <a href="http://en.wikipedia.org/wiki/Hindu-Arabic_numerals">Hindu-Arabic numerals</a> that we use in English:</p>

<ul class="grid-10 letters">
    {{ row('0 1 2 3 4 5 6 7 8 9') }}
</ul>

<p>These numerals are used as you would expect:</p>

<ul class="examples">
    {{ ex('3', '3')}}
    {{ ex('108', '108')}}
    {{ ex('2719', '2719')}}
</ul>
{% endblock %}
