{% extends 'base-grammar.html' %}

{% block title %}Exercises: iti and iva{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/start">Starting Out</a> »</li>
<li><a href="/start/uninflected">Uninflected Words</a> »</li>
<li>Exercises: iti and iva</li>
</ul>
{% endblock %}

{% block content %}

<h1>Exercises: <span lang="sa">iti</span> and <span lang="sa">iva</span></h1>
<h2>Devanagari</h2>
<p>Now you can read almost anything. Have at it! We'll learn the extremely rare consonants <span lang="sa">ṭh, ḍh,</span> and <span lang="sa">jh</span> later on. There are also a few other letters of various sorts, but they are even rarer.</p>
<p>But if you're keen on practicing one last time, try writing the verses below in IAST.</p>
<ul class="exercises" lang="sa">
<li><p class="dev">एवमुक्त्वा ततो राजन्महायोगेश्वरो हरिः ।<br/>दर्शयामास पार्थाय परमं रूपमैश्वरम् ॥</p></li>
<li><p class="dev">अनेकवक्त्रनयनमनेकाद्भुतदर्शनम् ।<br/>अनेकदिव्याभरणं दिव्यानेकोद्यतायुधम् ॥</p>
<p lang="en"><span class="dev">क्त्र</span> = <span lang="sa">ktra</span>.</p></li>
<li><p class="dev">दिव्यमाल्याम्बरधरं दिव्यगन्धानुलेपनम् ।<br/>सर्वाश्चर्यमयं देवमनन्तं विश्वतोमुखम् ॥</p></li>
<li><p class="dev">दिवि सूर्यसहस्रस्य भवेद्युगपदुत्थिता ।<br/>यदि भाः सदृशी सा स्याद्भासस्तस्य महात्मनः ॥</p>
<p lang="en"><span class="dev">द्य</span> = <span lang="sa">dya</span>.</p></li>
</ul>
<h2>Translation</h2>
<p>Translate from Englishto Sanskrit.</p>
<ul class="drill exercises">
<li><p>"I do not want that fruit," thinks the boy.</p></li>
<li><p>Thinking that he [a boy] wants the elephant, the boy goes.</p></li>
<li><p>Thinking that he [someone else] wants the elephant, the boy goes.</p></li>
<li><p>"'The son goes to the city,' think the heroes," thinks the man.</p></li>
<li><p>The boy walks with the elephant to the man as if he [the boy] were a hero.</p></li>
<li><p>The boy walks with the elephant to the man as if he [the man] were a hero.</p></li>
<li><p>The boy walks with the elephant to the man as if he [the elephant] were a hero.</p></li>
<li><p>"I understand for the <strong>village</strong>," thinks the man with the horse.</p></li>
<li><p>"I understand," thinks the man with the horse who is like water.</p></li>
<li><p>Thus do I think.</p></li>
</ul>
<p>In the last two exercises, "with" has the sense of company, as in "I go with my friend." So, the man doesn't own the horse; he's just near one. We'll study this fact after Starting Out.</p>
<h2>Answers</h2>
<h3>Devanagari</h3>
<p>As before, English meanings (in a more poetic translation this time) are provided for your curiosity. The <span class="bold r">highlighted words</span> are ones you should recognize. We'll learn almost all of the rest after Starting Out. Bhagavad Gita 11.8 - 11.12:</p>
<ul class="exercises" lang="sa">
<li><p>evamuktvā tato rājanmahāyogeśvaro hariḥ ।<br/>darśayāmāsa pārthāya paramaṃ rūpamaiśvaram ॥</p>
<p lang="en">Then having spoken thus, O king (i.e. Dhritarashtra), Hari (i.e. Krishna) the mighty lord of yoga <br/>did show to the son of Pritha (i.e. Arjuna) his ultimate lordly form:</p></li>
<li><p>aneka<span class="bold r">vaktranayanam</span>anekādbhuta<span>darśanam</span> ।<br/>anekadivyābharaṇaṃ divyānekodyatāyudham ॥</p>
<p lang="en">Of many faces, many eyes, of many wondrous spectacles, <br/>Of many divine ornaments, divine his many weapons raised,</p></li>
<li><p>divyamālyāmbaradharaṃ divyagandhānulepanam ।<br/>sarvāścaryamayaṃ devamanantaṃ viśvato<span class="bold r">mukham</span> ॥</p>
<p lang="en">Wearing garlands and clothes divine, divine perfumes anointing him,<br/>a god made up of every marvel, endless, facing all at once.</p></li>
<li><p>divi <span class="bold r">sūrya</span>sahasrasya bhavedyugapadutthitā ।<br/>yadi bhāḥ sadṛśī sā syādbhāsas<span class="bold r">tasya</span> mahātmanaḥ ॥</p>
<p lang="en">If the flare of a thousand suns should rise at once into the sky —<br/>such would resemble then the splendor of that greatest Being.</p></li>
</ul>
<h3>Translation</h3>
<p>Either <span lang="sa">man</span> or <span lang="sa">cint</span> could be used to translate the sentences above. I've used <span lang="sa">cint</span> below.</p>
<ul class="drill exercises" lang="sa">
<li><p class="dev">तत् फलं नेच्छामीति बालो मन्यते</p><p>ahaṃ tat phalaṃ necchāmīti bālo manyate</p></li>
<li><p class="dev">गजमिच्छामीति बालो गच्छति</p><p>ahaṃ gajam icchāmīti bālo gacchati</p></li>
<li><p class="dev">स गजमिच्छतीति बालो गच्छति</p><p>sa gajam icchatīti bālo gacchati</p></li>
<li><p class="dev">पुत्रो नगरं गच्छतीति वीरा मन्यन्त इति नरो मन्यते</p><p>putro nagaraṃ gacchatīti vīrā manyanta iti naro manyate</p></li>
<li><p class="dev">बालो वीर इव गजेन नरं चरति</p><p>bālo vīra iva gajena naraṃ carati</p></li>
<li><p class="dev">बालो वीरम् इव गजेन नरं चरति</p><p>bālo vīram iva gajena naraṃ carati</p></li>
<li><p class="dev">बालो वीरेणेव गजेन नरं चरति</p><p>bālo vīreṇeva gajena naraṃ carati</p>
<p class="aside" lang="en">Note that <span lang="sa">n</span> becomes <span lang="sa">ṇ</span>. We studied this sandhi rule with <a href="/start/nouns/case6">case 6</a>.</p></li>
<li><p class="dev">ग्रामायैव बोधामीति नरो ऽश्वेन मन्यते</p><p>grāmāyaiva bodhāmīti naro 'śvena manyate</p></li>
<li><p class="dev">बोधामीति नरो जलेनेवाश्वेन मन्यते</p><p>bodhāmīti naro jalenevāśvena manyate</p></li>
<li><p class="dev">इत्य् अहं मन्ये</p><p>ity ahaṃ manye</p></li>
</ul>
{% endblock %}

