{% extends 'base-grammar.html' %}

{% block title %}The Option Mood{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/verbs">Verbs</a> »</li>
<li><a href="/verbs/classes">Verb Classes</a> »</li>
<li>The Option Mood</li>
</ul>
{% endblock %}

{% block content %}

<h1>The Option Mood</h1>
<p class="alternatives">Also known as: present optative, <span lang="sa">vidhi</span> ("injunction"), <span lang="sa">liṅ</span></p>
<h2>Introduction</h2>
<p>Now we will study the <dfn>option mood</dfn>. This term refers to verbs that let us state what we <strong>could</strong> do, <strong>should</strong> do, or <strong>would</strong> do. It is used to talk about situations that haven't occurred and things that might not exist.</p>
<ul class="sa examples">
<li><p class="dev">तदा <strong>गच्छेयम्</strong></p>
<p lang="sa">tadā <strong>gaccheyam</strong></p>
<p>Then <strong>I should go</strong></p></li>
<li><p class="dev">नरा <strong>भाषेरन्</strong></p>
<p lang="sa">narā <strong>bhāṣeran</strong></p>
<p>The men <strong>should speak</strong>.</p></li>
</ul>
<h2>Conjugation</h2>
<p>Each group of endings will be compared with its counterpart in the ordinary past tense.</p>
<h3>P Endings</h3>
<p>The P endings are similar to the past endings, but they're not exactly the same. Take a look:</p>
<div class="hideDouble">
{% include 'include/charts/c-bhu-opt-p.html' %}</div>
<div class="note box">
<p>These endings differ from the past endings in only three ways.</p>
<ul>
<li>In the first person, <span lang="sa">āma</span> becomes <span lang="sa">īma</span> and <span lang="sa">āva</span> becomes <span lang="sa">īva</span></li>
<li><span lang="sa">ī</span> is attached to the front of every ending. This <span lang="sa">ī</span> merges with the <span lang="sa">a</span> of the stem to produce <span lang="sa">e</span>.</li>
<li>The third-person plural uses <span lang="sa">-īyus</span>.</li>
</ul>
</div>
<p>Now for the complex verb classes. The strong stem is not used.</p>
<div class="hideDouble">
{% include 'include/charts/c-su-opt-p.html' %}</div>
<div class="note box">
<p>These endings differ from the endings of the ordinary past tense in two ways.</p>
<ul>
<li><span lang="sa">yā</span> is attached to the front of every ending.</li>
<li>The third-person plural uses <span lang="sa">-yus</span> (<strong>not</strong> <span lang="sa">*-yāyus</span>).</li>
</ul>
</div>
<h3>A Endings</h3>
<p>In the atmanepada version of the option mood, <strong>all</strong> verbs use the <strong>same</strong> endings. These endings are identical to the endings of the ordinary past tense, with some changes. Take a look:</p>
<div class="hideDouble">
{% include 'include/charts/c-labh-opt-a.html' %}{% include 'include/charts/c-su-opt-a.html' %}</div>
<div class="note box">
<p>These endings differ from the past endings of the simple verb classes in three ways:</p>
<ul>
<li><span lang="sa">āmahi</span> becomes <span lang="sa">īmahi</span> and <span lang="sa">āvahi</span> becomes <span lang="sa">īvahi</span>.</li>
<li><span lang="sa">ī</span> is attached to the front of every ending. If the ending starts with a vowel, then <span lang="sa">īy</span> is attached instead.</li>
<li>The third-person plural uses <span lang="sa">-īran</span>.</li>
</ul>
</div>
{% endblock %}

