{% extends 'base-grammar.html' %}

{% block title %}Pronouns{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/references">References</a> »</li>
<li><a href="/references/nouns">Nouns</a> »</li>
<li>Pronouns</li>
</ul>
{% endblock %}

{% block content %}

<h1>Pronouns</h1>
<p>This page contains a large number of Sanskrit pronouns. If a pronoun is not on this page, then I have never seen it in use.</p>
<p>Click to scroll down:</p>
<ul lang="sa">
<li><a href="#mad">mad</a></li>
<li><a href="#tvad">tvad</a></li>
<li><a href="#tad">tad, etad, tyad</a></li>
<li><a href="#ena">ena</a></li>
<li><a href="#ayam">ayam, iyam, idam</a></li>
<li><a href="#adas">adas</a></li>
</ul>
<h2 class="clear" id="mad" lang="sa">mad</h2>
{% include 'include/charts//d-mad.html' %}{% include 'include/charts//d-mad-short.html' %}
<h2 id="tvad"><span lang="sa">tvad</span></h2>
{% include 'include/charts//d-tvad.html' %}{% include 'include/charts//d-tvad-short.html' %}
<h2 id="tad"><span lang="sa">tad, etad, tyad</span></h2>
<p>These three pronouns have identical declensions.</p>
<h3>Masculine</h3>
{% include 'include/charts//d-tad-m.html' %}<h3>Feminine</h3>
{% include 'include/charts//d-tad-f.html' %}<h3>Neuter</h3>
{% include 'include/charts//d-tad-n.html' %}<p>Note that <span lang="sa">etad</span> has <span lang="sa">eṣaḥ</span> and <span lang="sa">eṣā</span> in the singular of case 1 due to internal sandhi.</p>
<h2 id="ena"><span lang="sa">ena</span></h2>
<p><span lang="sa">ena</span> has <strong>exactly</strong> the same endings as <span lang="sa">tad</span>, but only six of its twenty-one forms are ever used. These forms are shown below for the masculine gender.</p>
{% include 'include/charts//d-ena-m.html' %}
<h2 id="ayam"><span lang="sa">ayam, iyam, idam</span></h2>
<h3>Masculine (<span lang="sa">ayam</span>)</h3>
{% include 'include/charts//d-ayam.html' %}<h3>Feminine (<span lang="sa">iyam</span>)</h3>
{% include 'include/charts//d-iyam.html' %}<h3>Neuter (<span lang="sa">idam</span>)</h3>
{% include 'include/charts//d-idam.html' %}
<h2 id="adas"><span lang="sa">adas</span></h2>
{% include 'include/charts//d-adas.html' %}
{% endblock %}

