{% extends 'base-grammar.html' %}

{% block title %}Exercises: Sandhi{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/start">Starting Out</a> »</li>
<li><a href="/start/nouns">Noun Basics</a> »</li>
<li>Exercises: Sandhi</li>
</ul>
{% endblock %}

{% block content %}

<h1>Exercises: Verbless Sentences</h1>
<h2>Matching</h2>
<p>The table below has a list of verb roots and a list of real Sanskrit words. Match the verb root to the word it produces. These exercises may look tough, but if you concentrate on the sounds in the root, you should be able to answer all of them correctly.</p>
<dl class="blue" lang="sa">
<dt class="title" lang="en">Verb Root</dt><dd class="title" lang="en">New Word</dd>
<dt>prach</dt><dd>abhyujjigamiṣoḥ</dd>
<dt>jay</dt><dd>titīrṣuḥ</dd>
<dt>tar</dt><dd>ananulapsyan</dd>
<dt>sarj</dt><dd>praśna</dd>
<dt>gam</dt><dd>visarga</dd>
<dt>labh</dt><dd>aviṣayībhūtatvāt</dd>
<dt>bhū</dt><dd>vijigīrṣūṇām</dd>
</dl>
<h2>Sandhi — Sanskrit Passages</h2>
<p>Below, you will find a few phrases from Sanskrit literature. Their sandhi changes have been removed. Fix them by applying the changes you've learned so far. Remember that the "stick" character (<span class="big">।</span>) marks the end of the sentence; no sandhi changes can occur across it.</p>
<ul class="exercises" lang="sa">
<li><p class="dev">धर्मक्षेत्रे कुरुक्षेत्रे समवेताः युयुत्सवः ।<br/>
	मामकाः पाण्डवाः च एव किम् अकुर्वत संजय ॥</p>
<p>dharmakṣetre kurukṣetre samavetāḥ yuyutsavaḥ ।<br/>
	māmakāḥ pāṇḍavāḥ ca eva kim akurvata saṃjaya ॥</p>
<p class="aside">ca eva <span lang="en">becomes</span> caiva.</p></li>
<li><p class="dev">कालः अस्मि लोकक्षयकृत् प्रवृद्धः लोकान् समाहर्तुम् इह प्रवृत्तः ।</p>
<p>kālaḥ asmi lokakṣayakṛt pravṛddhaḥ lokān samāhartum iha pravṛttaḥ ।</p></li>
</ul>
<h2>Translation</h2>
<p>Translate from English to Sanskrit.</p>
<ul class="drill exercises">
<li>The son is a hero.</li>
<li>The boy is a man.</li>
</ul>
<h2>Answers</h2>
<h3>Sandhi — Sanskrit Passages</h3>
<ul class="exercises" lang="sa">
<li><p class="dev">धर्मक्षेत्रे कुरुक्षेत्रे समवेता युयुत्सवः ।<br/>
	मामकाः पाण्डवाश् चैव किम् अकुर्वत संजय ॥</p>
<p>dharmakṣetre kurukṣetre samavetā yuyutsavaḥ ।<br/>
	māmakāḥ pāṇḍavāś caiva kim akurvata saṃjaya ॥</p></li>
<li><p class="dev">कालो ऽस्मि लोकक्षयकृत् प्रवृद्धो लोकान् समाहर्तुम् इह प्रवृत्तः ।</p>
<p>kālo 'smi lokakṣayakṛt pravṛddho lokān samāhartum iha pravṛttaḥ ।</p></li>
</ul>
<p>Just for fun, here are the translated versions of the passages above.
<ul class="exercises">
<li><p>On dharma's field, the field of Kurus, all assembled wanting war<br/>
	were my sons and the Pandavas; what did they do, O Sanjaya? <cite>Bhagavad Gita 1.1</cite></p></li>
<li><p>I am Time [or "Doom" or "Death"], great destroyer of worlds, engaged here in destroying all mankind. <cite>Bhagavad Gita 11.32</cite></p>
<p class="aside">This verse was <a href="http://www.youtube.com/watch?v=n8H7Jibx-c0">famously quoted</a> by J. Robert Oppenheimer, the so-called "father of the atomic bomb."</p></li>
</ul>
<h3>Matching</h3>
<dl class="blue" lang="sa">
<dt class="title" lang="en">Verb Root</dt><dd class="title" lang="en">New Word</dd>
<dt>prach</dt><dd>praśna</dd>
<dt>jay</dt><dd>vijigīrṣūṇām</dd>
<dt>tar</dt><dd>titīrṣuḥ</dd>
<dt>sarj</dt><dd>visarga</dd>
<dt>gam</dt><dd>abhyujjigamiṣoḥ</dd>
<dt>labh</dt><dd>ananulapsyan</dd>
<dt>bhū</dt><dd>aviṣayībhūtatvāt</dd>
</dl>
<h3>Translation</h3>
<ul class="drill exercises" lang="sa">
<li><p class="dev">पुत्रो वीरः</p><p>putro vīraḥ</p>
<li><p class="dev">बालो नरः</p><p>bālo naraḥ</p>
</li></li></ul></p>
{% endblock %}

