{% extends 'base-grammar.html' %}

{% block title %}Exercises: "And" etc.{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/start">Starting Out</a> »</li>
<li><a href="/start/uninflected">Uninflected Words</a> »</li>
<li>Exercises: "And" etc.</li>
</ul>
{% endblock %}

{% block content %}

<h1>Exercises: "And," "Or," and "Not"</h1>
<h2>Devanagari</h2>
<p>At this point, you can read almost all of the Devanagari on the site. Try to read the translation answers below in Devanagari alone. These answers use the vowel symbol <span class="dev">अ</span> ( = <span lang="sa">a</span>), but you should be able to read the rest. (Of course, you should only try this <strong>after</strong> you've attempted the translation exercises!)</p>
<p>But if you're eager to read something more, try your hand at the first verse of the Bhagavad Gita:</p>
<ul class="drill exercises" lang="sa">
<li><p class="dev">धर्मक्षेत्रे कुरुक्षेत्रे समवेता युयुत्सवः ।<br/>मामकाः पाण्डवाश्चैव किमकुर्वत संजय ॥</p></li>
</ul>
<h2>Translation</h2>
<p>Translate from English to Sanskrit. Use tatpurusha compounds where possible.</p>
<ul class="drill exercises">
<li><p>The heroes and boys walk to the beautiful village.</p></li>
<li><p>The black horse stand up with the white rabbit.</p></li>
<li><p>Both I and the man obtain the fruits.</p></li>
<li><p>Neither the elephants nor the wolves see the sun.</p>
<p class="aside">i.e. "Both the elephants and the wolves do not see the sun."</p></li>
<li><p>I do not want that fruit.</p></li>
<li><p>Either the sun or the moon is in the sky.</p></li>
<li><p>The two of us speak with the boy, and you do not go to the city.</p></li>
<li><p>The men, the boys, the elephants, and the rabbits go with the heroes to the fruits.</p></li>
<li><p>The wolves and I lead the boy from the village to the black trees.</p>
<p class="aside">Case 2 should be used for both "boy" and "tree."</p></li>
<li><p>You and I do not find the trunk of the elephant.</p>
<p class="aside">In Sanskrit, words for "hand" also refer to an elephant's trunk.</p></li>
</ul>
<p>Translate from Sanskrit to English.</p>
<ul class="drill exercises" lang="sa">
<li><p class="dev">न जायते म्रियते वा</p><p>na jāyate mriyate vā</p></li>
</ul>
<h2>Answers</h2>
<h3>Devanagari</h3>
<p>If you don't know the meaning of the verse already, try to wait until the end of Starting Out. It's not too far away!</p>
<ul class="drill exercises" lang="sa">
<li><p>dharmakṣetre kurukṣetre samavetā yuyutsavaḥ ।<br/>māmakāḥ pāṇḍavāścaiva kimakurvata saṃjaya ॥</p></li>
</ul>
<h3>Translation</h3>
<ul class="drill exercises" lang="sa">
<li><p class="dev">वीरा बालाश्च सुन्दरं ग्रामं चरन्ति</p><p>vīrā bālāśca sundaraṃ grāmaṃ caranti</p></li>
<li><p class="dev">कृष्णो ऽश्वः श्वेतेन शशेन तिष्ठति</p><p>kṛṣṇo 'śvaḥ śvetena śaśena tiṣṭhati</p></li>
<li><p class="dev">अहं च नरश् च फलं लभावहे</p><p>ahaṃ ca naraś ca phalaṃ labhāvahe</p></li>
<li><p class="dev">गजाश् च वृकाश् च सूर्यं न पश्यन्ति</p><p>gajāś ca vṛkāś ca sūryaṃ na paśyanti</p></li>
<li><p class="dev">अहं तत् फलं नेच्छामि</p><p>ahaṃ tat phalaṃ necchāmi</p></li>
<li><p class="dev">सूर्यो वा चन्द्रो वा गगने भवति</p><p>sūryo vā candro vā gagane bhavati</p></li>
<li><p class="dev">आवां बालेन भाषावहे त्वं च नगरं न गच्छसि</p><p>āvāṃ bālena bhāṣāvahe tvaṃ ca nagaraṃ na gacchasi</p></li>
<li><p class="dev">नरा बाला गजाः शशाश् च वीरैः फलानि गच्छन्ति</p><p>narā bālā gajāḥ śaśāś ca vīraiḥ phalāni gacchanti</p></li>
<li><p class="dev">वृका अहं च ग्रामात् कृष्णवृक्षान् बालं नयामः</p><p>vṛkā ahaṃ ca grāmāt kṛṣṇavṛkṣān bālaṃ nayāmaḥ</p></li>
<li><p class="dev">त्वम् अहं च गजहस्तं न विन्दावः</p><p>tvam ahaṃ ca gajahastaṃ na vindāvaḥ</p></li>
</ul>
<ul class="drill exercises">
<li>It is not born, nor does it die. <cite>Bhagavad Gita 2.20</cite></li>
</ul>
{% endblock %}

