{% extends 'base-grammar.html' %}

{% block title %}Numbers in Devanagari{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/references">References</a> »</li>
<li><a href="/references/devanagari">Devanagari</a> »</li>
<li>Numbers in Devanagari</li>
</ul>
{% endblock %}

{% block content %}

<h1>Numbers</h1>
<p>This page contains the numerals that are used in Devanagari. Since these numbers are the basis of the Arabic number system, they should be quite familiar.</p>
<dl class="blue letters">
<dt class="title" lang="en">देवनागरी</dt><dd class="title" lang="en">IAST</dd>
<dt>१</dt><dd>1</dd>
<dt>२</dt><dd>2</dd>
<dt>३</dt><dd>3</dd>
<dt>४</dt><dd>4</dd>
<dt>५</dt><dd>5</dd>
<dt>६</dt><dd>6</dd>
<dt>७</dt><dd>7</dd>
<dt>८</dt><dd>8</dd>
<dt>९</dt><dd>9</dd>
<dt>०</dt><dd>0</dd>
</dl>
<p>These numbers are used as you would expect: 1000 is <span class="dev">१०००</span>, 2395 is <span class="dev">२३९५</span>, and so on.</p>
{% endblock %}

