{% extends 'base-grammar.html' %}

{% block title %}Other Participles{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/verbs">Verbs</a> »</li>
<li>Other Participles</li>
</ul>
{% endblock %}

{% block content %}

<h1>Other Participles</h1>
<p>In this chapter, we will turn again to the participle.</p>
<h2>Introduction</h2>
<p>We started our study of verbs with the present tense, which plainly states both an action and the subject that performs the action.</p>
<ul class="examples"><li><p>The man <strong>remembers</strong>.</p></li></ul>
<p>Our study of <span lang="sa">atmanepada</span> verbs did not do much to change this picture. But then we studied the gerund, which refined our understanding of the verb.</p>
<ul class="examples"><li><p>The man, <strong>after remembering</strong>, goes.</p></li></ul>
<p>Here, <q>having remembered</q> is set apart. It has its own object and means, and it describes a second action that relates to the main verb — <q>goes</q> in this sentence — in a particular way. This is not the same thing as a group of verbs connected with <span lang="sa">ca</span>; <span lang="sa">ca</span> brings two sentences together, but the two sentences have no meaningful connection and don't influence each other at all. In contrast, the gerund can interact with another verb to produce a more complex idea.</p>
<p>But the real power of the gerund is that the gerund is still <strong>distinct</strong> from the main verb in space and time. It does not matter what form or shape the main verb takes.</p>
<ul class="examples">
<li><p>The man, <strong>after remembering</strong> the boy, has gone.</p></li>
<li><p>The man, <strong>after remembering</strong> the boy, will go.</p></li>
<li><p>The man, <strong>after remembering</strong> the boy, should have been intending to go.</p></li>
</ul>
<p>This, as you know, is the participle. Now, the key point of this introduction is that <strong>participles let us attach an action to a noun</strong>. The gerund does not show this very well, so let's look at some other participles. Look at the example sentences below, and pay attention to the verb "remember." Both sentences express the same idea.</p>
<ul class="examples">
<li><p>The man <strong>remembers</strong>. The elephant will walk to the man (the same man).</p></li>
<li><p>The elephant will walk to the <strong>remembering</strong> man.</p></li>
</ul>
<p><strong>This</strong> is what the participle is about! It allows us to distinguish between two different periods of the time: when the man acted and when the elephant acted. What the sentence above says is that when the elephant walks in its own <strong>future</strong>, the man will remember in what is, to him, his <strong>present</strong>. This ability to differentiate between two different kinds of time — the future for the elephant and the present tense for the man — gives us an extremely flexible structure that can express complicated ideas. Another example might make this clearer:</p>
<ul class="examples">
<li><p>The man <strong>was remembered</strong>. The elephant will walk to the man (the same man).</p></li>
<li><p>The elephant will walk to the <strong>remembered</strong> man.</p></li>
</ul>
<p>Here, as the elephant walks to the man it its <strong>future</strong>, the man is remembered in that moment's <strong>past</strong>. This is the power of participles!</p>
<h3>A quick preview</h3>
<p>Participles appear in <strong>three modes</strong>: <span lang="sa">parasmaipada</span>, <span lang="sa">ātmanepada</span>, and passive. ("Modes" is not a technical term, and it will not be used on the site.) Participles also appear in <strong>three tenses</strong>: past, present, and future. We can sum up the participles like so:</p>
<table class="inflection">
<caption>Participles — <span lang="sa">bhū</span></caption>
<tr><th class="stem">???</th>
<th lang="sa">parasmaipada</th>
<th lang="sa">ātmanepada</th>
<th>Passive</th>
</tr><tr><th>Past Tense</th>
<td>???<div>???</div></td>
<td>???<div>???</div></td>
<td>भूत<div>bhūta</div></td>
</tr><tr><th>Present Tense</th>
<td>???<div>???</div></td>
<td>???<div>???</div></td>
<td>???<div>???</div></td>
</tr><tr><th>Future Tense</th>
<td>???<div>???</div></td>
<td>???<div>???</div></td>
<td>???<div>???</div></td>
</tr>
</table>
<p>By the end of this part of the chapter, you will be able to fill in the entire chart and use each participle correctly. This may sound extremely intimidating; but, <strong>participles are easy</strong> and have <strong>many similarities</strong> to each other. If you've made it this far, then this part of the chapter won't take you much time!</p>

{% endblock %}

