{% extends 'base-grammar.html' %}

{% block title %}Adding Emphasis{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/start">Starting Out</a> »</li>
<li><a href="/start/uninflected">Uninflected Words</a> »</li>
<li>Adding Emphasis</li>
</ul>
{% endblock %}

{% block content %}

<h1>Adding Emphasis</h1>
<p>Language is a way for people to communicate, and when one person wants to communicate with another, he or she might want to emphasize one idea more than another. In English, we emphasize words by speaking them differently; that is, we usually raise our voice when saying them, or else we speak them with a higher pitch. For illustration, compare the two sentences below:</p>
<ul class="examples">
<li><p><strong>That</strong> is my horse.</p>
<p>(That horse over there is my horse, not the other one.)</p></li>
<li><p>That is <strong>my</strong> horse.</p>
<p>(That is my horse, not yours or anybody else's.)</p></li>
</ul>
<p>This is called the "stress accent," and Sanskrit does not have it. Instead, Sanskrit uses some special uninflected words. When these words follow some other word, that word becomes emphasized. In this lesson, we will study some of these uninflected words and learn how to use them.</p>
<h2><span lang="sa">eva</span></h2>
<p>Adding <dfn lang="sa">eva</dfn> after a word is the most common way of emphasizing it. <span lang="sa">eva</span> works just like the English stress accent. English translations of <span lang="sa">eva</span> could be "indeed" or "truly," but these translations are clunky and sound out of place in modern English.</p>
<ul class="examples">
<li><p class="dev">नरो वीर <strong>एव</strong></p>
<p lang="sa"> naro vīra <strong>eva</strong></p>
<p>The man is a <strong>hero</strong>. (The man is a hero, not anything else.)</p></li>
<li><p class="dev">नर <strong>एव</strong> वीरः</p>
<p lang="sa">nara <strong>eva</strong> vīraḥ</p>
<p>The <strong>man</strong> is a hero. (The man, indeed, is a hero.)</p></li>
</ul>
<p>The word <span lang="sa">eva</span> can also mean "alone" or "only," as you can see in the examples below. This secondary meaning depends on the context of the sentence.</p>
<ul class="examples">
<li><p class="dev">नर <strong>एव</strong> वीरः</p>
<p lang="sa">nara <strong>eva</strong> vīraḥ</p>
<p>The man <strong>alone</strong> is a hero (and nobody else).</p>
</li>
<li><p class="dev">त्वम् <strong>एव</strong> वनम् आगच्छति</p>
<p lang="sa">tvam <strong>eva</strong> vanam āgacchati</p>
<p><strong>Only</strong> you (and nobody else) come to the forest.</p>
</li>
</ul>
<h2><span lang="sa">tu</span> and <span lang="sa">hi</span></h2>
<p>Adding <dfn lang="sa">tu</dfn> or <dfn lang="sa">hi</dfn> after a word is another way of adding emphasis. However, both of these words also carry some extra meaning with them. <span lang="sa">tu</span> can have a sense of <strong>contradiction</strong>, like the English word "but." Meanwhile, <span lang="sa">hi</span> usually has a sense of <strong>conclusion</strong>, like the English "for" or "after all."</p>
<ul class="examples">
<li><p class="dev">अहं <strong>तु</strong> नरः</p>
<p lang="sa">ahaṃ <strong>tu</strong> naraḥ</p>
<p><strong>But</strong> I (<strong>too</strong>) am a man.</p></li>
<li><p class="dev">स <strong>हि</strong> सुन्दरो ऽश्वः</p>
<p lang="sa">sa <strong>hi</strong> sundaro 'śvaḥ</p>
<p>He, <strong>after all</strong>, is a beautiful horse.</p></li>
</ul>
<h2><span lang="sa">api</span></h2>
<p>The word <dfn lang="sa">api</dfn> is used like all three of the words above, but it emphasizes the word much more weakly. It most commonly has the meaning of "also" or "additionally." Additionally, <span lang="sa">api</span> is often combined with other uninflected words. When combined in this way, it is allowed to appear first in the sentence.</p>
<ul class="examples">
<li><p class="dev">नरो <strong>ऽपि</strong> वीरः</p>
<p lang="sa">naro <strong>'pi</strong> vīraḥ</p>
<p>The man is <strong>also</strong> a hero.</p>
</li>
<li><p class="dev"><strong>अपि</strong> च, त्वम् <strong>अपि</strong> वीरः</p>
<p lang="sa"><strong>api</strong> ca, tvam <strong>api</strong> vīraḥ</p>
<p>Furthermore (literally "and <strong>also</strong>"), you are <strong>also</strong> a hero.</p>
</li>
</ul>
<p class="fact box">The words above are frequently used in Sanskrit poetry, but they're used for more than just emphasis. Sanskrit poetry requires that all lines follow a specific syllable pattern of heavy and light syllables, and these words are often used to fill gaps in the pattern. Verb prefixes are often used in the same way.</p>
<h2>Devanagari: Common vowels</h2>
<p>The three consonants that we haven't studied yet — <span lang="sa">ṭha, ḍha</span>, and <span lang="sa">jha</span> — are quite rare. For that reason, let's shift our focus to the Devanagari vowel symbols. Unlike the vowel marks, the vowel symbols are only used at the beginning of a word. Let's start with these five:</p>
<dl class="blue letters" lang="sa">
<dt class="title">देवनागरी</dt><dd class="title" lang="en">IAST</dd>
<dt>अ</dt><dd>a</dd>
<dt>इ</dt><dd>i</dd>
<dt>उ</dt><dd>u</dd>
<dt>ऋ</dt><dd>ṛ</dd>
<dt>ए</dt><dd>e</dd>
</dl>
<p>All other vowel symbols can be derived from these five using vowel marks. For example, <span lang="sa">ā, o</span>, and <span lang="sa">au</span> all come from <span lang="sa">a</span>.</p>
<dl class="blue letters" lang="sa">
<dt class="title">देवनागरी</dt><dd class="title" lang="en">IAST</dd>
<dt>आ</dt><dd>ā</dd>
<dt>ओ</dt><dd>o</dd>
<dt>औ</dt><dd>au</dd>
</dl>
{% endblock %}

