{% extends 'base-grammar.html' %}

{% block title %}Old Devanagari{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/references">References</a> »</li>
<li><a href="/references/devanagari">Devanagari</a> »</li>
<li>Old Devanagari</li>
</ul>
{% endblock %}

{% block content %}

<h1>Old Devanagari</h1>
<table class="blue">
<tr><th>Old Letter</th><th>New Letter</th></tr>
<tr><td><img alt="old a" src="/static/img/devanagari_old_a.jpeg"/></td><td class="dev">अ</td></tr>
<tr><td><img alt="old long a" src="/static/img/devanagari_old_aa.jpeg"/></td><td class="dev">आ</td></tr>
<tr><td><img alt="old o" src="/static/img/devanagari_old_o.jpeg"/></td><td class="dev">ओ</td></tr>
<tr><td><img alt="old au" src="/static/img/devanagari_old_au.jpeg"/></td><td class="dev">औ</td></tr>
<tr><td><img alt="old retroflex n" src="/static/img/devanagari_old_n.png"/></td><td class="dev">ण</td></tr>
<tr><td><img alt="old jh" src="/static/img/devanagari_old_jh.jpeg"/></td><td class="dev">झ</td></tr>
</table>
{% endblock %}

