{% extends 'base-grammar.html' %}

{% block title %}Exercises: Pronoun Bits: idam{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/nouns">Nouns</a> »</li>
<li><a href="/nouns/pronouns">More Pronouns</a> »</li>
<li>Exercises: Pronoun Bits: idam</li>
</ul>
{% endblock %}

{% block content %}

<h1>Exercises: Pronoun Bits</h1>
<h2>Vocabulary</h2>
<dl class="vocab">
<dt>अ<div lang="sa">a</div></dt><dd>pronoun<dd>(base of the pronoun <span lang="sa">ayam</span>)</dd>
<dt>द्यु<div lang="sa">dyu</div></dt><dd>f<dd>day <span class="etym">[day]</span></dd>
<dd><dl>
<dt>अद्य<div lang="sa">adya</div></dt><dd>uninflected<dd>today; now
		<dd class="desc">This is an irregular form.
</dd>
<dt>सद्यस्<div lang="sa">sadyas</div></dt><dd>uninflected<dd>immediately; at the very moment.
		<dd class="desc">This is an irregular form.
</dd>
</dd></dd></dd></dd></dl>
<dt>दारु<div lang="sa">dāru</div></dt><dd>n<dd>wood, timber <span class="etym">[tree]</span></dd>
</dd></dd></dd></dd></dl>
<h2>Translation</h2>
<p>Translate from Sanskrit to English.</p>
<ul class="exercises" lang="sa">
<li><p class="dev">शङ्खचूड ! किमद्यापि स्थीयते ? समाहृत्य दारूणि पुत्रस्य मे विरचय चिताम्, येन वयमप्यनेन सह गच्छामः</p>
<p lang="en"><ul lang="en">
<li><span lang="sa">dārūni</span> is the neuter case 2 plural of <span lang="sa">dāṛu</span></li>
<li><span lang="sa">viracaya</span> is the 2nd singular command form of <span lang="sa">vi-rac</span></li>
<li>The passive use of <span lang="sa">sthā</span> indicates here that he is dawdling.</li>
</ul></p></li>
<li><p class="dev">निमित्तानि च पश्यामि विपरीतानि केशव ।<br/>न च श्रेयोऽनुपश्यामि हत्वा स्वजनमाहवे ॥</p></li>
<li><p class="dev">न काङ्क्षे विजयं कृष्ण न च राज्यं सुखानि च ।<br/>किं नो राज्येन गोविन्द किं भोगैर्जीवितेन वा ॥</p></li>
<li><p class="dev">येषामर्थे काङ्क्षितं नो राज्यं भोगाः सुखानि च ।<br/>त इमेऽवस्थिता युद्धे प्राणांस् त्यक्त्वा धनानि च ॥</p>
<p lang="en">Here, <span class="dev">क्त्व</span> = <span lang="sa">ktva</span>.</p></li>
</ul>
<h2>Answers</h2>
<h3>Translation</h3>
<ul class="exercises">
<li><p>Shankhacuda! Why have you stopped? Gather firewood and build my son's funeral pyre, by which we too (can) go with him.</p>
<p class="aside">Nagananda 5.180 (CSL)</p>
<p class="aside">The word <span lang="sa">yena</span> can be interpreted in one of two ways. First, it can be treated as a masculine pronoun agreeing with <span lang="sa">putra</span>. But this is unlikely because the word <span lang="sa">anena</span> becomes redundant: "… the funeral pyre of our son, by whom we too go with him." Second, it can be treated as a neuter pronoun that refers to the situation abstractly; "by which (act of gathering) we too go with him." This usage is more likely.</p></li>
<li><p>And I see omens, Krishna, inauspicious ones,<br/>and I foresee no goodness after killing my own people in battle.</p>
<p class="aside"><cite>Bhagavad Gita 1.31</cite></p></li>
<li><p>I do not desire victory, Krishna, nor kingship or pleasures.<br/> What is kingship to us, Krishna? What are enjoyments, or (even) live?</p>
<p class="aside"><cite>Bhagavad Gita 1.32</cite></p></li>
<li><p>Those for whose sake we desired kingship, enjoyments, and pleasures — <br/> they all are arrayed in battle, having relinquished their lives and wealth.</p>
<p class="aside"><cite>Bhagavad Gita 1.33</cite></p></li>
</ul>

{% endblock %}

