.button-colors(@color, @bg1, @bg2) {
    background: @bg1;
    color: @color;
    transition: background 0.3s;

    &:hover {
        background: @bg2;
    }
}

input[type='button'], input[type='submit'], button, a.btn {
    @button-border-radius: 5px;

    border: 0;
    display: inline-block;
    font: inherit;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;

    .border-radius(@button-border-radius);
    .button-colors(#fff, @gray, darken(@gray, 10%));

    &:hover {
        cursor: pointer;
    }
    &:active {
        position: relative;
        top: 1px;
    }
    &.right {
        border-radius: 0 @button-border-radius @button-border-radius 0;
    }
}

input[type='submit'], button.submit {
    .button-colors(#fff, lighten(@orange, 5%), darken(@orange, 5%));
}

a.btn.invitation {
    .button-colors(#fff, lighten(@green, 10%), @green);
}

.jumbo.btn {
    font-size: 1.5em;
    line-height: 2em;
    padding: 0 0.5em;
}

p.call-to-action {
    text-align: center;
}
