/* Default styles for HTML elements */

.r {color: @red;}
.o {color: @orange;}
.y {color: @yellow;}
.g {color: @green;}
.b {color: @blue;}
.p {color: @purple;}

*[lang] {
    font-style: italic;
}

a {
    color: #024A68;
    &:hover {
        color: @blue;
    }
}

b a {
    text-decoration: none;
}

dfn {
  color: darken(@red, 25%);
  font-weight: bold;
}

h1, h2, h3 {
    font-weight: normal;
}

h1 {
    color: #024a68;
    font-size: 3em;
    line-height: 1;
    text-align: center;
}

p {
    line-height: 2 / @en-font-size;
}
