/* Default styles for HTML elements */

::selection {
    background: #FF7F50;
    color: #fff;
}

.r {color: @red;}
.o {color: @orange;}
.y {color: @yellow;}
.g {color: @green;}
.b {color: @blue;}
.p {color: @purple;}

[lang] {
    font-style: italic;
}

:lang(sa) {
    font-family: @iast-font-family;
}

.sa1 {
    font-family: @sa-font-family;
}

a {
    color: @link-color;
    &:hover {
        color: @link-hover-color;
    }

    &.block {
        display: block;
        border: 1px transparent solid;
        padding: 0;
        text-decoration: none;
        .transition(0.2s);

        h2 {
            color: #024a68;
        }
        p {
            color: @dark-gray;
        }

        &:hover {
            background: @off-white;
            border: 1px @light-gray solid;
            padding: 0 1em;
            margin-right: 1em;
        }
    }

    &.jumbo {
        display: block;
        text-align: center;
        font-size: 2em;
    }
}

b a {
    text-decoration: none;
}

dfn {
    color: darken(@red, 25%);
    font-weight: bold;
}

figure {
    margin: 1em 0;

    img, svg {
        display: block;
        margin: 1em auto;
    }
    figcaption {
        color: @gray;
        text-align: center;
    }
}

h1, h2, h3 {
    color: #000;
    font-weight: normal;
}

h1 {
    font-size: 2em;
    line-height: 1;
}

kbd, samp {
    background: #fff;
    border: 1px @light-gray solid;
    padding: 0.2em;
    .border-radius(0.2em);
}

li {
    line-height: @en-line-height;
}

mark {
    @bg: #f8f3ac;
    @border: #ffd022;
    background: @bg;
    border: 1px @border solid;
    border-radius: 2px;
    padding: 0 0.2em;
}

ol, ul, ul ul {
    margin: 1em 0;
}

p {
    line-height: @en-line-height;
    margin: 0 0 1em;
}