// Page-wide settings and elements

:root {
    --body-color: #222;
}

// Layout elements

html {
    font-family: Charter, Georgia, serif;
    font-size: 20px;
}

body {
    color: var(--body-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

article {
    flex: 1;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

footer {
    border-top: 3px #ccc double;
    background: #fafafa;
}

// Block elements

h1, h2 {
    font-weight: bold;
    // Workaround so the "also known as" lesson subtitle has no margin with the
    // heading
    margin-bottom: 0;
}

h2 {
    font-size: 1.25em;
}

h1 + * {
    // Restore default behavior by modifying next element.
    margin-top: 1.25rem;
}

h2 + * {
    // Restore default behavior by modifying next element.
    margin-top: 1rem;
}

hr {
    width: 50%;
    height: 2px;
    border: 0;
    background: #a00;
}

li, p {
    line-height: 1.6em;
}

li p {
    margin: 0.2em 0;
}

// Inline elements

a {
    color: #0435ca;
}

a:visited {
    color: #657bbd;
}

a:hover {
    color: #c00;
}

code {
    font-size: 0.8em;
}

dfn {
    font-style: normal;
    font-weight: bold;
}

mark {
    color: #b93434;
    background: transparent;
}

// Form elements

input[type=text] {
  border: 1px #dddddd solid;
  font: inherit;
}

input[type=submit] {
  font: inherit;
  border: 0;
  display: inline-block;
  border-radius: 5px;
  background: #999999;
  color: #ffffff;
}
