input[type=text] {
  border: 1px #dddddd solid;
  font: inherit;
}
input[type=submit] {
  font: inherit;
  border: 0;
  display: inline-block;
  border-radius: 5px;
  background: #999999;
  color: #ffffff;
}
