@field-border: #dddddd;

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

input[type=text], input[type=email], input[type=password], textarea {
    border: 1px @field-border solid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font: inherit;
    height: 3em;
    margin: 0 0 1em;
    padding: 0.5em;
    width: 100%;
}

input[type=text], input[type=email], input[type=password], textarea, select {
    .transition(0.3s);
    &:focus {
        outline: 0;
        border: 1px @orange solid;
        box-shadow: 0 0 3px @orange;
    }
}

input.form-error, textarea.form-error {
    border: 3px solid lighten(@red, 10%);
}

label {
    display: block;
    line-height: @en-line-height;
    margin: 1em 0;
}

legend {
    border-bottom: 1px @light-gray solid;
    font-size: 1.2em;
    line-height: 2em;
    margin: 0 0 1em;
    padding: 0;
    width: 100%;
}

select {
    background: #fff;
    border: 1px @field-border solid;
    font-size: inherit;
    height: 3em;
}

/* Basic query form */
form.query-form {
    @btn-height: 3em;
    margin: 0 0 1em;
    overflow: hidden;

    #q {
        display: block;
        float: left;
        margin: 0;
        width: 80%;
    }
    #submit, #settings-btn {
        display: block;
        float: left;
        height: @btn-height;
        line-height: @btn-height;
        margin: 0;
        width: 10%;
    }
    #settings-btn {
        @bg: desaturate(lighten(@blue, 30%), 80%);
        @size: 1.6em;
        .button-colors(#fff, @bg, darken(@bg, 10%));
        margin-left: 0.5%;
        font-size: @size;
        line-height: @btn-height / @size;
        height: @btn-height / @size;
        width: 9%;
    }
}