button, input[type=submit] {
    display: block;

    &.large {
        height: 3em;
        padding: 0 1em;
    }
}

input[type=text], input[type=email], input[type=password], textarea {
    border: 1px #ddd solid;
    box-sizing: border-box;
    font: inherit;
    margin: 0 0 1em;
    padding: 0 0.5em;
    width: 100%;

    &:focus {
        outline: 0;
        border: 1px @orange solid;
        box-shadow: 0 0 3px @orange;
        .transition(0.3s);
    }
}

input.form-error, textarea.form-error {
    border: 3px solid lighten(@red, 10%);
}

label {
    display: block;
    line-height: @en-line-height;
    margin: 0 0 1em;
}

select {
    background: #fff;
    border-color: @light-gray;
}
