@import "variables.less";

#guide {
    h2 {
        border-bottom: 1px #eee solid;
    }
}

.note, .rule, .warning {
    border: 1px solid;
    .border-radius(3px);
    padding: 0 1em;
    margin: 0 0 1em;
}

.note {
    background: @note-bg;
    border-color: @note-border-color;
}

.rule {
    background: #e7fabb;
    border-color: #d6f78b;
}

.warning {
    background: #ffe4e4;
    border-color: #ff9999;
}

.examples {
    background: @off-white;

    p.sa1 {
        font-size: 1.5em;
    }

    ul {
        list-style: none;
    }

    li {
        margin: 0 0 1em;
    }

    p {
        margin: 0;
    }
}

ul.sounds {
    list-style-type: none;
    margin: 1em 0;
    overflow: hidden;
    padding: 0;

    &.sounds-2 li {
        float: left;
        width: 50%;
    }
    &.sounds-3 li {
        float: left;
        width: 33%;
    }
    &.sounds-4 li {
        float: left;
        width: 25%;
    }
    &.sounds-5 li {
        float: left;
        width: 20%;
    }

    a {
        text-decoration: none;
    }

    li {
        text-align: center;
        width: 100%;
    }

    span.sounds-letter {
        font-size: 3em;
        line-height: 4/3em;
        display: block;
    }
}
