/* Basic page layout */

body {
    color: @dark-gray;
    font-family: @en-font-family;
    font-size: @en-font-size;
    margin: 0;
    padding: 3em 0 0;

    &#general {
        margin: 3em 10%;
    }
    &#tool {
        margin: auto;
        max-width: 960px;
        width: 90%;
    }
}

nav#top {
    #gradient.vertical(#102632, #000A16);
    .box-shadow(0px 3px 6px rgba(0,0,0,0.25));
    
    color: #fff;
    left: 0;
    line-height: 3;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    
    a {
        border: 0;
        color: #fff;
        text-decoration: none;

        &, &:hover {
            .transition(0.2s);
        }
        &:hover {
            background: @black;
            color: @yellow;
        }
        &.brand {
            color: #fff;
            font-size: 1.5em;
            float: left;
            line-height: 2;
            display: block;
            padding: 0 @en-font-size;
            text-shadow: 0px 0px 2px @gray;
        }
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            float: left;

            a {
                display: block;
                line-height: 3;
                padding: 0 @en-font-size;
            }
        }
        &.user-links {
            float: right;
        }
    }
}

header.masthead {
    h1 {
        font-size: 3em;
        margin: 0;
        text-align: center;
    }
}

article {
    &.narrow {
        margin: auto;
        min-width: 600px;
        width: 60%;
    }
}
