/* Basic page layout */

@nav-bg: lighten(#102632, 3%);
@nav-hover-bg: #B7410E;

body {
    color: @dark-gray;
    font-family: @en-font-family;
    font-size: @en-font-size;
    margin: 0;
    padding: 3em 0 0;

    &#general, &#guide, &#tools, &#site, &#settings {
        article {
            margin: 3em 10%;
            &.narrow {
                margin: 3em auto;
            }
        }
    }
    &#application {
        article {
            margin: auto;
            max-width: 960px;
            width: 90%;
        }
    }
}

#top {
    background: @nav-bg;
    .box-shadow(0px 3px 6px rgba(0,0,0,0.3));
    color: #fff;
    left: 0;
    line-height: 3;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;

    a {
        .transition(0.4s);

        color: #fff;
        outline: none;
        padding: 0 @en-font-size;
        text-decoration: none;

        &:hover, &.active:hover {
            background: @nav-hover-bg;
        }
        &.brand {
            font-size: 1.5em;
            line-height: 2;
            text-shadow: 0px 0px 2px @gray;
        }
    }
    a {
        display: block;
        line-height: 3;
    }
    li {
        float: left;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        &.secondary {
            float: right;
        }
    }
}

a#settings-link {
    @height: 3;
    @font-size: 1.6em;
    background: lighten(@nav-bg, 10%);
    font-size: @font-size;
    line-height: @height / @font-size;
    text-align: center;
}

// Active nav link
#guide #nav-guide, #lesson #nav-guide, #tools #nav-tools,
#application #nav-tools, #site #nav-site, #settings #nav-settings {
    background: darken(@nav-bg, 7%);
    border: 1px lighten(@nav-bg, 3%) solid;
    border-width: 0 1px;
}

header {
    text-align: center;
}

header.masthead {
    h1 {
        font-size: 3em;
        margin: 0;
    }
}

header.guide {
    h1 {
        font-size: 6em;
        margin: 0;
    }
}

header.unit {
    h1 {
        font-size: 4em;
        margin: 0;
    }
}

article {
    &.narrow {
        margin: auto;
        min-width: 600px;
        width: 60%;
    }
}

footer {
    background: @footer-background;
    border: 1px @light-gray solid;
    border-width: 1px 0 1px 0;
    clear: both;
    padding: 1em 3em 0;
    text-align: center;

    &.night {
        background: #23272b;
        border: 0;
        color: @gray;
        overflow: hidden;

        a {
            color: @white;
            text-decoration: none;
            text-shadow: 0px 0px 1px #aaa;

            &:hover {
                color: @yellow;
            }
        }
    }

    #to-top {
        &:before {
            content: "☽ ";
        }
        &:hover:before {
            content: "☼ ";
        }
    }
}
