@media screen and (max-width: 30em) {
	html {
		font-size: 16px;
	}
	h1 {
		font-size: 1.25em;
	}
	.examples .sa1 {
		// Smaller
		font-size: 1.25em;
	}
	.sounds .sa1 {
		// Smaller
		font-size: 2.25rem;
	}
}
