div.modal {
    background: #fff;
    bottom: 20%;
    left: 0;
    margin: 0 auto;
    max-width: 960px;
    right: 0;
    position: fixed;
    top: 10%;
    width: 90%;

    ul.tab-links {
        margin: 0;
        line-height: 3em;
    }
}

div.modal-head {
    h2 {
        margin: 0;
    }
}

div.modal-body {
    bottom: 1em;
    left: 1em;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 1em;
    position: absolute;
    right: 1em;
    top: 4em;
}

a.close {
    @bg: darken(@light-gray, 20%);
    @font-size: 1.2em;
    @size: 1.75em / @font-size;

    color: @bg;
    display: block;
    font-size: @font-size;
    height: @size;
    line-height: @size;
    position: absolute;
    text-align: center;
    right: 1em;
    top: 1em;
    width: @size;

    &:hover {
        color: #000;
        cursor: pointer;
    }
    &:active {
        position: absolute;
        top: 1.05em;
    }
}

#settings-modal {
    background: @light-gray;
    font-family: sans-serif;
    padding: 1em;

    blockquote {
        color: darken(@red, 10%);
    }

    dfn {
        color: inherit;
        font-style: normal;
    }

    label {
        border-bottom: 1px darken(@light-gray, 5%) solid;
        font-weight: bold;
    }

    div.modal-head {
        border-bottom: 1px darken(@light-gray, 10%) solid;
        height: 3em;
    }

    div.modal-body {
        background: #fff;
    }

    div.settings-desc {
        width: 60%;
        float: right;
    }
}