@import "tables.less";

/* Spotlight
 * ---------
 * Used with $.fn.spotlight
 */

#spotlight {
    background: #000;
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0.7;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2000;
}

.spotlighted {
    position: relative;
    z-index: 3000;
}

/* Tabs
 * ----
 * Used with $.fn.tabs
 */

ul.tab-links {
    @bc: darken(@light-gray, 10%);

    .clearfix;
    border-bottom: 1px @bc solid;
    list-style: none;
    padding: 0;

    &:after {
        clear: both;
        content: "";
        display: table;
        line-height: 0;
    }
    a {
        display: block;
        padding: 0.5em;
        text-decoration: none;
    }
    li {
        background: @off-white;
        border: 1px @bc solid;
        display: block;
        float: left;
        margin-bottom: -1px;

        &.active {
            background: #fff;
            border-bottom-color: transparent;
            a {
                color: @dark-gray;
                cursor: default;
            }
        }
        & + li {
            border-left: 0;
        }
    }
}

/* FAQ
 * ---
 */

dl.faq {
    @m: 3em;
    dt {
        @f: 1.2em;
        font-size: @f;
        font-style: italic;
        line-height: 2em / @f;
        margin-left: @m / @f;
        position: relative;

        &:before {
            content: "Q ";
            position: absolute;
            left: -1.5em;
            font-size: 1.5em / @f;
            font-weight: 700;
        }
    }
    dd {
        margin-left: @m;
    }
}

.inset, div.download {
    .border-radius(5px);

    background: @off-white;
    border: 1px @light-gray solid;
    box-sizing: border-box;
    padding: 1em;
}
