section.unit {
    a {
        text-decoration: none;
    }
    li {
        display: block;
        font-size: 1.2em;
        line-height: 2em/1.2em;

        &:before {
            content: counter(item) "  ";
            counter-increment: item;
            display: block;
            float: left;
            padding-right: 1em;
            width: 1em;
        }
    }
    ol {
        counter-reset: item;
        list-style-type: none;
    }
}

ul.examples {
    background: @off-white;
    border: 1px @light-gray solid;
    border-left: 0;
    border-right: 0;
    list-style: none;
    margin: 0 -@two-column-article-padding;
    padding: 0 @two-column-article-padding;

    .sa1 {
        font-size: 1.5em;
    }
    cite:before {
        content: "— ";
    }
    li {
        margin-bottom: 1em;
    }
    mark {
        background: transparent;
        color: darken(@red, 15%);
    }
    p {
        margin: 0;

        &.cite {
            color: @gray;
        }
    }
}

ul.letters {
    list-style: none;
    overflow: hidden;
    padding: 0;
    width: 100%;

    li {
        float: left;
        width: 100%;
    }
    span {
        display: block;
        text-align: center;

        &.sa2 {
            font-size: 2em;
        }
    }
    &.grid-2 li {
        width: 50%;
    }
    &.grid-3 li {
        width: 33.333%;
    }
    &.grid-4 li {
        width: 25%;
    }
    &.grid-5 li {
        width: 20%;
    }
    &.grid-6 li {
        width: 16.666%;
    }
}
