// Paradigm charts
.paradigm {
    background: #f7f7f7;
}
.paradigm .sa1 {
    font-size: 1.5em;
}
.paradigm th {
    padding: 1em 0;
    color: rgba(0,0,0,0.5);
    font-weight: normal;
}
.paradigm td {
    padding: 0.5em;
}
.paradigm .s {
    color: #b93434;
}
