@sidebar-background: #e7e4df;
@sidebar-width: 30%;

body#guide {
    #content, footer {
        margin-left: @sidebar-width;
    }

    article {
        padding: @sidebar-article-padding;
    }

    h1 {
        font-size: 3em;
        margin-top: 0;
        text-align: center;
    }
}

#sidebar {
    background: @sidebar-background;
    overflow-y: scroll;
    position: absolute;
        top: 3em;
        left: 0;
        bottom: -3em;
    width: @sidebar-width;

    &.pinned {
        border: 0;
        position: fixed;
            top: 0;
            bottom: 0;
    }
}

@nav-padding: 1em;
@unit-padding: 1em;

#nav-pane {
    h2 {
        padding-left: @nav-padding;
    }
    a, span.wrap {
        .transition(0.2s);
        color: darken(@sidebar-background, 65%);
    }
    a {
        display: block;
        text-decoration: none;
    }
    span.wrap {
        border-bottom: 1px solid transparent;
    }

    a:hover, a:hover span.wrap {
        @c: darken(@blue, 10%);
        border-color: @c;
        color: @c;
    }
}

ol.unit-nav {
    @total-pad: @nav-padding + @unit-padding;
    font-family: "Arial";
    list-style: none;
    padding: 0 0 0 @total-pad;

    a {
        font-size: 0.9em;
        line-height: 2em;
        position: relative;

        &:before {
            content: "-";
            position: absolute;
            left: -10px;
        }
    }
    li.active {
        @bg: darken(@sidebar-background, 5%);
        background: @bg;
        border: 1px darken(@bg, 5%) solid;
        border-width: 1px 0;
        margin: 0 0 0 -@total-pad;
        padding: 0 0 0 @total-pad;
    }
    ul.headings {
        font-size: 0.9em;
        margin: 0;
        padding: 0 0 0 1.2em;

        a:before {
            content: "";
        }
    }
}
