body {
    &#two-column {
        background: @body-background;
    }
}

#two-column {
    #content {
        float: left;
        margin-right: -@sidebar-width;
        width: 100%;
    }

    article {
        @border-color: darken(@body-background, 10%);
        background: #fff;
        border-right: @sidebar-border-width @border-color solid;
        margin: 0 @sidebar-width 0 0;
        padding: @two-column-article-padding;
    }
    h1 {
        margin-top: 0;
    }
}

#sidebar {
    background: @body-background;
    float: left;
    width: @sidebar-width - @sidebar-border-width;

    section {
        padding: 20px;

        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
