/* Displays a grid of sounds. No audio yet. */

.sounds {
    list-style: none;
    padding: 0;
    margin: 2em 0;
    display: flex;
}
.sa-iso {
    // Need to use because Charter has poor support for rings.
    font-family: sans-serif;
}

.sounds li {
    text-align: center;
    flex: 1;
}

.sounds .sa1 {
    font-size: 3rem;
}
.sounds .sa2 {
    font-size: 1.25rem;
}
.sth-1 { color: #c00; }
.sth-2 { color: #ec9e05; }
.sth-3 { color: #5bb310; }
.sth-4 { color: #007cff; }
.sth-5 { color: #8359a7; } 
