table {
    border-collapse: collapse;
}

/* Table with <th> only along the columns */
table.columns {
    border: 1px @light-gray solid;
    caption-side: bottom;
    margin: 1em 0;
    table-layout: fixed;
    width: 100%;

    caption, td, th {
        line-height: @en-line-height;
    }
    caption {
        color: @gray;
    }
    td, th {
        text-align: center;
    }
    th {
        font-size: 1.1em;
    }
}

table.paradigm {
    margin-bottom: 1em;
    border-spacing: 3px;
    border-collapse: separate;
    width: 100%;

    caption {
        font-size: 1.5em;
    }
    span.sa1 {
        font-size: 2em;
    }
    tr {
        height: 5em;
    }
    td {
        border-radius: 20px;
        text-align: center;
        width: 25%;
    }
    th.stem {
        font-size: 2em;
    }

    td.s {
        border: 5px #000 solid;
    }
    td.c1 {
        background: #ff6f69;
    }
    td.c2 {
        background: #ffeead;
    }
    td.c3 {
        background: #96ceb4;
    }
    td.c4 {
        background: #ffcc5c;
    }
    td.c5 {
        background: #aad880;
    }
    td.c6 {
        background: #0bf;  // TODO
    }
    td.c7 {
    }
}

// Alternately colored rows
table.zebra {
    tr:nth-child(2n) {
        background: @off-white;
    }
}
