table {
    border-collapse: collapse;
}

/* Table with <th> only along the columns */
table.columns {
    border: 1px @light-gray solid;
    caption-side: bottom;
    margin: 1em 0;
    table-layout: fixed;
    width: 100%;

    caption, td, th {
        line-height: @en-line-height;
    }
    caption {
        color: @gray;
    }
    td, th {
        text-align: center;
    }
    th {
        font-size: 1.1em;
    }
}

table.paradigm {
    margin-bottom: 1em;
    width: 100%;

    caption {
        font-size: 1.5em;
    }
    td {
        text-align: center;
        width: 25%;
    }
    th.stem {
        font-size: 2em;
    }
}

// Alternately colored rows
table.zebra {
    tr:nth-child(2n) {
        background: @off-white;
    }
}