// Colors
// ------------------------------------
@red:        #ff0000;
@orange:     #ff7700;
@yellow:     #ffcc00;
@green:      #378337;
@blue:       #0066bb;
@purple:     #67349f;
@pink:       #bf1174;

@white:	     #ffffff;
@off-white:  #f7f7f7;
@light-gray: #eeeeee;
@gray:       #999999;
@dark-gray:  #222222;
@black:      #000000;

// Layout
// ------------------------------------
@body-background: #e7e7df;

@sidebar-width: 450px;
@sidebar-border-width: 1px;

@two-column-article-padding: 3em;

@grid-columns: 12;
@grid-column-width: 200% / 35;
@grid-gutter-width: 100% / 35;
@grid-row-width: 100%;

// Typography
// ------------------------------------
@en-font-family:   Georgia,Utopia,Palatino,'Palatino Linotype',serif;
@sa-font-family:   "Sanskrit 2003", sans-serif;
@iast-font-family: Gentium, sans-serif;
@mono-font-family: Menlo, Monaco, Consolas, "Courier New", monospace;

@en-font-size: 1.1em;
