{% extends 'base-grammar.html' %}

{% block title %}Derived Verbs{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/verbs">Verbs</a> »</li>
<li>Derived Verbs</li>
</ul>
{% endblock %}

{% block content %}

<h1>Derived Verbs</h1>
<p>As we learned at the beginning of Starting Out, there are four simple verb classes. Of these four, we have only studied three. Here, we will study the fourth: the <dfn lang="sa">-aya</dfn> class. Unlike the other verb classes, the <span lang="sa">-aya</span> verb classes often use strengthened roots — or even verb stems — where roots from other classes would use weak roots. Why is this so? Part of the reason is that the <span lang="sa">-aya</span> class is most commonly used by <dfn>derived</dfn> verbs, which are formed from verbs (and nouns) that we've seen already. Although it is convenient to treat the <span lang="sa">-aya</span> class as a verb class like the others, its nature and behavior is ultimately quite different.</p>
<p>In this chapter, we will study two derived verb forms. We will also study the use of <dfn>noun prefixes</dfn>, which is related to one of our derived verb forms.</p>
{% endblock %}

