{% extends 'base-grammar.html' %}

{% block title %}Three-Stem Nouns{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/nouns">Nouns</a> »</li>
<li><a href="/nouns/consonant">Consonant Stems</a> »</li>
<li>Three-Stem Nouns</li>
</ul>
{% endblock %}

{% block content %}

<h1>Three-Stem Nouns</h1>
<h2>Introduction</h2>
<p>We have just studied two sorts of consonant nouns: those that have one stem and those that have two. Here, we will study the one type of noun that has <em>three</em> different stems: the <dfn lang="sa">-an</dfn> nouns.</p>
<p>The <span lang="sa">-an</span> nouns behave almost identically to the two-stem consonant nouns. The only difference is that it occasionally uses a <dfn>middle stem</dfn>. Compare the <span lang="sa">-an</span> stem to the stems we've studied already:</p>
<table class="blue" lang="sa">
<tr lang="en"><th>Endings</th><th>Strong Stem</th><th>Middle Stem</th><th>Weak Stem</th><th>Special Stem</th></tr>
<tr><th class="g">-at, -mat, -vat</th><td>-ant, -mant, -vant</td><td>—</td><td>-at, -mat, -vat</td><td>???, -mān, -vān</td></tr>
<tr><th class="g">-in, -min, -vin</th><td>-in, -min, -vin</td><td>—</td><td>-i, -mi, -vi</td><td>-ī, -mī, -vī</td></tr>
<tr><th class="g">-an, -man, -van</th><td>-ān, -mān, -vān</td><td>-an, -man, -van</td><td>-a, -ma, -va</td><td>-ā, -mā, -vā</td></tr>
</table>
<h2><span lang="sa">-an, -man, -van</span></h2>
<p>The three suffixes <dfn lang="sa">-an</dfn>, <dfn lang="sa">-man</dfn>, and <dfn lang="sa">van</dfn> are all <a href="/start/words/primary"><strong>primary</strong> suffixes</a>, and they don't generally have any strong meaning or pattern. <span lang="sa">-man</span>, however, tends to form neuter nouns that express abstract principles of existence (like <span lang="sa">karman</span>, which gives us the English <a href="http://en.wikipedia.org/wiki/Karma">karma</a>), and the others tend to be masculine and concrete.</p>
<p>These suffixes sometimes cause some minor changes in the root. <span lang="sa">-man</span> tends to strengthen the root vowel to the medium level. <span lang="sa">-van</span> becomes <span lang="sa">-tvan</span> after roots that end in short vowels other than <span lang="sa">-a</span>.</p>
<ul class="examples">
<li><p class="dev">राज् → राजन्</p>
<p lang="sa">rāj → rājan</p>
<p>rule, govern → king (masculine, concrete)</p></li>
<li><p class="dev">कृ → कर्मन्</p>
<p lang="sa">kṛ → karman</p>
<p>do, make → action, karma (neuter, abstract)</p></li>
<li><p class="dev">कृ → कृत्वन्</p>
<p lang="sa">kṛ → kṛtvan</p>
<p>do, make → causing, bringing about; active, busy (adjective)</p></li>
</ul>
<h2>Using the stems</h2>
<p>The strong stem is used normally. The middle stem is used in front of vowel endings, and the weak stem is used in front of consonant endings.</p>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/d-an.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/d-an.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div>
<p>Note that the neuter gender has two different forms in the dual number. One is a contraction of the other, and both are common.</p>
<h3>The "special stem"</h3>
<p>Again, notice the special stem here. It is used as described for the <span lang="sa">-mat</span> and <span lang="sa">-vat</span> nouns: in the <strong>masculine case 1 singular</strong> and <strong>nowhere else</strong>.</p>
<h2>Contraction</h2>
<p>The <span lang="sa">-an</span>, <span lang="sa">-man</span>, and <span lang="sa">-van</span> suffixes sometimes undergo a sort of <strong>contraction</strong> in their middle stem. Because of this contraction, the ending of the middle stem changes from <span lang="sa">an</span> to <span lang="sa">n</span>. But if the letter before the <em>uncontracted</em> suffix is a <strong>nasal or semivowel</strong>, no contraction occurs; contraction occurs to make things easier to say, and it should not occur if it makes pronunciation more difficult.</p>
<p>Note that these two small sandhi changes will occur:</p>
<p class="rule box"><span lang="sa">cn</span> becomes <span lang="sa">cñ</span>. <span lang="sa">jn</span> becomes <span lang="sa">jñ</span>.</p>
<ul class="examples">
<li><p class="dev">राजनि → राज्ञि</p>
<p lang="sa">rājani → rājñi</p>
<p>In the king</p>
<li><p class="dev">आत्मनि → आत्मनि</p>
<p lang="sa">ātmani → ātmani</p>
<p>In the self</p>
<li><p class="dev">अथर्वनि → अथर्वनि</p>
<p lang="sa">atharvani → atharvani</p>
<p>In the <span lang="sa">atharvan</span></p>
</li></li></li></ul>
<h2>What about feminine nouns?</h2>
<p>For all of these multiple-stem suffixes, feminine nouns are made by adding <span lang="sa">ī</span> to the weakest stem that still ends in a consonant.</p>
<dl class="blue" lang="sa">
<dt class="title" lang="en">Suffix</dt><dd class="title" lang="en">Feminine Version</dd>
<dt>-at, -mat, -vat</dt><dd>-atī, -matī, -vatī</dd>
<dt>-in, -min, -vin</dt><dd>-inī, -minī, -vinī</dd>
<dt>-tṛ</dt><dd>-trī</dd>
<dt>-an, -man, -van</dt><dd>-anī, -manī, -vanī</dd>
</dl>
<p> The result behaves just like <span lang="sa">vāpī</span>, and it uses only one stem. Note, however, that the <span lang="sa">an</span> group rarely forms feminine nouns. The feminine versions of the <span lang="sa">an</span> suffixes are sometimes unpredictable, and occasionally they may be exactly the same as the masculine versions.</p>
{% endblock %}

