{% extends 'base-grammar.html' %}

{% block title %}Exercises: One to One Hundred{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/ends">Odds and Ends</a> »</li>
<li><a href="/ends/numbers">Numbers</a> »</li>
<li>Exercises: One to One Hundred</li>
</ul>
{% endblock %}

{% block content %}

<h1>Exercises: One to One Hundred</h1>
<h2>Vocabulary</h2>
<dl class="vocab">
<dt>एक</dt><dd>num</dd><dd>one</dd>
<dd><dl>
<dt>अनेक</dt><dd>mfn</dd><dd>"not one" ; many, a multitude</dd>
<dt>एकैक</dt><dd>mfn</dd><dd>one by one, singly; every single one</dd>
</dl></dd>
<dt>द्वि</dt><dd>num</dd><dd>two</dd>
<dd><dl>
<dt>द्विता</dt><dd>f</dd><dd>"two-ness," duality</dd>
<dd><dl>
<dt>द्वैत</dt><dd>n</dd><dd>the dualistic; <a href="http://en.wikipedia.org/wiki/Dvaita">dualistic philosophy</a></dd>
<dd><dl>
<dt>अद्वैत</dt><dd>n</dd><dd>the non-dualistic: <a href="http://en.wikipedia.org/wiki/Advaita">non-dualistic philosophy</a></dd>
</dl></dd>
</dl>
<dt>द्वन्द्व</dt><dd>n</dd><dd>pair, couple; the <a href="/start/words/dvandva">dvandva</a> compound</dd>
<dd class="desc">This word is formed irregularly.</dd>
</dd></dl></dd>
<dt>शत</dt><dd>num</dd><dd>one hundred (100)</dd>
<dd><dl>
<dt>शतक</dt><dd>mfn</dd><dd>a collection or group of 100 things (especially poems)</dd>
</dl></dd>
</dl>
<h2>Translation</h2>
<p>Translate from Sanskrit to English. For the second exercise, note the following:
<ul>
<li>the presence of <span lang="sa">aṣṭau</span>, which is an alternate version of <span lang="sa">aṣṭa</span></li>
<li>The numbers that end in <span lang="sa">i</span> are followed by the <span lang="sa">visarga</span>.</li>
<li><span lang="sa">ekona-</span> means "one less than," as in <span lang="sa">ekonaviṃśati</span> ("one less than twenty," i.e. "nineteen (19)")</li>
<li>The word <span lang="sa">adhika</span> is used here to show the idea of "in addition to."</li>
<ul class="dev exercises">
<li>शतकत्रयम्</li>
<li>आदित्या द्वादश । विश्वेदेवा दश । वसवोऽष्टौ । तुषिताः षट्त्रिंशत् । आभास्वराः चतुःषष्टिः । अनिला एकोनपञ्चाशत् । महाराजिकाः विंशत्यधिकशतद्वयम् । साध्या द्वादश । रुद्रा एकादश । एता गणदेवताः ।</li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>
<p>Translate from English to Sanskrit. The numbers below are written with numerals, but your translation should be in regular Sanskrit letters; that is, translate a number like <span lang="sa">1</span> as <span lang="sa">eka</span>, not as <span class="big">१</span>. Leave the numbers in their stem forms.</p>
<ul class="drill exercises">
<li>thirteen (13)</li>
<li>forty-seven (47)</li>
<li>eighty-two (82)</li>
<li>ninety-one (91)</li>
<li>ninety-six (96)</li>
<li>one hundred eight (108)</li>
</ul>
<h2>Answers</h2>
<h3>Translation</h3>
<ul class="exercises">
<li>three collections of 100 (poems) <cite>(name of a poetic collection by <a href="http://en.wikipedia.org/wiki/Bhartṛhari">Bhartṛhari</a>)</cite></li>
<li>The Adityas are twelve (12). The All-gods are ten (10). The Vasus are eight (8). The Tushitas are thirty-six (36). The Abhasvaras are sixty-four (64). The Anilas are one less than fifty (49). The Maharajikas are twenty more than two hundred (220). The Sadhyas are twelve (12). These are the classes of gods. <cite>Amarakośa, Maheśvara commentary on 1.10</cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
</ul>
<ul class="dev drill exercises">
<li>त्रयोदश</li>
<li>सप्तचत्वारिंशत्</li>
<li>द्व्यशीति</li>
<li>एकनवति</li>
<li>षड्णवति</li>
<li>अष्टाशत</li>
</ul></ul></p>
{% endblock %}

