{% extends 'base-grammar.html' %}

{% block title %}Exercises: Case 8{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/start">Starting Out</a> »</li>
<li><a href="/start/nouns">Noun Basics</a> »</li>
<li>Exercises: Case 8</li>
</ul>
{% endblock %}

{% block content %}

<h1>Exercises: Case 8</h1>
<h2>Vocabulary</h2>
<p>The exclamations that were mentioned in the lesson are part of a larger class of words that we will study later on.</p>
<dl class="vocab">
<dt>हे<div lang="sa">he</div></dt><dd>???<dd>Hey! Hello!</dd>
<dt>अहो<div lang="sa">aho</div></dt><dd>???<dd>Oh! Alas!</dd>
<dt>बत<div lang="sa">bata</div></dt><dd>???<dd>Oh! Alas!</dd>
</dd></dd></dd></dl>
<p>Case 8 is quite simple, so you should not need any practice with it. However, we can still practice with Devanagari.</p>
<h2>Devanagari</h2>
<p>Write the sentences below in IAST.</p>
<ul class="drill exercises" lang="sa">
<li><p class="dev">विषया विनिवर्तन्ते</p></li>
<li><p class="dev">रामः सीतां विन्दति</p></li>
<li><p class="dev">भवान् भिष्मश्च कर्णश्च</p>
<p lang="en">Note the new conjunct here. <span class="dev">श्च</span> = <span lang="sa">śca</span>.</p></li>
<li><p class="dev">द्रुपदो द्रौपदेयश्च</p></li>
<li><p class="dev">चरणपद्मौ नमामि विष्णो</p></li>
<li><p class="dev">शं नो मित्रः शं वरुणः । शं नो भवत्वर्यमा</p></li>
<li><p class="dev">शं नो विष्णुरुरुक्रमः</p></li>
<li><p class="dev">नमस्ते वयो । त्वमेव प्रत्यक्षमसि</p></li>
<li><p class="dev">सत्यं वदिष्यामि</p></li>
<li><p class="dev">ॐ शान्तिः शान्तिः शान्तिः</p></li>
</ul>
<h2>Answers</h2>
<h3>Devanagari</h3>
<p>As before, English meanings are provided for your curiosity.</p>
<ul class="drill exercises" lang="sa">
<li><p>viṣayā vinivartante</p>
<p lang="en">The objects of the senses turn away.</p></li>
<li><p>rāmaḥ sītāṃ vindati</p>
<p lang="en">Rama finds Sita.</p></li>
<li><p>bhavān bhiṣmaśca karṇaśca</p>
<p lang="en">Yourself, and Bhishma and Karna</p></li>
<li><p>drupado draupadeyaśca</p>
<p lang="en">Drupada and the sons of Drupada</p></li>
<li><p>caraṇapadmau namāmi viṣṇo</p>
<p lang="en">I worship your lotus feet, O Vishnu!</p></li>
<li><p>śaṃ no mitraḥ śaṃ varuṇaḥ । śaṃ no bhavatvaryamā</p>
<p lang="en">May Mitra bless us, and Varuna. May Aryaman as well.</p></li>
<li><p>śaṃ no viṣṇururukramaḥ</p>
<p lang="en">May Vishnu of wide steps bless us.</p></li>
<li><p>namaste vayo । tvameva pratyakṣam asi</p>
<p lang="en">Salutations to you, Vayu! You yourself are visible.</p></li>
<li><p>satyaṃ vadiṣyāmi</p>
<p lang="en">I will speak what is true.</p></li>
<li><p>oṃ śāntiḥ śāntiḥ śāntiḥ</p>
<p lang="en">OM. Peace, peace, peace!</p></li>
</ul>

{% endblock %}

