{% extends 'base-grammar.html' %}

{% block title %}-ṛ Nouns{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/verbs">Verbs</a> »</li>
<li><a href="/verbs/nouns">Vowel Nouns, Part 2</a> »</li>
<li>-ṛ Nouns</li>
</ul>
{% endblock %}

{% block content %}

<h1><span lang="sa">-ṛ</span> Nouns</h1>
<p>In the previous unit, we studied the two-stem nouns, which use two distinct stems in their various forms. One of those two-stems nouns was formed with the <span lang="sa">-tṛ</span> suffix, but we only studied a few of that suffix's forms. Here, we will study the rest. We will also study some words that end in <span lang="sa">-ṛ</span> that were not formed with the <span lang="sa">-tṛ</span> suffix.

<h2><span lang="sa">-tṛ</span></h2>
<p>The <dfn lang="sa">tṛ</dfn> suffix defines the <strong>agent</strong> or <strong>doer</strong> of some action. As mentioned in an earlier lesson, this <strong>primary</strong> suffix is related to the English suffix "-er," as in "hunter" or "overseer." Almost all nouns that end in <span lang="sa">-ṛ</span> are formed using the <span lang="sa">-tṛ</span> suffix.</p>
<ul class="examples">
<li><p class="dev">कृ → कर्तृ</p>
<p lang="sa">kṛ → kartṛ</p>
<p>do, make → doer, maker</p>
</li>
<li><p class="dev">गम् → गन्तृ</p>
<p lang="sa">gam → gantṛ</p>
<p>go → goer</p>
</li>
<li><p class="dev">हन् → हन्तृ</p>
<p lang="sa">han → hantṛ</p>
<p>kill → killer</p>
</li>
</ul>
<p>To attach the suffix to the verb root, we change the root in the same way as we did for the <abbr>FPP</abbr>. Here is a modified version of the rules for the <abbr>FPP</abbr>:</p>
<blockquote>
<p>The root is strengthened to the medium level. Either <span lang="sa">tṛ</span> or <span lang="sa">itṛ</span> is added to the end; but, the following roots always use <span lang="sa">tṛ</span>:</p>
<ul>
<li lang="sa">gam
<li lang="sa">han
<li>roots ending in <span lang="sa">ṛ</span> (but <strong>not</strong> <span lang="sa">ṝ</span>)</li>
</li></li></ul>
</blockquote>
<h2>Inflection</h2>
<p>The strong and weak stems are as follows:</p>
<table class="blue" lang="sa">
<tr lang="en"><th>Endings</th><th>Strong Stem</th><th>Weak Stem</th><th>Special Stem</th></tr>
<tr><th class="g">-tṛ</th><td>-tār</td><td>-tṛ</td><td>-tā</td></tr>
</table>
<p>Since the <span lang="sa">tṛ</span> suffix was originally <span lang="sa">tar</span>, some of the forms below follow the pattern of consonant stems. But since the <span lang="sa">tṛ</span> suffix itself ends in a vowel, some forms also follow the pattern of vowel stems.</p>
{% include 'include/charts/d-r-m.html' %}
<p>The singular forms behave like consonant stems, but note the differences in cases 5 through 7. The dual forms follow the pattern of the consonant stems. The plural forms follow the pattern of the consonant stems, but cases 2 and 6 both follow the pattern of the vowel stems.</p>
<h3>Feminine Endings</h3>
<p>Feminine forms use the suffix <dfn lang="sa">trī</dfn> and follow the pattern of nouns like <span lang="sa">vāpī</span>.</p>
<h2>Family Relations</h2>
<p>Sanskrit has several words used to describe relationships between people. Of these words, the most common end in <span lang="sa">-ṛ</span>; they are listed below. Just for fun, try to guess the English meaning based on the Sanskrit word.</p>
<dl class="vocab">
<dt>पितृ</dt><dd>m</dd><dd>father</dd>
<dt>मातृ</dt><dd>f</dd><dd>mother</dd>
<dt>भ्रातृ</dt><dd>m</dd><dd>brother</dd>
<dt>स्वसृ</dt><dd>f</dd><dd>sister</dd>
</dl>
<p>These nouns are all very old, and they are also a bit irregular:</p>
<ul>
<li><p>For the feminine nouns <span lang="sa">mātṛ</span> and <span lang="sa">svasṛ</span>, the case 2 plural is <span lang="sa">-ṝs</span> instead of <span lang="sa">-ṝn</span>.</p></li>
<li><p>The strong stem is <span lang="sa">-ar</span>, not  <span lang="sa">-ār</span>. But, the strong stem of <span lang="sa">svasṛ</span> is <span lang="sa">svasār</span>.</p></li>
</ul>
<p class="ling box">The irregularity in <span lang="sa">svasṛ</span> is probably due to <a href="http://en.wikipedia.org/wiki/Brugmann's_law">Brugmann's law</a>.</p></p>
{% endblock %}

