@import "../../../static/css/lib.less";

/* Shared data
 * ~~~~~~~~~~~ */

/* Block links */
ul.text-list a, a.page-link, ul.dropdown-menu a, ul.page-links a {
    display: block;
    text-decoration: none;
}

/* Transitions */
a.page-link, ul.text-list li {
    .transition(0.2s);
}


/* Text index
 * ~~~~~~~~~~ */

section.text {
    margin-bottom: 1em;

    &:hover {
        background: @off-white
    }
    h2 {
        margin: 0;
    }
}

ul.text-list {
    list-style: none;
    padding: 0 1em;

    li {
        &:hover {
            @c: @link-color;
            background: @c;
            border-radius: 3px;
            border: darken(@c, 10%) solid;
            border-width: 0 0.5em;
            padding-left: 0.5em;

            a {
                color: #fff;
            }
        }
    }

    cite {
        color: @gray;
        font-size: 0.9em;
    }
}


/* Title pages
 * ~~~~~~~~~~~ */

ul.page-links {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 1em 0;

    li {
        background: @off-white;
        border: 1px darken(@light-gray, 5%) solid;
        box-sizing: border-box;
        float: left;
        line-height: 3em;
        min-width: 5% !important;

        &:nth-child(odd) {
            background: @light-gray;
        }

        &:hover {
            background: @link-color;
        }
    }
}


/* Segment pages
 * ~~~~~~~~~~~~~ */

@gutter: 3em;
@panel-height: 4em;
section.segment {
    position: relative;
}

div.primary {

}

div.translations {
    padding: 0 0 0 3em;
}

div.translation {
    .transition(background 0.2s);

    border-left: 5px @light-gray solid;
    padding-left: 1em;

    &.hi {
        background: @light-gray;
    }
}

a.jump {
    color: lighten(@gray, 25%);
    font-size: 2em;
    font-weight: bold;
    position: absolute;
    left: -1em;
    text-decoration: none;

    &:hover {
        color: @link-hover-color;
        text-decoration: underline;
    }
}

div#segment-view {
    position: fixed;
    top: 3em;
    bottom: @panel-height;
    left: 0;
    right: 0;

    overflow: auto;
    padding: 1em @gutter;
}

#text-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    background: @off-white;
    border-top: 1px @light-gray solid;
    height: @panel-height;
}

#child-links, #page-links {
    height: @panel-height;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;

    li {
        float: left;
    }
}

#child-links {
    left: 1em;

    li.dropdown {
        line-height: @panel-height;
    }
}

#page-links {
    right: 0;
}

a.dropdown-toggle, a.page-link {
    display: block;
    height: @panel-height;
    padding: 0 0.5em;
}

a.child-link {
    border: transparent solid;
    border-width: 1px 0;

    &.active {
        background: #f9f5d0;
    }

    cite {
        color: @gray;
        font-size: 0.9em;
    }
}

a.page-link {
    @f: 2em;
    font-size: @f;
    border-left: 1px darken(@light-gray, 10%) solid;
    float: left;
    text-align: center;
    line-height: @panel-height / @f;
    width: 1.5em;
}

/* Dropdown menus
 * ~~~~~~~~~~~~~~ */
li.dropdown {
    position: relative;
}

a.dropdown-toggle {
    &.active {
    }
}

ul.dropdown-menu {
    position: absolute;
    bottom: @panel-height - 1em;

    background: #fff;
    border: 2px @light-gray solid;
    border-bottom: 0;
    list-style: none;
    min-width: 300px;
    padding: 0;

    a {
        color: @dark-gray;
        padding: 0.5em 1em;

        &:hover {
            color: #fff;
            background: @link-color;
        }
    }

    li {
        float: none !important;
    }
}
