{% extends 'base-grammar.html' %}

{% block title %}Case 3: "with"{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/nouns">Nouns</a> »</li>
<li><a href="/nouns/ppp">The PPP</a> »</li>
<li>Case 3: "with"</li>
</ul>
{% endblock %}

{% block content %}

<h1>Case 3: "with"</h1>
<p class="alternatives">Also known as: instrumental case, <span lang="sa">tṛtīyā vibhakti</span> ("third case")</p>
<p>We have already learned that case 3 means about the same thing as the English word "with," but we haven't learned exactly what it describes. In this lesson, we will take a closer look at how case 3 is used.</p>
<h2>Introduction</h2>
<p>Case 3 captures the idea of the English word "with," in two senses of the word "with." The two senses are:
<ul>
<li><strong>means</strong>, as in "I hit the coconut with my hammer" and</li>
<li><strong>accompaniment</strong>, as in "I hit the coconut with my friend."</li>
</ul>
<p>Don't forget these two distinct meanings. (Otherwise, your friend might have something to say about it!) But if you're concerned that you might, take a look at the two example sentences below. Together, these sentences emphasize the twin meanings of case 3.</p>
<ul class="examples">
<li><p class="dev"><strong>गजेन</strong> गच्छामि</p>
<p lang="sa"><strong>gajena</strong> gacchāmi</p>
<p>I go <strong>by means of (with) the elephant</strong></p>
</li>
<li><p class="dev"><strong>गजेन</strong> गच्छामि</p>
<p lang="sa"><strong>gajena</strong> gacchāmi</p>
<p>I go <strong>alongside (with) the elephant</strong></p>
</li>
</ul>
<p>As you can see, the two sentences can have different interpretations. The first meaning is more common. If we want to emphasize the second meaning, we can use some special uninflected words, which are mentioned further below.</p>
<h2>Inflection</h2>
<p>The case 3 endings are identical for masculine and neuter nouns.</p>
<table class="inflection">
<caption><span lang="sa">-a</span> (masculine)</caption>
<tr><th class="stem">गज</th>
<th>Singular</th>
<th>Dual</th>
<th>Plural</th>
</tr><tr><th>Case 1 (subject)</th>
<td>गजः<div>gajaḥ</div></td>
<td class="c1">गजौ<div>gajau</div></td>
<td>गजाः<div>gajāḥ</div></td>
</tr><tr><th>Case 2 (object)</th>
<td>गजम्<div>gajam</div></td>
<td class="c1">गजौ<div>gajau</div></td>
<td>गजान्<div>gajān</div></td>
</tr><tr><th>Case 3 ("with")</th>
<td>गजेन<div>gajena</div></td>
<td>गजाभ्याम्<div>gajābhyām</div></td>
<td>गजैः<div>gajaiḥ</div></td>
</tr><tr><th>Case 4 ("for")</th>
<td>गजाय<div>gajāya</div></td>
<td></td><td></td>
</tr><tr><th>Case 5 ("from")</th>
<td>गजात्<div>gajāt</div></td>
<td></td><td></td>
</tr><tr><th>Case 6 ("of")</th>
<td>गजस्य<div>gajasya</div></td>
<td>गजयोः<div>gajayoḥ</div></td>
<td>गजानाम्<div>gajānām</div></td>
</tr><tr><th>Case 7 ("in")</th>
<td>गजे<div>gaje</div></td>
<td></td><td></td>
</tr><tr><th>Case 8 (address)</th>
<td>गज<div>gaja</div></td>
<td class="c1">गजौ<div>gajau</div></td>
<td class="c3">गजाः<div>gajāḥ</div></td>
</tr>
</table>
<p>The <span lang="sa">-ena</span> ending, just like the plural of case 6, can change to a retroflexed <span lang="sa">-eṇa</span> in <a href="/start/nouns/case6#internal">certain circumstances</a>.</p>
<h2><span lang="sa">saha</span> and <span lang="sa">vinā</span></h2>
<p><dfn lang="sa">saha</dfn> and <dfn lang="sa">vinā</dfn> are uninflected words that reinforce the "accompany" meaning of case 3. <span lang="sa">saha</span> emphasizes that the case 1 noun acts <strong>alongside</strong> the case 3 noun. But <span lang="sa">vinā</span> changes the meaning of case 3 and shows that the case 1 noun acts <strong>without</strong> the case 3 noun.</p>
<ul class="examples">
<li><p class="dev">अहं गजेन <strong>सह</strong> गच्छामि</p>
<p lang="sa">ahaṃ gajena <strong>saha</strong> gacchāmi</p>
<p>I go <strong>alongside</strong> the elephant.</p></li>
<li><p class="dev">अहं गजेन <strong>विना</strong> गच्छामि</p>
<p lang="sa">ahaṃ gajena <strong>vinā</strong> gacchāmi</p>
<p>I go <strong>without</strong> the elephant.</p></li>
</ul>
<p class="note box"><span lang="sa">saha</span> is related to the prefixes <span lang="sa">sa-</span> and <span lang="sa">sam</span>. <span lang="sa">vinā</span> is probably related to the prefix <span lang="sa">vi</span>.</p>
<h2>Other <span lang="sa">-ḥ</span> Sandhi</h2>
<p>The case 3 plural follows the rules of "other <span lang="sa">-ḥ</span>" sandhi that were described when we studied case 6. But words that follow these rules actually follow one other restriction:</p>
<p class="rule box">If the letter that follows the <span lang="sa">visarga</span> is <span lang="sa">r</span>, then the <span lang="sa">visarga</span> disappears.</p>
<ul class="examples">
<li><p class="dev">नरैः गच्छन्ति → नरैर् गच्छन्ति</p>
<p lang="sa">naraiḥ gacchanti → narair gacchanti</p>
<p>They go with the men.</p></li>
<li><p class="dev">नरैः रामो गच्छति→ नरै रामो गच्छति</p>
<p lang="sa">naraiḥ rāmo gacchati → narai rāmo gacchati</p>
<p>Rama goes with the men.</p></li>
<li><p class="dev">नरैः पश्यन्ति → नरैः पश्यन्ति</p>
<p lang="sa">naraiḥ paśyanti → naraiḥ paśyanti</p>
<p>They see with the men.</p></li>
<li><p class="dev">नरैः तिष्ठन्ति → नरैस् तिष्ठन्ति</p>
<p lang="sa">naraiḥ tiṣṭhanti → narais tiṣṭhanti</p>
<p>They stand with the men.</p></li>
</ul>
<p>The intuition for this change is simply that the combination <span lang="sa">rr</span> never occurs in Sanskrit.</p>
<h2>Pronouns</h2>
<p>As always, note the parallel behavior of <span lang="sa">mad</span> and <span lang="sa">tvad</span>.</p>
<table class="inflection">
<caption><span lang="sa">mad</span> (no gender)</caption>
<tr><th class="stem">मद्</th>
<th>Singular</th>
<th>Dual</th>
<th>Plural</th>
</tr><tr><th>Case 1 (subject)</th>
<td>अहम्<div>aham</div></td>
<td class="c1">आवाम्<div>āvām</div></td>
<td>वयम्<div>vayam</div></td>
</tr><tr><th>Case 2 (object)</th>
<td>माम्<div>mām</div></td>
<td class="c1">आवाम्<div>āvām</div></td>
<td>अस्मान्<div>asmān</div></td>
</tr><tr><th>Case 3 ("with")</th>
<td>मया<div>mayā</div></td>
<td>आवाभ्याम्<div>āvābhyām</div></td>
<td>अस्माभिः<div>asmābhiḥ</div></td>
</tr><tr><th>Case 6 ("of")</th>
<td>मम<div>mama</div></td>
<td>आवयोः<div>āvayoḥ</div></td>
<td>अस्माकम्<div>asmākam</div></td>
</tr>
</table>
<table class="inflection">
<caption><span lang="sa">tvad</span> (no gender)</caption>
<tr><th class="stem">त्वद्</th>
<th>Singular</th>
<th>Dual</th>
<th>Plural</th>
</tr><tr><th>Case 1 (subject)</th>
<td>त्वम्<div>tvam</div></td>
<td class="c1">युवाम्<div>yuvām</div></td>
<td>यूयम्<div>yūyam</div></td>
</tr><tr><th>Case 2 (object)</th>
<td>त्वाम्<div>tvām</div></td>
<td class="c1">युवाम्<div>yuvām</div></td>
<td>युष्मान्<div>yuṣmān</div></td>
</tr><tr><th>Case 3 ("with")</th>
<td>त्वया<div>tvayā</div></td>
<td>युवाभ्याम्<div>yuvābhyām</div></td>
<td>युष्माभिः<div>yuṣmābhiḥ</div></td>
</tr><tr><th>Case 6 ("of")</th>
<td>तव<div>tava</div></td>
<td>युवयोः<div>yuvayoḥ</div></td>
<td>युष्माकम्<div>yuṣmākam</div></td>
</tr>
</table>
<table class="inflection">
<caption><span lang="sa">tad</span> (masculine)</caption>
<tr><th class="stem">तद्</th>
<th>Singular</th>
<th>Dual</th>
<th>Plural</th>
</tr><tr><th>Case 1 (subject)</th>
<td>सः<div>saḥ</div></td>
<td class="c1">तौ<div>tau</div></td>
<td>ते<div>te</div></td>
</tr><tr><th>Case 2 (object)</th>
<td>तम्<div>tam</div></td>
<td class="c1">तौ<div>tau</div></td>
<td>तान्<div>tān</div></td>
</tr><tr><th>Case 3 ("with")</th>
<td>तेन<div>tena</div></td>
<td>ताभ्याम्<div>tābhyām</div></td>
<td>तैः<div>taiḥ</div></td>
</tr><tr><th>Case 6 ("of")</th>
<td>तस्य<div>tasya</div></td>
<td>तयोः<div>tayoḥ</div></td>
<td>तेषाम्<div>teṣām</div></td>
</tr>
</table>
<p>In the next lesson, we will study one of the most common uses of case 3. Until then, practice with the exercises on the next page.</p></p>
{% endblock %}

