appdirs==1.4.3
argh==0.26.2
attrs==19.3.0
beautifulsoup4==4.9.3
black==19.10b0
certifi==2021.5.30
charset-normalizer==2.0.4
Click==7.0
distlib==0.3.1
docutils==0.14
filelock==3.0.12
Flask==1.0.2
Flask-Assets==0.12
Flask-Markdown==0.3
Frozen-Flask==0.15
idna==3.2
importlib-metadata==1.4.0
itsdangerous==1.1.0
Jinja2==2.10.1
Markdown==3.3.3
MarkupSafe==1.1.1
more-itertools==8.1.0
packaging==20.0
pathspec==0.8.0
pathtools==0.1.2
pkgconfig==1.5.1
pluggy==0.13.1
protobuf==3.15.8
psutil==5.7.3
py==1.8.1
pyparsing==2.4.6
pytest==5.4.2
PyYAML==5.1
regex==2020.5.7
requests==2.26.0
six==1.14.0
soupsieve==2.2.1
toml==0.10.0
typed-ast==1.4.1
urllib3==1.26.6
virtualenv==20.2.2
virtualfish==2.5.1
watchdog==0.9.0
wcwidth==0.1.8
webassets==0.12.1
Werkzeug==1.0.1
zipp==2.0.0
