fabric                # Deployment
flask >= 0.10         # Framework
flask-admin           # "Texts" management
flask-assets          # CSS, JS
flask-cache           # Nice caching
flask-debugtoolbar    # Profiling on local
flask-mail            # Contact form
flask-markdown        # Lightweight lesson content
flask-security        # User management
flask-script          # Scripts
flask-sqlalchemy      # Database
flask-wtf             # Forms
psycopg2              # Postgres adapter
py-bcrypt             # Flask-security crypto
pytest                # Awesome unit testing
git+git://github.com/sanskrit/sanskrit.git#egg=sanskrit
sqlamp                # For trees. TODO: refactor and remove
