backports.functools-lru-cache==1.6.4
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Flask==2.0.1
Flask-Assets==2.0
Frozen-Flask==0.15
idna==2.10
indic-transliteration==2.2.9
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
regex==2020.10.11
requests==2.25.1
selenium==3.141.0
soupsieve==2.1
toml==0.10.2
typer==0.3.2
urllib3==1.26.3
webassets==2.0
Werkzeug==2.0.1
