{{ m.manual_nominal(
    stem='agni',
    forms=[['agniH', 'agnI', 'agnayaH'],
        ['agnim', 'agnI', 'agnIn'],
        ['agninA', 'agniByAm', 'agniBiH'],
        ['agnaye', 'agniByAm', 'agniByaH'],
        ['agneH', 'agniByAm', 'agniByaH'],
        ['agneH', 'agnyoH', 'agnInAm'],
        ['agnO', 'agnyoH', 'agnizu'],
        ['agne', 'agnI', 'agnayaH']],
    colors=[['','c1','c5'],
        ['', 'c1', ''],
        ['', 'c2', ''],
        ['', 'c2', 'c4'],
        ['c6', 'c2', 'c4'],
        ['c6', 'c3', ''],
        ['', 'c3', ''],
        ['', 'c1', 'c5']]
) }}
