{{ m.manual_nominal(
    stem='Atman',
    forms=[['AtmA', 'AtmAnO', 'AtmAnaH'],
        ['AtmAnam', 'AtmAnO', 'AtmanaH'],
        ['AtmanA', 'AtmaByAm', 'AtmaBiH'],
        ['Atmane', 'AtmaByAm', 'AtmaByaH'],
        ['AtmanaH', 'AtmaByAm', 'AtmaByaH'],
        ['AtmanaH', 'AtmanoH', 'AtmanAm'],
        ['Atmani', 'AtmanoH', 'Atmazu'],
        ['Atman', 'AtmAnO', 'AtmAnaH']],
    colors=[['s','s c1','s c5'],
        ['s ', 's c1', 'c6'],
        ['', 'c2', ''],
        ['', 'c2', 'c4'],
        ['c6', 'c2', 'c4'],
        ['c6', 'c3', ''],
        ['', 'c3', ''],
        ['', 's c1', 's c5']]
) }}

