{{ m.manual_nominal(
    stem='Bagavat',
    forms=[['BagavAn', 'BagavantO', 'BagavantaH'],
        ['Bagavantam', 'BagavantO', 'BagavataH'],
        ['BagavatA', 'BagavadByAm', 'BagavadBiH'],
        ['Bagavate', 'BagavadByAm', 'BagavadByaH'],
        ['BagavataH', 'BagavadByAm', 'BagavadByaH'],
        ['BagavataH', 'BagavatoH', 'BagavatAm'],
        ['Bagavati', 'BagavatoH', 'Bagavatsu'],
        ['Bagavan', 'BagavantO', 'BagavantaH']],
    colors=[['s','s c1','s c5'],
        ['s ', 's c1', 'c6'],
        ['', 'c2', ''],
        ['', 'c2', 'c4'],
        ['c6', 'c2', 'c4'],
        ['c6', 'c3', ''],
        ['', 'c3', ''],
        ['s ', 's c1', 's c5']]
) }}

