{{ m.manual_nominal(
    stem='gaja',
    forms=[['gajaH', 'gajO', 'gajAH'],
        ['gajam', 'gajO', 'gajAn'],
        ['gajena', 'gajAByAm', 'gajEH'],
        ['gajAya', 'gajAByAm', 'gajeByaH'],
        ['gajAt', 'gajAByAm', 'gajeByaH'],
        ['gajasya', 'gajayoH', 'gajAnAm'],
        ['gaje', 'gajayoH', 'gajezu'],
        ['gaja', 'gajO', 'gajAH']],
    colors=[['','c1','c5'],
        ['', 'c1', ''],
        ['', 'c2', ''],
        ['', 'c2', 'c4'],
        ['', 'c2', 'c4'],
        ['', 'c3', ''],
        ['', 'c3', ''],
        ['', 'c1', 'c5']]
) }}
