{{ m.manual_nominal(
    stem='maDu',
    forms=[['maDuH', 'maDU', 'maDavaH'],
        ['maDum', 'maDU', 'maDUn'],
        ['maDunA', 'maDuByAm', 'maDuBiH'],
        ['maDave', 'maDuByAm', 'maDuByaH'],
        ['maDoH', 'maDuByAm', 'maDuByaH'],
        ['maDoH', 'maDvoH', 'maDUnAm'],
        ['maDO', 'maDvoH', 'maDuzu'],
        ['maDo', 'maDU', 'maDavaH']],
    colors=[['','c1','c5'],
        ['', 'c1', ''],
        ['', 'c2', ''],
        ['', 'c2', 'c4'],
        ['c6', 'c2', 'c4'],
        ['c6', 'c3', ''],
        ['', 'c3', ''],
        ['', 'c1', 'c5']]
) }}
