{{ m.manual_nominal(
    stem='manaH',
    forms=[['manaH', 'manasI', 'manAMsi'],
        ['manaH', 'manasI', 'manAMsi'],
        ['manasA', 'manoByAm', 'manoBiH'],
        ['manase', 'manoByAm', 'manoByaH'],
        ['manasaH', 'manoByAm', 'manoByaH'],
        ['manasaH', 'manasoH', 'manasAm'],
        ['manasi', 'manasoH', 'manaHsu'],
        ['manaH', 'manasI', 'manAMsi']],
    colors=[['c6','c1','c5'],
        ['c6', 'c1', 'c5'],
        ['', 'c2', ''],
        ['', 'c2', 'c4'],
        ['c5', 'c2', 'c4'],
        ['c5', 'c3', ''],
        ['', 'c3', ''],
        ['c6', 'c1', 'c5']]
) }}

