{{ m.manual_nominal(
    stem='marut',
    forms=[['marut', 'marutO', 'marutaH'],
        ['marut', 'marutO', 'marutaH'],
        ['marutA', 'marudByAm', 'marudBiH'],
        ['marute', 'marudByAm', 'marudByaH'],
        ['marutaH', 'marudByAm', 'marudByaH'],
        ['marutaH', 'marutoH', 'marutAm'],
        ['maruti', 'marutoH', 'marutsu'],
        ['marut', 'marutO', 'marutaH']],
    colors=[['c6','c1','c5'],
        ['c6', 'c1', 'c5'],
        ['', 'c2', ''],
        ['', 'c2', 'c4'],
        ['c5', 'c2', 'c4'],
        ['c5', 'c3', ''],
        ['', 'c3', ''],
        ['c6', 'c1', 'c5']]
) }}

