{{ m.manual_nominal(
    stem='nadI',
    forms=[['nadI', 'nadyO', 'nadyaH'],
        ['nadIm', 'nadyO', 'nadIH'],
        ['nadyA', 'nadIByAm', 'nadIBiH'],
        ['nadyE', 'nadIByAm', 'nadIByaH'],
        ['nadyAH', 'nadIByAm', 'nadIByaH'],
        ['nadyAH', 'nadyoH', 'nadInAm'],
        ['nadyAm', 'nadyoH', 'nadIzu'],
        ['nadi', 'nadyO', 'nadyaH']],
    colors=[['','c1','c5'],
        ['', 'c1', ''],
        ['', 'c2', ''],
        ['', 'c2', 'c4'],
        ['c6', 'c2', 'c4'],
        ['c6', 'c3', ''],
        ['', 'c3', ''],
        ['', 'c1', 'c5']]
) }}
