{{ m.manual_nominal(
    stem='senA',
    forms=[['senA', 'sene', 'senAH'],
        ['senAm', 'sene', 'senAH'],
        ['senayA', 'senAByAm', 'senABiH'],
        ['senAyE', 'senAByAm', 'senAByaH'],
        ['senAyAH', 'senAByAm', 'senAByaH'],
        ['senAyAH', 'senayoH', 'senAnAm'],
        ['senAyAm', 'senayoH', 'senAsu'],
        ['sene', 'sene', 'maDavaH']],
    colors=[['','c1','c5'],
        ['', 'c1', 'c5'],
        ['', 'c2', ''],
        ['', 'c2', 'c4'],
        ['c6', 'c2', 'c4'],
        ['c6', 'c3', ''],
        ['', 'c3', ''],
        ['c1', 'c1', 'c5']]
) }}
