{{ m.manual_nominal(
    stem='vaDU',
    forms=[['vaDUH', 'vaDvO', 'vaDvaH'],
        ['vaDUm', 'vaDvO', 'vaDUH'],
        ['vaDvA', 'vaDUByAm', 'vaDUBiH'],
        ['vaDvE', 'vaDUByAm', 'vaDUByaH'],
        ['vaDvAH', 'vaDUByAm', 'vaDUByaH'],
        ['vaDvAH', 'vaDvoH', 'vaDUnAm'],
        ['vaDvAm', 'vaDvoH', 'vaDUzu'],
        ['vaDu', 'vaDvO', 'vaDvaH']],
    colors=[['c7','c1','c5'],
        ['', 'c1', 'c7'],
        ['', 'c2', ''],
        ['', 'c2', 'c4'],
        ['c6', 'c2', 'c4'],
        ['c6', 'c3', ''],
        ['', 'c3', ''],
        ['', 'c1', 'c5']]
) }}
