{{ m.manual_nominal(
    stem='yogin',
    forms=[['yogI', 'yoginO', 'yoginaH'],
        ['yoginam', 'yoginO', 'yoginaH'],
        ['yoginA', 'yogiByAm', 'yogiBiH'],
        ['yogine', 'yogiByAm', 'yogiByaH'],
        ['yoginaH', 'yogiByAm', 'yogiByaH'],
        ['yoginaH', 'yoginoH', 'yoginAm'],
        ['yogini', 'yoginoH', 'yogizu'],
        ['yogin', 'yoginO', 'yoginaH']],
    colors=[['','c1','c5'],
        [' ', 'c1', 'c5'],
        ['', 'c2', ''],
        ['', 'c2', 'c4'],
        ['c5', 'c2', 'c4'],
        ['c5', 'c3', ''],
        ['', 'c3', ''],
        [' ', 'c1', 'c5']]
) }}

