{% extends 'base-grammar.html' %}

{% block title %}Exercises: The Option Mood{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/verbs">Verbs</a> »</li>
<li><a href="/verbs/classes">Verb Classes</a> »</li>
<li>Exercises: The Option Mood</li>
</ul>
{% endblock %}

{% block content %}

<h2>Vocabulary</h2>
<div class="vocab">
<h3></h3>
<dl>
<dt></dt><dd></dd><dd></dd>
<dd><dl>
<dt></dt><dd></dd><dd></dd>
</dl></dd>
</dl>
</div>
<h2>Translation</h2>
<p>Translate from Sanskrit to English.</p>
<ul class="dev exercises">
<li>प्रसह्य मणिमुद्धरेन्मकरवक्त्रदंष्ट्रान्तरात्<br/>
	समुद्रमपि संतरेत् प्रचलदूर्मिमालाकुलम् ।<br/>
	भुजंगमपि कोपितं शिरसि पुष्पवद्धारयेन्<br/>
	न तु प्रतिनिविष्टमूर्खजनचित्तमाराधयेत् ॥
	लभेत सिकतासु तैलमपि यत्नतः पीडयन्<br/>
	पिबेच्च मृगतृष्णिकासु सलिलं पिपासार्दितः ।<br/>
	कदाचिदपिपर्यटञ्शशविषाणमासादयेन्<br/>
	न तु प्रतिनिविष्टमूर्खजनचित्तमाराधयेत् ॥</li>
<li><div></div></li>
<li><div></div></li>
<li><div></div></li>
<li><div></div></li>
<li><div></div></li>
<li><div></div></li>
<li><div></div></li>
</ul>
<h2>Answers</h2>
<h3>Translation</h3>
<ul class="drill exercises">
<li><p>He may forcibly extract a jewel from between the fangs of a sea monster's mouth,<br/>
	he may cross the ocean convulsing with its trembling waves,<br/>
	he may wear an infuriated snake on his head like a flower,<br/>
	but he will not be able to please the mind of an obstinate fool.</p>
<p>He may even find oil in sand by crushing it strenuously,<br/>
	and when tormented by thirst he may drink water from mirages,<br/>
	and sometimes, when wandering, he may find a rabbit's horn;<br/>
	but he will not be able to please the mind of an obstinate fool.
	<cite>nīṭiśataka</cite></p></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
</ul>

{% endblock %}

