{% extends 'base-grammar.html' %}

{% block title %}Exercises: Complex Classes{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/verbs">Verbs</a> »</li>
<li><a href="/verbs/classes">Verb Classes</a> »</li>
<li>Exercises: Complex Classes</li>
</ul>
{% endblock %}

{% block content %}

<h2>Vocabulary</h2>
<div class="vocab">
<h3>Complex Verb Classes</h3>
<dl>
<dt>अद्</dt><dd>root अत्ति</dd><dd>eat, consume, devour</dd>
<dt>अस्</dt><dd>root अस्ति</dd><dd></dd>
<dd><dl>
<dt>आस्तिक</dt><dd>mf(ī)n</dd><dd>a believer, especially in the Vedas</dd>
<dt>नास्तिक</dt><dd>mf(ī)n</dd><dd>an atheist or doubter, especially of the Vedas</dd>
<dd class="desc">These two terms are used to classify the different philosophical schools in India. Those schools that adhered to the Vedas and the Vedic tradition were called <span lang="sa">āstika</span>, from the word <span lang="sa">asti</span>, and those schools that rejected the Vedas and the Vedic tradition were called <span lang="sa">nāstika</span>, from the sentence <span lang="sa">na asti</span>. You can <a href="http://en.wikipedia.org/wiki/%C4%80stika_and_n%C4%81stika">click here</a> to read more about these terms.</dd>
<dt>व्यस्</dt><dd>root व्यस्ति</dd><dd>divide, separate, arrange</dd>
<dd><dl>
<dt>व्यास</dt><dd>m</dd><dd>"arranger," "divider"; <a href="http://en.wikipedia.org/wiki/Vyasa">Vyāsa</a></dd>
</dl></dd>
<dt>समस्</dt><dd>root समस्ति</dd><dd>unite with</dd>
<dd><dl>
<dt>समास</dt><dd>m</dd><dd>union; aggregation; a Sanskrit compound</dd>
</dl></dd>
</dl></dd>
<dt>इ</dt><dd>root एति</dd><dd>go, come into</dd>
<dt>ब्रू</dt><dd>root ब्रवीति</dd><dd>speak, say</dd>
<dt>वच्</dt><dd>root वक्ति</dd><dd>speak, say</dd>
<dt>हन्</dt><dd>root हन्ति</dd><dd>kill, slay, destroy</dd>
<dt>सु</dt><dd>no सुनोति</dd><dd>press out, extract</dd>
<dt>युज्</dt><dd>na युनक्ति, युङ्क्ते</dd><dd>yoke, equip, unite, lead</dd>
<dt>रुध्</dt><dd>na रुणद्धि, रुन्द्धे</dd><dd>block, oppose</dd>
<dt>तन्</dt><dd>o तनोति, तनुते</dd><dd>weave, stretch, impel</dd>
<dt>क्री</dt><dd>nā क्रीणाति, क्रीणीते</dd><dd>buy, purchase</dd>
<dt>ज्ञा</dt><dd>nā जानाति, जानीते</dd><dd>know, understand, perceive</dd>
</dl>
</div>
<h2>Sandhi</h2>
<p>The exercises below feature some verb stems and verb endings. Given a verb stem and verb ending, produce a complete verb.</p>
<ul class="dev drill exercises">
<li>वच् + अन्ति</li>
<li>वच् + मि</li>
<li>वच् + वः</li>
<li>वच् + ति</li>
<li>वच् + थ</li>
</ul>
<h2>Translation</h2>
<p>Translate from Sanskrit to English.</p>
<ul class="dev drill exercises">
<li>तत् त्वम् असि</li>
<li>हन्ति कम्</li>
<li>तान् ब्रवीमि ते</li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>
<h2>Answers</h2>
<h3>Sandhi</h3>
<ul class="dev drill exercises">
<li>वचन्ति</li>
<li>वच्मि</li>
<li>वच्वः</li>
<li>वक्ति</li>
<li>वक्थ</li>
</ul>
<h3>Translation</h3>
<ul class="drill exercises">
<li>You are That. <cite>Chandogya Upanishad</cite>
<p>This sentence is half of a line from the <dfn>Chandogya Upanishad</dfn>, and it is one of the most famous pronouncements in Hinduism. Like <span lang="sa">so 'ham</span>, it equates the self with a transcendent reality. <em>However</em>, sandhi creates some ambiguities in the full expression, and that ambiguity has led to several different interpretations of this seemingly simple statement. We'll look at some of these ambiguities later on.</p></li>
<li>Whom does he kill?  <cite>Bhagavad Gita 2.21d</cite></li>
<li>I will speak them for you. <cite>Bhagavad Gita 1.7d</cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
</ul>

{% endblock %}

