{% extends 'base-grammar.html' %}

{% block title %}Exercises: Case 2{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/start">Starting Out</a> »</li>
<li><a href="/start/nouns">Noun Basics</a> »</li>
<li>Exercises: Case 2</li>
</ul>
{% endblock %}

{% block content %}

<h1>Exercises: Case 2</h1>
<h2>Vocabulary</h2>
<dl class="vocab">
<dt>शश<div lang="sa">śaśa</div></dt><dd>m<dd>rabbit, hare <span class="etym">[<a href="http://www.etymonline.com/index.php?term=hare">hare</a>]</span></dd>
<dt>सिंह<div lang="sa">siṃha</div></dt><dd>m<dd>lion <span class="etym">[Singh, Singapore]</span></dd>
<dt>वृक<div lang="sa">vṛka</div></dt><dd>m<dd>wolf <span class="etym">[wolf, lupus]</span></dd>
</dd></dd></dd></dl>
<h2>Devanagari</h2>
<p>Write the sentences below in IAST.</p>
<ul class="drill exercises" lang="sa">
<li><p class="dev">कनकं नाक्षरं</p></li>
<li><p class="dev">विज्ञानं देवाः सर्वे तदुपासते</p></li>
<li><p class="dev">क्षान्तिः</p></li>
<li><p class="dev">राज्ञो माता मां वसनं ददाति</p></li>
<li><p class="dev">पिपासाया तस्मै कर्तव्यं न करोमि</p></li>
<li><p class="dev">पावक वायो रुद्राक्षर</p></li>
</ul>
<h2>Sandhi</h2>
<p>These excerpts have had some sandhi changes removed. Using your knoweldge of Sanskrit sandhi, restore the changes.</p>
<ul class="exercises" lang="sa">
<li><p class="dev">सह नौ अवतु सह नौ भुनक्तु सह वीर्यम् करवावहै<br/>
	तेजस्वि नौ अधीतम् अस्तु मा विद्विषावहै<br/>
	ॐ शान्तिः शान्तिः शान्तिः</p>
<p>saha nau avatu saha nau bhunaktu saha vīryam karavāvahai<br/>
	tejasvi nau adhītam astu mā vidviṣāvahai<br/>
	oṃ śāntiḥ śāntiḥ śāntiḥ</p></li>
<li><p class="dev">सर्वम् ब्रह्म औपनिषदम्</p>
<p>sarvam brahma aupaniṣadam</p></li>
</ul>
<h2>Translation</h2>
<p>Translate from English to Sanskrit. Where possible, make pronouns explicit. Use the "subject-object-verb" order in your answers.</p>
<ul class="drill exercises">
<li><p>The lion strikes the man.</p></li>
<li><p>The wolf leads the boys.</p></li>
<li><p>The rabbit remembers us.</p></li>
<li><p>The man grieves (for) us.</p>
<p class="aside">Use case 2 for "us."</p></li>
<li><p>The man desires the two horses.</p></li>
<li><p>The elephant walks to us.</p></li>
<li><p>He remembers the lions.</p></li>
<li><p>The wolves walk to you.</p></li>
<li><p>The hero conquers all of you.</p></li>
<li><p>I speak.</p></li>
<li><p>They ask the two of them.</p></li>
<li><p>The rabbit desires them.</p></li>
<li><p>The horses lead me.</p></li>
<li><p>The man obtains them.</p></li>
<li><p>You steal the horse.</p></li>
<li><p>He finds the boys.</p></li>
<li><p>The boys strike the elephants.</p></li>
<li><p>They are men.</p></li>
<li><p>The wolves become confused.</p></li>
<li><p>We are heroes.</p></li>
<li><p>He leads the lion to the village.</p>
<p class="desc">Case 2 has to be used twice here: once for "lion" and once for "village."</p></li>
<li><p>They want the horses.</p></li>
</ul>
<h2>Answers</h2>
<h3>Devanagari</h3>
<p>As before, English meanings are provided for your curiosity.</p>
<ul class="drill exercises" lang="sa">
<li><p>kanakaṃ nākṣaraṃ</p>
<p lang="en">Gold is not imperishable.</p></li>
<li><p>vijñānaṃ devāḥ sarve tadupāsate</p>
<p lang="en">All the gods worship that insight.</p></li>
<li><p>kṣāntiḥ</p>
<p lang="en">forbearance</p></li>
<li><p>rājño mātā māṃ vasanaṃ dadāti</p>
<p lang="en">The king's mother gives me clothes.</p></li>
<li><p>pipāsāyā tasmai kartavyaṃ na karomi</p>
<p lang="en">Because of thrist, I do not do what is to be done for him.</p></li>
<li><p>pāvaka vāyo rudrākṣara</p>
<p lang="en">O Fire, O Wind, O eternal <a href="http://en.wikipedia.org/wiki/Rudra">Roarer</a></p></li>
</ul>
<h3>Sandhi</h3>
<p>Just for fun, these answers have been provided with translations.</p>
<ul class="exercises" lang="sa">
<li><p class="dev">सह नाव् अवतु सह नौ भुनक्तु<br/>
	सह वीर्यं करवावहै<br/>
	तेजस्वि नाव् अधीतम् अस्तु<br/>
	मा विद्विषावहै<br/>
	ॐ शान्तिः शान्तिः शान्तिः</p>
<p>saha nāv avatu saha nau bhunaktu saha vīryaṃ karavāvahai<br/>
	tejasvi nāv adhītam astu mā vidviṣāvahai<br/>
	oṃ śāntiḥ śāntiḥ śāntiḥ</p>
<p lang="en">May he protect us both. May he nourish us both. May we do powerful things.<br/>
	May our study be glorious. May we never denounce each other.<br/>
	OM. Peace! Peace! Peace!<cite>Upanishads (various)</cite></p></li>
<li><p class="dev">सर्वं ब्रह्मौपनिषदम्</p>
<p>sarvaṃ brahmaupaniṣadam</p>
<p lang="en">All is the Brahman of the Upanishads. <cite>Upanishads (various)</cite></p></li>
</ul>
<h3>Translation</h3>
<ul class="drill exercises" lang="sa">
<li><p class="dev">सिंहो नरं तुदति</p><p>siṃho naraṃ tudati</p></li>
<li><p class="dev">वृको बालान् नयति</p><p>vṛko bālān nayati</p></li>
<li><p class="dev">शशो ऽस्मान् स्मरति</p><p>śaśo 'smān smarati</p></li>
<li><p class="dev">नरो ऽस्मान् शोचति</p><p>naro 'smān śocati</p></li>
<li><p class="dev">नरो ऽश्वाव् इच्छति</p><p>naro 'śvāv icchati</p></li>
<li><p class="dev">गजो ऽस्मान् चरति</p><p>gajo 'smān carati</p></li>
<li><p class="dev">स सिंहान् स्मरति</p><p>sa siṃhān smarati</p></li>
<li><p class="dev">वृकास् त्वां चरन्ति</p><p>vṛkās tvāṃ caranti</p></li>
<li><p class="dev">वीरो युष्मान् जयति</p><p>vīro yuṣmān jayati</p></li>
<li><p class="dev">अहं भाषे</p><p>ahaṃ bhāṣe</p></li>
<li><p class="dev">ते तौ पृच्छन्ति</p><p>te tau pṛcchanti</p></li>
<li><p class="dev">शशस् तान् इच्छति</p><p>śaśas tān icchati</p></li>
<li><p class="dev">अश्वा मां नयन्ति</p><p>aśvā māṃ nayanti</p></li>
<li><p class="dev">नरस् तान् लभते</p><p>naras tān labhate</p></li>
<li><p class="dev">त्वम् अश्वं चोरयसि</p><p>tvam aśvaṃ corayasi</p></li>
<li><p class="dev">स बालान् विन्दति</p><p>sa bālān vindati</p></li>
<li><p class="dev">बाला गजान् तुदन्ति</p><p>bālā gajān tudanti</p></li>
<li><p class="dev">ते नराः (भवन्ति)</p><p>te narāḥ (bhavanti)</p></li>
<li><p class="dev">वृका मुह्यन्ति</p><p>vṛkā muhyanti</p></li>
<li><p class="dev">वयं वीराः (भवामः)</p><p>vayaṃ vīrāḥ (bhavāmaḥ)</p></li>
<li><p class="dev">नरः सिंहं ग्रामं नयति</p><p>naraḥ siṃhaṃ grāmaṃ nayati</p></li>
<li><p class="dev">त अश्वान् इच्छन्ति</p><p>ta aśvān icchanti</p></li>
</ul>

{% endblock %}

