{% extends 'base-grammar.html' %}

{% block title %}Short Pronouns, etad, and ena{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/nouns">Nouns</a> »</li>
<li><a href="/nouns/pronouns">More Pronouns</a> »</li>
<li>Short Pronouns, etad, and ena</li>
</ul>
{% endblock %}

{% block content %}

<h1>Short Pronouns, <span lang="sa">etad</span>, and <span lang="sa">ena</span></h1>
<p>This lesson doesn't cover much new material. After you finish the lesson, take the time to review the pronouns that we've already studied. You can find these pronouns and their many forms in the <a href="/references/nouns/pronouns">References</a> part of the site.</p>
<h2>Short pronouns</h2>
<p>In some cases and numbers, <span lang="sa">mad</span> and <span lang="sa">tvad</span> have optional "short forms," each of which is only one syllable long. These short forms can never start a sentence. They are often used in Sanskrit poetry.</p>
{% include 'include/charts/d-mad-short.html' %}{% include 'include/charts/d-tvad-short.html' %}
<h2><span lang="sa">etad</span></h2>
<p>Sanskrit has a fairly rich system of pronouns, and although the distinctions between them aren't always sharp, they usually differ by the <em>degree</em> or <em>extent</em> of the distance between the object and the speaker. <span lang="sa">tad</span> usually refers to things that are quite far from the speaker. With this in mind, let me introduce the pronoun <dfn lang="sa">etad</dfn>, which describes things that are very close to the speaker. This closeness can be either literal or abstract.</p>
<p>How do we inflect <span lang="sa">etad</span>? We can do so very easily: to get the <span lang="sa">etad</span> forms, take the <span lang="sa">tad</span> forms and add an <span lang="sa">e-</span> to the front of them. The rules of <span lang="sa">saḥ</span> sandhi still apply.</p>
<ul class="examples">
<li><p class="dev">तस्मै → एतस्मै</p>
<p lang="sa">tasmai → etasmai</p>
<p>for it (masculine or neuter)</p>
<li><p class="dev">तासाम् → एतासाम्</p>
<p lang="sa">tāsām → etāsām</p>
<p>of them (feminine)</p>
<li><p class="dev">स गच्छति → एष गच्छति</p>
<p lang="sa">sa gacchati → eṣa gacchati</p>
<p>He goes.</p>
</li></li></li></ul>
<p>That's all there is to do. Note that the case 1 singular forms <span lang="sa">eṣaḥ</span> and <span lang="sa">eṣā</span> have changed due to internal sandhi.</p>
<h2><span lang="sa">ena</span></h2>
<p><dfn lang="sa">ena</dfn> is almost like the "short form" of <span lang="sa">tad</span>. It can never start a sentence, and it only occurs in a few cases and numbers. Moreover, it can only refer to something that has already been mentioned. It's easy to use <span lang="sa">ena</span>: just replace the <span lang="sa">t</span> part of the <span lang="sa">tad</span> forms with <span lang="sa">en</span>. An example of <span lang="sa">ena</span> in the masculine gender is shown below. Note that <span lang="sa">ena</span> only has 6 forms — and one of them is a duplicate!</p>
{% include 'include/charts/d-ena-m.html' %}
<p>Don't bother memorizing the cases and numbers that <span lang="sa">ena</span> uses. It's not worth your time.</p>
{% endblock %}

