{% extends 'base-grammar.html' %}

{% block title %}Exercises: Vowels{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/sounds">Sounds</a> »</li>
<li><a href="/sounds/vowels">Vowels</a> »</li>
<li>Exercises: Vowels</li>
</ul>
{% endblock %}

{% block content %}

<h1>Exercises: Compound Vowels</h1>
<p>The page you're reading right now is an <dfn>exercise page</dfn>. Exercise pages contain exercises that allow you to practice your Sanskrit skills and make sure that you've understood the material in the lesson. Later in the guide, exercise pages will also feature some <dfn>vocabulary</dfn> and other information to deepen your understanding of Sanskrit and its history.</p>
<p>Try to avoid the temptation to do these exercises in your head. By writing down your answers, you commit to them; otherwise, it is too easy to shrug off your mistakes.</p>
<h2>Vowel Length and Strength</h2>
<p>In each exercise below, a certain type of vowel is described. Provide <strong>all</strong> of the vowels that match this description.</p>
<ul class="exercises">
<li>The long version of <span lang="sa">a</span></li>
<li>The weak version of <span lang="sa">ai</span></li>
<li>The medium version of <span lang="sa">au</span></li>
<li>The short version of <span lang="sa">ī</span></li>
<li>The short vowels</li>
<li>The strong version of <span lang="sa">o</span></li>
<li>The strong version of <span lang="sa">ṛ</span></li>
<li>The short and weak version of <span lang="sa">au</span></li>
<li>The medium version of <span lang="sa">ṝ</span></li>
<li>The medium version of <span lang="sa">i</span></li>
</ul>
<h2>The Alphabet</h2>
<p>List the first twelve letters of the Sanskrit alphabet in their correct order.</p>
<h2>Answers</h2>
<h3>Vowel Length and Strength</h3>
<ul class="exercises" lang="sa">
<li><p>ā</p></li>
<li><p>i, ī</p></li>
<li><p>o</p></li>
<li><p>i</p></li>
<li><p>a, i, u, ṛ</p></li>
<li><p>au</p></li>
<li><p>ār</p></li>
<li><p>u</p></li>
<li><p>ar</p></li>
<li><p>e</p></li>
</ul>
<h3>The Alphabet</h3>
<p lang="sa" style="font-size: 1.5em;">a ā, i ī, u ū, ṛ ṝ, e ai, o au</p>
<p>How did you do? If you made a few mistakes here, don't feel discouraged; mistakes are often the fastest path to learning something new. But if you did make mistakes, be sure to review the answers above and understand them. If you do not understand an answer, or if you think that there is a mistake in the answer key, please use the <a href="/contact">contact page</a></p>
{% endblock %}

