{% extends 'base-grammar.html' %}

{% block title %}The avyayibhava{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/nouns">Nouns</a> »</li>
<li><a href="/nouns/compounds">Other Compounds</a> »</li>
<li>The avyayibhava</li>
</ul>
{% endblock %}

{% block content %}

<h1>The <span lang="sa-iast">Avyayībhāva</span></h1>
<h2>Introduction</h2>
<p>Here, we'll study one more type of compound. This is the <dfn lang="sa">avyayībhāva</dfn>, or "uninflected form." As you might guess from the name of this type, avyayibhava compounds are uninflected. All of them are adverbs, and their first members are uninflected words.</p>
<ul class="examples">
<li><p class="dev">अनु + रूप → अनुरूप → अनुरूपम्</p>
<p lang="sa">anu + rūpa → anurūpa → anurūpam</p>
<p>after + form → "after-form," according to a form → accordingly, naturally </p>
<p class="aside">(This prefix is featured on the next page.)</p></li>
</ul>
<p class="note box">Note that the avyayibhava resembles tatpurusha compounds with verb prefixes, like <span lang="sa">anukūla</span>. Such tatpurusha compounds, if they are adjectives, can usually become avyayibhava compounds.</p>
<p>The avyayibhava is said to emphasize the first member of the compound more than the second. How, then, should we place the compound in our chart? Well, <span lang="sa">anurūpam</span> expresses an abstract idea that best matches the sense of the prefix <span lang="sa">anu</span>, so the first word represents the idea of the compound. But <span lang="sa">anurūpam</span> is not a sort of <span lang="sa">rūpam</span>; the word <span lang="sa">rūpa</span> here just serves to qualify the nature of <span lang="sa">anu</span>. For that reason, the first word is the main idea and the second is the qualifier.</p>
<table class="blue">
<tr><th> </th><th>Word 2: Idea</th><th>Word 2: Qualifier</th></tr>
<tr><th>Word 1: Idea</th><td>dvandva</td><td class="g">avyayibhava</td></tr>
<tr><th>Word 1: Qualifier</th><td>tatpurusha</td><td>???</td></tr>
</table>
<p class="fact box">In Vedic Sanskrit, verb prefixes are <strong>independent words</strong> that can appear almost anywhere in the sentence. In later Sanskrit, these independent words became bound to the verb. Some of these words, however, survive in certain circumstances. For example, <span lang="sa">ā</span> used with case 5 express a limit "up to" something, and <span lang="sa">anu</span> used with case 2 expressed what occurs "after" something. We'll study these special uses much later in the guide; they don't appear very often.</p>
<h2>Tatpurusha compounds with verb roots</h2>
<p class="alternatives">Also known as: <span lang="sa">upapada-samāsa</span></p><p>The second word of a tatpurusha can be an ordinary verb root. Consider the compound analysis below:</p>
<ul class="examples">
<li><p class="dev">भुजैर् गच्छतीति <strong>भुजगः</strong></p>
<p lang="sa">bhujair gacchatīti <strong>bhujagaḥ</strong></p>
<p>"It goes with coils", i.e. a snake</p>
</li>
</ul>
<p>Many roots are used this way. Generally, these roots weaken as much as possible; <span lang="sa">gam</span> becomes <span lang="sa">ga</span>, <span lang="sa">sthā</span> becomes <span lang="sa">stha</span>, and so on. Some roots gain an extra consonant, but we will avoid studying such roots until we learn more about  the class of nouns whose stems end in consonants.</p>
{% endblock %}

