{% extends 'base-grammar.html' %}

{% block title %}Making Words{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/start">Starting Out</a> »</li>
<li>Making Words</li>
</ul>
{% endblock %}

{% block content %}

<h1>Making Words</h1>
<p>We have covered a large amount of information so far! We have studied present tense verbs, nouns and pronouns, a few noun cases, and many of the rules of sandhi. Now let's take a break and reinforce the material we've studied already.</p>
<p>Fortunately, this task will not be boring; along the way, we will learn about <dfn>word formation</dfn>, which is possibly the most fascinating and rewarding part of Sanskrit. Word formation is the process of taking verb roots and basic Sanskrit nouns and turning them into more complex, nuanced, and expressive words. Even a single bit of the study of word formation will greatly increase your vocabulary.</p>
<p>As some examples of what word formation can do, consider the two complex nouns below. Each of these complex nouns can be reduced to some of the verb roots we've studied so far.</p>
<ul class="examples">
<li><p class="dev">अमृतत्व → अमृत → मृत → मर्</p>
<p lang="sa">amṛtatva → amṛta → mṛta → mar</p>
<p>immortality → immortal → death, dead → die</p></li>
<li><p class="dev">भागवत → भगवत् → भग → भज्</p>
<p lang="sa">bhāgavata → bhagavat → bhaga → bhaj</p>
<p>concerning the blessed one → the blessed one → blessedness, happiness → adore, love</p></li>
</ul>
<p>But how do we actually make a word? In this section, we will study four of the ways we can make new words:</p>
<ul>
<li>Turn a verb into a new verb.</li>
<li>Turn a verb into a noun.</li>
<li>Turn a noun into a new noun.</li>
<li>Turn two nouns into a new noun.</li>
</ul>
<p>Let's get started! By the end of this chapter, you will easily know three times as many words as you do now, all with minimal effort.</p>
{% endblock %}

