{% extends 'base-grammar.html' %}

{% block title %}More on idam{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/ends">Odds and Ends</a> »</li>
<li><a href="/ends/nouns">Nouns</a> »</li>
<li>More on idam</li>
</ul>
{% endblock %}

{% block content %}

<h1>More on <span lang="sa">idam</span></h1>
<p>Here we will finish our study of the pronoun <dfn lang="sa">idam</dfn>. The pronoun is highly irregular and uses different stems for each gender.</p>
<h2>Masculine</h2>
{% include 'include/charts/d-ayam.html' %}
<h2>Feminine</h2>
{% include 'include/charts/d-iyam.html' %}<p>Note the following:</p>
<ul>
<li>The dual forms in cases 3 through 7 are identical to <span lang="sa">ayam</span>'s dual forms.</li>
<li>The plural forms in cases 3 through 7 are almost identical to <span lang="sa">ayam</span>'s plural forms. The difference is just in the first vowel, which is <span lang="sa">e</span> for the masculine and <span lang="sa">ā</span> for the feminine.</li>
</ul>
<h2>Neuter</h2>
{% include 'include/charts/d-idam.html' %}<p>The rest of the forms are the same as for <span lang="sa">ayam</span>.</p>
{% endblock %}

