{% extends 'base-grammar.html' %}

{% block title %}iti and iva{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/start">Starting Out</a> »</li>
<li><a href="/start/uninflected">Uninflected Words</a> »</li>
<li>iti and iva</li>
</ul>
{% endblock %}

{% block content %}

<h1><span lang="sa">iti</span> and <span lang="sa">iva</span></h1>
<p>To wrap up our study of uninflected words, let's study two very common words: <dfn lang="sa">iti</dfn> and <dfn lang="sa">iva</dfn>.</p>
<h2><span lang="sa">iti</span></h2>
<p>The word <dfn lang="sa">iti</dfn> is both common and powerful. Generally, <span lang="sa">iti</span> used like a quotation mark.</p>
<ul class="examples">
<li><p class="dev">गच्छामि गजम् <strong>इति</strong> मन्यते</p>
<p lang="sa">gacchāmi gajam <strong>iti</strong> manyate</p>
<p>"I go to the elephant," he thinks (or, he thinks <strong>that</strong> he is going).</p></li>
</ul>
<p>However, <span lang="sa">iti</span> is more powerful than an ordinary quotation mark. Michael Coulson puts it best when he writes that <span lang="sa">iti</span> <q>frequently expresses an attitude of mind or the grounds on which something is done.</q></p>
<ul class="examples">
<li><p class="dev">स वीर <strong>इति</strong> गच्छन्ति</p>
<p lang="sa">sa vīra <strong>iti</strong> gacchanti</p>
<p><strong>Thinking that</strong> he is a hero, they go.</p></li>
<li><p class="dev"><strong>इति</strong> गच्छन्ति</p>
<p lang="sa"><strong>iti</strong> gacchanti</p>
<p><strong>Thus thinking</strong>, they go.</p></li>
</ul>
<p class="ling box">As you can see, <span lang="sa">iti</span> "marks off" a specific idea and lets the rest of the sentence refer to it. Among the old Indo-European languages, only Sanskrit has this feature. However, the Dravidian and Munda languages families feature a word used like <span lang="sa">iti</span>. For that reason, it's likely that this use of <span lang="sa">iti</span> was borrowed from those languages.</p>
<h2><span lang="sa">iva</span></h2>
<p>The word <dfn lang="sa">iva</dfn> means something like "like," "as if," or "it seems." Like <span lang="sa">ca</span> and <span lang="sa">vā</span>, <span lang="sa">iva</span> must follow the word it refers to. It is usually used with nouns.</p>
<ul class="examples">
<li><p class="dev">वीर <strong>इव</strong> वदति</p>
<p lang="sa">vīra <strong>iva</strong> vadati</p>
<p>He speaks <strong>like</strong> a hero (or, <strong>as if he were</strong> a hero)</p></li>
<li><p class="dev">नर <strong>इव</strong> बालो मां नयति</p>
<p lang="sa">nara <strong>iva</strong> bālo māṃ nayati</p>
<p>The boy leads me <strong>as if he were</strong> a man.</p></li>
<li><p class="dev">नरम् <strong>इव</strong> बालो मां नयति</p>
<p lang="sa">naram <strong>iva</strong> bālo māṃ nayati</p>
<p>The boy leads me <strong>as if I were</strong> a man.</p></li>
</ul>
<p>Note the distinction between <span lang="sa">nara iva</span> and <span lang="sa">naram iva</span> in the examples above.</p>
<h2>Devanagari</h2>
<h3>The other vowels</h3>
<p>Here are the rest of the Devanagari vowels.</p>
<dl class="blue letters" lang="sa">
<dt class="title">देवनागरी</dt><dd class="title" lang="en">IAST</dd>
<dt>ई</dt><dd>ī</dd>
<dt>ऊ</dt><dd>ū</dd>
<dt>ॠ</dt><dd>ṝ</dd>
<dt>ऐ</dt><dd>ai</dd>
</dl>
<p>Notice that each of these longer and stronger forms comes from attaching the corresponding vowel mark to the shorter and weaker ones.</p>
<p class="sa fact box">The <span class="dev">ॐ</span> symbol is created from three parts: the "3"-shaped part of <span class="dev">अ</span>, the hook on <span class="dev">ऊ</span>, and the <span lang="sa">candrabindu</span> <span class="dev">ँ</span> that we used to indicate a nasal vowel in -<span lang="sa">n</span> sandhi.</p>
<h3>Punctuation in Devanagari</h3>
<p>These three punctuation marks are used in Sanskrit:</p>
<dl class="blue letters">
<dt class="title">देवनागरी</dt><dd class="title">Purpose</dd>
<dt>ऽ</dt><dd>marks where a vowel was lost due to sandhi</dd>
<dt>।</dt><dd>marks the end of a sentence or half-verse</dd>
<dt>॥</dt><dd>marks the end of a paragraph or verse</dd>
</dl>
<p>Some modern texts may also use more familiar punctuation, like the comma ( <dfn>,</dfn> ), the question mark ( <dfn>?</dfn> ), or the exclamation mark ( <dfn>!</dfn> ).</p>
{% endblock %}

