{% extends 'base-grammar.html' %}

{% block title %}The Other Cases{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/start">Starting Out</a> »</li>
<li><a href="/start/nouns">Noun Basics</a> »</li>
<li>The Other Cases</li>
</ul>
{% endblock %}

{% block content %}

<h1>The Other Cases</h1>
<h2>Introduction</h2>
<p>Now that we've studied all of the features of the Sanskrit noun — case, number, person, and gender — let's finish up our study of the <span lang="sa">-a</span> nouns with a summary of the four remaining noun cases.</p>
<p>Since we are covering four cases in one lesson, it's unwise to study all features of them, especially because these cases are more complex than the ones we've studied so far. For that reason, we will study only <strong>one primary meaning</strong> for each case. Moreover, we will <strong>skip the sandhi rules</strong> that apply to these cases. After Starting Out, we will study the Sanskrit noun cases in more detail.</p>
<h2>The four cases</h2>
<p>Roughly, the meanings of the five cases are as follows:</p>
<dl class="blue">
<dt class="title">Case</dt><dd class="title">English version</dd>
<dt>case 3</dt><dd>"with"</dd>
<dt>case 4</dt><dd>"for"</dd>
<dt>case 5</dt><dd>"from"</dd>
<dt>case 7</dt><dd>"in"</dd>
</dl>
<h2>Examples</h2>
<ul class="examples">
<li><p class="dev"><strong>गजेन</strong> गच्छामि</p>
<p lang="sa"><strong>gajena</strong> gacchāmi</p>
<p>I go <strong>with the elephant</strong>.</p>
</li>
<li><p class="dev">वीरो <strong>नराय</strong> गच्छति</p>
<p lang="sa">vīro <strong>narāya</strong> gacchati</p>
<p>The hero speaks <strong>for the man</strong>.</p>
</li>
<li><p class="dev">नरो <strong>वनात्</strong> चरति</p>
<p lang="sa">naro <strong>vanāt</strong> carati</p>
<p>The man walks <strong>from the forest</strong>.</p>
</li>
<li><p class="dev"><strong>वने</strong> लभे फलानि</p>
<p lang="sa"><strong>vane</strong> labhe phalāni</p>
<p>I obtain fruits <strong>in the forest</strong>.</p>
</li>
</ul>
<h2>Inflection</h2>
<p>For now, let's study only the <strong>singular</strong> versions of these cases:</p>
<table class="inflection">
<caption>-<span lang="sa">a</span> (masculine)</caption>
<tr><th class="stem">गज</th>
<th>Singular</th>
<th>Dual</th>
<th>Plural</th>
</tr><tr><th>Case 1 (subject)</th>
<td>गजः<div>gajaḥ</div></td>
<td class="r">गजौ<div>gajau</div></td>
<td class="y">गजाः<div>gajāḥ</div></td>
</tr><tr><th>Case 2 (object)</th>
<td>गजम्<div>gajam</div></td>
<td class="r">गजौ<div>gajau</div></td>
<td>गजान्<div>gajān</div></td>
</tr><tr class="hl"><th>Case 3 ("with")</th>
<td>गजेन<div>gajena</div></td>
<td></td><td></td>
</tr><tr class="hl"><th>Case 4 ("for")</th>
<td>गजाय<div>gajāya</div></td>
<td></td><td></td>
</tr><tr class="hl"><th>Case 5 ("from")</th>
<td>गजात्<div>gajāt</div></td>
<td></td><td></td>
</tr><tr><th>Case 6 ("of")</th>
<td>गजस्य<div>gajasya</div></td>
<td>गजयोः<div>gajayoḥ</div></td>
<td>गजानाम्<div>gajānām</div></td>
</tr><tr class="hl"><th>Case 7 ("in")</th>
<td>गजे<div>gaje</div></td>
<td></td><td></td>
</tr><tr><th>Case 8 (address)</th>
<td>गज<div>gaja</div></td>
<td class="r">गजौ<div>gajau</div></td>
<td class="y">गजाः<div>gajāḥ</div></td>
</tr>
</table>
<p>The singular forms of the eight cases are all very common, and they are worth memorizing well. But the other endings are much less common, so we can ignore them for the time being.</p>
{% endblock %}

