{% extends 'base-grammar.html' %}

{% block title %}Numbers{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/ends">Odds and Ends</a> »</li>
<li>Numbers</li>
</ul>
{% endblock %}

{% block content %}

<h1>Numbers</h1>
<h2>Introduction</h2>
<p>In almost all language courses, a student learn to count almost before he can count. But although this approach is useful in other languages, it is not as valuable for Sanskrit. Sanskrit numbers are not very common. So far, it has not been worth our time to study their complex behavior. But now that we've studied all of the larger issues in Sanskrit, we might as well study them now.</p>
<p>We will cover the Sanskrit numbers in four lessons. The first lesson <strong>introduces</strong> the numbers and show how they're formed. The second discusses so-called <strong>"ordinal"</strong> numbers, which are words like "first," "second," and so on. The third lesson provides the <strong>inflections</strong> for the Sanskrit numbers. Finally, the fourth lesson introduces some <strong>"big" numbers</strong> that let us count up to one hundred billion.</p>
{% endblock %}

