{% extends 'base-grammar.html' %}

{% block title %}Combinations{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/sounds">Sounds</a> »</li>
<li><a href="/sounds/consonants">Consonants</a> »</li>
<li>Combinations</li>
</ul>
{% endblock %}

{% block content %}

<h1>Combinations</h1>
<p class="note box">This lesson is only for those who want to pronounce Sanskrit authentically. If that is not your concern, you can skip this lesson.</p>
<p>Certain combinations of sounds aren't pronounced as you might expect. This short lesson discusses some of the combinations that often confuse new students of Sanskrit. Once you finish this lesson, your Sanskrit pronunciation will be quite good!</p>
<table class="blue">
<tr><th>Letter</th><th>Pronounciation</th><th>Example</th></tr>
<tr><td class="big" lang="sa">jña</td><td>something like "gnya"</td><td><div class="audio"><audio controls="" src="/static/audio/jna.OGG"><embed autoplay="false" height="20" src="/static/audio/jna.wav" width="200"/></audio><p></p></div>
</td></tr>
<tr><td class="big" lang="sa">hma, hna</td><td lang="sa">mha, nha</td><td><div class="audio"><audio controls="" src="/static/audio/hma.OGG"><embed autoplay="false" height="20" src="/static/audio/hma.wav" width="200"/></audio><p></p></div>
</td></tr>
</table>
<p>Not all Sanskrit speakers pronounce these combinations this way. But, these pronunciations are the most common.</p>
{% endblock %}

