{% extends 'guide/unit.html' %}

{% block article %}
<p>This unit explores Sanskrit verbs in more detail. We learn where verbs come from, what they can do, and how we can use them to create new words. The concepts here are extremely powerful, and they help to make Sanskrit a special and fascinating language. So be sure to <em>go slowly</em> through these lessons and take your time on the examples.</p>

<p>{% include 'guide/include/error-msg.html' %}</p>

{% include 'guide/include/start-unit.html' %}
{% endblock %}
