{% if not standalone %}{% extends 'guide/lesson.html' %}{% endif %}

{% block lesson %}
<p>Although this unit focuses on roots and verbs, we should also spend some time on nouns and adjectives. After all, our pool of nouns is still quite small. And there are only so many sentences we can write about a {{ 'nara'|i }} in a {{ 'grAma'|i }} with an {{ 'azva'|i }} before we start getting tired.</p>

<p>For now, let's learn three new nouns:</p>

<ul class="examples">
    {{ ex('phalam icchanti gajAH', 'The elephants want the fruit.') }}
    {{ hex('phalair vinA narA grAmaM gacchanti', 'The men go to the village without the fruits.') }}
    {{ ex('vane zRNomi gajAn', 'I hear elephants in the forest.') }}
    {{ hex('siMho kRSNagajair vaneSu tiSThati ', 'The lion stands with the black elephants among the forests.') }}
    {{ ex('nagarAd gacchanti sundarA narAH', 'Handsome men come from the city.') }}
    {{ hex('gRhe narAH phalam corayanti', 'The men steal the fruit in the house.') }}
</ul>

<p>These nouns behave just like the ones we have already seen. But let us test these words a little more:</p>

<ul class="examples">
    {{ ex('narasya putro bhavati', 'The man has a son. (Literally, "Of the man, there is a son.")') }}
    {{ ex('narasya <mark>phalam</mark> asti', 'The man has a fruit.') }}
    {{ ex('nagare <mark>phalaM</mark> tiSThati', 'A fruit stands in the city.') }}
    {{ ex('azvau pazyAmi', 'I see two horses.') }}
    {{ ex('<mark>phale</mark> labhadhve', 'You all obtain the two fruits.') }}
    {{ ex('<mark>phale</mark> icchataH', 'The two of them want two fruits.') }}
    {{ ex('gajAn pazyasi', 'You see elephants.') }}
    {{ ex('<mark>phalAni</mark> labhAvahe', 'The two of us obtain fruits.') }}
    {{ ex('<mark>phalAni</mark> pazyAmaH', 'We see the fruits.') }}
</ul>

<p>Now our sentences are more interesting. Even though {{ 'phala'|i }} and {{ 'nara'|i }} both end in {{ 'a'|i }}, these nouns seem to use different endings. Why does this happen?</p>

<h2>Gender</h2>
<p>Nouns have two main properties. The first is the noun <dfn>case</dfn>, which defines the role that the noun plays in some action. The second is the <dfn>number</dfn> of things that the noun refers to. We can use these two properties to describe all of the nouns that we have seen so far:</p>

<ul class="examples">
    {{ ex('gajena', 'with the elephant (case 3, refers to one thing)') }}
    {{ ex('narayoH', 'of the two men (case 6, refers to two things)') }}
    {{ ex('grAmebhyaH', 'from the villages (case 5, refers to many thing)') }}
</ul>

<p>But nouns have a third property, which is called <dfn>gender</dfn>. In one sense, Sanskrit gender is like the genders we have in real life. So we have <dfn>masculine</dfn> nouns for male things:</p>

<ul class="examples">
    {{ ex("bAlo 'zvaM corayati", 'The boy steals the horse.') }}
    {{ ex('gajaH pazyati', 'The (male) elephant sees.') }}
</ul>

<p><dfn>feminine</dfn> nouns for female things:</p>

<ul class="examples">
    {{ ex('bAlA pacati', 'The girl cooks.') }}
    {{ ex('gajA pazyati', 'The (female) elephant sees.') }}
</ul>

<p>and <dfn>neuter</dfn> nouns for everything else:</p>

<ul class="examples">
    {{ ex('grAme zvetaM phalaM bhavati', 'There is a white fruit in the village.') }}
    {{ ex('gacchasi nagare sundare', 'You go to the two cities.') }}
    {{ ex('kRSNeSu vaneSu carAmaH', 'We walk in the black forests.') }}
</ul>


<p>But in another sense, a noun's gender is arbitrary.</p>

<p>From these examples, we see that a noun has a basic stem, like {{ 'gaja'|i }} ("elephant") or {{ 'bAla'|i }} ("child"), and that its endings specify the gender, case, and number of the full noun. We also see that adjectives must have the same gender, case, and number as the words they describe.</p>

<p>In addition to the above, we also have to keep two ideas in mind:</p>

<ul>
    <li><p>First, <strong>a noun stem cannot always use endings in any gender</strong>. {{ 'nara'|i }}, for example, is nearly always a <em>male</em> noun, and it never uses female endings.</p></li>

    <li><p>Second, <strong>gender does not always make sense</strong>. Why is {{ 'grAma'|i }} male when {{ 'nagara'|i }} and {{ 'vana'|i }} are neuter? There is no good answer. And it is often the case that words have certain genders solely because of how they were created. Words that end in {{ 'tra'|i }}, for example, are usually neuter. And words that end in {{ 'ana'|i }} are usually neuter too.</p></li>
</ul>

<p>This means that gender is not intuitive. When we learn a new word like {{ 'nagara'|i }}, we can only understand it if we know what genders it uses. And these genders do not always correspond to something that makes sense in the real world.</p>

<h2>Back to neuter nouns</h2>
<p>The examples above show how much the <em>gender</em> of a noun can change the endings it uses. But fortunately, the masculine endings and neuter endings are almost identical. They differ in case 1, case 2, and case 8</p>

{{ nominal('Pala', 'n', cases='128') }}

<p>These three cases use almost exactly the same endings. Most neuter nouns have this property.</p>

<p>All other cases are identical to the cases for male nouns like {{ 'gaja'|i }}, {{ 'nara'|i }}, and {{ 'grAma'|i }}:</p>

{{ nominal('Pala', 'n', cases='34567') }}

<h2>Ambiguities</h2>

<p>Since neuter endings reuse many of the same endings, they might seem especially confusing. But this is almost never a problem. Consider that neuter nouns tend to refer to inanimate things, like objects:</p>

<ul class="examples">
    {{ hex('phalaM labhase', 'You obtain the fruit.') }}
</ul>

<p>and concepts:</p>

<ul class="examples">
    {{ ex('nimittaM pazyati', 'He sees an omen.') }}
</ul>

<p>So we can rule out case 8, which usually sounds ridiculous:</p>

<ul class="examples">
    {{ ex('sundarANi kadalIphalAni gacchAmi', 'O beautiful bananas, I am going.') }}
</ul>
</ul>

<p>And with most of the verbs we have seen so far, case 1 is equally ridiculous:</p>

<ul class="examples">
    {{ ex('vanaM pazyati', 'The forest is watching.') }}
    {{ ex('nagaraM carati', 'The city walks.') }}
</ul>

<p>Instead, neuter nouns are usually used in cases 2 through 7:</p>

<ul class="examples">
    {{ hex('vanaM pazyati', 'He sees the forest.') }}
    {{ hex('nagare phalaM krINAsi', 'You buy the fruit in the city.') }}
    {{ hex('devAnAM vanAni rakSati', 'He protects the forests of the gods.') }}
    {{ hex('sundarAn nagarAc carati', 'He walks from the beautiful city.') }}
    {{ hex('zvetAni phalAnIcchanti', 'They want the white fruits.') }}
</ul>

<h3>Non-ambiguity</h3>
<p>Usually, vowels blend together:</p>

<ul class="examples">
    {{ ex('nareNAzvaM krINAmi', 'I buy the horse with the man.') }}
    {{ ex('phalAnIcchAmi', 'I want the fruits.') }}
    {{ ex('grAma icchasi', 'You want in the village.') }}
</ul>

<p>But some vowels are <dfn>exempt</dfn> from sandhi changes. That is, they cause no sandhi changes and are unchanged by sandhi.</p>

<p>When {{ 'e'|i }} ends a word that refers to <em>exactly two</em> things, it is exempt:</p>

<ul class="examples">
    {{ hex('nagara icchanti', 'They want in the two cities.') }}
    {{ hex('nagare icchanti', 'They want the two cities.') }}
</ul>

<p>This applies to verbs, too:</p>

<ul class="examples">
    {{ hex("labhe 'zvam", 'I obtain the horse.') }}
    {{ hex('labhAvahe azvam', 'The two of us obtain the horse.') }}
    {{ hex("labhate 'zvam", 'He obtains the horse.') }}
    {{ hex('labhete azvam', 'The two of them obtain the horse.') }}
</ul>

<h2>In the wild</h2>
<p>Our goal is to read Sanskrit texts. So let's look at an example from the Bhagavad Gita. Here, the word {{ 'kezava'|i }} is a name of Krishna:</p>

<ul class="examples">
{{ ex('<mark>nimittAni ca pazyAmi</mark> viparItAni <mark>kezava</mark>', 'And I see terrible omens, Krishna.', cite='Bhagavad Gita 1.31') }}
</ul>

<p>Now that we have a good foundation in Sanskrit, every new lesson will unlock dozens of new words and phrases. And by the end of the unit, we will be able to read and understand many of the words in the Bhagavad Gita. In fact, we will study the word {{ 'viparItAni'|i }} in detail before the unit's done.</p>

{% endblock %}
