{% if not standalone %}{% extends 'guide/lesson.html' %}{% endif %}

{% block lesson %}
<p>Learning Sanskrit is like building a massive house. Our materials are the Sanskrit sounds, which we combine and blend to create stems, endings, words, and sentences. Our techniques are the rules of grammar, which have stayed simple so far. And our approach is still a practical one: build a basic shelter before expanding further.</p>

<p>Now we have built our foundation, and there are many ways to expand. But let's return to the humble verb, where we started our journey into Sanskrit:</p>

<ul class="examples">
    {{ ex('khAdanti', 'They eat.') }}
</ul>

<p>The verb is {{ 'khAdanti'|i }} and the stem is {{ 'khAda'|i }}. But there is more to see than just {{ 'khAda'|i }}:</p>

<ul class="examples">
    {{ ex('mRgAH <mark>khAdanti</mark>', 'The deer <mark>eat</mark>.') }}
    {{ ex('naraH <mark>khAdiSyati</mark>', 'The man <mark>will eat</mark>.') }}
    {{ ex('puruSaH <mark>khAdyate</mark>', 'The man <mark>is eaten</mark>.') }}
    {{ ex('pazyAmi mRgasya <mark>khAdakam</mark>', 'I see <mark>the eater</mark> of the deer.') }}
    {{ ex('siMhaH <mark>khAditaH</mark>', 'The lion <mark>has been eaten</mark>.') }}
    {{ ex('gajaH <mark>khAditvA</mark> gacchati', 'The elephant goes <mark>after eating</mark>.') }}
</ul>

<p>In all of these words we see something more subtle than the verb stem. It is a basic core that seems to endure. This is the <dfn>root</dfn>:</p>

<ul class="examples">
    {{ ex('khAd -> khAda -> khAdati', 'He eats.') }}
</ul>

<h2>Creating roots</h2>
<p>Just as a single tree trunk produces many branches and flowers, a single root produces many stems and words. But just as the base of the tree remains underground and hidden from view, so too is it difficult to tell what a root really is. In the forms above, the root is obviously {{ 'khAd'|i }}. But consider the forms below:</p>

<ul class="examples">
    {{ ex('vIrA <mark>jayanti</mark>', 'The heroes <mark>conquer</mark>.') }}
    {{ ex('putrau <mark>jeSyataH</mark>', 'The two sons <mark>will conquer</mark>.') }}
    {{ ex('grAmo <mark>jIyate</mark>', 'The village <mark>is conquered</mark>.') }}
    {{ ex('pazyAmi <mark>jayakam</mark>', 'I see <mark>the victor</mark>.') }}
    {{ ex('loko <mark>jitaH</mark>', 'The world <mark>has been conquered</mark>.') }}
    {{ ex('naro <mark>jitvA</mark> gacchati', 'The man goes <mark>after conquering</mark>.') }}
</ul>

<p>It is easy to think of a few possible roots. But consider the difficulties involved:</p>

<ol>
    <li>We must choose a single root that can produce {{ 'jay'|i }}, {{ 'je'|i }}, {{ 'jI'|i }}, and {{ 'ji'|i }}.</li>
    <li>We should make rules to explain how our root transforms into {{ 'jay'|i }}, {{ 'je'|i }}, {{ 'jI'|i }}, and {{ 'ji'|i }}.</li>
    <li>And these rules must be as consistent as possible across all roots and all of the stems that those roots produce.</li>
</ol>

<p>This is an enormous task. But fortunately, the grammarian Panini has done the work for us. Panini defined a full list of verb roots, which can let us know how Panini chose roots. And many of the rules of the Ashtadhyayi are concerned with transforming these roots into the words we really see.</p>

<p>Panini did not describe how he chose his roots. But by studying his list, we can create some simple guidelines. Here is one of them:</p>

<p class="rule">Roots should use simple vowels. We can then form stems by <em>strengthening</em> the vowel.</p>

<p>Here, we <dfn>strengthen</dfn> a vowel by <a href="{{ lesson_url('sounds', 'compound-vowels') }}">adding an {{ 'a'|i }} vowel to the front of it</a>.</p>

<p>With this guideline in mind, we can find a root for {{ 'jayati'|i }}:</p>

<ul class="examples">
    {{ ex('<mark>ji</mark> -> jayati', 'He conquers.') }}
</ul>

<p>Now consider the words below:</p>

<ul class="examples">
    {{ ex('azvA <mark>nayanti</mark>', 'The horses <mark>lead</mark>.') }}
    {{ ex('naro <mark>neSyati</mark>', 'The man <mark>will lead</mark>.') }}
    {{ ex('sundaro <mark>nIyate</mark>', 'The beautiful one <mark>is led</mark>.') }}
    {{ ex('rakSasi <mark>nAyakam</mark>', 'You protect <mark>the leader</mark>.') }}
    {{ ex('zvetagajo <mark>nItaH</mark>', 'The white elephant <mark>has been led</mark>.') }}
    {{ ex('naro <mark>nItvA</mark> mRgaM labhate', 'The man obtains a deer <mark>after leading</mark>.') }}
</ul>

<p>Here is another basic guideline:</p>

<p class="rule">Roots should contain as much useful information as possible.</p>

<p>With this guideline in mind, we can find a root for {{ 'nayati'|i }}:</p>

<ul class="examples">
    {{ ex('<mark>nI</mark> -> nayati', 'He leads.') }}
</ul>

<p>Finally, consider the words below:</p>

<ul class="examples">
    {{ ex('gRhebhyo <mark>gacchAmaH</mark>', 'We go from the houses.') }}
    {{ ex('naro <mark>gamiSyati</mark>', 'The man <mark>will go</mark>.') }}
    {{ ex('devo <mark>gamyate</mark>', 'The god <mark>is gone to</mark>.') }}
    {{ ex('pazyAvaH <mark>gamakam</mark>', 'The two of us see <mark>the indicator</mark>.') }}
    {{ ex('gRho <mark>gataH</mark>', 'The house <mark>has been gone to</mark>.') }}
    {{ ex('narA <mark>gatvA</mark> pacanti', 'The men cook <mark>after going</mark>.') }}
</ul>

<p>Here is one final guideline:</p>

<p class="rule">When there's no clear or simple pattern, roots should be something common.</p>

<p>With this in mind, we can find a root for {{ 'gacchati'|i }}:</p>

<ul class="examples">
    {{ ex('<mark>gam</mark> -> gacchati', 'He goes.') }}
</ul>

<h2>Irregular roots</h2>
<p>Sometimes, the words involved are too difficult to explain:</p>

<ul class="examples">
    {{ ex('<mark>tiSThanti</mark> vinA naraiH', '<mark>They stand</mark> without the men.') }}
    {{ ex('naraH <mark>sthAsyati</mark>', 'The man <mark>will stand</mark>.') }}
    {{ ex('naraH <mark>sthIyate</mark>', 'The man <mark>is stationed</mark>.') }}
    {{ ex('pazyAmi <mark>sthAnam</mark>', 'I see <mark>the place</mark>.') }}
    {{ ex('naraH <mark>sthitaH</mark>', 'The man <mark>is standing</mark>.') }}
    {{ ex('naro <mark>sthitvA</mark> zocati', 'The man grieves <mark>after standing</mark>.') }}
</ul>

<p>Forms like these exist because Sanskrit is an old language and we do not fully understand its early history. Panini coped with these forms by adding extra rules and exceptions. He defined the root of {{ 'tiSThati'|i }} like this:</p>

<ul class="examples">
    {{ ex('<mark>sthA</mark> -> tiSThati', 'stand -> He stands.') }}
</ul>

<p>But it would take too long to explain why, so let's leave the discussion here for now.</p>

<p>Some changes can also seem totally bizarre:</p>

<ul class="examples">
    {{ ex('kRSNAH <mark>pazyanti</mark>', 'The black ones <mark>see</mark>.') }}
    {{ ex('naro <mark>drakSyati</mark>', 'The man <mark>will see</mark>.') }}
    {{ ex('naro <mark>dRzyate</mark>', 'The man <mark>is seen</mark>.') }}
    {{ ex('corayAmi <mark>darzakAya</mark>', 'I steal for <mark>the one who sees</mark>.') }}
    {{ ex('naro <mark>dRSTaH</mark> zareSu', 'The man <mark>has been seen</mark> among the arrows.') }}
    {{ ex('devAnAM gajaM <mark>dRSTvA</mark> manye', 'I think <mark>after seeing</mark> the elephant of the gods.') }}
</ul>

<p>The roots here are {{ 'paz'|i }} and {{ 'dRz'|i }}. This is a strange case where two roots have started to complement each other. It's like two trees fusing into one. The convention is to refer to these two with just {{ 'dRz'|i }}:</p>

<ul class="examples">
    {{ ex('<mark>dRz</mark> -> pazyati', 'see -> He sees.') }}
</ul>

<p>Panini's system has some flaws, and it is not the only system available. But regardless of its imperfections, it has been <em>extremely</em> successful for thousands of years. All Sanskrit texts use it, and this guide will do the same.</p>

{% endblock %}
