{% if not standalone %}{% extends 'guide/lesson.html' %}{% endif %}

{% block lesson %}

<p>The previous lessons have prepared us to study the suffix <dfn>{{ 'ta'|i }}</dfn>, which is one of the most powerful root suffixes in the Sanskrit language. This {{ '-ta'|i }} suffix appears more than 500 times in the Bhagavad Gita, and it is common in the rest of the language too.</p>

<p>As with all suffixes, we need to know three things about {{ '-ta'|i }}: what the suffix means, what the suffix does, and how the suffix behaves. In all three, {{ '-ta'|i }} is interesting and complex. So it is important to study each of them carefully. In that spirit, this is a long lesson &mdash; but it is not a difficult one.</p>

<h2>What it means</h2>

<p>Let's start with a few simple examples:</p>

<ul class="examples">
    {{ ex('ji -> jita -> gajo <mark>jito</mark> nareNa', 'conquer -> conquered -> The elephant <mark>was conquered</mark> by the elephant.') }}
    {{ ex('nI -> nIta -> <mark>nItA</mark> azvA nagaram', 'lead -> led -> The horses <mark>were led</mark> to the city.') }}
    {{ ex('smR -> smRta -> phale grAme <mark>smRte</mark>', 'remember -> remembered -> The two fruits <mark>were remembered</mark> in the village.') }}
</ul>

<p>In each example, {{ '-ta'|i }} forms a word in the <dfn>past tense</dfn>, which describes events that have already occurred. Additionally, these events are stated <em>passively</em>. We know that the horses were led, but we don't know who led them; likewise, we know that the fruits were remembered, but we don't know who remembered them. For these reasons, words formed with {{ '-ta'|i }} are often called "past passive" words.</p>

<p>Also, note that the verbal sense of each word is very strong. None of these sentences have ordinary verbs, but we can understand these sentences without using such verbs. For this reason, words formed with {{ '-ta'|i }} are often called <dfn>verbal adjectives</dfn>. Like adjectives, these words have gender, case, and number. Like verbs, they express some action. Therefore, they have the properties of both verbs and adjectives.</p>

<p>You will sometimes see words formed with {{ '-ta'|i }} called "past passive participles." But this is a complicated term for a simple idea. Simply, {{ '-ta'|i }} creates verbal adjectives that are usually passive and usually in the past tense.</p>

<h3>Other senses</h3>
<p>Words formed with {{ '-ta'|i }} are almost always in the past tense. But they are not always passive. Roots that imply movement, like {{ 'gam'|i }}, form words with a non-passive sense. Likewise with roots that don't use objects (since these roots can't have a passive sense):</p>

<ul class="examples">
    {{ ex('azvo vanaM <mark>gataH</mark>', 'The horse <mark>has gone</mark> to the forest.') }}
    {{ ex('haMsA gRhe <mark>mRtAH</mark>', 'The geese <mark>have died</mark> in the house.') }}
</ul>

<p>{{ 'gata'|i }} is formed from {{ 'gam'|i }} in a slightly irregular way. We'll discuss how {{ 'gata'|i }} is created further below.</p>

<h3>Other uses</h3>
<p>When adjectives are used in the neuter gender by themselves (without another noun), they can become nouns in their own right. Such words are usually abstract and denote {{ 'bhAva'|i }}, just like {{ 'yoga'|i }} and many of the words created with the {{ '-a'|i }} suffix. We can apply this idea to {{ '-ta'|i }} as well:</p>

<ul class="examples">
    {{ ex('bhUtam', 'that which has existed; the material world; the past') }}
</ul>

<p>But there are more interesting examples too. Consider the root {{ 'kR'|i }}. We can combine it with {{ 'sam'|i }}, an {{ 'upasarga'|i }} that means something like "with" or "together." The result should be {{ '*saMkR'|i }}, but an {{ 's'|i }} is inserted irregularly to make {{ 'saMskR'|i }}. Then we just add {{ '-ta'|i }} and use the result as a neuter noun:</p>

<ul class="examples">
    {{ ex('sam + kR -> saMskR -> saMskRta -> saMskRtam', 'with/together + do -> make perfectly -> perfectly made -> that which is perfectly made; Sanskrit') }}
</ul>

<p>{{ '-ta'|i }} is so capable that it gives us the word "Sanskrit" itself.</p>

<h2>How it behaves</h2>
<p>The examples above are interesting and worthwhile. But to really understand the power of the {{ '-ta'|i }} suffix, we should look at some more complex examples. To start, let's look at this one:</p>

<ul class="examples">
    {{ ex('corA vIreNa <mark>jitaM</mark> grAmaM drakSyanti', 'The thieves will see the village that <mark>was conquered</mark> by the hero.') }}
</ul>

<p>The first example uses two "verbal" words: the {{ '-ta'|i }} word and an ordinary verb. Together, they create a sophisticated sentence. Note that {{ 'vIreNa'|i }} could be interpreted in one of two ways:</p>

<ul>
    <li>As a person who sees ("They will see the village with the hero.")</li>
    <li>As a person who conquers ("They will see the village conquered by the hero.")</li>
</ul>

<p>But since {{ 'vIreNa'|i }} is closer to {{ 'jitam'|i }} than to {{ 'drakSyanti'|i }}, we should interpret it with {{ 'jitam'|i }}: it was conquered <em>by the hero</em>. Even though {{ 'jitam'|i }} is a verbal adjective, its verbal sense is strong enough that it can be used with nouns of its own.</p>

<p>Let's look at a more complex example:</p>

<ul class="examples">
    {{ ex('gajena nagaraM <mark>nItasya</mark> siMhasya netraM sundaraM (bhavati)', 'The eye of the lion that <mark>was led</mark> to the village by the elephant is beautiful.') }}
</ul>

<p>This example is like the previous one. But now the {{ '-ta'|i }} word has two nouns ({{ 'gajena, nagaram'|i }}) instead of one ({{ 'vIreNa'|i }}).</p>

<p>Also, note how much clearer this Sanskrit sentence is than its English translation. If we are careless, we could accidentally interpret the English sentence to say that the <em>lion</em> is beautiful, or even the elephant. But in the Sanskrit sentence, the relationships are extremely clear. {{ '-ta'|i }} creates powerful words, but these words are still easy to understand.</p>

<p>This last example is a simpler one, but it's still worthwhile:</p>

<ul class="examples">
    {{ ex('naraH <mark>smRto</mark> bhaviSyati', 'The man will be remembered. (He will become one who <mark>is remembered</mark>.)') }}
</ul>

<p>By using {{ 'smRta'|i }} with a verb, we can create a new and complex idea.</p>

<h2>What it does</h2>

<p>{{ '-ta'|i }} is a powerful suffix, but its power comes at a cost: it can be tricky to add {{ '-ta'|i }} to roots. Certainly, we can do so easily if the root ends <em>in a vowel</em>, as in the examples above. But if the root ends <em>in a consonant</em>, the picture becomes more complex. Here, we will consider just a few of these complexities.</p>

<h3>Sandhi</h3>
<p><a href="{{ lesson_url('sounds', 'other-consonants') }}">We have already seen</a> that {{ 't'|i }} is a flexible consonant and that it blends easily. And since {{ '-ta'|i }} starts with a {{ 't'|i }}, it often causes all sorts of sandhi changes. There are too many to consider here, so let's look at just one type of change:</p>

<ul class="examples">
    {{ ex('dRz -> dRSTa', 'see -> seen, perceived') }}
    {{ ex('iS -> iSTa', 'want -> wanted, desired') }}
</ul>

<p>The first example is part of a familiar Sanskrit pattern:</p>

<p class="rule">"s" sounds tend to turn into {{ 'S'|i }} when they're next to consonants that use the tongue.</p>

<p>This is the same pattern that turns {{ '*drazsyati'|i }} into {{ 'drakSyati'|i }}. Note that we have intentionally stated this pattern in an imprecise way; the precise details are too troublesome to consider right now.</p>

<p>By normal principles of sandhi, {{ 'S'|i }} combines with {{ 't'|i }} to produce something that's easier to pronounce: {{ 'ST'|i }}, with both letters retroflexed. This is part of a larger Sanskrit pattern:</p>

<p class="rule">When a consonant is difficult to pronounce, it often becomes retroflexed.</p>

<p>Here, it is difficult to pronounce {{ 't'|i }} so soon after a retroflexed {{ 'S'|i }}. And as usual, we simply change {{ 't'|i }} to something easier.</p>

<h3>Roots ending in nasals</h3>

<p>Roots ending in nasals usually lose their nasal sound:</p>

<ul class="examples">
    {{ ex('gam -> gata', 'go -> gone') }}
    {{ ex('ram -> rata', 'enjoy, love -> enjoyed, loved') }}
    {{ ex('man -> mata', 'think -> thought, believed, imagined') }}
    {{ ex('tan -> tata', 'extend, pervade -> extended, pervaded') }}
</ul>

<p>{{ 'jan'|i }} is irregular:</p>

<ul class="examples">
    {{ ex('jan -> jAta', 'be born -> born, produced') }}
</ul>

<h3>Inserted {{ 'i'|i }}</h3>

<p>In the lesson on <a href="{{ lesson_url('roots', 'the-near-future') }}">the near future</a>, we saw that some future stems insert an {{ 'i'|i }} vowel between the root and the {{ 'sya'|i }} suffix:</p>

<ul class="examples">
    {{ ex('car -> cariSyati', 'walk -> He will walk.') }}
</ul>

<p>But the {{ '-ta'|i }} suffix uses this {{ 'i'|i }} vowel too:</p>

<ul class="examples">
    {{ ex('car -> carita', 'walk -> walked (to); acts, deeds, events', aside="Like {{ '-a'|i }}, {{ '-ta'|i }} has multiple meanings.") }}
</ul>

<p>How can we know whether a root uses an {{ 'i'|i }} vowel? To answer that question, let's step back for a moment and look at Sanskrit as a whole. In Sanskrit, there are <strong>two groups of suffixes</strong> that are used to create verbs and verbal adjectives:</p>

<ul>
    <li>Suffixes that are used to create stems in the present tense. These include {{ '-a'|i }}, {{ '-ya'|i }}, {{ '-aya'|i }}, {{ '-no'|i }}, {{ '-o'|i }}, {{ '-nA'|i }}, and a few others.</li>
    <li>All other verbal suffixes, including {{ '-sya'|i }} and {{ '-ta'|i }}</li>
</ul>

<p>Suffixes in this second group are allowed to use an inserted {{ 'i'|i }} sound. But it depends on the root. Some roots <em>never</em> use an inserted {{ 'i'|i }}:</p>

<ul class="examples">
    {{ ex('kR -> kRta', 'do -> done') }}
    {{ ex('gam -> gata', 'go -> gone') }}
    {{ ex('ji -> jita', 'conquer -> conquered') }}
    {{ ex('nI -> nIta', 'lead -> led') }}
</ul>

<p>Some roots <em>always</em> use an inserted {{ 'i'|i }}:</p>

<ul class="examples">
    {{ ex('zuc -> zucita', 'grieve -> grieved') }}
    {{ ex('khAd -> khAdita', 'eat -> eaten') }}
    {{ ex('rakS -> rakSita', 'protect -> protected') }}
</ul>

<p>And some roots <em>optionally</em> use an inserted {{ 'i'|i }}, although such roots are much rarer:</p>

<ul class="examples">
    {{ ex('dhRS -> dhRSTa', 'be bold -> bold, daring') }}
    {{ ex('dhRS -> dhRSita', 'be bold -> bold, daring') }}
</ul>

<p>Thus a root has four basic pieces of information:</p>

<ul>
    <li>one or more basic meanings, like "go" or "steal"</li>
    <li>one or more verb classes</li>
    <li>a tendency toward {{ 'parsmaipada'|i }} or {{ 'Atmanepada'|i }}, or both</li>
    <li>a tendency to always use {{ 'i'|i }}, never use it, or use it optionally.</li>
</ul>

<p>The first three are by human convention, and it's difficult or impossible to guess them. The use of {{ 'i'|i }} tends to follow some basic patterns, but these are best learned from experience.</p>

{% endblock %}
