{% extends 'base-grammar.html' %}

{% block title %}Exercises: Causal Verbs{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/verbs">Verbs</a> »</li>
<li><a href="/verbs/derived">Derived Verbs</a> »</li>
<li>Exercises: Causal Verbs</li>
</ul>
{% endblock %}

{% block content %}

<h1>Exercises: Causal verbs</h1>
<h2>Vocabulary</h2>
<div class="vocab">
<h3></h3>
<dl>
<dt></dt><dd></dd><dd></dd>
<dd><dl>
<dt></dt><dd></dd><dd></dd>
</dl></dd>
</dl>
</div>
<h2>Translation</h2>
<p>Translate from Sanskrit to English.</p>
<ul class="dev exercises">
<li>असतो मा सद्गमय ।<br/>
	तमसो मा ज्योतिर्गमय ।<br/>
	मृत्योर्मामृतं गमय ॥</li>
<li>यं हि न व्यथयन्त्येते पुरुषं पुरुषर्षभ । <br/>
	समदुःखसुखं धीरं सो ऽमृतत्वाय कल्पते ॥</li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>
<h2>Answers</h2>
<h3>Translation</h3>
<ul class="exercises">
<li>Lead me (cause me to go) from the unreal to the real.<br/>
	Lead me from darkness to light.<br/>
	Lead me from death to immortality. <cite>Bṛhadāraṇyaka Upaniṣad</cite>
<p>In recent years, different parts of Indian culture have become very popular in the West. The most popular of these is probably <span lang="sa">haṭha-yoga</span>, a set of physical exercises that Westerners have generally confused with actual <span lang="sa">yoga</span>. But other parts of Indian culture have become common too. For instance, it has become trendy to use Sanskrit verses in films and television shows. Filmmakers feel that this adds an "epic" feel to the music. In fact, the verse above <a href="http://www.youtube.com/watch?v=MYZBAmE7tT0">appears in a battle theme</a> for <a href="http://en.wikipedia.org/wiki/The_Matrix_Revolutions">The Matrix: Revolutions</a>, a 2003 science fiction film. Note that the pronunciation in the song is quite bad.</p></li>
<li>For, the man who is not brought to tremble by these, O Bull among Men [Arjuna],<br/>
	the wise one who is constant in joy and sorrow, is ready for for immortality. <cite>Bhagavad Gita 2.14</cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
</ul>

{% endblock %}

