{% extends 'base-grammar.html' %}

{% block title %}Voice and Aspiration{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/sounds">Sounds</a> »</li>
<li><a href="/sounds/consonants">Consonants</a> »</li>
<li>Voice and Aspiration</li>
</ul>
{% endblock %}

{% block content %}

<h1>Voice and Aspiration</h1>
<div class="floating image" style="width: 256px"><img alt="Points of Pronunciation" src="/static/img/points_of_pronunciation.png"/><p>The five points of pronunciation. This is an "inside" view of the mouth. The person in this image is looking left.</p></div>
<p>To reveiw, there are five points of pronunciation in Sanskrit:</p>
<ul>
<li>The <dfn style="color:#F00;">soft palate</dfn>. The soft palate is the fleshy region at the very back of the mouth.</li>
<li>The <dfn style="color:#F70;">hard palate</dfn>. The hard palate is the bony region on the top of the mouth.</li>
<li>The area behind the <dfn style="background:#FD0; color:#000;">hard bump</dfn> on the roof of the mouth. This bump sits behind the teeth.</li>
<li>The <dfn style="color:#0A0;">base of the teeth</dfn>.</li>
<li>The <dfn style="color:#06F;">lips</dfn>.</li>
</ul>
<p>For each point of pronunciation, we have <strong>four</strong> stops and one nasal. But for each of the points of pronunciation above, we only learned <strong>one</strong> stop consonant. How could these other three stop consonants be produced?</p>
<p>To start, we could consider whether the consonant is <dfn>voiced</dfn> or <dfn>unvoiced</dfn>. The letter "b" is voiced, but the letter "p" is not. The distinction between voiced and unvoiced consonants is a real and present part of English, and Sanskrit makes the same distinction. Thus <span lang="sa">tam</span> and <span lang="sa">dam</span> are separate words, just like "pail" and "bail" in English.</p>
<p>But Sanskrit does make a distinction that English does not. In Sanskrit, it matters whether a consonant is <dfn>aspirated</dfn> or <dfn>unaspirated</dfn>. Aspirated consonants are breathy and followed by an extra puff of air. (Compare the "g" in "log" to the "g" in "log house.") Native and near-native speakers of English can hear this distinction by comparing the "p" in "spit" — which is identical to the unaspirated Sanskrit sound <span lang="sa">pa</span> — to the "p" in "pit" — which is identical to the aspirated Sanskrit sound <span lang="sa">pha</span>. If an English speaker exchanges these two sounds, he can still be understood; but the same is not always true in Sanskrit.</p>
<p>For each of the <strong>5</strong> points of pronunciation, we have <strong>4</strong> stops and <strong>1</strong> nasal. This gives us a total of <strong>25</strong> stops and nasals.</p>
<h2>Soft palate consonants</h2>
<table class="clear blue">
<tr><th>Letter</th><th>Approximation</th><th>Example</th></tr>
<tr><td class="big" lang="sa">ka</td><td>"k" in "skill"</td><td><div class="audio"><audio controls="" src="/static/audio/ka.OGG"><embed autoplay="false" height="20" src="/static/audio/ka.wav" width="200"/></audio><p></p></div>
</td></tr>
<tr><td class="big" lang="sa">kha</td><td>"k" in "kill"</td><td><div class="audio"><audio controls="" src="/static/audio/kha.OGG"><embed autoplay="false" height="20" src="/static/audio/kha.wav" width="200"/></audio><p></p></div>
</td></tr>
<tr><td class="big" lang="sa">ga</td><td>"g" in "great"</td><td><div class="audio"><audio controls="" src="/static/audio/ga.OGG"><embed autoplay="false" height="20" src="/static/audio/ga.wav" width="200"/></audio><p></p></div>
</td></tr>
<tr><td class="big" lang="sa">gha</td><td>aspirated "g"</td><td><div class="audio"><audio controls="" src="/static/audio/gha.OGG"><embed autoplay="false" height="20" src="/static/audio/gha.wav" width="200"/></audio><p></p></div>
</td></tr>
<tr><td class="big" lang="sa">ṅa</td><td>"ng" in "lung"</td><td><div class="audio"><audio controls="" src="/static/audio/na_k.OGG"><embed autoplay="false" height="20" src="/static/audio/na_k.wav" width="200"/></audio><p></p></div>
</td></tr>
</table>
<p>Notice the order of terms here. The first two are unvoiced, and the rest are voiced; the second and fourth are aspirated, and the rest are unaspirated; and the last consonant is a nasal. If you are having trouble understanding the pattern, the table below might clear things up:</p>
<table class="blue">
<tr><th>Letter</th><th>Voiced?</th><th>Aspirated?</th><th>Nasal?</th></tr>
<tr><td lang="sa">ka</td><td class="r">No!</td><td class="r">No!</td><td class="r">No!</td></tr>
<tr><td lang="sa">kha</td><td class="r">No!</td><td class="g">Yes!</td><td class="r">No!</td></tr>
<tr><td lang="sa">ga</td><td class="g">Yes!</td><td class="r">No!</td><td class="r">No!</td></tr>
<tr><td lang="sa">gha</td><td class="g">Yes!</td><td class="g">Yes!</td><td class="r">No!</td></tr>
<tr><td lang="sa">ṅa</td><td class="g">Yes!</td><td class="r">No!</td><td class="g">Yes!</td></tr>
</table>
<h2>Hard palate consonants</h2>
<table class="blue">
<tr><th>Letter</th><th>Approximation</th><th>Example</th></tr>
<tr><td class="big" lang="sa">ca</td><td>---</td><td><div class="audio"><audio controls="" src="/static/audio/ca.OGG"><embed autoplay="false" height="20" src="/static/audio/ca.wav" width="200"/></audio><p></p></div>
</td></tr>
<tr><td class="big" lang="sa">cha</td><td>aspirated <span lang="sa">ca</span></td><td><div class="audio"><audio controls="" src="/static/audio/cha.OGG"><embed autoplay="false" height="20" src="/static/audio/cha.wav" width="200"/></audio><p></p></div>
</td></tr>
<tr><td class="big" lang="sa">ja</td><td>---</td><td><div class="audio"><audio controls="" src="/static/audio/ja.OGG"><embed autoplay="false" height="20" src="/static/audio/ja.wav" width="200"/></audio><p></p></div>
</td></tr>
<tr><td class="big" lang="sa">jha</td><td>aspirated <span lang="sa">ja</span></td><td><div class="audio"><audio controls="" src="/static/audio/jha.OGG"><embed autoplay="false" height="20" src="/static/audio/jha.wav" width="200"/></audio><p></p></div>
</td></tr>
<tr><td class="big" lang="sa">ña</td><td>---</td><td><div class="audio"><audio controls="" src="/static/audio/na_j.OGG"><embed autoplay="false" height="20" src="/static/audio/na_j.wav" width="200"/></audio><p></p></div>
</td></tr>
</table>
<h2>Retroflex Consonants</h2>
<table class="blue">
<tr><th>Letter</th><th>Approximation</th><th>Example</th></tr>
<tr><td class="big" lang="sa">ṭa</td><td>---</td><td><div class="audio"><audio controls="" src="/static/audio/ta1.OGG"><embed autoplay="false" height="20" src="/static/audio/ta1.wav" width="200"/></audio><p></p></div>
</td></tr>
<tr><td class="big" lang="sa">ṭha</td><td>aspirated <span lang="sa">ṭa</span></td><td><div class="audio"><audio controls="" src="/static/audio/tha1.OGG"><embed autoplay="false" height="20" src="/static/audio/tha1.wav" width="200"/></audio><p></p></div>
</td></tr>
<tr><td class="big" lang="sa">ḍa</td><td>---</td><td><div class="audio"><audio controls="" src="/static/audio/da1.OGG"><embed autoplay="false" height="20" src="/static/audio/da1.wav" width="200"/></audio><p></p></div>
</td></tr>
<tr><td class="big" lang="sa">ḍha</td><td>aspirated <span lang="sa">ḍa</span></td><td><div class="audio"><audio controls="" src="/static/audio/dha1.OGG"><embed autoplay="false" height="20" src="/static/audio/dha1.wav" width="200"/></audio><p></p></div>
</td></tr>
<tr><td class="big" lang="sa">ṇa</td><td>---</td><td><div class="audio"><audio controls="" src="/static/audio/na1.OGG"><embed autoplay="false" height="20" src="/static/audio/na1.wav" width="200"/></audio><p></p></div>
</td></tr>
</table>
<h2>Tooth Consonants</h2>
<table class="blue">
<tr><th>Letter</th><th>Approximation</th><th>Example</th></tr>
<tr><td class="big" lang="sa">ta</td><td>"th" in "thumb"</td><td><div class="audio"><audio controls="" src="/static/audio/ta.OGG"><embed autoplay="false" height="20" src="/static/audio/ta.wav" width="200"/></audio><p></p></div>
</td></tr>
<tr><td class="big" lang="sa">tha</td><td>aspirated <span lang="sa">ta</span></td><td><div class="audio"><audio controls="" src="/static/audio/tha.OGG"><embed autoplay="false" height="20" src="/static/audio/tha.wav" width="200"/></audio><p></p></div>
</td></tr>
<tr><td class="big" lang="sa">da</td><td>"th" in "the"</td><td><div class="audio"><audio controls="" src="/static/audio/da.OGG"><embed autoplay="false" height="20" src="/static/audio/da.wav" width="200"/></audio><p></p></div>
</td></tr>
<tr><td class="big" lang="sa">dha</td><td>aspirated <span lang="sa">da</span></td><td><div class="audio"><audio controls="" src="/static/audio/dha.OGG"><embed autoplay="false" height="20" src="/static/audio/dha.wav" width="200"/></audio><p></p></div>
</td></tr>
<tr><td class="big" lang="sa">na</td><td>"n" in "now"</td><td><div class="audio"><audio controls="" src="/static/audio/na.OGG"><embed autoplay="false" height="20" src="/static/audio/na.wav" width="200"/></audio><p></p></div>
</td></tr>
</table>
<h2>Lip Consonants</h2>
<table class="blue">
<tr><th>Letter</th><th>Approximation</th><th>Example</th></tr>
<tr><td class="big" lang="sa">pa</td><td>"p" in "spill"</td><td><div class="audio"><audio controls="" src="/static/audio/pa.OGG"><embed autoplay="false" height="20" src="/static/audio/pa.wav" width="200"/></audio><p></p></div>
</td></tr>
<tr><td class="big" lang="sa">pha</td><td>"p" in "pill"</td><td><div class="audio"><audio controls="" src="/static/audio/pha.OGG"><embed autoplay="false" height="20" src="/static/audio/pha.wav" width="200"/></audio><p></p></div>
</td></tr>
<tr><td class="big" lang="sa">ba</td><td>"b" in "bill"</td><td><div class="audio"><audio controls="" src="/static/audio/ba.OGG"><embed autoplay="false" height="20" src="/static/audio/ba.wav" width="200"/></audio><p></p></div>
</td></tr>
<tr><td class="big" lang="sa">bha</td><td>aspirated "b"</td><td><div class="audio"><audio controls="" src="/static/audio/bha.OGG"><embed autoplay="false" height="20" src="/static/audio/bha.wav" width="200"/></audio><p></p></div>
</td></tr>
<tr><td class="big" lang="sa">ma</td><td>"m" in "mail"</td><td><div class="audio"><audio controls="" src="/static/audio/ma.OGG"><embed autoplay="false" height="20" src="/static/audio/ma.wav" width="200"/></audio><p></p></div>
</td></tr>
</table>
<h2>The Alphabet</h2>
<p>The stops and nasals appear in the order listed above.</p>
<ul lang="sa" style="font-size: 1.5em;">
<li>a ā, i ī, u ū, ṛ ṝ, e ai, o au</li>
<li>ka kha ga gha ṅa</li>
<li>ca cha ja jha ña</li>
<li>ṭa ṭha ḍa ḍha ṇa</li>
<li>ta tha da dha na</li>
<li>pa pha ba bha ma</li>
</ul>
<h2>Review</h2>
<p>In this lesson, we've learned the following terms:</p>
<dl class="blue">
<dt class="title">Term</dt><dd class="title">Definition</dd>
<dt>voiced</dt><dd><strong>using the voice</strong>. <span lang="sa">g</span> is voiced, but <span lang="sa">k</span> is not.</dd>
<dt>unvoiced</dt><dd><strong>not voiced</strong>. <span lang="sa">k</span> is unvoiced, but <span lang="sa">g</span> is not.</dd>
<dt>aspirated</dt><dd>using an <strong>extra puff of air</strong>. This part of pronunciation may seem odd, but it occurs in English all the time. The "p" in "pit" is aspirated, but the "p" in "spit" is not.</dd>
<dt>unaspirated</dt><dd><strong>not aspirated</strong>. The "p" in "spit" is unaspirated, but the "p" in "pit" is not.</dd>
</dl>
<p>In addition, we finished our study of the stops and nasals. We can organize these consonants as follows:</p>
<table class="blue" lang="sa">
<tr><th>First</th><th>Second</th><th>Third</th><th>Fourth</th><th>Fifth</th></tr>
<tr class="big"><td>ka</td><td>kha</td><td>ga</td><td>gha</td><td>ṅa</td></tr>
<tr class="big"><td>ca</td><td>cha</td><td>ja</td><td>jha</td><td>ña</td></tr>
<tr class="big"><td>ṭa</td><td>ṭha</td><td>ḍa</td><td>ḍha</td><td>ṇa</td></tr>
<tr class="big"><td>ta</td><td>tha</td><td>da</td><td>dha</td><td>na</td></tr>
<tr class="big"><td>pa</td><td>pha</td><td>ba</td><td>bha</td><td>ma</td></tr>
</table>
<p class="fact box">This scheme is over 2800 years old.</p>
<p>In the next lesson, we will study eight more consonants. These consonants are produced by suppressing the flow of air.</p>
{% endblock %}

