{% extends 'base-text.html' %}
{% import 'guide/macros.html' as m %}

{% block header %}
<header class="tc index bg-dark-blue pb3">
{% include 'include/top-nav.html' %}
<p class="logo sa1 mb0 mt4">{{ 'OM'|d }}</p>
<h1 class="ma0 f3">{{ 'vyAkaraNa-pravezaH'|sa2 }}</h1>
<p class="mt0 f6">An introduction to traditional Sanskrit grammar</p>
</header>
{% endblock %}

{% block title %}{{ m.title('vyākaraṇa-praveśaḥ') }}{% endblock %}

{% block meta_description %}
<meta name="description" content="A clear and simple introduction to traditional Sanskrit grammar (vyākaraṇa)." />
{% endblock %}

{% block main %}
<div style="width: 100%">
  <article class="mt4 mb5 pa2 readable">
<p>This guide is a step-by-step introduction to traditional Sanskrit grammar ({{
'vyAkaraNa'|sa2 }}). We expose the heart of the traditional system and show how
it generates valid Sanskrit expressions.</p>

{% set url = url_for('static', filename='pdf/vyakarana.pdf') %}
{% set ml = config.MAILING_LIST_URL %}
<p>You can download this guide as a PDF <a href="{{url}}">here</a>.</p>

<p>Last updated on {{ last_updated }}. <a href="{{ ml }}" target="_blank">Join
    our mailing list</a> for updates.</p>


{% for topic in guide.topics %}
{{ m.topic(topic, loop.index0) }}
{% endfor %}

  </article>
</div>
{% endblock %}
