{% extends 'base-grammar.html' %}

{% block title %}Noun Basics{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/start">Starting Out</a> »</li>
<li>Noun Basics</li>
</ul>
{% endblock %}

{% block content %}

<h1>Noun Basics</h1>
<h2>Introduction</h2>
<p>Congratulations! You've made it through the basics of Sanskrit verbs. Now you can say complete sentences in Sanskrit. Unfortunately, they're not very <em>good</em> sentences. We can describe an action, but we're missing our <span class="x">subjects</span> and <span class="x">objects</span>. Without subjects and objects, a simple sentence like <span lang="sa">gacchati</span> could mean millions of different things based on the situation. We need a way to actually talk about <strong>things</strong>.</p>
<p>We can't refer to these things with the term "thing" because the word is too easily confused with other meanings. For that reason, let's use a more technical term and call these "things" <dfn>nouns</dfn>. Nouns are words that refer to people, creatures, locations, objects, and concepts. The word "noun" comes from the same word that gives us our English "name" and "nomenclature." Essentially, a noun is <strong>something can be named</strong>.</p>
<h2>Our First Sanskrit Noun</h2>
<p>Let's look at our first Sanskrit noun.</p>
<ul class="examples">
<li><p class="dev"><strong>गजः</strong> गच्छति</p>
<p lang="sa"><strong>gajaḥ</strong> gacchati</p>
<p><strong>The elephant</strong> goes.</p>
</li></ul>
<p>Take the time to pronounce this correctly. The syllable pattern for the entire sentence is "light, heavy, heavy, light, light." (<span lang="sa"><span class="g">ga</span><span class="r">jaḥ</span> <span class="r">gac</span><span class="g">cha</span><span class="g">ti</span></span>). The <span lang="sa">ḥ</span>-sound, which is called the <span class="x" lang="sa">visarga</span>, is pronounced one of two ways: either like the "h" in "house," or as a softer echo of the vowel in front of it, like the English "huh."</p>
<h2>Endings, Stems, and Noun Number</h2>
<p>Now, what do we notice about this word? Well, we can't see very much with just this one noun, so let's bring in one more for comparison.</p>
<ul class="examples">
<li><p class="dev"><strong>गजाः</strong> गच्छन्ति</p>
<p lang="sa"><strong>gajāḥ</strong> gacchanti</p>
<p><strong>The elephants</strong> go.</p>
</li></ul>
<p>Now we notice something! The ending of the noun has changed. Appropriately, this ending is called the <dfn>ending</dfn>, just like the verb endings we discussed in the previous chapter.</p>
<p>Just as with verb endings, noun endings are attached to a "base" form. For nouns, this base is called the <dfn>stem</dfn>, just like the verb stems we discussed in the previous chapter. For example, the stem of the noun above is <span lang="sa">gaja</span>. The stem is the most fundamental part of a noun; there is no such thing as a noun "root."</p>
<p>Note that the ending of the noun changed when the <dfn>number</dfn> of the noun changed. Nouns have number, just like verbs.</p>
<h3>Agreement</h3>
<p>We can also see that the noun and the verb have the <strong>same number</strong>. This is because both the noun and the verb make reference to the same entity. That is, the word <span lang="sa">gajāḥ</span> is not <em>literally</em> an elephant (or else Sanskrit would be a very dangerous language indeed)! Instead <span lang="sa">gajāḥ</span> just <em>refers to</em> an elephant. Likewise, the verb <span lang="sa">gacchanti</span> refers to the same entity by describing it as plural.</p>
<p>When two words refer to the same entity like this, they must have the same number. We can say that they <dfn>agree</dfn> in number. We can also say that they are in <dfn>agreement</dfn>. The subject of a sentence will always agree with the verb in number.</p>
<h2>Pronouns and Noun Person</h2>
<p>Now let's bring in another sentence:</p>
<ul class="examples">
<li><p class="dev"><strong>अहम्</strong> गच्छामि</p>
<p lang="sa"><strong>aham</strong> gacchāmi</p>
<p><strong>I</strong> go.</p>
</li></ul>
<p>What's changed? What's stayed the same?</p>
<p>The first thing we notice is that our subject is different. This word has the meaning of "I," which is part of a larger class of word like "he," "they," "you," and so on. These sorts of words can have person and number, but they can offer no further description. Such words are called <dfn>pronouns</dfn>. We say that <span lang="sa">aham</span> is a first-person pronoun.</p>
<p>We also see that our verb has changed. Here, the verb's person has changed to match the noun's person. The subject of a sentence will always agree with the verb in person.</p>
<h2>Gender</h2>
<p>So far, it seems that nouns are like verb in many ways:</p>
<ul>
<li>Both have a stem form, but this stem form is never used by itself.</li>
<li>Both add endings to the stem to create a usable and more meaningful word.</li>
<li>Both have three grammatical numbers (singular, dual, plural).</li>
<li>Both have three grammatical persons (first, second, third).</li>
</ul>
<p>But nouns have some qualities that verbs do not. Let's look at one of those qualities. Consider the two examples below:</p>
<ul class="examples">
<li><p class="dev"><strong>बालः</strong> गच्छति</p>
<p lang="sa"><strong>bālaḥ</strong> gacchati</p>
<p><strong>The boy</strong> goes.</p>
<li><p class="dev"><strong>बाला</strong> गच्छति</p>
<p lang="sa"><strong>bālā</strong> gacchati</p>
<p><strong>The girl</strong> goes.</p>
</li></li></ul>
<p>Let's compare the first sentence to the second. By doing so, we see that the ending changes. We also see that the meaning has changed, too. In the first sentence, we have "boy," and in the second, we have "girl." What has changed? We say that the <dfn>gender</dfn> of the noun has changed. Most pronouns have gender, but not all of them do.</p>
<p>But maybe "gender" is an unfamiliar concept. Let's look at "gender" in English. We have three genders in English, and you can see all of them in the examples below.</p>
<ul class="examples">
<li>This is a man. <strong>He</strong> is tall.</li>
<li>This is a woman. <strong>She</strong> is tall.</li>
<li>This is a tree. <strong>It</strong> is tall.</li>
</ul>
<p>In English, we use "he" for male beings, so "he" is called a <dfn>masculine</dfn> pronoun. We use "she" for female beings, so "she" is called a <dfn>feminine</dfn> pronoun. We use "it" for everything else, so "it" is called a <dfn>neuter</dfn> pronoun. This is the full extent of gender in English.</p>
<p>Sanskrit also has these three genders, but they are used in much more complicated ways. Some nouns have genders that make sense — "man" is a masculine noun, "woman" is a feminine noun, and so on — but other nouns have genders that don't make much sense at all. "Fruit" is neuter, but "tree" is masculine! "City" is neuter, but "village" is masculine! "Army" and "knowledge" are feminine, but "action" is neuter! In truth, most nouns take a certain gender by default, and we cannot guess a noun's gender just by looking at a noun's meaning. So, we must learn both the noun's stem and the noun's gender to use it correctly. Fortunately, a noun's stem often gives us enough information to determine the gender.</p>
<div class="fact box">
<p>In Sanskrit, the gender is called the <dfn>liṅga</dfn>, meaning "sign" or "gender." The Sanskrit terms for the three genders are below.</p>
<ul>
<li><span lang="sa">puṃliṅga</span> ("masculine")</li>
<li><span lang="sa">strīliṅga</span> ("feminine")</li>
<li><span lang="sa">napuṃsakaliṅga</span> ("neuter")</li>
</ul>
<p>Notice that the Sanskrit terms have the same meanings as their English counterparts. This shows that the notion of words having "gender" is cross-cultural. So, "gender" isn't just some artificial grammatical concept; it's a real part of English and Sanskrit!</p>
</div>
<h2>Grammatical Case</h2>
<p>Let's look at one more sentence.</p>
<ul class="examples">
<li><p class="dev">गजः <strong>बालम्</strong> गच्छति</p>
<p lang="sa">gajaḥ <strong>bālam</strong> gacchati</p>
<p>The elephant goes <strong>to the boy</strong>.</p></li>
</ul>
<p>What's changed? What's stayed the same?</p>
<p>This sentence has two nouns. However, the two nouns don't work in the same way. The first noun (<span lang="sa">gajaḥ</span>) is the subject of the sentence. The second noun (<span lang="sa">bālam</span>) is something else. It's like a destination. We say that this is a change in the noun's <dfn>grammatical case</dfn>, or just <dfn>case</dfn> for short. Sanskrit nouns have eight different cases, and each modifies the role that the noun plays in the sentence. Just like nouns, pronouns have grammatical case.</p>
<p>You can see some other cases in the sentences below:</p>
<ul class="examples">
<li><p class="dev">गजः <strong>बालेन</strong> गच्छति</p>
<p lang="sa">gajaḥ <strong>bālena</strong> gacchati</p>
<p>The elephant goes <strong>with the boy</strong>.</p>
</li>
<li><p class="dev">गजः <strong>बालाय</strong> गच्छति</p>
<p lang="sa">gajaḥ <strong>bālāya</strong> gacchati</p>
<p>The elephant goes <strong>for the boy</strong>.</p>
</li>
<li><p class="dev">गजः <strong>बालात्</strong> गच्छति</p>
<p lang="sa">gajaḥ <strong>bālāt</strong> gacchati</p>
<p>The elephant goes <strong>from the boy</strong>.</p>
</li>
</ul>
<h2>Review</h2>
<p>In this lesson, we've learned the following terms:</p>
<dl class="blue">
<dt class="title">Term</dt><dd class="title">Definition</dd>
<dt>noun</dt><dd>Something that <strong>can be named</strong>. In other words, a "thing": a person, creature, location, object, concept, and so on.</dd>
<dt>noun ending</dt><dd>A basic part of the Sanskrit noun. The ending is <strong>attached to the end</strong> of the noun stem, and it contains information about the noun's number and case.</dd>
<dt>noun stem</dt><dd>A basic part of the Sanskrit noun. We <strong>add endings to it</strong> to produce a full and usable noun.</dd>
<dt>agree</dt><dd>When an idea is <strong>referred to by multiple words</strong> and these two words <strong>match</strong> in some way, they are said to agree. For example, two words agree in number if they have the same number and refer to the same entity.</dd>
<dt>agreement</dt><dd>The <strong>quality of agreeing</strong> with something.</dd>
<dt>gender</dt><dd>A vague concept. In one sense, it refers to <strong>biological gender</strong>. In another, it refers to <strong>grammatical behavior</strong>. It sometimes defies expectations.</dd>
<dt>masculine gender</dt><dd>The "male" gender.</dd>
<dt>feminine gender</dt><dd>The "female" gender.</dd>
<dt>neuter gender</dt><dd>The "non-female and non-male" gender.</dd>
<dt>grammatical case</dt><dd>a quality that <strong>describes a noun's role in the sentence</strong>. There are eight of them.</dd>
<dt>pronoun</dt><dd>A word that has <strong>person, gender, case, number, and nothing else</strong>.</dd>
</dl>
<p>Okay, let's start studying the Sanskrit nouns! We'll stick to nouns whose stems end in <span lang="sa">-a</span>, and we'll talk about four of these cases in detail.</p>
{% endblock %}

