{% extends 'base-grammar.html' %}

{% block title %}First, Second, etc.{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/ends">Odds and Ends</a> »</li>
<li><a href="/ends/numbers">Numbers</a> »</li>
<li>First, Second, etc.</li>
</ul>
{% endblock %}

{% block content %}

<h1>First, Second, etc.</h1>
<p>Now that you're familiar with Sanskrit numbers, we can study words like "first" and "second." These words are derived from the numbers we just saw, and they are used as adjectives.</p>
<h2>First to Tenth</h2>
<dl class="vocab">
<dt>प्रथम</dt><dd>mf(ā)n</dd><dd>first</dd>
<dt>द्वितीय</dt><dd>mf(ā)n</dd><dd>second</dd>
<dt>तृतीय</dt><dd>mf(ā)n</dd><dd>third</dd>
<dt>चतुर्थ</dt><dd>mf(ī)n</dd><dd>fourth</dd>
<dt>पञ्चम</dt><dd>mf(ī)n</dd><dd>fifth</dd>
<dt>षष्ठ</dt><dd>mf(ī)n</dd><dd>sixth</dd>
<dt>सप्तथ</dt><dd>mf(ī)n</dd><dd>seventh</dd>
<dt>अष्टम</dt><dd>mf(ī)n</dd><dd>eighth</dd>
<dt>सवम</dt><dd>mf(ī)n</dd><dd>ninth</dd>
<dt>दशम</dt><dd>mf(ī)n</dd><dd>tenth</dd>
</dl>
<p>As mentioned above, these numbers are used as adjectives. These words are often used to number the chapters of a work:</p>
<ul class="sa examples">
<li><p class="dev">अथ प्रथमो ऽध्यायः । अर्जुनविषादयोगः</p>
<p lang="sa">atha prathamo 'dhyāyaḥ । arjuna-viṣāda-yogaḥ</p>
<p>Now starts the first chapter : the yoga of Arjuna's despair</p></li>
</ul>
<p class="note box">In English, the words from "fourth" onward mostly use "-th", but the words from "first" to "third" do not. In the same way, the words from "fourth" onward use <span lang="sa">ī</span> for the feminine, but the words from "first" to "third" do not. This correspondence is a coincidence, but it's a useful way to remember which consonants use <span lang="sa">ī</span> in the feminine.</p>
<h2>11<sup>th</sup> to 19<sup>th</sup></h2>
<p>The number remains the same. It is inflected like a noun ending in <span lang="sa">-a</span>. The feminine uses <span lang="sa">ī</span>.</p>
<ul class="sa examples">
<li><p class="dev">अथ षोडशो ऽध्यायः । दैवासुरसम्पद्विभागयोगः</p>
<p lang="sa">atha ṣoḍaśo 'dhyāyaḥ । daiva-asura-sampad-vibhāga-yogaḥ</p>
<p>Now starts the sixteenth chapter : the yoga of the division between divine and demonic fates</p></li>
</ul>
<h2>20<sup>th</sup> to 99<sup>th</sup></h2>
<p>The number either has <span lang="sa">tama</span> added to the end of it or is "contracted" to a shorter form.</p>
<ul class="sa examples">
<li><p class="dev">द्वाविंशतितम</p>
<p lang="sa">dvāviṃśatitama</p>
<p>twenty-second</p></li>
<li><p class="dev">एकविंश, चतुस्त्रिंश, नवचत्वारिंश, अष्टापञ्चाश, द्वाषष्ट, सप्तसप्तत, पञ्चाशीत, षड्णवत</p>
<p lang="sa">ekaviṃśa, catustriṃśa, navacatvāriṃśa, aṣṭāpañcāśa, dvāṣaṣṭa, saptasaptata, pañcāśīta, ṣaḍṇavata</p>
<p>twenty-first, thirty-fourth, forty-ninth, fifty-eighth, sixty-second, seventy-seventh, eighty-fifth, ninety-sixth</p></li>
</ul>
<h2>100<sup>th</sup> onward</h2>
<p>The number either has <span lang="sa">tama</span> added to the end of it or remains the same.</p>
{% endblock %}

