<h1>Preface to the print edition</h1>

<p>This is the print edition of the <cite>Sanskrit for Beginners</cite> guide
hosted at <code>learnsanskrit.org</code>. We generated this PDF document on {{
last_updated }} by processing our website with a special program.</p>

<p>This PDF contains all of the same content that our website does. Although
PDFs are less interactive than a standard web page, they are easier to print or
to use with e-readers or similar devices. We hope that you find this PDF useful
for your needs.</p>

<p>If you have any questions or comments about the material, please reach out
to us at <code>learnsanskrit.org/contact</code>.</p>
