<h1>Preface to the print edition</h1>

<p>This is the print edition of the <cite>Sanskrit for Beginners</cite> guide
from <code>learnsanskrit.org</code>. We generated this PDF document on {{
last_updated }} by converting our web pages to the PDF format with a special
program.</p>

<p>This PDF contains all of the same content that our website does. Although
PDFs are less interactive than a standard web page, they are easier to print or
to use with e-readers or similar devices. We hope you find this PDF useful for
your needs.</p>

<p>We are more familiar with web design and are not sure how to generate this
PDF using the current best practices. If you have any advice you can offer,
please reach out to us by using the contact form on our website.</p>

