{% extends 'base-grammar.html' %}

{% block title %}Exercises: The Other Cases{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/start">Starting Out</a> »</li>
<li><a href="/start/nouns">Noun Basics</a> »</li>
<li>Exercises: The Other Cases</li>
</ul>
{% endblock %}

{% block content %}

<h1>Exercises: The Other Cases</h1>
<h2>Vocabulary</h2>
<h3>Names</h3>
<dl class="vocab">
<dt>राम <div lang="sa">rāma</div></dt><dd>m</dd><dd><a href="http://en.wikipedia.org/wiki/Rama">Rama</a></dd>
<dt>कृष्ण <div lang="sa">kṛṣṇa</div></dt><dd>m</dd><dd>black; <a href="http://en.wikipedia.org/wiki/Krishna">Krishna</a></dd>
<dd class="desc">
<p>The word for Krishna, likely the most popular figure in Hinduism, is the same as the word for the color black. This is no coincidence! Krishna is consistently described as "dark as a storm cloud," alluding to his dark complexion. Today, many depictions of Krishna show him with either light blue or tan skin, but black-skinned versions can still be found in some places.</p>
</dd>
<dt>अर्जुन <div lang="sa">arjuna</div></dt><dd>m</dd><dd>white, silvery, gleaming; <a href="http://en.wikipedia.org/wiki/Arjuna">Arjuna</a> [Argentina]</dd>
<dd class="desc">
<p>What do Arjuna and Argentina have in common? These two words, separated by oceans and thousands of years, are intimately related.</p>
<p>Let's consider Arjuna first. Although the word is most famous as the name of a character in one of the two great Indian epics, the word also means "white," "silvery," and "gleaming," as mentioned above. The word <span lang="sa">arjuna</span> is related to a few other Sanskrit words — including <span lang="sa">rajata</span>, meaning "silver" — but as we start to look outside of the realm of Sanskrit, we can discover some interesting connections.</p>
<p>Now let's fast-forward to the late 16th century, when Spanish conquistadors searched for the legendary "Sierra de la Plata," or the Silver Mountains, in South America. As they traveled, they came to a river between the modern-day countries of Argentina and Uruguay, and they named it the "Río de la Plata," or the Silver River, after the mythical mountains. A Spanish cleric who wrote about the river used a Latin name for the "Silver River" and called it <span lang="la">argentina</span>, or "that which is made of silver." The word comes from the Latin <span lang="la">argentum</span>, meaning "silver money," and ultimately comes from the Greek <span lang="la">argēeis</span> (ἀργήεις), meaning "silvery."</p>
<p>The name "Argentina" stuck, and the term was soon used to refer to the country next to it — the country that we call Argentina today.</p>
</dd>
</dl>
<h3>Body Parts</h3>
<dl class="vocab">
<dt>अङ्ग <div lang="sa">aṅga</div></dt><dd>n </dd><dd>limb; body</dd>
<dt>उदर <div lang="sa">udara</div></dt><dd>m</dd><dd>belly, stomach, waist</dd>
<dt>पाद <div lang="sa">pāda</div></dt><dd>m</dd><dd>foot</dd>
<dt>मुख <div lang="sa">mukha</div></dt><dd>n</dd><dd>mouth</dd>
<dt>हस्त <div lang="sa">hasta</div></dt><dd>m</dd><dd>hand</dd>
</dl>
<h3>Other</h3>
<dl class="vocab">
<dt>गगन<div lang="sa">gagana</div></dt><dd>n</dd><dd>sky, atmosphere</dd>
</dl>
<h2>Translation</h2>
<p>For reference, here are the endings we just studied:</p><table class="inflection">
<caption>-<span lang="sa">a</span> (masculine)</caption>
<tr><th class="stem">गज</th>
<th>Singular</th>
<th>Dual</th>
<th>Plural</th>
</tr><tr><th>Case 3 ("with")</th>
<td>गजेन<div>gajena</div></td>
<td></td><td></td>
</tr><tr><th>Case 4 ("for")</th>
<td>गजाय<div>gajāya</div></td>
<td></td><td></td>
</tr><tr><th>Case 5 ("from")</th>
<td>गजात्<div>gajāt</div></td>
<td></td><td></td>
</tr><tr><th>Case 7 ("in")</th>
<td>गजे<div>gaje</div></td>
<td></td><td></td>
</tr>
</table>
<p>Now, translate from English to Sanskrit. Leave words like "his" and "its" out of your translation; these words are usually left out when ownership is obvious.</p>
<ul class="drill exercises">
<li>The boy strikes the lion with his hand.</li>
<li>In the city, the man strikes the elephants with his foot.</li>
<li>You smile with your mouth.</li>
<li>The two of us are born in the village.</li>
<li>The hero thinks with his belly.</li>
<li>The sun goes from the village to the white sky.</li>
<li>The moon crosses the black sky.</li>
<li>Wolves walk from the goose to the rabbits.</li>
<li>Krishna sees the black horse.</li>
<li>Arjuna asks Krishna.</li>
</ul>
<h2>Answers</h2>
<h3>Translation</h3>
<ul class="drill exercises" lang="sa">
<li><p class="dev">बालो हस्तेन सिंहं तुदति</p><p>bālo hastena siṃhaṃ tudati</p></li>
<li><p class="dev">नगरे नरो गजान् पादेन तुदति</p><p>nagare naro gajān pādena tudati</p></li>
<li><p class="dev">त्वं मुखेन हससि</p><p>tvaṃ mukhena hasasi</p></li>
<li><p class="dev">आवां ग्रामे जायावहे</p><p>āvāṃ grāme jāyāvahe</p></li>
<li><p class="dev">वीर उदरेण मन्यते</p><p>vīra udareṇa manyate</p></li>
<li><p class="dev">सूर्यो ग्रामात् श्वेतं गगनं गच्छति</p><p>sūryo grāmāt śvetaṃ gaganaṃ gacchati</p></li>
<li><p class="dev">चन्द्रः कृष्णं गगनं तरति</p><p>candraḥ kṛṣṇaṃ gaganaṃ tarati</p></li>
<li><p class="dev">वृका हंसात् शशांश् चरन्ति</p><p>vṛkā haṃsāt śaśāṃś caranti</p></li>
<li><p class="dev">कृष्णः कृष्णम् अश्वं पश्यति</p><p>kṛṣṇaḥ kṛṣṇam aśvaṃ paśyati</p></li>
<li><p class="dev">अर्जुनः कृष्णं पृच्छति</p><p>arjunaḥ kṛṣṇaṃ pṛcchati</p></li>
</ul>
{% endblock %}

