{% extends 'base-grammar.html' %}

{% block title %}Exercises: General Rules{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/verbs">Verbs</a> »</li>
<li><a href="/verbs/doubling">Doubling</a> »</li>
<li>Exercises: General Rules</li>
</ul>
{% endblock %}

{% block content %}

<h1>Exercises: General Rules</h1>
<h2>Vocabulary</h2>
<dl class="vocab">
<dt>गम्</dt><dd>गच्छति</dd><dd>go</dd>
<dd><dl>
<dt>जगत्</dt><dd>mfn</dd><dd>moving, movable, living</dd>
<dt>जगत्</dt><dd>n</dd><dd>the world, the earth</dd>
</dl></dd>
</dl>
<h2>Translation</h2>
<p>Translate from Sanskrit to English.</p>
<ul class="dev exercises">
<li>वागर्थाविव संपृक्तौ वागर्थप्रतिपत्तये ।<br/>
जगतः पितरौ वन्दे पार्वतीपरमेश्वरौ ॥</li>
<li>वसुदेवसुतं देवं कंसचाणूरमर्दनम् ।<br/>
देवकीपरमानन्दं कृष्णं वन्दे जगद्गुरुम् ॥</li>
<li>ब्रह्म सत्यं जगन् मिथ्या जीवो ब्रह्मैव नापरः ।</li>
<li></li>
</ul>
<h2>Answers</h2>
<h3>Translation</h3>
<ul class="exercises">
<li>For the sake of perceiving words and their meanings, I salute Parvati and the Supreme Lord,<br/>
	the parents of the world, who are united like words and their meanings. <cite>Raghuvaṃśa 1.1</cite></li>
<li>I salute Krishna the divine son of Vasudeva, pulverizer of Kamsa and Canura, the supreme joy of Devakī, the guru of the world. <cite>Gītādhyānam 5</cite></li>
<li>Brahman is truth. The world is false. The <span lang="sa">jīva</span> is Brahman and nothing else. <cite></cite></li>
<li> <cite></cite></li>
</ul>

{% endblock %}

