{% extends 'base-grammar.html' %}

{% block title %}Exercises: Case 6{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/start">Starting Out</a> »</li>
<li><a href="/start/nouns">Noun Basics</a> »</li>
<li>Exercises: Case 6</li>
</ul>
{% endblock %}

{% block content %}

<h1>Exercises: Case 6</h1>
<h2>Translation</h2>
<p>Translate from English to Sanskrit.</p>
<ul class="drill exercises">
<li><p>The forests have fruits.</p></li>
<li><p>The villages have men.</p></li>
<li><p>The two cities have geese.</p></li>
<li><p>The son of the hero strikes the son of the elephant.</p></li>
<li><p>I obtain a white elephant.</p></li>
<li><p>The black trees die.</p></li>
<li><p>The rabbits find water.</p></li>
<li><p>The trees have leaves.,</p></li>
</ul>
<h2>Answers</h2>
<h3>Translation</h3>
<ul class="drill exercises" lang="sa">
<li><p class="dev">वनानां फलानि (भवन्ति)</p><p>vanānāṃ phalāni (bhavanti)</p></li>
<li><p class="dev">ग्रामाणाम् नराः (भवन्ति)</p><p>grāmāṇām narāḥ (bhavanti)</p></li>
<li><p class="dev">नगरयोर् हंसाः (भवन्ति)</p><p>nagarayor haṃsāḥ (bhavanti)</p></li>
<li><p class="dev">वीरस्य पुत्रो गजस्य पुत्रं तुदति</p><p>vīrasya putro gajasya putraṃ tudati</p></li>
<li><p class="dev">अहं श्वेतं गजं लभे</p><p>ahaṃ śvetaṃ gajaṃ labhe</p></li>
<li><p class="dev">कृष्णा वृक्षा म्रियन्ते</p><p>kṛṣṇā vṛkṣā mriyante</p></li>
<li><p class="dev">शशा जलं विन्दन्ति</p><p>śaśā jalaṃ vindanti</p></li>
<li><p class="dev">वृक्षाणां पत्त्राणि (भवन्ति)</p><p>vṛkṣāṇāṃ pattrāṇi (bhavanti)</p></li>
</ul>
{% endblock %}

