{% extends 'base-grammar.html' %}

{% block title %}Distant Past Tense Verbs{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/verbs">Verbs</a> »</li>
<li><a href="/verbs/doubling">Doubling</a> »</li>
<li>Distant Past Tense Verbs</li>
</ul>
{% endblock %}

{% block content %}

<h1>Distant Past Tense Verbs</h1>
<h2>Introduction</h2>
<p>The <dfn>distant past tense</dfn></p>
<p>The perfect uses both strong and weak stems. These stems are created in more complicated ways than the stems we've seen before.</p>
<h2>Extra Rules for the Reduplication</h2>
<p><span lang="sa">ṛ</span>, <span lang="sa">ṝ</span>, and <span lang="sa">ḷ</span> will all become <span lang="sa">a</span>.</p>
<ul class="sa examples">
<li><p class="dev">कृ → चकृ</p>
<p lang="sa">kṛ → cakṛ</p></li>
<li><p class="dev">तॄ → ततॄ</p>
<p lang="sa">tṝ → tatṝ</p></li>
<li><p class="dev">कॢप् → चकॢप्</p>
<p lang="sa">kḷp → cakḷp</p></li>
</ul>
<p>Roots that start with <span lang="sa">a</span> and <span lang="sa">ā</span> use <span lang="sa">a</span> for the reduplication, which merges with the root to form <span lang="sa">ā</span>.</p>
<ul class="sa examples">
<li><p class="dev">अद् → आद्</p>
<p lang="sa">ad → ād</p></li>
<li><p class="dev">आप् → आप्</p>
<p lang="sa">āp → āp</p></li>
</ul>
<p>Roots that start with <span lang="sa">i-</span> use <span lang="sa">i</span> for the reduplication, which merges with the root to form <span lang="sa">ī</span>. <strong>Exception:</strong> if the <span lang="sa">i-</span> in the root has been strengthened, then the reduplication becomes <span lang="sa">iy</span>.</p>
<ul class="sa examples">
<li><p class="dev">इ + इष् → ईष्</p>
<p lang="sa">i + iṣ → īṣ</p></li>
<li><p class="dev">इ + एष् → इयेष्</p>
<p lang="sa">i + eṣ → iyeṣ</p></li>
</ul>
<p>Roots that usually take <span lang="sa">saṃprasāraṇa</span> reduplicate as follows: roots that start with <span lang="sa">va</span> use <span lang="sa">u</span>, and roots that start with <span lang="sa">ya</span> use <span lang="sa">i</span>.</p>
<ul class="sa examples">
<li><p class="dev">वच् → उवच्</p>
<p lang="sa">vac → uvac</p></li>
<li><p class="dev">यज् → इयज्</p>
<p lang="sa">yaj → iyaj</p></li>
</ul>
<h2>Endings for the strong stem</h2>
<h3>Roots ending in vowels</h3>
<p>A final vowel sound is strengthened based on the "person" :</p>
<ul>
<li>3rd person: strong</li>
<li>2nd person: medium</li>
<li>1st person: medium or strong</li>
</ul>
<ul class="sa examples">
<li><p class="dev">कृ → चकृ → चकार</p>
<p lang="sa">kṛ → cakṛ → cakāra</p>
<p>do → did → He did.</p></li>
<li><p class="dev">कृ → चकृ → चकर</p>
<p lang="sa">kṛ → cakṛ → cakar</p>
<p>do → did → You did.</p></li>
<li><p class="dev">कृ → चकृ → चकार, चकर</p>
<p lang="sa">kṛ → cakṛ → cakāra, cakara</p>
<p>do → did → I did.</p></li>
</ul>
<p>But some roots don't strengthen this way. Roots ending in <span lang="sa">ā, e, ai,</span> or <span lang="sa">o</span> become <span lang="sa">au</span>. <!-- !!! --> </p>
<ul class="sa examples">
<li><p class="dev">गै → जगै → जगौ</p>
<p lang="sa">gai → jagai → jagau</p></li>
<li><p class="dev">धा → दधा → दधौ</p>
<p lang="sa">dhā → dadhā → dadhau</p></li>
</ul>
<p class="warning box">One exception is the root <span lang="sa">hvā</span>, which also appears as <span lang="sa">hve</span>. This root is treated as <span lang="sa">hū</span>, and it strengthens just like <span lang="sa">kṛ</span> above.</p>
<h3>Roots ending in consonants</h3>
<p>Roots are strengthened to <span lang="sa">guṇa</span> if possible.</p>
<ul class="sa examples">
<li><p class="dev">बुध् → बुबोध्</p>
<p lang="sa">budh → bubodh</p></li>
<li><p class="dev">इष् → इयेष्</p>
<p lang="sa"> → </p></li>
<li><p class="dev">जीव् → जिजीव्</p>
<p lang="sa">jīv → jijīv</p></li>
</ul>
<p class="note box">
<p>Recall that not all roots can be strengthened to <span lang="sa">guṇa</span>. We studied this restriction in Fundamentals, in the lesson on <a href="/fundamemntals/verbs/thematic1">thematic verbs</a>:</p>
<blockquote>
<p>Some vowels will never undergo a <span lang="sa">guṇa</span> change. The root that contain this type of vowels has two properties:</p>
<ol>
<li>The root ends in a consonant.</li>
<li>If we remove the last consonant of the root, the result is a heavy syllable.</li>
</ol>
<p>When both of these things are true, the <span lang="sa">guṇa</span> rule does not apply.</p>
</blockquote>
</p>
<p>But for roots that contain <span lang="sa">a</span> followed by just one consonant, the <span lang="sa">a</span> becomes <span lang="sa">ā</span>.</p>
<ul class="sa examples">
<li><p class="dev"> → </p>
<p lang="sa"> → </p></li>
<li><p class="dev">→ </p>
<p lang="sa"> → </p></li>
</ul>
<h2>Weak Stem</h2>
<h3>Final <span lang="sa">i, ī, u, ū, ṝ</span></h3>
<p>When in front of endings that start with the vowels, the final vowel of the root undergoes these changes:</p>
<ul>
<li>If it follows just one consonant: final <span lang="sa">i</span> and <span lang="sa">ī</span> become <span lang="sa">y</span>, and final <span lang="sa">ṛ</span> becomes <span lang="sa">r</span>.</li>
<li>If it follows more than one consonant: final <span lang="sa">i</span> and <span lang="sa">ī</span> become <span lang="sa">iy</span>, and final <span lang="sa">ṛ</span> becomes <span lang="sa">ar</span>.</li>
<li>In all circumstances: final <span lang="sa">u</span> and <span lang="sa">ū</span> become <span lang="sa">uv</span>, and final <span lang="sa">ṝ</span> becomes <span lang="sa">ar</span>.</li>
</ul>
<ul class="sa examples">
<li><p class="dev"> → </p>
<p lang="sa"> → </p></li>
<li><p class="dev">→ </p>
<p lang="sa"> → </p></li>
</ul>
<h3>Contraction</h3>
<p>For some roots, the reduplication will collapse into the main root, forming one syllable. For the roots that do so, all of the following are true:</p>
<ul>
<li>The root vowel is <span lang="sa">a</span>.</li>
<li>The root only has two consonants: one before the vowel, and one afterward (for example, <span lang="sa">pat</span>).</li>
<li>The reduplication starts with the same consonant as the root (<span lang="sa">pat</span>, but <strong>not</strong> <span lang="sa">vad</span>).</li>
</ul>
<p>The root vowel is changed from <span lang="sa">a</span> to <span lang="sa">e</span>.</p>
<ul class="sa examples">
<li><p class="dev"> → </p>
<p lang="sa"> → </p></li>
<li><p class="dev">→ </p>
<p lang="sa"> → </p></li>
</ul>
<p>But for five verb roots (<span lang="sa">jan, khan, gam, ghas, han</span>), the stem is weakened by removing the root vowel completely:</p>
<ul class="sa examples">
<li><p class="dev">जगन् + ए → जज्ञे</p>
<p lang="sa">jagan → jajñe</p></li>
<li><p class="dev">जखन् + ए → जख्ने</p>
<p lang="sa">jakhan → jakhne</p></li>
<li><p class="dev">जगम् + ए → जग्मे</p>
<p lang="sa">jagam → jagme</p></li>
<li><p class="dev">जघस् + ए → जक्षे</p>
<p lang="sa">jaghas → jakṣe</p></li>
<li><p class="dev">जघन् + ए → जघ्ने</p>
<p lang="sa">jaghan → jaghne</p></li>
</ul>
<h3 lang="sa">Saṃprasāraṇa</h3>
<p>These roots take <span lang="sa">saṃprasāraṇa</span>: <span lang="sa">vac, vad, vap, vas, vah, yaj, vyadh, grah, svap</span></p>
<ul class="sa examples">
<li><p class="dev">उवच् + ए → ऊचे</p>
<p lang="sa">uvac + e → ūce</p></li>
<li><p class="dev">इयज् + ए → ईजे</p>
<p lang="sa">iyaj + e → īje</p></li>
<li><p class="dev">वव्यध् + ए → वविधे</p>
<p lang="sa">vavyadh + e → vividhe</p></li>
<li><p class="dev">जग्रह् + ए → जगृहे</p>
<p lang="sa">jagrah + e → jagṛhe</p></li>
</ul>
<ul class="sa examples">
<li><p class="dev"> → → </p>
<p lang="sa"> → → </p></li>
<li><p class="dev"> → → </p>
<p lang="sa"> → → </p></li>
<li><p class="dev"> → → </p>
<p lang="sa"> → → </p></li>
</ul>

{% endblock %}

