{% extends 'base-grammar.html' %}

{% block title %}Prefixes{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/references">References</a> »</li>
<li><a href="/references/lists">Lists</a> »</li>
<li>Prefixes</li>
</ul>
{% endblock %}

{% block content %}

<h1>Prefixes</h1>
<h2>Verb Prefixes</h2>
<h3>Together and Apart</h3>
<dl class="vocab">
<dt>सम्<div lang="sa">sam</div></dt><dd> <dd><strong>with</strong>, together; completely, absolutely</dd>
<dt>वि<div lang="sa">vi</div></dt><dd> <dd><strong>divided</strong>, asunder, apart; different</dd>
</dd></dd></dl>
<h3>Near and Far</h3>
<dl class="vocab">
<dt>आ<div lang="sa">ā</div></dt><dd> <dd><strong>near</strong>, toward, up to</dd>
<dt>उप<div lang="sa">upa</div></dt><dd> <dd><strong>toward</strong>, near next to; under, below</dd>
<dt>अभि<div lang="sa">abhi</div></dt><dd> <dd><strong>upon</strong>, over; toward, into <span class="etym">[by, amphi-theater]</span></dd>
<dt>अपि<div lang="sa">api</div></dt><dd> <dd><strong>placing near</strong>, uniting with, reaching <span class="etym">[epi-center]</span></dd>
<dt>अप<div lang="sa">apa</div></dt><dd> <dd><strong>away</strong> (from), off, without <span class="etym">[apo-calypse]</span></dd>
<dt>अव<div lang="sa">ava</div></dt><dd> <dd><strong>down from</strong>, off, away</dd>
<dt>परा<div lang="sa">parā</div></dt><dd> <dd><strong>aside</strong>, away, off <span class="etym">[para-noia]</span></dd>
</dd></dd></dd></dd></dd></dd></dd></dl>
<h3>Around</h3>
<dl class="vocab">
<dt>परि<div lang="sa">pari</div></dt><dd> <dd><strong>around</strong>, about; fully, beyond; away</dd>
</dd></dl>
<h3>Over and Under</h3>
<dl class="vocab">
<dt>अति<div lang="sa">ati</div></dt><dd> <dd><strong>beyond</strong>, over</dd>
<dt>अधि<div lang="sa">adhi</div></dt><dd> <dd><strong>above</strong>, over</dd>
<dt>उद्<div lang="sa">ud</div></dt><dd> <dd><strong>up</strong>, upward</dd>
<dt>अनु<div lang="sa">anu</div></dt><dd> <dd><strong>after</strong>, under, alongside</dd>
</dd></dd></dd></dd></dl>
<h3>Inward and Outward</h3>
<dl class="vocab">
<dt>नि<div lang="sa">ni</div></dt><dd> <dd><strong>inward</strong>, within; down, back</dd>
<dt>निस्<div lang="sa">nis</div></dt><dd> <dd><strong>outward</strong>, without; out, forth</dd>
</dd></dd></dl>
<h3>Forward and Backward</h3>
<dl class="vocab">
<dt>प्र<div lang="sa">pra</div></dt><dd> <dd><strong>forward</strong>, in front</dd>
<dt>प्रति<div lang="sa">prati</div></dt><dd> <dd><strong>back</strong>, again, opposite (to)</dd>
</dd></dd></dl>
<h3>Good and Bad</h3>
<dl class="vocab">
<dt>सु<div lang="sa">su</div></dt><dd> <dd><strong>everything good</strong> (virtuous, beautiful, easy, well, …)</dd>
<dt>दुस्<div lang="sa">dus</div></dt><dd> <dd><strong>everything bad</strong> (evil, inferior, difficult, …)</dd>
</dd></dd></dl>
<h2>Noun Prefixes</h2>
<dl class="vocab">
<dt>अ<div lang="sa">a</div></dt><dd> <dd>not X (for nouns that start with consonants)</dd>
<dt>अन्<div lang="sa">an</div></dt><dd> <dd>not X (for nouns that start with vowels)</dd>
<dt>स<div lang="sa">sa</div></dt><dd> <dd>with X</dd>
</dd></dd></dd></dl>

{% endblock %}

