{% extends 'base-grammar.html' %}

{% block title %}Verb Roots{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/verbs">Verbs</a> »</li>
<li>Verb Roots</li>
</ul>
{% endblock %}

{% block content %}

<h1>Verb Roots</h1>
<h2>Introduction</h2>
<p>In the last section, we studied the four verb forms that actually use the "class" information. These four verb forms, as well as any derived participles, are the only verb forms that use the "class" information. That leaves us with a large number of verb forms that do not use the "present stem" at all. These other verbs construct their own stems in different ways.</p>
<p>Our study of such forms has been limited. So, we will spend this chapter on these "root" forms.</p>
{% endblock %}

