{% extends 'guide/unit.html' %}

{% block article %}
<p>A basic summary of what Sanskrit is and how we constructed this guide.</p>

<p>If you're not quite sure what Sanskrit is or why you should study it, you might <a href="{{ lesson_url('about', 'sanskrit') }}">read more about Sanskrit</a>. If you've tried other resources in the past and are wondering what makes this guide different from others, you might <a href="{{ lesson_url('about', 'sanskrit') }}">read more about the guide</a>.</p>

<p>But <strong>if you're ready to start</strong>, you should <a href="{{ lesson_url('sounds') }}">go to the next unit.</a></p>
{% endblock %}
