{% if not standalone %}{% extends 'guide/lesson.html' %}{% endif %}

{% block lesson %}
<blockquote>
	<p>Seek <a href="http://en.wikipedia.org/wiki/Krishna">Govinda</a>, seek Govinda &mdash; seek Govinda, you fool!<br />
	For when you've come to your final hour, grammar will not save you.{% filter foot(notes) %}<a href="http://en.wikipedia.org/wiki/Bhaja_Govindam"><cite>Bhaja Govindam</cite></a> verse 1. This devotional song is attributed to the sage <a href="http://en.wikipedia.org/wiki/Adi_Shankara">Adi Shankara</a>. The original text and a translation can be found <a href="http://www.sankaracharya.org/bhaja_govindam.php">here</a>.{% endfilter %}</p>
</blockquote>

<p><dfn>Sanskrit</dfn> is a language of many faces. At one moment, it is the millennia-old language of the authorless Vedas and all the texts in their tradition. At another, it is the supple verses of Kalidasa and Bilhana, or the intricate puzzle boxes of Magha and Bharavi. And in between are its meditations on nearly every part of human life: existence, reality, religion, love, duty, marriage, war, sex, death, violence, laughter, beauty, perception, nature, anatomy, urbanity, ritual, desire, food, purpose, meaning, language, and many more. At once, it is primordial and strikingly modern.</p>

<p>So it is appropriate that Sanskrit itself has many names. It was just called "the language" once, but this plain name gave way to loftier ones, like "perfected speech" and "the language of the gods." "Sanskrit" is just one of these many names. The word has been translated in dozens of ways, like "perfected" or "perfectly made" or "put together" or just "assembled." All of these meanings are part of the word "Sanskrit."</p>

<p>And lurking in the word "Sanskrit" is the notion of something unnatural. For although Sanskrit spent more than a thousand years as a fluid native language, it "froze" in the 5th century BCE when the grammarian <dfn>Panini</dfn> formalized it. He described Sanskrit so comprehensively that it has remained nearly the same for more than two thousand years. To him, Sanskrit was just "the language" spoken by the learned men of his time. But to those that followed him, Sanskrit was the "perfected" language forever protected from the fluidity of human life.</p>

<p>When Sanskrit was formalized in this way, it lost some of the vitality that we find in other languages. But in exchange, it became a timeless and placeless language unlike any other. It speaks from a world that has long disappeared from the earth. By learning Sanskrit, we can open our ears to that world and let some of its voices be heard once more.</p>

{% endblock %}
