{% extends 'guide/lesson.html' %}

{% block lesson %}
<h2>Learning Sanskrit</h2>
<p>This guide tries to make Sanskrit as <strong>easy, simple, and intuitive</strong> as possible. To understand this approach, we should start from the beginning.</p>

<h3>The hard way</h3>
<p>When Panini set out to describe Sanskrit comprehensively, he formalized the language into four thousand rules, known together as the <dfn>Ashtadhyayi</dfn>. The text is a complex algebraic system with meta-rules, exceptions, counter-exceptions, and many other technical devices. Together they form a complete algorithmic machine, with basic "chunks" of language for its raw material and complete Sanskrit sentences for its results.</p>

<p>But although the Ashtadhyayi is clean and efficient, Sanskrit is not. It has plenty of complicated forms, rare idioms, redundant phrases, and ambiguities. These things are inherent to all natural languages. But they can make mastering Sanskrit a long and difficult process.</p>

<p>Still, it is possible to master the language. Sanskrit writers had no choice but to do so. They wrote for highly educated audiences who knew Sanskrit already, and in order to be taken seriously, they had to have total mastery of the language. And the best way to gain that mastery was to study the Ashtadhyayi in detail.</p>

<p>But if your goal is just to <strong>read Sanskrit texts</strong>, this approach is slow and wasteful. It's like building a skyscraper from the top down.</p>

<h3>The easy way</h3>
<p>Today, most people who learn Sanskrit do not use the Ashtadhyayi. These days, there are dozens of books and courses available, and to some extent, they all try to make it easier to learn to read Sanskrit texts. But surprisingly, many of these resources have some of the same problems as the Ashtadhyayi:</p>

<ul>
    <li>They assume a strong knowledge of grammar or linguistics.</li>
    <li>They use unfamiliar technical terms when simpler terms are available.</li>
    <li>They teach concepts in an unintuitive or sub-optimal order.</li>
    <li>They illustrate patterns, but not always clearly.</li>
    <li>They focus on Sanskrit by itself.</li>
    <li>They teach Sanskrit grammar instead of Sanskrit itself.</li>
</ul>

<p>To some extent, each of these problems is unavoidable. But it is possible to lessen their effects and make them less difficult. That is what this guide sets out to do:</p>

<ul>
    <li><p>The guide assumes <strong>almost no background knowledge</strong>. If you understand English, you know enough to use this guide.</p></li>
    <li><p>Wherever possible, the guide uses <strong>simple English terms</strong> to describe concepts. Many of these concepts come with several examples.</p></li>
    <li><p>The guide teaches the <strong>common and powerful</strong> parts of Sanskrit early on. Each of the early lessons has a direct and significant impact on your ability to learn Sanskrit.</p></li>
    <li><p>The guide explicitly <strong>identifies patterns</strong> wherever possible.</p></li>
    <li><p>The guide has <strong>optional content</strong> of all kinds. Digressions, extra lessons, and a large number of footnotes give you a break from Sanskrit while still connecting Sanskrit to a larger universe of ideas and concepts.</p></li>
    <li><p>The guide tries to <strong>treat Sanskrit as as a language</strong>, not a rule book. Many lessons have examples from real Sanskrit texts to connect the material to something real and illustrate Sanskrit concepts in an authentic context.</p></li>
</ul>

<h2>In this guide</h2>
<p>In this guide, we will study the basic and intermediate parts of Sanskrit and learn enough of the language to read texts like the <dfn>Bhagavad Gita</dfn> and the works of the poet Kalidasa. In the future, this guide might also discuss the more advanced parts of Sanskrit and focus on more difficult texts, like commentary and technical literature. In either case, the guide provides a strong Sanskrit foundation that you can extend however you please.</p>

{% endblock %}
