{% extends 'ref/layout.html' %}
{% from 'macros/forms.html' import query_form %}

{% block title %}References{% endblock %}

{% block content %}
<h1>References</h1>
{{ query_form(form) }}

{% if results %}
<ul class="query-results">
    {% for r in results %}
    <li>
        <p class="result">
            <a href="{{ r.url }}">{{ r.name|sa1 }}</a>
            {% if r.description %}<abbr>{{ r.description }}</abbr>{% endif %}
        </p>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No results found.</p>
{% endif %}

{% endblock %}