{% extends 'ref/layout.html' %}
{% from 'macros/forms.html' import query_form %}

{% block title %}References{% endblock %}

{% block content %}
<h1>References</h1>
{{ query_form(form) }}

{% if results %}
<ul class="query-results">
    {% for r in results recursive %}
    <li>
        <a href="{{ r.url }}">
            <p class="result">
                {{ r.name|sa1 }}
                {% if r.description %}<abbr>{{ r.description }}</abbr>{% endif %}
            </p>
        </a>
        {% if r.children %}
        <ul>
            {{ loop(r.children) }}
        </ul>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No results found for {{ form.data['q']|sa1 }}.</p>
{% endif %}

{% endblock %}