{% extends 'base-grammar.html' %}

{% block title %}Verbs{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/references">References</a> »</li>
<li>Verbs</li>
</ul>
{% endblock %}

{% block content %}

<h1>Verbs</h1>
<p>This section contains information about the different Sanskrit verbs. More specifically, it contains all of the different <dfn class="old">conjugations</dfn> that you're likely to encounter in your studies. These conjugations are split into two broad groups:</p>
<ul>
<li>the simple verb classes (<span lang="sa">a+</span>, <span lang="sa">a0</span>, <span lang="sa">ya</span>, <span lang="sa">aya</span>)</li>
<li>the complex verb classes (consonant, <span lang="sa">nā</span>, <span lang="sa">no</span>, <span lang="sa">o</span>, <span lang="sa">na</span>, duplication)</li>
</ul>
<p>For information about prefixes and secondary verb forms, please see the corresponding lessons. I hope to list that information here in the future.</p>
{% endblock %}

