{% extends 'base-grammar.html' %}

{% block title %}Conditional Verbs{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/verbs">Verbs</a> »</li>
<li><a href="/verbs/roots">Verb Roots</a> »</li>
<li>Conditional Verbs</li>
</ul>
{% endblock %}

{% block content %}

<h1>Conditional Verbs</h1>
<p>Earlier in this unit, we studied the option mood, which lets us talk about what <em>should</em> happen. Now we will study a form that lets us talk about what <em>would have</em> happened. The difference between "should" and "would have" is subtle. For "should," we express a wish about the <strong>future</strong>, which has not yet happened. For "would have," meanwhile, we express a desire to do something in the <strong>past</strong> to change events and conditions in the future. With that definition in mind, the Sanskrit version of "would have" makes sense; it is a past verb formed with the future stem.</p>
<ul class="sa examples">
<li><p class="dev">यदि नरा <strong>अगमिष्यन्</strong> तदा हतो <strong>ऽभविष्यम्</strong></p>
<p lang="sa">yadi narā <strong>agamiṣyan</strong> tadā hato <strong>'bhaviṣyam</strong></p>
<p>If the men <strong>would have come</strong>, I <strong>would have been</strong> killed. (Literal translation)</p>
<p>If the men had come, I would have been killed. (More readable translation)</p></li>
</ul>
<p>This form, which is usually called a <dfn>conditional</dfn> verb, is rarely used. Grammatically, it is the ordinary past tense as formed with the stem of the ordinary future tense. Thus, the verb uses a future stem to talk about the past.</p>
{% endblock %}

