{% import 'guide/macros.html' as m %}
{% extends 'base.html' %}

{% block title %}Sanskrit guide{% endblock %}

{% block body_id %}guide{% endblock %}

{% block content %}
<article>
<h1>Sanskrit guide</h1>

<div class="note">
    <p>This is the new version of the grammar guide. It's still under development. To see the old guide, go to <a href="http://old.learnsanskrit.org">old.learnsanskrit.org</a>.</p>

    <p>You can follow the guide's progress by subscribing to the <a href="https://groups.google.com/forum/#!forum/learnsanskrit">mailing list</a>.</p>
</diV>

<p>Jump to:</p>
<ul class="lesson-list" style="font-variant: small-caps">
    {% for u in units %}
        <li><a href="#unit-{{ loop.index }}">{{ u.name }}</a></li>
    {% endfor %}
</ul>

{% for u in units %}
    <a id="unit-{{ loop.index }}"></a>
    <h2>{{ u.name }}</h2>
    {% filter markdown %}{{ u.description }}{% endfilter %}
    {{ m.lesson_list(u.lessons) }}
    </ul>
{% endfor %}
</article>
{% endblock %}
