{% import 'guide/macros.html' as m %}
{% from 'guide/macros.html' import examples %}
{% extends 'base.html' %}

{% macro quiz_question(quiz, q) %}
    {% if quiz['language'] == 'sa' %}
        {{ m.x(q.question) }}
    {% else %}
        {{ q.question }}
    {% endif %}
{% endmacro %}

{% block title %}{{ lesson.name|transliterate_backticks(None) }} | learnsanskrit.org{% endblock %}

{% block body_id %}guide{% endblock %}

{% block content %}
    <article>
    {% block article %}
        <h1>{{ lesson.name|transliterate_backticks }}</h1>

        {% set predecessors = lesson.predecessors() %}
        {% if predecessors %}
        <p>Depends on:</p>
        {{ m.lesson_list(predecessors) }}
        {% endif %}

        {% filter markdown %}{% include content_path %}{% endfilter %}

        {% if exercises %}
        <section class="exercises">
            <div class="wrapper">
            {% for quiz in exercises %}
            <h2>{{ quiz.name }}</h2>
            {{ quiz.description }}
            {% if quiz.example %}
            <p>For example, given this:</p>
            <div class="examples">
                <ul>
                    <li>{{ quiz_question(quiz, quiz.example) }}</li>
                </ul>
            </div>
            <p>the answer is:</p>

            <div class="examples">
                <ul>
                    <li>{{ m.x(quiz.example.answer) }}</li>
                </ul>
            </div>
            {% endif %}
            <h3>Questions</h3>
            <ol class="quiz-questions">
                {% for q in quiz['items'] %}
                <li>{{ quiz_question(quiz, q) }}</li>
                {% endfor %}
            </ol>

            <h3>Answers</h3>
            <ol class="quiz-answers">
                {% for q in quiz['items'] %}
                <li>{{ m.x(q.answer) }}</li>
                {% endfor %}
            </ol>
            {% endfor %}
            </div>
        </section>
        {% endif %}
    {% endblock %}
    </article>

{% assets output="gen/guide.js", "js/guide.js" %}
    <script src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
