{% import 'guide/macros.html' as m %}
{% from 'guide/macros.html' import examples, x %}
{% extends 'base.html' %}

{% block title %}{{ lesson.name }} | learnsanskrit.org{% endblock %}

{% block body_id %}guide{% endblock %}

{% block content %}
    <article>
    {% block article %}
        <h1>{% filter markdown %}{{ lesson.name }}{% endfilter %}</h1>

        {% set predecessors = lesson.predecessors() %}
        {% if predecessors %}
        <p>Depends on:</p>
        {{ m.lesson_list(predecessors) }}
        {% endif %}

        {% filter markdown %}{% include content_path %}{% endfilter %}

        {% if exercises %}
        <section class="exercises">
            {% for quiz in exercises %}
            <h2>{{ quiz.name }}</h2>
            {{ quiz.description }}
            {% if quiz.example %}
            <p>For example, given this:</p>
            <div class="examples">
                <ul>
                    <li>{{ x(quiz.example.question) }}</li>
                </ul>
            </div>
            <p>the answer is:</p>

            <div class="examples">
                <ul>
                    <li>{{ x(quiz.example.answer) }}</li>
                </ul>
            </div>
            {% endif %}
            <h3>Questions</h3>
            <ol class="quiz-questions">
                {% for q in quiz['items'] %}
                <li>{{ x(q.question) }}</li>
                {% endfor %}
            </ol>

            <h3>Answers</h3>
            <ol class="quiz-answers">
                {% for q in quiz['items'] %}
                <li>{{ x(q.answer) }}</li>
                {% endfor %}
            </ol>
            {% endfor %}
        </section>
        {% endif %}
    {% endblock %}
    </article>

{% assets output="gen/guide.js", "js/guide.js" %}
    <script src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
