{% import 'macros/charts.html' as charts %}

{# Print a list of examples #}
{% macro examples() %}
<ul class="examples">
    {% for example in varargs %}{{ example }}{% endfor %}
</ul>
{% endmacro %}

{# Print a single example #}
{% macro x(sanskrit, english) -%}
{%- set text = sanskrit.replace('->', '→').replace('[', '<mark>').replace(']', '</mark>') -%}
{{- text|d(tag='p') -}}
{{- text|i(tag='p') -}}
{{ english }}
{%- endmacro %}

{# Print a list of lesson links #}
{% macro lesson_list(lessons) %}
{% if lessons %}
<ul class="lesson-list">
    {%- for lesson in lessons %}
    <li><a href="{{ url_for('guide.lesson', slug=lesson.slug) }}">{{ lesson.name }}</a></li>
    {%- endfor %}
</ul>
{% endif %}
{% endmacro %}

{# link to a lesson #}
{% macro lesson_url(slug) %}
{{ url_for('guide.lesson', slug=slug)}}
{% endmacro %}

{# <ul> in rows #}
{% macro row_ul(items, callback=none) %}
<ul>
{% for item in items %}
    <li>
    {% if callback %}
        {{ callback(item) }}
    {% else %}
        {{ item }}
    {% endif %}
    </li>
{% endfor %}
</ul>
{% endmacro %}

{# Display Sanskrit sounds with links. #}
{% macro sounds() %}
<ul class="sounds sounds-{{ varargs|length }}">
    {% for name, filename, desc in varargs %}
    <li>
        <a href="{{ url_for('guide.static', filename='audio/%s.mp3' | format(filename)) }}">
            <span class="sounds-letter">{{ name|i }}</span>
            <span class="sounds-desc">{{ desc }}</span>
        </a>
    </li>
    {% endfor %}
</ul>
{% endmacro %}

{# An alternative to `verb`, which still isn't working. #}
{% macro manual_verb(root, forms, caption) %}
<table class="paradigm">
    <caption>{{ caption }}</caption>
    <tr>
        <th>{{ root|sa1 }}</th>
        <th>One</th>
        <th>Two</th>
        <th>Many</th>
    </tr>
    {% set labels=['He', 'You', 'I'] %}
    {% for row in forms %}
    <tr>
        <th>{{ labels[loop.index0] }}</th>
        {% for form in row %}
        <td>{{ form|sa1 }}<br />{{ form|sa2 }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endmacro %}

{% macro manual_nominal(stem, forms) %}
<table class="paradigm">
    <tr>
        <th>{{ stem|sa1 }}</th>
        <th>One</th>
        <th>Two</th>
        <th>Many</th>
    </tr>
    {% for row in forms %}
    <tr>
        <th>Case {{ loop.index }}</th>
        {% for form in row %}
        <td>{{ form|sa1 }}<br />{{ form|sa2 }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endmacro %}


{% macro verb(root, mode, voice, vclass=none) %}
{# I don't know how to expose verb_data as a function: #}
{% set data = root|verb_data(mode, voice, vclass=vclass) %}
{{ charts.verb_paradigm(**data) }}
{% endmacro %}
