{# Print a list of examples #}
{% macro examples() %}
<ul class="examples">
    {% for example in varargs %}{{ example }}{% endfor %}
</ul>
{% endmacro %}

{# Print a single example #}
{% macro x(sanskrit, english) %}
<li>
    {% set text = sanskrit.replace('->', '→') %}
    {{ text|d(tag='p') }}
    {{ text|i(tag='p') }}
    <p>{{ english }}</p>
</li>
{% endmacro %}

{# Print a list of lesson links #}
{% macro lesson_list(lessons) %}
{% if lessons %}
<ul>
    {% for lesson in lessons %}
    <li><a href="{{ url_for('.lesson', slug=lesson.slug) }}">{{ lesson.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endmacro %}

{% macro sounds() %}
<ul class="sounds">
    {% for name, filename, desc in varargs %}
    <li>
        <a href="{{ url_for('guide.static', filename='audio/%s.mp3' | format(filename)) }}">
            <div class="letter">{{ name|i }}</div>
            {% if desc -%}<div>{{ desc }}</div>{%- endif -%}
        </a>
    </li>
    {% endfor %}
</ul>
{% endmacro %}
