{% extends 'base-grammar.html' %}

{% block title %}Exercises: Verb Prefixes{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/start">Starting Out</a> »</li>
<li><a href="/start/words">Making Words</a> »</li>
<li>Exercises: Verb Prefixes</li>
</ul>
{% endblock %}

{% block content %}

<h1>Exercises: Verb Prefixes</h1>
<p>We'll look at some more interesting examples of prefixes later on. For now, let's review the material we've already covered.</p>
<h2>Vocabulary</h2>
<p>Derived words are shown below the word that they come from. By approaching vocabulary in this way, you will be able to learn more words much faster.</p>
<dl class="vocab">
<dt>गम्<div lang="sa">gam</div></dt><dd>गच्छति <div lang="sa">gacchati</div></dd><dd>go <span class="etym">[come]</span></dd>
<dd><dl>
<dt>संगम्<div lang="sa">saṃgam</div></dt><dd>संगच्छति <div lang="sa">saṃgacchati</div></dd><dd>go together</dd>
<dd><dl>
<dt>उपसंगम्<div lang="sa">upasaṃgam</div></dt><dd>उपसंगच्छति <div lang="sa">upasaṃgacchati</div></dd><dd>"go to meet"; approach, unite, join</dd>
</dl>
<dt>विगम्<div lang="sa">vigam</div></dt><dd>विगच्छति <div lang="sa">vigacchati</div></dd><dd>go apart, be severed, separate; die</dd>
<dt>आगम्<div lang="sa">āgam</div></dt><dd>आगच्छति <div lang="sa">āgacchati</div></dd><dd>come, reach <span class="etym">[<a href="http://en.wikipedia.org/wiki/Agama">Agama</a>]</span></dd>
<dt>उपगम्<div lang="sa">upagam</div></dt><dd>उपगच्छति <div lang="sa">upagacchati</div></dd><dd>come toward, approach</dd>
<dd><dl>
<dt>समुपगम्<div lang="sa">samupagam</div></dt><dd>समुपगच्छति <div lang="sa">samupagacchati</div></dd><dd>"approach together with"; approach, unite, join</dd>
</dl>
</dd></dd></dl>
</dd></dl>
<h2>Devanagari</h2>
<p>Write the sentences below in IAST.</p>
<ul class="exercises" lang="sa">
<li><p class="dev">धर्मक्षेत्रे कुरुक्षेत्रे समवेता युयुत्सवः</p></li>
<li><p class="dev">कश्चित् कान्ताविरहगुरुणा स्वाधिकारप्रमत्तः <br/>शापेनास्तंगमितमहिमा वर्षभोग्येण भर्तुः ।<br/>यक्षश्चक्रे जनकतनयास्नानपुण्योदकेषु <br/>... वसतिं रामगिर्याश्रमेषु ॥</p>
<p lang="en">Note the conjuncts <span class="dev">स्न</span> = <span lang="sa">sna</span> and <span class="dev">श्र</span> = <span lang="sa">śra</span>.</p></li>
<li><p class="dev">पश्यामि देवांस् तव देव देहे</p></li>
<li><p class="dev">तदप्येष श्लोको भवति</p></li>
<li><p class="dev">कालो ऽस्मि लोकक्षयकृत् प्रवृद्धो लोकान् समाहर्तुमिह प्रवृत्तः</p></li>
<li><p class="dev">क्रोधाद्भवति संमोहः संमोहात् स्मृतिविभ्रमः</p></li>
<li><p class="dev">स्मृतिभ्रंशाद्बुद्धिनाशो बुद्धिनाशात् प्रनश्यति</p></li>
<li><p class="dev">शत्रूणां तरणेषु वः स भगवानस्तु प्लवः केशवः</p></li>
</ul>
<h2>Translation</h2>
<p>Translate from English to Sanskrit. Use the verb introduced above where possible.</p>
<ul class="drill exercises">
<li>The men go to meet him.</li>
<li>The wolf approaches us from the forest.</li>
<li>The two of us go together to the city.</li>
<li>The fruits come toward (my) two feet.</li>
<li>We do not die.</li>
<li>The sun reaches the sky.</li>
</ul>
<h2>Answers</h2>
<h3>Devanagari</h3>
<p>As before, English meanings are provided for your curiosity.</p>
<ul class="exercises" lang="sa">
<li><p>dharmakṣetre kurukṣetre samavetā yuyutsavaḥ</p>
<p lang="en">On dharma's field, the field of Kurus, all assembled wanting war, …</p></li>
<li><p>kaścit kāntāvirahaguruṇā svādhikārapramattaḥ <br/>śāpenāstaṃgamitamahimā varṣabhogyeṇa bhartuḥ ।<br/>yakṣaścakre janakatanayāsnānapuṇyodakeṣu <br/>... vasatiṃ rāmagiryāśrameṣu ॥</p>
<p lang="en">A certain <a href="http://en.wikipedia.org/wiki/Yaksha">yaksha</a>, negligent of his duty, his glory caused to wane by a year-long curse from his lord that unbearably separated him from his beloved, created a dwelling among the ashrams of <a href="http://en.wikipedia.org/wiki/Ramtek">Ramagiri</a>, where the waters were sanctified by the bathings of <a href="http://en.wikipedia.org/wiki/Sita">Janaka's daughter</a>. <cite>Meghaduta 1.1</cite></p></li>
<li><p>paśyāmi devāṃs tava deva dehe</p>
<p lang="en">I see the gods in your body, O god</p></li>
<li><p>tadapyeṣa śloko bhavati</p>
<p lang="en">On this, there is this <a href="http://en.wikipedia.org/wiki/Shloka">shloka</a>.</p></li>
<li><p>kālo 'smi lokakṣayakṛt pravṛddho lokān samāhartumiha pravṛttaḥ</p>
<p lang="en">I am Time, the ancient destroyer of worlds, engaged here in destroying all mankind. <cite>Bhagavad Gita 11.32</cite></p></li>
<li><p>krodhādbhavati saṃmohaḥ saṃmohāt smṛtivibhramaḥ</p>
<p lang="en">From anger comes delusion, from delusion loss of memory,</p></li>
<li><p>smṛtibhraṃśādbuddhināśo buddhināśāt pranaśyati</p>
<p lang="en">From loss of memory (arises) the destruction of the intellect, and from that destruction, he himself is destroyed.</p></li>
<li><p>śatrūṇāṃ taraṇeṣu vaḥ sa bhagavānastu plavaḥ keśavaḥ</p>
<p lang="en">May the blessed <a href="http://en.wikipedia.org/wiki/Keshava">Keshava</a> be a raft to you as you cross your enemies.</p></li>
</ul>
<h3>Translation</h3>
<ul class="drill exercises" lang="sa">
<li><p class="dev">नरास् तम् उपसंगच्छन्ति</p><p>narās tam upasaṃgacchanti</p></li>
<li><p class="dev">वृको वनात् अस्मान् उपगच्छति</p><p>vṛko vanāt asmān upagacchati</p></li>
<li><p class="dev">आवां नगरं संगच्छावः</p><p>āvāṃ nagaraṃ saṃgacchāvaḥ</p></li>
<li><p class="dev">फलानि पादाव् उपगच्छन्ति</p><p>phalāni pādāv upagacchanti</p></li>
<li><p class="dev">वयं न विगच्छामः</p><p>vayaṃ na vigacchāmaḥ</p></li>
<li><p class="dev">सूर्यो गगनम् आगच्छति</p><p>sūryo gaganam āgacchati</p></li>
</ul>
{% endblock %}

