{% extends 'base-grammar.html' %}

{% block title %}Samprasarana{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/start">Starting Out</a> »</li>
<li><a href="/start/roots">Gerunds and "Real" Roots</a> »</li>
<li>Samprasarana</li>
</ul>
{% endblock %}

{% block content %}

<h1><span lang="sa-iast">Saṃprasāraṇa</span></h1>
<p>This lesson will focus on two roots: <span lang="sa">vad</span>, which is an a+ class verb that means "speak," and <span lang="sa">gam</span>, which you've seen before. Take a look at their gerunds below:</p>
<ul class="examples">
<li><p class="dev">गम् → गत्वा</p>
<p lang="sa">gam → gatvā</p>
<p>go → having gone</p>
</li>
<li><p class="dev">वद् → उदित्वा</p>
<p lang="sa">vad → uditvā</p>
<p>speak → having spoken</p>
</li>
</ul>
<p>Our old root system explains this behavior beautifully:</p>
<ul>
<li><p><span lang="sa">gam</span> weakens to *<span lang="sa">gm</span> to produce *<span lang="sa">gmtvā</span>. This can't be pronounced; but instead of <span lang="sa">gm</span> becoming <span lang="sa">gam</span>, it becomes <span lang="sa">ga</span> instead. So, we get <span lang="sa">gatvā</span>.</p></li>
<li><p><span lang="sa">vad</span> weakens to *<span lang="sa">vd</span> to produce *<span lang="sa">vditvā</span>. This can't be pronounced; but instead of <span lang="sa">vd</span> becoming <span lang="sa">vad</span>, it becomes <span lang="sa">ud</span> instead. So, we get <span lang="sa">uditvā</span>.</p></li>
</ul>
<p>To appreciate how elegant this is, take a look at the traditional solution to this behavior:</p>
<ul>
<li><p>In the gerund, the final nasal sound of certain roots should be removed. <span lang="sa">gam</span> is one of those roots, and it loses its <span lang="sa">m</span> to become <span lang="sa">ga</span>, giving us <span lang="sa">gatvā</span>.</p></li>
<li><p><span lang="sa">vad</span> is part of a special group of roots that is not already weakened. We must weaken it, then, for the gerund. <span lang="sa">vad</span> becomes <span lang="sa">vd</span> to produce *<span lang="sa">vditvā</span>. This can't be pronounced; but instead of *<span lang="sa">vad</span> becoming <span lang="sa">vad</span>, it becomes <span lang="sa">ud</span> instead. So, we get <span lang="sa">uditvā</span>.</p></li>
</ul>
<p>The traditional solution is OK, but it's not as smooth; it makes special exceptions for roots that end in nasals, and it puts <span lang="sa">vad</span> in its own group. Since we're switching over to the traditional root system, we should learn about both of these decisions a little more. Don't worry, it won't take long!</p>
<h2>Roots like <span lang="sa">gam</span></h2>
<p>The behavior for roots that end in nasal consonants is oddly specific, but it does the job fine. There's nothing more to say here. Other roots that follows its pattern are <span lang="sa">ram</span> and <span lang="sa">man</span>.</p>
<h2>Roots like <span lang="sa">vad</span></h2>
<p>With a simple rule, we solved the problem of <span lang="sa">gam</span>. But roots like <span lang="sa">vad</span> are more complicated cases. They are so complicated, in fact, that traditional Sanskrit grammar gives them a special name. The term is derived from the verb root <span lang="sa">sṛ</span>, which is an <span lang="sa">a+</span> verb that means "run away," "flow," and "blow," among other things. We can add prefixes to this root to get <span lang="sa">saṃprasṛ</span>, which means "extend." With the <span lang="sa">-ana</span> suffix, we produce the word <dfn lang="sa">saṃprasāraṇa</dfn>, which means something like "extension."</p>
<p>In the Sanskrit grammatical tradition, "samprasarana" refers to the tendency of vowels and semivowels to "extend" into each other's roles; a vowel can become a semivowel, and a semivowel can become a vowel. But we wouldn't call any vowel change by the name of samprasarana. Rather, samrasarana specifically refers to these three changes:</p>
<ul lang="sa">
<li>y → i</li>
<li>v → u</li>
<li>r → ṛ</li>
</ul>
<ul class="examples">
<li><p class="dev">वद् → उदित्वा</p>
<p lang="sa">vad → uditvā</p>
<p>speak → having spoken</p>
</li>
</ul>
<p>These changes occur only in certain verb roots, which you must memorize. Fortunately, there are fewer than ten samprasarana roots. But, what distinguishes the samprasarana roots from other roots? That is, why do they exist at all? Essentially, <strong>samprasarana roots are strengthened backwards.</strong> Consider the chart below, which is an expanded version of the chart <a href="/sounds/vowels/compound">in the second lesson of the guide</a>:</p>
<table class="blue" lang="sa">
<tr lang="en"><th>Weak</th><th>Medium</th><th>Strong</th></tr>
<tr><td>i, ī</td><td>*ai, *ia</td><td>*āi, *iā</td></tr>
<tr><td>u, ū</td><td>*au, *ua </td><td>*āu, *uā</td></tr>
<tr><td>ṛ, ṝ</td><td>*ar, *ra</td><td>*ār, *rā</td></tr>
</table>
<p>In the forms where <span lang="sa">a</span> was put in front of the verb, we have simplification today; <span lang="sa">*au</span>, for example, is now <span lang="sa">o</span>. But in the forms where <span lang="sa">a</span> was put after the verb, the first sound became a semivowel; <span lang="sa">*ua</span>, for example, is now <span lang="sa">va</span>, as in <span lang="sa">vad</span>.</p>
<p>This talk of "old vowels" isn't irrelevant! It reveals exactly why samprasarana exists and acts as it does, and it's worth your time to understand it.</p>
<div class="ling box">
<p>But why, historically speaking, do samprasarana roots exist? Why did the Sanskrit grammarians use samprasarana in the first place? Both of these questions are answered below.</p>
<h3>Why do samprasarana roots exist?</h3>
<p>When 19th century scholars began to compare Sanskrit to languages like Latin and Greek, they realized that the three languages were connected in a profound way. Each of the languages had quirks and irregularities that the others did not; this fact indicated that there was an older language that was the ancestor of all three. This language, as I mentioned in the <a href="/introduction">introduction to this guide</a>, is called Proto-Indo-European, or PIE for short.</p>
<p>Part of the problem in creating a reliable model for PIE is that its "daughter" languages all use different arrangements of sounds. For example, the Sanskrit vowel <span lang="sa">a</span> appears in Greek and Latin as either <span lang="la">e</span> or <span lang="la">o</span>. (These sounds are shorter than the Sanskrit <span lang="sa">e</span> and <span lang="sa">o</span>.) In the 19th century, the Swiss linguist <a href="http://en.wikipedia.org/wiki/Ferdinand_de_Saussure">Ferdinand de Saussure</a> suggested that PIE contained "sonant coefficients" — that is, voiced consonants — whose prounciation left different marks in the different daughter languages. The problem was that none of these "sonant coefficients" could be found — that is, until the <a href="http://en.wikipedia.org/wiki/Hittite_language">Hittite language</a> was discovered and translated. Linguists were surprised to find exactly the sorts of consonants that Ferdinand de Saussure predicted.</p>
<p>Today, linguists have a good understanding of what the PIE verb root was like. According to current theory, the root was a consonant cluster with a medium-strength vowel. This vowel was either weakened to the weakest level or strengthened to the strongest level. But as PIE developed into the language that eventually became Sanskrit, the vowel system simplified and the "sonant coefficients" were lost, causing great changes that affect the Sanskrit verb system we use today. Because of these changes, the ancient grammarians supposed that the verb started at the weakest level and was built up to form other verbs. The verbs that use samprasarana are relics of the PIE system.</p>
<h3>Why did the Sanskrit grammarians use it?</h3>
<p>The Sanskrit grammarians decided that the <strong>weakest</strong> form of the verb root was the original form. Regarding this, the Sanskrit scholar Michael Coulson wrote that the <q cite="Teach Yourself Sanskrit p. 22">failure to appreciate</q> the true nature of the verb root gave the ancient grammarians no choice but to use samprasarana. But, we've now seen the advantages of the traditional verb system; apart from one patch, it's a remarkably sleek system, and it's easy to describe. Our old verb system is also quite good, but due to changes in the Sanskrit language from the days of PIE, it does not work very well. In a Sanskrit context, it's harder to describe. So, don't think of the Sanskrit grammarians as "failing to appreciate" anything; they worked with the material they had, and the system they created was appropriate to the language they described.</p>
</div>
<h2>Sandhi rules with the <span lang="sa">tvā</span> suffix</h2>
<p>The verbs that follow samprasarana will change most commonly in forms like the gerund, which require a weakened vowel and use a suffix that starts with <span lang="sa">t</span>. Let us turn again to the sandhi rules that govern the gerund. First, here are two examples from the previous lesson.</p>
<ul class="examples">
<li><p class="dev">तॄ → तीर्त्वा</p>
<p lang="sa">tṝ → tīrtvā</p>
<p>cross → having crossed</p>
</li>
<li><p class="dev">लभ् → लब्ध्वा</p>
<p lang="sa">labh → labdhvā</p>
<p>obtain → having obtained</p>
</li>
</ul>
<p>If you don't understand the rules that apply here, <a href="gerunds">go back to the previous lesson</a> and review. Then, consider the change below.</p>
<ul class="examples">
<li><p class="dev">दृश् + त्वा → दृष्ट्वा</p>
<p lang="sa">dṛś + tvā → dṛṣṭvā</p>
<p>see → having seen</p>
</li>
</ul>
<p>How would you describe this change? The conventional description has two parts: first, "when <span lang="sa">ś</span> is in front of <span lang="sa">t</span> or <span lang="sa">th</span>, it becomes <span lang="sa">ṣ</span>"; second, "a retroflex letter, if immediately followed by a <span lang="sa">tavarga</span> letter, shifts the <span lang="sa">tavarga</span> letter to <span lang="sa">ṭavarga</span>."</p>
<p>But, there is a much cleaner way of describing this change. First, we should consider why this change occurs. If we say that a <dfn>tongue consonant</dfn> is any consonant that uses the tongue — that is, all of the consonants except the semivowels (they're more like vowels than consonants) and those whose point of pronunciation is the soft palate (<span lang="sa">kavarga, h</span>) or the lips (<span lang="sa">pavarga</span>) — then we can state the principle behind the change like this:</p>
<p class="rule box">Two tongue consonants with two different points of pronunciation cannot be next to each other.</p>
<p>Now, we can state a general rule that applies this principle:</p>
<p class="rule box">If two tongue consonants with two different points of pronunciation are next to each other, both become retroflexed.<p>
<p>This rule has some exceptions, but it's an easy way to understand the changes above. The most common exception to the rule is this:</p>
<p class="rule box">In the circumstances described, roots that end in <span lang="sa">c</span> will <strong>always</strong> have their <span lang="sa">c</span> turned into a <span lang="sa">k</span>. and roots that end in <span lang="sa">j</span> will <strong>occasionally</strong> have their <span lang="sa">j</span> turned into a <span lang="sa">k</span>, depending on the verb root. (Note that this rule only applies when <span lang="sa">tvā</span> is used, not <span lang="sa">itvā</span>.)</p>
<ul class="examples">
<li><p class="dev">वच् → उक्त्वा</p>
<p lang="sa">vac → uktvā</p>
<p>speak → having spoken</p>
<p class="aside">(<span lang="sa">vac</span> is a samprasarana root.)</p></li>
<li><p class="dev">शुच् → शुचित्वा</p>
<p lang="sa">śuc → śucitvā</p>
<p>speak → having spoken</p>
</li>
<li><p class="dev">युज् → युक्त्वा</p>
<p lang="sa">yuj → yuktvā</p>
<p>join → having joined</p>
</li>
<li><p class="dev">सृज् → सृष्ट्वा</p>
<p lang="sa">sṛj → sṛṣṭvā</p>
<p>release → having released</p>
</li>
</ul>
<p>The basis for this change is ultimately historical. There is no reliable way to determine how a root that ends in <span lang="sa">j</span> will change; but fortunately, it is quite easy to turn a gerund back into a verb root. The exercises on the next page will give you practice with this.</p></p></p>
{% endblock %}

