{% extends 'base-grammar.html' %}

{% block title %}Case 8: Direct Address{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/start">Starting Out</a> »</li>
<li><a href="/start/nouns">Noun Basics</a> »</li>
<li>Case 8: Direct Address</li>
</ul>
{% endblock %}

{% block content %}

<h1>Case 8: Direct Address</h1>
<p class="alternatives">Also known as: vocative case, <span lang="sa">saṃbodhana</span> ("awakening")</p>
<h2>Introduction</h2>
<p>In this lesson, we will study the case that is usually studied last. Since there are eight cases total, I will call this case <dfn>case 8</dfn>. We have skipped the other cases for three reasons:</p>
<ul>
<li>Case 8 is easy to learn and understand.</li>
<li>Case 8 is common.</li>
<li>The endings of case 8 are almost identical to the endings of case 1.</li>
</ul>
<p>Cases 1 and 2 define the subject and object of the action, and the other four cases define "accessories" to the action, such as how it was done (case 3). But case 8 steps beyond this action and defines <strong>the person for whose sake the sentence was created</strong>. We could also say that it defines the person we refer to with the word "you."</p>
<ul class="examples">
<li><p class="dev"><strong>पुत्र</strong> त्वं नरः</p>
<p lang="sa"><strong>putra</strong> tvaṃ naraḥ</p>
<p><strong>Son</strong>, you are a man.</p></li>
<li><p class="dev"><strong>नर</strong> गच्छति</p>
<p lang="sa"><strong>nara</strong> gacchati</p>
<p><strong>O man</strong>, he (somebody else) goes.</p></li>
</ul>
<p>We can call this new case the <dfn>address case</dfn> because it describes the person we're addressing. But, I'll usually use "case 8" for convenience.</p>
<h2>Inflection</h2>
<p>The address case is at the bottom of the table. The only difference from the subject case (case 1) is in the singular.</p>
<table class="inflection">
<caption>-a (masculine)</caption>
<tr><th class="stem">गज</th>
<th>Singular</th>
<th>Dual</th>
<th>Plural</th>
</tr><tr><th>Case 1 (subject)</th>
<td>गजः<div>gajaḥ</div></td>
<td class="r">गजौ<div>gajau</div></td>
<td class="y">गजाः<div>gajāḥ</div></td>
</tr><tr><th>Case 2 (object)</th>
<td>गजम्<div>gajam</div></td>
<td class="r">गजौ<div>gajau</div></td>
<td>गजान्<div>gajān</div></td>
</tr><tr><th>Case 8 (address)</th>
<td>गज<div>gaja</div></td>
<td class="r">गजौ<div>gajau</div></td>
<td class="y">गजाः<div>gajāḥ</div></td>
</tr>
</table>
<h2>Vowel Sandhi: Exclamations</h2>
<p>Both English and Sanskrit have short words that are used to express an emotion. Some English examples are "hey!" or "oh!" Such words are called <dfn>exclamations</dfn>. These exclamations end in vowels, and they are all immune to sandhi.</p>
<ul class="examples">
<li><p class="dev">अहो अहं गच्छामि</p>
<p lang="sa">aho ahaṃ gacchāmi</p>
<p>Oh! I will go!</p></li>
</ul>
<p>But nouns in case 8 are not immune to sandhi.</p>
<ul class="examples">
<li><p class="dev">पुत्रेच्छसि गजम्</p>
<p lang="sa">putrecchasi gajam</p>
<p>Son, you want the elephant.</p></li>
</ul>
<h2>Pronouns</h2>
<p>Pronouns only occur in cases 1 through 7.</p>
<h2>Devanagari</h2>
<h3>Consonants 11 - 15</h3>
<p>Here are five more letters for you to learn.</p>
<dl class="blue letters" lang="sa">
<dt class="title">देवनागरी</dt><dd class="title" lang="en">IAST</dd>
<dt>श</dt><dd>śa</dd>
<dt>ष</dt><dd>ṣa</dd>
<dt>भ</dt><dd>bha</dd>
<dt>च</dt><dd>ca</dd>
<dt>ण</dt><dd>ṇa</dd>
</dl>
<h3>Conjunct consonants: Consonant + <span class="dev">र</span></h3>
<p>We have already seen that <span class="dev">र</span> in front of a consonant is written almost like a vowel mark. <span class="dev">र</span> <strong>after</strong> a consonant, meanwhile, is written much differently. It appears as a small mark that starts at the "stick" part of the letter and moves to the lower-left. Some examples are below. (Note the irregular form for <span lang="sa">tra</span>).</p>
<dl class="blue letters" lang="sa">
<dt class="title">देवनागरी</dt><dd class="title" lang="en">IAST</dd>
<dt>क्र</dt><dd>kra</dd>
<dt>द्र</dt><dd>dra</dd>
<dt>व्र</dt><dd>vra</dd>
<dt>त्र</dt><dd>tra</dd>
</dl>
<p>You do not need to spend time learning how to write these symbols; that ability will come with time. For now, just learn to recognize this sort of conjunct consonant when it appears.</p>
{% endblock %}

