{% extends 'base-grammar.html' %}

{% block title %}The Shiva Sutras{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/panini">Panini</a> »</li>
<li>The Shiva Sutras</li>
</ul>
{% endblock %}

{% block content %}

<h1>The Shiva Sutras</h1>

<aside class="note">
    <p>This content is out of date. <a href="{{ url_for('vyakarana.lesson', topic='sounds', slug='the-shiva-sutras') }}">See the new version here.</a></p>
</aside>

<h2>Introduction</h2>
<p class="note box">This lesson is for those who have finished the chapter on <a href="/sounds">Sounds</a>.</p>
<p>As mentioned in the previous lesson, Panini wanted to make the Ashtadhyayi as brief as possible. One of the ways he did so was by organizing the Sanskrit sounds into different groups. Since many rules deal with particular letters, these groups made it easier to refer to particular letters.</p>
<h3>An Illustration</h3>
<p>An example might help clarify what this means. Suppose we had a list of fruits that we wanted to buy at the store:</p>
<ul>
<li>apples</li>
<li>pears</li>
<li>peaches</li>
<li>mangoes</li>
<li>kiwis</li>
<li>pineapples</li>
<li>jackfruit</li>
<li>coconuts</li>
<li>raspberries</li>
</ul>
<p>Let's say that we go to the store because I want to buy some pears, peaches, mangoes, kiwis, and pineapples. How would we ask for the seller to give me these fruits? One possibility is to name all five of these fruits. But if we brought this list, and if the seller knew how to use our list, we could just say <q>Bring everything from pears to pineapples,</q> which would be much faster. Even more briefly, I could just say <q>pears pineapples</q>, as long as he knew that we were referring to our list.</p>
<p>With this principle in mind, Panini organized the Sanskrit sounds in a particular way, letting him refer to certain groups of letters very quickly. Just like our list of fruits of above, Panini made a list of letters:</p>
<ul class="examples">
<li><p class="dev">अ इ उ <span class="bold r">ण्</span></p>
<p lang="sa">a i u <span class="bold r">ṇ</span></p>
</li>
<li><p class="dev">ऋ ऌ <span class="bold r">क्</span></p>
<p lang="sa">ṛ ḷ <span class="bold r">k</span></p>
</li>
<li><p class="dev">ए ओ <span class="bold r">ङ्</span></p>
<p lang="sa">e o <span class="bold r">ṅ</span></p>
</li>
<li><p class="dev">ऐ औ <span class="bold r">च्</span></p>
<p lang="sa">ai au <span class="bold r">c</span></p>
</li>
<li><p class="dev">ह य व र <span class="bold r">ट्</span></p>
<p lang="sa">ha ya va ra <span class="bold r">ṭ</span></p>
</li>
<li><p class="dev">ल <span class="bold r">ण्</span></p>
<p lang="sa">la <span class="bold r">ṇ</span></p>
</li>
<li><p class="dev">ञ म ङ ण न <span class="bold r">म्</span></p>
<p lang="sa">ña ma ṅa ṇa na <span class="bold r">m</span></p>
</li>
<li><p class="dev">झ भ <span class="bold r">ञ्</span></p>
<p lang="sa">jha bha <span class="bold r">ñ</span></p>
</li>
<li><p class="dev">घ ढ ध <span class="bold r">ष्</span></p>
<p lang="sa">gha ḍha dha <span class="bold r">ṣ</span></p>
</li>
<li><p class="dev">ज ब ग ड द <span class="bold r">श्</span></p>
<p lang="sa">ja ba ga ḍa da <span class="bold r">ś</span></p>
</li>
<li><p class="dev">ख फ छ ठ थ च ट त <span class="bold r">व्</span></p>
<p lang="sa">kha pha cha ṭha tha ca ṭa ta <span class="bold r">v</span></p>
</li>
<li><p class="dev">क प <span class="bold r">य्</span></p>
<p lang="sa">ka pa <span class="bold r">y</span></p>
</li>
<li><p class="dev">श ष स <span class="bold r">र्</span></p>
<p lang="sa">śa ṣa sa <span class="bold r">r</span></p>
</li>
<li><p class="dev">ह <span class="bold r">ल्</span></p>
<p lang="sa">ha <span class="bold r">l</span></p>
</li>
</ul>
<p>This list has many names, including <span lang="sa">akṣarasamāmnāya</span>, meaning "list of sounds." But after Panini's rules became the norm for all of Sanskrit, his work was soon seen as a holy and sacred part of Vedic study. Some even said that the inspiration for this list came from the beat of Shiva's drum. For that reason, these rules are popularly called the <dfn>Shiva Sutras</dfn> (or, more correctly, the <dfn lang="sa">śivasūtrāṇi</dfn>). We cannot define every group of letters with these sutras, but we can define the most important ones.</p>
<p>But how are these rules used? Although the sutras may look confusing, they are actually quite straightforward.</p>
<h2>Using the rules</h2>
<p>Throughout the Ashtadhyayi, Panini adds extra letters to a term to show its properties. These letters only have a meaning in technical literature, and they never appear in "natural" Sanskrit. For that reason, such a letter is called <dfn lang="sa">anubandha</dfn>, literally "bound after." In the list above, all of the red letters are <span lang="sa">anubandha</span> letters.</p>
<p>So, how are they used in the Shiva Sutras? We choose a regular letter and attach an <span lang="sa">anubandha</span> to it. The combination of letter and <span lang="sa">anubandha</span>, called a <dfn lang="sa">pratyāhāra</dfn>, indicates everything from the letter to the <span lang="sa">anubandha</span>.</p>
<p>Well, what does that mean? It means that we can create hundreds of different groups of letters by just naming two. For example, the word <span lang="sa">ac</span> refers to all of the vowels. This <span lang="sa">pratyāhāra</span> consists of two parts: <span lang="sa">a</span>, which is the first letter in line 1, and <span lang="sa">c</span>, which is the <span lang="sa">anubandha</span> in line 4. As another example, the word <span lang="sa">hal</span> refers to all of the consonants. This <span lang="sa">pratyāhāra</span> consists of two parts: <span lang="sa">ha</span>, which is the first letter in line 5, and <span lang="sa">l</span>, which is the <span lang="sa">anubandha</span> in line 14. Note that the <span lang="sa">a</span> in <span lang="sa">ha</span> is just there to make the word easier to pronounce.</p>
<p class="note box">Note that the <span lang="sa">anubandha</span> letters are all quite rare in real Sanskrit. This was a deliberate choice by Panini. By using rarer letters, he could reduce the chance that a <span lang="sa">pratyāhāra</span> could be mistaken for a real word.</p>
<p>We'll go over more examples in a moment, but first I want to address three odd features of this list:</p>
<ul>
<li><p><strong><span lang="sa">ha</span> is included twice!</strong> The second <span lang="sa">ha</span> can only form a <span lang="sa">pratyāhāra</span> with the <span lang="sa">l</span> in its row, producing <span lang="sa">hal</span>. But this second <span lang="sa">ha</span> is never used to define a <span lang="sa">pratyāhāra</span>. Instead, it is used within other <span lang="sa">pratyāhāras</span>. For example, <span lang="sa">śal</span> includes all of the sounds in <span lang="sa">śavarga</span>, which includes <span lang="sa">ha</span>.</p></li>
<li><p><strong>Four long vowels are missing!</strong> Yes, it is true that the four long pure vowels (<span lang="sa">ā ī ū ṝ</span>) are all missing. All four, though, are counted with their short counterparts. So, the <span lang="sa">pratyāhāra</span> <span lang="sa">ak</span> includes all of the pure vowels: <span lang="sa">a, ā, i, ī, u, ū, ṛ, ṝ,</span> and <span lang="sa">ḷ</span>. Note that the long form of <span lang="sa">ḷ</span>, if it ever existed, has never been seen in real Sanskrit.</p></li>
<li><p><strong><span lang="sa">ṇ</span> is used twice as an <span lang="sa">anubandha</span>!</strong> Yes, this is a real ambiguity, and scholars today are not sure how to explain it. It's possible that Panini ran out of <span lang="sa">anubandha</span> letters and was forced to be ambiguous here. Unfortunately, you'll have to rely on the context of a rule to interpret a word using the <span lang="sa">ṇ anubandha</span>.</p></li>
</ul>
<p>Although it is possible to form hundreds of <span lang="sa">pratyāhāras</span>, only 42 are used in the Ashtadhyayi. You can use the exercises below to practice with some of these <span lang="sa">pratyāhāras</span>.</p>
<p class="fact box">For further reading, check out <a href="http://www.stanford.edu/~kiparsky/Papers/siva-t.pdf">this 1991 paper</a> by Paul Kiparsky, a linguistics professor at Stanford University. In this 15-page paper, Kiparsky argues that the Shiva Sutras do not depend on the traditional orderding or sounds and could have arisen without them. The paper is not an easy read, but it is not a very difficult one either.</p>
<h2>Exercises</h2>
<p>For the given <span lang="sa">pratyāhāra</span>, describe which letters are indicated.</p>
<ul class="drill exercises" lang="sa">
<li><p class="dev">हल्</p><p>hal</p></li>
<li><p class="dev">अच्</p><p>ac</p></li>
<li><p class="dev">झल्</p><p>jhal</p></li>
<li><p class="dev">झश्</p><p>jhaś</p></li>
<li><p class="dev">झष्</p><p>jhaṣ</p></li>
<li><p class="dev">यण्</p><p>yaṇ</p></li>
<li><p class="dev">शल्</p><p>śal</p></li>
</ul>
<p>The answers are:</p>
<ul class="drill exercises">
<li>all consonants</li>
<li>all vowels</li>
<li>stops and <span lang="sa">śavarga</span></li>
<li>voiced consonants</li>
<li>voiced aspirated consonants</li>
<li>semivowels</li>
<li lang="sa">śavarga</li>
</ul>
<h2>The next lesson</h2>
<p>In the next lesson, we will study some more <span lang="sa">anubandhas</span> and look at the first two rules of the Ashtadhyayi. You should only proceed once you have finished with <a href="/start">Starting Out</a>. If you came to this page from Sounds, you can click <a href="/sounds/review">here</a> to go back to the review page.</p>
{% endblock %}

