{% extends 'base-grammar.html' %}

{% block title %}Review{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/sounds">Sounds</a> »</li>
<li>Review</li>
</ul>
{% endblock %}

{% block content %}

<h1>Review</h1>
<p>Every set of chapters ends in a <dfn>review page</dfn> that contains a summary of the information covered within it. If you ever forget about the material you've studied, you can open the correspending review page for a refresher.</p>
<p>You can also find some links <dfn>supplemental lessons</dfn> near the bottom of each review page. These supplemental lessons are here for a simple reason. Sanskrit grammar will help you to understand the structure and basic meaning of a text, but it's a different thing altogether to understand its deeper significance. Many texts exist within particular traditions, too, and these traditions usually have specialized terms and styles. For that reason, a basic familiarity with many parts of the ancient Indian world will greatly help you understand what a text actually says.</p>
<p>Additionally, I recommend reading these supplements to give yourself a break from Sanskrit itself. A lot of grammar at once isn't always a bad thing, but you'll be able to remember more parts of Sanskrit if you give your current knowledge some time to sink in.</p>
<h2>Review</h2>
<h3>Organizing sounds</h3>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/letterchart.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/letterchart.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div>
<dl class="blue" lang="sa">
<dt class="title">Varga</dt><dd class="title" lang="en">Letters</dd>
<dt>kavarga</dt><dd>ka kha ga gha ṅa</dd>
<dt>cavarga</dt><dd>ca cha ja jha ña</dd>
<dt>ṭavarga</dt><dd>ṭa ṭha ḍa ḍha ṇa</dd>
<dt>tavarga</dt><dd>ta tha da dha na</dd>
<dt>pavarga</dt><dd>pa pha ba bha ma</dd>
<dt>yavarga</dt><dd>ya ra la va</dd>
<dt>śavarga</dt><dd>śa ṣa sa ha</dd>
</dl>
<table class="blue" lang="sa">
<tr lang="en"><th>Weak</th><th>Medium</th><th>Strong</th></tr>
<tr><td>a, ā</td><td></td><td>ā</td></tr>
<tr><td>i, ī</td><td>e</td><td>ai</td></tr>
<tr><td>ṛ, ṝ</td><td>ar</td><td>ār</td></tr>
<tr><td>u, ū</td><td>o</td><td>au</td></tr>
</table>
<h3>Rules for syllables</h3>
<ul>
<li><p>A syllable is a sound that has <strong>exactly one</strong> vowel.</p></li>
<li><p>A syllable can start with a vowel <strong>only when:</strong></p>
<ul>
<li><p>The syllable is at the <strong>beginning of a line.</strong></p></li>
<li><p>The syllable follows a consonant that is removed due to a <strong>special rule.</strong> (Ignore this for the time being.)</p></li>
</ul>
<li><p>A syllable can end in any number of consonants; but when a stop appears, it ends the syllable.</p></li>
<li><p>Syllables that end in short vowels are <dfn>light</dfn>. All other syllables are <dfn>heavy</dfn>.</p></li>
<li><p>As we read a line, we should make each syllable as large as possible. But we cannot break the rules above.</p></li>
</li></ul>
<h2>Supplements</h2>
<p>Panini's grammatical system describes the whole of classical Sanskrit. Textual commentary, especially for poems and dramas, often quotes Panini to support a particular reading or interpretation. But even if you don't plan to read commentaries on poems and dramas, it's worthwhile to know a bit about the methods that Sanskrit scholars have used for thousands of years. You can start with some <a href="/supp/panini/">supplementary lessons on Panini</a>. At this point, you should know enough to read lesson 2.1.2 ("The Shiva Sutras") and everything that comes before it.</p>
<p>It's also worthwhile to start studying Sanskrit meter. Again, you can start with some <a href="/supp/prosody/">supplementary lessons on Sanskrit meter</a>. At this point, you should know enough to read lesson 2.2.2 ("Gaṇas") and everything that comes before it.</p>
<h2>Onward!</h2>
<p class="note box">You're all done with Sounds, the first unit of this guide!</p>
<p>Now that you have a thorough understanding of Sanskrit pronunciation, we are ready to start reading some actual Sanskrit sentences. Click <dfn>next →</dfn> on the bar below to move on to the next unit.</p>
{% endblock %}

