{% extends 'base-grammar.html' %}

{% block title %}Consonants{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/sounds">Sounds</a> »</li>
<li>Consonants</li>
</ul>
{% endblock %}

{% block content %}

<h1>Consonants</h1>
<p>We have just studied the vowels, which are produced when air flows smoothly through the mouth. Now we will study the consonants, which are produced by <strong>interrupting the air flow</strong>. We can interrupt the air flow in one of three ways:</p>
<ul>
<li>stopping it entirely</li>
<li>redirecting it (through the nose)</li>
<li>suppressing it, without stopping it entirely</li>
</ul>
<p>To refer to a particular consonant, we put the vowel <span lang="sa">a</span> after it. This combination of consonant and vowel creates some simple and intuitive names, which we use when talking about the letters. For example, the "k" and "b" sounds are called <dfn lang="sa">ka</dfn> and <dfn lang="sa">ba</dfn> in Sanskrit. Compare these simple names to the complex ones — "kay" and "bee" — that we use in English.</p>
{% endblock %}

