{% extends 'base-grammar.html' %}

{% block title %}Exercises: Vowel Stems{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/nouns">Nouns</a> »</li>
<li><a href="/nouns/ppp">The PPP</a> »</li>
<li>Exercises: Vowel Stems</li>
</ul>
{% endblock %}

{% block content %}

<h1>Exercises: Vowel Nouns</h1>
<h2>Short pronouns</h2>
<p>The first-person <span lang="sa">mad</span> pronoun and the second-person <span lang="sa">tvad</span> pronoun both have some "short forms" that appear in certain grammatical cases. Two of these short forms are <dfn lang="sa">me</dfn> (case 6 singular) and <dfn lang="sa">te</dfn> (case 6 singular). These forms will be used in future exercises, and we will study them in more detail later on.</p>
<h2>Vocabulary</h2>
<h3>Vowel Nouns</h3>
<dl class="vocab">
<dt>अग्नि</dt><dd>m<dd>fire <span class="etym">[ignite]</span></dd>
<dt>गुरु</dt><dd>mfn<dd>heavy; great, grave, respectable <span class="etym">[grave]</span></dd>
<dd><dl>
<dt>गुरु</dt><dd>m<dd><a href="http://en.wikipedia.org/wiki/Guru">guru</a></dd>
<dt>गौरव</dt><dd>n<dd>heaviness, respectability, venerability</dd>
</dd></dd></dl>
<dt>मही</dt><dd>f<dd>earth</dd>
<dt>नद्</dt><dd>नदति</dd><dd>sound, roar, cry</dd>
<dd><dl>
<dt>नदी</dt><dd>f<dd>"roarer," a river</dd>
</dd></dl>
<dt>चमू</dt><dd>f<dd>army</dd>
</dd></dd></dd></dd></dd></dd></dl>
<h3>General vocabulary</h3>
<dl class="vocab">
<dt>गा</dt><dd>???<dd>go</dd>
<dd><dl>
<dt>गात्र</dt><dd>n<dd>"means of going"; limb</dd>
</dd></dl>
<dt>गै</dt><dd>गायति</dd><dd>sing
	<dd class="desc">This verb is said to belong to the <span lang="sa">a+</span> class. So, too, are all verbs with a medium or strong vowel. This fact is easier to understand if we think back to our <a href="/start/verbs/roots">old root system</a>: the <span lang="sa">a+</span> class contains roots that do not weaken.
</dd>
<dd><dl>
<dt>गीत</dt><dd>mfn<dd>sung (PPP)
		<dd class="desc">Note that the strong vowel <span lang="sa">ai</span> has weakened here to <span lang="sa">ī</span>. A similar change occurs in the passive verb; so, we get <span lang="sa">gīyate</span>.
</dd>
<dd><dl>
<dt>गीता</dt><dd>f<dd>that which is sung; a song</dd>
</dd></dl>
</dd></dd></dd></dl>
<dt>भुज्</dt><dd>???<dd>eat, (physically) enjoy, feast on</dd>
<dd><dl>
<dt>भोग</dt><dd>m<dd>feasting, physical/carnal pleasure</dd>
<dt>भोजन</dt><dd>n<dd>act of preparing food; a meal</dd>
</dd></dd></dl>
<dt>विप्</dt><dd>वेपते</dd><dd>tremble, shake</dd>
<dd><dl>
<dt>वेपथु</dt><dd>m<dd>quivering, trembling
		<dd class="desc">Note the use of the rare suffix <span lang="sa">thu</span>, which does not have any strong meaning.
</dd>
</dd></dd></dl>
<dt>शरीर</dt><dd>n<dd>body</dd>
<dt>शुष्</dt><dd>शुष्यति</dd><dd>dry up, become withered <span class="etym">[desiccate]</span></dd>
<dd><dl>
<dt>परिशुष्</dt><dd>परिशुष्यति</dd><dd>become completely dry</dd>
</dl>
<dt>! सद्</dt><dd>सीदति</dd><dd>sit down <span class="etym">[sit]</span>
<dd class="desc">This verb is said to be in either the <span lang="sa">a+</span> class or the <span lang="sa">a0</span> class.
</dd>
<dd><dl>
<dt>! प्रसद्</dt><dd>प्रसीदति</dd><dd>soothe, calm down, become tranquil
		<dd class="desc">
</dd>
<dd><dl>
<dt>प्रसाद</dt><dd>m<dd>serenity, grace; a gift; <a href="http://en.wikipedia.org/wiki/Prasad">food presented to god</a></dd>
</dd></dl>
</dd></dd></dl>
<dt>स्वर्ग</dt><dd>m<dd>heaven</dd>
<dt>हृष्</dt><dd>हृष्यामि</dd><dd>bristle; rejoice</dd>
<dd><dl>
<dt>हर्ष</dt><dd>m<dd>bristling; joy, excitement</dd>
<dd><dl>
<dt>रोमहर्ष</dt><dd>m<dd>bristling of body hair
			<dd class="desc">The first word here is <span lang="sa">roman</span>, which we will study later on.
</dd>
</dd></dd></dl>
</dd></dd></dl>
</dd></dd></dd></dd></dd></dd></dd></dd></dd></dd></dd></dd></dd></dl>
<h2>Translation</h2>
<p>Translate from English to Sanskrit.</p>
<ul class="drill exercises">
<li><p>The rivers roar sweetly.</p></li>
<li><p>After killing the gurus, Arjuna does not grieve.</p></li>
<li><p>The fires shine in the middle of the city.</p></li>
<li><p>The armies (<span lang="sa">camū</span>) of heaven go forth.</p></li>
</ul>
<p>Translate from Sanskrit to English.</p>
<ul class="exercises" lang="sa">
<li><p class="dev">हतो वा प्राप्स्यसि स्वर्गं जित्वा वा भोक्ष्यसे महीम्</p></li>
<li><p class="dev">सीदन्ति मम गात्राणि मुखं च परिशुष्यति ।<br/>
वेपथुश्च शरीरे मे रोमहर्षश्च जायते ॥</p></li>
</ul>
<h2>Answers</h2>
<h3>Translation</h3>
<ul class="drill exercises" lang="sa">
<li><p class="dev">नद्यो मधुरं नदन्ति</p><p>nadyo madhuraṃ nadanti</p></li>
<li><p class="dev">अर्जुनो गुरून् हत्वा न शोचति</p><p>arjuno gurūn hatvā na śocati</p></li>
<li><p class="dev">अग्नयो नगरमध्ये काशन्ते</p><p>agnayo nagaramadhye kāśante</p></li>
<li><p class="dev">स्वर्गचम्वः प्रगच्छन्ति</p><p>svargacamvaḥ pragacchanti</p></li>
</ul>
<ul class="exercises">
<li><p>Either you will be killed and obtain heaven (literally "having been killed you will obtain heaven"), or you will conquer and enjoy the earth (literally "having conquered you will enjoy the earth").</p>
<p class="aside"><cite>Bhagavad Gita 2.37</cite></p></li>
<li><p>My limbs sink down, and my mouth dries up; and (there is) trembling in my body, and my hair stands on end. (literally, "and bristling of hair is produced.")</p>
<p class="aside"><cite>Bhagavad Gita 1.29</cite></p>
<p class="aside">This is our first full verse of the Bhagavad Gita!</p></li>
</ul>

{% endblock %}

