{% extends 'guide/lesson.html' %}
{% block lesson %}

<p>Learning Sanskrit is like building a massive house. Our materials are the various Sanskrit sounds, which we combine and blend to make new materials. Our techniques are the rules of grammar, which start out quite simply but soon become much more subtle and interesting. And our approach is a practical one: build a basic shelter before expanding further.</p>

<p>But without a steady foundation, the house cannot stand. If we have even a basic understanding of how Sanskrit generally works, we can greatly reduce our problems later on. Moreover, this basic understanding will also help us put Sanskrit's different parts in perspective.</p>

<p>So before we begin with Sanskrit itself, let's quickly discuss what the language is like.</p>

<h2>Word order</h2>
<p>Here is a basic English sentence:</p>

<ul class="examples">
    <li><p>Elephants eat fruits.</p></li>
</ul>

<p>Let's see how this sentence appears in Sanskrit:</p>

<ul class="examples">
    {{ iex('gajAH phalAni khAdanti', 'Elephants fruit eats. ("Elephants eat fruits.")') }}
</ul>

<p>As you can see, the came concepts appear in different orders in both languages. But surprisingly, the word order does not matter much in Sanskrit:</p>

<ul class="examples">
    {{ iex('gajAH khAdanti phalAni', 'Elephants eat fruits. ("Elephants eat fruits.")') }}
    {{ iex('phalAni khAdanti gajAH', 'Fruits eat elephants. ("Elephants eat fruits.")') }}
    {{ iex('khAdanti phalAni gajAH', 'Eat fruits elephants. ("Elephants eat fruits.")') }}
</ul>

<h2>Inflection</h2>
<p>Sanskrit is so flexible because its words carry <strong>extra information</strong> with them. We take a basic word, like {{ 'gaja'|i }} ("elephant"), and somehow <em>mark</em> it to show two things:</p>

<ul>
    <li>There are multiple elephants.</li>
    <li>These elephants are eating (but the fruits are not).</li>
</ul>

<p>And likewise for {{ 'phala'|i }} ("fruit"):</p>

<ul>
    <li>There are multiple fruits.</li>
    <li>These fruits are being eaten (but the elephants are not).</li>
</ul>

<p>We add this extra information by changing part of the word: {{ 'gaja'|i }} becomes {{ 'gajAH'|i }}, and {{ 'phala'|i }} becomes {{ 'phalAni'|i }}. When we change a word to add information like this, we say that we <dfn>inflect</dfn> the word.</p>

<p>Words are inflected in English, too, but not very much. For example, we say "I play" and "you play," but we say "he <strong>plays</strong>," not "he play." If we see just the word "plays," we can guess that the person doing the playing is "he" or "she," but probably not "I" or "you." This is because the word has been <em>inflected</em> to show who is doing the playing.</p>

<p>As another example, we say "I play" and "I will play," but we say "I <strong>played</strong>." The word "play" changes to show that the playing has already happened. We can work backward from the word "played" and figure that out.</p>

<p>Sanskrit words are inflected much more than English words. Even complex ideas can be represented as single words:</p>

<ul class="examples">
    {{ iex('<mark class="r">grAmAn</mark> <mark class="b">bAlau</mark> jigamayiSanti', 'They want to make <mark class="b">the two boys</mark> go <mark class="r">to the villages</mark>.') }}
</ul>

<p>There are also <dfn>uninflected</dfn> words, which always remain the same:</p>

<ul class="examples">
    {{ iex('sa <mark>eva</mark> gacchati', '<mark>Only</mark> he goes.')}}
</ul>

<h2>Making words</h2>
<p>One of Sanskrit's richest and most rewarding features is the ability to <strong>make your own words</strong>. Starting from basic sounds and syllables, we can quickly create words of great subtlety and nuance:</p>

<ul class="examples">
    {{ iex('bhaj -> bhaga -> bhagavat -> bhAgavata', 'adore, love -> adoration, love -> glorious, fortunate; the blessed one, Lord -> concerning the blessed Lord') }}
    {{ iex('yuj -> yoga -> yogin', 'connect, bind, prepare -> concentration, exertion (<a href="http://en.wikipedia.org/wiki/Yoga">yoga</a>) -> <a href="http://en.wikipedia.org/wiki/Yogi">yogin</a>') }}
</ul>

<p>Just as many branches grow from the same trunk, many words can grow from the same basic elements. By learning these elements and some basic rules, we can quickly understand thousands of new words.</p>

{% endblock %}