{% extends 'guide/unit.html' %}

{% block article %}
<p>This unit gives us a basic foundation for the Sanskrit language. We learn the fundamental concepts that make Sanskrit what it is and study some interesting examples of how these concepts are used. We also learn some basic words and start writing simple sentences.</p>

<p>It is essential to understand these concepts perfectly. So if you have any doubts about what something means, or if you think you've found an error, please <a href="{{ url_for('site.contact') }}">let us know</a> what we can do to help.</p>

{% include 'guide/include/start-unit.html' %}

{% endblock %}
