{% if not standalone %}{% extends 'guide/lesson.html' %}{% endif %}

{% block lesson %}
<p>One of the most compelling parts of Sanskrit is the ability to <strong>make our own words</strong>. Sanskrit provides many ways to do so, and by learning all of them, we can create words to describe almost any concept. This lesson, which is the last of the unit, will introduce one of the most common techniques used to create Sanskrit words.</p>

<h2>Compounds</h2>
<p>Consider a simple sentence:</p>

<ul class="examples">
    {{ ex('grAmasya vIraM rakSAmi', 'I protect the hero of the village.', iast=true) }}
</ul>

<p>Often, the relationship between two nouns is clear from context. Here, we do not explicitly need case 6 to tell us that this "hero" is the "hero of the village." In that spirit, Sanskrit allows us to condense the two words above into something much more compact:</p>

<ul class="examples">
    {{ ex('<mark>grAmavIraM</mark> rakSAmi', 'I protect the <mark>village hero</mark>.', iast=true) }}
</ul>

<p>This is a <dfn>compound</dfn>, one of Sanskrit's most beautiful and powerful features. English has compounds as well, such as "village hero." But the Sanskrit compound system is far more developed than the English one. Sanskrit compounds can have dozens of separate words, and they can express complex and subtle relationships that English compounds often cannot.{% filter foot(notes) %}For an example of a compound with well over 60 words, <a href="http://hellenisteukontos.blogspot.com/2010/03/what-is-longest-word-of-sanskrit.html">click here</a>.{% endfilter %}</p>

<p>By sacrificing the <em>freedom</em> and <em>clarity</em> of a noun ending, we obtain a <em>density</em> that allows to express complex ideas in an extremely small space. Let's explore what these ideas mean.</p>

<h3>Freedom</h3>
<p>Freedom is the ability to reorder the words in some sentence:</p>

<ul class="examples">
    {{ ex('vIraM pazyAmi grAmasya', 'I see the hero of the village.', iast=true) }}
</ul>

<p>We can reorder words because of the <em>extra information</em> contained in the noun ending. If this noun ending is lost, this information is lost; we cannot move words around so easily. And in a compound, <strong>word order is vital</strong>:</p>

<ul class="examples">
    {{ ex('grAmavIraM pazyAmi', 'I see the village hero ("hero of the village").', iast=true) }}
    {{ ex('vIragrAmaM pazyAmi', 'I see the hero village ("village of heroes").', iast=true) }}
</ul>

<h3>Clarity</h3>
<p>Clarity is the ability to perfectly understand what a sentence means to say:</p>

<ul class="examples">
    {{ ex('vIrasya gajo gacchati', "The hero's elephant goes.", iast=true) }}
    {{ ex('vIrayor gajo gacchati', "The two heroes' elephant goes.", iast=true) }}
    {{ ex('vIrANAm gajo gacchati', "The heroes' elephant goes.", iast=true) }}
</ul>

<p>Here the noun ending defines how many heroes are involved. If the noun ending is lost, this information is lost:</p>

<ul class="examples">
    {{ ex('vIrasya gajaH -> vIragajaH', "The hero's elephant -> hero elephant", iast=true) }}
    {{ ex('vIrayor gajaH -> vIragajaH', "The two heroes' elephant -> hero elephant", iast=true) }}
    {{ ex('vIrANAm gajaH -> vIragajaH', "The heroes' elephant -> hero elephant", iast=true) }}
</ul>

<p>Usually, we can make a reasonable guess about what the noun ending was before.</p>

<h3>Density</h3>
<p>Density is the ability to express ideas quickly.</p>

<ul class="examples">
    {{ ex('naragrAmaM gacchAmi', 'I go to the man village ("village of the men").', iast=true) }}
</ul>

<p>In a sentence like the one above, our common sense lets us know that {{ 'naragrAma'|i }} probably does not mean "village of the man" or "village of the two men." If we know more about the context of this sentence &mdash; where it is stated, who says it, and what ideas come before it &mdash; then we might interpret this sentence differently:</p>

<ul class="examples">
    {{ ex('narasya gajaM pazyAmi | naragrAmaM gacchAmi', 'I see the man\'s elephant. I go to the man village ("village of the man").', iast=true) }}
</ul>

<p>Although compounds sacrifice clarity and freedom, the gain in density is usually worthwhile, especially in Sanskrit poetry. This density is what gives much of Sanskrit poetry its exquisite expressive power. Here is a complex example from the poet Kalidasa:</p>

<ul class="examples">
    {{ iex('valkala-zikhA-niSyanda-rekha-aGkitAH', 'marked with the streaks of water dripping from their bark garments') }}
</ul>

<h2>The {{ 'tatpuruSa'|i }}</h2>
<p>Now that we understand what compounds are and what they can do, let's study an example in more detail. This example uses the word {{ 'tasya'|i }}, which means "his":</p>

<ul class="examples">
    {{ ex('tasya puruSaH → <mark>tatpuruSaH</mark>', 'His servant', iast=true) }}
</ul>

<p>This is how compounds are conventionally discussed. The phrase on the right is the compound itself. The phrase on the left is called the {{ 'vigraha'|i('dfn') }} ("resolution"), and it rewrites the compound using normal case endings. The idea is that wherever the compound appears, the {{ 'vigraha'|i }} could be substituted and still communicate the <strong>same meaning</strong>.</p>

<p>Notice that the compound is produced of two separate parts. Almost all compounds are. If a compound is a special type of its second part &mdash; if {{ 'vIragaja'|i }} is a special type of {{ 'gaja'|i }}, or if {{ 'devaloka'|i }} is a special type of {{ 'loka'|i }} &mdash; then the compound is called {{ 'tatpuruSa'|i('dfn') }}. Thus the word {{ 'tatpuruSa'|i }} is itself a {{ 'tatpuruSa'|i }} compound, because {{ 'tatpuruSa'|i }} is a special type of {{ 'puruSa'|i }}. Or for an English example, an iron bar is a special type of bar.</p>

<p>But not all compounds pass this test. Returning to English, a blockhead is <em>not</em> a special type of head; a blockhead is a person. And Blackbeard is <em>not</em> a special type of beard; Blackbeard is <a href="http://en.wikipedia.org/wiki/Blackbeard">a pirate</a>.</p>

<h3>Case 6 {{ 'tatpuruSa'|i }}</h3>
<p>The {{ 'tatpuruSa'|i }} is a rich compound that appears in many different forms. To help us talk about these forms, we can label a {{ 'tatpuruSa'|i }} compound based on the case that its first noun has in the {{ 'vigraha'|i }}.</p>

<p>Consider the phrase below:</p>

<ul class="examples">
    {{ ex('devasya putraH -> devaputraH', 'The son of the god', iast=true) }}
</ul>

<p>Here {{ 'deva'|i }} is in case 6 in the {{ 'vigraha'|i }}. So we would say that {{ 'devaputra'|i }} is a case 6 {{ 'tatpuruSa'|i }}. These sorts of compounds are in English, too:</p>

<ul class="examples">
    <li><p>patch of cabbages → cabbage patch</p></li>
    <li><p>leader of the world → world leader</p></li>
    <li><p>bar of iron → iron bar</p></li>
</ul>

<p>Just as in Sanskrit, the first word loses its ending. For example, "cabbages" becomes just "cabbage."</p>

<h3>Case 1 {{ 'tatpuruSa'|i }}</h3>
<p>The <dfn>case 1</dfn> {{ 'tatpuruSa'|i }} is a little more difficult to understand. An English example of it is "singer-songwriter," a person who is both a singer and a songwriter. Most often, it is used to pair a noun with an adjective:</p>

<ul class="examples">
    {{ ex('kRSNo mRgaH → kRSNamRgaH', 'black deer', iast=true) }}
    {{ ex('zvetAv azvau → zvetAzvau', 'two white horses', iast=true) }}
    {{ ex('sundarAH siMhAH → sundarasiMhAH', 'beautiful lions', iast=true) }}
</ul>

<p>But it can pair nouns with nouns, too:</p>

<ul class="examples">
    {{ ex('naro vIraH → naravIraH', 'man-hero; he who is both a man a hero', iast=true) }}
    {{ ex('naraH siMhaH → narasiMhaH', 'man-lion; "he who is both a man and a lion," i.e. <a href="http://en.wikipedia.org/wiki/Narasimha">Narasimha</a>', iast=true) }}
</ul>

<p>Notice that even without case endings, it is fairly easy to tell what the relationship between the two parts of each compound should be. As you read more Sanskrit, you will intuitively understand these compounds.</p>

<h2>Compounds in compounds</h2>

<p>Compounds are formed from multiple words. But compounds are themselves words. So, we can put compounds in compounds! By doing so, we can quickly build up massive words.</p>

<ul class="examples">
    {{ ex('arjunasya grAmaH -> arjunagrAmaH', 'Arjuna\'s village', iast=true) }}
    {{ ex('arjunagrAmasya gajaH -> arjunagrAmagajaH', 'the elephant of Arjuna\'s village', iast=true) }}
    {{ ex('arjunagrAmagajayoH putrAH -> arjunagrAmagajaputrAH', 'the sons of the elephants of Arjuna\'s village', iast=true) }}
</ul>

{% endblock %}
