{% extends 'base-grammar.html' %}

{% block title %}Exercises: Infinitives{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/verbs">Verbs</a> »</li>
<li><a href="/verbs/roots">Verb Roots</a> »</li>
<li>Exercises: Infinitives</li>
</ul>
{% endblock %}

{% block content %}

<h1>Exercises: Infinitives</h1>
<h2>Vocabulary</h2>
<div class="vocab">
<h3>Verbs that use the infinitive</h3>
<dl>
<dt>अर्ह्</dt><dd>1P अर्हति</dd><dd>deserve, be worthy of</dd>
<dd class="desc">When used with the infinitive, the verb <span lang="sa">arh</span> becomes a gentle command. For example, <span lang="sa">na gantum arhasi</span>, meaning something like "It does not befit you to go" or "You should not go."</dd>
<dt>इष्</dt><dd>6P इच्छति</dd><dd>want, desire, seek</dd>
<dt>शक्</dt><dd>5P शक्नोति</dd><dd>be able to, "can"</dd>
</dl>
</div>
<h2>Translation</h2>
<p>Translate from Sanskrit to English.</p>
<ul class="dev exercises">
<li>एतान्न हन्तुमिच्छामि घ्नतोऽपि मधुसूदन ।</li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>
<h2>Answers</h2>
<h3>Translation</h3>
<ul class="drill exercises">
<li>I do not wish to slay them, O Slayer of Madhu, even though (<span lang="sa">api</span>) they will slay. <cite>Bhagavad Gita 1.35</cite>
<p>Remember that the regular present tense verb can also talk about the near future. That sense of the verb makes more sense here; Arjuna says this line before the battle has started, and nobody has started to fight.</p></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
</ul>

{% endblock %}

