{% extends 'base-main-nav.html' %}

{% block title %}About{% endblock %}
{% block content %}
<h1>About</h1>

<h2>Goals</h2>
<ul>
	<li><i>To help the student <strong>read real Sanskrit</strong> as quickly as possible</i>
	<p>In order to let the student read Sanskrit as quickly as possible, the guide hastens to cover the especially salient and usable parts of Sanskrit grammar: word formation, the system of compounds, the use and construction of participles, the various sorts of noun stems, and the passive voice. Unlike other guides to the language, this one leaves a discussion of less useful forms, such as the past tense, until much later on.</p></li>
	<li><i>To <strong>simplify the process</strong> of learning Sanskrit without simplifying the language itself</i>
	<p>At least in the earlier stages of the language, Sanskrit terms are unnecessary. Technical terms like <span lang="sa">laṭ</span> or <span lang="sa">ghu</span> are easy to remember but difficult to handle, and general terms like <span lang="sa">oṣṭha</span> have equivalents in English that are easier to understand. Since part of Sanskrit's difficulty is in the vocabulary used to describe the language itself, it follows that we can make the language easier to learn by simplifying this vocabulary.</p></li>
	<li><i>To present Sanskrit grammar <strong>clearly, legibly, and beautifully</strong></i>
	<p>This website takes full advantage of the capabilities of the Internet to present material as clearly as possible. Rules, examples, and other supplemental material outside the flow of the lesson proper are visually separated from the rest of the text to aid <dfn>scanning</dfn> &mdash; which is the <a href="http://www.useit.com/alertbox/whyscanning.html">default reading behavior</a> of many Internet users &mdash; and encourage revisits to older material. Web pages are fairly attractive, or at least enough so to seem less intimidating.</p></li>
	<li><i>To create a free guide that can <strong>rival any Sanskrit textbook</strong> in depth and quality</i>
	<p>The state of Sanskrit education is pretty grim, so perhaps this goal is more achievable than the others. Ultimately, this guide can only make a case for the viability of Web-based education if it can supplant older printed materials.</p></li>
	<li><i>To <strong>popularize</strong> the study of Indian classical languages</i>
	<p>It is no exaggeration to say that we may soon lose our connection to one of the most profound, lyrical, and prolific literary tradititions on the face of the earth. The <a href="http://www.columbia.edu/cu/mesaas/faculty/directory/pollock_pub/Crisis%20in%20the%20Classics.pdf">crisis in the classics</a> is no empty threat. As India and the rest of the world reach for industrialized modernity, classical education falls by the wayside. Thus Sheldon Pollock writes: <q>India is confronting a calamitous endargement of its classical knowledge, and India may have reached the point the rest of the world will reach tomorrow.</q> This is not an "Indian" problem; this is a human one, and all of us stand to suffer by the loss of this knowledge.</p>
	<p>If more people can see the inherent richness and value of classical study as a whole &mdash; if more people have the capacity to engage with and critique the past &mdash; then perhaps the immense richness of our collective past can be saved. We can do so by making old languages like Sanksrit more accessible than ever before.</p></li>
</ul>

<h2>Books</h2>
<p>This site was constructed with the help of the following works:</p>

<h3>Grammars</h3>
<ul>
	<li>M.R. Kale's <cite class="inline">A Higher Sanskrit Grammar</cite></li>
	<li>A. A. MacDonnell's <cite class="inline">Sanskrit Grammar</cite></li>
	<li>Panini's <cite class="inline">Ashtadhyayi</cite></li>
	<li>William Dwight Whitney's <cite class="inline">Sanskrit Grammar</cite></li>
</ul>

<h3>Textbooks</h3>
<ul>
	<li>Michael Coulson's <cite class="inline">Teach Yourself Sanskrit</cite></li>
	<li>Thomas Egenes' <cite class="inline">Introduction to Sanskrit Part One</cite> and <cite class="inline">Part Two</cite></li>
	<li>Robert Goldman's <cite lang="sa" class="inline">Devavāṅīpraveśikā</cite></li>
	<li>Charles Wikner's <cite class="inline">A Practical Sanskrit Introductory</cite></li>
</ul>

<h3>Dictionaries and Lexica</h3>
<ul>
	<li>Monier Monier-Williams's <cite class="inline">Sanskrit-English Dictionary</cite></li>
	<li>V.S. Apte's <cite class="inline">Sanskrit-English Dictionary</cite></li>
	<li>Amarasimha's <cite lang="sa" class="inline">nāmaliṅgānuśāsanam</cite></li>
</ul>

<h2>Technical</h2>
<h3>Hosting</h3>

<p>This site is hosted for free by <a href="http://www.ibiblio.org">ibiblio</a>, which is a "collection of collections" and an Internet library of sorts. If you have a project about something of cultural significance, i.e. about something you could find in a library, and you are looking for a host, check the <a href="http://ibiblio.org/collection.html">ibiblio.org Collection Criteria</a> and see if your project could find a free home. You can read more about the project at <a href="http://www.ibiblio.org">www.ibiblio.org</a>.</p>

<h3>Typesetting</h3>
<p>Devanagari text was set initially with Baraha Direct, part of the <a href="http://baraha.com/">Baraha</a> text-setting suite for Indic scripts. Baraha provides easy text-setting of Indic languages to encourage the use of Indian languages in computer programs and ensure that these languages are not left behind in the modern day. In this vein, the program is provided as freeware. You can download it at <a href="http://baraha.com/">www.baraha.com</a>. (The rest of the Devanagari has been generated by computer through a PHP-based transliteration engine.)</p>

<p>All English text was set with the Dvorak Simplified Keyboard, which was created more than 70 years ago for faster and more comfortable typing. For more information, you can read <a href="http://dvzine.org/zine/index.html">The Dvorak Zine</a>, an introduction to the layout in comic form. Or, for a more traditional introduction, you can visit the <a href="http://en.wikipedia.org/wiki/Dvorak_Simplified_Keyboard">Dvorak Simplified Keyboard</a> article on Wikipedia.</p>

<p>All text, including the website code, was typed in either Notepad or <a href="http://notepad-plus-plus.org/">Notepad++</a>.</p>

<h3>Code Information</h3>
<p>This site uses the following languages:</p>
<ul>
	<li><strong>HTML</strong> for basic page structure, including paragraphs, headings, and in-line markup.</li>
	<li><strong>CSS</strong> for the color, shape, size, and location of most of the elements on the page.</li>
	<li><strong>PHP</strong> for dynamic page elements.</li>
	<li><strong>Javascript</strong> for the <a href="tools/sanscript">Sanscript</a> transliterator.</li>
</ul>
<p>Almost all of the charts and tables used in the grammar guide can be found <a href="include/">here</a>.</p>

<p>At the moment, almost all of the pages on this site pass the HTML validator test at <a href="http://validator.w3.org">W3.org</a>.</p>

<h3>Bookmark Icon ("Favicon")</h3>
<p>The icon for this page is the Sanskrit letter <span lang="sa">a</span> (अ) on a blue background. It was made as a .png file in Adobe Photoshop and converted into a .ico file with the help of <a href="http://www.html-kit.com/favicon/">Favicon from Pics</a>, a free to-.ico converter that provides both still and animated icons. You can read more about the utility at <a href="http://www.html-kit.com/favicon/">www.html-kit.com/favicon</a>.</p>

<h2>Acknowledgments</h2>

<h3>Content</h3>
<ul>
	<li><p>Hari R., who was one of the first people to read through this site and whose comments helped clarify its structure.</p></li>
	<li><p>Minghao H., who has read through several lessons and checked them for clarity and concision.</p></li>
	<li><p>You! Many of you, sometimes anonymously, have taken the time to give me your feedback, and I thank you for taking the time to make this site a better tool for everybody who wants to learn Sanskrit. Thank you, thank you!</p></li>
</ul>

<h3>Technical Details</h3>
<ul>
	<li><p>Eric L, whose web know-how is responsible for the proper display of Devanagari text on this site. More imporantly, he also fielded hundreds of questions about HTML, CSS, PHP, and XML throughout. Thanks, Eric!</p></li>
	<li><p>The folks at ibiblio.org, whose passion and whose generosity both keep this site running quickly and for free. I admire your mission and hope you'll continue with the project for years to come. Thanks, guys!</p></li>
</ul>
{% endblock %}
