<!doctype html>
<html lang="en">
	<head>
        <title>{% block title %} {% endblock %} | Learn Sanskrit Online</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="shortcut icon" href="/static/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/print.css" media="print" />
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
		<script type="text/javascript" src="/static/scripts/functions.js"></script>
	</head>
	<body>
		<div class="bar">
			<p class="links">
                <a href="{{ prev }}">← previous</a> | <a href="{{ next }}">next →</a>
			</p>
            {% block grammar_nav %}
            {% endblock %}
		</div>

<form action="http://www.google.com/cse" id="cse">
	<input type="hidden" name="cx" value="013021609329506570655:hoi0363vwwc" />
	<input type="hidden" name="ie" value="UTF-8" />
	<input type="text" name="q" />
	<input type="submit" name="sa" value="Search" />
</form>

<div id="content">
{% block content %}
{% endblock %}
</div>

		<div class="bar">
			<p class="links">
            <a href="{{ prev }}">← previous</a> | <a href="{{ next }}">next →</a>
			</p>
            {{ self.grammar_nav() }}
		</div>
        {% include 'include/footer.html' %}
	</body>
</html>
