{% extends 'base.html' %}

{% block full_title %}{% block title %}{% endblock %} | Learn Sanskrit Online{% endblock %}

{% block body %}
<header>
<nav class="main">
	<ul>
		<li><a href="/">Index</a></li>
		<li><a href="/grammar">Grammar guide</a></li>
		<li><a href="/resources">Resources</a></li>
		<li><a href="/tools">Tools</a></li>
		<li><a href="/contact" class="special">Contact</a></li>
		<li><a href="/preferences" class="special">Preferences</a></li>
	</ul>
</nav>
</header>

<article>
{% block content %}
{% endblock %}
</article>

{% include 'include/footer.html' %}
{% endblock %}
