{% extends 'base.html' %}

{% block full_title %}{% block title %} {% endblock %} | Learn Sanskrit Online{% endblock %}

{% block body %}
<div class="bar">
    <p class="links">
        <a href="{{ prev }}">← previous</a> | <a href="{{ next }}">next →</a>
    </p>
    {% block grammar_nav %}
    {% endblock %}
</div>

<form action="http://www.google.com/cse" id="cse">
	<input type="hidden" name="cx" value="013021609329506570655:hoi0363vwwc" />
	<input type="hidden" name="ie" value="UTF-8" />
	<input type="text" name="q" />
	<input type="submit" name="sa" value="Search" />
</form>

<div id="content">
{% block content %}
{% endblock %}
</div>
		<div class="bar">
			<p class="links">
            <a href="{{ prev }}">← previous</a> | <a href="{{ next }}">next →</a>
			</p>
            {{ self.grammar_nav() }}
		</div>
        {% include 'include/footer.html' %}
{% endblock %}
