{% extends 'base.html' %}

{% block full_title %}{% block title %}{% endblock %} | Learn Sanskrit Online{% endblock %}

{% block body %}
<div class="blocky bar">
	<ul>
		<li><a href="/">Index</a></li>
		<li><a href="/grammar">Grammar guide</a></li>
		<li><a href="/resources">Resources</a></li>
		<li><a href="/tools">Tools</a></li>
		<li><a href="/contact" class="special">Contact</a></li>
		<li><a href="/preferences" class="special">Preferences</a></li>
		<!-- <li><a href="http://nakula.learnsanskrit.org">→ Nakula</a></li> -->
		<form action="http://www.google.com/cse" id="cse">
			<input type="hidden" name="cx" value="013021609329506570655:hoi0363vwwc" />
			<input type="hidden" name="ie" value="UTF-8" />
			<input type="text" name="q" />
			<input type="submit" name="sa" value="Search" />
		</form>
	</ul>
</div>

<div id="content">
{% block content %}
{% endblock %}
</div>

{% include 'include/footer.html' %}
{% endblock %}
