{# Template for legaly grammar lessons #}
{% extends 'base-legacy.html' %}

{% block full_title %}{% block title %} {% endblock %} | Learn Sanskrit Online{% endblock %}

{% block body %}
<div class="bar f6">
    <p class="links">
        <a href="{{ prev }}">← previous</a> | <a href="{{ next }}">next →</a>
    </p>
    {% block grammar_nav %}
    {% endblock %}
</div>

<article>
{% block aside %}
<aside class="note">
    {% set subscribe=config.MAILING_LIST_URL %}
    <p>Please use <a href="/guide">our updated grammar guide</a>.</p>
</aside>
{% endblock %}
{% block content %}
{% endblock %}
</article>

<div class="bar">
    <p class="links">
    <a href="{{ prev }}">← previous</a> | <a href="{{ next }}">next →</a>
    </p>
    {{ self.grammar_nav() }}
</div>
{% include 'include/footer-old.html' %}
{% endblock %}
