<!doctype html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>
		{% block full_title %}
            {% block title %}{% endblock %} | Learn Sanskrit Online
		{% endblock %}
		</title>
		{% block meta_description %}
        <meta name="description" content="{% block meta %}A simple and complete guide to Sanskrit. Includes useful tools and resources for all levels.{% endblock %}" />
		{% endblock %}

		<link rel="shortcut icon" href="/static/favicon.png" />
        {% assets "css_all" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
        {% endassets %}
        {% block extrahead %}{% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script defer data-domain="learnsanskrit.org" src="https://plausible.io/js/plausible.js"></script>
	</head>
	<body>
        {% block body %}{% endblock %}
        {% block extra_scripts %}
        {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% endblock %}
	</body>
</html>
