{% extends 'base.html' %}

{% block title_full %}learnsanskrit.org{% endblock %}

{% block extrahead %}
<style type="text/css">
    header.splash {
        background: #fc0;
        padding: 1em;
    }
    header.splash h1 {
        text-align: center;
        font-size: 3em;
    }

</style>
{% endblock %}

{% block content %}
<header class="splash">
    <h1>{{ 'atha saMskRtAnuzAsanam |'|d }}</h1>
</header>

<div class="narrow">
    <p>learnsanskrit.org was created to help people learn Sanskrit as quickly and easily as possible. The heart of the site is a <em>comprehensive grammar guide</em> that covers nearly every part of the language:</p>

    <p class="call-to-action"><a class="jumbo invitation btn">Go to the grammar guide</a></p>

    <p>The site also contains some useful tools for working with Sanskrit:</p>

    <ul>
        <li><p><a href="{{ url_for('tools.sanscript') }}">Sanscript</a> lets you transliterate Sanskrit text. Sanscript supports nearly every Indian script and a variety of romanizations.</p></li>

        <li><p><a href="{{ url_for('dicts.mw') }}">The Monier-Williams dictionary</a> is the largest Sanskrit-English dictionary in the world. The version hosted on the site is (in my opinion) especially pleasant to use.</p></li>
    </ul>

    <p>If you find any errors here, if you want to help make the site even better, or if you just want to say hello, you can contact me <a href="{{ url_for('site.contact') }}">here</a>.</p>
</div>

{#
<section class="grid">
    <h1>Texts</h1>
    <p>A <a href="{ url_for('texts.index') }">reading environment</a> for the modern Sanskrit student. Texts, translations, commentaries, and word-by-word analysis, all in one place.</p>
</section>
#}
</div>

{% endblock %}
