{% extends 'base-text.html' %}

{% block full_title %}Learn Sanskrit Online{% endblock %}

{% block header %}
<header class="tc index pb3 bg-dark-red">
{% include 'include/top-nav.html' %}
<p class="logo sa1 mb0 mt4">{{ 'OM'|d }}</p>
<h1 class="ma0 f3">learnsanskrit.org</h1>
<p class="mt0 f6">Sanskrit lessons and tools for all levels</p>
</header>
{% endblock %}

{% block main %}
<div style="width: 100%">
<article class="mt4 mb5 pa2 readable">

{% set u = url_for('guide.index') %}
<p><a class="book-link" href="{{ u }}">Sanskrit for Beginners</a> &mdash;
Our complete guide to Sanskrit uses clear and simple language. Learn Sanskrit
from the beginning without any busywork.</p>

{% set u = "https://ambuda.org" %}
<p><span class="bg-yellow">[new]</span> <a class="book-link" href="{{ u
    }}">Ambuda</a> &mdash; Traditional Sanskrit texts with a word-for-word
analysis and integrated dictionary. Our newest project. Tell your friends!</p>

{% set u = url_for('vyakarana.index') %}
<p><a class="book-link" href="{{ u }}">{{ 'vyAkaraNa-pravezaH'|sa2 }}</a> 
&mdash; The <cite>Aṣṭādhyāyī</cite> is the foundational work of Sanskrit
grammar ({{ 'vyAkaraNa'|sa2 }}). This series explains its core components so
that you can explore it for yourself.</p>

<p><b>Sanskrit tools</b> &mdash; Use <a href="/tools/sanscript">Sanscript</a>
to convert Sanskrit text to whatever script you like. And we have plenty of
other tools gathered <a href="{{ url_for('site.tools') }}">on our Tools
page</a>.</p>

<aside class="note tc">
    {% set subscribe=config.MAILING_LIST_URL %}
<p><a href="{{ subscribe }}">Please subscribe for updates.</a> Thank you!</p>
</aside>

</article>
</div>
{% endblock %}
