{% extends 'base-main-nav.html' %}

{% block full_title %}Learn Sanskrit Online{% endblock %}

{% block content %}
<h1 class="f2"><i>learnsanskrit.org</i></h1>

<img src="/static/img/om-new.png" style="display: block; margin: auto; width: 200px;" />

<p>For over ten years, <i>learnsanskrit.org</i> has been one of the most
popular online resources for learning Sanskrit. As we enter our next decade, we
will revise the site and its content in light of advances both in technology
and in Sanskrit education.</p>

<p>Our goal, as always, is to make it easy for anyone to learn and teach
Sanskrit. Thank you for your support for all these years, and we look forward to
seeing what the next decade will bring.</p>

<p style="text-align: right;"><i>&mdash; learnsanskrit.org, January 2021</i></p>

<hr style="width: 50%; border-color: #ddd;" />

<p>The heart of our site is the <strong>grammar guide</strong>, which has
stalled in recent years but which is under revision. Featuring thousands of
exercises, more than one hundred lessons, and dozens of images and audio clips,
the guide presents Sanskrit grammar in a fresh way without sacrificing clarity,
depth, or its enthusiastic spirit!</p>

<p class="notice"><a href="grammar">Click here to go to the grammar guide!</a></p>

<p>To better enable Sanskrit's growth on the Internet, the site also has a collection of <strong>tools</strong>. The most popular of these tools is <a href="tools/sanscript">Sanscript</a>, a transliteration program that is hosted on this site. Also hosted here is an old copy of Dr. Oliver Hellwig's <a href="tools/ocr">SanskritOCR</a>, which is not readily available elsewhere.</p>
{% endblock %}
