<!doctype html>
<html>
    <head>
        <title>{% block title_full %}{% block title %}{% endblock %} | learnsanskrit.org{% endblock %}</title>
        {% assets "all-css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/2.10.0/d3.v2.min.js"></script>
        {% assets "all-js" %}
        <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% block extrahead %}{% endblock %}
    </head>
    <body id="{% block body_id %}general{% endblock %}">
        {% block nav %}
        <nav id="top">
            {% macro sec(name, path, id) %}
                {% set url = url_for(path) %}
                <li><a id="nav-{{ id }}" href="{{ url }}">{{ name }}</a></li>
            {% endmacro %}
            <a class="brand" href="{{ url_for('index') }}">learn<span class="y">sanskrit</span>.org</a>
            <ul class="main-nav">
                {{ sec('Guide', 'guide.index', 'guide') }}
                {{ sec('Tools', 'tools.index', 'tools') }}
                {{ sec('Texts', 'texts.index', 'texts') }}
                {{ sec('Site', 'site.index', 'site') }}
                {% if current_user.has_role('admin') %}
                {{ sec('Admin', 'admin.index', 'admin') }}
                {% endif %}
            </ul>
            <ul class="user-nav">
                <li>
                    {% if current_user.is_authenticated() %}
                    <a href="{{ url_for('users.home') }}">{{ current_user.email }}</a>
                    {% else %}
                    <a href="{{ url_for('users.login') }}">Sign in</a>
                    {% endif %}
                    <a id="settings-link" href="{{ url_for('site.settings') }}">⚙</a>
                </li>
            </ul>
        </nav>
        {% endblock %}
        {% block body %}
        {% block content %}{% endblock %}
        {% endblock %}
        {% block footer %}
        <footer>
            <div id="footer-wrapper">
            <p><a href="{{ url_for('index') }}">learnsanskrit.org</a>, since 2009 (<a href="{{ url_for('site.contact') }}">contact</a>)<br />
            <a id="to-top" href="#top">back to top</a></p>
            </div>
        </footer>
        {% endblock %}
    </body>
</html>
