{% extends 'base-main-nav.html' %}

{% block title %}Preferences{% endblock %}
{% block content %}
<h1>Preferences</h1>
<p>This page is functional, but it is a work in progress.</p>

<p>To start, you can choose how you want Sanskrit text to be represented:</p>

<div class="preference">
	<div class="options">
		<label for="primary">Primary script:</label>
		<br />
		<select id="sa1" name="primary">
			<option value="dev">Devanagari</option>
			<option value="rIast">Roman Unicode (IAST)</option>
			<option value="guj">Gujarati</option>
			<option value="kan">Kannada</option>
			<option value="mal">Malayalam</option>
			<option value="ori">Orissa</option>
			<option value="tel">Telugu</option>
		</select>
		<br />
		<label for="secondary">Secondary script:</label>
		<br />
		<select id="sa2" name="secondary">
			<option value="dev">Devanagari</option>
			<option value="rIast" selected="selected">Roman Unicode (IAST)</option>
			<option value="guj">Gujarati</option>
			<option value="kan">Kannada</option>
			<option value="mal">Malayalam</option>
			<option value="ori">Orissa</option>
			<option value="tel">Telugu</option>
		</select>
	</div>
	<div class="explanation">
		<p>This website shows Sanskrit in two different scripts. The first is a larger <dfn>primary</dfn> script, which is used for passages and headings:</p> 
		<blockquote> 
			<p class="dev">धर्मक्षेत्रे कुरुक्षेत्रे समवेता युयुत्सवः ।</p> 
		</blockquote>	
		<p>The second is a smaller <dfn>secondary</dfn> script, which is used to show extra information or mark Sanskrit terms when used with English.</p> 
		<blockquote> 
			<p>The Bhagavad Gita (<span lang="sa">bhagavadgītā</span>) makes a distinction
			between <span lang="sa">karmayoga</span> and <span lang="sa">jñānayoga</span>.</p> 
		</blockquote> 
		<p>By default, this site uses <dfn>Devanagari</dfn> for the primary script and <dfn>IAST</dfn> for the secondary script. However, you can use the selectors on the left to choose whatever options you find most comfortable.</p> 
	</div>
</div>

<script type="text/javascript">
// Save preferences.
function savePreferences() {
	$.cookie('lso', JSON.stringify(settings), {expires: 7});
}

$(function() {
	// Load old preferences.
	if ($.cookie('lso')) {
		window.settings = JSON.parse($.cookie('lso'));
		if (settings.sa1) {
			$('#sa1').val(settings.sa1);
		}
		if (settings.sa2) {
			$('#sa2').val(settings.sa2);
		}
		if (settings.theme) {
			$('#theme').val(settings.theme);
		}
	} else {
		window.settings = {};
	}
	
	// Add functionality for updating preferences.
	$('#sa1, #sa2').change(function() {
		var $obj = $(this),
			id = $obj.attr('id'),
			selected = $obj.val();
		var $other = (id == 'sa1') ? $('#sa2') : $('#sa1'),
			other_id = $other.attr('id'),
			other_sel = $other.val();
			
		$('body').html(HTML_BACKUP);
		$('#'+id).val(selected);
		$('#'+other_id).val(other_sel);
		if (id == 'sa1') {
			transliteratePage(selected, other_sel);
		} else {
			transliteratePage(other_sel, selected);
		}
		settings[id] = selected;
		savePreferences();
	});
	
	$('#theme').change(function() {
		var theme = $(this).val(),
			hrefStr = globals['base_path'] + 'css/style',
			link = $('<link>');
			
		$('#secondStylesheet').remove();
		$('#secondStylesheet').remove(); // why twice?
		
		if (theme == 'default') {
			hrefStr += '.css';
		}
		else {
			hrefStr += '-' +theme+ '.css'
		}
		link.attr({
			type: 'text/css',
			id: 'secondStylesheet',
			rel: 'stylesheet',
			href: hrefStr,
		});
		$('head').append(link);
		settings.theme = theme;
		savePreferences();
		return false;
	});
});
</script>
{% endblock %}
