{% extends 'base-main-nav.html' %}

{% block title %}Using the Site{% endblock %}
{% block content %}
<h1>Using the Site</h1>

<h2>What software do I need?</h2>
<p>You might already know this, but the program that you're using to look at this page is called a <dfn>web browser</dfn>. There are many different web browsers available online, and you can use any of them to view this site. But to get the most out of this site, <strong>use a modern web browser</strong>, and make sure that you are using its newest version. For most browsers, you can check for updates by clicking the "Help" menu at the top of the browser.</p>

<p>This site uses an Indian script called <dfn>Devanagari</dfn> to display most Sanskrit. Several Devanagari typefaces are available, and you likely have one installed on your computer already. The site's official recommendation is <a href="http://www.omkarananda-ashram.org/Sanskrit/itranslator2003.htm#dls">Sanskrit 2003</a>, which is clear, readable, and exceptionally capable.</p>

<p>This site also uses a transliteration sceme called <dfn>IAST</dfn> to display Sanskrit in English letters. Most typefaces support IAST, but this site's official recommendation is <a href="http://http://scripts.sil.org/gentium">Gentium</a>, which is available for download <a href="http://scripts.sil.org/cms/scripts/page.php?item_id=Gentium_download#e76f0759">here</a>.</p>

<p>That's all for this page. If you came here from the "Sanskrit Grammar" page, you can <a href="grammar">click here</a> to return.</p></div>
{% endblock %}
