{% extends 'base-grammar.html' %}

{% block title %}Exercises: Conditional Verbs{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/verbs">Verbs</a> »</li>
<li><a href="/verbs/roots">Verb Roots</a> »</li>
<li>Exercises: Conditional Verbs</li>
</ul>
{% endblock %}

{% block content %}

<h2>Vocabulary</h2>
<div class="vocab">
<h3>Common words</h3>
<dl>
<dt></dt><dd></dd><dd></dd>
<dd><dl>
<dt></dt><dd></dd><dd></dd>
</dl></dd>
<dt></dt><dd></dd><dd></dd>
<dt></dt><dd></dd><dd></dd>
<dt></dt><dd></dd><dd></dd>
</dl>
<h3>Lesson-specific vocabulary</h3>
<dl>
<dt></dt><dd></dd><dd></dd>
<dd><dl>
<dt></dt><dd></dd><dd></dd>
</dl></dd>
<dt></dt><dd></dd><dd></dd>
<dt></dt><dd></dd><dd></dd>
<dt></dt><dd></dd><dd></dd>
</dl>
</div>
<h2>Translation</h2>
<p>Translate from English to Sanskrit.</p>
<ul class="drill exercises">
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>
<p>Translate from Sanskrit to English.</p>
<ul class="dev exercises">
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>
<h2>Answers</h2>
<h3>Translation</h3>
<ul class="dev drill exercises">
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>
</ul>
<ul class="exercises">
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
<li> <cite></cite></li>
</ul>

{% endblock %}

