{% extends 'base-grammar.html' %}

{% block title %}Simple Verb Classes{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/references">References</a> »</li>
<li><a href="/references/verbs">Verbs</a> »</li>
<li>Simple Verb Classes</li>
</ul>
{% endblock %}

{% block content %}

<h1>Simple Verb Classes</h1>
<p class="alternatives">Also known as: thematic verb classes</p>
<h2>Stem Formation</h2>
<dl class="blue">
<dt class="title">Verb Class</dt><dd class="title">Stem</dd>
<dt lang="sa">a+</dt><dd>medium-strength root + <span lang="sa">a</span></dd>
<dt lang="sa">a0</dt><dd>root + <span lang="sa">a</span></dd>
<dt lang="sa">ya</dt><dd>root + <span lang="sa">ya</span></dd>
<dt lang="sa">aya</dt><dd>medium-strength root + <span lang="sa">aya</span></dd>
</dl>
<h2>Present Tense</h2>
<h3><span lang="sa">parasmaipada</span></h3>
{% include 'include/charts/c-bhu-pres-p.html' %}<h3><span lang="sa">ātmanepada</span></h3>
{% include 'include/charts/c-labh-pres-a.html' %}
<h2>Past Tense</h2>
<h3><span lang="sa">parasmaipada</span></h3>
{% include 'include/charts/c-bhu-past-p.html' %}<h3><span lang="sa">ātmanepada</span></h3>
{% include 'include/charts/c-labh-past-a.html' %}
<h2>Command Mood</h2>
<h3><span lang="sa">parasmaipada</span></h3>
{% include 'include/charts/c-bhu-comm-p.html' %}<h3><span lang="sa">ātmanepada</span></h3>
{% include 'include/charts/c-labh-comm-a.html' %}
<h2>Option Mood</h2>
<h3><span lang="sa">parasmaipada</span></h3>
{% include 'include/charts/c-bhu-opt-p.html' %}<h3><span lang="sa">ātmanepada</span></h3>
{% include 'include/charts/c-labh-opt-a.html' %}
<h2>Distant Future Tense</h2>
<h3><span lang="sa">parasmaipada</span></h3>
{% include 'include/charts/c-bhu-dfut.html' %}
{% endblock %}

