{% extends 'base-grammar.html' %}

{% block title %}Exercises: Case 1{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/start">Starting Out</a> »</li>
<li><a href="/start/nouns">Noun Basics</a> »</li>
<li>Exercises: Case 1</li>
</ul>
{% endblock %}

{% block content %}

<h1>Exercises: Case 1</h1>
<h2>Vocabulary</h2>
<p>Most nouns are based on verb roots. But according to tradition, the nouns below do not come from any verb roots at all. In this table, the letter <dfn>m</dfn> indicates that the word appears in the masculine gender.</p>
<dl class="vocab">
<dt>अश्व<div lang="sa">aśva</div></dt><dd>m<dd>horse <span class="etym">[equine, equestrian]</span></dd>
<dt>गज<div lang="sa">gaja</div></dt><dd>m<dd>elephant</dd>
<dt>नर<div lang="sa">nara</div></dt><dd>m<dd>man <span class="etym">[andro-gen]</span></dd>
<dt>बाल<div lang="sa">bāla</div></dt><dd>m<dd>boy</dd>
<dt>वीर<div lang="sa">vīra</div></dt><dd>m<dd>heroic man, hero <span class="etym">[were-wolf, virile]</span></dd>
<dt>पुत्र<div lang="sa">putra</div></dt><dd>m<dd>son</dd>
</dd></dd></dd></dd></dd></dd></dl>
<h2>Devanagari</h2>
<p>Write the sentences below in IAST.</p>
<ul class="drill exercises" lang="sa">
<li><p class="dev">यद्यपि किल संतरेदिदं वनं तदा तं नमेयम्</p></li>
<li><p class="dev">यो वेद परमं स न पुनस् तरति</p></li>
<li><p class="dev">ददामि ददामि किं ते ददामि</p></li>
<li><p class="dev">तं पपातादयं नरं रामः</p></li>
<li><p class="dev">यया कया सेनया तरेत्</p></li>
<li><p class="dev">कदा विवृतमिदम्</p></li>
</ul>
<h2>Translation</h2>
<p>Translate from English to Sanskrit. Sanskrit allows you to put the noun wherever you like, but put the noun first in your answers.</p>
<ul class="drill exercises">
<li>The elephants lead.</li>
<li>We grieve.</li>
<li>The elephant finds.</li>
<li>The son leads.</li>
<li>The boy goes.</li>
<li>You are born.</li>
<li>The men stand.</li>
<li>The horse pushes.</li>
<li>The elephants remember.</li>
<li>The son smiles.</li>
<li>The boys see.</li>
<li>The hero lives.</li>
<li>The men cross (or "overcome").</li>
<li>The horses suffer.</li>
<li>The elephants conquer.</li>
<li>The heroes lose their way.</li>
<li>The boys obtain.</li>
<li>I enjoy.</li>
<li>The horse is born.</li>
<li>The elephant dies.</li>
</ul>
<h2>Answers</h2>
<h3>Devanagari</h3>
<p>As before, English meanings are provided for your curiosity.</p>
<ul class="drill exercises" lang="sa">
<li><p>yadyapi kila saṃtaredidaṃ vanaṃ tadā taṃ nameyam</p>
<p lang="en">And whenever he may cross this forest, I may worship him.</p></li>
<li><p>yo veda paramaṃ sa na punaravatarati</p>
<p lang="en">Whoever knows the highest never crosses down again.</p></li>
<li><p>dadāmi dadāmi kiṃ te dadāmi</p>
<p lang="en">I'll give, I'll give — what will I give to you?</p></li>
<li><p>taṃ papātādayaṃ naraṃ rāmaḥ</p>
<p lang="en">Rama struck the merciless man.</p></li>
<li><p>yayā kayā senayā taret</p>
<p lang="en">He might cross with whatever sort of army</p></li>
<li><p>kadā vivṛtamidam</p>
<p lang="en">When was this uncovered?</p></li>
</ul>
<h3>Translation</h3>
<ul class="drill exercises" lang="sa">
<li><p class="dev">गजाः नयन्ति</p><p>gajāḥ nayanti</p>
<li><p class="dev">शोचामः</p><p>śocāmaḥ</p>
<li><p class="dev">गजः विन्दति</p><p>gajaḥ vindati</p>
<li><p class="dev">पुत्रः नयति</p><p>putraḥ nayati</p>
<li><p class="dev">बालः गच्छति</p><p>bālaḥ gacchati</p>
<li><p class="dev">जायसे</p><p>jāyase</p>
<li><p class="dev">नराः तिष्ठन्ति</p><p>narāḥ tiṣṭhanti</p>
<li><p class="dev">अश्वः तुदति</p><p>aśvaḥ tudati</p>
<li><p class="dev">गजाः स्मरन्ति</p><p>gajāḥ smaranti</p>
<li><p class="dev">पुत्रः हसति</p><p>putraḥ hasati</p>
<li><p class="dev">बालाः पश्यन्ति</p><p>bālāḥ paśyanti</p>
<li><p class="dev">वीरः जीवति</p><p>vīraḥ jīvati</p>
<li><p class="dev">नराः तरन्ति</p><p>narāḥ taranti</p>
<li><p class="dev">अश्वाः शोचन्ति</p><p>aśvāḥ śocanti</p>
<li><p class="dev">गजाः जयन्ति</p><p>gajāḥ jayanti</p>
<li><p class="dev">वीराः मुह्यन्ति</p><p>vīrāḥ muhyanti</p>
<li><p class="dev">बालाः लभन्ते</p><p>bālāḥ labhante</p>
<li><p class="dev">रमे</p><p>rame</p>
<li><p class="dev">अश्वः जायते</p><p>aśvaḥ jāyate</p>
<li><p class="dev">गजः म्रियते</p><p>gajaḥ mriyate</p>
</li></li></li></li></li></li></li></li></li></li></li></li></li></li></li></li></li></li></li></li></ul>
{% endblock %}

