{% extends 'base-grammar.html' %}

{% block title %}Vowel Nouns, Part 2{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/verbs">Verbs</a> »</li>
<li>Vowel Nouns, Part 2</li>
</ul>
{% endblock %}

{% block content %}

<h1>Vowel Nouns, Part 2
<p>In the previous unit, we studied a few forms of the <dfn>vowel nouns</dfn>, whose stems end in vowels. We've already studied the <span lang="sa">-a</span> stems in detail, but we still have more stems to study. In this chapter, we will do just that. Now, although the <span lang="sa">a</span> endings are quite different from the other noun endings, the vowel nonus generally use the same endings as the consonant stems. For that reason, this chapter will not be especially hard.</p></h1>
{% endblock %}

