{% extends 'base-grammar.html' %}

{% block title %}Reading{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/nouns">Nouns</a> »</li>
<li>Reading</li>
</ul>
{% endblock %}

{% block content %}

<h1>Reading</h1>
<p>Nouns, pronouns, and compounds are extremely important parts of any Sanskrit work. In this unit, we have greatly increased our understanding of these topics, and we can read much more Sanskrit as a result.</p>
<p>In this chapter of Nouns, we will read selections from different parts of Sanskrit literature. First, we will read the original version of the text we read in Starting Out; now, we are able to read almost all of it. Next, we will read various verses from the Bhagavad Gita. Third, we will read some miscellaneous selections from other parts of Sanskrit literature.</p>
{% endblock %}

