{% extends 'base-grammar.html' %}

{% block title %}Exercises: the avyayibhava{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/nouns">Nouns</a> »</li>
<li><a href="/nouns/compounds">Other Compounds</a> »</li>
<li>Exercises: the avyayibhava</li>
</ul>
{% endblock %}

{% block content %}

<h1>Exercises: The <span lang="sa">avyayībhāva</span></h1>
<p class="warn box">From this page on, exercises are under construction. Thank you for your patience. (Updated March 19)</p>
<p>The avyayibhava is a straightforward compound. For that reason, most of this page will be dedicated to the tatpurusha and some related topics.</p>
<h2>Common images</h2>
<p>In Sanskrit poetry, certain objects are especially popular. These objects include lotus flowers, clouds, mountains, and snakes, among many other things. Why are these objects important? An answer to this question will only come after you read a lot of Sanskrit poetry. Even if you are not interested in Sanskrit poetry, it is worth your time to know some common images, for they will appear in all sorts of Sanskrit texts:</p>
<ul>
<li><p>Lotuses are noted for their purity and beauty. As a symbol of purity, they are often called <dfn>mud-born</dfn>, since although they grow from a murky lakebed they are themselves untouched by its mud. As a symbol of spiritual beauty, they are often called <dfn>water-born</dfn>, since they are separate from the water on which they float. You will often see references to <dfn>lotus eyes</dfn> or <dfn>lotus feet</dfn> as well.</p></li>
<li><p>Clouds are a sign of the rainy season, at the start of which traveling men would return home to their wives. For this reason, clouds are happily noted for their rain and are called <dfn>water-giving</dfn>.</p></li>
<li><p>Mountains, especially near the Himalayays, are noted for their steadfastness and unearthly heights. For this reason, they are called <dfn>non-goers</dfn> or described as <dfn>having a peak</dfn> or being <dfn>rocky</dfn>.</p></li>
<li><p>Snakes were noted particularly for how they moved on the ground. For this reason they are often said to be <dfn>crooked-going</dfn>.</p></li>
</ul>
<h2>Vocabulary</h2>
<h3>Prefixes: Over and Under</h3>
<dl class="vocab">
<dt>अति<div lang="sa">ati</div></dt><dd> <dd><strong>beyond</strong>, over</dd>
<dt>अधि<div lang="sa">adhi</div></dt><dd> <dd><strong>above</strong>, over</dd>
<dt>उद्<div lang="sa">ud</div></dt><dd> <dd><strong>up</strong>, upward</dd>
<dt>अनु<div lang="sa">anu</div></dt><dd> <dd><strong>after</strong>, under, alongside</dd>
</dd></dd></dd></dd></dl>
<h2>Translation (English → Sanskrit)</h2>
<p>Translate from English to Sanskrit.</p>
<ul class="drill exercises">
<li><p></p></li>
<li><p></p></li>
<li><p></p></li>
</ul>
<h2>Translation (Sanskrit → English)</h2>
<p>Translate from Sanskrit to English.</p>
<ul class="exercises" lang="sa">
<li><p class="dev"></p></li>
<li><p class="dev"></p></li>
<li><p class="dev"></p></li>
</ul>
<h2>Answers</h2>
<h3>Translation (English → Sanskrit)</h3>
<ul class="drill exercises" lang="sa">
<li><p class="dev"></p><p></p></li>
<li><p class="dev"></p><p></p></li>
<li><p class="dev"></p><p></p></li>
</ul>
<h3>Translation (Sanskrit → English)</h3>
<ul class="exercises">
<li><p></p></li>
<li><p></p></li>
<li><p></p></li>
</ul>

{% endblock %}

