{% extends 'base-grammar.html' %}

{% block title %}References{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li>References</li>
</ul>
{% endblock %}

{% block content %}

<h1>References</h1>
<p class="notice"><a href="/grammar" id="show">Click to show contents</a></p>
<p>These reference pages contain most of the material that the guide asks you to memorize. This information includes:</p>
<ul>
<li>All prefixes, suffixes, and vocabulary words</li>
<li>All Devanagari letters and numbers, including old letters, conjunct consonants, and some basic Vedic Devanagari</li>
<li>All ten Sanskrit verb classes and their endings in several tenses and moods</li>
<li>All Sanskrit noun types and their endings in all genders</li>
<li>All sandhi rules</li>
</ul>
{% endblock %}

