{% extends 'base-grammar.html' %}

{% block title %}Exercises: The PPP{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/nouns">Nouns</a> »</li>
<li><a href="/nouns/ppp">The PPP</a> »</li>
<li>Exercises: The PPP</li>
</ul>
{% endblock %}

{% block content %}

<h1>Exercises: The PPP</h1>
<h2>Vocabulary</h2>
<h3>Prefixes: Near and Far</h3>
<dl class="vocab">
<dt>अभि</dt><dd> <dd><strong>upon</strong>, over; toward, into <span class="etym">[by, amphi-theater]</span></dd>
<dt>अप</dt><dd> <dd><strong>away</strong> (from), off, without <span class="etym">[apo-calypse]</span></dd>
<dt>अव</dt><dd> <dd><strong>down from</strong>, off, away</dd>
</dd></dd></dd></dl>
<h3>Names</h3>
<dl class="vocab">
<dt>मधु</dt><dd>mfn<dd>sweet, pleasant <span class="etym">[mead, meth-anol]</span></dd>
<dd><dl>
<dt>मधु</dt><dd>m<dd>name of Krishna's ancestor</dd>
<dd><dl>
<dt>माधव</dt><dd>m<dd>A descendant of Madhu, especially Krishna</dd>
</dd></dl>
<dt>मधुर</dt><dd>mfn<dd>sweet, pleasant; melodious</dd>
</dd></dd></dd></dl>
<dt>भरत</dt><dd>m<dd>ancestor of Kuru</dd>
<dd><dl>
<dt>भारत</dt><dd>m<dd>descendant of Bharata, especially Arjuna</dd>
</dd></dl>
</dd></dd></dd></dd></dl>
<h3>General vocabulary</h3>
<dl class="vocab">
<dt>आप्</dt><dd>???<dd>obtain</dd>
<dd><dl>
<dt>प्राप्</dt><dd>???<dd>obtain, attain</dd>
<dt>अवाप्</dt><dd>???<dd>obtain, attain
		<dd class="desc">As you can see, prefixes do not tend to have much effect on the <span lang="sa">āp</span> verb.
</dd>
</dd></dd></dd></dl>
<dt>इ</dt><dd>???<dd>go <span class="etym">[ion]</span></dd>
<dd><dl>
<dt>उपे</dt><dd>???<dd>approach, come to</dd>
<dt>समवे</dt><dd>???<dd>come together
		<dd class="desc">The PPP of this verb is <span lang="sa">samaveta</span>, the third word of the Bhagavad Gita.
</dd>
</dd></dd></dd></dl>
<dt>तॄ</dt><dd>तरति</dd><dd>cross, overcome <span class="etym">[term, avatar]</span></dd>
<dd><dl>
<dt>अवतॄ</dt><dd>अवतरति</dd><dd>cross down, descend, become incarnate</dd>
<dd><dl>
<dt>अवतार</dt><dd>m<dd>incarnation of god on earth, <a href="http://en.wikipedia.org/wiki/Avatar">Avatar</a></dd>
</dd></dl>
</dd></dl>
<dt>मृ</dt><dd>म्रियते</dd><dd>die</dd>
<dd><dl>
<dt>मृत</dt><dd>mfn<dd>dead, deceased</dd>
<dd><dl>
<dt>अमृत</dt><dd>mfn<dd>immortal, imperishable</dd>
<dd><dl>
<dt>अमृत</dt><dd>n<dd><a href="http://en.wikipedia.org/wiki/Amrita">nectar of immortality</a>, ambrosia</dd>
<dt>अमृतत्व</dt><dd>n<dd>immortality</dd>
</dd></dd></dl>
</dd></dd></dl>
</dd></dd></dl>
<dt>स्यन्द्</dt><dd>स्यन्दते</dd><dd>flow, rush</dd>
<dd><dl>
<dt>स्यन्दन</dt><dd>n<dd>"rushing"; a chariot</dd>
</dd></dl>
<dt>हि</dt><dd>???<dd>urge on, hasten on, impel</dd>
<dd><dl>
<dt>हय</dt><dd>m<dd>horse</dd>
</dd></dl>
</dd></dd></dd></dd></dd></dd></dd></dd></dd></dl>
<h2>Translation</h2>
<p>Translate from Sanskrit to English. These exercises are not from actual Sanskrit works.</p>
<ul class="drill exercises" lang="sa">
<li><p class="dev">वयं नीयन्ते त्वया नगरम्</p></li>
<li><p class="dev">वयं नीतास् त्वया नगरम्</p></li>
<li><p class="dev">नीलफलमाप्तं गजेन कृष्णवृक्षात्</p></li>
<li><p class="dev">अश्वो दृष्टस् त्वया प्रगच्छति ग्रामम्</p></li>
<li><p class="dev">विजितैर् नरैर् वयं प्रतिगमिष्यन्ति त्वाम्</p></li>
<li><p class="dev">मृतस्य गजस्य करे विद्यते जलम्</p></li>
</ul>
<p>Translate from Sanskrit to English.</p>
<ul class="exercises" lang="sa">
<li><p class="dev">श्वेतैर् हयैर् युक्ते ... स्यन्दने स्थितौ माधवः पाण्डवश्चैव</p></li>
<li><p class="dev">विमुक्तो मामुपैष्यसि</p></li>
</ul>
<h2>Answers</h2>
<h3>Translation</h3>
<ul class="drill exercises">
<li><p>We are led by you to the city.</p>
<p class="aside">Use a regular passive verb, not the PPP.</p></li>
<li><p>We have been led by you to the city.</p>
<p class="aside">Note the effect of the "past" part of the PPP on our translation.</p></li>
<li><p>The blue fruit was obtained from the black tree by the elephant.</p></li>
<li><p>The horse seen by the man goes to the village.</p></li>
<li><p>We will return to you with the conquered men.</p></li>
<li><p>Water is found in the mouth of the dead elephant</p></li>
</ul>
<ul class="exercises">
<li><p>Madhava (Krishna) and the Pandava (Arjuna) are stationed in the chariot yoked with white horses.</p>
<p class="aside"><cite>Bhagavad Gita 1.14</cite></p></li>
<li><p>Freed, you will go to me.</p>
<p class="aside"><cite>Gita 9.28</cite></p></li>
</ul>
<!--
<ul class="exercises">
	<li>By the grace of Vyasa I have heard this supreme secret.<cite></cite></li>
	<li>A fool longing the fame of poets, I'll go to ridicule<br />
	like a dwarf with arms uplifted from greed for a fruit attainable (only) by the tall.<cite>Raghuvamsha 1.3</cite>
	<p>Here, case 7 has the meaning of "context," as in "in the context of a fruit &hellip;"</p></li>
	<li>The all; the pervader; the call of vashat; the lord of what was, is to be, and is; the creator of beings; the bearer of beings; the soul of beings; the sustainer of beings. <cite><a href="http://en.wikipedia.org/wiki/Vishnu_sahasranama">viṣṇusahasranāma</a></cite></li>
</ul> -->
{% endblock %}

