{% extends 'base-grammar.html' %}

{% block title %}The Ordinary Past Tense{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/verbs">Verbs</a> »</li>
<li><a href="/verbs/classes">Verb Classes</a> »</li>
<li>The Ordinary Past Tense</li>
</ul>
{% endblock %}

{% block content %}

<h1>The Ordinary Past Tense</h1>
<p class="alternatives">Also known as: imperfect (in analogy with Greek), <span lang="sa">anadyatana-bhūta</span> ("past action, not of today"), <span lang="sa">laṅ</span></p>
<h2>Introduction</h2>
<p>Although we've studied participles in the past, present, and future tenses, we've only studied "regular" verbs in the present tense. Now let's take a look at these sorts of verbs in the past:</p>
<ul class="examples">
<li>I <strong>went</strong>.</li>
<li>You <strong>restrained</strong>.</li>
<li>We <strong>stood</strong>.</li>
</ul>
<p>Each of these sentences can be translated to Sanskrit. But we should not translate them hastily: Sanskrit has <strong>three</strong> different versions of the past tense, and each version represents one of the following:</p>
<ul>
<li>the recent past</li>
<li>the not-so-distant past</li>
<li>the distant past</li>
</ul>
<p>The "recent past" and "distant past" are extremely old verb forms and are difficult to learn, so we'll stick with the "not-so-distant past" — which is the most common form of the past tense — for now. But "not-so-distant past" is a lengthy term, so let's just call it the <dfn>ordinary</dfn> past tense. Let's see how the sample sentences above look in the ordinary past tense:</p>
<ul class="sa examples">
<li><p class="dev">अगच्छम्</p>
<p lang="sa">agaccham
<p>I went.</p></p></li>
<li><p class="dev">अयच्छः</p>
<p lang="sa">ayacchaḥ
<p>You restrained.</p></p></li>
<li><p class="dev">अतिष्ठाम</p>
<p lang="sa">atiṣṭhāma
<p>We stood.</p></p></li>
</ul>
<p class="note box">Past participles (e.g. <span lang="sa">gata</span>) can represent any of the three past tenses above.</p>
<h2>Endings</h2>
<p>We have three sets of endings to learn: P endings, A endings for the simple verb classes, and A endings for the complex verb classes. In this lesson, we'll study all three. But first, let's talk about that little <span lang="sa">a</span> in front of the verb stem.</p>
<h3><span lang="sa">a</span></h3>
<p>You might have noticed that the ordinary past tense has the letter <span lang="sa">a-</span> in front of the stem. (I say <span lang="sa">a-</span> instead of just <span lang="sa">a</span> to emphasize that the letter is a prefix). This <span lang="sa">a-</span> is sometimes called the "sign" or "mark" of the ordinary past tense. We attach this sign to the front of the normal stem to produce a special "past stem."</p>
<p>This <span lang="sa">a-</span> sound is <strong>crucial</strong> for interpreting and recognizing the ordinary past tense. Fortunately, Sanskrit itself seems to recognize this fact; the <span lang="sa">a-</span> of a past tense verb is never hidden. For instance, what do you think happens when <span lang="sa">a-</span> is used with a verb that starts with a vowel, like <span lang="sa">iṣ</span>? Based on the sandhi rules we've studied so far, you might guess that the past tense stem would be <span lang="sa">eccha</span>. But the result is surprising:</p>
<ul class="examples">
<li><p class="dev">इष् → इच्छ → ऐच्छ</p>
<p lang="sa">iṣ → iccha → aiccha</p>
<p>want (root) → want (present stem) → wanted (ordinary past stem)</p></li>
</ul>
<p>Traditionally, this behavior is explained as follows:</p>
<p class="rule box">If the root starts with a vowel, the <span lang="sa">a</span> prefix combines with that vowel and makes it a strong vowel.</p>
<p>It's that simple! Now, let's start studying some of the endings that this verb form uses.</p>
<h3>P Endings</h3>
<p>The P endings are similar to the endings of the present tense, but they're not exactly the same. Take a look:</p>
<div class="hideDouble">
{% include 'include/charts/c-bhu-past-p.html' %}</div>
<p>For comparison, here are the endings for the present tense:</p>
<div class="hideDouble">
{% include 'include/charts/c-bhu-pres-p.html' %}</div>
<p class="note box">Note the simple and elegant transformation from the present tense endings to the ordinary past tense endings. Each present tense ending loses its last letter; then, the rules of sandhi act to reduce the present endings to the past endings.</p>
<p>The complex verb classes use the same endings, as mentioned above. All of the verbs in the singular number use the strong stem.</p>
<div class="hideDouble">
{% include 'include/charts/c-su-past-p.html' %}</div>
<h3>A Endings</h3>
<p>These endings are significantly different from the ones above. Try to memorize them now, and use the exercises on the next page to reinforce your memory. But don't work too hard; this set of endings is used by three different verb forms, and you'll have plenty of time to practice.</p>
<p>Here are the endings for verbs from the simple verb classes.</p>
<div class="hideDouble">
{% include 'include/charts/c-labh-past-a.html' %}</div>
<p>The endings for verbs from the complex verb classes are almost exactly the same.</p>
<div class="hideDouble">
{% include 'include/charts/c-su-past-a.html' %}</div>
<div class="note box">
<p>The changes are listed below:</p>
<ul>
<li><span lang="sa">āmahi → mahi, āvahi → vahi</span> (the initial vowel is removed)</li>
<li><span lang="sa">nta → ata</span> (see the blue box in the previous lesson)</li>
</ul>
<p>These differences are exactly parallel to the difference in the present <span lang="sa">ātmanepada</span>.</p>
</div>
<h2>Verb Prefixes and the Ordinary Past Tense</h2>
<p>The earlier lesson on verb prefixes mentioned that the verb prefix comes <em>before</em> the verb stem. But now we have another prefix: the letter <span lang="sa">a-</span>, which marks the ordinary past tense. Which prefix appears first? The answer might surprise you: the <em>verb prefix</em> appears first!</p>
<ul class="sa examples">
<li><p class="dev">प्रतिगम् → प्रतिगच्छति</p>
<div lang="sa">pratigam → pratigacchati</div>
<div>return → He returns.</div></li>
<li><p class="dev">प्रतिगम् → प्रत्यगच्छत्</p>
<div lang="sa">pratigam → pratyagacchat</div>
<div>return → He returned.</div></li>
</ul>
<p class="fact box">Verb prefixes were once entirely separate from the verb itself. Over time, they came to be placed right in front of the verb, as in <span lang="sa">prati agacchat</span>. The two forms combined, and the <span lang="sa">a-</span> prefix was sandwiched in the middle.</p>
{% endblock %}

