{% extends 'base-grammar.html' %}

{% block title %}Exercises: The dvandva{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/nouns">Nouns</a> »</li>
<li><a href="/nouns/compounds">Other Compounds</a> »</li>
<li>Exercises: The dvandva</li>
</ul>
{% endblock %}

{% block content %}

<h1>Exercises: The <span lang="sa">dvandva</span></h1>
<h2>Vocabulary</h2>
<dl class="vocab">
<dt>लभ्<div lang="sa">labh</div></dt><dd>लभते <div lang="sa">labhate</div></dd><dd>obtain <span class="etym">[di-lemma]</span></dd>
<dd><dl>
<dt>लाभ<div lang="sa">lābha</div></dt><dd>m<dd>gaining; gains, profit</dd>
</dd></dl>
</dd></dl>
<h2>Translation</h2>
<p>Translate from English to Sanskrit. As you do so, translate nouns connected by "and" with a compound. The order of the elements in the compound should match the order of the nouns in the sentence.</p>
<ul class="drill exercises">
<li><p>The man, the son, and the grandson will to the field.</p></li>
<li><p>I will not see the hero, the warrior, and the thief.</p></li>
<li><p>The master walks to the forests and rivers.</p></li>
<li><p>The elephant and rabbit have been seen (PPP) by means of the sun and the moon.</p></li>
<li><p>The wolves and the lion strike the man and the horses.</p></li>
<li><p>The wolf and the lions strike the two men and the horses.</p></li>
<li><p>We conquer the villages and forests and cities.</p></li>
<li><p>The two of us will conquer the forests and cities and villages.</p></li>
</ul>
<p>Translate from Sanskrit to English.</p>
<ul class="exercises" lang="sa">
<li><p class="dev">सुखदुःखे समे कृत्वा लाभालाभौ जयाजयौ ।<br/>
	… न पापमवाप्स्यसि ॥</p><p>sukhaduḥkhe same kṛtvā lābhālābhau jayājayau ।<br/>
	… na pāpamavāpsyasi ॥</p>
<p lang="en">Note the use of the <span lang="sa">a</span> prefix here. It is commonly used like this to show opposites.</p></li>
</ul>
<h2>Answers</h2>
<h3>Translation</h3>
<ul class="drill exercises" lang="sa">
<li><p class="dev">नरपुत्रपौत्राः क्षेत्रं गमिष्यन्ति</p></li>
<li><p class="dev">(अहं) वीरक्षत्रियचोरान् न द्रक्ष्यामि</p></li>
<li><p class="dev">आचार्यो वननदीश् चरति</p></li>
<li><p class="dev">गजशशौ सूर्यचन्द्राभ्यां दृष्टौ</p></li>
<li><p class="dev">वृकसिंहा नराश्वांस् तुदन्ति</p></li>
<li><p class="dev">वृकसिंहा नराश्वांस् तुदन्ति</p></li>
<li><p class="dev">(वयं) ग्रामवननगराणि जयामः</p></li>
<li><p class="dev">(आवां) वननगरग्रामाञ् जेष्यावः</p></li>
</ul>
<ul class="exercises">
<li><p>After rendering pleasure and pain the same — and gain and loss, and victory and defeat — … you will not incur evil.</p>
<p class="aside"><cite>Bhagavad Gita 2.38</cite></p></li>
</ul>

{% endblock %}

