{% extends 'base-grammar.html' %}

{% block title %}Uninflected Words{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/start">Starting Out</a> »</li>
<li>Uninflected Words</li>
</ul>
{% endblock %}

{% block content %}

<h1>Uninflected Words</h1>
<p class="alternatives">Also known as: indeclinable, <span lang="sa">avyaya</span> ("unchanging")</p>
<h2>Introduction</h2>
<p>We've already studied three of the main pillars of Sanskrit grammar: verbs, nouns, and word formation. Now we can move on to the fourth: the <dfn>uninflected words</dfn>. Uninflected words, as their name indicates, are not inflected at all.</p>
<p>This chapter is devoted to the study of uninflected words. First, we will study three words that let us connect sentences to each other. Second, we will study some words that us emphasize different parts of a sentence. Finally, we will study some words with more complex behavior.</p>
{% endblock %}

