{% extends 'base-grammar.html' %}

{% block title %}The PPP{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/nouns">Nouns</a> »</li>
<li><a href="/nouns/ppp">The PPP</a> »</li>
<li>The PPP</li>
</ul>
{% endblock %}

{% block content %}

<h1>The PPP</h1>
<p>Now we will study the PPP.</p>
<h2>Introduction</h2>
<p>Take a look at the progression below:</p>
<ul class="examples">
<li><p>I <strong>remember</strong> the man.</p></li>
<li><p>I <strong>remembered</strong> the man.</p></li>
<li><p>The man <strong>was remembered</strong>.</p></li>
<li><p>The lion sees the <strong>remembered</strong> man.</p></li>
</ul>
<p>Each line of this progression changes the verb very slightly, and each line relates to one of the P's in PPP. The first P here represents <strong>past</strong>, since the man was remembered before the lion sees him. The second P here represents <strong>passive</strong>, since although we know that the man was remembered, we do not know who remembered him. The third P, as you might remember, represents the concept of a "participle," which we will study later on. The PPP is represented above as the word "remember."</p>
<p>Note that even though the sentence's tense might change, the PPP remains constant. This is true both in English and in Sanskrit:</p>
<ul class="examples">
<li><p class="dev">सिंहो <strong>स्मृतं</strong> नरं पश्यति</p>
<p lang="sa">siṃho <strong>smṛtaṃ</strong> naraṃ paśyati</p>
<p>The lion sees the <strong>remembered</strong> man.</p>
</li>
<li><p class="dev">सिंहो <strong>स्मृतं</strong> नरं द्रक्ष्यति</p>
<p lang="sa">siṃho <strong>smṛtaṃ</strong> naraṃ drakṣyati</p>
<p>The lion will see the <strong>remembered</strong> man.</p>
</li>
</ul>
<h2>Using the PPP</h2>
<p>Essentially, <strong>the PPP is an adjective.</strong> Although it has the properties of a verb — it has a tense and can be described by the different noun cases — it has a person, number, and gender. Note how it is used in these (technically) verbless sentences:</p>
<ul class="examples">
<li><p class="dev">तत् <strong>कृतं</strong> मया वने ग्रामाय</p>
<p lang="sa">tat <strong>kṛtaṃ</strong> mayā vane grāmāya</p>
<p>That <strong>was made</strong> by me in the forest for the village.</p>
<p class="aside">A more natural translation would be "I made that in the forest for the village."</p></li>
<li><p class="dev">अश्वो <strong>दृष्टो</strong> नगरे</p>
<p lang="sa">aśvo <strong>dṛṣṭo</strong> nagare</p>
<p>A horse <strong>was seen</strong> in the city.</p>
</li>
</ul>
<h3>Non-passive meaning</h3>
<p>Even though the PPP is usually a passive verb, it sometimes has non-passive meaning. This is especially true for verbs that mean "go."</p>
<ul class="examples">
<li><p class="dev">अहं वनं <strong>गतः</strong></p>
<p lang="sa">ahaṃ vanaṃ <strong>gataḥ</strong></p>
<p>I <strong>went</strong> to the forest.</p>
</li>
</ul>
<h3>As a noun</h3>
<p>The PPP can also be a noun, just as the adjective <span lang="sa">sundara</span> can mean both "beautiful" and "the beautiful one." This is one of the most powerful features of the <abbr>PPP</abbr>.</p>
<ul class="examples">
<li><p class="dev">बुद्ध</p>
<p lang="sa">buddha</p>
<p>awakened, woken up (adjective) → one who has awoken; <a href="http://www.aboutbuddha.org/">Buddha</a></p>
<p class="aside">Note that the PPP likely has an active meaning here; he awoke, but he was probably not caused to awake.</p></li>
<li><p class="dev">संस्कृत</p>
<p lang="sa">saṃskṛta</p>
<p>perfectly or fully made (adjective) → that which is perfectly or fully made; the Sanskrit language</p>
</li>
</ul>
<h2>Formation</h2>
<p>The <abbr>PPP</abbr> is formed by adding <dfn lang="sa">ta</dfn> to the end of a verb root. When we do so, we should <strong>follow the same rules as the <span lang="sa">tvā</span> suffix</strong> of the gerund. Verbs with prefixes still use <span lang="sa">ta</span>, and they still follow the rules of <span lang="sa">tvā</span>. And, some roots will use the "connecting <span lang="sa">i</span>" vowel that we talked about earlier.</p>
<ul class="examples">
<li><p class="dev">गम् → गत</p>
<p lang="sa">gam → gata</p>
<p>go → gone</p></li>
<li><p class="dev">प्रतिगम् → प्रतिगत</p>
<p lang="sa">pratigam → pratigata</p>
<p>return → returned</p></li>
<li><p class="dev">सेव् → सेवित</p>
<p lang="sa">sev → sevita</p>
<p>serve → served</p></li>
<li><p class="dev">भाष् → भाषित</p>
<p lang="sa">bhāṣ → bhāṣita</p>
<p>speak → spoken</p></li>
</ul>
<p>They follow the <strong>same sandhi rules</strong>, too:</p>
<ul class="examples">
<li><p class="dev">लभ् → लब्ध</p>
<p lang="sa">labh → labdha</p>
<p>obtain → obtained</p></li>
<li><p class="dev">दृश् → दृष्ट</p>
<p lang="sa">dṛś → dṛṣṭa</p>
<p>see → seen</p></li>
</ul>
<p>Some verbs — usually those whose roots end in a long vowel (<span lang="sa">ā, ī, ū,</span> or <span lang="sa">ṝ</span>) — use <dfn lang="sa">na</dfn> instead. But such forms are more uncommon.</p>
<ul class="examples">
<li><p class="dev">तॄ → तीर्ण</p>
<p lang="sa">tṝ  → tīrṇa</p>
<p>cross → crossed</p>
<p class="aside">Note the change from <span lang="sa">n</span> to <span lang="sa">ṇ</span>, which is caused by the same rule that produces <span lang="sa">nareṇa</span>.</p></li>
<li><p class="dev">पॄ → पूर्ण</p>
<p lang="sa">pṝ → pūrṇa</p>
<p>fill → filled</p>
<p class="aside">Again, note the change from <span lang="sa">n</span> to <span lang="sa">ṇ</span>.</p></li>
</ul>
<p class="note box">The changes in <span lang="sa">tṝ</span> and <span lang="sa">pṝ</span> were discussed <a href="/start/roots/gerunds">when we discussed the gerund</a>.</p>
<p>As always, internal sandhi is extremely important. Both the gerund and the PPP use the same rules, and there are many that we haven't covered. But, we can learn those along the way.</p>
<h3>Differences from the gerund</h3>
<p>The verb <span lang="sa">kṛ</span> normally becomes <span lang="sa">kṛta</span>; but, it becomes <span lang="sa">skṛta</span> when it has <span lang="sa">pari</span> or <span lang="sa">sam</span> for a prefix. Thus, we have <span lang="sa">saṃskṛta</span>, not *<span lang="sa">saṃkṛta</span>.</p>
{% endblock %}

