{% extends 'base-grammar.html' %}

{% block title %}Three Cases{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/nouns">Nouns</a> »</li>
<li>Three Cases</li>
</ul>
{% endblock %}

{% block content %}

<h1>Three Cases</h1>
<h2>Introduction</h2>
<p>We have just learned about all four forms of the Sanskrit compounds. But even though we know about these four forms, our ability to read and write in Sanskrit is still limited: there are still three more noun cases that we have to cover in more detail.</p>
<p>In this chapter of the guide, we will study three of the Sanskrit noun cases in more detail: case 4, case 5, and case 7. Each of these cases is quite abstract, so we will spend one lesson on each case.</p>
{% endblock %}

