{% extends 'base-grammar.html' %}

{% block title %}More Pronouns{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/nouns">Nouns</a> »</li>
<li>More Pronouns</li>
</ul>
{% endblock %}

{% block content %}

<h1>More Pronouns</h1>
<h2>Introduction</h2>
<p>We have just finished our study of two extremely important parts of Sanskrit grammar: the four compounds and the eight grammatical cases. These features did not require much memorization, but they might still feel new or unfamiliar to you. For that reason, this chapter of Nouns is a little slower than the others. To make a comparison, it is as straightforward as the <a href="/start/uninflected">uninflected words chapter</a> from Starting Out.</p>
<p>Here, we'll study a few pronouns and solidify our understanding of the material we've seen so far. Exercises will provide you with plenty of practice with all of the topics we've seen so far, including compound analysis and the different uses of the Sanskrit cases.</p>
{% endblock %}

