<table class="inflection">
	<caption><span lang="sa">mad</span> (no gender)</caption>
	<tr><th class="stem">मद्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td>अहम्<div>aham</div></td>
		<td class="r">आवाम्<div>āvām</div></td>
		<td>वयम्<div>vayam</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td>माम्<div>mām</div></td>
		<td class="r">आवाम्<div>āvām</div></td>
		<td>अस्मान्<div>asmān</div></td>
	</tr>
</table>

<table class="inflection">
	<caption><span lang="sa">tvad</span> (no gender)</caption>
	<tr><th class="stem">त्वद्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td>त्वम्<div>tvam</div></td>
		<td class="r">युवाम्<div>yuvām</div></td>
		<td>यूयम्<div>yūyam</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td>त्वाम्<div>tvām</div></td>
		<td class="r">युवाम्<div>yuvām</div></td>
		<td>युष्मान्<div>yuṣmān</div></td>
	</tr>
</table>

<table class="inflection">
	<caption><span lang="sa">tad</span> (masculine)</caption>
	<tr><th class="stem">तद्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td>सः<div>saḥ</div></td>
		<td class="r">तौ<div>tau</div></td>
		<td>ते<div>te</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td>तम्<div>tam</div></td>
		<td class="r">तौ<div>tau</div></td>
		<td>तान्<div>tān</div></td>
	</tr>
</table>

<table class="inflection">
	<caption><span lang="sa">tad</span> (neuter)</caption>
	<tr><th class="stem">तद्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td class="r">तत्<div>tat</div></td>
		<td class="g">ते<div>te</div></td>
		<td class="b">तानि<div>tāni</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td class="r">तत्<div>tat</div></td>
		<td class="g">ते<div>te</div></td>
		<td class="b">तानि<div>tāni</div></td>
	</tr>
</table>