<table class="inflection">
	<caption><span lang="sa">as</span> (consonant, P, present tense)</caption>
	<tr><th class="stem">अस्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Third Person</th>
		<td class="s">अस्ति<div>asti</div></td>
		<td class="d">स्तः<div>staḥ</div></td>
		<td>सन्ति<div>santi</div></td>
	</tr><tr><th>Second Person</th>
		<td class="s">असि<div>asi</div></td>
		<td class="d">स्थः<div>sthaḥ</div></td>
		<td class="d">स्थ<div>stha</div></td>
	</tr><tr><th>First Person</th>
		<td class="s">अस्मि<div>asmi</div></td>
		<td>स्वः<div>svaḥ</div></td>
		<td>स्मः<div>smaḥ</div></td>
	</tr>
</table>
