<table class="inflection">
	<caption><span lang="sa">bhū</span> (<span lang="sa">a+</span>, P, command mood)</caption>
	<tr><th class="stem">भू</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Third Person</th>
		<td>भवतु<div>bhavatu</div></td>
		<td class="d">भवताम्<div>bhavatām</div></td>
		<td>भवन्तु<div>bhavantu</div></td>
	</tr><tr><th>Second Person</th>
		<td>भव<div>bhava</div></td>
		<td class="d">भवतम्<div>bhavatam</div></td>
		<td class="d">भवत<div>bhavata</div></td>
	</tr><tr><th>First Person</th>
		<td>भवानि<div>bhavāni</div></td>
		<td>भवाव<div>bhavāva</div></td>
		<td>भवाम<div>bhavāma</div></td>
	</tr>
</table>