<table class="inflection">
	<caption><span lang="sa">bhū</span> (<span lang="sa">a+</span>, P/A, distant future tense)</caption>
	<tr><th class="stem">भू</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th></tr>
	<tr><th>3rd Person</th>
		<td>भविता<div>bhavitā</div></td>
		<td>भवितारौ<div>bhavitārau</div></td>
		<td>भवितारः<div>bhavitāraḥ</div></td>
	</tr><tr><th>2nd Person</th>
		<td>भवितासि<div>bhavitāsi</div></td>
		<td class="d">भवितास्थः<div>bhavitāsthaḥ</div></td>
		<td class="d">भवितास्थ<div>bhavitāstha</div></td>
	</tr><tr><th>1st Person</th>
		<td>भवितास्मि<div>bhavitāsmi</div></td>
		<td>भवितास्वः<div>bhavitāsvaḥ</div></td>
		<td>भवितास्मः<div>bhavitāsmaḥ</div></td>
	</tr>
</table>