<table class="inflection">
	<caption><span lang="sa">bhū</span> (<span lang="sa">a+</span>, P, present tense)</caption>
	<tr><th class="stem">भू</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Third Person</th>
		<td>भवति<div>bhavati</div></td>
		<td class="d">भवतः<div>bhavataḥ</div></td>
		<td>भवन्ति<div>bhavanti</div></td>
	</tr><tr><th>Second Person</th>
		<td>भवसि<div>bhavasi</div></td>
		<td class="d">भवथः<div>bhavathaḥ</div></td>
		<td class="d">भवथ<div>bhavatha</div></td>
	</tr><tr><th>First Person</th>
		<td>भवामि<div>bhavāmi</div></td>
		<td>भवावः<div>bhavāvaḥ</div></td>
		<td>भवामः<div>bhavāmaḥ</div></td>
	</tr>
</table>