<table class="inflection">
	<caption><span lang="sa">bhū</span> (<span lang="sa">a+</span>, P, ordinary past tense)</caption>
	<tr><th class="stem">भू</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Third Person</th>
		<td>अभवत्<div>abhavat</div></td>
		<td class="d">अभवताम्<div>abhavatām</div></td>
		<td>अभवन्<div>abhavan</div></td>
	</tr><tr><th>Second Person</th>
		<td>अभवः<div>abhavaḥ</div></td>
		<td class="d">अभवतम्<div>abhavatam</div></td>
		<td class="d">अभवत<div>abhavata</div></td>
	</tr><tr><th>First Person</th>
		<td>अभवम्<div>abhavam</div></td>
		<td>अभवाव<div>abhavāva</div></td>
		<td>अभवाम<div>abhavāma</div></td>
	</tr>
</table>