<table class="inflection">
	<caption><span lang="sa">bhū</span> (<span lang="sa">a+</span>, P, option mood)</caption>
	<tr><th class="stem">भू</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Third Person</th>
		<td>भवेत्<div>bhavet</div></td>
		<td class="d">भवेताम्<div>bhavetām</div></td>
		<td>भवेयुः<div>bhaveyuḥ</div></td>
	</tr><tr><th>Second Person</th>
		<td>भवेः<div>bhaveḥ</div></td>
		<td class="d">भवेतम्<div>bhavetam</div></td>
		<td class="d">भवेत<div>bhaveta</div></td>
	</tr><tr><th>First Person</th>
		<td>भवेयम्<div>bhaveyam</div></td>
		<td>भवेव<div>bhaveva</div></td>
		<td>भवेम<div>bhavema</div></td>
	</tr>
</table>