<table class="inflection">
	<caption><span lang="sa">cur</span> (<span lang="sa">aya</span>, present tense)</caption>
	<tr><th class="stem">चुर्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Third Person</th>
		<td>चोरयति<div>corayati</div></td>
		<td class="d">चोरयतः<div>corayataḥ</div></td>
		<td>चोरयन्ति<div>corayanti</div></td>
	</tr><tr><th>Second Person</th>
		<td>चोरयसि<div>corayasi</div></td>
		<td class="d">चोरयथः<div>corayathaḥ</div></td>
		<td class="d">चोरयथ<div>corayatha</div></td>
	</tr><tr><th>First Person</th>
		<td>चोरयामि<div>corayāmi</div></td>
		<td>चोरयावः<div>corayāvaḥ</div></td>
		<td>चोरयामः<div>corayāmaḥ</div></td>
	</tr>
</table>