<table class="inflection">
	<caption><span lang="sa">dviṣ</span> (consonant, P, present tense)</caption>
	<tr><th class="stem">द्विष्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Third Person</th>
		<td class="s">द्वेष्टि<div>dveṣṭi</div></td>
		<td class="d">द्विष्टः<div>dviṣṭaḥ</div></td>
		<td>द्विषन्ति<div>dviṣanti</div></td>
	</tr><tr><th>Second Person</th>
		<td class="s">द्वेक्षि<div>dvekṣi</div></td>
		<td class="d">द्विष्ठः<div>dviṣṭhaḥ</div></td>
		<td class="d">द्विष्ठ<div>dviṣṭha</div></td>
	</tr><tr><th>First Person</th>
		<td class="s">द्वेष्मि<div>dveṣmi</div></td>
		<td>द्विष्वः<div>dviṣvaḥ</div></td>
		<td>द्विष्मः<div>dviṣmaḥ</div></td>
	</tr>
</table>