<table class="inflection">
	<caption><span lang="sa">han</span> (consonant, P, present tense)</caption>
	<tr><th class="stem">हन्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Third Person</th>
		<td class="s">हन्ति<div>hanti</div></td>
		<td class="d">हतः<div>hataḥ</div></td>
		<td>घ्नन्ति<div>ghnanti</div></td>
	</tr><tr><th>Second Person</th>
		<td class="s">हन्सि<div>hansi</div></td>
		<td class="d">हथः<div>hathaḥ</div></td>
		<td class="d">हथ<div>hatha</div></td>
	</tr><tr><th>First Person</th>
		<td class="s">हन्मि<div>hanmi</div></td>
		<td>हन्वः<div>hanvaḥ</div></td>
		<td>हन्मः<div>hanmaḥ</div></td>
	</tr>
</table>