<table class="inflection">
	<caption><span lang="sa">hu</span> (duplicating, P, present tense)</caption>
	<tr><th class="stem">हु</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Third Person</th>
		<td class="s">जुहोति<div>juhoti</div></td>
		<td class="d">जुहुतः<div>juhutaḥ</div></td>
		<td>जुह्वति<div>juhvati</div></td>
	</tr><tr><th>Second Person</th>
		<td class="s">जुहोषि<div>juhoṣi</div></td>
		<td class="d">जुहुथः<div>juhuthaḥ</div></td>
		<td class="d">जुहुथ<div>juhutha</div></td>
	</tr><tr><th>First Person</th>
		<td class="s">जुहोमि<div>juhomi</div></td>
		<td>जुहुवः<div>juhuvaḥ</div></td>
		<td>जुहुमः<div>juhumaḥ</div></td>
	</tr>
</table>
