<table class="inflection">
	<caption><span lang="sa">krī</span> (<span lang="sa">nā</span>, U, present tense (P))</caption>
	<tr><th class="stem">क्री</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Third Person</th>
		<td class="s">क्रीणाति<div>krīṇāti</div></td>
		<td class="d">क्रीणीतः<div>krīṇītaḥ</div></td>
		<td>क्रीणन्ति<div>krīṇanti</div></td>
	</tr><tr><th>Second Person</th>
		<td class="s">क्रीणासि<div>krīṇāsi</div></td>
		<td class="d">क्रीणीथः<div>krīṇīthaḥ</div></td>
		<td class="d">क्रीणीथ<div>krīṇītha</div></td>
	</tr><tr><th>First Person</th>
		<td class="s">क्रीणामि<div>krīṇāmi</div></td>
		<td>क्रीणीवः<div>krīṇīvaḥ</div></td>
		<td>क्रीणीमः<div>krīṇīmaḥ</div></td>
	</tr>
</table>
