<table class="inflection">
	<caption><span lang="sa">labh</span> (<span lang="sa">a+</span>, A, ordinary past tense)</caption>
	<tr><th class="stem">लभ्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Third Person</th>
		<td>अलभत<div>alabhata</div></td>
		<td class="d">अलभेताम्<div>alabhetām</div></td>
		<td>अलभन्त<div>alabhanta</div></td>
	</tr><tr><th>Second Person</th>
		<td>अलभथाः<div>alabhathāḥ</div></td>
		<td class="d">अलभेथाम्<div>alabhethām</div></td>
		<td class="d">अलभध्वम्<div>alabhadhvam</div></td>
	</tr><tr><th>First Person</th>
		<td>अलभे<div>alabhe</div></td>
		<td>अलभावहि<div>alabhāvahi</div></td>
		<td>अलभामहि<div>alabhāmahi</div></td>
	</tr>
</table>