<table class="inflection">
	<caption><span lang="sa">labh</span> (<span lang="sa">a+</span>, A, option mood)</caption>
	<tr><th class="stem">लभ्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Third Person</th>
		<td>लभेत<div>labheta</div></td>
		<td class="d">लभेयाताम्<div>labheyātām</div></td>
		<td>लभेरन्<div>labheran</div></td>
	</tr><tr><th>Second Person</th>
		<td>लभेथाः<div>labhethāḥ</div></td>
		<td class="d">लभेयाथाम्<div>labheyāthām</div></td>
		<td class="d">लभेध्वम्<div>labhedhvam</div></td>
	</tr><tr><th>First Person</th>
		<td>लभेय<div>labheya</div></td>
		<td>लभेवहि<div>labhevahi</div></td>
		<td>लभेमहि<div>labhemahi</div></td>
	</tr>
</table>