<table class="inflection">
	<caption><span lang="sa">labh</span> (<span lang="sa">a+</span>, A, present tense)</caption>
	<tr><th class="stem">लभ्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Third Person</th>
		<td>लभते<div>labhate</div></td>
		<td class="d">लभेते<div>labhete</div></td>
		<td>लभन्ते<div>labhante</div></td>
	</tr><tr><th>Second Person</th>
		<td>लभसे<div>labhase</div></td>
		<td class="d">लभेथे<div>labhethe</div></td>
		<td class="d">लभध्वे<div>labhadhve</div></td>
	</tr><tr><th>First Person</th>
		<td>लभे<div>labhe</div></td>
		<td>लभावहे<div>labhāvahe</div></td>
		<td>लभामहे<div>labhāmahe</div></td>
	</tr>
</table>