<table class="inflection">
	<caption><span lang="sa">labh</span> (<span lang="sa">a+</span>, A, command mood)</caption>
	<tr><th class="stem">लभ्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Third Person</th>
		<td>लभताम्<div>labhatām</div></td>
		<td class="d">लभेताम्<div>labhetām</div></td>
		<td>लभन्ताम्<div>labhantām</div></td>
	</tr><tr><th>Second Person</th>
		<td>लभस्व<div>labhasva</div></td>
		<td class="d">लभेथाम्<div>labhethām</div></td>
		<td class="d">लभध्वम्<div>labhadhvam</div></td>
	</tr><tr><th>First Person</th>
		<td>लभै<div>labhai</div></td>
		<td>लभावहै<div>labhāvahai</div></td>
		<td>लभामहै<div>labhāmahai</div></td>
	</tr>
</table>