<table class="inflection">
	<caption><span lang="sa">muh</span> (<span lang="sa">ya</span>, present tense)</caption>
	<tr><th class="stem">मुह्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Third Person</th>
		<td>मुह्यति<div>muhyati</div></td>
		<td class="d">मुह्यतः<div>muhyataḥ</div></td>
		<td>मुह्यन्ति<div>muhyanti</div></td>
	</tr><tr><th>Second Person</th>
		<td>मुह्यसि<div>muhyasi</div></td>
		<td class="d">मुह्यथः<div>muhyathaḥ</div></td>
		<td class="d">मुह्यथ<div>muhyatha</div></td>
	</tr><tr><th>First Person</th>
		<td>मुह्यामि<div>muhyāmi</div></td>
		<td>मुह्यावः<div>muhyāvaḥ</div></td>
		<td>मुह्यामः<div>muhyāmaḥ</div></td>
	</tr>
</table>