<table class="inflection">
	<caption><span lang="sa">gaccha</span> (present tense)</caption>
	<tr><th class="stem">गच्छ</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Third Person</th>
		<td>गच्छति<div lang="sa">gacchati</div></td>
		<td></td>
		<td>गच्छन्ति<div lang="sa">gacchanti</div></div></td>
	</tr><tr><th>Second Person</th>
		<td>गच्छसि<div lang="sa">gacchasi</div></td>
		<td></td>
		<td></td>
	</tr><tr><th>First Person</th>
		<td>गच्छामि<div lang="sa">gacchāmi</div></td>
		<td>गच्छावः<div lang="sa">gacchāvaḥ</div></td>
		<td>गच्छामः<div lang="sa">gacchāmaḥ</div></td>
	</tr>
</table>