<table class="inflection">
	<caption><span lang="sa">rudh</span> (nasal, P/A, present tense (P))</caption>
	<tr><th class="stem">रुध्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Third Person</th>
		<td class="s">रुणद्धि<div>ruṇaddhi</div></td>
		<td class="d">रुन्द्धः<div>runddhaḥ</div></td>
		<td>रुन्धन्ति<div>rundhanti</div></td>
	</tr><tr><th>Second Person</th>
		<td class="s">रुणत्सि<div>ruṇatsi</div></td>
		<td class="d">रुन्द्धः<div>runddhaḥ</div></td>
		<td class="d">रुन्द्ध<div>runddha</div></td>
	</tr><tr><th>First Person</th>
		<td class="s">रुणध्मि<div>ruṇadhmi</div></td>
		<td>रुन्ध्वः<div>rundhvaḥ</div></td>
		<td>रुन्ध्मः<div>rundhmaḥ</div></td>
	</tr>
</table>
