<table class="inflection">
	<caption><span lang="sa">su</span> (<span lang="sa">no</span>, P, command mood)</caption>
	<tr><th class="stem">सु</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Third Person</th>
		<td class="s">सुनोतु<div>sunotu</div></dt>
		<td class="d">सुनुताम्<div>sunutām</div></dt>
		<td>सुन्वन्तु<div>sunvantu</div></dt>
	</tr><tr><th>Second Person</th>
		<td>सुनु<div>sunu</div></dt>
		<td class="d">सुनुतम्<div>sunutam</div></dt>
		<td class="d">सुनुत<div>sunuta</div></dt>
	</tr><tr><th>First Person</th>
		<td class="s">सुनवानि<div>sunavāni</div></dt>
		<td class="s">सुनवाव<div>sunavāva</div></dt>
		<td class="s">सुनवाम<div>sunavāma</div></dt>
	</tr>
</table>