<table class="inflection">
	<caption><span lang="sa">su</span> (<span lang="sa">no</span>, A, command mood)</caption>
	<tr><th class="stem">सु</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Third Person</th>
		<td>सुनुताम्<div>sunutām</div></dt>
		<td class="d">सुन्वाताम्<div>sunvātām</div></dt>
		<td>सुन्वताम्<div>sunvatām</div></dt>
	</tr><tr><th>Second Person</th>
		<td>सुनुष्व<div>sunuṣva</div></dt>
		<td class="d">सुन्वाथाम्<div>sunvāthām</div></dt>
		<td class="d">सुनुध्वम्<div>sunudhvam</div></dt>
	</tr><tr><th>First Person</th>
		<td class="s">सुनवै<div>sunavai</div></dt>
		<td class="s">सुनवावहै<div>sunavāvahai</div></dt>
		<td class="s">सुनवामहै<div>sunavāmahai</div></dt>
	</tr>
</table>