<table class="inflection">
	<caption><span lang="sa">su</span> (<span lang="sa">no</span>, A, present tense)</caption>
	<tr><th class="stem">सु</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Third Person</th>
		<td>सुनुते<div>sunute</div></dt>
		<td class="d">सुन्वाते<div>sunvāte</div></dt>
		<td>सुन्वते<div>sunvate</div></dt>
	</tr><tr><th>Second Person</th>
		<td>सुनुषे<div>sunuṣe</div></dt>
		<td class="d">सुन्वाथे<div>sunvāthe</div></dt>
		<td class="d">सुनुध्वे<div>sunudhve</div></dt>
	</tr><tr><th>First Person</th>
		<td>सुन्वे<div>sunve</div></dt>
		<td>सुनुवहे<div>sunuvahe</div></dt>
		<td>सुनुमहे<div>sunumahe</div></dt>
	</tr>
</table>