<table class="inflection">
	<caption><span lang="sa">su</span> (<span lang="sa">no</span>, P, option mood)</caption>
	<tr><th class="stem">सु</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Third Person</th>
		<td>सुनुयात्<div>sunuyāt</div></dt>
		<td class="d">सुनुयाताम्<div>sunuyātām</div></dt>
		<td>सुनुयुः<div>sunuyuḥ</div></dt>
	</tr><tr><th>Second Person</th>
		<td>सुनुयाः<div>sunuyāḥ</div></dt>
		<td class="d">सुनुयातम्<div>sunuyātam</div></dt>
		<td class="d">सुनुयात<div>sunuyāta</div></dt>
	</tr><tr><th>First Person</th>
		<td>सुनुयाम्<div>sunuyām</div></dt>
		<td>सुनुयाव<div>sunuyāva</div></dt>
		<td>सुनुयाम<div>sunuyāma</div></dt>
	</tr>
</table>