<table class="inflection">
	<caption><span lang="sa">su</span> (<span lang="sa">no</span>, P, present tense)</caption>
	<tr><th class="stem">सु</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Third Person</th>
		<td class="s">सुनोति<div>sunoti</div></td>
		<td class="d">सुनुतः<div>sunutaḥ</div></td>
		<td>सुन्वन्ति<div>sunvanti</div></td>
	</tr><tr><th>Second Person</th>
		<td class="s">सुनोषि<div>sunoṣi</div></td>
		<td class="d">सुनुथः<div>sunuthaḥ</div></td>
		<td class="d">सुनुथ<div>sunutha</div></td>
	</tr><tr><th>First Person</th>
		<td class="s">सुनोमि<div>sunomi</div></td>
		<td>सुनुवः<div>sunuvaḥ</div></td>
		<td>सुनुमः<div>sunumaḥ</div></td>
	</tr>
</table>
