<table class="inflection">
	<caption><span lang="sa">su</span> (<span lang="sa">no</span>, P, past tense)</caption>
	<tr><th class="stem">सु</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Third Person</th>
		<td class="s">असुनोत्<div>asunot</div></dt>
		<td class="d">असुनुताम्<div>asunutām</div></dt>
		<td>असुन्वन्<div>asunvan</div></dt>
	</tr><tr><th>Second Person</th>
		<td class="s">असुनोः<div>asunoḥ</div></dt>
		<td class="d">असुनुतम्<div>asunutam</div></dt>
		<td class="d">असुनुत<div>asunuta</div></dt>
	</tr><tr><th>First Person</th>
		<td class="s">असुनवम्<div>asunavam</div></dt>
		<td>असुनुव<div>asunuva</div></dt>
		<td>असुनुम<div>asusuma</div></dt>
	</tr>
</table>