<table class="inflection">
	<caption><span lang="sa">su</span> (<span lang="sa">no</span>, A, option mood)</caption>
	<tr><th class="stem">सु</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Third Person</th>
		<td>सुन्वीत<div>sunvīta</div></dt>
		<td class="d">सुन्वीयाताम्<div>sunvīyātām</div></dt>
		<td>सुन्वीरन्<div>sunvīran</div></dt>
	</tr><tr><th>Second Person</th>
		<td>सुन्वीथाः<div>sunvīthāḥ</div></dt>
		<td class="d">सुन्वीयाथाम्<div>sunvīyāthām</div></dt>
		<td class="d">सुन्वीध्वम्<div>sunvīdhvam</div></dt>
	</tr><tr><th>First Person</th>
		<td>सुन्वीय<div>sunvīya</div></dt>
		<td>सुन्वीवहि<div>sunvīvahi</div></dt>
		<td>सुन्वीमहि<div>sunvīmahi</div></dt>
	</tr>
</table>