<table class="inflection">
	<caption><span lang="sa">su</span> (<span lang="sa">no</span>, A, past tense)</caption>
	<tr><th class="stem">सु</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Third Person</th>
		<td>असुनुत<div>asunuta</div></dt>
		<td class="d">असुन्वाताम्<div>asunvātām</div></dt>
		<td>असुन्वत<div>asunvata</div></dt>
	</tr><tr><th>Second Person</th>
		<td>असुनुथाः<div>asunuthāḥ</div></dt>
		<td class="d">असुन्वाथाम्<div>asunvāthām</div></dt>
		<td class="d">असुनुध्वम्<div>asunudhvam</div></dt>
	</tr><tr><th>First Person</th>
		<td>असुन्वि<div>asunvi</div></dt>
		<td>असुनुवहि<div>asunuvahi</div></dt>
		<td>असुनुमहि<div>asunumahi</div></dt>
	</tr>
</table>