<table class="inflection">
	<caption><span lang="sa">tan</span> (<span lang="sa">o</span>, U, present tense (P))</caption>
	<tr><th class="stem">तन्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Third Person</th>
		<td class="s">तनोति<div>tanoti</div></td>
		<td class="d">तनुतः<div>tanutaḥ</div></td>
		<td>तन्वन्ति<div>tanvanti</div></td>
	</tr><tr><th>Second Person</th>
		<td class="s">तनोसि<div>tanosi</div></td>
		<td class="d">तनुथः<div>tanuthaḥ</div></td>
		<td class="d">तनुथ<div>tanutha</div></td>
	</tr><tr><th>First Person</th>
		<td class="s">तनोमि<div>tanomi</div></td>
		<td>तनुवः<div>tanuvaḥ</div></td>
		<td>तनुमः<div>tanumaḥ</div></td>
	</tr>
</table>
