<table class="inflection">
	<caption><span lang="sa">tud</span> (<span lang="sa">a0</span>, present tense)</caption>
	<tr><th class="stem">तुद्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Third Person</th>
		<td>तुदति<div>tudati</div></td>
		<td class="d">तुदतः<div>tudataḥ</div></td>
		<td>तुदन्ति<div>tudanti</div></td>
	</tr><tr><th>Second Person</th>
		<td>तुदसि<div>tudasi</div></td>
		<td class="d">तुदथः<div>tudathaḥ</div></td>
		<td class="d">तुदथ<div>tudatha</div></td>
	</tr><tr><th>First Person</th>
		<td>तुदामि<div>tudāmi</div></td>
		<td>तुदावः<div>tudāvaḥ</div></td>
		<td>तुदामः<div>tudāmaḥ</div></td>
	</tr>
</table>