<table class="inflection">
	<caption>-<span lang="sa">a</span> (neuter)</caption>
	<tr><th class="stem">फल</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td class="r">फलम्<div>phalam</div></td>
		<td class="g">फले<div>phale</div></td>
		<td class="b">फलानि<div>phalāni</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td class="r">फलम्<div>phalam</div></td>
		<td class="g">फले<div>phale</div></td>
		<td class="b">फलानि<div>phalāni</div></td>
	</tr><tr><th>Case 8 (address)</th>
		<td>फल<div>phala</div></td>
		<td class="g">फले<div>phale</div></td>
		<td class="b">फलानि<div>phalāni</div></td>
	</tr>
</table>