<table class="inflection">
	<caption>-<span lang="sa">a</span> (masculine)</caption>
	<tr><th class="stem">गज</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td>गजः<div>gajaḥ</div></td>
		<td class="r">गजौ<div>gajau</div></td>
		<td class="y">गजाः<div>gajāḥ</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td>गजम्<div>gajam</div></td>
		<td class="r">गजौ<div>gajau</div></td>
		<td>गजान्<div>gajān</div></td>
	</tr><tr><th>Case 3 ("with")</th>
		<td>गजेन<div>gajena</div></td>
		<td class="g">गजाभ्याम्<div>gajābhyām</div></td>
		<td>गजैः<div>gajaiḥ</div></td>
	</tr><tr><th>Case 4 ("for")</th>
		<td>गजाय<div>gajāya</div></td>
		<td class="g">गजाभ्याम्<div>gajābhyām</div></td>
		<td class="p">गजेभ्यः<div>gajebhyaḥ</div></td>
	</tr><tr><th>Case 5 ("from")</th>
		<td>गजात्<div>gajāt</div></td>
		<td class="g">गजाभ्याम्<div>gajābhyām</div></td>
		<td class="p">गजेभ्यः<div>gajebhyaḥ</div></td>
	</tr><tr><th>Case 6 ("of")</th>
		<td>गजस्य<div>gajasya</div></td>
		<td class="b">गजयोः<div>gajayoḥ</div></td>
		<td>गजानाम्<div>gajānām</div></td>
	</tr><tr><th>Case 7 ("in")</th>
		<td>गजे<div>gaje</div></td>
		<td class="b">गजयोः<div>gajayoḥ</div></td>
		<td>गजेषु<div>gajeṣu</div></td>
	</tr><tr><th>Case 8 (address)</th>
		<td>गज<div>gaja</div></td>
		<td class="r">गजौ<div>gajau</div></td>
		<td class="y">गजाः<div>gajāḥ</div></td>
	</tr>
</table>