<table class="inflection">
	<caption>-<span lang="sa">ā</span> (feminine)</caption>
	<tr><th class="stem">विद्या</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td>विद्या<div>vidyā</div></td>
		<td class="r">विद्ये<div>vidye</div></td>
		<td class="y">विद्याः<div>vidyāḥ</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td>विद्याम्<div>vidyām</div></td>
		<td class="r">विद्ये<div>vidye</div></td>
		<td class="y">विद्याः<div>vidyāḥ</div></td>
	</tr><tr><th>Case 3 ("with")</th>
		<td>विद्यया<div>vidyayā</div></td>
		<td class="g">विद्याभ्याम्<div>vidyābhyām</div></td>
		<td>विद्याभिः<div>vidyābhiḥ</div></td>
	</tr><tr><th>Case 4 ("for")</th>
		<td>विद्यायै<div>vidyāyai</div></td>
		<td class="g">विद्याभ्याम्<div>vidyābhyām</div></td>
		<td class="p">विद्याभ्यः<div>vidyābhyaḥ</div></td>
	</tr><tr><th>Case 5 ("from")</th>
		<td class="o">विद्यायाः<div>vidyāyāḥ</div></td>
		<td class="g">विद्याभ्याम्<div>vidyābhyām</div></td>
		<td class="p">विद्याभ्यः<div>vidyābhyaḥ</div></td>
	</tr><tr><th>Case 6 ("of")</th>
		<td class="o">विद्यायाः<div>vidyāyāḥ</div></td>
		<td class="b">विद्ययोः<div>vidyayoḥ</div></td>
		<td>विद्यानाम्<div>vidyānām</div></td>
	</tr><tr><th>Case 7 ("in")</th>
		<td>विद्यायाम्<div>vidyāyām</div></td>
		<td class="b">विद्ययोः<div>vidyayoḥ</div></td>
		<td>विद्यासु<div>vidyāsu</div></td>
	</tr><tr><th>Case 8 (address)</th>
		<td class="r">विद्ये<div>vidye</div></td>
		<td class="r">विद्ये<div>vidye</div></td>
		<td class="y">विद्याः<div>vidyāḥ</div></td>
	</tr>
</table>