<h3>Masculine</h3>
<table class="inflection">
	<caption><span lang="sa">adas</span> (masculine)</caption>
	<tr><th class="stem">अदस्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td>असौ<div>asau</div></td>
		<td class="r">अमू<div>amū</div></td>
		<td>अमी<div>amī</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td>अमुम्<div>amum</div></td>
		<td class="r">अमू<div>amū</div></td>
		<td>अमून्<div>amūn</div></td>
	</tr><tr><th>Case 3 ("with")</th>
		<td>अमुना<div>amunā</div></td>
		<td class="g">अमूभ्याम्<div>amūbhyām</div></td>
		<td>अमीभिः<div>amībhiḥ</div></td>
	</tr><tr><th>Case 4 ("for")</th>
		<td>अमुष्मै<div>amuṣmai</div></td>
		<td class="g">अमूभ्याम्<div>amūbhyām</div></td>
		<td class="p">अमीभ्यः<div>amībhyaḥ</div></td>
	</tr><tr><th>Case 5 ("from")</th>
		<td>अमुष्मात्<div>amuṣmāt</div></td>
		<td class="g">अमूभ्याम्<div>amūbhyām</div></td>
		<td class="p">अमीभ्यः<div>amībhyaḥ</div></td>
	</tr><tr><th>Case 6 ("of")</th>
		<td>अमुष्य<div>amuṣya</div></td>
		<td class="b">अमुयोः<div>amuyoḥ</div></td>
		<td>अमीषाम्<div>amīṣām</div></td>
	</tr><tr><th>Case 7 ("in")</th>
		<td>अमुष्मिन्<div>amuṣmin</div></td>
		<td class="b">अमुयोः<div>amuyoḥ</div></td>
		<td>अमीषु<div>amīṣu</div></td>
	</tr>
</table>

<h3>Feminine</h3>
<table class="inflection">
	<caption>adas (feminine)</caption>
	<tr><th class="stem">अदस्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td>असौ<div>asau</div></td>
		<td class="r">अमू<div>amū</div></td>
		<td class="y">अमूः<div>amūḥ</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td>अमूम्<div>amūm</div></td>
		<td class="r">अमू<div>amū</div></td>
		<td class="y">अमूः<div>amūḥ</div></td>
	</tr><tr><th>Case 3 ("with")</th>
		<td>अमुया<div>amuyā</div></td>
		<td class="g">अमूभ्याम्<div>amūbhyām</div></td>
		<td>अमूभिः<div>amūbhiḥ</div></td>
	</tr><tr><th>Case 4 ("for")</th>
		<td>अमुष्यै<div>amuṣyai</div></td>
		<td class="g">अमूभ्याम्<div>amūbhyām</div></td>
		<td class="p">अमूभ्यः<div>amūbhyaḥ</div></td>
	</tr><tr><th>Case 5 ("from")</th>
		<td class="o">अमुष्याः<div>amuṣyāḥ</div></td>
		<td class="g">अमूभ्याम्<div>amūbhyām</div></td>
		<td class="p">अमूभ्यः<div>amūbhyaḥ</div></td>
	</tr><tr><th>Case 6 ("of")</th>
		<td class="o">अमुष्याः<div>amuṣyāḥ</div></td>
		<td class="b">अमुयोः<div>amuyoḥ</div></td>
		<td>अमूषाम्<div>amūṣām</div></td>
	</tr><tr><th>Case 7 ("in")</th>
		<td>अमुष्याम्<div>amuṣyām</div></td>
		<td class="b">अमुयोः<div>amuyoḥ</div></td>
		<td>अमूषु<div>amūṣu</div></td>
	</tr>
</table>

<h3>Neuter</h3>
<table class="inflection">
	<caption>adas (neuter)</caption>
	<tr><th class="stem">अदस्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td class="r">अदः<div>adaḥ</div></td>
		<td class="g">अमू<div>amū</div></td>
		<td class="b">अमूनि<div>amūni</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td class="r">अदः<div>adaḥ</div></td>
		<td class="g">अमू<div>amū</div></td>
		<td class="b">अमूनि<div>amūni</div></td>
	</tr>
</table>