<table class="inflection">
	<caption>-<span lang="sa">ai</span> (masculine)</caption>
	<tr><th class="stem">रै</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td>राः<div>rāḥ</div></td>
		<td class="r">रायौ<div>rāyau</div></td>
		<td class="y">रायः<div>rāyaḥ</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td>रायम्<div>rāyam</div></td>
		<td class="r">रायौ<div>rāyau</div></td>
		<td class="y">रायः<div>rāyaḥ</div></td>
	</tr><tr><th>Case 3 ("with")</th>
		<td>राया<div>rāyā</div></td>
		<td class="g">राभ्याम्<div>rābhyām</div></td>
		<td>राभिः<div>rābhiḥ</div></td>
	</tr><tr><th>Case 4 ("for")</th>
		<td>राये<div>rāye</div></td>
		<td class="g">राभ्याम्<div>rābhyām</div></td>
		<td class="p">राभ्यः<div>rābhyaḥ</div></td>
	</tr><tr><th>Case 5 ("from")</th>
		<td class="o">रायः<div>rāyaḥ</div></td>
		<td class="g">राभ्याम्<div>rābhyām</div></td>
		<td class="p">राभ्यः<div>rābhyaḥ</div></td>
	</tr><tr><th>Case 6 ("of")</th>
		<td class="o">रायः<div>rāyaḥ</div></td>
		<td class="b">रायोः<div>rāyoḥ</div></td>
		<td>रायाम्<div>rāyām</div></td>
	</tr><tr><th>Case 7 ("in")</th>
		<td>रायि<div>rāyi</div></td>
		<td class="b">रायोः<div>rāyoḥ</div></td>
		<td>रासु<div>rāsu</div></td>
	</tr><tr><th>Case 8 (address)</th>
		<td>राः<div>rāḥ</div></td>
		<td class="r">रायौ<div>rāyau</div></td>
		<td class="y">रायः<div>rāyaḥ</div></td>
	</tr></table>
