<h3>Masculine</h3>
<table class="inflection">
	<caption>-<span lang="sa">an</span> (masculine)</caption>
	<tr><th class="stem">आत्मन्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td class="s">आत्मा<div>ātmā</div></td>
		<td class="s r">आत्मानौ<div>ātmānau</div></td>
		<td class="s y">आत्मानः<div>ātmānaḥ</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td class="s">आत्मानम्<div>ātmānam</div></td>
		<td class="s r">आत्मानौ<div>ātmānau</div></td>
		<td class="o">आत्मनः<div>ātmanaḥ</div></td>
	</tr><tr><th>Case 3 ("with")</th>
		<td>आत्मना<div>ātmanā</div></td>
		<td class="g">आत्मभ्याम्<div>ātmabhyām</div></td>
		<td>आत्मभिः<div>ātmabhiḥ</div></td>
	</tr><tr><th>Case 4 ("for")</th>
		<td>आत्मने<div>ātmane</div></td>
		<td class="g">आत्मभ्याम्<div>ātmabhyām</div></td>
		<td class="p">आत्मभ्यः<div>ātmabhyaḥ</div></td>
	</tr><tr><th>Case 5 ("from")</th>
		<td class="o">आत्मनः<div>ātmanaḥ</div></td>
		<td class="g">आत्मभ्याम्<div>ātmabhyām</div></td>
		<td class="p">आत्मभ्यः<div>ātmabhyaḥ</div></td>
	</tr><tr><th>Case 6 ("of")</th>
		<td class="o">आत्मनः<div>ātmanaḥ</div></td>
		<td class="b">आत्मनोः<div>ātmanoḥ</div></td>
		<td>आत्मनाम्<div>ātmanām</div></td>
	</tr><tr><th>Case 7 ("in")</th>
		<td>आत्मनि<div>ātmani</div></td>
		<td class="b">आत्मनोः<div>ātmanoḥ</div></td>
		<td>आत्मसु<div>ātmasu</div></td>
	</tr><tr><th>Case 8 (address)</th>
		<td class="s">आत्मन्<div>ātman</div></td>
		<td class="s r">आत्मानौ<div>ātmānau</div></td>
		<td class="s y">आत्मानः<div>ātmānaḥ</div></td>
	</tr></table>

<h3>Neuter</h3>
<table class="inflection">
	<caption>-<span lang="sa">an</span> (neuter)</caption>
	<tr><th class="stem">नामन्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td class="r">नाम<div>nāma</div></td>
		<td class="g">नाम्नी, नामनी<div>nāmnī, nāmanī</div></td>
		<td class="b">नामानि<div>nāmāni</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td class="r">नाम<div>nāma</div></td>
		<td class="g">नाम्नी, नामनी<div>nāmnī, nāmanī</div></td>
		<td class="b">नामानि<div>nāmāni</div></td>
	</tr><tr><th>Case 8 (address)</th>
		<td>नामन्, नाम<div>nāman, nāma</div></td>
		<td class="g">नाम्नी, नामनी<div>nāmnī, nāmanī</div></td>
		<td class="b">नामानि<div>nāmāni</div></td>
	</tr></table>