<h3>Masculine</h3>
<table class="inflection">
	<caption>-<span lang="sa">mat</span> and -<span lang="sa">vat</span> (masculine)</caption>
	<tr><th class="stem">भगवत्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td class="s">भगवान्<div>bhagavān</div></td>
		<td class="s r">भगवन्तौ<div>bhagavantau</div></td>
		<td class="s y">भगवन्तः<div>bhagavantaḥ</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td class="s">भगवन्तम्<div>bhagavantam</div></td>
		<td class="s r">भगवन्तौ<div>bhagavantau</div></td>
		<td class="o">भगवतः<div>bhagavataḥ</div></td>
	</tr><tr><th>Case 3 ("with")</th>
		<td>भगवता<div>bhagavatā</div></td>
		<td class="g">भगवद्भ्याम्<div>bhagavadbhyām</div></td>
		<td>भगवद्भिः<div>bhagavadbhiḥ</div></td>
	</tr><tr><th>Case 4 ("for")</th>
		<td>भगवते<div>bhagavate</div></td>
		<td class="g">भगवद्भ्याम्<div>bhagavadbhyām</div></td>
		<td class="p">भगवद्भ्यः<div>bhagavadbhyaḥ</div></td>
	</tr><tr><th>Case 5 ("from")</th>
		<td class="o">भगवतः<div>bhagavataḥ</div></td>
		<td class="g">भगवद्भ्याम्<div>bhagavadbhyām</div></td>
		<td class="p">भगवद्भ्यः<div>bhagavadbhyaḥ</div></td>
	</tr><tr><th>Case 6 ("of")</th>
		<td class="o">भगवतः<div>bhagavataḥ</div></td>
		<td class="b">भगवतोः<div>bhagavatoḥ</div></td>
		<td>भगवताम्<div>bhagavatām</div></td>
	</tr><tr><th>Case 7 ("in")</th>
		<td>भगवति<div>bhagavati</div></td>
		<td class="b">भगवतोः<div>bhagavatoḥ</div></td>
		<td>भगवत्सु<div>bhagavatsu</div></td>
	</tr><tr><th>Case 8 (address)</th>
		<td class="s">भगवन्<div>bhagavan</div></td>
		<td class="s r">भगवन्तौ<div>bhagavantau</div></td>
		<td class="s y">भगवन्तः<div>bhagavantaḥ</div></td>
	</tr>
</table>

<h3>Neuter</h3>
<table class="inflection">
	<caption>-<span lang="sa">mat</span> and -<span lang="sa">vat</span> (neuter)</caption>
	<tr><th class="stem">भगवत्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td class="r">भगवत्<div>bhagavat</div></td>
		<td class="g">भगवती<div>bhagavatī</div></td>
		<td class="b">भगवन्ति<div>bhagavanti</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td class="r">भगवत्<div>bhagavat</div></td>
		<td class="g">भगवती<div>bhagavatī</div></td>
		<td class="b">भगवन्ति<div>bhagavanti</div></td>
	</tr><tr><th>Case 8 (address)</th>
		<td class="r">भगवत्<div>bhagavat</div></td>
		<td class="g">भगवती<div>bhagavatī</div></td>
		<td class="b">भगवन्ति<div>bhagavanti</div></td>
	</tr>
</table>