<table class="inflection">
	<caption>-<span lang="sa">au</span> (feminine)</caption>
	<tr><th class="stem">नौ</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td>नौः<div>nauḥ</div></td>
		<td class="r">नावौ<div>nāvau</div></td>
		<td class="y">नावः<div>nāvaḥ</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td>नावम्<div>nāvam</div></td>
		<td class="r">नावौ<div>nāvau</div></td>
		<td>नावः<div>nāvaḥ</div></td>
	</tr><tr><th>Case 3 ("with")</th>
		<td>नावा<div>nāvā</div></td>
		<td class="g">नौभ्याम्<div>naubhyām</div></td>
		<td>नौभिः<div>naubhiḥ</div></td>
	</tr><tr><th>Case 4 ("for")</th>
		<td>नावे<div>nāve</div></td>
		<td class="g">नौभ्याम्<div>naubhyām</div></td>
		<td class="p">नौभ्यः<div>naubhyaḥ</div></td>
	</tr><tr><th>Case 5 ("from")</th>
		<td class="o">नावः<div>nāvaḥ</div></td>
		<td class="g">नौभ्याम्<div>naubhyām</div></td>
		<td class="p">नौभ्यः<div>naubhyaḥ</div></td>
	</tr><tr><th>Case 6 ("of")</th>
		<td class="o">नावः<div>nāvaḥ</div></td>
		<td class="b">नावोः<div>nāvoḥ</div></td>
		<td>नावाम्<div>nāvām</div></td>
	</tr><tr><th>Case 7 ("in")</th>
		<td>नावि<div>nāvi</div></td>
		<td class="b">नावोः<div>nāvoḥ</div></td>
		<td>नौषु<div>nauṣu</div></td>
	</tr><tr><th>Case 8 (address)</th>
		<td>नौः<div>nauḥ</div></td>
		<td class="r">नावौ<div>nāvau</div></td>
		<td class="y">नावः<div>nāvaḥ</div></td>
	</tr></table>
