<table class="inflection">
	<caption><span lang="sa">ayam</span> (masculine)</caption>
	<tr><th class="stem">अयम्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td>अयम्<div>ayam</div></td>
		<td class="r">इमौ<div>imau</div></td>
		<td>इमे<div>ime</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td>इमम्<div>imam</div></td>
		<td class="r">इमौ<div>imau</div></td>
		<td>इमान्<div>imān</div></td>
	</tr><tr><th>Case 3 ("with")</th>
		<td>अनेन<div>anena</div></td>
		<td class="g">आभ्याम्<div>ābhyām</div></td>
		<td>एभिः<div>ebhiḥ</div></td>
	</tr><tr><th>Case 4 ("for")</th>
		<td>अस्मै<div>asmai</div></td>
		<td class="g">आभ्याम्<div>ābhyām</div></td>
		<td class="p">एभ्यः<div>ebhyaḥ</div></td>
	</tr><tr><th>Case 5 ("from")</th>
		<td>अस्मात्<div>asmāt</div></td>
		<td class="g">आभ्याम्<div>ābhyām</div></td>
		<td class="p">एभ्यः<div>ebhyaḥ</div></td>
	</tr><tr><th>Case 6 ("of")</th>
		<td>अस्य<div>asya</div></td>
		<td class="b">अनयोः<div>anayoḥ</div></td>
		<td>एषाम्<div>eṣām</div></td>
	</tr><tr><th>Case 7 ("in")</th>
		<td>अस्मिन्<div>asmin</div></td>
		<td class="b">अनयोः<div>anayoḥ</div></td>
		<td>एषु<div>eṣu</div></td>
	</tr>
</table>