<table class="inflection">
	<caption>(neuter consonant stem)</caption>
	<tr><th class="stem">धनुस्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td>धनुः<div>dhanuḥ</div></td>
		<td class="r">धनुषी<div>dhanuṣī</div></td>
		<td class="y">धनूंषि<div>dhanūṃṣi</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td>धनुः<div>dhanuḥ</div></td>
		<td class="r">धनुषी<div>dhanuṣī</div></td>
		<td class="y">धनूंषि<div>dhanūṃṣi</div></td>
	</tr><tr><th>Case 3 ("with")</th>
		<td>धनुषा<div>dhanuṣā</div></td>
		<td class="g">धनुर्भ्याम्<div>dhanurbhyām</div></td>
		<td>धनुर्भिः<div>dhanurbhiḥ</div></td>
	</tr><tr><th>Case 4 ("for")</th>
		<td>धनुषे<div>dhanuṣe</div></td>
		<td class="g">धनुर्भ्याम्<div>dhanurbhyām</div></td>
		<td class="p">धनुर्भ्यः<div>dhanurbhyaḥ</div></td>
	</tr><tr><th>Case 5 ("from")</th>
		<td class="o">धनुषः<div>dhanuṣaḥ</div></td>
		<td class="g">धनुर्भ्याम्<div>dhanurbhyām</div></td>
		<td class="p">धनुर्भ्यः<div>dhanurbhyaḥ</div></td>
	</tr><tr><th>Case 6 ("of")</th>
		<td class="o">धनुषः<div>dhanuṣaḥ</div></td>
		<td class="b">धनुषोः<div>dhanuṣoḥ</div></td>
		<td>धनुषाम्<div>dhanuṣām</div></td>
	</tr><tr><th>Case 7 ("in")</th>
		<td>धनुषि<div>dhanuṣi</div></td>
		<td class="b">धनुषोः<div>dhanuṣoḥ</div></td>
		<td>धनुःषु<div>dhanuḥṣu</div></td>
	</tr><tr><th>Case 8 (address)</th>
		<td>धनुः<div>dhanuḥ</div></td>
		<td class="r">धनूषी<div>dhanuṣī</div></td>
		<td class="y">धनूंषि<div>dhanūṃṣi</div></td>
	</tr>
</table>