<table class="inflection">
	<caption><span lang="sa">ena</span> (masculine)</caption>
	<tr><th class="stem">एन</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 2 (object)</th>
		<td>एनम्<div>enam</div></td>
		<td>एनौ<div>enau</div></td>
		<td>एनान्<div>enān</div></td>
	</tr><tr><th>Case 3 ("with")</th>
		<td>एनेन<div>enena</div></td>
		<td />
		<td />
	</tr><tr><th>Case 6 ("of")</th>
		<td />
		<td class="b">एनयोः<div>enayoḥ</div></td>
		<td />
	</tr><tr><th>Case 7 ("in")</th>
		<td />
		<td class="b">एनयोः<div>enayoḥ</div></td>
		<td />
	</tr>
</table>