<table class="inflection">
	<caption>Endings (neuter)</caption>
	<tr><th class="stem">&nbsp;</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td>—</td>
		<td class="r">ई<div>ī</div></td>
		<td class="o">इ<div>i</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td>—</td>
		<td class="r">ई<div>ī</div></td>
		<td class="o">इ<div>i</div></td>
	</tr><tr><th>Case 3 ("with")</th>
		<td>आ<div>ā</div></td>
		<td class="g">भ्याम्<div>bhyām</div></td>
		<td>भिः<div>bhiḥ</div></td>
	</tr><tr><th>Case 4 ("for")</th>
		<td>ए<div>e</div></td>
		<td class="g">भ्याम्<div>bhyām</div></td>
		<td class="p">भ्यः<div>bhyaḥ</div></td>
	</tr><tr><th>Case 5 ("from")</th>
		<td class="y">अः<div>aḥ</div></td>
		<td class="g">भ्याम्<div>bhyām</div></td>
		<td class="p">भ्यः<div>bhyaḥ</div></td>
	</tr><tr><th>Case 6 ("of")</th>
		<td class="y">अः<div>aḥ</div></td>
		<td class="b">ओः<div>oḥ</div></td>
		<td>आम्<div>ām</div></td>
	</tr><tr><th>Case 7 ("in")</th>
		<td class="o">इ<div>i</div></td>
		<td class="b">ओः<div>oḥ</div></td>
		<td>सु<div>su</div></td>
	</tr><tr><th>Case 8 (address)</th>
		<td>—</td>
		<td class="r">ई<div>ī</div></td>
		<td class="o">इ<div>i</div></td>
	</tr>
</table>