<table class="inflection">
	<caption>-<span lang="sa">i</span> (neuter)</caption>
	<tr><th class="stem">शुचि</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td>शुचि<div>śuci</div></td>
		<td class="r">शुचिनी<div>śucinī</div></td>
		<td class="y">शुचीति<div>śucīni</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td>शुचि<div>śuci</div></td>
		<td class="r">शुचिनी<div>śucinī</div></td>
		<td class="y">शुचीति<div>śucīni</div></td>
	</tr><tr><th>Case 3 ("with")</th>
		<td>शुचिना<div>śucinā</div></td>
		<td class="g">शुचिभ्याम्<div>śucibhyām</div></td>
		<td>शुचिभिः<div>śucibhiḥ</div></td>
	</tr><tr><th>Case 4 ("for")</th>
		<td>शुचिने<div>śucine</div></td>
		<td class="g">शुचिभ्याम्<div>śucibhyām</div></td>
		<td class="p">शुचिभ्यः<div>śucibhyaḥ</div></td>
	</tr><tr><th>Case 5 ("from")</th>
		<td class="o">शु्चिनः<div>śucinaḥ</div></td>
		<td class="g">शुचिभ्याम्<div>śucibhyām</div></td>
		<td class="p">शुचिभयः<div>śucibhyaḥ</div></td>
	</tr><tr><th>Case 6 ("of")</th>
		<td class="o">शुचिनः<div>śucinaḥ</div></td>
		<td class="b">शुच्योः<div>śucyoḥ</div></td>
		<td>शुचीनाम्<div>śucīnām</div></td>
	</tr><tr><th>Case 7 ("in")</th>
		<td>शुचिनि<div>śucini</div></td>
		<td class="b">शुच्योः<div>śucyoḥ</div></td>
		<td>शुचिषु<div>śuciṣu</div></td>
	</tr><tr><th>Case 8 (address)</th>
		<td>शुचि<div>śuci</div></td>
		<td class="r">शुचिनी<div>śucinī</div></td>
		<td class="y">शुचीति<div>śucīni</div></td>
	</tr>
</table>