<table class="inflection">
	<caption>-<span lang="sa">i</span> (feminine)</caption>
	<tr><th class="stem">कीर्ति</th><th>Singular</th></tr>
	<tr><th>Case 3 ("with")</th><td>कीर्त्या<div>kīrtyā</div></td></tr>
	<tr><th>Case 4 ("for")</th><td>कीर्तये , कीर्त्यै<div>kīrtaye , kīrtyai</div></td></tr>
	<tr><th>Case 5 ("from")</th><td class="p">कीर्तेः , कीर्त्याः<div>kīrteḥ , kīrtyāḥ</div></td></tr>
	<tr><th>Case 6 ("of")</th><td class="p">कीर्तेः , कीर्त्याः<div>kīrteḥ , kīrtyāḥ</div></td></tr>
	<tr><th>Case 7 ("in")</th><td>कीर्तौ , कीर्त्याम्<div>kīrtau , kīrtyām</div></td></tr>
</table>