<table class="inflection">
	<caption>-<span lang="sa">i</span> (masculine)</caption>
	<tr><th class="stem">अग्नि</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td>अग्निः<div>agniḥ</div></td>
		<td class="r">अग्नी<div>agnī</div></td>
		<td class="y">अग्नयः<div>agnayaḥ</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td>अग्निम्<div>agnim</div></td>
		<td class="r">अग्नी<div>agnī</div></td>
		<td>अग्नीन्<div>agnīn</div></td>
	</tr><tr><th>Case 3 ("with")</th>
		<td>अग्निना<div>agninā</div></td>
		<td class="g">अग्निभ्याम्<div>agnibhyām</div></td>
		<td>अग्निभिः<div>agnibhiḥ</div></td>
	</tr><tr><th>Case 4 ("for")</th>
		<td>अग्नये<div>agnaye</div></td>
		<td class="g">अग्निभ्याम्<div>agnibhyām</div></td>
		<td class="p">अग्निभ्यः<div>agnibhyaḥ</div></td>
	</tr><tr><th>Case 5 ("from")</th>
		<td class="o">अग्नेः<div>agneḥ</div></td>
		<td class="g">अग्निभ्याम्<div>agnibhyām</div></td>
		<td class="p">अग्निभयः<div>agnibhyaḥ</div></td>
	</tr><tr><th>Case 6 ("of")</th>
		<td class="o">अग्नेः<div>agneḥ</div></td>
		<td class="b">अग्न्योः<div>agnyoḥ</div></td>
		<td>अग्नीनाम्<div>agnīnām</div></td>
	</tr><tr><th>Case 7 ("in")</th>
		<td>अग्नौ<div>agnau</div></td>
		<td class="b">अग्न्योः<div>agnyoḥ</div></td>
		<td>अग्निषु<div>agniṣu</div></td>
	</tr><tr><th>Case 8 (address)</th>
		<td>अग्ने<div>agne</div></td>
		<td class="r">अग्नी<div>agnī</div></td>
		<td class="y">अग्नयः<div>agnayaḥ</div></td>
	</tr>
</table>