<table class="inflection">
	<caption><span lang="sa">idam</span> (neuter)</caption>
	<tr><th class="stem">इदम्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td class="r">इदम्<div>idam</div></td>
		<td class="g">इमे<div>ime</div></td>
		<td class="b">इमानि<div>imāni</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td class="r">इदम्<div>idam</div></td>
		<td class="g">इमे<div>ime</div></td>
		<td class="b">इमानि<div>imāni</div></td>
	</tr>
</table>