<table class="inflection">
	<caption>-<span lang="sa">ī</span> (feminine)</caption>
	<tr><th class="stem">वापी</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td>वापी<div>vāpī</div></td>
		<td class="r">वाप्यौ<div>vāpyau</div></td>
		<td class="y">वाप्यः<div>vāpyaḥ</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td>वापीम्<div>vāpīm</div></td>
		<td class="r">वाप्यौ<div>vāpyau</div></td>
		<td>वापीः<div>vāpīḥ</div></td>
	</tr><tr><th>Case 3 ("with")</th>
		<td>वाप्या<div>vāpyā</div></td>
		<td class="g">वापीभ्याम्<div>vāpībhyām</div></td>
		<td>वापीभिः<div>vāpībhiḥ</div></td>
	</tr><tr><th>Case 4 ("for")</th>
		<td>वाप्यै<div>vāpyai</div></td>
		<td class="g">वापीभ्याम्<div>vāpībhyām</div></td>
		<td class="p">वापीभ्यः<div>vāpībhyaḥ</div></td>
	</tr><tr><th>Case 5 ("from")</th>
		<td class="o">वाप्याः<div>vāpyāḥ</div></td>
		<td class="g">वापीभ्याम्<div>vāpībhyām</div></td>
		<td class="p">वापीभ्यः<div>vāpībhyaḥ</div></td>
	</tr><tr><th>Case 6 ("of")</th>
		<td class="o">वाप्याः<div>vāpyāḥ</div></td>
		<td class="b">वाप्योः<div>vāpyoḥ</div></td>
		<td>वापीनाम्<div>vāpīnām</div></td>
	</tr><tr><th>Case 7 ("in")</th>
		<td>वाप्याम्<div>vāpyām</div></td>
		<td class="b">वाप्योः<div>vāpyoḥ</div></td>
		<td>वपीषु<div>vāpīṣu</div></td>
	</tr><tr><th>Case 8 (address)</th>
		<td>वापि<div>vāpi</div></td>
		<td class="r">वाप्यौ<div>vāpyau</div></td>
		<td class="y">वाप्यः<div>vāpyaḥ</div></td>
	</tr></table>