<h3>Masculine</h3>
<table class="inflection">
	<caption>-<span lang="sa">in</span> (masculine)</caption>
	<tr><th class="stem">योगिन्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td>योगी<div>yogī</div></td>
		<td class="r">योगिनौ<div>yoginau</div></td>
		<td class="y">योगिनः<div>yoginaḥ</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td>योगिनम्<div>yoginam</div></td>
		<td class="r">योगिनौ<div>yoginau</div></td>
		<td class="y">योगिनः<div>yoginaḥ</div></td>
	</tr><tr><th>Case 3 ("with")</th>
		<td>योगिना<div>yoginā</div></td>
		<td class="g">योगिभ्याम्<div>yogibhyām</div></td>
		<td>योगिभिः<div>yogibhiḥ</div></td>
	</tr><tr><th>Case 4 ("for")</th>
		<td>योगिने<div>yogine</div></td>
		<td class="g">योगिभ्याम्<div>yogibhyām</div></td>
		<td class="p">योगिभ्यः<div>yogibhyaḥ</div></td>
	</tr><tr><th>Case 5 ("from")</th>
		<td class="o">योगिनः<div>yoginaḥ</div></td>
		<td class="g">योगिभ्याम्<div>yogibhyām</div></td>
		<td class="p">योगिभ्यः<div>yogibhyaḥ</div></td>
	</tr><tr><th>Case 6 ("of")</th>
		<td class="o">योगिनः<div>yoginaḥ</div></td>
		<td class="b">योगिनोः<div>yoginoḥ</div></td>
		<td>योगिनाम्<div>yoginām</div></td>
	</tr><tr><th>Case 7 ("in")</th>
		<td>योगिनि<div>yogini</div></td>
		<td class="b">योगिनोः<div>yoginoḥ</div></td>
		<td>योगिषु<div>yogiṣu</div></td>
	</tr><tr><th>Case 8 (address)</th>
		<td>योगिन्<div>yogin</div></td>
		<td class="r">योगिनौ<div>yoginau</div></td>
		<td class="y">योगिनः<div>yoginaḥ</div></td>
	</tr>
</table>
	
<h3>Neuter</h3>
<table class="inflection">
	<caption>-<span lang="sa">in</span> (neuter)</caption>
	<tr><th class="stem">योगिन्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td class="r">योगि<div>yogi</div></td>
		<td class="g">योगिनी<div>yoginī</div></td>
		<td class="b">योगीनि<div>yogīni</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td class="r">योगि<div>yogi</div></td>
		<td class="g">योगिनी<div>yoginī</div></td>
		<td class="b">योगीनि<div>yogīni</div></td>
	</tr><tr><th>Case 8 (address)</th>
		<td class="r">योगि<div>yogi</div></td>
		<td class="g">योगिनी<div>yoginī</div></td>
		<td class="b">योगीनि<div>yogīni</div></td>
	</tr>
</table>