<table class="inflection">
	<caption><span lang="sa">iyam</span> (feminine)</caption>
	<tr><th class="stem">इयम्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td>इयम्<div>iyam</div></td>
		<td class="r">इमे<div>ime</div></td>
		<td class="y">इमाः<div>imāḥ</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td>इमाम्<div>imām</div></td>
		<td class="r">इमे<div>ime</div></td>
		<td class="y">इमाः<div>imāḥ</div></td>
	</tr><tr><th>Case 3 ("with")</th>
		<td>अनया<div>anayā</div></td>
		<td class="g">आभ्याम्<div>ābhyām</div></td>
		<td>आभिः<div>ābhiḥ</div></td>
	</tr><tr><th>Case 4 ("for")</th>
		<td>अस्यै<div>asyai</div></td>
		<td class="g">आभ्याम्<div>ābhyām</div></td>
		<td class="p">आभ्यः<div>ābhyaḥ</div></td>
	</tr><tr><th>Case 5 ("from")</th>
		<td class="o">अस्याः<div>asyāḥ</div></td>
		<td class="g">आभ्याम्<div>ābhyām</div></td>
		<td class="p">आभ्यः<div>ābhyaḥ</div></td>
	</tr><tr><th>Case 6 ("of")</th>
		<td class="o">आस्याः<div>asyāḥ</div></td>
		<td class="b">अनयोः<div>anayoḥ</div></td>
		<td>आसाम्<div>āsām</div></td>
	</tr><tr><th>Case 7 ("in")</th>
		<td>अस्याम्<div>asyām</div></td>
		<td class="b">अनयोः<div>anayoḥ</div></td>
		<td>आसु<div>āsu</div></td>
	</tr>
</table>