<table class="inflection">
	<caption><span lang="sa">mad</span> (no gender)</caption>
	<tr><th class="stem">मद्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td>अहम्<div>aham</div></td>
		<td class="r">आवाम्<div>āvām</div></td>
		<td>वयम्<div>vayam</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td>माम्<div>mām</div></td>
		<td class="r">आवाम्<div>āvām</div></td>
		<td>अस्मान्<div>asmān</div></td>
	</tr><tr><th>Case 3 ("with")</th>
		<td>मया<div>mayā</div></td>
		<td class="g">आवाभ्याम्<div>āvābhyām</div></td>
		<td>अस्माभिः<div>asmābhiḥ</div></td>
	</tr><tr><th>Case 4 ("for")</th>
		<td>मह्यम्<div>mahyam, me</div></td>
		<td class="g">आवाभ्याम्<div>āvābhyām</div></td>
		<td>अस्मभ्य्म्<div>asmabhyam</div></td>
	</tr><tr><th>Case 5 ("from")</th>
		<td>मत्<div>mat</div></td>
		<td class="g">आवाभ्याम्<div>āvābhyām</div></td>
		<td>अस्मत्<div>asmat</div></td>
	</tr><tr><th>Case 6 ("of")</th>
		<td>मम<div>mama</div></td>
		<td class="b">आवयोः<div>āvayoḥ</div></td>
		<td>अस्माकम्<div>asmākam</div></td>
	</tr><tr><th>Case 7 ("in")</th>
		<td>मयि<div>mayi</div></td>
		<td class="b">आवयोः<div>āvayoḥ</div></td>
		<td>अस्मासु<div>asmāsu</div></td>
	</tr>
</table>