<table class="inflection">
	<caption><span lang="sa">mad</span> (no gender)</caption>
	<tr><th class="stem">मद्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 2 (object)</th>
		<td>मा<div>mā</div></td>
		<td class="g">नौ<div>nau</div></td>
		<td class="b">नः<div>naḥ</div></td>
	</tr><tr><th>Case 4 ("for")</th>
		<td class="r">मे<div>me</div></td>
		<td class="g">नौ<div>nau</div></td>
		<td class="b">नः<div>naḥ</div></td>
	</tr><tr><th>Case 6 ("of")</th>
		<td class="r">मे<div>me</div></td>
		<td class="g">नौ<div>nau</div></td>
		<td class="b">नः<div>naḥ</div></td>
	</tr>
</table>