<table class="inflection">
	<caption>-<span lang="sa">o</span> (masculine, feminine)</caption>
	<tr><th class="stem">गो</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td>गौः<div>gauḥ</div></td>
		<td class="r">गावौ<div>gāvau</div></td>
		<td class="y">गावः<div>gāvaḥ</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td>गाम्<div>gām</div></td>
		<td class="r">गावौ<div>gāvau</div></td>
		<td>गाः<div>gāḥ</div></td>
	</tr><tr><th>Case 3 ("with")</th>
		<td>गवा<div>gavā</div></td>
		<td class="g">गोभ्याम्<div>gobhyām</div></td>
		<td>गोभिः<div>gobhiḥ</div></td>
	</tr><tr><th>Case 4 ("for")</th>
		<td>गवे<div>gave</div></td>
		<td class="g">गोभ्याम्<div>gobhyām</div></td>
		<td class="p">गोभ्यः<div>gobhyaḥ</div></td>
	</tr><tr><th>Case 5 ("from")</th>
		<td class="o">गोः<div>goḥ</div></td>
		<td class="g">गोभ्याम्<div>gobhyām</div></td>
		<td class="p">गोभ्यः<div>gobhyaḥ</div></td>
	</tr><tr><th>Case 6 ("of")</th>
		<td class="o">गोः<div>goḥ</div></td>
		<td class="b">गवोः<div>gavoḥ</div></td>
		<td>गवाम्<div>gavām</div></td>
	</tr><tr><th>Case 7 ("in")</th>
		<td>गवि<div>gavi</div></td>
		<td class="b">गवोः<div>gavoḥ</div></td>
		<td>गोषु<div>goṣu</div></td>
	</tr><tr><th>Case 8 (address)</th>
		<td>गौः<div>gauḥ</div></td>
		<td class="r">गावौ<div>gāvau</div></td>
		<td class="y">गावः<div>gāvaḥ</div></td>
	</tr>
</table>