<h3>Masculine</h3>
<table class="inflection">
	<caption>Present <span lang="sa">parasmaipada</span> Participle (masculine)</caption>
	<tr><th class="stem">गच्छत्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td class="s">गच्छन्<div>gacchan</div></td>
		<td class="s r">गच्छन्तौ<div>gacchantau</div></td>
		<td class="s y">गच्छन्तः<div>gacchantaḥ</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td class="s">गच्छन्तम्<div>gacchantam</div></td>
		<td class="s r">गच्छन्तौ<div>gacchantau</div></td>
		<td class="o">गच्छतः<div>gacchataḥ</div></td>
	</tr><tr><th>Case 3 ("with")</th>
		<td>गच्छता<div>gacchatā</div></td>
		<td class="g">गच्छद्भ्याम्<div>gacchadbhyām</div></td>
		<td>गच्छद्भिः<div>gacchadbhiḥ</div></td>
	</tr><tr><th>Case 4 ("for")</th>
		<td>गच्छते<div>gacchate</div></td>
		<td class="g">गच्छद्भ्याम्<div>gacchadbhyām</div></td>
		<td class="p">गच्छद्भ्यः<div>gacchadbhyaḥ</div></td>
	</tr><tr><th>Case 5 ("from")</th>
		<td class="o">गच्छतः<div>gacchataḥ</div></td>
		<td class="g">गच्छद्भ्याम्<div>gacchadbhyām</div></td>
		<td class="p">गच्छद्भ्यः<div>gacchadbhyaḥ</div></td>
	</tr><tr><th>Case 6 ("of")</th>
		<td class="o">गच्छतः<div>gacchataḥ</div></td>
		<td class="b">गच्छतोः<div>gacchatoḥ</div></td>
		<td>गच्छताम्<div>gacchatām</div></td>
	</tr><tr><th>Case 7 ("in")</th>
		<td>गच्छति<div>gacchati</div></td>
		<td class="b">गच्छतोः<div>gacchatoḥ</div></td>
		<td>गच्छत्सु<div>gacchatsu</div></td>
	</tr><tr><th>Case 8 (address)</th>
		<td class="s">गच्छन्<div>gacchan</div></td>
		<td class="s r">गच्छन्तौ<div>gacchantau</div></td>
		<td class="s y">गच्छन्तः<div>gacchantaḥ</div></td>
	</tr>
</table>

<h3>Neuter</h3>
<table class="inflection">
	<caption>Present <span lang="sa">parasmaipada</span> Participle (neuter)</caption>
	<tr><th class="stem">गच्छत्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td class="r">गच्छत्<div>gacchat</div></td>
		<td class="g">गच्छती<div>gacchatī</div></td>
		<td class="b">गच्छन्ति<div>gacchanti</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td class="r">गच्छत्<div>gacchat</div></td>
		<td class="g">गच्छती<div>gacchatī</div></td>
		<td class="b">गच्छन्ति<div>gacchanti</div></td>
	</tr><tr><th>Case 8 (address)</th>
		<td class="r">गच्छत्<div>gacchat</div></td>
		<td class="g">गच्छती<div>gacchatī</div></td>
		<td class="b">गच्छन्ति<div>gacchanti</div></td>
	</tr>
</table>