<table class="inflection">
	<caption>-<span lang="sa">ṛ</span> (masculine, feminine)</caption>
	<tr><th class="stem">कार्तृ</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td>कार्तृ<div>kārtṛ</div></td>
		<td class="r">कार्तृणी<div>kārtṛṇī</div></td>
		<td class="y">कार्तॄणि<div>kārtṝṇi</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td>कार्तृ<div>kārtṛ</div></td>
		<td class="r">कार्तृणी<div>kārtṛṇī</div></td>
		<td class="y">कार्तॄणि<div>kārtṝṇi</div></td>
	</tr><tr><th>Case 3 ("with")</th>
		<td>कार्त्रा, कार्तृणा<div>kārtrā, kārtṛṇā</div></td>
		<td class="g">कार्तृभ्याम्<div>kārtṛbhyām</div></td>
		<td>कार्तृभिः<div>kārtṛbhiḥ</div></td>
	</tr><tr><th>Case 4 ("for")</th>
		<td>कार्त्रे, कार्तृणे<div>kārtrā, kārtṛṇe</div></td>
		<td class="g">कार्तृभ्याम्<div>kārtṛbhyām</div></td>
		<td class="p">कार्तृभ्यः<div>kārtṛbhyaḥ</div></td>
	</tr><tr><th>Case 5 ("from")</th>
		<td class="o">कार्तुः, कार्तृणः<div>kārtuḥ, kārtṛṇaḥ</div></td>
		<td class="g">कार्तृभ्याम्<div>kārtṛbhyām</div></td>
		<td class="p">कार्तृभ्यः<div>kārtṛbhyaḥ</div></td>
	</tr><tr><th>Case 6 ("of")</th>
		<td class="o">कार्तुः, कार्तृणः<div>kārtuḥ, kārtṛṇaḥ</div></td>
		<td class="b">कार्त्रोः, कार्तृणोः<div>kārtroḥ, kārtṛṇoḥ</div></td>
		<td>कर्तॄणम्<div>kārtṝṇām</div></td>
	</tr><tr><th>Case 7 ("in")</th>
		<td>कार्तरि<div>kārtari</div></td>
		<td class="b">कार्त्रोः, कार्तृणोः<div>kārtroḥ, kārtṛṇoḥ</div></td>
		<td>कार्तृषु<div>kārtṛṣu</div></td>
	</tr><tr><th>Case 8 (address)</th>
		<td>कार्तः (र्), कार्तृ<div>kārtaḥ (r) , kārtṛ</div></td>
		<td class="r">कार्तृणी<div>kārtṛṇī</div></td>
		<td class="y">कार्तॄणि<div>kārtṝṇi</div></td>
	</tr>
</table>