<table class="inflection">
	<caption><span lang="sa">tad</span> (masculine)</caption>
	<tr><th class="stem">तद्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td>सः<div>saḥ</div></td>
		<td class="r">तौ<div>tau</div></td>
		<td>ते<div>te</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td>तम्<div>tam</div></td>
		<td class="r">तौ<div>tau</div></td>
		<td>तान्<div>tān</div></td>
	</tr><tr><th>Case 3 ("with")</th>
		<td>तेन<div>tena</div></td>
		<td class="g">ताभ्याम्<div>tābhyām</div></td>
		<td>तैः<div>taiḥ</div></td>
	</tr><tr><th>Case 4 ("for")</th>
		<td>तस्मै<div>tasmai</div></td>
		<td class="g">ताभ्याम्<div>tābhyām</div></td>
		<td class="p">तेभ्यः<div>tebhyaḥ</div></td>
	</tr><tr><th>Case 5 ("from")</th>
		<td>तस्मात्<div>tasmāt</div></td>
		<td class="g">ताभ्याम्<div>tābhyām</div></td>
		<td class="p">तेभ्यः<div>tebhyaḥ</div></td>
	</tr><tr><th>Case 6 ("of")</th>
		<td>तस्य<div>tasya</div></td>
		<td class="b">तयोः<div>tayoḥ</div></td>
		<td>तेषाम्<div>teṣām</div></td>
	</tr><tr><th>Case 7 ("in")</th>
		<td>तस्मिन्<div>tasmin</div></td>
		<td class="b">तयोः<div>tayoḥ</div></td>
		<td>तेषु<div>teṣu</div></td>
	</tr>
</table>