<table class="inflection">
	<caption><span lang="sa">tad</span> (feminine)</caption>
	<tr><th class="stem">तद्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td>सा<div>sā</div></td>
		<td class="r">ते<div>te</div></td>
		<td class="y">ताः<div>tāḥ</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td>ताम्<div>tām</div></td>
		<td class="r">ते<div>te</div></td>
		<td class="y">ताः<div>tāḥ</div></td>
	</tr><tr><th>Case 3 ("with")</th>
		<td>तया<div>tayā</div></td>
		<td class="g">ताभ्याम्<div>tābhyām</div></td>
		<td>ताभिः<div>tābhiḥ</div></td>
	</tr><tr><th>Case 4 ("for")</th>
		<td>तस्यै<div>tasyai</div></td>
		<td class="g">ताभ्याम्<div>tābhyām</div></td>
		<td class="p">ताभ्यः<div>tābhyaḥ</div></td>
	</tr><tr><th>Case 5 ("from")</th>
		<td class="o">तस्याः<div>tasyāḥ</div></td>
		<td class="g">ताभ्याम्<div>tābhyām</div></td>
		<td class="p">ताभ्यः<div>tābhyaḥ</div></td>
	</tr><tr><th>Case 6 ("of")</th>
		<td class="o">तस्याः<div>tasyāḥ</div></td>
		<td class="b">तयोः<div>tayoḥ</div></td>
		<td>तासाम्<div>tāsām</div></td>
	</tr><tr><th>Case 7 ("in")</th>
		<td>तस्याम्<div>tasyām</div></td>
		<td class="b">तयोः<div>tayoḥ</div></td>
		<td>तासु<div>tāsu</div></td>
	</tr>
</table>