<table class="inflection">
	<caption><span lang="sa">tvad</span> (no gender)</caption>
	<tr><th class="stem">त्वद्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 2 (object)</th>
		<td>त्वा<div>tvā</div></td>
		<td class="g">वाम्<div>vām</div></td>
		<td class="b">वः<div>vaḥ</div></td>
	</tr><tr><th>Case 4 ("for")</th>
		<td class="r">ते<div>te</div></td>
		<td class="g">वाम्<div>vām</div></td>
		<td class="b">वः<div>vaḥ</div></td>
	</tr><tr><th>Case 6 ("of")</th>
		<td class="r">ते<div>te</div></td>
		<td class="g">वाम्<div>vām</div></td>
		<td class="b">वः<div>vaḥ</div></td>
	</tr>
</table>