<table class="inflection">
	<caption><span lang="sa">tvad</span> (no gender)</caption>
	<tr><th class="stem">त्वद्</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td>त्वम्<div>tvam</div></td>
		<td class="r">युवाम्<div>yuvām</div></td>
		<td>यूयम्<div>yūyam</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td>त्वाम्<div>tvām</div></td>
		<td class="r">युवाम्<div>yuvām</div></td>
		<td>युष्मान्<div>yuṣmān</div></td>
	</tr><tr><th>Case 3 ("with")</th>
		<td>त्वया<div>tvayā</div></td>
		<td class="g">युवाभ्याम्<div>yuvābhyām</div></td>
		<td>युष्माभिः<div>yuṣmābhiḥ</div></td>
	</tr><tr><th>Case 4 ("for")</th>
		<td>तुभ्यम्<div>tubhyam</div></td>
		<td class="g">युवाभ्याम्<div>yuvābhyām</div></td>
		<td>युष्मभ्यम्<div>yuṣmabhyam</div></td>
	</tr><tr><th>Case 5 ("from")</th>
		<td>त्वत्<div>tvat</div></td>
		<td class="g">युवाभ्याम्<div>yuvābhyām</div></td>
		<td>युष्मत्<div>yuṣmat</div></td>
	</tr><tr><th>Case 6 ("of")</th>
		<td>तव<div>tava</div></td>
		<td class="b">युवयोः<div>yuvayoḥ</div></td>
		<td>युष्माकम्<div>yuṣmākam</div></td>
	</tr><tr><th>Case 7 ("in")</th>
		<td>त्वयि<div>tvayi</div></td>
		<td class="b">युवयोः<div>yuvayoḥ</div></td>
		<td>युष्मासु<div>yuṣmāsu</div></td>
	</tr>
</table>