<table class="inflection">
	<caption>-<span lang="sa">u</span> (feminine)</caption>
	<tr><th class="stem">मृदु</th><th>Singular</th></tr>
	<tr><th>Case 3 ("with")</th><td>मृद्वा<div>mṛdvā</div></td></tr>
	<tr><th>Case 4 ("for")</th><td>मृदवे , मृद्वै<div>mṛdave , mṛdvai</div></td></tr>
	<tr><th>Case 5 ("from")</th><td class="p">मृदोः , मृद्वाः<div>mṛdoḥ , mṛdvāḥ</div></td></tr>
	<tr><th>Case 6 ("of")</th><td class="p">मृदोः , मृद्वाः<div>mṛdoḥ , mṛdvāḥ</div></td></tr>
	<tr><th>Case 7 ("in")</th><td>मृदौ , मृद्वाम्<div>mṛdau , mṛdvām</div></td></tr>
</table>