<table class="inflection">
	<caption>-<span lang="sa">u</span> (masculine)</caption>
	<tr><th class="stem">गुरु</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td>गुरुः<div>guruḥ</div></td>
		<td class="r">गुरू<div>gurū</div></td>
		<td class="y">गुरवः<div>guravaḥ</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td>गुरुम्<div>gurum</div></td>
		<td class="r">गुरू<div>gurū</div></td>
		<td>गुरून्<div>gurūn</div></td>
	</tr><tr><th>Case 3 ("with")</th>
		<td>गुरुणा<div>guruṇā</div></td>
		<td class="g">गुरुभ्याम्<div>gurubhyām</div></td>
		<td>गुरुभिः<div>gurubhiḥ</div></td>
	</tr><tr><th>Case 4 ("for")</th>
		<td>गुरवे<div>gurave</div></td>
		<td class="g">गुरुभ्याम्<div>gurubhyām</div></td>
		<td class="p">गुरुभ्यः<div>gurubhyaḥ</div></td>
	</tr><tr><th>Case 5 ("from")</th>
		<td class="o">गुरोः<div>guroḥ</div></td>
		<td class="g">गुरुभ्याम्<div>gurubhyām</div></td>
		<td class="p">गुरुभ्यः<div>gurubhyaḥ</div></td>
	</tr><tr><th>Case 6 ("of")</th>
		<td class="o">गुरोः<div>guroḥ</div></td>
		<td class="b">गुर्वोः<div>gurvoḥ</div></td>
		<td>गुरूणाम्<div>gurūṇām</div></td>
	</tr><tr><th>Case 7 ("in")</th>
		<td>गुरौ<div>gurau</div></td>
		<td class="b">गुर्वोः<div>gurvoḥ</div></td>
		<td>गुरुषु<div>guruṣu</div></td>
	</tr><tr><th>Case 8 (address)</th>
		<td>गुरो<div>guro</div></td>
		<td class="r">गुरू<div>gurū</div></td>
		<td class="y">गुरवः<div>guravaḥ</div></td>
	</tr>
</table>