<table class="inflection">
	<caption>-<span lang="sa">u</span> (neuter)</caption>
	<tr><th class="stem">मृदु</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td>मृदु<div>mṛdu</div></td>
		<td class="r">मृदुनी<div>mṛdunī</div></td>
		<td class="y">मृदूनि<div>mṛdūni</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td>मृदु<div>mṛdu</div></td>
		<td class="r">मृदुनी<div>mṛdunī</div></td>
		<td class="y">मृदूनि<div>mṛdūni</div></td>
	</tr><tr><th>Case 3 ("with")</th>
		<td>मृदुना<div>mṛdunā</div></td>
		<td class="g">मृदुभ्याम्<div>mṛdubhyām</div></td>
		<td>मृदुभिः<div>mṛdubhiḥ</div></td>
	</tr><tr><th>Case 4 ("for")</th>
		<td>मृदुने<div>mṛdune</div></td>
		<td class="g">मृदुभ्याम्<div>mṛdubhyām</div></td>
		<td class="p">मृदुभ्यः<div>mṛdubhyaḥ</div></td>
	</tr><tr><th>Case 5 ("from")</th>
		<td class="o">मृदुनः<div>mṛdunaḥ</div></td>
		<td class="g">मृदुभ्याम्<div>mṛdubhyām</div></td>
		<td class="p">मृदुभ्यः<div>mṛdubhyaḥ</div></td>
	</tr><tr><th>Case 6 ("of")</th>
		<td class="o">मृदुनः<div>mṛdunaḥ</div></td>
		<td class="b">मृद्वोः<div>mṛdvoḥ</div></td>
		<td>मृदूनाम्<div>mṛdūnām</div></td>
	</tr><tr><th>Case 7 ("in")</th>
		<td>मृदुनि<div>mṛduni</div></td>
		<td class="b">मृद्वोः<div>mṛdvoḥ</div></td>
		<td>मृदुषु<div>mṛduṣu</div></td>
	</tr><tr><th>Case 8 (address)</th>
		<td>मृदु<div>mṛdu</div></td>
		<td class="r">मृदुनी<div>mṛdunī</div></td>
		<td class="y">मृदूनि<div>mṛdūni</div></td>
	</tr>
</table>