<table class="inflection">
	<caption>-<span lang="sa">ū</span> (feminine)</caption>
	<tr><th class="stem">चमू</th>
		<th>Singular</th>
		<th>Dual</th>
		<th>Plural</th>
	</tr><tr><th>Case 1 (subject)</th>
		<td>चमूः<div>camūḥ</div></td>
		<td class="r">चंवौ<div>caṃvau</div></td>
		<td class="y">चंवः<div>caṃvaḥ</div></td>
	</tr><tr><th>Case 2 (object)</th>
		<td>चमूम्<div>camūm</div></td>
		<td class="r">चंवौ<div>caṃvau</div></td>
		<td>चमूः<div>camūḥ</div></td>
	</tr><tr><th>Case 3 ("with")</th>
		<td>चंवा<div>caṃvā</div></td>
		<td class="g">चमूभ्याम्<div>camūbhyām</div></td>
		<td>चमूभिः<div>camūbhiḥ</div></td>
	</tr><tr><th>Case 4 ("for")</th>
		<td>चंवै<div>caṃvai</div></td>
		<td class="g">चमूभ्याम्<div>camūbhyām</div></td>
		<td class="p">चमूभ्यः<div>camūbhyaḥ</div></td>
	</tr><tr><th>Case 5 ("from")</th>
		<td class="o">चंवाः<div>caṃvāḥ</div></td>
		<td class="g">चमूभ्याम्<div>camūbhyām</div></td>
		<td class="p">चमूभ्यः<div>camūbhyaḥ</div></td>
	</tr><tr><th>Case 6 ("of")</th>
		<td class="o">चंवाः<div>caṃvāḥ</div></td>
		<td class="b">चंवोः<div>caṃvoḥ</div></td>
		<td>चमूनाम्<div>camūnām</div></td>
	</tr><tr><th>Case 7 ("in")</th>
		<td>चंवाम्<div>caṃvām</div></td>
		<td class="b">चंवोः<div>caṃvoḥ</div></td>
		<td>चमूषु<div>camūṣu</div></td>
	</tr><tr><th>Case 8 (address)</th>
		<td>चमु<div>camu</div></td>
		<td class="r">चंवौ<div>caṃvau</div></td>
		<td class="y">चंवः<div>caṃvaḥ</div></td>
	</tr>
</table>