{% extends 'base-grammar.html' %}

{% block title %}Regular Roots{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/start">Starting Out</a> »</li>
<li><a href="/start/roots">Gerunds and "Real" Roots</a> »</li>
<li>Regular Roots</li>
</ul>
{% endblock %}

{% block content %}

<h1>Regular Roots</h1>
<p>For the most part, the traditional roots are <strong>weakened versions</strong> of the roots we've learned so far, as you can see below:</p>
<ul class="examples">
<li><p class="dev">बोध् → बुध्</p>
<p lang="sa">bodh → budh</p>
<p>awaken, recognize, understand</p>
</li>
<li><p class="dev">जय् → जि</p>
<p lang="sa">jay → ji</p>
<p>conquer, gain, vanquish</p>
</li>
<li><p class="dev">स्मर् → स्मृ</p>
<p lang="sa">smar → smṛ</p>
<p>remember</p>
</li>
</ul>
<p>Some roots, however will weaken to a long vowel instead of a short vowel:</p>
<ul class="examples">
<li><p class="dev">नय् → नी</p>
<p lang="sa">nay → nī</p>
<p>lead, guide, correct</p>
</li>
<li><p class="dev">भव् → भू</p>
<p lang="sa">bhav → bhū</p>
<p>be, become, arise</p>
</li>
</ul>
<p>Roots that end in nasals stay the same: <span lang="sa">gam</span> stays <span lang="sa">gam</span>, and so on.</p>
<p>With this redefinition of the verb root, we have to modify some of our earlier rules:</p>
<ul>
<li>The <span lang="sa">a+</span> verbs are strengthened to the medium level, and sandhi causes a vowel change to produce the roots we recognize.</li>
<li>The <span lang="sa">a0</span> and <span lang="sa">ya</span> verbs use unchanged roots.</li>
<li>The primary suffixes strengthen the root to the medium level.</li>
</ul>
<p>As you can see, this system makes word formation slightly more complicated than it was before. In the next lesson, we will study a form that argues the opposite. That is, the new form will show that the traditional system makes many things easier. Even for this new form, though, we should still remember the system that we have used so far.</p>
{% endblock %}

