{% extends 'base-grammar.html' %}

{% block title %}Asking Questions{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/nouns">Nouns</a> »</li>
<li><a href="/nouns/pronouns">More Pronouns</a> »</li>
<li>Asking Questions</li>
</ul>
{% endblock %}

{% block content %}

<h1>Asking Questions</h1>
<h2>Introduction</h2>
<p>So far, we've looked almost exclusively at sentences that state facts. That is, sentences like "we see" or "they went" state things that are true or will be true soon. Languages are no good if they just state facts! Languages are means of communication between people, and this communication involves <strong>asking</strong> as well as telling. Especially in dialogs, it's important to be able to recognize when people are asking questions. For that reason, we'll study questions below.</p>
<h2><span lang="sa">api</span></h2>
<p><dfn lang="sa">api</dfn> is primarily used to ask yes-or-no questions, often when a definite answer is expected. It must appear at the beginning of the sentence.</p>
<ul class="examples">
<li><p class="dev"><strong>अपि</strong> त्वं गुरुः</p>
<p lang="sa"><strong>api</strong> tvaṃ guruḥ</p>
<p>Are you a guru?</p></li>
</ul>
<h2><span lang="sa">ka, ki, ku</span></h2>
<p>All of the words that define a relative clause start with <span lang="sa">ya</span>, as in <span lang="sa">yatra</span> or <span lang="sa">yathā</span>. All of the words that define the <em>correlative</em> clause similarly start with <span lang="sa">ta</span>, as in <span lang="sa">tatra</span> and <span lang="sa">tathā</span>. Well, all of the words that start with a question use one of three sounds: <dfn lang="sa">ka</dfn>, <dfn lang="sa">ki</dfn>, and <dfn lang="sa">ku</dfn>. These sounds use the same suffixes as the <span lang="sa">ya-</span> and <span lang="sa">ta-</span> words.</p>
<h3>Uninflected words</h3>
<dl class="blue">
<dt class="title">Word</dt><dd class="title">Meaning</dd>
<dt lang="sa">kadā</dt><dd>when?</dd>
<dt lang="sa">kutra</dt><dd>where?</dd>
<dt lang="sa">kutaḥ</dt><dd>from what?</dd>
<dt lang="sa">kathā</dt><dd>how?</dd>
</dl>
<p><dfn lang="sa">katham</dfn> is related to <span lang="sa">kathā</span> and is <em>much</em> more common. Some examples of these words:</p>
<ul class="examples">
<li><p class="dev"><strong>कथं</strong> गच्छामि</p>
<p lang="sa"><strong>kathaṃ</strong> gacchāmi</p>
<p><strong>How</strong> will I go?</p></li>
<li><p class="dev">गच्छन्ति <strong>कुत्र</strong> </p>
<p lang="sa">gacchanti <strong>kutra</strong> </p>
<p><strong>Where</strong> do they go?</p></li>
</ul>
<p class="note box">Although they may have similar translations in English, <span lang="sa">ya-</span> and <span lang="sa">k-</span> words cannot be interchanged. For example, <span lang="sa">yatra</span> means "the place where" or "the location where," but <span lang="sa">kutra</span> means "where?" or "in what location?" <span lang="sa">ya-</span> is used to mark the relative part of the sentence, but <span lang="sa">k-</span> is used to ask a question.</p>
<h3>Pronoun</h3>
<p>To ask questions about specific situations, we can use a new pronoun. This pronoun has the irregular form <span lang="sa">kim</span> in cases 1 and 2 of the neuter gender. Since pronouns are usually referred to by their neuter forms, thihs pronoun is thus called <dfn lang="sa">kim</dfn>. <span lang="sa">kim</span> uses the same endings as <span lang="sa">tad</span>, but there are some exceptions:</p>
<ul>
<li><p><span lang="sa">kaḥ</span>, the masculine singular of case 1, does not follow the rules of <span lang="sa">saḥ</span>-sandhi.</p></li>
<li><p>As mentioned, the neuter singular of case 1 and case 2 is <span lang="sa">kim</span>.</p></li>
</ul>
<p>This pronoun is used as you would expect:</p>
<ul class="examples">
<li><p class="dev"><strong>को</strong> गच्छति</p>
<p lang="sa"><strong>ko</strong> gacchati</p>
<p>Who (m.) goes?</p></li>
<li><p class="dev"><strong>किं</strong> तत्फलम्</p>
<p lang="sa"><strong>kiṃ</strong> tat phalam</p>
<p>What (n.) is that fruit?</p></li>
<li><p class="dev"><strong>किं</strong> पृच्छति</p>
<p lang="sa"><strong>kiṃ</strong> pṛcchati</p>
<p><strong>What</strong> (n.) does he ask?</p></li>
</ul>
<p>This pronoun is very powerful. By using it, we can ask precisely about different parts of a situation. For example, consider the sentence below.</p>
<ul class="examples">
<li><p class="dev">नरो ऽश्वेन नगरमाचार्याय गच्छति</p>
<p lang="sa">naro 'śvena nagaramācāryāya gacchati</p>
<p>The man goes to the city on a horse (literally "with a horse") for his teacher.</p></li>
</ul>
<p>By using <span lang="sa">ka</span>, we can ask about every noun in the sentence.</p>
<ul class="examples">
<li><p class="dev"><strong>को</strong> ऽश्वेन गच्छति</p>
<p lang="sa"><strong>ko</strong> 'śvena gacchati</p>
<p><strong>Who</strong> goes on a horse?</p>
</li>
<li><p class="dev">नरः <strong>केन</strong> गच्छति</p>
<p lang="sa">naraḥ <strong>kena</strong> gacchati</p>
<p><strong>By what</strong> does the man go?</p>
</li>
<li><p class="dev">नरो ऽश्वेन <strong>कस्मै</strong> गच्छति</p>
<p lang="sa">naro 'śvena <strong>kasmai</strong> gacchati</p>
<p><strong>For whom</strong> does the man go on a horse?</p>
</li>
<li><p class="dev">नरः <strong>किं</strong> गच्छति</p>
<p lang="sa">naraḥ <strong>kiṃ</strong> gacchati</p>
<p><strong>To where</strong> does the man go?</p>
</li>
</ul>
<h3>Pronouns used as adverbs</h3>
<p>Just as an adjective like <span lang="sa">sundara</span> can be turned into the adverb <span lang="sa">sundaram</span>, so too can the pronouns <span lang="sa">yad, tad,</span> and <span lang="sa">kim</span> be turned into the adverbs <dfn lang="sa">yad</dfn>, <dfn lang="sa">tad</dfn>, and <dfn lang="sa">kim</dfn>. Their meanings are as follows:</p>
<dl class="blue">
<dt class="title">Pronoun</dt><dd class="title">Meaning</dd>
<dt lang="sa">yad</dt><dd>because; since; wherefore</dd>
<dt lang="sa">tad</dt><dd>thus; as a result; therefore</dd>
<dt lang="sa">kim</dt><dd>why? for what reason?</dd>
</dl>
<p>Some examples of the first two will be featured in the lesson exercises. Here is an example of <span lang="sa">kim</span>:</p>
<ul class="examples">
<li><p class="dev"><strong>किं</strong> गच्छति</p>
<p lang="sa"><strong>kiṃ</strong> gacchati</p>
<p><strong>Why</strong> does he go?</p></li>
</ul>
<p>When used with case 3, <span lang="sa">kim</span> means something like "what is the point of?" or "what is the purpose of?" Literally, this usage means something like "why with this?" or "why with that?"</p>
<ul class="examples">
<li><p class="dev"><strong>किम्</strong> अश्वाभ्याम्</p>
<p lang="sa"><strong>kim</strong> aśvābhyām</p>
<p><strong>What is the point of</strong> two horses?</p></li>
</ul>
<p>Occasionally, <span lang="sa">kim</span> is also used like <span lang="sa">api</span>. However, it is not as demanding as <span lang="sa">api</span>.

<ul class="examples">
<li><p class="dev"><strong>किं</strong> गच्छति</p>
<p lang="sa"><strong>kiṃ</strong> gacchati</p>
<p><strong>Is</strong> he going?</p></li>
</ul>
<h2><span lang="sa">api</span>, <span lang="sa">cid</span>, and <span lang="sa">cana</span></h2>
<p><dfn lang="sa">api</dfn>, <dfn lang="sa">cid</dfn>, and <dfn lang="sa">cana</dfn> are special uninflected words that turn questions into general statements. The examples below will make this fact clearer.</p>
<h3><span lang="sa">api</span></h3>
<p>Earlier in the lesson, I mentioned that <span lang="sa">api</span> can be used to ask a yes-or-no question. <span lang="sa">api</span> can also be used to turn questions into general statements. Notice what <span lang="sa">api</span> does in the examples below:</p>
<ul class="examples">
<li><p class="dev">कथम् गच्छति → कथम् <strong>अपि</strong> गच्छति</p>
<p lang="sa">katham gacchati → katham <strong>api</strong> gacchati</p>
<p>How does he go? → He goes <strong>somehow or another</strong>.</p>
</li>
<li><p class="dev">को गच्छति → को <strong>ऽपि</strong> गच्छति</p>
<p lang="sa">ko gacchati → ko <strong>'pi</strong> gacchati</p>
<p>Who goes? →  <strong>Someone or another</strong> goes.</p>
</li>
</ul>
<p class="note box">In this guide, <span lang="sa">api</span> has been given four distinct meanings. At the beginning of a sentence, it asks a soft yes/no question. After one of the <span lang="sa">ka/ki/ku</span> words, it makes the word indefinite. After nouns and pronouns, <span lang="sa">api</span> usually means "also" or "additionally." After adjectives and verbs, <span lang="sa">api</span> usually means "although" or "even though." So although <span lang="sa">api</span> has four distinct meanings, each occurs in a separate context. Thus, there is usually no ambiguity to its meaning.</p>
<h3><span lang="sa">cid</span> and <span lang="sa">cana</span></h3>
<p><dfn lang="sa">cid</dfn> and <dfn lang="sa">cana</dfn> are used after any <span lang="sa">k-</span> word. <span lang="sa">cid</span> tends to make the word indefinite, as you can see in the examples below:</p>
<ul class="examples">
<li><p class="dev">कः स्मरति → <strong>कश्चित्</strong> स्मरति</p>
<p lang="sa">kaḥ smarati → <strong>kaścit</strong> smarati</p>
<p>Who (masculine) remembers? → <strong>Somebody</strong> remembers.</p>
</li>
<li><p class="dev">कां पृच्छति → <strong>कां चित्</strong> पृच्छति</p>
<p lang="sa">kāṃ pṛcchati → <strong>kāṃ cit</strong> pṛcchati</p>
<p>Whom (feminine) do you ask? → You ask <strong>somebody</strong>.</p>
</li>
<li><p class="dev">कुत्र काशते → <strong>कुत्र चित्</strong> काशते</p>
<p lang="sa">kutra kāśate → <strong>kutra cit</strong> kāśate</p>
<p>Where does it shine? → It shines <strong>somewhere</strong>.</p>
</li>
</ul>
<p><span lang="sa">cana</span> is much rarer. It has the same meaning as <span lang="sa">cid</span>, but it is usually used with the word <span lang="sa">na</span> to emphasize what <strong>nobody</strong> does.</p>
<ul class="examples">
<li><p class="dev">न <strong>कश्चन</strong></p>
<p lang="sa">na <strong>kaścana</strong></p>
<p>Not <strong>anyone</strong></p>
</li>
</ul>
</p>
{% endblock %}

