{% extends 'base-grammar.html' %}

{% block title %}Secondary Suffixes{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/references">References</a> »</li>
<li><a href="/references/lists">Lists</a> »</li>
<li>Secondary Suffixes</li>
</ul>
{% endblock %}

{% block content %}

<h1>Secondary Suffixes</h1>
<p class="warn box">This page is a work in progress!</p>
<h2>Suffixes that make nouns</h2>
<table class="blue">
<tr><th>Suffix</th><th>Meaning</th><th>Gender</th><th>Vowel change</th></tr>
<tr><td class="dev">अ</td><td>relating to X</td><td>mfn</td><td>strong</td></tr>
<tr><td class="dev">इन्</td><td>characterized by X</td><td>mf(<span lang="sa">inī</span>)n</td><td>none</td></tr>
<tr><td class="dev">इका</td><td>a small X; of X</td><td>f</td><td>none</td></tr>
<tr><td class="dev">अक</td><td>a small X; of X</td><td>mf(<span lang="sa">ikā</span>)n</td><td>none</td></tr>
<tr><td class="dev">तम</td><td>more X</td><td>mfn</td><td>none</td></tr>
<tr><td class="dev">तर</td><td>most X</td><td>mfn</td><td>none</td></tr>
<tr><td class="dev">ता</td><td>the quality of X, X-ness</td><td>f</td><td>none</td></tr>
<tr><td class="dev">त्व</td><td>the quality of X, X-ness</td><td>n</td><td>none</td></tr>
<tr><td class="dev">त्वता</td><td colspan="3" style="background: #ddd;">see <span lang="sa">tā</span></td></tr>
<tr><td class="dev">मन्त्</td><td>possessing X</td><td>mf(<span lang="sa">matī</span>)n</td><td>none</td></tr>
<tr><td class="dev">मन्</td><td></td><td></td><td></td></tr>
<tr><td class="dev">मय</td><td>made of X, full of X</td><td>mf(<span lang="sa">mayī</span>)n</td><td>none</td></tr>
<tr><td class="dev">मिन्</td><td colspan="3" style="background: #ddd;">see <span lang="sa">in</span></td></tr>
<tr><td class="dev">वन्त्</td><td>possessing X</td><td>mf(<span lang="sa">vatī</span>)n</td><td>none</td></tr>
<tr><td class="dev">वन्</td><td></td><td></td><td></td></tr>
<tr><td class="dev">विन्</td><td colspan="3" style="background: #ddd;">see <span lang="sa">in</span></td></tr>
</table>
<h2>Suffixes that make uninflected words</h2>
<table class="blue">
<tr><td class="title">Suffix</td><td class="title">Meaning</td></tr>
<tr><td class="dev">तस्</td><td>from X</td></tr>
<tr><td class="dev">ति</td><td>X many</td></tr>
<tr><td class="dev">त्र</td><td>at X place</td></tr>
<tr><td class="dev">था</td><td>in an X way</td></tr>
<tr><td class="dev">दा</td><td>at X time</td></tr>
<tr><td class="dev">धा</td><td>X-fold</td></tr>
<tr><td class="dev">वत्</td><td>for X duration</td></tr>
</table>
{% endblock %}

