{% extends 'tools/layout.html' %}

{% set title = "Monier-Williams Dictionary" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

<form method="GET" action="">
    {{ form.q }}
    {{ form.from_script }}
    {{ form.to_script }}
    <input type="submit" value="Search" />
</form>

{% if results %}
<dl>
    {% for key in results %}
    <dt>{{ key|sa1('slp1', to_script) }}</dt>
        <ul>
        {% for e in results[key] %}
            <li>{{ e|safe }}
        {% endfor %}
        </ul>
    {% endfor %}
</dl>
{% endif %}
{% endblock %}
