{% extends 'tools/layout.html' %}

{% set title = "Monier-Williams Dictionary" %}

{% block title %}{{ title }}{% endblock %}

{% block extrahead %}
    {% assets filters="less", output="gen/mw.css", "dicts/css/mw.less" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block content %}
<div id="mw">
<h1>{{ title }}</h1>

<form method="GET" action="" class="inset">
    <div id="form-secondary">
    {{ form.from_script }} → {{ form.to_script }}
    </div>

    <div id="form-main">
    {{ form.q }}
    <input id="submit" type="submit" value="Search" class="right" />
    </div>
</form>

<dl id="mw-entries">
    {% for key in results %}
    <dt>{{ key|sa1('slp1', to_script) }}</dt>
    <dd>
        <ul>
        {% for e in results[key] %}
            <li>{{ e|safe }}</li>
        {% endfor %}
        </ul>
    </dd>
    {% endfor %}
</dl>
</div>

<script type="text/template" id="t-entry">
<dt>
    <span class="sa1">##<%= entry %>##</span>
</dt>
<dd>
    <ul>
    <% _.each(definitions, function(d) { %>
        <li><%= d %></li>
    <% }); %>
    </ul>
</dd>
</script>

<script src="{{ url_for('.static', filename='js/mw-app.js') }}"></script>
{% endblock %}
