{% extends 'narrow.html' %}

{% block title %}List of Works and Authors{% endblock %}

{% block content %}
<h1>List of Works and Authors</h1>

<p>The Monier-Williams Sanskrit-English Dictionary makes regular reference to various Sanskrit texts and authors. These texts and authors are usually abbreviated. A (mostly) full list of abbreviations is below.</p>

<p>This list was adapted from the CDSL list, which you can find <a href="http://www.sanskrit-lexicon.uni-koeln.de/monier/mwauthorities/mwauth_SktDevaUnicode.html">here</a>.</p>

<table class="columns zebra">
    <tr><th>Abbreviation</th><th>Category</th><th>Entry</th></tr>
    <tr id="A"><td>A.</td><td>Title</td><td>Apte's The Practical Sanskrit-English Dictionary</td></tr>
    <tr id="AV"><td>A.V.</td><td>Title</td><td>अथर्व-वेद</td></tr>
    <tr id="A1S3vS3r"><td>A1S3vS3r.</td><td>Title</td><td>आश्वलायन-श्रौत-सूत्र</td></tr>
    <tr id="A1ca1ranirn2"><td>A1ca1ranirn2.</td><td>Title</td><td>आचारनिर्णय</td></tr>
    <tr id="A1ca1r"><td>A1ca1r.</td><td>Title</td><td>आचारनिर्णय</td></tr>
    <tr id="A1nand"><td>A1nand.</td><td>Title</td><td>आनन्द-लहरी</td></tr>
    <tr id="A1past"><td>A1past.</td><td>Author</td><td>आपस्तम्ब</td></tr>
    <tr id="A1p"><td>A1p.</td><td>Title</td><td>आपस्तम्ब-धर्म-सूत्र</td></tr>
    <tr id="A1pGr2"><td>A1pGr2.</td><td>Title</td><td>आपस्तम्ब-गृह्य-सूत्र</td></tr>
    <tr id="A1pS3r"><td>A1pS3r.</td><td>Title</td><td>आपस्तम्ब-श्रौत-सूत्र</td></tr>
    <tr id="A1pastS3r"><td>A1past.S3r.</td><td>Title</td><td>आपस्तम्ब-श्रौत-सूत्र</td></tr>
    <tr id="A1r"><td>A1r.</td><td>Literary category</td><td>आरण्यक</td></tr>
    <tr id="A1rshBr"><td>A1rshBr.</td><td>Title</td><td>आर्षेय-ब्राह्मण</td></tr>
    <tr id="A1run2Up"><td>A1run2Up.</td><td>Title</td><td>आरुणेय-उपनिषद्</td></tr>
    <tr id="A1ryabh"><td>A1ryabh.</td><td>Author</td><td>आर्यभट</td></tr>
    <tr id="A1ryav"><td>A1ryav.</td><td>Title</td><td>आर्यविद्या-सुधाकर</td></tr>
    <tr id="A1s3vGr2"><td>A1s3vGr2.</td><td>Title</td><td>आश्वलायन-गृह्य-सूत्र</td></tr>
    <tr id="A1s3vMantraS"><td>A1s3vMantraS.</td><td>Title</td><td>आश्वलायन-शाखोक्ता-मन्त्र-संहिता</td></tr>
    <tr id="A1s3vP"><td>A1s3vP.</td><td>Title</td><td>आश्वलायन-गृह्य-परिशिष्ट</td></tr>
    <tr id="A1s3v"><td>A1s3v.</td><td>Author</td><td>आश्वलायन</td></tr>
    <tr id="A1s3vS3r"><td>A1s3vS3r.</td><td>Title</td><td>आश्वलायन-श्रौत-सूत्र</td></tr>
    <tr id="A1trAnukr"><td>A1trAnukr.</td><td>Title</td><td>आत्रेय-अनुक्रमणिका</td></tr>
    <tr id="AV"><td>AV.</td><td>Title</td><td>अथर्व-वेद</td></tr>
    <tr id="AVPaipp"><td>AV.Paipp.</td><td>Title</td><td>अथर्व-वेद ,  पैप्पलाद-शाखा</td></tr>
    <tr id="AVParis3"><td>AV.Paris3.</td><td>Title</td><td>अथर्व-वेद-परिशिष्ट</td></tr>
    <tr id="AVParis3"><td>AVParis3.</td><td>Title</td><td>अथर्व-वेद-परिशिष्ट</td></tr>
    <tr id="AVPar"><td>AVPar.</td><td>Title</td><td>अथर्व-वेद-परिशिष्ट</td></tr>
    <tr id="AParis3"><td>AParis3.</td><td>Title</td><td>अथर्व-वेद-परिशिष्ट</td></tr>
    <tr id="A1Pra1t"><td>A1Pra1t.</td><td>Title</td><td>अथर्व-वेद-प्रातिशाख्य</td></tr>
    <tr id="APra1t"><td>APra1t.</td><td>Title</td><td>अथर्व-वेद-प्रातिशाख्य</td></tr>
    <tr id="Abhinav"><td>Abhinav.</td><td>Author</td><td>अभिनव-गुप्त</td></tr>
    <tr id="AdbhBr"><td>AdbhBr.</td><td>Title</td><td>अद्भुत-ब्राह्मण</td></tr>
    <tr id="AdhyR"><td>AdhyR.</td><td>?</td><td>&nbsp;</td></tr>
    <tr id="AgP"><td>AgP.</td><td>Title</td><td>अग्नि-पुराण</td></tr>
    <tr id="AgSam2h"><td>AgSam2h.</td><td>Title</td><td>अगस्त्य-संहिता</td></tr>
    <tr id="Agp"><td>Agp.</td><td>Title</td><td>अग्नि-पुराण</td></tr>
    <tr id="Ait"><td>Ait.</td><td>Title</td><td>ऐतरेय</td></tr>
    <tr id="AitA1r"><td>AitA1r.</td><td>Title</td><td>ऐतरेय-आरण्यक</td></tr>
    <tr id="AitBr"><td>AitBr.</td><td>Title</td><td>ऐतरेय-ब्राह्मण</td></tr>
    <tr id="AitUp"><td>AitUp.</td><td>Title</td><td>ऐतरेय-उपनिषद्</td></tr>
    <tr id="Alam2ka1rak"><td>Alam2ka1rak.</td><td>Title</td><td>अलंकारकौस्तुभ</td></tr>
    <tr id="Alam2ka1ras"><td>Alam2ka1ras.</td><td>Title</td><td>अलंकारशेखर , by  केशव-मिश्र</td></tr>
    <tr id="Alam2ka1ras3"><td>Alam2ka1ras3.</td><td>Title</td><td>अलंकारशेखर , by  केशव-मिश्र</td></tr>
    <tr id="Alam2ka1rat"><td>Alam2ka1rat.</td><td>Title</td><td>अलंकारतिलक</td></tr>
    <tr id="Alam2ka1rav"><td>Alam2ka1rav.</td><td>Title</td><td>अलंकारविमर्शिनी , by  जयरथ</td></tr>
    <tr id="Alam2ka1rar"><td>Alam2ka1rar.</td><td>Title</td><td>अलंकारविमर्शिनी , by  जयरथ</td></tr>
    <tr id="Amar"><td>Amar.</td><td>Title</td><td>अमरु-शतक</td></tr>
    <tr id="Amr2itUp"><td>Amr2itUp.</td><td>Title</td><td>अमृतबिन्दु-उपनिषद्</td></tr>
    <tr id="Amr2itabUp"><td>Amr2itabUp.</td><td>Title</td><td>अमृतबिन्दु-उपनिषद्</td></tr>
    <tr id="Anan3gar"><td>Anan3gar.</td><td>Title</td><td>अनङ्गरङ्ग</td></tr>
    <tr id="Anarghar"><td>Anarghar.</td><td>Title</td><td>अनर्घराघव</td></tr>
    <tr id="Anargh"><td>Anargh.</td><td>Title</td><td>अनर्घराघव</td></tr>
    <tr id="AnSam2h"><td>AnSam2h.</td><td>Title</td><td>अनन्त-संहिता</td></tr>
    <tr id="Anukr"><td>Anukr.</td><td>Literary category</td><td>अनुक्रमणिका s</td></tr>
    <tr id="Anup"><td>Anup.</td><td>Title</td><td>अनुपद-सूत्र</td></tr>
    <tr id="Aryav"><td>Aryav.</td><td>Title</td><td>आर्यविद्या-सुधाकर</td></tr>
    <tr id="Asht2a1n3g"><td>Asht2a1n3g.</td><td>Title</td><td>अष्टाङ्ग-हृदय</td></tr>
    <tr id="Asht2a1vS"><td>Asht2a1vS.</td><td>Title</td><td>अष्टावक्र-संहिता</td></tr>
    <tr id="Asht2a1v"><td>Asht2a1v.</td><td>Title</td><td>अष्टावक्र-संहिता</td></tr>
    <tr id="Asht2a7n3g"><td>Asht2a7n3g.</td><td>Title</td><td>अष्टाङ्ग-हृदय</td></tr>
    <tr id="Avada1nas3"><td>Avada1nas3.</td><td>Title</td><td>अवदानशतक</td></tr>
    <tr id="BR"><td>BR.</td><td>Literary category</td><td>ब्राह्मण</td></tr>
    <tr id="BRD"><td>BRD.</td><td>Title</td><td>Boehtlingk &amp; Roth's Sanskrit-Woerterbuch</td></tr>
    <tr id="Ba1dar"><td>Ba1dar.</td><td>Title</td><td>बादरायण 's  ब्रह्म-सूत्र</td></tr>
    <tr id="Ba1d"><td>Ba1d.</td><td>Title</td><td>बादरायण 's  ब्रह्म-सूत्र</td></tr>
    <tr id="Ba1lar"><td>Ba1lar.</td><td>Title</td><td>बालरामायण</td></tr>
    <tr id="Ba1l"><td>Ba1l.</td><td>Title</td><td>बालरामायण</td></tr>
    <tr id="Baudh"><td>Baudh.</td><td>Title</td><td>बौधायन-धर्म-शास्त्र</td></tr>
    <tr id="Bcar"><td>Bcar.</td><td>Title</td><td>बुद्ध-चरित</td></tr>
    <tr id="BhP"><td>BhP.</td><td>Title</td><td>भागवत-पुराण</td></tr>
    <tr id="Bh"><td>Bh.</td><td>Title</td><td>भागवत-पुराण</td></tr>
    <tr id="Bha1gP"><td>Bha1gP.</td><td>Title</td><td>भागवत-पुराण</td></tr>
    <tr id="Bha1m"><td>Bha1m.</td><td>Title</td><td>भामिनी-विलास</td></tr>
    <tr id="Bha1sha1p"><td>Bha1sha1p.</td><td>Title</td><td>भाषापरिच्छेद</td></tr>
    <tr id="Bha1shik"><td>Bha1shik.</td><td>Title</td><td>भाशिक-सूत्र</td></tr>
    <tr id="Bhadrab"><td>Bhadrab.</td><td>Title</td><td>भद्रबाहु-चरित्र</td></tr>
    <tr id="Bhag"><td>Bhag.</td><td>Title</td><td>भगवद्-गीता</td></tr>
    <tr id="Bhagavati1g"><td>Bhagavati1g.</td><td>Title</td><td>भगवती-गीता</td></tr>
    <tr id="Bhakta7m"><td>Bhakta7m.</td><td>Title</td><td>भक्तामर-स्तोत्र</td></tr>
    <tr id="Bhar"><td>Bhar.</td><td>Title</td><td>भरत-नाट्य-शास्त्र</td></tr>
    <tr id="Bharat2"><td>Bharat2.</td><td>Title</td><td>भरटक-द्वात्रिंशिका</td></tr>
    <tr id="Bhartr2"><td>Bhartr2.</td><td>Author</td><td>भर्तृहरि</td></tr>
    <tr id="Bhat2t2"><td>Bhat2t2.</td><td>Title</td><td>भट्टि-काव्य</td></tr>
    <tr id="BhavP"><td>BhavP.</td><td>Title</td><td>भविष्य-पुराण ,  खण्ड  1 &amp; 2:  भविष्य-पुराण  &amp;  भविष्योत्तर-पुराण</td></tr>
    <tr id="Bhoj"><td>Bhoj.</td><td>Author</td><td>भोज</td></tr>
    <tr id="Bhojapr"><td>Bhojapr.</td><td>Title</td><td>भोजप्रबन्ध</td></tr>
    <tr id="Bhpan5cad"><td>Bhpan5cad.</td><td>Title</td><td>भारतीतीर्थ 's  पञ्चदशी</td></tr>
    <tr id="Bhpr"><td>Bhpr.</td><td>Title</td><td>भावप्रकाश</td></tr>
    <tr id="Bi1jag"><td>Bi1jag.</td><td>Subtitle</td><td>बीजगणित</td></tr>
    <tr id="Bi1j"><td>Bi1j.</td><td>Subtitle</td><td>बीजगणित</td></tr>
    <tr id="Br"><td>Br.</td><td>Literary category</td><td>ब्राह्मण</td></tr>
    <tr id="Br2A1rUp"><td>Br2A1r.Up.</td><td>Title</td><td>बृहद्-ारण्यक-उपनिषद्</td></tr>
    <tr id="Br2A1rUp"><td>Br2A1rUp.</td><td>Title</td><td>बृहद्-ारण्यक-उपनिषद्</td></tr>
    <tr id="Br2Na1rP"><td>Br2Na1rP.</td><td>Subtitle</td><td>बृहन्-नारदीय-पुराण , 38  अध्याय</td></tr>
    <tr id="Br2ih"><td>Br2ih.</td><td>Title</td><td>बृहद्-देवता</td></tr>
    <tr id="BrahmUp"><td>BrahmUp.</td><td>Title</td><td>ब्रह्म-उपनिषद्</td></tr>
    <tr id="Brahma7n2d2aP"><td>Brahma7n2d2aP.</td><td>Title</td><td>ब्रह्माण्ड-पुराण</td></tr>
    <tr id="BrahmaP"><td>BrahmaP.</td><td>Title</td><td>ब्रह्म-पुराण</td></tr>
    <tr id="BrahmabUp"><td>BrahmabUp.</td><td>Title</td><td>ब्रह्मबिन्दु-उपनिषद्</td></tr>
    <tr id="Brahmas"><td>Brahmas.</td><td>Title</td><td>ब्रह्मसिद्धान्त</td></tr>
    <tr id="BrahmavP"><td>BrahmavP.</td><td>Title</td><td>ब्रह्मवैवर्त-पुराण</td></tr>
    <tr id="Brahmo7ttKh"><td>Brahmo7ttKh.</td><td>Subtitle</td><td>ब्रह्मोत्तर-खण्ड , from the  स्कन्द-पुराण</td></tr>
    <tr id="Buddh"><td>Buddh.</td><td>Literary category</td><td>Buddhist literature</td></tr>
    <tr id="Cat"><td>Cat.</td><td>Title</td><td>Catalogue(s)</td></tr>
    <tr id="Ca1n2"><td>Ca1n2.</td><td>Author</td><td>चाणक्य</td></tr>
    <tr id="Campak"><td>Campak.</td><td>Title</td><td>चम्पक-श्रेष्ठि-कथानक</td></tr>
    <tr id="Can2d2"><td>Can2d2.</td><td>Title</td><td>चण्ड-कौशिक</td></tr>
    <tr id="Car"><td>Car.</td><td>Author</td><td>चरक</td></tr>
    <tr id="Caran2"><td>Caran2.</td><td>Title</td><td>चरण-व्यूह</td></tr>
    <tr id="Caurap"><td>Caurap.</td><td>Title</td><td>चौरपञ्चाशिका</td></tr>
    <tr id="ChUP"><td>ChUP.</td><td>Title</td><td>छान्दोग्य-उपनिषद्</td></tr>
    <tr id="ChUp"><td>ChUp.</td><td>Title</td><td>छान्दोग्य-उपनिषद्</td></tr>
    <tr id="Chandah2s"><td>Chandah2s.</td><td>Title</td><td>छन्दः-सूत्र</td></tr>
    <tr id="Chandom"><td>Chandom.</td><td>Title</td><td>छन्दोमञ्जरी</td></tr>
    <tr id="Col"><td>Col.</td><td>Author</td><td>Colebrooke</td></tr>
    <tr id="Colebr"><td>Colebr.</td><td>Author</td><td>Colebrooke</td></tr>
    <tr id="Cu1lUp"><td>Cu1lUp.</td><td>Title</td><td>चूलिका-उपनिषद्</td></tr>
    <tr id="Da1t2ha1dh"><td>Da1t2ha1dh.</td><td>Title</td><td>दाठाधातु-वंश</td></tr>
    <tr id="Da1yabh"><td>Da1yabh.</td><td>Title</td><td>दायभाग</td></tr>
    <tr id="Da1yakramas"><td>Da1yakramas.</td><td>Title</td><td>दाय-क्रम-संग्रह</td></tr>
    <tr id="Da1yat"><td>Da1yat.</td><td>Title</td><td>दायतत्त्व</td></tr>
    <tr id="DaivBr"><td>DaivBr.</td><td>Title</td><td>दैवत-ब्राह्मण</td></tr>
    <tr id="Das3"><td>Das3.</td><td>Title</td><td>दशकुमार-चरित</td></tr>
    <tr id="Da1s3"><td>Da1s3.</td><td>Title</td><td>दशकुमार-चरित</td></tr>
    <tr id="Das3ar"><td>Das3ar.</td><td>Title</td><td>दशरूप</td></tr>
    <tr id="Dattakac"><td>Dattakac.</td><td>Title</td><td>दत्तकचन्द्रिका</td></tr>
    <tr id="Devi1bhP"><td>Devi1bhP.</td><td>Title</td><td>देवी-भागवत-पुराण</td></tr>
    <tr id="Devi1m"><td>Devi1m.</td><td>Title</td><td>देवी-माहात्म्य</td></tr>
    <tr id="Dev"><td>Dev.</td><td>Title</td><td>देवी-माहात्म्य</td></tr>
    <tr id="Des3i1n"><td>Des3i1n.</td><td>Title</td><td>देशी-नाम-माला</td></tr>
    <tr id="Dha1tup"><td>Dha1tup.</td><td>Title</td><td>धातुपाठ</td></tr>
    <tr id="Dha1t"><td>Dha1t.</td><td>Title</td><td>धातुपाठ</td></tr>
    <tr id="Dhanam2j"><td>Dhanam2j.</td><td>Title</td><td>धनंजय-विजय</td></tr>
    <tr id="Dhanv"><td>Dhanv.</td><td>Author</td><td>धन्वन्तरि</td></tr>
    <tr id="Dharmas"><td>Dharmas.</td><td>Title</td><td>धर्मसंग्रह</td></tr>
    <tr id="Dharmas3arm"><td>Dharmas3arm.</td><td>Title</td><td>धर्मशर्माभ्युदय</td></tr>
    <tr id="Dharmas3"><td>Dharmas3.</td><td>Title</td><td>धर्मशर्माभ्युदय</td></tr>
    <tr id="Dharmav"><td>Dharmav.</td><td>Title</td><td>धर्मविवेक</td></tr>
    <tr id="Dhu1rtan"><td>Dhu1rtan.</td><td>Title</td><td>धूर्तनर्तक</td></tr>
    <tr id="Dhu1rtas"><td>Dhu1rtas.</td><td>Title</td><td>धूर्तसमागम</td></tr>
    <tr id="Dhya1nabUp"><td>Dhya1nabUp.</td><td>Title</td><td>ध्यानबिन्दु-उपनिषद्</td></tr>
    <tr id="Di1p"><td>Di1p.</td><td>Title</td><td>दीपिका</td></tr>
    <tr id="DivyA7v"><td>DivyA7v.</td><td>Title</td><td>दिव्यावदान</td></tr>
    <tr id="Divya1v"><td>Divya1v.</td><td>Title</td><td>दिव्यावदान</td></tr>
    <tr id="Divya7v"><td>Divya7v.</td><td>Title</td><td>दिव्यावदान</td></tr>
    <tr id="Divya4v"><td>Divya4v.</td><td>Title</td><td>दिव्यावदान</td></tr>
    <tr id="Dra1hy"><td>Dra1hy.</td><td>Author</td><td>द्राह्यायण</td></tr>
    <tr id="Dra1hyS3r"><td>Dra1hyS3r.</td><td>Title</td><td>द्राह्यायण-श्रौत-सूत्र</td></tr>
    <tr id="Du1ta7n3g"><td>Du1ta7n3g.</td><td>?</td><td>&nbsp;</td></tr>
    <tr id="Durga1v"><td>Durga1v.</td><td>Title</td><td>दुर्गाविलास</td></tr>
    <tr id="Ga1rgi1S"><td>Ga1rgi1S.</td><td>Title</td><td>गार्गी-संहिता</td></tr>
    <tr id="Ga1rud2aP"><td>Ga1rud2aP.</td><td>Title</td><td>गारुड-पुराण</td></tr>
    <tr id="GarP"><td>GarP.</td><td>Title</td><td>गारुड-पुराण</td></tr>
    <tr id="Ga1tha1sam2gr"><td>Ga1tha1sam2gr.</td><td>Title</td><td>गाथासंग्रह</td></tr>
    <tr id="Gal"><td>Gal.</td><td>Title</td><td>Demetrius Galanos's Lexiko: sanskritikes, anglikes, hellenikes</td></tr>
    <tr id="Gan2P"><td>Gan2P.</td><td>Title</td><td>गणेश-पुराण</td></tr>
    <tr id="Gan2ar"><td>Gan2ar.</td><td>Title</td><td>गणरत्न-महोदधि</td></tr>
    <tr id="Gan2ap"><td>Gan2ap.</td><td>Title</td><td>गण-पाठ</td></tr>
    <tr id="Gan2aratna7v"><td>Gan2aratna7v.</td><td>Title</td><td>गणरत्न-महोदधि</td></tr>
    <tr id="Gan2it"><td>Gan2it.</td><td>Subtitle</td><td>गणिताध्याय</td></tr>
    <tr id="GarbhUp"><td>GarbhUp.</td><td>Title</td><td>गर्भ-उपनिषद्</td></tr>
    <tr id="Gauragan2"><td>Gauragan2.</td><td>Title</td><td>गौरगणोद्देश</td></tr>
    <tr id="Gaut"><td>Gaut.</td><td>Title</td><td>गौतम-धर्म-शास्त्र</td></tr>
    <tr id="Ghat2"><td>Ghat2.</td><td>Title</td><td>घटकर्पर</td></tr>
    <tr id="Gi1t"><td>Gi1t.</td><td>Title</td><td>गीत-गोविन्द</td></tr>
    <tr id="Gmn"><td>Gmn.</td><td>Author</td><td>Grassmann</td></tr>
    <tr id="GobhS3ra1ddh"><td>GobhS3ra1ddh.</td><td>Title</td><td>गोभिल-श्राद्ध-कल्प</td></tr>
    <tr id="Gobh"><td>Gobh.</td><td>Title</td><td>गोभिल-श्राद्ध-कल्प</td></tr>
    <tr id="GobhGr2"><td>GobhGr2.</td><td>Title</td><td>गोभिल 's गृह्य-सूत्र</td></tr>
    <tr id="Gol"><td>Gol.</td><td>Subtitle</td><td>गोलाध्याय</td></tr>
    <tr id="GopBr"><td>GopBr.</td><td>Title</td><td>गोपथ-ब्राह्मण</td></tr>
    <tr id="Goraksh"><td>Goraksh.</td><td>Title</td><td>गोरक्ष-शतक</td></tr>
    <tr id="Gr2S"><td>Gr2S.</td><td>Literary category</td><td>गृह्य-सूत्र</td></tr>
    <tr id="GS"><td>GS.</td><td>Literary category</td><td>गृह्य-सूत्र</td></tr>
    <tr id="Gr2S3rS"><td>Gr2S3rS.</td><td>Literary category</td><td>गृह्य-सूत्र  and  श्रौत-सूत्र</td></tr>
    <tr id="S3rGr2S"><td>S3rGr2S.</td><td>Literary category</td><td>गृह्य-सूत्र  and  श्रौत-सूत्र</td></tr>
    <tr id="GrS3"><td>GrS3.</td><td>?</td><td>&nbsp;</td></tr>
    <tr id="Gr2ihya1s"><td>Gr2ihya1s.</td><td>Title</td><td>गृह्यासंग्रह</td></tr>
    <tr id="Grahay"><td>Grahay.</td><td>Subtitle</td><td>ग्रहयज्ञ-तत्त्व</td></tr>
    <tr id="Hat2hapr"><td>Hat2hapr.</td><td>Title</td><td>हठ-प्र-दीपिका</td></tr>
    <tr id="HParis3"><td>HParis3.</td><td>Title</td><td>हेमचन्द्र 's  परिशिष्टपर्वन्</td></tr>
    <tr id="HYog"><td>HYog.</td><td>Title</td><td>हेमचन्द्र 's  योग-शास्त्र</td></tr>
    <tr id="HYogas"><td>HYogas.</td><td>Title</td><td>हेमचन्द्र 's  योग-शास्त्र</td></tr>
    <tr id="HYogas3"><td>HYogas3.</td><td>Title</td><td>हेमचन्द्र 's  योग-शास्त्र</td></tr>
    <tr id="Ha1l"><td>Ha1l.</td><td>Author</td><td>हाल</td></tr>
    <tr id="Ha1r"><td>Ha1r.</td><td>Author</td><td>हारीत</td></tr>
    <tr id="Ha1sy"><td>Ha1sy.</td><td>Title</td><td>हास्यार्णव</td></tr>
    <tr id="Ha1yan"><td>Ha1yan.</td><td>Title</td><td>हायन-रत्न , by  बलभद्र</td></tr>
    <tr id="Harav"><td>Harav.</td><td>Title</td><td>हरविजय</td></tr>
    <tr id="Haravij"><td>Haravij.</td><td>Title</td><td>हरविजय</td></tr>
    <tr id="Hariv"><td>Hariv.</td><td>Title</td><td>हरिवंश</td></tr>
    <tr id="Hastar"><td>Hastar.</td><td>Title</td><td>हस्त-रत्नावली</td></tr>
    <tr id="Hcar"><td>Hcar.</td><td>Title</td><td>हर्षचरित</td></tr>
    <tr id="Hcat"><td>Hcat.</td><td>Title</td><td>हेमाद्रि 's  चतुर्वर्ग-चिन्तामणि</td></tr>
    <tr id="Hemac"><td>Hemac.</td><td>Author</td><td>हेमचन्द्र</td></tr>
    <tr id="HirGr2"><td>HirGr2.</td><td>Title</td><td>हिरण्यकेशिन्-गृह्य-सूत्र</td></tr>
    <tr id="HirP"><td>HirP.</td><td>Title</td><td>हिरण्यकेशिन्-पितृमेध-सूत्र</td></tr>
    <tr id="Hit"><td>Hit.</td><td>Title</td><td>हितोपदेश</td></tr>
    <tr id="Hora1s3"><td>Hora1s3.</td><td>Title</td><td>होराशास्त्र</td></tr>
    <tr id="Hparis3"><td>Hparis3.</td><td>Title</td><td>हेमचन्द्र 's  परिशिष्टपर्वन्</td></tr>
    <tr id="Hpar"><td>Hpar.</td><td>Title</td><td>हेमचन्द्र 's  परिशिष्टपर्वन्</td></tr>
    <tr id="I1s3Up"><td>I1s3Up.</td><td>Title</td><td>ईश-उपनिषद्</td></tr>
    <tr id="I1s3aUp"><td>I1s3aUp.</td><td>Title</td><td>ईश-उपनिषद्</td></tr>
    <tr id="IW"><td>IW.</td><td>Title</td><td>Indian Wisdom, by Sir M. Monier-Williams</td></tr>
    <tr id="Il"><td>Il.</td><td>Title</td><td>Iliad</td></tr>
    <tr id="Inscr"><td>Inscr.</td><td>Title</td><td>Inscriptions</td></tr>
    <tr id="IndSt"><td>IndSt.</td><td>Title</td><td>Indische Studien by A. Weber</td></tr>
    <tr id="Ja1ba1lUp"><td>Ja1ba1lUp.</td><td>Title</td><td>जाबाल-उपनिषद्</td></tr>
    <tr id="Ja1ba1laUp"><td>Ja1ba1laUp.</td><td>Title</td><td>जाबाल-उपनिषद्</td></tr>
    <tr id="Ja1takam"><td>Ja1takam.</td><td>Title</td><td>जातकमाला</td></tr>
    <tr id="Ja1t"><td>Ja1t.</td><td>Title</td><td>जातकमाला</td></tr>
    <tr id="Jaim"><td>Jaim.</td><td>Author</td><td>जैमिनि</td></tr>
    <tr id="JaimBh"><td>JaimBh.</td><td>Subtitle</td><td>जैमिनि-भारत ,  आश्वमेधिक-पर्वन्</td></tr>
    <tr id="JaimBha1r"><td>JaimBha1r.</td><td>Subtitle</td><td>जैमिनि-भारत ,  आश्वमेधिक-पर्वन्</td></tr>
    <tr id="JaimBr"><td>JaimBr.</td><td>Title</td><td>जैमिनीय-ब्राह्मण</td></tr>
    <tr id="JaimUp"><td>JaimUp.</td><td>Title</td><td>जैमिनीय-उपनिषद्</td></tr>
    <tr id="Jain"><td>Jain.</td><td>Literary category</td><td>जैन  literature</td></tr>
    <tr id="Jyot"><td>Jyot.</td><td>Literary category</td><td>ज्योतिष</td></tr>
    <tr id="Jn5a1ta1dh"><td>Jn5a1ta1dh.</td><td>Title</td><td>ज्ञाता-धर्म-कथा</td></tr>
    <tr id="K"><td>K.</td><td>?</td><td>&nbsp;</td></tr>
    <tr id="Ka1d"><td>Ka1d.</td><td>Title</td><td>कादम्बरी</td></tr>
    <tr id="Ka1lP"><td>Ka1lP.</td><td>Title</td><td>कालिका-पुराण</td></tr>
    <tr id="Ka1lac"><td>Ka1lac.</td><td>Title</td><td>कालचक्र</td></tr>
    <tr id="Ka1laka7c"><td>Ka1laka7c.</td><td>Title</td><td>कालकाचार्य-कथानक</td></tr>
    <tr id="Ka1lanirn2"><td>Ka1lanirn2.</td><td>Title</td><td>कालनिर्णय</td></tr>
    <tr id="Ka1lid"><td>Ka1lid.</td><td>Author</td><td>कालिदास</td></tr>
    <tr id="Ka1m"><td>Ka1m.</td><td>Title</td><td>कामन्दकीय-नीतिसार</td></tr>
    <tr id="Ka1ran2d2"><td>Ka1ran2d2.</td><td>Title</td><td>कारण्ड-व्यूह</td></tr>
    <tr id="Ka1r"><td>Ka1r.</td><td>Title</td><td>कारण्ड-व्यूह</td></tr>
    <tr id="Ka1s3"><td>Ka1s3.</td><td>Title</td><td>काशिका-वृत्ति</td></tr>
    <tr id="Ka1s3i1Kh"><td>Ka1s3i1Kh.</td><td>Subtitle</td><td>काशी खण्ड , from the  स्कन्द-पुराण</td></tr>
    <tr id="Kas3i1Kh"><td>Kas3i1Kh.</td><td>Subtitle</td><td>काशी खण्ड , from the  स्कन्द-पुराण</td></tr>
    <tr id="Ka1t"><td>Ka1t.</td><td>Title</td><td>कातन्त्र</td></tr>
    <tr id="Ka1t2h"><td>Ka1t2h.</td><td>Literary category</td><td>काठक</td></tr>
    <tr id="Kat2h"><td>Kat2h.</td><td>Literary category</td><td>काठक</td></tr>
    <tr id="Ka1t2hAnukr"><td>Ka1t2hAnukr.</td><td>Title</td><td>काठक अनुक्रमणी</td></tr>
    <tr id="Ka1t2hGr2"><td>Ka1t2hGr2.</td><td>Title</td><td>काठक-गृह्य-सूत्र</td></tr>
    <tr id="Ka1ty"><td>Ka1ty.</td><td>Author</td><td>कात्यायन</td></tr>
    <tr id="Ka1tyS3r"><td>Ka1tyS3r.</td><td>Title</td><td>कात्यायन-श्रौत-सूत्र</td></tr>
    <tr id="Ka1v"><td>Ka1v.</td><td>Literary category</td><td>काव्य  literature</td></tr>
    <tr id="Ka1vya7d"><td>Ka1vya7d.</td><td>Title</td><td>काव्यादर्श</td></tr>
    <tr id="Ka1vyac"><td>Ka1vyac.</td><td>Title</td><td>काव्यचन्द्रिका</td></tr>
    <tr id="Ka1vyak"><td>Ka1vyak.</td><td>Title</td><td>काव्यकल्प-लता</td></tr>
    <tr id="KaivUp"><td>KaivUp.</td><td>Title</td><td>कैवल्य-उपनिषद्</td></tr>
    <tr id="Kaiy"><td>Kaiy.</td><td>Author</td><td>कैयट ,  कैय्यट</td></tr>
    <tr id="KalkiP"><td>KalkiP.</td><td>Title</td><td>कल्कि-पुराण</td></tr>
    <tr id="Kalpas"><td>Kalpas.</td><td>Literary category</td><td>कल्प-सूत्र</td></tr>
    <tr id="Kalpat"><td>Kalpat.</td><td>Title</td><td>कल्पतरु</td></tr>
    <tr id="Kalya1n2am"><td>Kalya1n2am.</td><td>Title</td><td>कल्याणमन्दिर-स्तोत्र</td></tr>
    <tr id="Kan2"><td>Kan2.</td><td>Title</td><td>कणाद 's  वैशेषिक-सूत्र</td></tr>
    <tr id="Kap"><td>Kap.</td><td>Author</td><td>कपिल</td></tr>
    <tr id="KapS"><td>KapS.</td><td>Title</td><td>कपिल 's सांख्य-प्रवचन</td></tr>
    <tr id="KapSam2h"><td>KapSam2h.</td><td>Title</td><td>कपिल-संहिता ,  कपिल-पुराण</td></tr>
    <tr id="Kapisht2h"><td>Kapisht2h.</td><td>Title</td><td>कपिष्ठल-संहिता</td></tr>
    <tr id="Karmapr"><td>Karmapr.</td><td>Title</td><td>कर्मप्रदीप</td></tr>
    <tr id="Kat2hUp"><td>Kat2hUp.</td><td>Title</td><td>कठ-उपनिषद्</td></tr>
    <tr id="Katha1s"><td>Katha1s.</td><td>Title</td><td>कथासरित्सागर</td></tr>
    <tr id="Katha7rn2"><td>Katha7rn2.</td><td>Title</td><td>कथार्णव</td></tr>
    <tr id="Kat2ha7rn2"><td>Kat2ha7rn2.</td><td>Title</td><td>कथार्णव</td></tr>
    <tr id="Kaus3"><td>Kaus3.</td><td>Title</td><td>कौशिक-सूत्र</td></tr>
    <tr id="KaushA1r"><td>KaushA1r.</td><td>Title</td><td>कौषीतकि-आरण्यक</td></tr>
    <tr id="KaushBr"><td>KaushBr.</td><td>?</td><td>&nbsp;</td></tr>
    <tr id="KaushUp"><td>KaushUp.</td><td>Title</td><td>कौषीतकि-उपनिषद्</td></tr>
    <tr id="Kautukar"><td>Kautukar.</td><td>Title</td><td>कौतुकरत्नाकर</td></tr>
    <tr id="Kautukas"><td>Kautukas.</td><td>Title</td><td>कौतुकसर्वस्व</td></tr>
    <tr id="Kavik"><td>Kavik.</td><td>Title</td><td>कविकल्प-लता</td></tr>
    <tr id="Kavikalpat"><td>Kavikalpat.</td><td>Title</td><td>कविकल्पतरु</td></tr>
    <tr id="Ked"><td>Ked.</td><td>Title</td><td>केदार 's  वृत्ति-रत्नाकर</td></tr>
    <tr id="KenUp"><td>KenUp.</td><td>Title</td><td>केन-उपनिषद्</td></tr>
    <tr id="KenaUp"><td>KenaUp.</td><td>Title</td><td>केन-उपनिषद्</td></tr>
    <tr id="Kir"><td>Kir.</td><td>Title</td><td>किरातार्जुनीय</td></tr>
    <tr id="Kosht2hi1pr"><td>Kosht2hi1pr.</td><td>Title</td><td>कोष्ठीप्रदीप</td></tr>
    <tr id="Kpr"><td>Kpr.</td><td>Title</td><td>काव्यप्रकाश</td></tr>
    <tr id="Ka1vyapr"><td>Ka1vyapr.</td><td>Title</td><td>काव्यप्रकाश</td></tr>
    <tr id="Kr2ishis"><td>Kr2ishis.</td><td>Title</td><td>कृषिसंग्रह</td></tr>
    <tr id="Kramadi1p"><td>Kramadi1p.</td><td>Title</td><td>क्रमदीपिका</td></tr>
    <tr id="Kshem"><td>Kshem.</td><td>Author</td><td>क्षेमेन्द्र</td></tr>
    <tr id="Kshiti7s3"><td>Kshiti7s3.</td><td>Title</td><td>क्षितीश-वंशावली-चरित</td></tr>
    <tr id="KshurUp"><td>KshurUp.</td><td>Title</td><td>क्षुरिका-उपनिषद्</td></tr>
    <tr id="Ku1rmaP"><td>Ku1rmaP.</td><td>Title</td><td>कूर्म-पुराण</td></tr>
    <tr id="Kula7rn2"><td>Kula7rn2.</td><td>Title</td><td>कुलार्णव-तन्त्र</td></tr>
    <tr id="Kulad"><td>Kulad.</td><td>Title</td><td>कुलदीपिका</td></tr>
    <tr id="Kull"><td>Kull.</td><td>Title</td><td>मन्वर्त्हमुक्तावली ,  कुल्लूक  भट्ट 's commentary on  मनु-स्मृति</td></tr>
    <tr id="Kum"><td>Kum.</td><td>Title</td><td>कुमार-सम्भव</td></tr>
    <tr id="Kusum"><td>Kusum.</td><td>Title</td><td>कुसुमाञ्जलि</td></tr>
    <tr id="Kut2t2ani1m"><td>Kut2t2ani1m.</td><td>Title</td><td>कुट्टनीमत</td></tr>
    <tr id="Kuval"><td>Kuval.</td><td>Title</td><td>कुवलयानन्द</td></tr>
    <tr id="Kuv"><td>Kuv.</td><td>Title</td><td>कुवलयानन्द</td></tr>
    <tr id="L"><td>L.</td><td>Author</td><td>Lexicographers, esp. such as  अमरसिंह ,  हलायुध ,  हेमचन्द्र , &amp;c.</td></tr>
    <tr id="La1t2y"><td>La1t2y.</td><td>Author</td><td>लाट्यायन</td></tr>
    <tr id="Laghuj"><td>Laghuj.</td><td>Title</td><td>लघुजातक , by  वराह-मिहिर</td></tr>
    <tr id="Laghuk"><td>Laghuk.</td><td>Title</td><td>लघुकौमुदी</td></tr>
    <tr id="Lalit"><td>Lalit.</td><td>Title</td><td>ललित-विस्तर</td></tr>
    <tr id="La1t2yS3r"><td>La1t2yS3r.</td><td>Title</td><td>लाट्यायन-श्रौत-सूत्र</td></tr>
    <tr id="Li1l"><td>Li1l.</td><td>Title</td><td>लीलावती  of  भास्कर</td></tr>
    <tr id="Li1la1v"><td>Li1la1v.</td><td>Title</td><td>लीलावती  of  भास्कर</td></tr>
    <tr id="Lin3gaP"><td>Lin3gaP.</td><td>Title</td><td>लिङ्ग-पुराण</td></tr>
    <tr id="Lokapr"><td>Lokapr.</td><td>?</td><td>&nbsp;</td></tr>
    <tr id="MBh"><td>MBh.</td><td>Title</td><td>महाभारत</td></tr>
    <tr id="ML"><td>ML.</td><td>Title</td><td>Macdonell's dictionary, &amp;c.</td></tr>
    <tr id="MW"><td>MW.</td><td>Title</td><td>Monier-Williams' Sanskrit-English Dictionary, 1st edition with marginal notes</td></tr>
    <tr id="MWB"><td>MWB.</td><td>Title</td><td>Monier-Williams' Buddhism in its connexion with  ब्राह्मण् ism &amp;  हिन्दू ism: and in its contrast with Christianity</td></tr>
    <tr id="Ma1lati1m"><td>Ma1lati1m.</td><td>Title</td><td>मालतीमाधव</td></tr>
    <tr id="Ma1lav"><td>Ma1lav.</td><td>Title</td><td>मालविकाग्निमित्र</td></tr>
    <tr id="Ma1n2d2S3"><td>Ma1n2d2S3.</td><td>Title</td><td>माण्डूकी-शिक्षा</td></tr>
    <tr id="Ma1n2d2Up"><td>Ma1n2d2Up.</td><td>Title</td><td>माण्डूक्य-उपनिषद् , 12  मन्त्र s</td></tr>
    <tr id="Ma1nGr2"><td>Ma1nGr2.</td><td>Title</td><td>मानव-गृह्य-सूत्र</td></tr>
    <tr id="Ma1nGr2S"><td>Ma1nGr2S.</td><td>Title</td><td>मानव-गृह्य-सूत्र</td></tr>
    <tr id="Ma1nS3r"><td>Ma1nS3r.</td><td>Title</td><td>मानव-श्रौत-सूत्र</td></tr>
    <tr id="Ma1nGr2S3rS"><td>Ma1nGr2S3rS.</td><td>Title</td><td>मानव-गृह्य-सूत्र</td></tr>
    <tr id="Ma1rkP"><td>Ma1rkP.</td><td>Title</td><td>मार्कण्डेय-पुराण</td></tr>
    <tr id="Ma1rk"><td>Ma1rk.</td><td>Title</td><td>मार्कण्डेय-पुराण</td></tr>
    <tr id="Madanav"><td>Madanav.</td><td>Title</td><td>मदनविनोद</td></tr>
    <tr id="Madanap"><td>Madanap.</td><td>Title</td><td>मदनविनोद</td></tr>
    <tr id="Madhus"><td>Madhus.</td><td>Author</td><td>मधुसूदन</td></tr>
    <tr id="Maha1n"><td>Maha1n.</td><td>Title</td><td>महानाटक</td></tr>
    <tr id="Maha1vy"><td>Maha1vy.</td><td>Title</td><td>महा-व्युत्पत्ति</td></tr>
    <tr id="Mahi1dh"><td>Mahi1dh.</td><td>Author</td><td>महीधर</td></tr>
    <tr id="MaitrS"><td>MaitrS.</td><td>Title</td><td>मैत्रायणी-संहिता</td></tr>
    <tr id="Maitr"><td>Maitr.</td><td>Title</td><td>मैत्रायणी-संहिता</td></tr>
    <tr id="MaitrUp"><td>MaitrUp.</td><td>Title</td><td>मैत्री-उपनिषद्</td></tr>
    <tr id="Malama1sat"><td>Malama1sat.</td><td>Title</td><td>मलमासतत्त्व</td></tr>
    <tr id="Mall"><td>Mall.</td><td>Author</td><td>मल्लिनाथ</td></tr>
    <tr id="Mallin"><td>Mallin.</td><td>Author</td><td>मल्लिनाथ</td></tr>
    <tr id="Ma1llin"><td>Ma1llin.</td><td>Author</td><td>मल्लिनाथ</td></tr>
    <tr id="Mallapr"><td>Mallapr.</td><td>Title</td><td>मल्लप्रकाश</td></tr>
    <tr id="MantraBr"><td>MantraBr.</td><td>Title</td><td>मन्त्र-ब्राह्मण</td></tr>
    <tr id="Mantram"><td>Mantram.</td><td>Title</td><td>मन्त्रमहोदधि</td></tr>
    <tr id="Mas3"><td>Mas3.</td><td>Author</td><td>मशक</td></tr>
    <tr id="MatsyaP"><td>MatsyaP.</td><td>Title</td><td>मत्स्य-पुराण</td></tr>
    <tr id="Matsyas"><td>Matsyas.</td><td>Title</td><td>मत्स्यसूक्त 's  शब्दकल्पद्रुम</td></tr>
    <tr id="Mbh"><td>Mbh.</td><td>Title</td><td>महाभारत</td></tr>
    <tr id="Mcar"><td>Mcar.</td><td>Title</td><td>महावीर-चरित्र</td></tr>
    <tr id="Megh"><td>Megh.</td><td>Title</td><td>मेघदूत</td></tr>
    <tr id="Mit"><td>Mit.</td><td>Title</td><td>मिताक्षरा</td></tr>
    <tr id="Ml"><td>Ml.</td><td>Title</td><td>Macdonell's dictionary, &amp;c.</td></tr>
    <tr id="Mn"><td>Mn.</td><td>Title</td><td>मनु-स्मृति</td></tr>
    <tr id="Mr2icch"><td>Mr2icch.</td><td>Title</td><td>मृच्छकटिका</td></tr>
    <tr id="Mudr"><td>Mudr.</td><td>Title</td><td>मुद्राराक्षस</td></tr>
    <tr id="MuktUp"><td>MuktUp.</td><td>Title</td><td>मुक्तिका-उपनिषद्</td></tr>
    <tr id="Mun2d2UP"><td>Mun2d2UP.</td><td>Title</td><td>मुण्डक-उपनिषद्</td></tr>
    <tr id="Mun2d2Up"><td>Mun2d2Up.</td><td>Title</td><td>मुण्डक-उपनिषद्</td></tr>
    <tr id="NBD"><td>NBD.</td><td>Title</td><td>Boehtlingk's Sanskrit-Woerterbuch in kuerzerer fassung</td></tr>
    <tr id="Na1d2i1pr"><td>Na1d2i1pr.</td><td>Title</td><td>नाडीप्रकाश 's  शब्दकल्पद्रुम</td></tr>
    <tr id="Na1g"><td>Na1g.</td><td>Title</td><td>नागानन्द</td></tr>
    <tr id="Na1r"><td>Na1r.</td><td>Title</td><td>नारद-स्मृति ,  नारदीय-धर्म-शास्त्र</td></tr>
    <tr id="Na1rP"><td>Na1rP.</td><td>Title</td><td>नारदीय-पुराण</td></tr>
    <tr id="Na1rS"><td>Na1rS.</td><td>Title</td><td>नारद-संहिता</td></tr>
    <tr id="Na1rUp"><td>Na1rUp.</td><td>Title</td><td>नारायण-उपनिषद्</td></tr>
    <tr id="Maha1na1rUp"><td>Maha1na1rUp.</td><td>Title</td><td>नारायण-उपनिषद्</td></tr>
    <tr id="Na1t2yas3"><td>Na1t2yas3.</td><td>Title</td><td>नाट्यशास्त्र</td></tr>
    <tr id="Naigh"><td>Naigh.</td><td>Subtitle</td><td>नैघण्टुक , commented on by  यास्क</td></tr>
    <tr id="Naish"><td>Naish.</td><td>Title</td><td>नैषध-चरित</td></tr>
    <tr id="Nal"><td>Nal.</td><td>Subtitle</td><td>नलोपाख्यान</td></tr>
    <tr id="N"><td>N.</td><td>Subtitle</td><td>नलोपाख्यान</td></tr>
    <tr id="Nalac"><td>Nalac.</td><td>Title</td><td>नलचम्पू  or  दमयन्तीकथा</td></tr>
    <tr id="Nalo7d"><td>Nalo7d.</td><td>Title</td><td>नलोदय</td></tr>
    <tr id="NandiP"><td>NandiP.</td><td>Title</td><td>नन्दि-पुराण</td></tr>
    <tr id="NarasP"><td>NarasP.</td><td>Title</td><td>नरसिंह-पुराण</td></tr>
    <tr id="Ni1lak"><td>Ni1lak.</td><td>Author</td><td>नीलकण्ठ</td></tr>
    <tr id="NilarUp"><td>NilarUp.</td><td>Title</td><td>नीलरुद्र-उपनिषद्</td></tr>
    <tr id="Ni1l"><td>Ni1l.</td><td>Author</td><td>नीलकण्ठ</td></tr>
    <tr id="Ni1tis"><td>Ni1tis.</td><td>Title</td><td>कामन्दकीय-नीतिसार</td></tr>
    <tr id="Ni1t"><td>Ni1t.</td><td>Title</td><td>कामन्दकीय-नीतिसार</td></tr>
    <tr id="Nid"><td>Nid.</td><td>Title</td><td>माधव-निदान</td></tr>
    <tr id="Nida1nas"><td>Nida1nas.</td><td>Title</td><td>निदान-सूत्र</td></tr>
    <tr id="Nir"><td>Nir.</td><td>Title</td><td>निरुक्त , by  यास्क</td></tr>
    <tr id="Nirn2ayas"><td>Nirn2ayas.</td><td>Title</td><td>निर्णयसिन्धु</td></tr>
    <tr id="Npr"><td>Npr.</td><td>Title</td><td>निघण्टुप्रकाश</td></tr>
    <tr id="Nigh"><td>Nigh.</td><td>Title</td><td>निघण्टुप्रकाश</td></tr>
    <tr id="Nr2isUp"><td>Nr2isUp.</td><td>Title</td><td>नृसिंह-तापनीय-उपनिषद्</td></tr>
    <tr id="Nya1yad"><td>Nya1yad.</td><td>Literary category</td><td>न्याय</td></tr>
    <tr id="Nya1yak"><td>Nya1yak.</td><td>Title</td><td>न्यायकोश</td></tr>
    <tr id="Nya1yam"><td>Nya1yam.</td><td>Title</td><td>न्यायमाला-विस्तर</td></tr>
    <tr id="Nya1yas"><td>Nya1yas.</td><td>Title</td><td>न्यायसूत्र</td></tr>
    <tr id="PSarv"><td>PSarv.</td><td>Title</td><td>पुराण-सर्वस्व</td></tr>
    <tr id="Pa1n2"><td>Pa1n2.</td><td>Author</td><td>पाणिनि</td></tr>
    <tr id="Pa1n2S3"><td>Pa1n2S3.</td><td>Title</td><td>पाणिनीय-शिक्षा</td></tr>
    <tr id="Pa1pabuddhidharm"><td>Pa1pabuddhidharm.</td><td>Title</td><td>पापबुद्धिधर्मबुद्धिकथानक</td></tr>
    <tr id="Pa1rGr2"><td>Pa1rGr2.</td><td>Title</td><td>पारस्कर-गृह्य-सूत्र</td></tr>
    <tr id="Pa1rGr2S"><td>Pa1rGr2S.</td><td>Title</td><td>पारस्कर-गृह्य-सूत्र</td></tr>
    <tr id="Pa1rs3van"><td>Pa1rs3van.</td><td>Title</td><td>पार्श्वनाथ-चरित्र</td></tr>
    <tr id="Pa1rvat"><td>Pa1rvat.</td><td>Title</td><td>पार्वती-परिणय</td></tr>
    <tr id="Padap"><td>Padap.</td><td>Title</td><td>पदपाठ</td></tr>
    <tr id="PadmaP"><td>PadmaP.</td><td>Title</td><td>पद्म-पुराण</td></tr>
    <tr id="Padyas"><td>Padyas.</td><td>Title</td><td>पद्यसंग्रह</td></tr>
    <tr id="Pan5cad"><td>Pan5cad.</td><td>Title</td><td>पञ्चदण्डच्छत्त्र-प्रबन्ध</td></tr>
    <tr id="Pan5car"><td>Pan5car.</td><td>Title</td><td>पञ्चरात्र</td></tr>
    <tr id="Pan5cat"><td>Pan5cat.</td><td>Title</td><td>पञ्चतन्त्र</td></tr>
    <tr id="Pan5c"><td>Pan5c.</td><td>Title</td><td>पञ्चतन्त्र</td></tr>
    <tr id="Pan5cavBr"><td>Pan5cavBr.</td><td>Title</td><td>पञ्च-विंश-ब्राह्मण</td></tr>
    <tr id="Para1s3"><td>Para1s3.</td><td>Title</td><td>पराशर-स्मृति</td></tr>
    <tr id="Param"><td>Param.</td><td>Title</td><td>परमार्थ-सार</td></tr>
    <tr id="Paribh"><td>Paribh.</td><td>Title</td><td>परिभाषेन्दु-शेखर</td></tr>
    <tr id="Pat"><td>Pat.</td><td>Author</td><td>पतञ्जलि</td></tr>
    <tr id="Phetk"><td>Phetk.</td><td>Title</td><td>फेत्कारिणी-तन्त्र</td></tr>
    <tr id="Phet2k"><td>Phet2k.</td><td>Title</td><td>फेत्कारिणी-तन्त्र</td></tr>
    <tr id="Phit2S"><td>Phit2S.</td><td>Title</td><td>फिट्-सूत्र</td></tr>
    <tr id="Pin3g"><td>Pin3g.</td><td>Author</td><td>पिङ्गल Scholiast, i.e.  हलायुध</td></tr>
    <tr id="Pra1t"><td>Pra1t.</td><td>Literary category</td><td>प्रातिशाख्य</td></tr>
    <tr id="Pra1yas3c"><td>Pra1yas3c.</td><td>Title</td><td>प्रायश्चित्त-तत्त्व</td></tr>
    <tr id="Pra7yaS3c"><td>Pra7yaS3c.</td><td>Title</td><td>प्रायश्चित्त-तत्त्व</td></tr>
    <tr id="Pra7yas3c"><td>Pra7yas3c.</td><td>Title</td><td>प्रायश्चित्त-तत्त्व</td></tr>
    <tr id="Prab"><td>Prab.</td><td>Title</td><td>प्रबोध-चन्द्रोदय</td></tr>
    <tr id="Prabh"><td>Prabh.</td><td>Title</td><td>प्रबोध-चन्द्रोदय</td></tr>
    <tr id="Pracan2d2"><td>Pracan2d2.</td><td>Title</td><td>प्रचण्ड-पाण्डव</td></tr>
    <tr id="Pras3nUp"><td>Pras3nUp.</td><td>Title</td><td>प्रश्न-उपनिषद्</td></tr>
    <tr id="Pras3naUp"><td>Pras3naUp.</td><td>Title</td><td>प्रश्न-उपनिषद्</td></tr>
    <tr id="Prasan3g"><td>Prasan3g.</td><td>Title</td><td>प्रसङ्गाभरण</td></tr>
    <tr id="Prasannar"><td>Prasannar.</td><td>Title</td><td>प्रसन्नराघव</td></tr>
    <tr id="Prasamar"><td>Prasamar.</td><td>Title</td><td>प्रसन्नराघव</td></tr>
    <tr id="Prasann"><td>Prasann.</td><td>Title</td><td>प्रसन्नराघव</td></tr>
    <tr id="Prata1p"><td>Prata1p.</td><td>Title</td><td>प्रतापरुद्रीय</td></tr>
    <tr id="Prata1par"><td>Prata1par.</td><td>Title</td><td>प्रतापरुद्रीय</td></tr>
    <tr id="Pratijn5a1S"><td>Pratijn5a1S.</td><td>Title</td><td>प्रतिज्ञा-सूत्र</td></tr>
    <tr id="Pratijn5a1s"><td>Pratijn5a1s.</td><td>Title</td><td>प्रतिज्ञा-सूत्र</td></tr>
    <tr id="Pravar"><td>Pravar.</td><td>Literary category</td><td>प्रवर  texts</td></tr>
    <tr id="Prayog"><td>Prayog.</td><td>Title</td><td>प्रयोगामृत</td></tr>
    <tr id="Prayogar"><td>Prayogar.</td><td>Title</td><td>प्रयोगरत्न</td></tr>
    <tr id="Priy"><td>Priy.</td><td>Title</td><td>प्रियदर्शिका</td></tr>
    <tr id="Priyad"><td>Priyad.</td><td>Title</td><td>प्रियदर्शिका</td></tr>
    <tr id="Pur"><td>Pur.</td><td>Literary category</td><td>पुराण s</td></tr>
    <tr id="Purusho7tt"><td>Purusho7tt.</td><td>Title</td><td>पुरुषोत्तम-तत्त्व</td></tr>
    <tr id="Pushpas"><td>Pushpas.</td><td>Title</td><td>पुष्प-सूत्र</td></tr>
    <tr id="R"><td>R.</td><td>Title</td><td>रामायण</td></tr>
    <tr id="R2itus"><td>R2itus.</td><td>Title</td><td>ऋतुसंहार</td></tr>
    <tr id="R2it"><td>R2it.</td><td>Title</td><td>ऋतुसंहार</td></tr>
    <tr id="RAnukr"><td>RAnukr.</td><td>Title</td><td>ऋ  व्-नुक्रमणिका</td></tr>
    <tr id="RPra1t"><td>RPra1t.</td><td>Title</td><td>ऋग्-वेद-प्रातिशाख्य</td></tr>
    <tr id="RTL"><td>RTL.</td><td>Title</td><td>Religious Thought and Life in India, also called ' ब्राह्मन् ism and  हिन्दू ism,' by Sir M. Monier-Williams</td></tr>
    <tr id="RV"><td>RV.</td><td>Title</td><td>ऋग्-वेद</td></tr>
    <tr id="Ra1ghav"><td>Ra1ghav.</td><td>Title</td><td>राघवपाण्डवीय</td></tr>
    <tr id="Ra1gh"><td>Ra1gh.</td><td>Title</td><td>राघवपाण्डवीय</td></tr>
    <tr id="Ra1jat"><td>Ra1jat.</td><td>Title</td><td>राजतरंगिणी</td></tr>
    <tr id="Ra1j"><td>Ra1j.</td><td>Title</td><td>राजतरंगिणी</td></tr>
    <tr id="Ra1mag"><td>Ra1mag.</td><td>Title</td><td>रामगीता</td></tr>
    <tr id="Ra1matUp"><td>Ra1matUp.</td><td>Title</td><td>रामतापनीय-उपनिषद्</td></tr>
    <tr id="Ra1mat"><td>Ra1mat.</td><td>Title</td><td>रामतापनीय-उपनिषद्</td></tr>
    <tr id="Ra1mapu1ja1s3"><td>Ra1mapu1ja1s3.</td><td>Title</td><td>रामपूजासरणि</td></tr>
    <tr id="Ra1sal"><td>Ra1sal.</td><td>Title</td><td>रासलीला</td></tr>
    <tr id="Ragh"><td>Ragh.</td><td>Title</td><td>रघुवंश</td></tr>
    <tr id="Raghuv"><td>Raghuv.</td><td>Title</td><td>रघुवंश</td></tr>
    <tr id="Rasar"><td>Rasar.</td><td>Title</td><td>रसरत्नाकर</td></tr>
    <tr id="Rase7ndrac"><td>Rase7ndrac.</td><td>Title</td><td>रसेन्द्रचिन्तामणि</td></tr>
    <tr id="Rasik"><td>Rasik.</td><td>Title</td><td>रसिकरमण</td></tr>
    <tr id="Ratna7"><td>Ratna7.</td><td>Title</td><td>रत्नावली</td></tr>
    <tr id="Ratn"><td>Ratn.</td><td>Title</td><td>रत्नावली</td></tr>
    <tr id="Ra1tn"><td>Ra1tn.</td><td>Title</td><td>रत्नावली</td></tr>
    <tr id="Ratna1v"><td>Ratna1v.</td><td>Title</td><td>रत्नावली</td></tr>
    <tr id="Ratna7v"><td>Ratna7v.</td><td>Title</td><td>रत्नावली</td></tr>
    <tr id="Ratnak"><td>Ratnak.</td><td>?</td><td>&nbsp;</td></tr>
    <tr id="Reva1Kh"><td>Reva1Kh.</td><td>Title</td><td>रेवा-खण्ड</td></tr>
    <tr id="Romakas"><td>Romakas.</td><td>Title</td><td>रोमकसिद्धान्त</td></tr>
    <tr id="Rpra1t"><td>Rpra1t.</td><td>Title</td><td>ऋग्-वेद-प्रातिशाख्य</td></tr>
    <tr id="Rudray"><td>Rudray.</td><td>Title</td><td>रुद्रयामल</td></tr>
    <tr id="Rv"><td>Rv.</td><td>Title</td><td>ऋग्-वेद</td></tr>
    <tr id="S3Br"><td>S3Br.</td><td>Title</td><td>शतपथ-ब्राह्मण</td></tr>
    <tr id="S3a1k"><td>S3a1k.</td><td>Author</td><td>शाकटायन</td></tr>
    <tr id="S3a1kta7n"><td>S3a1kta7n.</td><td>Title</td><td>शाक्तानन्द-तरंगिणी</td></tr>
    <tr id="S3a1n3khBr"><td>S3a1n3khBr.</td><td>Title</td><td>शाङ्खायन-ब्राह्मण</td></tr>
    <tr id="S3a1n3khGr2"><td>S3a1n3khGr2.</td><td>Title</td><td>शाङ्खायन-गृह्य-सूत्र</td></tr>
    <tr id="S3a1n3khGr"><td>S3a1n3khGr.</td><td>Title</td><td>शाङ्खायन-गृह्य-सूत्र</td></tr>
    <tr id="S3a1n3khS3r"><td>S3a1n3khS3r.</td><td>Title</td><td>शाङ्खायन-श्रौत-सूत्र</td></tr>
    <tr id="S3a1ntik"><td>S3a1ntik.</td><td>Title</td><td>शान्तिकल्प</td></tr>
    <tr id="S3a1ntis3"><td>S3a1ntis3.</td><td>Title</td><td>शान्तिशतक</td></tr>
    <tr id="S3a1ntas3"><td>S3a1ntas3.</td><td>Title</td><td>शान्तिशतक</td></tr>
    <tr id="S3a1rad"><td>S3a1rad.</td><td>Title</td><td>शारदा-तिलक</td></tr>
    <tr id="S3a1rn3gP"><td>S3a1rn3gP.</td><td>Title</td><td>शार्ङ्गधर-पद्धति</td></tr>
    <tr id="S3a1rn3gS"><td>S3a1rn3gS.</td><td>Title</td><td>शार्ङ्गधर-संहिता</td></tr>
    <tr id="S3a1rn3g"><td>S3a1rn3g.</td><td>Author</td><td>शार्ङ्गधर</td></tr>
    <tr id="S3arn3g"><td>S3arn3g.</td><td>Author</td><td>शार्ङ्गधर</td></tr>
    <tr id="S3ak"><td>S3ak.</td><td>Title</td><td>शकुन्तला</td></tr>
    <tr id="S3a1k"><td>S3a1k.</td><td>Title</td><td>शकुन्तला</td></tr>
    <tr id="S3aktir"><td>S3aktir.</td><td>Title</td><td>शक्तिरत्नाकर</td></tr>
    <tr id="S3am2kar"><td>S3am2kar.</td><td>Title</td><td>शंकर-विजय</td></tr>
    <tr id="S3am2k"><td>S3am2k.</td><td>Author</td><td>शंकराचार्य</td></tr>
    <tr id="S3am2karacetov"><td>S3am2karacetov.</td><td>Title</td><td>शंकर-चेतोविलास</td></tr>
    <tr id="S3ambhMa1h"><td>S3ambhMa1h.</td><td>?</td><td>&nbsp;</td></tr>
    <tr id="S3atarUp"><td>S3atarUp.</td><td>Title</td><td>शतरुद्रिय-उपनिषद्</td></tr>
    <tr id="S3atr"><td>S3atr.</td><td>Title</td><td>शत्रुंजय-माहात्म्य</td></tr>
    <tr id="S3i1l"><td>S3i1l.</td><td>Author</td><td>शीलाङ्क</td></tr>
    <tr id="S3iksh"><td>S3iksh.</td><td>Literary category</td><td>शिक्षा</td></tr>
    <tr id="S3iraUp"><td>S3iraUp.</td><td>Title</td><td>शिर-उपनिषद्</td></tr>
    <tr id="S3is3"><td>S3is3.</td><td>Title</td><td>शिशुपाल-वध</td></tr>
    <tr id="S3iva"><td>S3iva.</td><td>Title</td><td>शिव-सूत्र</td></tr>
    <tr id="S3ivaP"><td>S3ivaP.</td><td>Title</td><td>शिव-पुराण</td></tr>
    <tr id="S3ivP"><td>S3ivP.</td><td>Title</td><td>शिव-पुराण</td></tr>
    <tr id="S3ivag"><td>S3ivag.</td><td>Subtitle</td><td>शिवगीता , ascribed to the  पद्म-पुराण</td></tr>
    <tr id="S3r2in3ga1r"><td>S3r2in3ga1r.</td><td>Title</td><td>शृङ्गार-तिलक</td></tr>
    <tr id="S3r2in3ga1rat"><td>S3r2in3ga1rat.</td><td>Title</td><td>शृङ्गार-तिलक</td></tr>
    <tr id="S3ra1ddhak"><td>S3ra1ddhak.</td><td>Title</td><td>श्राद्धकल्प-भाष्य</td></tr>
    <tr id="S3ra1ddhac"><td>S3ra1ddhac.</td><td>Title</td><td>श्राद्ध-चन्द्रिका</td></tr>
    <tr id="Kalpabh"><td>Kalpabh.</td><td>Title</td><td>श्राद्धकल्प-भाष्य</td></tr>
    <tr id="S3ri1kan2t2h"><td>S3ri1kan2t2h.</td><td>Title</td><td>श्रीकण्ठ-चरित</td></tr>
    <tr id="S3ri1mMa1h"><td>S3ri1mMa1h.</td><td>Title</td><td>श्रीमाल-माहात्म्य</td></tr>
    <tr id="S3rutab"><td>S3rutab.</td><td>Title</td><td>श्रुतबोध</td></tr>
    <tr id="S3rut"><td>S3rut.</td><td>Title</td><td>श्रुतबोध</td></tr>
    <tr id="S3ukas"><td>S3ukas.</td><td>Title</td><td>शुकसप्तति</td></tr>
    <tr id="S3uk"><td>S3uk.</td><td>Title</td><td>शुकसप्तति</td></tr>
    <tr id="S3ulbas"><td>S3ulbas.</td><td>Literary category</td><td>शुल्ब-सूत्र</td></tr>
    <tr id="S3ulb"><td>S3ulb.</td><td>Literary category</td><td>शुल्ब-सूत्र</td></tr>
    <tr id="S3vetUp"><td>S3vetUp.</td><td>Title</td><td>श्वेताश्वतर-उपनिषद्</td></tr>
    <tr id="SS3am2kar"><td>SS3am2kar.</td><td>Title</td><td>संक्षेप-शंकर-विजय</td></tr>
    <tr id="SS3am2k"><td>SS3am2k.</td><td>Title</td><td>संक्षेप-शंकर-विजय</td></tr>
    <tr id="S3rS"><td>S3rS.</td><td>?</td><td>&nbsp;</td></tr>
    <tr id="S3r"><td>S3r.</td><td>?</td><td>&nbsp;</td></tr>
    <tr id="S3us3r"><td>S3us3r.</td><td>Title</td><td>सुश्रुत</td></tr>
    <tr id="S3u1dradh"><td>S3u1dradh.</td><td>Title</td><td>शूद्र-धर्म-तत्त्व</td></tr>
    <tr id="SV"><td>SV.</td><td>Title</td><td>साम-वेद</td></tr>
    <tr id="SVA1r"><td>SVA1r.</td><td>Title</td><td>साम-वेद-आरण्यक</td></tr>
    <tr id="Sa1h"><td>Sa1h.</td><td>Title</td><td>साहित्य-दर्पण</td></tr>
    <tr id="Saddh"><td>Saddh.</td><td>Title</td><td>साहित्य-दर्पण</td></tr>
    <tr id="Sa1m2khyak"><td>Sa1m2khyak.</td><td>Title</td><td>सांख्यकारिका</td></tr>
    <tr id="Sa1m2khyapr"><td>Sa1m2khyapr.</td><td>Title</td><td>सांख्यप्रवचन</td></tr>
    <tr id="Sa1n3khyak"><td>Sa1n3khyak.</td><td>Title</td><td>सांख्यकारिका</td></tr>
    <tr id="Sa1mavBr"><td>Sa1mavBr.</td><td>Title</td><td>साम-विधान-ब्राह्मण</td></tr>
    <tr id="Sa1y"><td>Sa1y.</td><td>Author</td><td>सायण</td></tr>
    <tr id="S3a1y"><td>S3a1y.</td><td>Author</td><td>सायण</td></tr>
    <tr id="SaddhP"><td>SaddhP.</td><td>Title</td><td>सद्धर्म-पुण्डरीक</td></tr>
    <tr id="Sadukt"><td>Sadukt.</td><td>Title</td><td>सदुक्ति-कर्णामृत</td></tr>
    <tr id="Sam2gi1t"><td>Sam2gi1t.</td><td>Title</td><td>संगीत-सारसंग्रह</td></tr>
    <tr id="Sam2g"><td>Sam2g.</td><td>?</td><td>&nbsp;</td></tr>
    <tr id="Sam2gi1tas"><td>Sam2gi1tas.</td><td>Title</td><td>संगीत-सारसंग्रह</td></tr>
    <tr id="Sam2hUp"><td>Sam2hUp.</td><td>Title</td><td>संहिता-उपनिषद्-ब्राह्मण</td></tr>
    <tr id="Sam2hitUp"><td>Sam2hitUp.</td><td>Title</td><td>संहिता-उपनिषद्-ब्राह्मण</td></tr>
    <tr id="Sam2hitop"><td>Sam2hitop.</td><td>Title</td><td>संहिता-उपनिषद्-ब्राह्मण</td></tr>
    <tr id="Sam2ska1rak"><td>Sam2ska1rak.</td><td>Title</td><td>संस्कारकौस्तुभ</td></tr>
    <tr id="Sam2nyUp"><td>Sam2nyUp.</td><td>Title</td><td>संन्यास-उपनिषद्</td></tr>
    <tr id="Sarasv"><td>Sarasv.</td><td>Title</td><td>सरस्वती-कण्ठाभरण , by  भोज</td></tr>
    <tr id="SarvUp"><td>SarvUp.</td><td>Title</td><td>सर्व-उपनिषत्-सार</td></tr>
    <tr id="Sarvad"><td>Sarvad.</td><td>Title</td><td>सर्वदर्शन-संग्रह</td></tr>
    <tr id="S3arvad"><td>S3arvad.</td><td>Title</td><td>सर्वदर्शन-संग्रह</td></tr>
    <tr id="Sarv"><td>Sarv.</td><td>Title</td><td>सर्वदर्शन-संग्रह</td></tr>
    <tr id="Setub"><td>Setub.</td><td>Title</td><td>सेतुबन्ध</td></tr>
    <tr id="Shad2gurus3"><td>Shad2gurus3.</td><td>Title</td><td>षड्गुरुशिष्य</td></tr>
    <tr id="Shad2vBr"><td>Shad2vBr.</td><td>Title</td><td>षड्विंश-ब्राह्मण</td></tr>
    <tr id="Siddh"><td>Siddh.</td><td>Title</td><td>सिद्धान्त-कौमुदी</td></tr>
    <tr id="Siddha7ntas3"><td>Siddha7ntas3.</td><td>Title</td><td>सिद्धान्तशिरोमणि</td></tr>
    <tr id="SiddhS3ir"><td>SiddhS3ir.</td><td>Title</td><td>सिद्धान्तशिरोमणि</td></tr>
    <tr id="Sin6ha7s"><td>Sin6ha7s.</td><td>Title</td><td>सिंहासन-द्वात्रिंशिका  or  विक्रमादित्य-चरित्र ,  जैन  recension</td></tr>
    <tr id="SkandaP"><td>SkandaP.</td><td>Title</td><td>स्कन्द-पुराण</td></tr>
    <tr id="Smr2itik"><td>Smr2itik.</td><td>Title</td><td>स्मृतिकौमुदी</td></tr>
    <tr id="Smr2itit"><td>Smr2itit.</td><td>Title</td><td>स्मृतितत्त्व ; the numbers xxix &amp; xxx mark the additional texts  ग्रह-यज्ञ  and  तीर्त्ह-यात्रा</td></tr>
    <tr id="Su1ryad"><td>Su1ryad.</td><td>Title</td><td>सूर्यदेव-यज्वन्</td></tr>
    <tr id="Su1ryapr"><td>Su1ryapr.</td><td>Title</td><td>सूर्यप्रज्ञप्ति</td></tr>
    <tr id="Su1ryap"><td>Su1ryap.</td><td>Title</td><td>सूर्यप्रज्ञप्ति</td></tr>
    <tr id="Su1ryas"><td>Su1ryas.</td><td>Title</td><td>सूर्यसिद्धान्त</td></tr>
    <tr id="S3u1ryas"><td>S3u1ryas.</td><td>Title</td><td>सूर्यसिद्धान्त</td></tr>
    <tr id="Subh"><td>Subh.</td><td>Title</td><td>सुभाषितावलि</td></tr>
    <tr id="Sukh"><td>Sukh.</td><td>Title</td><td>सुखावती-व्यूह</td></tr>
    <tr id="Suparn2"><td>Suparn2.</td><td>Title</td><td>सुपर्णाध्याय</td></tr>
    <tr id="Sus3r"><td>Sus3r.</td><td>Title</td><td>सुश्रुत</td></tr>
    <tr id="S3usr"><td>S3usr.</td><td>Title</td><td>सुश्रुत</td></tr>
    <tr id="S3us3r"><td>S3us3r.</td><td>Title</td><td>सुश्रुत</td></tr>
    <tr id="Suvarn2apr"><td>Suvarn2apr.</td><td>Title</td><td>सुवर्णप्रभास</td></tr>
    <tr id="Svapnac"><td>Svapnac.</td><td>Title</td><td>स्वप्नचिन्तामणि</td></tr>
    <tr id="SVParis3"><td>SV.Paris3.</td><td>Title</td><td>सोम-वेद-परिशिष्ट</td></tr>
    <tr id="T"><td>T.</td><td>Title</td><td>तारानाथ  तर्कवाचस्पति 's  वाचस्पत्यम् , Sanskrit dictionary</td></tr>
    <tr id="T2od2ar"><td>T2od2ar.</td><td>Title</td><td>तोडरानन्द</td></tr>
    <tr id="TA1r"><td>TA1r.</td><td>Title</td><td>तैत्तिरीय-आरण्यक</td></tr>
    <tr id="TaittA1r"><td>TaittA1r.</td><td>Title</td><td>तैत्तिरीय-आरण्यक</td></tr>
    <tr id="TAnukr"><td>TAnukr.</td><td>Title</td><td>तैत्तिरीय-अनुक्रमणी</td></tr>
    <tr id="TBr"><td>TBr.</td><td>Title</td><td>तैत्तिरीय-ब्राह्मण</td></tr>
    <tr id="TB"><td>TB.</td><td>Title</td><td>तैत्तिरीय-ब्राह्मण</td></tr>
    <tr id="TPra1t"><td>TPra1t.</td><td>Title</td><td>तैत्तिरीय-प्रातिशाख्य</td></tr>
    <tr id="TS"><td>TS.</td><td>Title</td><td>तैत्तिरीय-संहिता</td></tr>
    <tr id="TUp"><td>TUp.</td><td>Title</td><td>तैत्तिरीय-उपनिषद्</td></tr>
    <tr id="Ta1j"><td>Ta1j.</td><td>Literary category</td><td>ताजक</td></tr>
    <tr id="Ta1n2d2yaBr"><td>Ta1n2d2yaBr.</td><td>Title</td><td>ताण्ड्य-ब्राह्मण</td></tr>
    <tr id="Ta1n2d2Br"><td>Ta1n2d2Br.</td><td>Title</td><td>ताण्ड्य-ब्राह्मण</td></tr>
    <tr id="Tan2d2ina1mUp"><td>Tan2d2ina1mUp.</td><td>Title</td><td>तण्डिनाम्-ुपनिषद्</td></tr>
    <tr id="Tantras"><td>Tantras.</td><td>Title</td><td>तन्त्रसार</td></tr>
    <tr id="Tantra"><td>Tantra.</td><td>Title</td><td>तन्त्रसार</td></tr>
    <tr id="Tarkas"><td>Tarkas.</td><td>Title</td><td>तर्कसंग्रह</td></tr>
    <tr id="Tattvas"><td>Tattvas.</td><td>Title</td><td>तत्त्वसमास</td></tr>
    <tr id="TejobUp"><td>TejobUp.</td><td>Title</td><td>तेजोबिन्दु-उपनिषद्</td></tr>
    <tr id="Tithya1d"><td>Tithya1d.</td><td>Title</td><td>तिथ्यादित्य</td></tr>
    <tr id="Ts3Up"><td>Ts3Up.</td><td>Title</td><td>त्रिशिखि-ब्राह्मण-उपनिषद्</td></tr>
    <tr id="Un2"><td>Un2.</td><td>Title</td><td>उणादि-सूत्र</td></tr>
    <tr id="Un2k"><td>Un2k.</td><td>Title</td><td>उणादिकल्प</td></tr>
    <tr id="Un2vr2"><td>Un2vr2.</td><td>Title</td><td>उणादि-वृत्ति</td></tr>
    <tr id="Up"><td>Up.</td><td>Literary category</td><td>उपनिषद्</td></tr>
    <tr id="Upal"><td>Upal.</td><td>Literary category</td><td>उपलेख</td></tr>
    <tr id="Uttamac"><td>Uttamac.</td><td>Title</td><td>उत्तमचरित्र-कथानक , prose version</td></tr>
    <tr id="Uttarar"><td>Uttarar.</td><td>Title</td><td>उत्तरराम-चरित</td></tr>
    <tr id="Uttar"><td>Uttar.</td><td>Title</td><td>उत्तरराम-चरित</td></tr>
    <tr id="Udbh"><td>Udbh.</td><td>Author</td><td>उद्भट</td></tr>
    <tr id="V"><td>V.</td><td>Literary category</td><td>वाराह s</td></tr>
    <tr id="VP"><td>V.P.</td><td>Title</td><td>विष्णु-पुराण</td></tr>
    <tr id="VBr"><td>VBr.</td><td>Title</td><td>वंश-ब्राह्मण</td></tr>
    <tr id="VP"><td>VP.</td><td>Title</td><td>विष्णु-पुराण</td></tr>
    <tr id="VPra1t"><td>VPra1t.</td><td>Title</td><td>वाजसनेयि-संहिता-प्रातिशाख्य</td></tr>
    <tr id="VS"><td>VS.</td><td>Title</td><td>वाजसनेयि-संहिता</td></tr>
    <tr id="Va1gbh"><td>Va1gbh.</td><td>Title</td><td>वाग्भटालंकार</td></tr>
    <tr id="Va1kyap"><td>Va1kyap.</td><td>Title</td><td>वाक्यपदीय</td></tr>
    <tr id="Va1m"><td>Va1m.</td><td>Title</td><td>वामन 's  काव्यालंकारवृत्ति</td></tr>
    <tr id="Va1mP"><td>Va1mP.</td><td>Title</td><td>वामन-पुराण</td></tr>
    <tr id="Va1ra1hi1t"><td>Va1ra1hi1t.</td><td>Title</td><td>वाराहीतन्त्र</td></tr>
    <tr id="Va1s"><td>Va1s.</td><td>Title</td><td>वासवदत्ता</td></tr>
    <tr id="Va1sav"><td>Va1sav.</td><td>Title</td><td>वासवदत्ता</td></tr>
    <tr id="Va1sant"><td>Va1sant.</td><td>Title</td><td>वासन्तिका</td></tr>
    <tr id="Va1stuv"><td>Va1stuv.</td><td>Literary category</td><td>वास्तुविद्या</td></tr>
    <tr id="Va1tsya1y"><td>Va1tsya1y.</td><td>Author</td><td>वात्स्यायन</td></tr>
    <tr id="Va1tsy"><td>Va1tsy.</td><td>Author</td><td>वात्स्यायन</td></tr>
    <tr id="Va1yuP"><td>Va1yuP.</td><td>Title</td><td>वायु-पुराण</td></tr>
    <tr id="VahniP"><td>VahniP.</td><td>Title</td><td>वह्नि-पुराण</td></tr>
    <tr id="Vaidyaji1v"><td>Vaidyaji1v.</td><td>Title</td><td>वैद्यजीवन</td></tr>
    <tr id="Vait"><td>Vait.</td><td>Title</td><td>वैतान-सूत्र</td></tr>
    <tr id="Vajracch"><td>Vajracch.</td><td>Title</td><td>वज्रच्छेदिका</td></tr>
    <tr id="Vajras"><td>Vajras.</td><td>Title</td><td>वज्रसूचि</td></tr>
    <tr id="Vajr"><td>Vajr.</td><td>Title</td><td>वज्रसूचि</td></tr>
    <tr id="VarBr2"><td>VarBr2.</td><td>Title</td><td>वराह-मिहिर 's  बृहज्जातक</td></tr>
    <tr id="VarBr2S"><td>VarBr2S.</td><td>Title</td><td>वराह-मिहिर 's  बृहत्-संहिता</td></tr>
    <tr id="Var"><td>Var.</td><td>Author</td><td>वराह-मिहिर</td></tr>
    <tr id="VarP"><td>VarP.</td><td>Title</td><td>वराह-पुराण</td></tr>
    <tr id="Va1rP"><td>Va1rP.</td><td>Title</td><td>वराह-पुराण</td></tr>
    <tr id="Vallabh"><td>Vallabh.</td><td>Author</td><td>वल्लभ</td></tr>
    <tr id="VarYogay"><td>VarYogay.</td><td>Title</td><td>वराह-मिहिर 's  योगयात्रा</td></tr>
    <tr id="Vas"><td>Vas.</td><td>Author</td><td>वसिष्ठ</td></tr>
    <tr id="Vasantar"><td>Vasantar.</td><td>Title</td><td>वसन्तराज 's  शाकुन</td></tr>
    <tr id="Vcar"><td>Vcar.</td><td>Title</td><td>विक्रमाङ्कदेव-चरित , by  बिल्हण</td></tr>
    <tr id="Veda1ntas"><td>Veda1ntas.</td><td>Title</td><td>वेदान्तसार</td></tr>
    <tr id="Veda7ntap"><td>Veda7ntap.</td><td>Title</td><td>वेदान्तपरिभाषा</td></tr>
    <tr id="Veda7ntas"><td>Veda7ntas.</td><td>Title</td><td>वेदान्तसार</td></tr>
    <tr id="Veda7nt"><td>Veda7nt.</td><td>Title</td><td>वेदान्तसार</td></tr>
    <tr id="Vet"><td>Vet.</td><td>Title</td><td>वेताल-पञ्चविंशतिका</td></tr>
    <tr id="Ven2is"><td>Ven2is.</td><td>Title</td><td>वेणी-संहार</td></tr>
    <tr id="Vi1rac"><td>Vi1rac.</td><td>Title</td><td>वीरचरित</td></tr>
    <tr id="Viddh"><td>Viddh.</td><td>Title</td><td>विद्धशालभञ्जिका</td></tr>
    <tr id="Vidvanm"><td>Vidvanm.</td><td>Title</td><td>विद्वन्--मोद-तरंगिणी</td></tr>
    <tr id="Vikr"><td>Vikr.</td><td>Title</td><td>विक्रमोर्वशी</td></tr>
    <tr id="Vis3van"><td>Vis3van.</td><td>Author</td><td>विश्वनाथ  दैवज्ञ</td></tr>
    <tr id="Vishn2"><td>Vishn2.</td><td>Title</td><td>विष्णु-स्मृति ,  विष्णु-सूत्र ,  वैष्णव-धर्म-शास्त्र</td></tr>
    <tr id="Vishn2us"><td>Vishn2us.</td><td>Title</td><td>विष्णु-स्मृति ,  विष्णु-सूत्र ,  वैष्णव-धर्म-शास्त्र</td></tr>
    <tr id="Vop"><td>Vop.</td><td>Author</td><td>वोपदेव</td></tr>
    <tr id="Vpra1t"><td>Vpra1t.</td><td>Title</td><td>वाजसनेयि-संहिता-प्रातिशाख्य</td></tr>
    <tr id="Vr2ishabha1n"><td>Vr2ishabha1n.</td><td>Title</td><td>वृषभानुजा-नाटिका , by  मथुरा-दास</td></tr>
    <tr id="Vr2ishabha7n"><td>Vr2ishabha7n.</td><td>Title</td><td>वृषभानुजा-नाटिका , by  मथुरा-दास</td></tr>
    <tr id="Vr2ishabh"><td>Vr2ishabh.</td><td>Title</td><td>वृषभानुजा-नाटिका , by  मथुरा-दास</td></tr>
    <tr id="Vyavaha1rat"><td>Vyavaha1rat.</td><td>Title</td><td>व्यवहारतत्त्व</td></tr>
    <tr id="Vratapr"><td>Vratapr.</td><td>Title</td><td>व्रत-प्रकाश</td></tr>
    <tr id="W"><td>W.</td><td>Author</td><td>Horace H. Wilson</td></tr>
    <tr id="YA1jn5"><td>YA1jn5.</td><td>Author</td><td>याज्ञवल्क्य</td></tr>
    <tr id="Ya1jn5"><td>Ya1jn5.</td><td>Author</td><td>याज्ञवल्क्य</td></tr>
    <tr id="YajurV"><td>YajurV.</td><td>Literary category</td><td>यजुर्-वेद</td></tr>
    <tr id="Yogas"><td>Yogas.</td><td>Title</td><td>योग-सूत्र</td></tr>
    <tr id="Yogas3Up"><td>Yogas3Up.</td><td>Title</td><td>योगशिखा-उपनिषद्</td></tr>
    <tr id="S3ikhUp"><td>S3ikhUp.</td><td>Title</td><td>योगशिखा-उपनिषद्</td></tr>
    <tr id="YogatUp"><td>YogatUp.</td><td>Title</td><td>योगतत्त्व-उपनिषद्</td></tr>
    <tr id="Yogava1s"><td>Yogava1s.</td><td>Title</td><td>योगवासिष्ठ-सार</td></tr>
</table>

{% endblock %}