{% extends 'base-grammar.html' %}

{% block title %}ḷ and ḻ{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/ends">Odds and Ends</a> »</li>
<li><a href="/ends/sounds">Sounds</a> »</li>
<li>ḷ and ḻ</li>
</ul>
{% endblock %}

{% block content %}

<h1><span lang="sa">ḷ</span> and <span lang="sa">ḻ</span></h1>
<p>Here, we will study some of the rarer sounds in Sanskrit. We will also study a special Vedic consonant.</p>
<h2><span lang="sa">ḷ</span> and <span lang="sa">ḹ</span></h2>
<p><dfn lang="sa">ḷ</dfn> is the fifth and final short vowel. <span lang="sa">ḷ</span> is pronounced in many different ways, and the best advice I can give you is to take your best guess. Some common pronunciations are <span lang="sa">li</span> and <span lang="sa">lri</span>.</p>
<p><span lang="sa">ḷ</span> appears in a single verb root: <dfn lang="sa">kḷp</dfn> (<span lang="sa">kalpate</span>). The verb has many meanings, including "be ready for," "happen," "prepare," "cause," "create," "declare," "help somebody in obtaining something," and "perform." As far as I know, it occurs nowhere else in the Sanskrit language.</p>
<p>If <span lang="sa">ḷ</span>, is rare, <dfn lang="sa">ḹ</dfn> is even rarer: it appears in <strong>no Sanskrit works</strong> at all! <span lang="sa">ḹ</span> is an "artificial" sound that the old Sanskrit grammarians invented, probably to create a parallel to <span lang="sa">ṝ</span>.</p>
<h3>Devanagari</h3>
<dl class="blue letters">
<dt class="title">देवनागरी</dt><dd class="title">IAST</dd>
<dt>ऌ</dt><dd>ḷ</dd>
<dt>कॢ</dt><dd>kḷ</dd>
<dt>ॡ</dt><dd>ḹ</dd>
<dt>कॣ</dt><dd>kḹ</dd>
</dl>
<h3>Vowel Strength</h3>
<p><span lang="sa">ḷ</span> follows the pattern of <span lang="sa">ṛ</span>.</p>
<table class="blue" lang="sa">
<tr lang="en"><th>Weak</th><th>Medium</th><th>Strong</th><th>Semivowel</th></tr>
<tr><td>ṛ, ṝ</td><td>ar</td><td>ār</td><td>r</td></tr>
<tr><td>ḷ</td><td>al</td><td>āl</td><td>l</td></tr>
</table>
<h2><span lang="sa">ḻ</span></h2>
<p>The consonant <dfn lang="sa">ḻ</dfn> occurs in <strong>Vedic Sanskrit only</strong>. <span lang="sa">ḻ</span> is an alternate version of <span lang="sa">ḍ</span>, and it is used only when <span lang="sa">ḍ</span> appears between two vowels. Likewise, <span lang="sa">ḍh</span> becomes <span lang="sa">ḻh</span>.</p>
<p>Both of these consonants are retroflex consonants.</p>
<h3>Devanagari</h3>
<dl class="blue letters">
<dt class="title">देवनागरी</dt><dd class="title">IAST</dd>
<dt>ळ</dt><dd>ḻa</dd>
<dt>ळ्ह</dt><dd>ḻha</dd>
</dl>
<ul class="examples">
<li><p class="dev">अग्निमीडे → अग्निमीळे</p>
<p lang="sa">agnimīḍe → agnimīḻe</p>
<p>I laud Agni. <cite>Rigveda 1.1.1</cite></p>
</li>
</ul>

{% endblock %}

