{% extends 'base-grammar.html' %}

{% block title %}Causal Verbs{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/verbs">Verbs</a> »</li>
<li><a href="/verbs/derived">Derived Verbs</a> »</li>
<li>Causal Verbs</li>
</ul>
{% endblock %}

{% block content %}

<h1>Causal Verbs</h1>
<h2>Introduction</h2>
<p>In Sanskrit, it is easy to describe when something is <strong>caused</strong> to do some action.</p>
<ul class="sa examples">
<li><p class="dev">नरो गजं <strong>गमयति</strong></p>
<div lang="sa">naro gajaṃ <strong>gamayati</strong></div>
<div>The man <strong>causes</strong> the elephant <strong>to go</strong>.</div></li>
</ul>
<p>This "causing" is expressed in the verb itself. Here, the root <span lang="sa">gam</span> produces the <dfn>causal</dfn> form <span lang="sa">gamayati</span>. In this lesson, we will study the causal verbs and learn how to form them.</p>
<h2>Forming the causal root</h2>
<p>All causal verbs use a special root, which we can call the <dfn>causal root</dfn>. Once the causal root is produced, we can create a causal verb using normal endings.</p>
<p>To produce the causal root, we strengthen the original root vowel to the medium level.</p>
<ul class="examples">
<li><p class="dev">शुभ् → शोभयति</p>
<p lang="sa">śubh → śobhayati</p>
<p>shine → cause to shine</p>
</li>
</ul>
<p> But if the vowel ends the root, then the vowel becomes strong.</p>
<ul class="examples">
<li><p class="dev">कृ → कार्</p>
<p lang="sa">kṛ → kār</p>
<p>do → cause to do</p>
</li>
</ul>
<p>Also, the root vowel becomes strong if the root is of the form <span lang="sa">*a*</span>, where <dfn>*</dfn> represents a consonant. One important exception to this rule is <span lang="sa">gam</span>, whose causal form is still <span lang="sa">gam</span>.</p>
<ul class="sa examples">
<li><p class="dev">हस् → हास्</p>
<p lang="sa">has → hās</p>
<p>smile → cause to smile</p></li>
<li><p class="dev">गम् → गम्</p>
<p lang="sa">gam → gam</p>
<p>go → cause to go</p></li>
</ul>
<p>Verbs ending in <span lang="sa">ā</span> usually have <span lang="sa">p</span> attached to them. Rarely, <span lang="sa">y</span> is used instead.</p>
<ul class="sa examples">
<li><p class="dev">स्था → स्थाप्</p>
<p lang="sa">sthā → sthāp</p>
<p>stand → cause to stand</p></li>
<li><p class="dev">गै → गाप्</p>
<p lang="sa">gai → gāp</p>
<p>sing → cause to sing</p>
<p class="aside">Note that the root vowel changes to <span lang="sa">ā</span>.</p></li>
<li><p class="dev">पा → पाय्</p>
<p lang="sa">pā → pāy</p>
<p>drink → cause to drink</p></li>
</ul>
<p>In almost every instance, a causal verb is immediately recognizable. Keep the patterns above in mind, but don't dwell on them too long.</p>
<h2>Using a causal verb</h2>
<p>With the rare exception, all causal roots are used like <strong><span lang="sa">aya</span>-class <span lang="sa">parasmaipada</span></strong> roots in all contexts, and they can be used wherever an <span lang="sa">aya</span>-class verb can be used.</p>
<ul class="sa examples">
<li><p class="dev">राजा नरं क्षेत्रं गमयति</p>
<p lang="sa">rājā naraṃ kṣetraṃ gamayati</p>
<p>The king causes the man to go to the field.</p></li>
<li><p class="dev">अस्तंगमितमहिमा</p>
<p lang="sa">astaṃ-gamita-mahimā</p>
<p>He whose glory was caused to decline.</p>
<p class="aside">Note that the PPP uses <span lang="sa">ita</span>, like all verbs in the <span lang="sa">-aya</span> class do.</p></li>
</ul>
<p>The person who does the causing is in case 1, and the person who is caused to do something is in case 2. The object of the original verb, however, remains in case 2.</p>
<p class="note box">Causal forms can sometimes create ambiguity. For example, <span lang="sa">gamyate</span> can mean both "It is gone (to)" and "It is caused to go." Context will usually be enough to let you know which interpretation to use.</p>
<h2>Special meanings of causal verbs</h2>
<p>Causal verbs can be used figuratively to create new verbs. Thus <span lang="sa">gamayati</span>, which literally means "He causes to go," more metaphorically means "He leads," "He brings," or "He impels." Simalarly, <span lang="sa">śrāvayati</span>, from <span lang="sa">śru</span>, literally means "He causes to hear" and more metaphorically means "He tells."</p>

{% endblock %}

