{% extends 'base-grammar.html' %}

{% block title %}-a, -i, and -u Nouns{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/verbs">Verbs</a> »</li>
<li><a href="/verbs/nouns">Vowel Nouns, Part 2</a> »</li>
<li>-a, -i, and -u Nouns</li>
</ul>
{% endblock %}

{% block content %}

<h1><span lang="sa">-ā</span>, <span lang="sa">-ī</span>, and <span lang="sa">-ū</span> nouns</h1>
<p>Stems that end in <dfn lang="sa">-ā</dfn>, <dfn lang="sa">-ī</dfn>, and <dfn lang="sa">-ū</dfn> are almost always feminine. They follow the pattern of the feminine pronoun, which we will also study here. Since the <span lang="sa">-ū</span> stems are the most regular and the <span lang="sa">-ā</span> stems are the least regular, we will study them in reverse order:</p>
<h2><span lang="sa">-ū</span> stems</h2>
<p>Among the three stem types above, the <span lang="sa">-ū</span> stems are the most regular. Here is how they behave:</p>
{% include 'include/charts/d-uu.html' %}
<p>The dual endings are completely regular. The plural endings are mostly regular. The exception is the <strong>case 2 plural</strong> ending, which is just <span lang="sa">ḥ</span>.</p>
<p>The singular endings are trickier:</p>
<div class="rule box">
<ul>
<li><span lang="sa">e</span> (case 4 singular) → <span lang="sa">ai</span></li>
<li><span lang="sa">aḥ</span> (case 5/6 singular) → <span lang="sa">āḥ</span></li>
<li><span lang="sa">i</span> (case 7 singular) → <span lang="sa">ām</span></li>
</ul>
</div>
<p>Note that the <strong>case 1 singular</strong> uses a <span lang="sa">visarga</span>. Note, too, that the <strong>case 8 singular</strong> uses a short vowel. And, note that <span lang="sa">mv</span> is written as <span lang="sa">ṃv</span>.</p>
<h2><span lang="sa">-ī</span> stems</h2>
<p>the <span lang="sa">-ī</span> stems are almost as regular as the <span lang="sa">-ū</span> stems. Here is how they behave:</p>
{% include 'include/charts/d-ii.html' %}
<p>The endings here are the same as the ones above. But, note that the case 1 singular does <strong>not</strong> use a <span lang="sa">visarga</span>.</p>
<h2><span lang="sa">-ā</span> stems</h2>
<p>The <span lang="sa">-ā</span> stems are still quite regular, but they do have some odd features:</p>
{% include 'include/charts/d-aa.html' %}
<p>The plural endings follow the pattern of the nouns above. The singular and dual forms, however, are much trickier. The difference is in the stem used:</p>
<div class="rule box">
<ul>
<li><span lang="sa">vidyay</span> (case 3 singular; case 6/7 dual)</li>
<li><span lang="sa">vidyāy</span> (case 4-7 singular)</li>
</ul>
</div>
<p>Also note the use of the <dfn lang="sa">-e</dfn> ending, which appears in both the singular and the dual.</p>
<h2>The feminine <span lang="sa">tad</span></h2>
<p>The feminine version of <span lang="sa">tad</span> is nearly identical to the <span lang="sa">-ā</span> stems:</p>
{% include 'include/charts/d-tad-f.html' %}
<p>As before, there are multiple stems:</p>
<div class="rule box">
<ul>
<li><span lang="sa">tay</span> (case 3 singular; case 6/7 dual)</li>
<li><span lang="sa">tasy</span> (case 4-7 singular)</li>
</ul>
</div>
<p>As before, the <span lang="sa">-e</span> ending appears in the dual. The one major difference is that the <strong>case 6 plural</strong> is <span lang="sa">tāsām</span>, <strong>not</strong> <span lang="sa">*tānām</span></p>
{% endblock %}

