{% extends 'base-grammar.html' %}

{% block title %}The Recent Past Tense{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/ends">Odds and Ends</a> »</li>
<li><a href="/ends/verbs">Verbs and Participles</a> »</li>
<li>The Recent Past Tense</li>
</ul>
{% endblock %}

{% block content %}

<h1>The Recent Past Tense</h1>
<p class="alternatives">Also known as: the aorist, <span lang="sa">(adyatana) bhūta</span> ("past action (of today)"), <span lang="sa">luṅ</span></p>
<h2>Introduction</h2>
<p>In theory, the <dfn>recent past tense</dfn> discusses actions that happened within a day or two of the speaker.</p>
<ul class="examples">
<li><p class="dev"><strong>अश्रौषम्</strong></p>
<p lang="sa"><strong>aśrauṣam</strong></p>
<p>I just heard.</p>
</li>
</ul>
<p>At least, that is the distinction in theory. In practice, the difference between this tense and the ordinary past tense is not clear. Even Panini says that the barrier between them changes from community to community. And as for later Sanskrit, M. R. Kale has this to say:</p>
<blockquote cite="A Higher Sanskrit Grammar ss. 925">
<p>In Sanskrit, there are three tenses denoting a past action, <i>viz.</i> the Imperfect [ordinary past tense], the Perfect [distant past tense], and the Aorist [recent past tense]. Originally each of these three tenses had a signification of its own and was used in its proper sense in ancient writings. After Sanskrit ceased to be a spoken language the exact senses of these tenses were lost sight of and writers began to use them promiscuously, so that now <strong>any of these may be used to denote past time</strong> with certain limitations. <cite>A Higher Sanskrit Grammar, paragraph 925 (emphasis added</cite></p>
</blockquote>
<p>Because of the "nearness" of the verb, the recent past tense often has the sense of <strong>an action just completed</strong>. Thus "I have heard" is an equally valid translation of the example above.</p>
<h2>Forming the stem of the recent past tense</h2>
<p>The recent past tense uses a special and irregular stem. This stem is formed by one of seven patterns. It is difficult to predict which pattern a verb root will follow. Some example stems are below.</p>
<table class="blue">
<tr><th>Type</th><th>Vowel change</th><th>Example</th></tr>
<tr><td>root</td><td>none</td><td lang="sa">bhū → bhū</td></tr>
<tr><td>vowel</td><td>none</td><td lang="sa">gam → gama</td></tr>
<tr><td>doubled</td><td>none</td><td lang="sa">naś → nīnaśa</td></tr>
<tr><td lang="sa">s</td><td></td><td class="dev"></td></tr>
<tr><td lang="sa">sa</td><td>strong</td><td lang="sa">śru → śrauṣ</td></tr>
<tr><td lang="sa">siṣ</td><td></td><td lang="sa">hā → hāsiṣ</td></tr>
<tr><td lang="sa">ṣī</td><td>strong</td><td lang="sa">bhī → bhaiṣī</td></tr>
</table>
<p>These stems are used as if they were in the ordinary past tense; that is, they use both the ordinary past tense endings and the <span lang="sa">a-</span> prefix of the ordinary past tense.</p>
<h2>Past tense verbs without the <span lang="sa">a-</span> prefix</h2>
<p>When the <span lang="sa">a-</span> prefix is removed, verbs in the ordinary and recent past tenses can express wishes, hopes, or hypothetical situations. This verb form most often appears in the Vedas, so we will not study much of it; but, it is often used to give strong commands. In this usage, the verb is usually used after the words <dfn lang="sa">mā sma</dfn>, which translate roughly to "do not ever."</p>
<ul class="sa examples">
<li><p class="dev">क्लैब्यं मा स्म गमः पार्थ</p>
<p lang="sa">klaibyaṃ mā sma gamaḥ pārtha</p>
<p>You must not ever go to cowardice, O Son of <span lang="sa">pṛthā</span> (O Arjuna). <cite>Bhagavad Gita 2.3</cite></p></li>
<li><p class="dev">माहं ब्रह्म निराकुर्यां मा मा ब्रह्म निराकरोत्</p>
<p lang="sa">māhaṃ brahma nirākuryāṃ mā mā brahma nirākarot</p>
<p>Let me not denounce Brahman; let Brahman not denounce me. <cite>Upanishads (various)</cite></p>
<p>(Here, the first verb is in the option mood.)</p></li>
</ul>
<p></p>

{% endblock %}

