{% extends 'base-grammar.html' %}

{% block title %}Exercises: Adjectives{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/start">Starting Out</a> »</li>
<li><a href="/start/nouns">Noun Basics</a> »</li>
<li>Exercises: Adjectives</li>
</ul>
{% endblock %}

{% block content %}

<h1>Exercises: Adjectives</h1>
<h2>Vocabulary</h2>
<p>Adjectives are marked with the term <dfn>mfn</dfn>, which stands for "masculine, feminine, or neuter." This term emphasizes that an adjective can describe a word in any gender.</p>
<dl class="vocab">
<dt>सुन्दर<div lang="sa">sundara</div></dt><dd>mfn<dd>beautiful</dd>
<dt>श्वेत<div lang="sa">śveta</div></dt><dd>mfn<dd>white <span class="etym">[<a href="http://www.etymonline.com/index.php?term=white">white</a>]</span></dd>
<dt>कृष्ण<div lang="sa">kṛṣṇa</div></dt><dd>mfn<dd>black</dd>
<dt>प्रिय<div lang="sa">priya</div></dt><dd>mfn<dd>beloved, dear <span class="etym">[friend]</span></dd>
<dt>नील<div lang="sa">nīla</div></dt><dd>mfn<dd>dark blue</dd>
</dd></dd></dd></dd></dd></dl>
<h2>Sandhi</h2>
<p>Below, you will find a few phrases from the previous lesson. All of their sandhi changes have been remomved. Fix the phrases by applying all of the sandhi rules we've studied so far. Not all phrases will need to be changed.</p>
<ul class="drill exercises" lang="sa">
<li><p class="dev">वृकः बालान् नयति</p><p>vṛkaḥ bālān nayati</p></li>
<li><p class="dev">शशः अस्मान् स्मरति</p><p>śaśaḥ asmān smarati</p></li>
<li><p class="dev">गजः अस्मान् चरति</p><p>gajaḥ asmān carati</p></li>
<li><p class="dev">नरः तान् लभते</p><p>naraḥ tān labhate</p></li>
<li><p class="dev">वीरः युष्मान् जयति</p><p>vīraḥ yuṣmān jayati</p></li>
<li><p class="dev">शशः तान् इच्छति</p><p>śaśaḥ tān icchati</p></li>
<li><p class="dev">नरः तान् गच्छति</p><p>naraḥ tān gacchati</p></li>
<li><p class="dev">सः बालान् विन्दति</p><p>saḥ bālān vindati</p></li>
<li><p class="dev">बालाः गजांस् तुदन्ति</p><p>bālāḥ gajāṃs tudanti</p></li>
<li><p class="dev">नरः अस्मान् शोचति</p><p>naraḥ asmān śocati</p></li>
</ul>

<h2>Translation</h2>
<p>Translation from English to Sanskrit. Use the "subject-object-verb" order. Put adjectives in front of the nouns they describe and in the order that they're mentioned in the exercise.</p>
<ul class="drill exercises">
<li><p>The beautiful white horse goes to the blue rabbits.</p></li>
<li><p>That beautiful man goes to the black lion.</p></li>
<li><p>I see those two beloved heroes.</p></li>
<li><p>The white one strikes the black elephant.</p></li>
<li><p>The beautiful black one becomes confused.</p></li>
<li><p>The boys go to the black one.</p></li>
</ul>
<h2>Answers</h2>
<h3>Sandhi</h3>
<ul class="drill exercises" lang="sa">
<li><p class="dev">वृको बालान् नयति</p><p>vṛko bālān nayati</p></li>
<li><p class="dev">शशो ऽस्मान् स्मरति</p><p>śaśo 'smān smarati</p></li>
<li><p class="dev">गजो ऽस्मांश् चरति</p><p>gajo 'smāṃś carati</p></li>
<li><p class="dev">नरस् ताँल् लभते</p><p>naras tām̐l labhate</p></li>
<li><p class="dev">वीरो युष्माञ् जयति</p><p>vīro yuṣmāñ jayati</p></li>
<li><p class="dev">शशस् तान् इच्छति</p><p>śaśas tān icchati</p></li>
<li><p class="dev">नरस् तान् गच्छति</p><p>naras tān gacchati</p></li>
<li><p class="dev">स बालान् विन्दति</p><p>sa bālān vindati</p></li>
<li><p class="dev">बाला गजांस् तुदन्ति</p><p>bālā gajāṃs tudanti</p></li>
<li><p class="dev">नरो ऽस्माञ् शोचति</p><p>naro 'smāñ śocati</p></li>
</ul>
<h3>Translation</h3>
<ul class="drill exercises" lang="sa">
<li><p class="dev">सुन्दरः श्वेतो ऽश्वो नीलं शशं गच्छति</p><p>sundaraḥ śveto 'śvo nīlaṃ śaśaṃ gacchati</p></li>
<li><p class="dev">स सुन्दरो नरः कृष्णं सिंहं गच्छति</p><p>sa sundaro naraḥ kṛṣṇaṃ siṃhaṃ gacchati</p></li>
<li><p class="dev">अहं तौ प्रियौ वीरौ पश्यामि</p><p>ahaṃ tau priyau vīrau paśyāmi</p></li>
<li><p class="dev">श्वेतः कृष्णं गजं तुदति</p><p>śvetaḥ kṛṣṇaṃ gajaṃ tudati</p></li>
<li><p class="dev">सुन्दरः कृष्णो मुह्यति</p><p>sundaraḥ kṛṣṇo muhyati</p></li>
<li><p class="dev">बालाः कृष्णं गच्छन्ति</p><p>bālāḥ kṛṣṇaṃ gacchanti</p></li>
</ul>

{% endblock %}

