{% extends 'base-grammar.html' %}

{% block title %}Complex Verb Classes{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/references">References</a> »</li>
<li><a href="/references/verbs">Verbs</a> »</li>
<li>Complex Verb Classes</li>
</ul>
{% endblock %}

{% block content %}

<h1>Complex Verb Classes</h1>
<p class="alternatives">Also known as: athematic verb classes</p>
<h2>Stem Formation</h2>
<table class="blue">
<tr><th>Verb class</th><th>Strong stem</th><th>Weak stem</th></tr>
<tr><td>root</td><td>medium-strengthened root</td><td>root</td></tr>
<tr><td lang="sa">na</td><td>root with inserted <span lang="sa">na</span></td><td>root with inserted <span lang="sa">n</span></td></tr>
<tr><td lang="sa">no</td><td>root + <span lang="sa">no</span></td><td>root + <span lang="sa">nu</span></td></tr>
<tr><td lang="sa">o</td><td>root + <span lang="sa">o</span></td><td>root + <span lang="sa">u</span></td></tr>
<tr><td lang="sa">nā</td><td>root + <span lang="sa">nā</span></td><td>root + <span lang="sa">nī</span></td></tr>
<tr><td>doubling</td><td>doubled sound + medium-strengthened root</td><td>doubled sound + root</td></tr>
</table>
<p>The charts below will use <span lang="sa">no</span>-class verb <span lang="sa">su</span>.</p>
<h2>Present Tense</h2>
<h3><span lang="sa">parasmaipada</span></h3>
{% include 'include/charts/c-su-pres-p.html' %}<h3><span lang="sa">ātmanepada</span></h3>
{% include 'include/charts/c-su-pres-a.html' %}
<h2>Ordinary Past Tense</h2>
<h3><span lang="sa">parasmaipada</span></h3>
{% include 'include/charts/c-su-past-p.html' %}<h3><span lang="sa">ātmanepada</span></h3>
{% include 'include/charts/c-su-past-a.html' %}
<h2>Command Mood</h2>
<h3><span lang="sa">parasmaipada</span></h3>
{% include 'include/charts/c-su-comm-p.html' %}<h3><span lang="sa">ātmanepada</span></h3>
{% include 'include/charts/c-su-comm-a.html' %}
<h2>Option Mood</h2>
<h3><span lang="sa">parasmaipada</span></h3>
{% include 'include/charts/c-su-opt-p.html' %}<h3><span lang="sa">ātmanepada</span></h3>
{% include 'include/charts/c-su-opt-a.html' %}
{% endblock %}

