{% extends 'base-grammar.html' %}

{% block title %}Complex Verb Classes{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/references">References</a> »</li>
<li><a href="/references/verbs">Verbs</a> »</li>
<li>Complex Verb Classes</li>
</ul>
{% endblock %}

{% block content %}

<h1>Complex Verb Classes</h1>
<p class="alternatives">Also known as: athematic verb classes</p>
<h2>Stem Formation</h2>
<table class="blue">
<tr><th>Verb class</th><th>Strong stem</th><th>Weak stem</th></tr>
<tr><td>root</td><td>medium-strengthened root</td><td>root</td></tr>
<tr><td lang="sa">na</td><td>root with inserted <span lang="sa">na</span></td><td>root with inserted <span lang="sa">n</span></td></tr>
<tr><td lang="sa">no</td><td>root + <span lang="sa">no</span></td><td>root + <span lang="sa">nu</span></td></tr>
<tr><td lang="sa">o</td><td>root + <span lang="sa">o</span></td><td>root + <span lang="sa">u</span></td></tr>
<tr><td lang="sa">nā</td><td>root + <span lang="sa">nā</span></td><td>root + <span lang="sa">nī</span></td></tr>
<tr><td>doubling</td><td>doubled sound + medium-strengthened root</td><td>doubled sound + root</td></tr>
</table>
<p>The charts below will use <span lang="sa">no</span>-class verb <span lang="sa">su</span>.</p>
<h2>Present Tense</h2>
<h3><span lang="sa">parasmaipada</span></h3>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/c-su-pres-p.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/c-su-pres-p.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><h3><span lang="sa">ātmanepada</span></h3>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/c-su-pres-a.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/c-su-pres-a.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div>
<h2>Ordinary Past Tense</h2>
<h3><span lang="sa">parasmaipada</span></h3>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/c-su-past-p.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/c-su-past-p.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><h3><span lang="sa">ātmanepada</span></h3>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/c-su-past-a.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/c-su-past-a.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div>
<h2>Command Mood</h2>
<h3><span lang="sa">parasmaipada</span></h3>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/c-su-comm-p.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/c-su-comm-p.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><h3><span lang="sa">ātmanepada</span></h3>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/c-su-comm-a.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/c-su-comm-a.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div>
<h2>Option Mood</h2>
<h3><span lang="sa">parasmaipada</span></h3>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/c-su-opt-p.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/c-su-opt-p.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><h3><span lang="sa">ātmanepada</span></h3>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/c-su-opt-a.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/c-su-opt-a.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div>
{% endblock %}

