{% extends 'base-grammar.html' %}

{% block title %}Exercises: "Not" and "With"{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/start">Starting Out</a> »</li>
<li><a href="/start/words">Making Words</a> »</li>
<li>Exercises: "Not" and "With"</li>
</ul>
{% endblock %}

{% block content %}

<h1>"Not" and "With"</h1>
<h2>Vocabulary</h2>
<dl class="vocab">
<dt>शर<div lang="sa">śara</div></dt><dd>m<dd>arrow</dd>
<dt>चाप<div lang="sa">cāpa</div></dt><dd>mn<dd>bow</dd>
<dt>अक्ष<div lang="sa">akṣa</div></dt><dd>m<dd>eye; <a href="http://en.wikipedia.org/wiki/Dice">a die</a></dd>
<dd><dl>
<dt>साक्षात्<div lang="sa">sākṣāt</div></dt><dd>uninflected<dd>before the eyes
		<dd class="desc">The original word here is <span lang="sa">sākṣa</span> (from <span lang="sa">sa-akṣa</span>), but it is always used in the singular of case 5.
</dd>
</dd></dd></dl>
<dt>मित्र<div lang="sa">mitra</div></dt><dd>mn<dd>friend; <a href="http://en.wikipedia.org/wiki/Mitra_(Vedic)">Mitra</a></dd>
</dd></dd></dd></dd></dd></dl>
<h2>Translation</h2>
<p>Translate from Sanskrit to English.</p>
<ul class="exercises" lang="sa">
<li><p class="dev">(विशृजति) शषरं चापम्</p><p>(viśṛjati) śaṣaraṃ cāpam</p></li>
</ul>
<h2>Answers</h2>
<h3>Translation</h3>
<ul class="exercises">
<li><p>(He casts away) his bow with its arrow. <cite>Bhagavad Gita 1.47 (adapted)</cite></p>
<p class="aside">This is from the last verse of chapter 1. In despair at the thought of fighting the people he loves, Arjuna casts away his weapons.</p></li>
</ul>

{% endblock %}

