{% extends 'base-grammar.html' %}

{% block title %}-i and -u Nouns{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/verbs">Verbs</a> »</li>
<li><a href="/verbs/nouns">Vowel Nouns, Part 2</a> »</li>
<li>-i and -u Nouns</li>
</ul>
{% endblock %}

{% block content %}

<h1><span lang="sa">-i</span> and <span lang="sa">-u</span> Nouns</h1>
<p>Now we'll study the nouns that end in <dfn lang="sa">-i</dfn> and <dfn lang="sa">-u</dfn>. These nouns appear in all three genders. Except for a single ending, the <span lang="sa">-i</span> stems and <span lang="sa">-u</span> stems have completely parallel endings.</p>
<h2>Masculine</h2>
<p>Take a look at the endings below. They're a mix of the normal noun endings and the <span lang="sa">-a</span> noun endings. What makes them distinct is that the noun stem's final vowel is occasionally strengthened.</p>
{% include 'include/charts/d-i-m.html' %}{% include 'include/charts/d-u-m.html' %}
<h2>Feminine</h2>
<p>The feminine nouns use the same endings as the masculine nouns. But, the singular forms sometimes use the <span lang="sa">-ī</span> and <span lang="sa">-ū</span> endings.</p>
{% include 'include/charts/d-i-f.html' %}{% include 'include/charts/d-u-f.html' %}
<h2>Neuter</h2>
<p>The neuter nouns actually use the regular consonant endings. But, the <span lang="sa">-i</span> singular acts as if the stem is actually <span lang="sa">-in</span>. The <span lang="sa">-u</span> singular behaves in a parallel way.</p>
{% include 'include/charts/d-i-n.html' %}{% include 'include/charts/d-u-n.html' %}

{% endblock %}

