{% if not standalone %}{% extends 'guide/lesson.html' %}{% endif %}

{% block lesson %}
<p>Just as simple tin and copper can combine to make bronze, two vowels can combine to make a <dfn>compound</dfn> vowel.</p>

<p>Compound vowels vowels are a crucial part of Sanskrit and are used in simple but powerful ways. But for now, let us just pronounce them.</p>

<h2>The vowels</h2>
<p>Sanskrit has four compound vowels. Each is a <strong>long</strong> vowel. And each is made by a different combination.</p>

<p>Since the compound vowels are combinations of two vowels, they are <strong>similar to nothing</strong>.</p>

<h3>{{ 'a/A'|i }} + simple vowel</h3>
<p>Consider the combinations {{ 'a'|i }} + {{ 'i'|i }} and {{ 'a'|i }} + {{ 'u'|i }}. These combine in an obvious way:</p>

<ul class="examples">
    {{ ex('a + i -> ai', dev=false, iast=true) }}
    {{ ex('a + u -> au', dev=false, iast=true) }}
</ul>

<p>But it can be tiresome to keep these two sounds separate. So, the early Sanskrit speakers blended the two sounds into something a little easier:</p>

<ul class="grid-2 letters">
    {{ sound('e', '"a" in "mane"') }}
    {{ sound('o', '"o" in "go"') }}
</ul>

<p>The other combinations ({{ 'aI, Ai, AI, aU, Au, AU'|i }}) blend in the same way.</p>

<p>As you pronounce {{ 'e'|i }} and {{ 'o'|i }}, try to make the sound "flat" and constant. If you are a native English speaker, this can be hard; English "e" sounds like Sanskrit {{ 'ei'|i }} and English "o" sounds like Sanskrit {{ 'ou'|i }}.</p>

<p>For now, let's ignore combinations with {{ 'R'|i }} and {{ 'RR'|i }}.</p>

<h3>{{ 'a/A'|i }} + compound vowel</h3>
<p>Consider the combinations {{ 'a + e'|i }} and {{ 'a + o'|i }}. These combinations are not obvious. But if we remember that {{ 'e'|i }} comes from {{ 'a + i'|i }} and that {{ 'o'|i }} comes from {{ 'a + u'|i }}, they become easy:</p>

<ul class="examples">
    {{ ex('a + ai -> Ai', dev=false, iast=true) }}
    {{ ex('a + au -> Au', dev=false, iast=true) }}
</ul>

<p>But it can be tiresome to spend so much time pronouncing a vowel. So, the early Sanskrit speakers made the {{ 'A'|i }} sound a little shorter:</p>

<ul class="grid-2 letters">
    {{ sound('ai', '"i" in "fight"') }}
    {{ sound('au', '"ow" in "cow"') }}
</ul>

<p>The other combinations ({{ 'Ae, Ao'|i }}) blend in the same way.</p>

<p>Can we combine {{ 'ai'|i }} and {{ 'au'|i }} with anything? We can try:</p>

<ul class="examples">
    {{ ex('a + ai -> Ai', dev=false, iast=true) }}
    {{ ex('a + au -> Au', dev=false, iast=true) }}
</ul>

<p>But they shorten back to {{ 'ai'|i }} and {{ 'au'|i }}, with no changes. The other combinations ({{ 'A+ai, A+au'|i }}) do the same.</p>

<p>As you pronounce {{ 'ai'|i }} and {{ 'au'|i }}, try to make the "a" part of {{ 'ai'|i }} and {{ 'au'|i }} sound just like the vowel {{ 'a'|i }}. The shorter it is, the better.</p>

<h2>Blending compound vowels</h2>

<p>When two vowels are similar, they blend easily:</p>

<ul class="examples">
    {{ ex('bAlAya Aha -> bAlAyAha', 'He spoke for the boy.', iast=true) }}
    {{ ex('gacchati IzvaraH -> gacchatIzvaraH', 'The lord goes.', iast=true) }}
</ul>

<p>And if they are not similar, they still blend easily. {{ 'a'|i }} and {{ 'A'|i }} combine like they do above:</p>

<ul class="examples">
    {{ ex('sA icchati -> secchati', 'She wants.', iast=true) }}
    {{ ex('tasya udakam -> tasyodakam', 'his water', iast=true) }}
    {{ ex('bAlasya odanam -> bAlasyaudanam', "the boy's rice", iast=true)}}
    {{ ex('tasya aizvaryam  -> tasyaizvaryam', "his power", iast=true)}}
</ul>

<p>In the last example, note that {{ 'a + ai'|i }} combine with no change. Also, remember that nothing is similar to a compound vowel.</p>

<h3>In the wild</h3>
<p>Try to blend the words in the phrases below:</p>

<ul class="examples">
    {{ ex('pazya etAm', iast=true) }}
    {{ ex('hatvA etAn', iast=true) }}
    {{ ex('sakhA iti matvA', iast=true) }}
    {{ ex('ca oSadhIH', iast=true) }}
    {{ ex('na asad AsIn na u sad AsIt', iast=true) }}
</ul>

<p>These words blend as you would expect:</p>

<ul class="examples">
    {{ ex('pazyaitAm', 'Look at this (army of the Pandavas, O master).', cite='<cite>Bhagavad Gita</cite> 1.3', iast=true) }}
    {{ ex('hatvaitAn', 'Having killed them, &hellip;', cite='<cite>Bhagavad Gita</cite> 1.36', iast=true) }}
    {{ ex('sakheti matvA', 'Thinking (of you) as a friend, &hellip;', cite='<cite>Bhagavad Gita</cite> 11.41', iast=true) }}
    {{ ex('cauSadhIH', 'And (I nourish all) the plants.', iast=true, cite='<cite>Bhagavad Gita</cite> 15.13') }}
    {{ ex('nAsad AsIn no sad AsIt', 'Then there was neither nothing nor anything.', cite='<cite>Nāsadīya Sūkta</cite>', iast=true) }}
</ul>
{% endblock %}
