{% extends 'guide/unit.html' %}

{% block article %}
<p>Every language is spoken with its own group of basic <dfn>sounds</dfn>. Sanskrit is the same way. But unlike most other languages, Sanskrit requires total mastery of its different sounds. These sounds shift, blend, and transform constantly, and unless you are very familiar with them, Sanskrit will be difficult to understand.</p>

<p>Fortunately, the Sanskrit sound system is easy to master. It has remained nearly the same for thousands of years, and we know almost exactly how Sanskrit once sounded.</p>

<p>This material sets the stage for the rest of the guide. So if you have any doubts about what is correct, <a href="{{ url_for('site.contact') }}">let us know about them</a> or consult the knowledgeable people around you.</p>

{% include 'guide/include/start-unit.html' %}

{% endblock %}
