{% extends 'guide/lesson.html' %}

{% block lesson %}
<h2>Sounds and letters</h2>
<p>When most people think of written Sanskrit, they think of <dfn>Devanagari</dfn>:</p>

<ul class="examples">
    {{ ex('tejasvi nAvadhItamastu', 'May our studies be glorious.', cite='<cite>Upanishads</cite> (various)', iast=false) }}
</ul>

<p>But although Devanagari is standard now, it wasn't always. Historically, every Indian script has been used to write Sanskrit:</p>

<ul class="examples">
    <li>{{ 'tejasvi nAvadhItamastu'|d(to='bengali') }}</li>
    <li>{{ 'tejasvi nAvadhItamastu'|d(to='gujarati') }}</li>
    <li>{{ 'tejasvi nAvadhItamastu'|d(to='gurmukhi') }}</li>
    <li>{{ 'tejasvi nAvadhItamastu'|d(to='kannada') }}</li>
    <li>{{ 'tejasvi nAvadhItamastu'|d(to='malayalam') }}</li>
    <li>{{ 'tejasvi nAvadhItamastu'|d(to='oriya') }}</li>
    <li>{{ 'tejasvi nAvadhItamastu'|d(to='tamil') }}</li>
    <li>{{ 'tejasvi nAvadhItamastu'|d(to='telugu') }}</li>
</ul>

<p>This fact is deeply connected to the Sanskrit tradition, which has always valued speech over writing. Even when writing was abundant and widely known, the Vedas and other important texts were learned from the mouth of a teacher and memorized so that they could be taught later on. And although it is weaker now, this tradition has survived to the present day. This emphasis on speech over writing helps to explain why words are blended in so many Sanskrit texts.</p>

<p> But it also leads to a more practical matter. If Sanskrit has no script of its own, we can choose whatever script we like.</p>

<p>Devanagari is an obvious choice. But Devanagari takes some time to learn, especially if you have never learned another Indian script. Moreover, Devanagari was not built for Sanskrit, and it can be awkward and clumsy when used to write it.</p>

<p>Instead, we could use <dfn>romanized</dfn> Sanskrit. It is almost as common as Devanagari, and it was built to be easy to learn:</p>

<ul class="examples">
    <li>{{ 'tejasvi nAvadhItamastu'|i }}</li>
</ul>

<p>As a compromise, this guide will use romanized Sanskrit and switch to Devanagari over time. With this approach, we can spend less time on reading and writing and more time on Sanskrit.</p>

<p>And speaking of Sanskrit, let us continue with the alphabet.</p>

<h2>Seven vowels</h2>

<p>Four of these vowels have English counterparts:</p>

<ul class="grid-2 letters">
    {{ sound('i', '"i" in "bit"') }}
    {{ sound('I', '"ee" in "teeth"', 'ii') }}
    {{ sound('u', '"u" in "put"') }}
    {{ sound('U', '"oo" in "mood"', 'uu') }}
</ul>

<p>Three do not:</p>

<ul class="grid-2 letters">
    {{ sound('R', '(no match)', 'r') }}
    {{ sound('RR', '(no match)', 'rr') }}
    {{ sound('lR', '(no match)', none) }}
</ul>

<p>{{ 'lR'|i }} is extremely rare. Most texts do not have it, and it does not have a long form. Generally, you can pronounce it however you like.</p>

<h3>Short and long</h3>
<p>We have studied 9 vowels so far. Of these, five are short:</p>

<ul class="grid-5 letters">
    <li>{{ 'a'|i }}</li>
    <li>{{ 'i'|i }}</li>
    <li>{{ 'u'|i }}</li>
    <li>{{ 'R'|i }}</li>
    <li>{{ 'lR'|i }}</li>
</ul>

<p>and four are long:</p>

<ul class="grid-5 letters">
    <li>{{ 'A'|i }}</li>
    <li>{{ 'I'|i }}</li>
    <li>{{ 'U'|i }}</li>
    <li>{{ 'RR'|i }}</li>
</ul>

<p>Together, these nine vowels are called <dfn>simple</dfn> vowels.</p>

<h2>Blending simple vowels</h2>
<p>The simple vowels are easy to blend:</p>

<ul class="examples">
	{{ ex('bAlAya Aha -> bAlAyAha', 'He spoke for the boy.', iast=true) }}
	{{ ex('sA Apnoti -> sApnoti', 'She obtains.', iast=true) }}
	{{ ex('gacchati IzvaraH -> gacchatIzvaraH', 'The lord goes.', iast=true) }}
	{{ ex('gacchati madhu udakam -> gacchati madhUdakam', 'He goes to the sweet water.', iast=true) }}
</ul>

<p>In these sentences, the vowels that blend resemble each other. {{ 'A'|i }} blends with {{ 'A'|i }}, {{ 'i'|i }} blends with {{ 'I'|i }}, {{ 'u'|i }} blends with {{ 'u'|i }}, and so on. In each case, the vowels are roughly the same, although they might have different lengths.</p>

<p>Let's call such vowels <dfn>similar</dfn>. For example, {{ 'R'|i }} is similar to {{ 'R'|i }} and {{ 'RR'|i }}, but it is <em>not</em> similar to {{ 'u'|i }}.</p>

<h3>In the wild</h3>
<p>Try to blend the words in the phrases below:</p>
<ul class="examples">
	{{ ex('na anyadasti iti', iast=true) }}
	{{ ex('eSa tu uddezataH', iast=true) }}
</ul>

<p>These phrases are from the <cite>Bhagavad Gita</cite>:</p>

<ul class="examples">
	{{ ex('nAnyadastIti', '(The unwise, who delight in the letter of the Vedas and proclaim) "there is nothing else", &hellip;', cite='<cite>Bhagavad Gita</cite> 2.42', iast=true) }}
	{{ ex('eSa tUddezataH', '(What I have declared) is just an example (of my many splendors.)', cite='<cite>Bhagavad Gita</cite> 10.40', iast=true) }}
</ul>

<p>These two blends are common all throughout Sanskrit literature.</p>

{% endblock %}
