{% extends 'guide/lesson.html' %}

{% block lesson %}
<p>We have now studied every sound in later Sanskrit (with one small exception). But although real language is made of sounds chained <em>together</em>, we have studied these sounds in <em>isolation</em>. If we cannot pronounce these sounds together, we will be like those musicians who can play beautiful notes but no songs.</p>

<p>So let us spend our last lesson here on <dfn>meter</dfn>, the study of how sounds flow together. Even if you can pronounce Sanskrit well already, a good knowledge of meter is vital to understanding certain parts of how Sanskrit behaves.</p>

<aside class="note">
<p>Along with phonetics ({{ 'zikSA'|i }}), meter ({{ 'chandas'|i }}) is one of the six {{ 'vedAGga'|i('dfn') }}, the "limbs" of the Vedas that support the study of its contents. Four of the six {{ 'vedAGga'|i }} focus on language.</p>
</aside>

<h2>Definition</h2>
<p>We start with the most basic part of meter: the <dfn>syllable</dfn>. Syllables are simple. They have <strong>exactly one vowel</strong>:</p>

<ul class="examples">
    {{ ex('i', iast=true) }}
    {{ ex('kA', iast=true) }}
    {{ ex('nau', iast=true) }}
    {{ ex('yo', iast=true) }}
    {{ ex('he', iast=true) }}
</ul>

<p>they start with consonants wherever possible:</p>

<ul class="examples">
    {{ ex('phalam -> pha-lam', iast=true) }}
    {{ ex('iti -> i-ti', iast=true) }}
</ul>

<p>and they end with the {{ 'anusvAra'|i }} and {{ 'visarga'|i }} wherever possible:</p>

<ul class="examples">
    {{ ex('naraH pacati -> na-raH-pa-ca-ti', iast=true) }}
    {{ ex('taM carAmi -> taM-ca-rA-mi', iast=true) }}
</ul>

<p>Sometimes, however, a phrase can be divided in multiple ways:</p>

<ul class="examples">
    {{ ex('putraH -> pu-traH, put-raH', iast=true) }}
    {{ ex('dharmaH -> dha-rmaH, dhar-maH', iast=true) }}
</ul>

<p>In these cases, you can divide the phrases however you like. Traditional grammar tries to make syllables end in vowels ({{ 'dha-rmaH'|i }}). But this makes some parts of Sanskrit more difficult later on. So let us make our own convention:</p>

<p class="rule">A syllable should end with a consonant if possible, without breaking the rules above.</p>

<p>With this convention, all phrases can be divided in only one way:</p>

<ul class="examples">
    {{ ex('putraH -> put-raH', iast=true) }}
    {{ ex('dharmaH -> dhar-maH', iast=true) }}
</ul>

<p>Now we can split any Sanskrit phrase into syllables:</p>

<ul class="examples">
    {{ ex('anekavaktranayanam -> a-ne-ka-vak-tra-na-ya-nam', iast=true) }}
</ul>

<h2>Light and heavy</h2>
<p>A syllable that ends in a short vowel is <dfn>light</dfn>. All other syllables are called <dfn>heavy</dfn>. Heavy syllables last <strong>exactly twice as long</strong> as light syllables. This is the key insight of this lesson.</p>

<p>Let's see some examples. In this sentence, every syllable here is heavy:</p>

<ul class="examples">
    {{ ex('vRddho vRkSas tiSThaty agre -> vRd-dho-vRk-Sas-tiS-That-yag-re', 'An ancient tree stands ahead.', iast=true) }}
</ul>

<p>Even though some of these syllables have short vowels, each syllable lasts the same amount of time.</p>

<p>Here is another example. In this sentence, every syllable is light:</p>

<ul class="examples">
    {{ ex('sa zukam api girati -> sa-zu-ka-ma-pi-gi-ra-ti', 'It swallows the parrot, too.', iast=true) }}
</ul>

<p>Like the previous example, this example has eight syllables. But since every syllable here is light, this example lasts exactly half as long.</p>

<p>Finally, consider this example:</p>

<ul class="examples">
    {{ ex('arjuna -> ar-ju-na', 'Arjuna', iast=true) }}
</ul>

<p>"{{ 'ar'|i }}" and "{{ 'juna'|i }}" last for exactly the same amount of time, even though all of these vowels are short.</p>

<p>As you read Sanskrit, try to be mindful of these light and heavy syllables. They do more than control how Sanskrit is pronounced; they also give Sanskrit poetry some of its beauty and power.</p>
{% endblock %}
