{% extends 'base-grammar.html' %}

{% block title %}Exercises: Case 4{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/nouns">Nouns</a> »</li>
<li><a href="/nouns/cases">Three Cases</a> »</li>
<li>Exercises: Case 4</li>
</ul>
{% endblock %}

{% block content %}

<h1>Exercises: Case 4</h1>
<h2>Vocabulary</h2>
<dl class="vocab">
<dt><div lang="sa"></div></dt><dd><dd></dd>
<dt>स्था<div lang="sa">sthā</div></dt><dd>तिष्ठति <div lang="sa">tiṣṭhati</div></dd><dd>stand, be established in <span class="etym">[stand]</span></dd>
<dd><dl>
<dt>उत्था<div lang="sa">utthā</div></dt><dd>उत्तिष्ठति <div lang="sa">uttiṣṭhati</div></dd><dd>stand up
		<dd class="desc">Note that the <span lang="sa">s</span> of <span lang="sa">sthā</span> has disappeared.
</dd>
</dd></dl>
<dt><div lang="sa"></div></dt><dd><dd></dd>
<dd><dl>
<dt><div lang="sa"></div></dt><dd><dd></dd>
</dd></dl>
</dd></dd></dd></dd></dl>
<h3>Miscellaneous</h3>
<dl class="vocab">
<dt>गोविन्द<div lang="sa">govinda</div></dt><dd>m<dd>A name for Krishna
	<dd class="desc">This word has two suggested origins, each of which suggests a different meaning. We will study these two origins later on. For now, you can consider the two meanings: "cow finder" and "lord of cowherds."
</dd>
<dt><div lang="sa"></div></dt><dd><dd></dd>
<dd><dl>
<dt><div lang="sa"></div></dt><dd><dd></dd>
</dd></dl>
<dt><div lang="sa"></div></dt><dd><dd></dd>
<dd><dl>
<dt><div lang="sa"></div></dt><dd><dd></dd>
</dd></dl>
</dd></dd></dd></dd></dd></dd></dl>
<h2>Translation (English → Sanskrit)</h2>
<p>Translate from English to Sanskrit. Write each answer in two ways: with case 4 and with <span lang="sa">artha</span>.</p>
<ul class="drill exercises">
<li><p>I have done this for you.</p>
<p class="aside">Use the PPP here: "It is done by me for you."</p></li>
<li><p>Rama goes for us, but Arjuna goes for the teacher.</p></li>
<li><p></p></li>
<li><p></p></li>
<li><p></p></li>
</ul>
<h2>Translation (Sanskrit → English)</h2>
<p>Translate from Sanskrit to English.</p>
<ul class="exercises" lang="sa">
<li><p class="dev">हतो वा प्राप्स्यसि स्वर्गं जित्वा वा भोक्ष्यसे महीम् ।<br/>
तस्मादुत्तिष्ठ कौन्तेय युद्धाय कृतनिश्चयः ॥<br/></p>
<p lang="en"><span lang="sa">bhokṣya</span> is the future stem of <span lang="sa">bhuj</span>.</p></li>
<li><p class="dev">सुखदुःखे समे कृत्वा लाभालाभौ जयाजयौ ।<br/>
ततो युद्धाय युज्यस्व नैवं पापमवाप्स्यसि ॥</p>
<p lang="en">Note that <span lang="sa">sukhaduḥkhe</span> and <span lang="sa">same</span> are neuter words in the dual.</p></li>
<li><p class="dev">उत्तिष्ठोत्तिष्ठ गोविन्द उत्तिष्ठ गरुअध्वज ।<br/>
उत्तिष्ठ कमलाकन्त</p></li>
</ul>
<h2>Answers</h2>
<h3>Translation (English → Sanskrit)</h3>
<ul class="drill exercises" lang="sa">
<li><p class="dev"></p><p></p></li>
<li><p class="dev"></p><p></p></li>
<li><p class="dev"></p><p></p></li>
</ul>
<h3>Translation (Sanskrit → English)</h3>
<ul class="exercises">
<li><p>Either having been killed you will obtain heaven, or having conquered you will enjoy the earth.<br/>
	Therefore, stand up, son of Kunti, with resolution made for (the purpose of) battle.</p>
<p class="aside"><cite>Bhagavad Gita 2.37</cite></p></li>
<li><p>After rendering pleasure and pain the same — (and) gain and loss, (and) victory and defeat —<br/>
	then be engaged in (literally "for") battle! In this way you will incur no evil.</p>
<p class="aside"><cite>Gita 2.38</cite></p>
<p class="aside">Note that <span lang="sa">yujyasva</span> is passive here.</p></li>
<li><p>Wake up, wake up, Govidna! Wake up, Garuda-bannered one (i.e. one whose banner has Garuda on it)! Wake up, beloved of Kamala!</p>
<p class="aside">---</p></li>
</ul>

{% endblock %}

