{% extends 'base-grammar.html' %}

{% block title %}-ai, -o, and -au Nouns{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/ends">Odds and Ends</a> »</li>
<li><a href="/ends/nouns">Nouns</a> »</li>
<li>-ai, -o, and -au Nouns</li>
</ul>
{% endblock %}

{% block content %}

<h1><span lang="sa">-ai</span>, <span lang="sa">-o</span>, and <span lang="sa">-au</span> Nouns</h1>
<h2>Introduction</h2>
<p>The noun classes below are extremely rare. In total, these classes include about <strong>four nouns</strong>. These four nouns can still make new compounds, but on the most fundamental level, there are only four nouns to consider.</p>
<h2><span lang="sa">-ai</span></h2>
<p>Only one noun ends in <span lang="sa">-ai</span>. That noun is <dfn lang="sa">rai</dfn>, a masculine word that means "wealth". Note the similarity between <span lang="sa">rai</span> and words like "riches" and "royal."</p>
<p>The normal stem is <span lang="sa">-ai</span> (<span lang="sa">rai</span>), but <span lang="sa">ā</span> (<span lang="sa">rā</span>) is used in front of endings that start with consonants.</p>
{% include 'include/charts/d-ai.html' %}
<h2><span lang="sa">-o</span></h2>
<p>Two nouns end in <span lang="sa">-o</span>. The first is <dfn lang="sa">go</dfn>, which means "bull" when in the masculine gender and "cow" when in the feminine. The second is <dfn lang="sa">dyo</dfn>, a feminine word that means "sky."</p>
<p>The normal stem is <span lang="sa">-o</span>. But cases 1, 2, and 8 use <span lang="sa">-au</span>, and the case 2 singular and plural use <span lang="sa">-ā</span>. The singular forms of cases 5 and 6 both use <span lang="sa">-s</span> instead of <span lang="sa">-os</span>.</p>
{% include 'include/charts/d-o.html' %}
<h2><span lang="sa">-au</span></h2>
<p>Only one noun ends in <span lang="sa">-au</span>: <dfn lang="sa">nau</dfn>, a feminine noun that means "ship." Note the similarity between <span lang="sa">nau</span> and words like "navy" or "nautical." This noun uses the regular endings.</p>
{% include 'include/charts/d-au.html' %}
{% endblock %}

