{% extends 'base-grammar.html' %}

{% block title %}One-Stem Nouns{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/nouns">Nouns</a> »</li>
<li><a href="/nouns/consonant">Consonant Stems</a> »</li>
<li>One-Stem Nouns</li>
</ul>
{% endblock %}

{% block content %}

<h1>One-stem Nouns</h1>
<h2>Introduction</h2>
<p>One of the reasons that consonant nouns can be so confusing is that they use <dfn>multiple stems</dfn>. The word <span lang="sa">yogin</span>, for instance, uses one stem in case 1 and another in case 4. These stems follow strict patterns and are quite simple to use; but regardless it can be difficult to come to terms with them. For that reason, let's start here with those consonant nouns that use only a single stem. All of the nouns we've seen so far use only one stem, too.</p>
<h2>Consonant simplification</h2>
<p>Even though we are talking about the <strong>one-stem</strong> consonant nouns, each of these nouns usually has two forms. One form is used in front of <strong>vowels only</strong>; this is the regular stem as listed in the dictionary and in vocabulary pages. But the other stem is used in every other circumstance: that is, it's used in the case 1 singular and in front of consonants. This "second" stem is a product of complex sandhi changes from the first one.</p>
<ul class="examples">
<li><p class="dev">वाच् + अम् → वाचम्</p>
<p lang="sa">vāc + am → vācam</p>
<p>speech (case 2 singular)</p>
</li>
<li><p class="dev">वाच् → वाक्</p>
<p lang="sa">vāc → vāk</p>
<p>speech (case 1 singular)</p>
</li>
</ul>
<p>Instead of studying these sandhi changes in detail, let's just learn these two forms separately for now. By doing so, we can learn the sandhi rules over time while still maintaining a full knowledge of the consonant nouns.</p>
<p>Now, let's look at a full example of a consonant noun. For our example, let's use <span lang="sa">dhanus</span>, which is a neuter noun that means "bow (weapon)." Its "second" stem is <span lang="sa">dhanuḥ</span>, which follows all of <a href="/nouns/verbs/case3">the rules</a> that a word like <span lang="sa">naraiḥ</span> does. Given these two stems, we can fill in the table for <span lang="sa">dhanus</span> as follows.</p>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/d-cons-n.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/d-cons-n.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div>
<p>The behavior of this noun may seem irregular. However, all of the "irregularities" here are caused by regular sandhi changes. None of these changes should be unfamiliar. Note, too, the presence of the "inserted nasal" sound in the plural of cases 1, 2, and 8.</p>
<p class="note box">The change from <span lang="sa">ns</span> to <span lang="sa">ṃs</span> was first seen in the lesson on <a href="/nouns/ppp/future">the ordinary future tense</a>.</p>
<h2>External sandhi</h2>
<p>Most of the external sandhi changes that apply to the consonant nouns can be explained with some familiar rules:</p>
<div class="rule box">
<ul>
<li>A final stop will take the <strong>voice</strong> of the letter that follows it.</li>
<li>A final stop will <strong>become nasal</strong> if followed by a nasal consonant. It will keep its own point of pronunciation.</li>
</ul>
</div>
<ul class="examples">
<li><p class="dev">वाक् च → वाक् च</p>
<p lang="sa">vāk ca → vāk ca</p>
<p>and speech</p>
</li>
<li><p class="dev">वाक् देवी → वाग् देवी</p>
<p lang="sa">vāk devī → vāg devī</p>
<p>Speech is a goddess.</p>
</li>
<li><p class="dev">वाक् एव → वाग् एव</p>
<p lang="sa">vāk eva → vāg eva</p>
<p>speech itself</p>
</li>
<li><p class="dev">वाक् न → वाङ् न</p>
<p lang="sa">vāk na → vāṅ na</p>
<p>not speech</p>
<p class="aside">Note that <span lang="sa">k</span> and <span lang="sa">ṅ</span> have the same point of pronunciation.</p></li>
</ul>
<p>Now, recall this rule of <span lang="sa">-t</span> sandhi: <q>When followed by <span lang="sa">h</span>, <span lang="sa">t</span> becomes <span lang="sa">d</span> and <span lang="sa">h</span> becomes <span lang="sa">dh</span>.</q> We can state this rule more generally:</p>
<p class="rule box">When followed by <span lang="sa">h</span>, a consonant becomes voiced. <span lang="sa">h</span> becomes a stop consonant with the same point of pronunciation.</p>
<ul class="examples">
<li><p class="dev">वाक् हि तस्मिन् भवति → वाग् घि तस्मिन् भवति</p>
<p lang="sa">vāk hi tasmin bhavati → vāg ghi tasmin bhavati</p>
<p>For speech is in him.</p>
</li>
</ul>

{% endblock %}

