{% extends 'guide.html' %}


{% macro pdf(slug, name) %}
<a href="{{ url_for('.static', filename='pdf/' + slug + '.pdf') }}">{{ name }}</a> [PDF]
{% endmacro %}

{% macro dump(slug, name) %}
{% if slug == 'guide' %}
    <a href="{{ url_for('guide.guide_dump') }}">{{ name }}</a> [HTML]
{% else %}
    <a href="{{ url_for('guide.unit_dump', unit=slug) }}">{{ name }}</a> [HTML]
{% endif %}
{% endmacro %}

{% macro outline(fn) %}
<ul>
    <li>
        <p>{{ fn('guide', 'Grammar guide') }}<br /> The complete grammar guide.</p>
        <ul>
            <li>
                <p>{{ fn('about', 'About') }}<br />
                All content from the "About" unit of the guide.</p>
            </li>
            <li>
                <p>{{ fn('sounds', 'Sounds') }}<br />
                All content from the "Sounds" unit of the guide.</p>
            </li>
            <li>
                <p>{{ fn('basics', 'Basics') }}<br />
                All content from the "Basics" unit of the guide.</p>
            </li>
        </ul>
    </li>
</ul>
{% endmacro %}


{% block title %}Sanskrit Guide{% endblock %}

{% set cur = {'title': 'Sanskrit guide'} %}
{% block article %}
<p>This is a <strong>grammar guide</strong> for the Sanskrit language. Anyone who studies the guide should be able to read ordinary Sanskrit texts, such as the Bhagavad Gita. If you know English, you know enough to use the guide.</p>

<p class="call-to-action"><a href="{{ lesson_url('sounds') }}" class="jumbo invitation btn">Start reading the grammar guide</a></p>

<p>If you have some technical questions about the guide, read on:</p>

<div class="inset" style="padding: 0;">
<ul>
    <li><a href="#software">Programs and software</a></li>
    <li><a href="#download">Downloading the guide</a></li>
</ul>
</div>

<h2 id="software">Programs and software</h2>

<p>For the best possible experience, please <a href="http://browsehappy.com/">use a modern web browser</a>. <noscript>You should also <a href="http://enable-javascript.com">enable JavaScript in your browser</a>.</noscript> Other than that, there's little to do.</p>

<p>If you're using a very old operating system (before Mac OS 10.3 or Windows 2000), then you should also make sure that you have Devanagari installed. If this:</p>

<ul class="examples">
    {{ ex('kazcitkAntAvirahaguruNA svAdhikArapramattaH<br />zApenAstaMgamitamahimA varSabhogyeNa bhartuH |', '') }}
</ul>

<p>looks like rubbish, then you probably don't have Devanagari installed. For help, you can <a href="http://en.wikipedia.org/wiki/Help:Multilingual_support_(Indic)">consult this FAQ page from Wikipedia</a>. Once you have Devanagari installed, you can use the site normally.</p>

<h2 id="download">Downloading the guide</h2>

<p>By popular request, you can now download the grammar guide for offline use. These files can be used with printers and e-readers, and they can be used in any situation where an ordinary website is too difficult to handle. Of course, these files are missing some of the things that make web pages so special: sound and video, interactive content, color, and so on.</p>

<p>If you want to dowload the guide, you have two options available:</p>

<h3>Option 1: PDFs from learnsanskrit.org</h3>

<p>The easier option is to use PDFs that have been created by learnsanskrit.org. These PDFs render Sanskrit in Devanagari and IAST. They are updated regularly, but they are not always as up-to-date as the online lessons.</p>

<div class="download">
{{ outline(pdf) }}
</div>

<h3>Option 2: Make your own PDFs</h3>
<p>The more powerful option is to create your own PDFs. You can use whatever scripts you like, and your PDFs are guaranteed to be as up-to-date as possible.</p>

<ol>
    <li><p><a href="{{ url_for('site.settings') }}">Set your settings</a> to make sure that the guide will display as you expect it to.</p></li>
    <li>
        <p>Visit one of the following pages. These pages display multiple lessons at a time, which makes it much easier to print your own PDFs:</p>
        <div class="download">
        {{ outline(dump) }}
        </div>
    </li>
    <li><p>Select <kbd>File -&gt; Print</kbd> to print your content. If you want to save the file as a PDF, select "Save to PDF" or whatever similar option your browser gives you.</p></li>
</ol>
</p>

<p>If you see any strong differences between the ready-made PDFs above and the results you get on your own, please <a href="{{ url_for('site.contact') }}">let us know</a> what differences you see.</p>

</article>
</div>

<script src="{{ url_for('.static', filename='js/guide.js') }}"></script>
{% endblock %}
