{% extends 'narrow.html' %}

{% block body_id %}guide{% endblock %}
{% block title %}Sanskrit Guide{% endblock %}

{% block content %}
<header class="masthead">
    <h1>Sanskrit Guide</h1>
    (<a href="{{ url_for('.help') }}">Need help? Want to download the guide? Click here!</a>)
</header>

{% for unit in units %}
<section class="unit">
    <h2><a href="{{ url_for('guide.unit', unit=unit.slug) }}">{{ unit.title|safe }}</a></h2>
    {% include 'guide/include/unit-contents.html' %}
</section>
{% endfor %}

<header>
    <h1>Appendices</h1>
</header>

{% for unit in supp %}
<section class="unit">
    <h2><a href="{{ url_for('guide.unit', unit=unit.slug) }}">{{ unit.title|safe }}</a></h2>
    {% include 'guide/include/unit-contents.html' %}
</section>
{% endfor %}

{% endblock %}
