{% extends 'layout.html' %}

{% block title %}{{ lesson.stripped_title }} | learnsanskrit.org{% endblock %}

{% block body_id %}two-column{% endblock %}

{% block content %}
<div id="content">
<article>
    <h1>{{ lesson.title|safe }}</h1>
    {% block lesson %}
    {% endblock %}
    {% include 'include/footnotes.html' %}
</article>
</div>

<div id="sidebar">
    <section>
    <h2><a href="{{ url_for('guide.unit', unit=unit.slug) }}">{{ unit.title|safe }}</a></h2>
    {% include 'guide/include/unit-contents.html' %}
    </section>
</div>
{% endblock %}
