{% import 'macros/charts.html' as charts %}

<!-- Devanagari letters -->
{% macro dev_row(items) %}
{% for item in items.split() %}
<li><div class="letter">{{ item|d }}</div>{{ item|i }}</li>
{% endfor %}
{% endmacro %}

<!-- IAST letters -->
{% macro iast_row(items) %}
{% for item in items.split() %}
<li><div class="letter">{{ item|i }}</div></li>
{% endfor %}
{% endmacro %}

{% macro row(category, letters) %}
    <tr>
        <th>{{ category }}</th>
        {% for L in letters %}
            {%- if L -%}
                {{ L|i('td') }}
            {%- else -%}
                <td />
            {%- endif %}
        {% endfor %}
    </tr>
{%- endmacro %}

<!-- Examples -->
{% macro ex(sa=none, en=none, dev=true, iast=false, aside=none, cite=none, hint=false) %}
<li{% if hint %} class="hint"{% endif %}>
    {% if sa %}
        {% set text = sa.replace('->', '→') %}
        {% if dev %}{{ text|d(tag='p') }}{% endif %}
        {% if iast %}{{ text|i(tag='p') }}{% endif %}
    {% endif %}
    {% if en %}<p class="en">{{ en.replace('->', '→')|safe }}</p>{% endif %}
    {% if cite %}<p class="cite">{{ cite|safe }}</p>{% endif %}
    {% if aside %}<p>{{ aside|render|safe }}</p>{% endif %}
</li>
{% endmacro %}

{% macro hex(sa=none, en=none, aside=none, cite=none) %}
{{ ex(sa, en, dev=true, iast=false, aside=aside, cite=cite, hint=true) }}
{% endmacro %}

{% macro iex(sa, en=none, aside=none, cite=none, hint=false) %}
{{ ex(sa, en, dev=true, iast=true, aside=aside, cite=cite, hint=hint) }}
{% endmacro %}

{% macro ihex(sa, en=none, aside=none, cite=none) %}
{{ ex(sa, en, dev=true, iast=true, aside=aside, cite=cite, hint=false) }}
{% endmacro %}

<!-- Noun paradigm -->
{% macro nominal(stem, gender, cases='12345678') %}
    {% set data = nominal_data(stem, gender, cases) %}
    {{ charts.nominal_paradigm(**data) }}
{% endmacro %}

{% macro sound(text, desc, f) %}
<li>
    {% if f is none or not desc %}
        {{ text|i }} {% if desc %}<div>{{ desc }}</div>{% endif %}
    {% else %}
        {% set filename = (f or text)|lower %}
        <a href="{{ url_for('guide.static',
            filename='audio/%s.mp3' | format(filename)) }}">
        <div class="letter">{{ text|i }}</div>
        {% if desc -%}
            <div>{{ desc }}</div>
        {%- endif -%}
        </a>
    {% endif %}
</li>
{% endmacro %}

{% macro svg(path) %}
<div id="{{ path }}"></div>
{% assets output="gen/d3/"+path+".js", "guide/d3/"+path+".js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endmacro %}j

<!-- Verb paradigm -->
{% macro verb(root, mode, voice, vclass=none, basis=none) %}
    {% set data = verb_data(root, mode, voice, vclass, basis) %}
    {{ charts.verb_paradigm(**data) }}
{% endmacro %}