{% extends 'base-grammar.html' %}

{% block title %}Consonant Nouns{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/references">References</a> »</li>
<li><a href="/references/nouns">Nouns</a> »</li>
<li>Consonant Nouns</li>
</ul>
{% endblock %}

{% block content %}

<h1>Consonant Nouns</h1>
<p>All nouns that end in a consonant use a single set of endings. The difference between the different consonant nouns, then, is that they use different <dfn>strong</dfn> and <dfn>weak</dfn> stems.</p>
<p>Neuter nouns, though, have some strange behavior. Plural neuter nouns, when they are in case 1, case 2, or case 8, have a nasal sound inserted after their last vowel, and the last vowel becomes long. All of the neuter nouns below, with the exception of the "<span lang="sa">-at, -mat,</span> and <span lang="sa">-vat</span>" noun, show this behavior.</p>
<p>The first three groups of nouns have irregular forms in the masculine case 1 singular. They also have no feminine declension. The letter <span lang="sa">-ī</span> is added to the end of these nouns to make them feminine, and the result is declined like <span lang="sa">nadī</span>. For example, we have <span lang="sa">bhagavatī</span> and <span lang="sa">yoginī</span>.</p>
<p>However, the <span lang="sa">-at</span> nouns (<strong>not</strong>the  <span lang="sa">-mat</span> and <span lang="sa">-vat</span> nouns), which are participles, use <span lang="sa">-antī</span> for their feminine stem; for example, we have <span lang="sa">gacchantī</span>.</p>
<p>Click to scroll down:</p>
<ul>
<li><a href="#an"><span lang="sa">-an, -man, -van</span> nouns</a></li>
<li><a href="#at"><span lang="sa">-at, -mat, -vat</span> nouns</a></li>
<li><a href="#in"><span lang="sa">-in, -min, -vin</span> nouns</a></li>
<li><a href="#other">Other nouns</a></li>
</ul>
<h2 class="clear" id="an"><span lang="sa">-an, -man, -van</span> nouns</h2>
<p>The <span lang="sa">-an, -man,</span> and <span lang="sa">-van</span> nouns have the same strong and weak stems. But the weak stem of <span lang="sa">-an</span> nouns contracts to just <span lang="sa">-n</span> when the noun ending starts with a vowel. Otherwise, the weak stem stays the same.</p>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/d-an.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/d-an.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div>
<h2 id="at"><span lang="sa">-at, -mat, -vat</span> nouns</h2>
<p>The <span lang="sa">-at, -mat,</span> and <span lang="sa">-vat</span> nouns have the same strong and weak stems. But the masculine singular of <span lang="sa">-at</span> nouns is <span lang="sa">-an</span> instead of <span lang="sa">-ān</span>.</p>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/d-at.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/d-at.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div>
<h2 id="in"><span lang="sa">-in, -min, -vin</span> nouns</h2>
<p>The <span lang="sa">-in, -min,</span> and <span lang="sa">-vin</span> nouns have the same strong and weak stems. The strong stem is used in front of vowels, and the weak stem is used everywhere else.</p>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/d-in.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/d-in.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div>
<h2 id="other">Other nouns</h2>
<h3>Masculine and Feminine</h3>
<p>These nouns use the ordinary endings.</p>
<h3>Neuter</h3>
<p>These nouns use the ordinary endings. A complex example is shown below.</p>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/d-cons-n.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/d-cons-n.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div>
{% endblock %}

