{% extends 'base-grammar.html' %}

{% block title %}Case 1: The Subject{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/start">Starting Out</a> »</li>
<li><a href="/start/nouns">Noun Basics</a> »</li>
<li>Case 1: The Subject</li>
</ul>
{% endblock %}

{% block content %}

<h1>Case 1: The Subject</h1>
<p class="alternatives">Also known as: the nominative case, <span lang="sa">prathamā vibhakti</span> ("first case")</p>
<h2>Introduction</h2>
<p>Until now, all of the sentences we've made have been missing a subject. This is a problem! If we just have the word <span lang="sa">gacchati</span>, how can we tell who goes? It could be a man or a horse or an elephant — it could even be a fruit, for all we know!</p>
<p>We need a way to add a subject to the sentence. Fortunately, Sanskrit gives us a way to do so. In each example below, the <span class="bold r">highlighted</span> word is the subject of the sentence.</p>
<ul class="examples">
<li><p class="dev"><strong>नरः</strong> गच्छति</p>
<p lang="sa"><strong>naraḥ</strong> gacchati</p>
<p><strong>The man</strong> goes.</p>
</li>
<li><p class="dev"><strong>वीराः</strong> यच्छन्ति</p>
<p lang="sa"><strong>vīrāḥ</strong> yacchanti</p>
<p><strong>The heroes</strong> restrain.</p>
</li>
</ul>
<p>For simplicity, let's call this case the <dfn>subject case</dfn>. This is the first noun case we've seen so far, so we can also call this case <dfn>case 1</dfn> for short.</p>
<h2>Inflection</h2>
<p>Let's look at the pattern for the basic noun <span lang="sa">gaja</span>, which means "elephant."</p>
<table class="inflection">
<caption><span lang="sa">-a</span> (masculine)</caption>
<tr><th class="stem">गज</th>
<th>Singular</th>
<th>Dual</th>
<th>Plural</th>
</tr><tr><th>Case 1 (subject)</th>
<td>गजः<div>gajaḥ</div></td>
<td>गजौ<div>gajau</div></td>
<td>गजाः<div>gajāḥ</div></td>
</tr>
</table>
<p>What you see above is a full description of <span lang="sa">gaja</span>'s behavior in case 1. The different numbers are across the top, and the different cases are along the side. The noun's stem and gender are at the top of the table.</p>
<p>The endings featured above shouldn't give you too much trouble. If they do, don't spend too much time on them; the exercises will give you more practice.</p>
<h2>Devanagari</h2>
<h3>Common Consonants 6 - 10</h3>
<p>Now, let's look at five more common consonants:</p>
<dl class="blue letters" lang="sa">
<dt class="title">देवनागरी</dt><dd class="title" lang="en">IAST</dd>
<dt>स</dt><dd>sa</dd>
<dt>द</dt><dd>da</dd>
<dt>य</dt><dd>ya</dd>
<dt>प</dt><dd>pa</dd>
<dt>क</dt><dd>ka</dd>
</dl>
<h3>Exceptions for <span class="dev">र</span></h3>
<p>There are two exceptions you should know for <span class="dev">र</span>:</p>
<dl class="blue letters" lang="sa">
<dt class="title">देवनागरी</dt><dd class="title" lang="en">IAST</dd>
<dt>रु</dt><dd><span lang="sa">ru</span></dd>
<dt>रू</dt><dd><span lang="sa">rū</span></dd>
</dl>
{% endblock %}

