{% extends 'base-grammar.html' %}

{% block title %}Case 4: "for"{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/nouns">Nouns</a> »</li>
<li><a href="/nouns/cases">Three Cases</a> »</li>
<li>Case 4: "for"</li>
</ul>
{% endblock %}

{% block content %}

<h1>Case 4: "for"</h1>
<p class="alternatives">Also known as: dative case, <span lang="sa">caturthī vibhakti</span> ("fourth case")</p>
<h2>Introduction</h2>
<p>Case 3 is different from case 1 and case 2 because it contains the idea of a familiar word: "with." Likewise, case 4 contains the idea of "for," in two main senses of the word. The two senses are <strong>purpose</strong>, as in "I broke the coconut for some water," and <strong>benefactor</strong>, as in "I broke the coconut for a friend."</p>
<p>Don't forget these two distinct meanings. (Otherwise, your friend might have something to say about it!) But if you're concerned that you might, take a look at the two example sentences below. Together, these sentences emphasize the twin meanings of this new case:</p>
<ul class="examples">
<li><p class="dev">वीरो <strong>नराय</strong> गच्छति</p>
<p lang="sa">vīro <strong>narāya</strong> gacchati</p>
<p>The hero speaks <strong>for (the benefit of) the man</strong>.</p>
</li>
<li><p class="dev">बालो वनम् <strong>फलाय</strong> गच्छति</p>
<p lang="sa">bālo vanam <strong>phalāya</strong> gacchati</p>
<p>The boy goes to the forest <strong>for (the sake of) the fruit</strong>.</p>
</li>
</ul>
<p class="note box">Note that case 4 doesn't capture the sense of "for" in <q>I bought the lamp <strong>for</strong> one week's wages.</q> Here, "for" specifies the means of buying the lamp. If we wanted to express this sense of "for" in Sanskrit, we would use the "with" case, as in <q>I bought the lamp by means of ("with") 3 dollars.</q> Further, case 4 doesn't capture the sense of "for" in "<strong>For</strong> me, that lamp is very cheap." In this situation, another case would be used; we'll learn which one later on in the guide.</p>
<h2>Inflection</h2>
<p>The endings for case 4 are in the table below. Note that the case 4 dual is identical to the case 3 dual.</p>
<table class="inflection">
<caption><span lang="sa">-a</span> (masculine)</caption>
<tr><th class="stem">गज</th>
<th>Singular</th>
<th>Dual</th>
<th>Plural</th>
</tr><tr><th>Case 1 (subject)</th>
<td>गजः<div>gajaḥ</div></td>
<td class="r">गजौ<div>gajau</div></td>
<td>गजाः<div>gajāḥ</div></td>
</tr><tr><th>Case 2 (object)</th>
<td>गजम्<div>gajam</div></td>
<td class="r">गजौ<div>gajau</div></td>
<td>गजान्<div>gajān</div></td>
</tr><tr><th>Case 3 ("with")</th>
<td>गजेन<div>gajena</div></td>
<td class="g">गजाभ्याम्<div>gajābhyām</div></td>
<td>गजैः<div>gajaiḥ</div></td>
</tr><tr><th>Case 4 ("for")</th>
<td>गजाय<div>gajāya</div></td>
<td class="g">गजाभ्याम्<div>gajābhyām</div></td>
<td>गजेभ्यः<div>gajebhyaḥ</div></td>
</tr><tr><th>Case 5 ("from")</th>
<td>गजात्<div>gajāt</div></td>
<td></td><td></td>
</tr><tr><th>Case 6 ("of")</th>
<td>गजस्य<div>gajasya</div></td>
<td>गजयोः<div>gajayoḥ</div></td>
<td>गजानाम्<div>gajānām</div></td>
</tr><tr><th>Case 7 ("in")</th>
<td>गजे<div>gaje</div></td>
<td></td><td></td>
</tr><tr><th>Case 8 (address)</th>
<td>गज<div>gaja</div></td>
<td class="r">गजौ<div>gajau</div></td>
<td class="y">गजाः<div>gajāḥ</div></td>
</tr>
</table>
<h2>Pronouns</h2>
<p>Note the short <span lang="sa">a</span> in the case 4 plural of <span lang="sa">mad</span> and <span lang="sa">tvad</span>.</p>
<table class="inflection">
<caption><span lang="sa">mad</span> (no gender)</caption>
<tr><th class="stem">मद्</th>
<th>Singular</th>
<th>Dual</th>
<th>Plural</th>
</tr><tr><th>Case 1 (subject)</th>
<td>अहम्<div>aham</div></td>
<td class="r">आवाम्<div>āvām</div></td>
<td>वयम्<div>vayam</div></td>
</tr><tr><th>Case 2 (object)</th>
<td>माम्<div>mām</div></td>
<td class="r">आवाम्<div>āvām</div></td>
<td>अस्मान्<div>asmān</div></td>
</tr><tr><th>Case 3 ("with")</th>
<td>मया<div>mayā</div></td>
<td class="g">आवाभ्याम्<div>āvābhyām</div></td>
<td>अस्माभिः<div>asmābhiḥ</div></td>
</tr><tr><th>Case 4 ("for")</th>
<td>मह्यम्<div>mahyam, me</div></td>
<td class="g">आवाभ्याम्<div>āvābhyām</div></td>
<td>अस्मभ्य्म्<div>asmabhyam</div></td>
</tr><tr><th>Case 6 ("of")</th>
<td>मम<div>mama</div></td>
<td>आवयोः<div>āvayoḥ</div></td>
<td>अस्माकम्<div>asmākam</div></td>
</tr>
</table>
<table class="inflection">
<caption><span lang="sa">tvad</span> (no gender)</caption>
<tr><th class="stem">त्वद्</th>
<th>Singular</th>
<th>Dual</th>
<th>Plural</th>
</tr><tr><th>Case 1 (subject)</th>
<td>त्वम्<div>tvam</div></td>
<td class="r">युवाम्<div>yuvām</div></td>
<td>यूयम्<div>yūyam</div></td>
</tr><tr><th>Case 2 (object)</th>
<td>त्वाम्<div>tvām</div></td>
<td class="r">युवाम्<div>yuvām</div></td>
<td>युष्मान्<div>yuṣmān</div></td>
</tr><tr><th>Case 3 ("with")</th>
<td>त्वया<div>tvayā</div></td>
<td class="g">युवाभ्याम्<div>yuvābhyām</div></td>
<td>युष्माभिः<div>yuṣmābhiḥ</div></td>
</tr><tr><th>Case 4 ("for")</th>
<td>तुभ्यम्<div>tubhyam</div></td>
<td class="g">युवाभ्याम्<div>yuvābhyām</div></td>
<td>युष्मभ्यम्<div>yuṣmabhyam</div></td>
</tr><tr><th>Case 6 ("of")</th>
<td>तव<div>tava</div></td>
<td>युवयोः<div>yuvayoḥ</div></td>
<td>युष्माकम्<div>yuṣmākam</div></td>
</tr>
</table>
<table class="inflection">
<caption><span lang="sa">tad</span> (masculine)</caption>
<tr><th class="stem">तद्</th>
<th>Singular</th>
<th>Dual</th>
<th>Plural</th>
</tr><tr><th>Case 1 (subject)</th>
<td>सः<div>saḥ</div></td>
<td class="r">तौ<div>tau</div></td>
<td>ते<div>te</div></td>
</tr><tr><th>Case 2 (object)</th>
<td>तम्<div>tam</div></td>
<td class="r">तौ<div>tau</div></td>
<td>तान्<div>tān</div></td>
</tr><tr><th>Case 3 ("with")</th>
<td>तेन<div>tena</div></td>
<td class="g">ताभ्याम्<div>tābhyām</div></td>
<td>तैः<div>taiḥ</div></td>
</tr><tr><th>Case 4 ("for")</th>
<td>तस्मै<div>tasmai</div></td>
<td class="g">ताभ्याम्<div>tābhyām</div></td>
<td>तेभ्यः<div>tebhyaḥ</div></td>
</tr><tr><th>Case 6 ("of")</th>
<td>तस्य<div>tasya</div></td>
<td>तयोः<div>tayoḥ</div></td>
<td>तेषाम्<div>teṣām</div></td>
</tr>
</table>
<p class="note box">Remember: the neuter version of <span lang="sa">tad</span> differs from the masculine version only in cases 1 and 2. Otherwise, it is identical.</p>
<h2>The "for" case in later Sanskrit</h2>
<p>Case 4 has a much more particular role than the other grammatical cases. For that reason, it's also quite uncommon. The other cases, especially case 6, started to express the same ideas as case 4. And, some other methods of expressing the same idea started to become more popular.</p>
<p>One of these methods is to compound the word <dfn lang="sa">artha</dfn> after another word and use the result as an adverb. Since <span lang="sa">artha</span> has the general meaning of "reason," the compound expresses the notion of acting "for" something. So, <span lang="sa">grāmāya</span> and <span lang="sa">grāmārtham</span> mean essentially the same thing. But, note that <span lang="sa">grāmārtham</span> has no number; it can also mean the same thing as <span lang="sa">grāmābhyām</span> or <span lang="sa">grāmebhyaḥ</span>.</p>
{% endblock %}

