{% extends 'base-grammar.html' %}

{% block title %}Infinitives{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/verbs">Verbs</a> »</li>
<li><a href="/verbs/roots">Verb Roots</a> »</li>
<li>Infinitives</li>
</ul>
{% endblock %}

{% block content %}

<h1>Infinitives</h1>
<p>Here, we will study a sort of verb that is related to the participles we've seen so far.</p>
<h2>Introduction</h2>
<p>Consider the example below:</p>
<ul class="examples">
<li><p class="dev">एतान् न <strong>हन्तुम्</strong> इच्छामि</p>
<p lang="sa">etān na <strong>hantum</strong> icchāmi</p>
<p>I do not want <strong>to kill</strong> them.</p></li>
</ul>
<p>It's difficult to see this from the example, but the word <span lang="sa">hantum</span> is an uninflected participle, just like the gerund. But whereas the gerund specifies something that occurs <strong>before</strong> the main sentence, this new form occurs <strong>within</strong> it in an indefinite way. For that reason, this form is called the <dfn>infinitive</dfn>, meaning "the unlimited" or "the unbounded."</p>
<h2>Formation</h2>
<p>The infinitive is easy to form:</p>
<p class="rule box">To form the infinitive, attach the suffix <dfn lang="sa">-tum</dfn> to the verb root. Use the rules of the <span lang="sa">-tṛ</span> suffix.</p>
<p>However, it's a little trickier to use. The infinitive is like an <strong>object</strong> to the main verb. But, the infinitive itself can have objects, too. For instance, consider the first example in this lesson. <span lang="sa">etān</span>, which is the case 2 plural of <span lang="sa">etad</span>, is the object of <span lang="sa">hantum</span>. The two combine to create a more complex object: <span lang="sa">etān hantum</span>, "to kill them." This phrase then becomes the object of the main verb <span lang="sa">icchāmi</span>.</p>
<p>But the infinitive is not stuck in the "object" state. In fact, the infinitive can be paired with adjectives — as in "ready to kill" — or even nouns — as in "time to kill." In these senses, the infinitive is like a noun in case 4.</p>
<ul class="examples">
<li><p class="dev">तस्मान्नार्हा वयं <strong>हन्तुं</strong> धार्तराष्ट्रान् स्वबन्धवान्</p>
<p lang="sa">tasmānnārhā vayaṃ <strong>hantuṃ</strong> dhārtarāṣṭrān svabandhavān</p>
<p>Thus we are not entitled to kill the sons of Dhritarashtra, our own kinsmen. 
<cite>Bhagavad Gita 1.37</cite></p>
</li>
</ul>
<p>The infinitive can even be part of some compounds. It only appears in the <span lang="sa">bahuvrīhi</span> compound, and it usually appears as the first member, after dropping the final <span lang="sa">-m</span>. The second member of the compound is usually <span lang="sa">kāma</span>, meaning "desire," or <span lang="sa">manas</span>, meaning "mind."</p>
<ul class="examples">
<li><p class="dev">योद्धुम् + कामः → योद्धुकामः</p>
<p lang="sa">yoddhum + kāmaḥ → yoddhukāmaḥ</p>
<p>to fight + desire → with a desire to fight, wishing to fight</p>
</li>
<li><p class="dev">गन्तुम् + मनः → गन्तुमनः</p>
<p lang="sa">gantum + manaḥ → gantumanaḥ</p>
<p>to go + mind → with a mind to go, thinking of going</p>
</li>
</ul>

{% endblock %}

