{% extends 'base-grammar.html' %}

{% block title %}The Distant Future Tense{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/verbs">Verbs</a> »</li>
<li><a href="/verbs/roots">Verb Roots</a> »</li>
<li>The Distant Future Tense</li>
</ul>
{% endblock %}

{% block content %}

<h1>The Distant Future Tense</h1>
<p class="alternatives">Also known as: the periphrastic future, <span lang="sa">anadyatana</span> ("not of today"), <span lang="sa">luṭ</span></p>
<h2>Introduction</h2>
<p>The <dfn>distant future tense</dfn> is used to talk about things that will happen in the distant future. It's easy to learn and easy to use:</p>
<ul class="examples">
<li><p class="dev">यदि पृच्छति तदा <strong>गन्तास्मि</strong></p>
<p lang="sa">yadi pṛcchati tadā <strong>gantāsmi</strong></p>
<p>If he asks, then <strong>I will go</strong>.</p>
</li>
<li><p class="dev">यदि पृच्छति तदा <strong>गन्ता</strong></p>
<p lang="sa">yadi pṛcchati tadā <strong>gantā</strong></p>
<p>If he asks, then <strong>he will go</strong>.</p>
</li>
</ul>
<p>The <em>ordinary</em> future tense describes actions that will happen soon and that depend on present circumstances. The <em>distant</em> future tense, meanwhile, describes a remote action that is somehow removed from the present time. It describes things that will not happen for a considerable amount of time, and it is more certain than the ordinary future tense.</p>
<p>Now, let's study the formation of the distant future tense.</p>
<h2>Formation</h2>
<p>The examples above might have reminded you of the <span lang="sa">-tṛ</span> noun <span lang="sa">gantṛ</span>. Indeed, that's where the distant future tense comes from: it's a combination of a <span lang="sa">-tṛ</span> noun and the verb <span lang="sa">as</span>. Even though this tense is based on a noun, you should consider it to be a real verb form.</p>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/c-bhu-dfut-p.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/c-bhu-dfut-p.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div>
<p>In the first and second person, we use the case 1 singular of the masculine <span lang="sa">-tṛ</span> noun. This inflected noun is followed by <span lang="sa">as</span>, which is inflected to show the number and person of the verb. The third person, however, is different. Instead of using <span lang="sa">as</span>, we use the case 1 endings for the <span lang="sa">-tṛ</span> noun, with no extra verb. As you can imagine, this can create some ambiguity:</p>
<ul class="sa examples">
<li><p class="dev">स हन्ता</p>
<p lang="sa">sa hantā</p>
<p>He is a killer.</p></li>
<li><p class="dev">स हन्ता</p>
<p lang="sa">sa hantā</p>
<p>He will kill.</p></li>
</ul>
<p>You'll have to rely on context to understand whether the word is a noun or a verb.</p>
<h2>The distant future tense in <span lang="sa">ātmanepada</span></h2>
<p>The distant future tense is quite rare, and most of its forms are in <span lang="sa">parasmaipada</span>. But there <strong>are</strong> distinct forms for <span lang="sa">ātmanepada</span>, which you can see below:</p>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/c-bhu-dfut-a.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/c-bhu-dfut-a.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div>
{% endblock %}

