{% extends 'base-grammar.html' %}

{% block title %}Sounds{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/ends">Odds and Ends</a> »</li>
<li>Sounds</li>
</ul>
{% endblock %}

{% block content %}

<h1>Sounds</h1>
<p>In the very first lesson of the guide, we studied four simple vowels: <span lang="sa">a, i, u,</span> and <span lang="sa">ṛ</span>. But there is a fifth that we have avoid all this time. In this lesson, we will learn about this fifth vowel. Moreover, we will study some of the sounds that appear in Vedic Sanskrit.</p>
{% endblock %}

