{% extends 'base-grammar.html' %}

{% block title %}Exercises: The tatpurusha{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/start">Starting Out</a> »</li>
<li><a href="/start/words">Making Words</a> »</li>
<li>Exercises: The tatpurusha</li>
</ul>
{% endblock %}

{% block content %}

<h1>Exercises: The tatpuruṣa</h1>
<h2>Vocabulary</h2>
<dl class="vocab">
<dt>पुरुष<div lang="sa">puruṣa</div></dt><dd>m<dd>man; servant; <a href="http://en.wikipedia.org/wiki/Purusha">Purusha</a>
<dd class="desc">In Sanskrit grammar, the word <span lang="sa">puruṣa</span> refers to what we call "person."
</dd>
<dt>मद्<div lang="sa">mad</div></dt><dd>pronoun<dd>(base of the 1st-person pronoun) <span class="etym">[me]</span></dd>
<dd><dl>
<dt>मम<div lang="sa">mama</div></dt><dd>inflected<dd>my (case 6 singular)</dd>
<dd><dl>
<dt>मामक<div lang="sa">māmaka</div></dt><dd>mfn<dd>mine, my own</dd>
</dd></dl>
</dd></dd></dl>
<dt>त्वद्<div lang="sa">tvad</div></dt><dd>pronoun<dd>(base of the 2nd-person pronoun) <span class="etym">[thou]</span></dd>
<dd><dl>
<dt>तव<div lang="sa">tava</div></dt><dd>inflected<dd>your (case 6 singular)</dd>
<dd><dl>
<dt>तावक<div lang="sa">tāvaka</div></dt><dd>mfn<dd>yours, your own</dd>
</dd></dl>
</dd></dd></dl>
<dt>मध्य<div lang="sa">madhya</div></dt><dd>mfn<dd>the middle (of a place, a thing, a concept, …) <span class="etym">[middle, mid-air]</span></dd>
<dt>उभ<div lang="sa">ubha</div></dt><dd>mfn<dd>both</dd>
</dd></dd></dd></dd></dd></dd></dd></dd></dl>
<h3>Miscellaneous</h3>
<dl class="vocab">
<dt>रथ<div lang="sa">ratha</div></dt><dd>m<dd>chariot</dd>
<dt>उत्तम<div lang="sa">uttama</div></dt><dd>mfn<dd>best, highest</dd>
</dd></dd></dl>
<h2>Creating compounds</h2>
<p>Each compound below has been separated into multiple words. Recreate each compound and give its meaning. Not all compounds will be in case 1.</p>
<ul class="drill exercises" lang="sa">
<li><p class="dev">पुरुषाणाम् उत्तमः</p><p>puruṣāṇām uttamaḥ</p></li>
<li><p class="dev">नीलानि फलानि</p><p>nīlāni phalāni</p></li>
<li><p class="dev">सुन्दरा अश्वाः</p><p>sundarā aśvāḥ</p></li>
<li><p class="dev">नगरस्य मध्ये</p><p>nagarasya madhye</p></li>
<li><p class="dev">मम पुत्रकेन</p><p>mama putrakena</p></li>
<li><p class="dev">ग्रामस्य वृक्षात्</p><p>grāmasya vṛkṣāt</p></li>
<li><p class="dev">वैराय वीराय</p><p>vairāya vīrāya</p></li>
</ul>
<h2>Translation</h2>
<p>Translate from Sanskrit to English. Words in parentheses mark replacements that I've made in the original text.</p>
<ul class="exercises" lang="sa">
<li><p class="dev">उभयोर् मध्ये (तिष्ठति) रथोत्तमः</p><p>ubhayor madhye (tiṣṭhati) rathottamaḥ</p></li>
</ul>
<h2>Answers</h2>
<h3>Substitution</h3>
<p>In these exercises, the number of the first noun is lost. In a real Sanskrit text, we have to depend on surrounding sentences to determine how to translate these compounds. For each compound, the likeliest meaning is given first, followed by the original meaning. If only one interpretation is possible, no second meaning is given.</p>
<ul class="drill exercises" lang="sa">
<li><p class="dev">पुरुषोत्तमः</p><p>puruṣottamaḥ</p><p lang="en">the best of men; <a href="http://en.wikipedia.org/wiki/Purushottama">purushottama</a></p></li>
<li><p class="dev">नीलफलानि</p><p>nīlaphalāni</p><p lang="en">blue fruits</p></li>
<li><p class="dev">सुन्दराश्वाः</p><p>sundarāśvāḥ</p><p lang="en">beautiful horses</p></li>
<li><p class="dev">नगरमध्ये</p><p>nagaramadhye</p><p lang="en">in the middle of the village</p></li>
<li><p class="dev">मत्पुत्रकेन</p><p>matputrakena</p><p lang="en">with my little son</p></li>
<li><p class="dev">ग्रामवृक्षात्</p><p>grāmavṛkṣāt</p><p lang="en">from the village tree</p></li>
<li><p class="dev">वैरवीराय</p><p>vairavīrāya</p><p lang="en">for the hostile hero</p></li>
</ul>
<h3>Translation</h3>
<ul class="exercises">
<li><p>The best of chariots (stands) in the middle of both of them. <cite>Bhagavad Gita 1.24</cite></p>
<p class="aside">Here, "both" refers to the two armies of the Mahabharata war. The chariot is Arjuna's; at this point, he is standing in the middle of the battlefield.</p></li>
</ul>
<h2>Where are the other exercises?</h2>
<p>In the lesson, I mentioned that the tatpurusha would allow you to read <q>hundreds of new lines and verses.</q> The trouble, however, is that our ability to use and read any sort of Sanskrit compound is limited by two factors:</p>
<ul>
<li><p>Noun stems. We only know of nouns whose stems end in <span lang="sa">a</span>.</p></li>
<li><p>Verbal nouns. Some very common nouns have the properties of verbs, but these nouns are tricky to construct and understand. Without knowing how these common nouns are built, our compounds are really only half complete.</p></li>
</ul>
<p>We will study both of these features in Nouns, which follows Starting Out. Until that time (which is not too far away, I promise!), we will continue to practice with the words we have and continue to build our vocbaulary.</p>
{% endblock %}

