{% extends 'texts/layout.html' %}

{% block title %}Texts{% endblock %}

{% block content %}
<h1>Texts</h1>

{% with messages = get_flashed_messages() %}
    {% for m in messages %}
    <p>{{ m }}</p>
    {% endfor %}
{% endwith %}

{% for text in texts %}
{% set text_url = url_for('.text', slug=text.slug) %}
<section class="text">
    <h2><a href="{{ text_url }}">{{ text.name }}</a></h2>
    by <a href="{{ url_for('author', slug=text.author.slug) }}">{{ text.author.name }}</a>
    <ul>
        <li><a href="{{ text_url }}">Main text</a></li>
        {% for c in text.children %}
        <li><a href="{{ url_for('.text', slug=c.slug) }}">{{ c.name }}</a> ({{ c.author.name }})</li>
        {% endfor %}
    </ul>
</section>
{% endfor %}

{% endblock %}
