{% extends 'texts/layout.html' %}

{% block title %}{{ readable_query }}{% endblock %}

{% block content %}
<div id="segment-view">
<h1 id="readable-query">{{ readable_query }}</h1>

<div id="segments">
    {% for segment in segments %}
    <section id="{{ segment.xmlid }}" class="segment">
        <a class="jump" href="#{{ segment.xmlid }}">#</a>
        <div class="primary">
        {{ segment.content|safe }}
        </div>

        <div class="translations">
        {% for child_text in corresp[segment.slug] %}
            <div class="translation">
            {% for child in corresp[segment.slug][child_text] %}
                {{ child.content|safe }}
            {% endfor %}
            </div>
        {% endfor %}
        </div>
    </section>
    {% endfor %}
</div>

{% macro page_link(q, id) %}
    {% if q %}
    <li><a id="{{ id }}" class="page-link" href="{{ url_for('.segment', slug=text.slug, query=q.query, related=related) }}">{{ q.readable }}</a></li>
    {% else %}
    <li><a id="{{ id }}" class="page-link" href="{{ url_for('.text', slug=text.slug) }}">(title page)</a></li>
    {% endif %}
{% endmacro %}

<div id="text-panel">
    <ul id="child-links">
    {% for c in children %}
        <li><a data-id="{{ c.id }}" data-slug="{{ c.slug }}" class="child-link{% if c.slug not in (c.related or []) %} active{% endif %}" href="{{ url_for('.segment', slug=text.slug, query=query, related=c.related) }}">{{ c.slug }}</a><li>
    {% endfor %}
    </ul>
    <ul id="page-links">
        {{ page_link(prev, 'prev-link') }}
        {{ page_link(next, 'next-link') }}
    </ul>
</div>
</div>

{% block footer %}{% endblock %}

{% endblock %}


{% block scripts %}
{% assets output="gen/texts-app.js", "texts/js/texts-app.js" %}
    <script src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}