{% extends 'texts/layout.html' %}

{% block title %}{{ text.name }}{% endblock %}

{% block content %}
<h1>{{ text.name }}</h1>

{% with p = pages[0][0] %}
<a class="jumbo invitation btn" href="{{ url_for('.segment', slug=text.slug, query=p.query) }}">Start reading</a>
{% endwith %}

{% for d in divs %}
    <h2>{{ d.slug }}</h2>
    <ul class="page-links">
    {% set ps = pages[loop.index0] %}
    {% set len = ps|length %}
    {% for p in ps %}
        <li style="width: {{ 100.0/len }}%;"><a href="{{ url_for('.segment', slug=text.slug, query=p.query) }}" data-readable="Go to {{ p.readable }}">&nbsp;</a></li>
    {% endfor %}
    </ul>
{% endfor %}

{% endblock %}