{% extends 'general.html' %}

{% block title %}{{ text.name }}{% endblock %}

{% block content %}
<h1>{{ text.name }}</h1>

{% with p = pages[0][0] %}
<a class="jumbo invitation btn" href="{{ url_for('.segment', slug=text.slug, query=p.query) }}">Start reading</a>
{% endwith %}

{% for d in divs %}
    <h2>{{ d.slug }}</h2>
    <ul>
    {% for p in pages[loop.index0] %}
        <li><a href="{{ url_for('.segment', slug=text.slug, query=p.query) }}">{{ p.text }}</a></li>
    {% endfor %}
    </ul>
{% endfor %}

{% endblock %}