{% extends 'general.html' %}

{% block title %}{{ text.name }}{% endblock %}

{% block content %}
<h1>{{ text.name }}</h1>

{% for d in divisions %}
    <h2>{{ d.slug }}</h2>
    {% set groups = pages[loop.index0] %}
    <ul>
    {% for g in groups %}
        <li>
        {% if g|length > 1 %}
            <a href="{{ url_for('.segment', slug=text.slug, query=[g[0], g[-1]]|join('-')) }}">{{ g[0] }} - {{ g[-1] }}</a>
        {% else %}
            <a href="{{ url_for('.segment', slug=text.slug, query=g[0]) }}">{{ g[0] }}</a>

        {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endfor %}

{% endblock %}