{% extends 'base-grammar.html' %}

{% block title %}Noun Prefixes{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/verbs">Verbs</a> »</li>
<li><a href="/verbs/derived">Derived Verbs</a> »</li>
<li>Noun Prefixes</li>
</ul>
{% endblock %}

{% block content %}

<h1>Noun Prefixes</h1>
<p class="alternatives">Also known as: <span lang="sa">cvi</span></p>
<h2>Introduction</h2>
<p>In the last lesson, we saw that Sanskrit allows us to change nouns into verb roots. We learned one method for doing so: turning the noun stem into a verb <strong>root</strong>. In this lesson, we will see that we can also turn nouns into verb <strong>prefixes</strong>:</p>
<ul class="sa examples">
<li><p class="dev"><strong>स्वागतीकृत्य</strong></p>
<p lang="sa"><strong>svāgatīkṛtya</strong></p>
<p>Having done a welcome (i.e. "having welcomed"), …
	<cite>Meghaduta</cite></p></li>
</ul>
<h2>The basics</h2>
<p>Nouns usually become prefixes to two verbs: <dfn lang="sa">bhū</dfn> and <dfn lang="sa">kṛ</dfn>. If the noun ends in <span lang="sa">a</span>, its final vowel is usually changed to <span lang="sa">ī</span>. The meaning of the verb depends on the root used:</p>
<dl class="blue">
<dt class="title">Root</dt><dd class="title">Meaning</dd>
<dt lang="sa">bhū</dt><dd>become X</dd>
<dt lang="sa">kṛ</dt><dd>do or perform X</dd>
</dl>
<p>The use and meaning of these "noun prefixes" are both quite straightforward, so let's look at just one more example before moving on:</p>
<ul class="sa examples">
<li><p class="dev"><strong>स्वल्पीभूते</strong> सुचरितफले स्वर्गिणाम् …</p>
<p lang="sa"><strong>svalpībhūte</strong> sucaritaphale svargiṇām …</p>
<p>When the heaven-dwellers' good deeds have become meager … <cite>Meghaduta</cite></p></li>
</ul>

{% endblock %}

