{% extends 'base-grammar.html' %}

{% block title %}Adverbs{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/start">Starting Out</a> »</li>
<li><a href="/start/uninflected">Uninflected Words</a> »</li>
<li>Adverbs</li>
</ul>
{% endblock %}

{% block content %}

<h1>Adverbs</h1>
<p class="alternatives">Also known as: <span lang="sa">kriyāviśeṣaṇa</span> ("qualification of an action")</p>
<h2>Introduction</h2>
<p>Recall that <a href="/start/nouns/adjectives">adjectives</a> allow us to describe a noun. Although we can describe nouns, we don't yet have a way to describe verbs. That is, we can say <q>The beautiful man goes</q>, but we can't say <q>The man goes <strong>beautifully</strong>.</q></p>
<p>In English, words that let us describe the verb are called <dfn>adverbs</dfn>. Adverbs exist in Sanskrit, too:</p>
<ul class="examples">
<li><p class="dev">सुन्दरो नरो गच्छति</p>
<p lang="sa">sundaro naro gacchati</p>
<p> The beautiful man goes.</p>
</li>
<li><p class="dev"><strong>सुन्दरं</strong> नरो गच्छति</p>
<p lang="sa"><strong>sundaraṃ</strong> naro gacchati</p>
<p>The man goes beautifully.</p>
</li>
</ul>
<p>Adverbs are easy to form and use, so this should be a quick lesson.</p>
<h2>Formation</h2>
<p>Most adverbs come directly from adjectives. The <strong>neuter singular case 1</strong> form of any adjective is a complete adverb. Adverbs are treated like uninflected words.</p>
<ul class="examples">
<li><p class="dev">सुन्दर → सुन्दरम्</p>
<p lang="sa">sundara → sundaram</p>
<p>beautiful → beautifully, well, rightly</p></li>
</ul>
<p>Adverbs can appear anywhere in the sentence, but they usually appears near the beginning of the sentence.</p>
<p class="ling box">More properly, adverbs probably come from case 2. But since case 1 and case 2 are identical, there's no harm in saying that they come from case 1.</p>
<h2>Devanagari: Common consonants 21 - 25</h2>
<p>Here is the next batch of consonants. There are eight more to learn after this.</p>
<dl class="blue letters" lang="sa">
<dt class="title">देवनागरी</dt><dd class="title" lang="en">IAST</dd>
<dt>थ</dt><dd>tha</dd>
<dt>ब</dt><dd>ba</dd>
<dt>ञ</dt><dd>ña</dd>
<dt>ट</dt><dd>ṭa</dd>
<dt>ङ</dt><dd>ṅa</dd>
</dl>
<p>Note the subtle difference between <span class="dev">ब</span> and <span class="dev">व</span>. The slash on <span class="dev">ब</span> makes the letter look like it is <strong>b</strong>roken in two.</p>
<p class="fact box">The similarity between <span class="dev">ब</span> and <span class="dev">व</span> has been the source of many errors in Sanskrit manuscripts. This confusion seems to have also been a part of the language itself. Thus a word like <span lang="sa">śaibya</span> is often written as <span lang="sa">śaivya</span>.</p>
{% endblock %}

