{% extends 'base-grammar.html' %}

{% block title %}Gerunds and "Real" Roots{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/start">Starting Out</a> »</li>
<li>Gerunds and "Real" Roots</li>
</ul>
{% endblock %}

{% block content %}

<h1>Gerunds and "Real" Roots</h1>
<h2>Introduction</h2>
<p>When we first studied the Sanskrit verb root, I mentioned that we would use a <strong>separate system</strong> of roots. This system is easier to learn and understand, and it has worked well so far.</p>
<p>But even though this is true, there is an important practical reason for switching to the traditional system as soon as possible: <strong>almost nobody uses it</strong>. Dictionaries and other textbooks use the traditional system exclusively. Dictionaries and other textbooks weren't important when we were just starting out, but now that you know a bit about real Sanskrit, they will be more useful to you.</p>
<p>In this, the last chapter of Starting Out, we will switch over to the traditional verb root system. As we do so, we will also study a verb form that demonstrates why we used a different system in the first place. These lessons will discuss traditional roots, the new verb form, and some new sandhi rules.</p>
<p>Now, some of you might think that the idea of spending four entire lessons on Sanskrit roots is very boring. I agree! But these lessons are all quite short, and they make an important point: <strong>Sanskrit is independent of the system that describes it</strong>, and we as students should do whatever we can to make things as simple as possible.</p>
{% endblock %}

