{% extends 'base-grammar.html' %}

{% block title %}Primary Suffixes{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/references">References</a> »</li>
<li><a href="/references/lists">Lists</a> »</li>
<li>Primary Suffixes</li>
</ul>
{% endblock %}

{% block content %}

<h1>Primary Suffixes</h1>
<table class="blue">
<tr><th>Suffix</th><th>Usual meaning</th><th>Gender</th><th>Usual vowel change</th></tr>
<tr><td class="dev">—</td><td>X-ing</td><td>mfn</td><td>none</td></tr>
<tr><td class="dev">अ</td><td>various</td><td>m</td><td>various</td></tr>
<tr><td class="dev">आ</td><td>abstract quality of X</td><td>f</td><td>various</td></tr>
<tr><td class="dev">अन</td><td>act of doing X</td><td>n</td><td>medium</td></tr>
<tr><td class="dev">अस्</td><td>abstract quality</td><td>n</td><td>medium</td></tr>
<tr><td class="dev">इस्</td><td>abstract quality</td><td>n</td><td>medium</td></tr>
<tr><td class="dev">उस्</td><td>abstract quality</td><td>n</td><td>medium</td></tr>
<tr><td class="dev">त्र</td><td>means of doing X</td><td>n</td><td>medium</td></tr>
<tr><td class="dev">तु</td><td></td><td></td><td></td></tr>
<tr><td class="dev">तृ</td><td>one who does X</td><td>mf(ī)</td><td>medium</td></tr>
</table>
{% endblock %}

