{% extends 'base-main-nav.html' %}

{% block title %}Supplemental Lessons{% endblock %}
{% block content %}
<h1>Supplemental lessons</h1>
<p>Sanskrit is a deep and rewarding language, both to read and to study. But sometimes, excess study can become monotonous. These <dfn>supplementary lessons</dfn> are here to alleviate that monotony. Most of these lessons are concerned with the sub-disciplines that Sanskrit students studied thousands of years ago, such as metrical studies and traditional grammar. Some of these supplementaly lessons also deal with more modern subjects, such as comparative linguistics. In short, these lessons aim to be fun yet rewarding diversions from the main guide.</p>

<p>Unlike the units in the grammar guide, the supplemental units here can be done in any order. Moreover, they are of varying length and difficulty; some may take 5 minutes, whereas others may take hours. Still, most of them rely on the material in the grammar guide.</p>

<ul class="contents">
<li><a href="/prosody">A. &nbsp;Prosody</a><ul><li><a href="/prosody/ganas">A.1 &nbsp;Ganas</a><!-- !!! --></li></ul></li><li><a href="/monier">B. &nbsp;The Monier-Williams Sanskrit-English Dictionary</a><ul><li><a href="/monier/paper">B.1 &nbsp;The MW Dictionary in Print</a></li><li><a href="/monier/web">B.2 &nbsp;The MW Dictionary on the Web</a><!-- !!! --></li></ul></li><li><a href="/panini">C. &nbsp;Panini</a><ul><li><a href="/panini/shivasutras">C.1 &nbsp;The Shiva Sutras</a></li><li><a href="/panini/two">C.2 &nbsp;Two Easy Rules</a></li><li><a href="/panini/structure">C.3 &nbsp;The Structure of the Ashtadhyayi</a></li><li><a href="/panini/vowel">C.4 &nbsp;Vowel Sandhi</a></li><li><a href="/panini/anubandha">C.5 &nbsp;The Anubandha</a><!-- !!! --></li></ul></li></ul></div>

		<div class="bar">
			<p class="links">
				<a href="/">← previous</a>
				|
				<a href="/p">next →</a>
			</p>
			<ul>
				<li><a href="/">Index</a> &raquo;</li>
				<li>Supplemental Lessons</li>
			</ul>
{% endblock %}
