{% extends 'base-grammar.html' %}

{% block title %}"Not" and "With"{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/start">Starting Out</a> »</li>
<li><a href="/start/words">Making Words</a> »</li>
<li>"Not" and "With"</li>
</ul>
{% endblock %}

{% block content %}

<h1>"Not" and "With"</h1>
<p>The two prefixes below can both be used to make compounds.</p>
<h2><span lang="sa">a/an</span></h2>
<p class="alternatives">Also known as: <span lang="sa">nañ-samāsa</span> ("<span lang="sa">na</span> compound")</p><p>The first of these two prefixes shows what something is <strong>not</strong>. It takes one of two forms:</p>
<ul>
<li><dfn lang="sa">a</dfn> when in front of a consonant</li>
<li><dfn lang="sa">an</dfn> when in front of a vowel</li>
</ul>
<p>Most words formed with this prefix are adjectives:</p>
<ul class="examples">
<li><p class="dev">शोकः → <strong>अ</strong>शोकः</p>
<p lang="sa">śokaḥ → <strong>a</strong>śokaḥ</p>
<p>sorrow → "un-sorrow," sorrowless</p></li>
</ul>
<p>This prefix is associated with the tatpurusha.</p>
<p class="fact box">Greek, Latin, and Old English all had a version of the <span lang="sa">a/an</span> prefix. This prefix survives in English words like "a-political," "an-archy," "in-appropriate," "im-mortal," and "un-able."</p>
<h2><span lang="sa">sa</span></h2>
<p>The second of these two prefixes is <dfn lang="sa">sa</dfn>. This prefix shows what something is <strong>with</strong>. Unlike the <span lang="sa">a/an</span> prefix, <span lang="sa">sa</span> does not change; it is always <span lang="sa">sa</span>, even in front of vowels. Most of the words formed by this prefix are adjectives.</p>
<ul class="examples">
<li><p class="dev">गजः → <strong>स</strong>गजः</p>
<p lang="sa">gajaḥ → <strong>sa</strong>gajaḥ</p>
<p>elephant → with an elephant</p>
</li>
<li><p class="dev">अश्वः → <strong>सा</strong>श्वः</p>
<p lang="sa">aśvaḥ → <strong>sā</strong>śvaḥ</p>
<p>horse → with a horse</p>
</li>
</ul>
<p>A phrase like <span lang="sa">sagajo naraḥ</span> means the same thing as a phrase like <span lang="sa">gajena naraḥ</span>. By using a word like <span lang="sa">sagaja</span>, however, certain ideas become easier to express. For example, compare the two sentences below:</p>
<ul class="examples">
<li><p class="dev">नरः सगजं बालं गच्छति</p>
<p lang="sa">naraḥ sagajaṃ bālaṃ gacchati</p>
<p>The man goes to the boy with the elephant.</p>
<p class="aside">Here, the elephant is with the <em>boy</em>.</p></li>
<li><p class="dev">नरो गजेन बालं गच्छति</p>
<p lang="sa">naro gajena bālaṃ gacchati</p>
<p>The man goes to the boy with the elephant.</p>
<p class="aside">Here, the elephant is with the <em>man</em>.</p></li>
</ul>
<p>This prefix is associated with a compound that we will study later on.</p>
{% endblock %}

