{% extends 'base-grammar.html' %}

{% block title %}Vowel Nouns{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/references">References</a> »</li>
<li><a href="/references/nouns">Nouns</a> »</li>
<li>Vowel Nouns</li>
</ul>
{% endblock %}

{% block content %}

<h1>Vowel Nouns</h1>
<p>Of all Sanskrit nouns, those that end in vowels are the most irregular. Most of these nouns borrow endings from the pronouns, and the clearest example of this borrowing is the class of nouns ending in <span lang="sa">-a</span>. But the nouns ending in <span lang="sa">-ṛ</span> and <span lang="sa">au</span>, surprisingly, primarily use the <a href="consonants.php">consonant noun</a> endings.</p>
<p>Click to scroll down:

<ul>
<li><a href="#a"><span lang="sa">-a</span> nouns</a></li>
<li><a href="#aa"><span lang="sa">-ā</span> nouns</a></li>
<li><a href="#i"><span lang="sa">-i</span> nouns</a></li>
<li><a href="#ii"><span lang="sa">-ī</span> nouns</a></li>
<li><a href="#u"><span lang="sa">-u</span> nouns</a></li>
<li><a href="#uu"><span lang="sa">-ū</span> nouns</a></li>
<li><a href="#r"><span lang="sa">-ṛ</span> nouns</a></li>
<li><a href="#ai"><span lang="sa">-ai</span> nouns</a></li>
<li><a href="#o"><span lang="sa">-o</span> nouns</a></li>
<li><a href="#au"><span lang="sa">-au</span> nouns</a></li>
</ul>
<h2 class="clear" id="a"><span lang="sa">-a</span> nouns</h2>
<h3>Masculine</h3>{% include 'include/charts/d-a-m.html' %} <h3>Neuter</h3>{% include 'include/charts/d-a-n.html' %}<h2 id="aa"><span lang="sa">-ā</span> nouns</h2>
{% include 'include/charts/d-aa.html' %}<h2 id="i"><span lang="sa">-i</span> nouns</h2>
<h3>Masculine</h3>{% include 'include/charts/d-i-m.html' %} <h3>Feminine</h3>{% include 'include/charts/d-i-f.html' %} <h3>Neuter</h3>{% include 'include/charts/d-i-n.html' %}<h2 id="ii"><span lang="sa">-ī</span> nouns</h2>
{% include 'include/charts/d-ii.html' %}<h2 id="u"><span lang="sa">-u</span> nouns</h2>
<h3>Masculine</h3>{% include 'include/charts/d-u-m.html' %} <h3>Feminine</h3>{% include 'include/charts/d-u-f.html' %} <h3>Neuter</h3>{% include 'include/charts/d-u-n.html' %}<h2 id="uu"><span lang="sa">-ū</span> nouns</h2>
{% include 'include/charts/d-uu.html' %}<h2 id="r"><span lang="sa">-ṛ</span> nouns</h2>
<h3>Masculine</h3>{% include 'include/charts/d-r-m.html' %} <h3>Neuter</h3>{% include 'include/charts/d-r-n.html' %}<h2 id="ai"><span lang="sa">-ai</span> nouns</h2>
{% include 'include/charts/d-ai.html' %}<h2 id="o"><span lang="sa">-o</span> nouns</h2>
{% include 'include/charts/d-o.html' %}<h2 id="au"><span lang="sa">-au</span> nouns</h2>
{% include 'include/charts/d-au.html' %}</p>
{% endblock %}

