{% extends 'base-grammar.html' %}

{% block title %}Vowel Nouns{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/references">References</a> »</li>
<li><a href="/references/nouns">Nouns</a> »</li>
<li>Vowel Nouns</li>
</ul>
{% endblock %}

{% block content %}

<h1>Vowel Nouns</h1>
<p>Of all Sanskrit nouns, those that end in vowels are the most irregular. Most of these nouns borrow endings from the pronouns, and the clearest example of this borrowing is the class of nouns ending in <span lang="sa">-a</span>. But the nouns ending in <span lang="sa">-ṛ</span> and <span lang="sa">au</span>, surprisingly, primarily use the <a href="consonants.php">consonant noun</a> endings.</p>
<p>Click to scroll down:

<ul>
<li><a href="#a"><span lang="sa">-a</span> nouns</a></li>
<li><a href="#aa"><span lang="sa">-ā</span> nouns</a></li>
<li><a href="#i"><span lang="sa">-i</span> nouns</a></li>
<li><a href="#ii"><span lang="sa">-ī</span> nouns</a></li>
<li><a href="#u"><span lang="sa">-u</span> nouns</a></li>
<li><a href="#uu"><span lang="sa">-ū</span> nouns</a></li>
<li><a href="#r"><span lang="sa">-ṛ</span> nouns</a></li>
<li><a href="#ai"><span lang="sa">-ai</span> nouns</a></li>
<li><a href="#o"><span lang="sa">-o</span> nouns</a></li>
<li><a href="#au"><span lang="sa">-au</span> nouns</a></li>
</ul>
<h2 class="clear" id="a"><span lang="sa">-a</span> nouns</h2>
<h3>Masculine</h3><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/d-a-m.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/d-a-m.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div> <h3>Neuter</h3><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/d-a-n.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/d-a-n.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><h2 id="aa"><span lang="sa">-ā</span> nouns</h2>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/d-aa.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/d-aa.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><h2 id="i"><span lang="sa">-i</span> nouns</h2>
<h3>Masculine</h3><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/d-i-m.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/d-i-m.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div> <h3>Feminine</h3><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/d-i-f.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/d-i-f.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div> <h3>Neuter</h3><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/d-i-n.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/d-i-n.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><h2 id="ii"><span lang="sa">-ī</span> nouns</h2>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/d-ii.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/d-ii.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><h2 id="u"><span lang="sa">-u</span> nouns</h2>
<h3>Masculine</h3><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/d-u-m.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/d-u-m.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div> <h3>Feminine</h3><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/d-u-f.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/d-u-f.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div> <h3>Neuter</h3><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/d-u-n.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/d-u-n.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><h2 id="uu"><span lang="sa">-ū</span> nouns</h2>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/d-uu.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/d-uu.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><h2 id="r"><span lang="sa">-ṛ</span> nouns</h2>
<h3>Masculine</h3><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/d-r-m.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/d-r-m.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div> <h3>Neuter</h3><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/d-r-n.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/d-r-n.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><h2 id="ai"><span lang="sa">-ai</span> nouns</h2>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/d-ai.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/d-ai.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><h2 id="o"><span lang="sa">-o</span> nouns</h2>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/d-o.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/d-o.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><h2 id="au"><span lang="sa">-au</span> nouns</h2>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/d-au.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/d-au.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div></p>
{% endblock %}

