{% extends 'base-grammar.html' %}

{% block title %}Distant Past Tense 3: vid and ah{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/verbs">Verbs</a> »</li>
<li><a href="/verbs/doubling">Doubling</a> »</li>
<li>Distant Past Tense 3: vid and ah</li>
</ul>
{% endblock %}

{% block content %}

<h1>Distant Past Tense 3: <span lang="sa">vid</span> and <span lang="sa">ah</span></h1>
<p>The following two roots are almost always used in the distant past tense.</p>
<h2 lang="sa">vid</h2>
<p>If you've been doing the exercises at the end of each lesson, you might have seen mention of the irregular verb <span lang="sa">vid</span>, which is <span lang="sa">veda</span> in the 3rd person. This verb uses the endings from the perfect, and it follows the same vowel change pattern:</p>
<p>But the most important part of this verb is that <em>it is a present tense verb</em>. So, <span lang="sa">veda</span> means "He knows," not "He knew."</p>
<h2 lang="sa">ah</h2>
<p>The verb <span lang="sa">ah</span> still has the normal meaning of the perfect, but it is missing many of its conjugations.</p>

आह आहुः


<h2>Vocabulary</h2>
<dl class="vocab">
<dt>विद्</dt><dd>2P वेद</dd><dd>know, understand, perceive</dd>
<dd><dl>
<dt>वेद</dt><dd></dd><dd>knowledge, lore; the Vedas</dd>
<dt>ऋग्वेद</dt><dd></dd><dd>Veda of praise (<span lang="sa">ṛc</span>)</dd>
<dt>सामवेद</dt><dd></dd><dd>Veda of songs (<span lang="sa">sāman</span>)</dd>
<dt>यजुर्वेद</dt><dd></dd><dd>Veda of worship and sacrifice (<span lang="sa">yajus</span>)</dd>
<dt>अथर्ववेद</dt><dd></dd><dd>Veda of the sage Atharvan (<span lang="sa">atharvan</span>)</dd>
<dt>वेदिन्</dt><dd>mfn</dd><dd>knowing the Vedas</dd>
<dt>वैद्य</dt><dd></dd><dd>a learned person</dd>
<dt>विद्या</dt><dd></dd><dd>learning, knowledge</dd>
<dt>वेदाण्ग</dt><dd></dd><dd>"the limbs (<span lang="sa">aṇga</span>) of the Vedas"</dd>
<dd><p><span lang="sa">Vedāṅga</span> is the term used to refer to the six disciplines necessary to understand the Vedas. You should be able to derive all of these words:</p>
<ol>
<li><span lang="sa">śikṣā</span>:
			pronunciation (<span lang="sa">śak</span>)</li>
<li><span lang="sa">kalpa</span>: 
			ritual (<span lang="sa">kḷp</span>)</li>
<li><span lang="sa">vyākaraṇa</span>: 
			grammar (<span lang="sa">vi ā kṛ</span>)</li>
<li><span lang="sa">nirukta</span>: 
			etymology (<span lang="sa">nis vac</span>)</li>
<li><span lang="sa">chandas</span>: 
			meter (<span lang="sa">chand</span>)</li>
<li><span lang="sa">jyotiṣa</span>: 
			astronomy (<span lang="sa">jyut</span>)</li>
</ol>
</dd>
</dl></dd>
<dt></dt><dd></dd><dd></dd>
<dd><dl>
<dt></dt><dd></dd><dd></dd>
<dt></dt><dd></dd><dd></dd>
</dl></dd>
</dl>

{% endblock %}

