{% extends 'base-grammar.html' %}

{% block title %}Verbs{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li>Verbs</li>
</ul>
{% endblock %}

{% block content %}

<h1>Verbs</h1>
<div class="warn box"><p>This unit is in the middle of a major reconstruction. You may use the lessons if you like. However, these lessons have no exercises, and they have not been proofread either.</p></div>
<p class="notice"><a href="/grammar" id="show">Click to show contents</a></p>
<h2>Introduction</h2>
<p>The majority of later Sanskrit texts make extensive use of nouns, pronouns, participles, and compounds. The ordinary verb, however, was used less and less often as time went on. This seems to be a trend in the language overall: Vedic Sanskrit has a large selection of verbs that are used fairly often, but the same cannot be said for the Classical Sanskrit that we are studying now. As usual, the reasons for this change are complex and cannot be sufficiently discussed here. Essentially, though, Sanskrit sentence structure was modeled after other Indian languages even as the language followed Panini's model. </p>
<p>Despite this notable trend, the Sanskrit verb system is rich and complex. Sanskrit verbs are capable of great nuance and precision, even though many authors tend to ignore these distinctions. But the verb system is as complicated as it is complex. To quote M. R. Kale:</p>
<blockquote>
<p>No part of Sanskrit grammar is more difficult and perplexing(,) and therefore more calculated to tire out the patience of the young student, than the 'Conjugation of Verbs.' <cite>A Higher Sanskrit Grammar. p. ix</cite></p>
</blockquote>
<p>But again, many parts of Sanskrit grammar have been made unnecessarily difficult. In this unit, we will study the Sanskrit verb system, and although our study will be detailed, it will not be as <q>difficult and perplexing</q> as Kale makes it seem.</p>
{% endblock %}

