{% extends 'base-grammar.html' %}

{% block title %}Letters and Vowel Marks{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/references">References</a> »</li>
<li><a href="/references/devanagari">Devanagari</a> »</li>
<li>Letters and Vowel Marks</li>
</ul>
{% endblock %}

{% block content %}

<h1>Letters and Vowel Marks</h1>
<h2>Vowels</h2>
<p class="alternatives">Also known as: <span lang="sa">svara</span> ("tone")</p><dl class="blue letters">
<dt class="title">देवनागरी</dt><dd class="title">IAST</dd>
<dt>अ</dt><dd>a</dd><dt>आ</dt><dd>ā</dd>
<dt>इ</dt><dd>i</dd><dt>ई</dt><dd>ī</dd>
<dt>उ</dt><dd>u</dd><dt>ऊ</dt><dd>ū</dd>
<dt>ऋ</dt><dd>ṛ</dd><dt>ॠ</dt><dd>ṝ</dd>
<dt>ऌ</dt><dd>ḷ</dd><dt>ॡ</dt><dd>ḹ</dd>
<dt>ए</dt><dd>e</dd><dt>ऐ</dt><dd>ai</dd>
<dt>ओ</dt><dd>o</dd><dt>औ</dt><dd>au</dd>
</dl>
<h2>Stops and Nasals (<span lang="sa">ka kha gha gha ṅa …</span>)</h2>
<p class="alternatives">Also known as: <span lang="sa">vyañjana</span> ("manifestation")</p><p>To define a specific consonant, like <span lang="sa">kha</span>, we need to know four things:</p>
<ul>
<li><p>if it is voiced or unvoiced</p></li>
<li><p>if it is aspirated or unaspirated</p></li>
<li><p>its point of pronunciation</p></li>
<li><p>if it a stop or a nasal</p></li>
</ul>
<p>The set of letters that share a point of pronunciation is called a <dfn lang="sa">varga</dfn>. Traditionally, the unvoiced unaspirated consonant is used to identify the varga. For instance, the group {<span lang="sa">ta tha da dha na</span>} is called "<span lang="sa">tavarga</span>."</p>
<h3><span lang="sa">kavarga (ka kha ga gha ṅa)</span></h3>
<dl class="blue letters" lang="sa">
<dt class="title" lang="en">देवनागरी</dt><dd class="title" lang="en">IAST</dd>
<dt>क</dt><dd>ka</dd><dt>ख</dt><dd>kha</dd><dt>ग</dt><dd>ga</dd><dt>घ</dt><dd>gha</dd><dt>ङ</dt><dd>ṅa</dd>
</dl>
<h3><span lang="sa">cavarga (ca cha ja jha ña)</span></h3>
<dl class="blue letters" lang="sa">
<dt class="title" lang="en">देवनागरी</dt><dd class="title" lang="en">IAST</dd>
<dt>च</dt><dd>ca</dd><dt>छ</dt><dd>cha</dd><dt>ज</dt><dd>ja</dd><dt>झ</dt><dd>jha</dd><dt>ञ</dt><dd>ña</dd>
</dl>
<h3><span lang="sa">ṭavarga (ṭa ṭha ḍa ḍha ṇa)</span></h3>
<dl class="blue letters" lang="sa">
<dt class="title" lang="en">देवनागरी</dt><dd class="title" lang="en">IAST</dd>
<dt>ट</dt><dd>ṭa</dd><dt>ठ</dt><dd>ṭha</dd><dt>ड</dt><dd>ḍa</dd><dt>ढ</dt><dd>ḍha</dd><dt>ण</dt><dd>ṇa</dd>
</dl>
<h3><span lang="sa">tavarga (ta tha da dha na)</span></h3>
<dl class="blue letters" lang="sa">
<dt class="title" lang="en">देवनागरी</dt><dd class="title" lang="en">IAST</dd>
<dt>त</dt><dd>ta</dd><dt>थ</dt><dd>tha</dd><dt>द</dt><dd>da</dd><dt>ध</dt><dd>dha</dd><dt>न</dt><dd>na</dd>
</dl>
<h3><span lang="sa">pavarga (pa pha ba bha ma)</span></h3>
<dl class="blue letters" lang="sa">
<dt class="title" lang="en">देवनागरी</dt><dd class="title" lang="en">IAST</dd>
<dt>प</dt><dd>pa</dd><dt>फ</dt><dd>pha</dd><dt>ब</dt><dd>ba</dd><dt>भ</dt><dd>bha</dd><dt>म</dt><dd>ma</dd>
</dl>
<h2>Semivowels <span lang="sa">(ya ra la va)</span></h2>
<p class="alternatives">Also known as: <span lang="sa">antaḥstha</span> ("in-between")</p>
<dl class="blue letters" lang="sa">
<dt class="title" lang="en">देवनागरी</dt><dd class="title" lang="en">IAST</dd>
<dt>य</dt><dd>ya</dd><dt>र</dt><dd>ra</dd><dt>ल</dt><dd>la</dd><dt>व</dt><dd>va</dd>
</dl>
<p>Note that <span lang="sa">ru</span> is <span class="dev">रु</span> and <span lang="sa">rū</span> is <span class="dev">रू</span>.</p>


{% endblock %}

