{% extends 'base-grammar.html' %}

{% block title %}Verbs and Participles{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/ends">Odds and Ends</a> »</li>
<li>Verbs and Participles</li>
</ul>
{% endblock %}

{% block content %}

<h1>Verbs and Participles</h1>
<p>In this chapter, we will bring our study of verbs to a close. First, we will study three endings that we have avoided throughout this guide: the second-person dual ("you two"), the second-person plural ("you all"), and the third-person dual ("the two of them"). Next, we will study some very rare verb forms, one of which hardly ever appears in Sanskrit texts. Finally, we will study a fourth kind of participle. Moreover, we will give a quick look to how verb prefixes behave in Vedic literature.</p>
{% endblock %}

