@import "../../../static/css/lib.less";

@examples-font-size: 1.3em;
@field-height: 3em;
@height: 15em;
@panel-padding: 1em;
@submit-ratio: 0.85;
@textbox-width: 49%;
@textbox-gap: 100% - 2 * @textbox-width;

#sanscript {
    margin: auto;
    max-width: 960px;
    width: 90%;
}

h1 {
    color: #000;
    font-size: 2em;
    text-align: left;

    small {
        color: @gray;
        font-size: 0.6em;
    }
}

form {
    font-family: sans-serif;
    font-size: (1 / @en-font-size);
}

ul.examples {
    font-size: @examples-font-size;
    margin: 0 0 1em;
    padding: 0;

    li {
        line-height: 1em;
        margin: 1em;
        padding: 0;
    }
}

#sa-panel {
    .border-radius(5px);

    background: @off-white;
    border: 1px @light-gray solid;
    clear: both;
    margin: 1em 0;
    padding: @panel-padding;

    div.buttons {
        float: right;
        input, button {
            height: @field-height;
        }
    }
    select {
        height: @field-height;
    }
    ul.examples {
        border: 0;
        // Size w.r.t. base font size.
        font-size: @examples-font-size * @en-font-size;
        margin-left: 1em;
    }
}

#submit, #swap, label, select {
    font-size: 1em;
}

#submit {
    width: 3 * @field-height;
}

#swap {
    width: @field-height;
}

#options {
    margin-top: @panel-padding;
}

label {
    color: darken(@gray, 20%);
}

textarea {
    border-color: @body-background;
    height: @height;
    padding: 0;
    width: 100%;
}

.textbox {
    float: left;
    margin-bottom: 1em;
    width: @textbox-width;

    &.readonly {
        margin-left: @textbox-gap;

        textarea {
            background: @light-gray;

            &:focus {
                outline: 0;
            }
        }
    }
}

div.directions {
    text-align: center;

    ol {
        clear: both;
        counter-reset: item;
        display: inline-block;
        list-style: none;
        margin: 0;
        overflow: hidden;
        padding: 0;
    }

    li {
        float: left;
        margin-left: 2em;

        &:before {
            content: counter(item);
            counter-increment: item;
            color: @gray;
            font-size: 2em;
            margin-right: 0.5em;
        }
    }
    ol li:first-child {
            margin: 0;
        }
}
