@import "../../../static/css/lib.less";

@examples-font-size: 1.3em;
@field-height: 3em;
@height: 15em;
@textbox-width: 49%;
@textbox-gap: 100% - 2 * @textbox-width;

body {
    // Prevents jump caused by expanding #options panel
    overflow-y: scroll;
}

form {
    font-family: sans-serif;
    font-size: (1 / @en-font-size);
}

h1 {
    color: #000;
    font-size: 2em;
    text-align: left;

    small {
        color: @gray;
        font-size: 0.6em;
    }
}

label {
    color: darken(@gray, 20%);
}

textarea {
    font-size: 0.9em;
    height: @height;
    padding: 0;
    margin: 0;
}

ul.examples {
    font-size: @examples-font-size;
    margin: 0 0 1em;
    padding: 0;

    li {
        line-height: 1em;
        margin: 1em;
        padding: 0;
    }
}

ul.letters {
    li {
        margin-bottom: 0.5em;
    }
    span {
        display: block;
        &.sa1 {
            font-size: 1.7em;
        }
        &.sa2 {
            font-size: 1em;
        }
    }
}

#sa-panel {
    clear: both;
    margin: 1em 0;

    div.buttons {
        float: right;
        input, button {
            float: left;
            height: @field-height;
        }
    }
    select {
        height: @field-height;
    }
    ul.examples {
        border: 0;
        // Size w.r.t. base font size.
        font-size: @examples-font-size * @en-font-size;
        margin-left: 1em;
    }
}

#submit, #swap, label, select {
    font-size: 1em;
}

#submit {
    float: left;
    margin-right: 0.3em;
    width: 3 * @field-height;
}

#swap {
    width: @field-height;
}

#swap-link {
    text-decoration: none;
}

#options {
    margin-top: 1em;
    label:first-child {
        margin-top: 0;
    }
}

div.textbox {
    float: left;
    margin-bottom: 1em;
    width: @textbox-width;

    &.readonly {
        margin-left: @textbox-gap;

        textarea {
            background: @off-white;

            &:focus {
                outline: 0;
            }
        }
    }
}

div.directions {
    margin-bottom: 1em;
    text-align: center;

    ol {
        clear: both;
        counter-reset: item;
        display: inline-block;
        list-style: none;
        margin: 0;
        overflow: hidden;
        padding: 0;
    }

    li {
        float: left;
        margin-left: 2em;

        &:before {
            content: counter(item);
            counter-increment: item;
            color: @gray;
            font-size: 2em;
            margin-right: 0.5em;
        }
    }
    ol li:first-child {
            margin: 0;
        }
}
