{% extends 'base-grammar.html' %}

{% block title %}Vowel Sandhi{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/references">References</a> »</li>
<li><a href="/references/sandhi">Sandhi</a> »</li>
<li>Vowel Sandhi</li>
</ul>
{% endblock %}

{% block content %}

<h1>Vowel Sandhi</h1>
<p>Click to scroll down:</p>
<ul>
<li><a href="#begin">Before you begin</a></li>
<li><a href="#similar">Similar Vowels</a></li>
<li><a href="#dissimilar">Disimilar Vowels</a></li>
<li><a href="#internal">Special Rules of Internal Sandhi</a></li>
<li><a href="#external">Special Rules of External Sandhi</a></li>
<li><a href="#charts">Charts</a></li>
</ul>
<p>This page covers the rules of vowel sandhi. Any rule in which the first letter is a vowel is considered a vowel sandhi rule. If you prefer charts over sentences, you can use the charts at the bottom of the page. As far as I am aware, this page contains every rule of vowel sandhi. Pre-Classical works don't always conform to these rules.</p>
<h2 id="begin">Before you begin</h2>
<p>All of the rules below describe changes <strong>between two vowels</strong>, unless otherwise described. A vowel in front of a consonant will not change, unless otherwise described. The two vowels must be right next to each other with no letters between them.</p>
<h3>The basic principle of vowel sandhi</h3>
<p class="rule box">Two vowels should not be next to each other.</p>
<h3>Old vowels</h3>
<p>Early Sanskrit probably had vowel sounds like you see below:</p>
<table class="blue" id="chart" lang="sa">
<tr lang="en"><th>Weak</th><th>Medium</th><th>Strong</th></tr>
<tr><td>i, ī</td><td>*ai</td><td>*āi</td></tr>
<tr><td>u, ū</td><td>*au</td><td>*āu</td></tr>
<tr><td>ṛ, ṝ</td><td>*ar</td><td>*ār</td></tr>
</table>
<p>A knowledge of these old vowels will simplify the rules below. Over time, the old vowel sounds merged to become the ones we know today:</p>
<table class="blue" id="chart" lang="sa">
<tr lang="en"><th>Weak</th><th>Medium</th><th>Strong</th></tr>
<tr><td>i, ī</td><td>e</td><td>ai</td></tr>
<tr><td>u, ū</td><td>o</td><td>au</td></tr>
<tr><td>ṛ, ṝ</td><td>ar</td><td>ār</td></tr>
</table>
<h2 id="similar">Similar Vowels</h2>
<p>Similar vowels combine and become long. Remember, compound vowels are dissimilar to everything.</p>
<ul class="sa examples">
<li><p class="dev">भव अर्जुन → भवार्जुन</p>
<p lang="sa">bhava arjuna → bhavārjuna</p></li>
<li><p class="dev">दग्ध अरण्य → दग्धारण्य</p>
<p lang="sa">dagdha araṇya → dagdhāraṇya</p></li>
<li><p class="dev">सु-उक्त → सूक्त</p>
<p lang="sa">su-ukta → sūkta</p></li>
</ul>
<h2 id="dissimilar">Dissimilar Vowels</h2>
<p>Two <strong>dis</strong>similar vowels will change based on the first vowel.</p>
<p>If the first vowel is <span lang="sa">-a</span> or <span lang="sa">-ā</span>, then the first vowel combines with the second and strengthens it by one level. If the second vowel is already strong, then the first vowel disappears.</p>
<ul class="sa examples">
<li><p class="dev">राज इन्द्रः → राजेन्द्रः</p>
<p lang="sa">rāja indraḥ → rājendraḥ</p></li>
<li><p class="dev">महा ऋषिः → महर्षिः</p>
<p lang="sa">mahā ṛṣiḥ → maharṣiḥ</p></li>
<li><p class="dev">हित उपदेशः → हितोपदेशः</p>
<p lang="sa">hita upadeśaḥ → hitopadeśaḥ</p></li>
<li><p class="dev">तस्य औदार्यम् → तस्यौदार्यम्</p>
<p lang="sa">tasya audāryam → tasyaudāryam</p></li>
</ul>
<p>Otherwise, the first vowel will change to its corresponding semivowel. First, some examples for simple vowels:</p>
<ul class="sa examples">
<li><p class="dev">इति आह → इत्याह</p>
<p lang="sa">iti āha → ityāha</p></li>
<li><p class="dev">अपि अस्य → अप्यस्य</p>
<p lang="sa">api asya → apyasya</p></li>
<li><p class="dev">मधु इव → मध्विव</p>
<p lang="sa">madhu iva → madhviva</p></li>
</ul>
<p>Now, some examples for compound vowels. For compound vowels, the <strong>second part of the first vowel</strong> becomes the semivowel. Remember that <span lang="sa">e, ai, o,</span> and <span lang="sa">au</span> are treated as <span lang="sa">*ai, *āi, *au,</span> and <span lang="sa">*āu</span> for historical reasons.</p>
<ul class="sa examples">
<li><p class="dev">भोअति → भवति</p>
<p lang="sa">bhoati → bhavati</p></li>
<li><p class="dev">जेअति → जयति</p>
<p lang="sa">jeati → jayati</p></li>
<li><p class="dev">सह नौ अवतु → सह नाव् अवतु</p>
<p lang="sa">saha nau avatu → saha nāv avatu</p></li>
</ul>
<p>Compound vowels have some exceptions in external sandhi.</p>
<h2 id="internal">Special Rules of Internal Sandhi</h2>
<h3>Simple Vowels</h3>
<p>The following simple vowels will frequently change as follows:</p>
<dl class="blue" lang="sa">
<dt class="title" lang="en">First vowel</dt><dd class="title" lang="en">Result</dd>
<dt>i, ī</dt><dd>iy</dd>
<dt>u, ū</dt><dd>uv</dd>
<dt>ṝ</dt><dd>ir</dd>
</dl>
<ul class="sa examples">
<li><p class="dev">धी + इ → धियि</p>
<p lang="sa">dhī + i → dhiyi</p></li>
<li><p class="dev">भू + इ → भुवि</p>
<p lang="sa">bhū + i → bhuvi</p></li>
<li><p class="dev">गॄ + अ + ति → गिरति</p>
<p lang="sa">gṝ + a + ti → girati</p></li>
</ul>
<h3><span lang="sa">ṛ</span> and <span lang="sa">ṝ</span></h3>
<p><span lang="sa">ṛ</span>, when after a single consonant, becomes <span lang="sa">ri</span> before <span lang="sa">y-</span>.</p>
<ul class="sa examples">
<li><p class="dev">कृ + य + ते → क्रियते</p>
<p lang="sa">kṛ + ya + te → kriyate</p></li>
</ul>
<p><span lang="sa">ṝ</span> in front of a <strong>consonant suffix</strong> becomes <span lang="sa">īr</span>. But if the <span lang="sa">ṝ</span> comes after a letter in <span lang="sa">pavarga</span>, then it becomes <span lang="sa">ūr</span> instead. Note that this change applies only when the second letter is a <strong>consonant</strong>.</p>
<ul class="sa examples">
<li><p class="dev">गॄ + य + ते → गीर्यते</p>
<p lang="sa">gṝ + ya + te → gīryate</p></li>
<li><p class="dev">पॄ + न → पूर्न</p>
<p lang="sa">pṝ + na → pūrna</p></li>
</ul>
<h3>Compound Vowels</h3>
<p><q>For compound vowels, the second part of the first vowel becomes the semivowel</q> when it is followed by a vowel. The change also occurs when the second letter is the <strong>consonant</strong> <span lang="sa">y</span>. (This change occurs because many of the <span lang="sa">y</span> consonants in Classical Sanskrit come from <span lang="sa">i</span> vowels in Vedic Sanskrit.)</p>
<ul class="sa examples">
<li><p class="dev">गो + यः → गव्यः</p>
<p lang="sa">go + yaḥ → gavyaḥ</p></li>
</ul>
<h2 id="external">Special Rules of External Sandhi</h2>
<h3>Verb prefixes</h3>
<p>A prefix ending in <span lang="sa">a</span> or <span lang="sa">ā</span>, when in front of a verb starting with <span lang="sa">ṛ</span>, combines to form <span lang="sa">ār</span>.</p>
<ul class="sa examples">
<li><p class="dev">उप ऋच्छति → उपार्च्छति</p>
<p lang="sa">upa ṛcchati → upārcchati</p></li>
</ul>
<p>If the verb starts with a vowel, then the <span lang="sa">a</span> prefix, which is used to mark the past tense, will combine to make the vowel strong.</p>
<ul class="sa examples">
<li><p class="dev">अ + इच्छ + त् → ऐच्छत्</p>
<p lang="sa">a + iccha + t → aicchat</p></li>
</ul>
<p>Also, <span lang="sa">pra + ūḍha</span> becomes <span lang="sa">prauḍha</span>.</p>
<h3>Compound Vowels</h3>
<p><q>For compound vowels, the second part of the first vowel becomes the semivowel</q> when it is followed by a vowel. But in external sandhi, the semivowel is dropped for <span lang="sa">e</span> and <span lang="sa">ai</span>. The next rule features an exception to this one.</p>
<ul class="sa examples">
<li><p class="dev">नगरे इह → नगर इह</p>
<p lang="sa">nagare iha → nagara iha</p></li>
<li><p class="dev">रथोपस्थे उपाविशत् → रथोपस्थ उपाविशत्</p>
<p lang="sa">rathopasthe upāviśat → rathopastha upāviśat</p></li>
</ul>
<p>When <span lang="sa">-e</span> <!-- or <span lang="sa">-o</span> --> is in front of <span lang="sa">a-</span>, the first vowel stays the same and the <span lang="sa">a-</span> disappears. Note that the letter <span lang="sa">a</span> is removed because of the influence of the complex and common <span lang="sa">e</span> vowel.</p>
<ul class="sa examples">
<li><p class="dev">ते अब्रुवन् → ते ऽब्रुवन्</p>
<p lang="sa">te abruvan → te 'bruvan</p></li>
</ul>
<h3>Words unaffected by sandhi</h3>
<p>The words below will not combine with the words that follow them:</p>
<p>Particles of interjection (<span lang="sa">he, aho, …</span>) and particles that consist of just a single vowel (<span lang="sa">ā, i, u</span>, …):</p>
<ul class="sa examples">
<li><p class="dev">इ इन्द्र → इ इन्द्र</p>
<p lang="sa">i indra → i indra</p></li>
<li><p class="dev">हे अर्जुन → हे अर्जुन</p>
<p lang="sa">he arjuna → he arjuna</p></li>
</ul>
<p>The vowels <span lang="sa">ī, ū, </span> and <span lang="sa">e,</span> when they end a word in the dual:</p>
<ul class="sa examples">
<li><p class="dev">नगरे अहं पश्यामि → नगरे अहं पश्यामि</p>
<p lang="sa">nagare ahaṃ paśyāmi → nagare ahaṃ paśyāmi</p>
<div>I see the two cities.</div></li>
<li><p class="dev">नगरे अहं पश्यामि → नगरे ऽहं पश्यामि</p>
<p lang="sa">nagare ahaṃ paśyāmi → nagare 'haṃ paśyāmi</p>
<div>I see in the city.</div></li>
</ul>

<p>and <span lang="sa">amī</span>, the plural form of <a href="/references/nouns/pronouns">asau</a>.</p>
<p class="fact box">Other exceptions can be found in Panini's Ashtadhyayi (1.1.11 - 1.1.19; see my translation of these rules <a href="/texts/ashtadhyayi/book1-1">here</a>).</p>
<h2 id="charts">Charts</h2>
<h3>External Sandhi</h3>
<table class="letterchart" lang="sa">
<tr lang="en"><th colspan="7" style="background: #ddd;">First Vowel</th><th rowspan="2" style="background: #bbb;">Second Vowel</th></tr>
<tr style="background: #ddd;"><th>a/ā</th><th>i/ī</th><th>u/ū</th><th>ṛ/ṝ</th><th>e</th><th>ai</th><th>au</th></tr>
<tr> <td class="b bold">ā</td><td>ya</td><td>va</td><td>ra</td><td class="r bold">e '</td><td>ā a</td><td>āva</td><th style="background: #bbb;">a</th></tr>
<tr> <td class="b bold">ā</td><td>yā</td><td>vā</td><td>rā</td><td>a ā</td><td>ā ā</td><td>āvā</td><th style="background: #bbb;">ā</th></tr>
<tr> <td>e</td><td class="b bold">ī</td><td>vi</td><td>ri</td><td>a i</td><td>ā i</td><td>āvi</td><th style="background: #bbb;">i</th></tr>
<tr> <td>e</td><td class="b bold">ī</td><td>vī</td><td>rī</td><td>a ī</td><td>ā ī</td><td>āvī</td><th style="background: #bbb;">ī</th></tr>
<tr> <td>o</td><td>yu</td><td class="b bold">ū</td><td>ru</td><td>a u</td><td>ā u</td><td>āvu</td><th style="background: #bbb;">u</th></tr>
<tr> <td>o</td><td>yū</td><td class="b bold">ū</td><td>rū</td><td>a ū</td><td>ā ū</td><td>āvū</td><th style="background: #bbb;">ū</th></tr>
<tr> <td>ar</td><td>yṛ</td><td>vṛ</td><td class="b bold">ṝ</td><td>a ṛ</td><td>ā ṛ</td><td>āvṛ</td><th style="background: #bbb;">ṛ</th></tr>
<tr> <td>ar</td><td>yṝ</td><td>vṝ</td><td class="b bold">ṝ</td><td>a ṝ</td><td>ā ṝ</td><td>āvṝ</td><th style="background: #bbb;">ṝ</th></tr>
<tr> <td>ai</td><td>ye</td><td>ve</td><td>re</td><td>a e</td><td>ā e</td><td>āve</td><th style="background: #bbb;">e</th></tr>
<tr> <td>ai</td><td>yai</td><td>vai</td><td>rai</td><td>a ai</td><td>ā ai</td><td>āvai</td><th style="background: #bbb;">ai</th></tr>
<tr> <td>au</td><td>yo</td><td>vo</td><td>ro</td><td>a o</td><td>ā o</td><td>āvo</td><th style="background: #bbb;">o</th></tr>
<tr> <td>au</td><td>yau</td><td>vau</td><td>rau</td><td>a au</td><td>ā au</td><td>āvau</td><th style="background: #bbb;">au</th></tr>
</table>
{% endblock %}

