{% extends 'base-grammar.html' %}

{% block title %}Anusvara and Visarga{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/sounds">Sounds</a> »</li>
<li><a href="/sounds/consonants">Consonants</a> »</li>
<li>Anusvara and Visarga</li>
</ul>
{% endblock %}

{% block content %}

<h1><span lang="sa-iast">Anusvāra</span> and <span lang="sa-iast">Visarga</span></h1>
<p>Here, we will end our study of Sanskrit pronunciation by studying two more sounds. These two sounds are not vowels, but they are not quite consonants either. Additionally, these two sounds can appear <strong>only after vowels</strong>. For that reason, each of these sounds is featured with the vowel <span lang="sa">a</span> below.</p>
<h2><span lang="sa">anusvāra</span></h2>
<table class="blue">
<tr><th>Letter</th><th>Pronounciation</th><th>Example</th></tr>
<dl class="iast"><tr><td class="big" lang="sa">aṃ</td><td>---</td><td><div class="audio"><audio controls="" src="/static/audio/anusvara.OGG"><embed autoplay="false" height="20" src="/static/audio/anusvara.wav" width="200"/></audio><p></p></div>
</td></tr></dl>
</table>
<p>This sound is called the <dfn lang="sa">anusvāra</dfn> ("after-sound"). It is a "pure nasal" sound that only appears in front of consonants. Its point of pronunciation is the same as the consonant that follows it. But what does that really mean? To help you understand, here are some examples of how the anusvara is usually pronounced:</p>
<dl class="blue" lang="sa">
<dt class="title" lang="en">How it's written</dt><dd class="title" lang="en">How it's pronounced</dd>
<dt>saṃjaya</dt><dd>sañjaya</dd>
<dt>śaṃkara</dt><dd>śaṅkara</dd>
<dt>saṃskṛta</dt><dd>sanskṛta</dd>
<dt>saṃbuddha</dt><dd>sambuddha</dd>
</dl>
<p>Because of this change in pronunciation, <span lang="sa">saṃskṛta</span> is spelled in English as "Sa<strong>n</strong>skrit."</p>
<div class="fact box">
<p>But perhaps you're wondering: why do we use this letter at all? Indeed, some Sanskrit texts do not; <span lang="sa">saṃjaya</span>, for example, can appear as <span lang="sa">sañjaya</span>. But the <span lang="sa">anusvāra</span> is useful because it marks the places where the letter <span lang="sa">m</span> changes pronunciation. All of the words above are formed with the term <span lang="sa">sam</span>, and the <span lang="sa">m</span> of this term changes in front of the consonants that follow it. There's no need to remember this fact now; we'll study the change later on.</p>
<p>There is also another reason: especially in older Sanskrit works, the <span lang="sa">anusvāra</span> has a distinct and complex sound, and it is almost impossible to share it with an audio clip. The description given here is fine for the sort of Sanskrit featured in this guide, but if you want to read more about the pronunciation of the <span lang="sa">anusvāra</span>, you can do so <a href="http://www.sanskritweb.net/sansdocs/anusvara.pdf">here</a>.</p>
</div>
<h2><span lang="sa">visarga</span></h2>
<table class="blue">
<tr><th>Letter</th><th>Pronounciation</th><th>Example</th></tr>
<dl class="iast"><tr><td class="big" lang="sa">aḥ</td><td>---</td><td><div class="audio"><audio controls="" src="/static/audio/visarga.OGG"><embed autoplay="false" height="20" src="/static/audio/visarga.wav" width="200"/></audio><p></p></div>
</td></tr></dl>
</table>
<p>In Sanskrit, this sound is called the <dfn lang="sa">visarga</dfn> ("sending forth"). It is commonly pronounced as a shorter and softer version of vowel before it. For example, <span lang="sa">aḥ</span> is commonly pronounced as <span lang="sa">aha</span>. But in front of <span lang="sa">ka, kha, pa, pha,</span> and "s"-sounds, the visarga is pronounced just like the "h" in "house."</p>
<p class="fact box">Originally, the <span lang="sa">visarga</span> was probably just like the "h" in "house" in <em>every</em> case. Indeed, this is how some people pronounce it today. Given this, you can think of the <span lang="sa">visarga</span> as a soft-palate "s"-sound.</p>
<h2>The Full Alphabet</h2>
<p>The <span lang="sa">visarga</span> and <span lang="sa">anusvāra</span> are not quite like consonants, but they're not quite like vowels either. For this reason, they're usually placed with the vowels as shown:</p>
<ul lang="sa" style="font-size: 1.5em;">
<li>a ā, i ī, u ū, ṛ ṝ, e ai, o au, aṃ, aḥ</li>
<li>ka kha ga gha ṅa</li>
<li>ca cha ja jha ña</li>
<li>ṭa ṭha ḍa ḍha ṇa</li>
<li>ta tha da dha na</li>
<li>pa pha ba bha ma</li>
<li>ya ra la va</li>
<li>śa ṣa sa ha</li>
</ul>
{% endblock %}

