{% extends 'narrow.html' %}

{% block title %}Site{% endblock %}
{% block body_id %}site{% endblock %}

{% block content %}
<div class="narrow">
<h1>Site information</h1>

<h2>About the site</h2>
<p>A short history of learnsanskrit.org and how it was created. <a href="{{ url_for('.about') }}">Read more.</a></p>

<h2>Contact us</h2>
<p><a href="{{ url_for('.contact') }}">Let us know</a> what we're doing right and what we're doing wrong. We'll do our best to put your feedback to work.</p>


<h2>Resources</h2>
<p><a href="{{ url_for('.resources') }}">A collection of useful links</a> to dictionaries, texts, textbooks, tools, and other Sanskrit resources.</p>


<h2>Source code</h2>
<p>All of our source code is <a href="http://github.com/sanskrit">hosted on GitHub</a>.</p>

</div>
{% endblock %}
