{% extends 'general.html' %}

{% block title %}Settings{% endblock %}
<!-- {% block body_id %}settings{% endblock %} -->

{% block content %}
<h1>Settings</h1>

<form id="app" class="inset">
    <noscript>
        <p>To set your settings for the site, you must enable JavaScript in your browser. <a href="http://enable-javascript.com/">Click here to find out how to enable JavaScript in your browser.</a></p>
    </noscript>
</form>

<script type="text/template" id="settings-form">
    <fieldset>
        <legend>Scripts</legend>
        {{ form.sa1.label }} {{ form.sa1 }}
        {{ form.sa2.label }} {{ form.sa2 }}
        {{ form.input.label }} {{ form.input }}
    </fieldset>
</script>

<p></p>

<script src="{{ url_for('.static', filename='js/settings.js') }}"></script>
{% endblock %}
