{% extends 'base-grammar.html' %}

{% block title %}Lists{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/references">References</a> »</li>
<li>Lists</li>
</ul>
{% endblock %}

{% block content %}

<h1>Lists</h1>
<p>Here you can find a list of all of the prefixes, suffixes, and vocabulary words that were used in the guide. Like most parts of the site, this section is a <strong>work in progress</strong>, but you might still find something valuable here.</p>
{% endblock %}

