{% extends 'base-grammar.html' %}

{% block title %}adas{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/ends">Odds and Ends</a> »</li>
<li><a href="/ends/nouns">Nouns</a> »</li>
<li>adas</li>
</ul>
{% endblock %}

{% block content %}

<h1><span lang="sa">adas</span></h1>
<h2>Introduction</h2>
<p>The last of the four main pronouns is pronoun is <dfn lang="sa">adas</dfn>. Sanskrit pronouns differ primarily on the basis of the distance between the speaker and the object in question. <span lang="sa">adas</span> fits on the spectrum as follows:</p>
<ul class="examples">
<li><p class="dev"><span style="font-size: 1.8em;">एतद्</span> → <span style="font-size: 1.5em;">इदम्</span> → <strong style="font-size: 1.2em;">अदस्</strong> → तद्</p>
<p lang="sa"><span style="font-size: 1.8em;">etad</span> → <span style="font-size: 1.5em;">idam</span> → <strong style="font-size: 1.2em;">adas</strong> → tad</p>
<p>this (right near us) → this (close at hand) → <strong>that (within sight)</strong> → that (remote)</p>
</li>
</ul>
<h2>Endings</h2>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(/public/vhost/l/learnsanskrit/html/include/d-adas.html): failed to open stream: No such file or directory</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">
<h4>A PHP Error was encountered</h4>
<p>Severity: Warning</p>
<p>Message:  include(): Failed opening '/public/vhost/l/learnsanskrit/html/include/d-adas.html' for inclusion (include_path='.:/usr/share/php')</p>
<p>Filename: helpers/general_helper.php</p>
<p>Line Number: 6</p>
</div>
<h2>Sandhi</h2>
<p>The masculine case 1 plural <span lang="sa">amī</span> is immune to sandhi changes:</p>
<ul class="examples">
<li><p class="dev">अमी अश्वाः</p>
<p lang="sa">amī aśvāḥ</p>
<p>Those horses</p>
</li>
</ul>

{% endblock %}

