{% extends 'base-grammar.html' %}

{% block title %}The Desiderative{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/verbs">Verbs</a> »</li>
<li><a href="/verbs/doubling">Doubling</a> »</li>
<li>The Desiderative</li>
</ul>
{% endblock %}

{% block content %}

<h1>The Desiderative</h1>
<p class="alternatives">Also known as: <span lang="sa">sannanta</span> ("suffixed by <span lang="sa">sa</span>")</p>
<h2>Introduction</h2>
<p>Sanskrit gives us two ways to express what we <em>want</em> to do. First, we can use the verb <span lang="sa">iṣ</span> with an infinitive:</p>
<ul class="sa examples">
<li><p class="dev">गन्तुम् इच्छामि</p>
<p lang="sa">gantum icchāmi</p>
<p>I want to go.</p></li>
</ul>
<p>Second, we can use a new verb form:</p>
<ul class="examples">
<li><p class="dev"><strong>जिगमिषामि</strong></p>
<p lang="sa"><strong>jigamiṣāmi</strong></p>
<p>I want to go.</p>
</li>
</ul>
<p>This verb form has many names. I will use the traditional English name and call this verb the <dfn>desiderative</dfn> (pronounced "duh-<em>si</em>-dur-a-tive"). The "desidera" in this term is from a Latin word; this same Latin word is the origin of the English word "desire."</p>
<h2>Forming the desiderative root</h2>
<p>The desiderative uses a special root. Let's call this root the <dfn>desiderative root</dfn>. To form the desiderative root, we perform doubling on the verb root and and add <dfn lang="sa">s</dfn> to the end of the root. Some roots use the connecting <span lang="sa">i</span> vowel, which combines with the <span lang="sa">s</span> suffix to form <dfn lang="sa">iṣ</dfn>.</p>
<ul class="sa examples">
<li><p class="dev">युध् → यु + युध् + स् → युयुत्स्</p>
<p lang="sa">yudh → yu + yudh + s → yuyuts</p>
<p>fight → want to fight</p></li>
<li><p class="dev">जीव् → जि + जीव् + इ + स् → जिजीविष्</p>
<p lang="sa">jīv → ji + jīv + i + s → jijīviṣ</p>
<p>live → want to live</p></li>
</ul>
<p>Generally, we need to do three things to create the desiderative root:</p>
<ul>
<li>Create the doubled sound</li>
<li>Change the root</li>
<li>Add the <span lang="sa">s</span> suffix</li>
</ul>
<h3>Creating the doubled sound</h3>
<p>The doubled sound follows the regular rules of reduplication. The vowel in the doubled sound is always either <dfn lang="sa">i</dfn> or <dfn lang="sa">u</dfn>, and it is determined by the vowel in the root:</p>
<dl class="blue">
<dt class="title">Root vowel</dt><dd class="title">Doubled vowel</dd>
<dt lang="sa">u, ū</dt><dd lang="sa">u</dd>
<dt lang="sa">ṛ, ṝ</dt><dd><span lang="sa">u</span> if after a consonant in <span lang="sa">pavarga</span>; <span lang="sa">i</span> otherwise.</dd>
<dt>Other</dt><dd lang="sa">i</dd>
</dl>
<ul class="sa examples">
<li><p class="dev">स्था → तिष्ठास्</p>
<p lang="sa">sthā → tiṣṭhās</p>
<p>stand → wish to stand</p></li>
<li><p class="dev">मृ → मुमूर्ष्</p>
<p lang="sa">mṛ → mumūrṣ</p>
<p>die → wish to die</p>
<p>Note that <span lang="sa">mṛ</span> becomes <span lang="sa">mūr</span>. We'll study this change further below.</p></li>
</ul>
<p>If the root starts with a vowel, then it does not use a doubled sound. Instead, the <span lang="sa">s</span> suffix is used with the connecting vowel <span lang="sa">i</span>. (But, two similar vowels <strong>will not combine</strong>; see the example below.) <span lang="sa">āp</span> irregularly forms a special desiderative root: <span lang="sa">īps</span>.</p>
<ul class="sa examples">
<li><p class="dev">इ → इयिष्</p>
<p lang="sa">i → iyiṣ</p>
<p>go → wish to go</p>
<p>The result is <span lang="sa">iyiṣ</span>, not <span lang="sa">īṣ</span>.</p></li>
<li><p class="dev">आस् → आसिष्</p>
<p lang="sa">ās → āsiṣ</p>
<p>sit → wish to sit</p></li>
<li><p class="dev">आप् → ईप्स्</p>
<p lang="sa">āp → īps</p>
<p>obtain → wish to obtain</p></li>
</ul>
<h3>Changing the root</h3>
<p><span lang="sa">ṛ</span> and <span lang="sa">ṝ</span> become <span lang="sa">īr</span>; but if they appear after a sound from <span lang="sa">pavarga</span>, they become <span lang="sa">ūr</span> instead.</p>
<ul class="sa examples">
<li><p class="dev">कृ → चिकीर्ष्</p>
<p lang="sa">kṛ → cikīrṣ</p></li>
<li><p class="dev">तॄ → तितीर्ष्</p>
<p lang="sa">tṝ → titīrṣ</p></li>
<li><p class="dev">मृ → मुमूर्ष्</p>
<p lang="sa">mṛ → mumūrṣ</p></li>
<li><p class="dev">पॄ → पुपूर्ष्</p>
<p lang="sa">pṝ → pupūrṣ</p></li>
</ul>
<p>A final short vowel usually becomes long.</p>
<ul class="sa examples">
<li><p class="dev">श्रु → शुश्रूष्</p>
<p lang="sa">śru → śuśrūṣ</p>
<p>hear → want to hear</p></li>
</ul>
<p>If the root is used with <span lang="sa">iṣ</span>, then the following root vowels will strengthen:</p>
<ul>
<li>When final: <span lang="sa">ī</span>, <span lang="sa">ū</span>, <span lang="sa">ṝ</span></li>
<li>When surrounded by consonants: <span lang="sa">ṛ</span></li>
<li>The <span lang="sa">u</span> of <span lang="sa">śubh</span></li>
</ul>
<ul class="sa examples">
<li><p class="dev">नृत् → निनर्तिष्</p>
<p lang="sa">nṛt → ninartiṣ</p>
<p></p></li>
<li><p class="dev">शुभ् → शुशोभिष्</p>
<p lang="sa">śubh → śuśobhiṣ</p>
<p></p></li>
</ul>
<h2>Using the desiderative root</h2>
<p>If we have a desiderative root, we can make three different types of words: verbs, adjectives, and abstract nouns.</p>
<h3>Verbs</h3>
<p>We can form four different stems:</p>
<dl class="blue">
<dt class="title">Stem Type</dt><dd class="title">Suffix</dd>
<dt>ordinary stem</dt><dd lang="sa">a</dd>
<dt>passive stem</dt><dd lang="sa">ya</dd>
<dt>causal stem</dt><dd lang="sa">aya</dd>
<dt>future stem</dt><dd lang="sa">iṣya</dd>
</dl>
<p>All four of these stems are used normally, and they can be mixed and matched as you might expect. The causal stem, however, might be tricky at first. If the original verb means "to X," the causal stem means "cause somebody to want X." Note the order here carefully. The subject <em>causes;</em> he does not want.</p>
<ul class="sa examples">
<li><p class="dev">आप् → ईप्स्  → ईप्सय → ईप्सयामि</p>
<p lang="sa">āp → īps → īpsaya → īpsayāmi</p>
<p>obtain → want to obtain (root) → cause to want to obtain (stem) → I cause to want to obtain.</p>
<p>(order: desiderative stem, causal suffix, verb ending)</p></li>
</ul>
<h3>Adjectives</h3>
<p>The desiderative root is commonly used to create adjectives, especially in later Sanskrit works. To create the adjective, add <span lang="sa">u</span> to the end of the root.</p>
<ul class="sa examples">
<li><p class="dev">युध् → युयुत्स् → युयुत्सु</p>
<p lang="sa">yudh → yuyuts → yuyutsu</p>
<p>fight → want to fight (root) → wanting to fight (adjective)</p></li>
</ul>
<h3>Abstract Nouns</h3>
<p>The desiderative root can also become an abstract noun. To turn the root into a noun, add <span lang="sa">ā</span> to the end of the root.</p>
<ul class="sa examples">
<li><p class="dev">ज्ञा → जिज्ञास् → जिज्ञासा</p>
<p lang="sa">jñā → jijñās → jijñāsā</p>
<p>know → want to know (root) → desire to know, investigation</p></li>
<li><p class="dev">मन् → मीमांस् → मीमांसा</p>
<p lang="sa">man → mīmāṃs → mīmāṃsā</p>
<p>think → want to think (root) → desire to think; analysis, profound investigation, <a href="http://en.wikipedia.org/wiki/Mimāṃsā">Mimāṃsā</a></p>
<p>(Note that the doubling here is irregular.)</p></li>
</ul>
<h2>Exceptions and other notes</h2>
<h3>The desiderative with causal stems</h3>
<p>We can use the causal <strong>stem</strong> to create desiderative verbs as well. The last <span lang="sa">a</span> of the stem is removed, and a connecting <span lang="sa">i</span> is used. If the original verb means "to X" and the causal verb means "to cause somebody to X," then the desiderative verb means "to want to cause somebody to X." Note the order here carefully. The subject <em>wants</em>; he does not cause.</p>
<ul class="sa examples">
<li><p class="dev">धृ → धार् → धारय → दिधारयिष्  → दिधारयिष → दिधारयिषति</p>
<p lang="sa">dhṛ → dhār → dhāraya → didhārayiṣ → didhārayiṣa → didhārayiṣati</p>
<p>bear (root) → cause to bear (root) → cause to bear (stem) → want to cause to bear (root) → want to cause to bear (stem) → He wants to cause to bear.</p>
<p>(order: doubled sound, causal stem, desiderative suffix, verb ending)</p></li>
</ul>
<h3>Odd meanings of the desiderative root</h3>
<p>For some verb that means "X," the desiderative does not always mean "want to X." Sometimes, the desiderative may mean something else:</p>
<ul class="sa examples">
<li><p class="dev">श्रु → शुश्रूष्</p>
<p lang="sa">śru → śuśrūṣ</p>
<p>hear → want to hear; attend, serve</p></li>
<li><p class="dev">तिज् → तितिक्ष्</p>
<p lang="sa">tij → titikṣ</p>
<p>become sharp → want to become sharp; endure, suffer patiently</p></li>
</ul>

{% endblock %}

