{% extends 'base-grammar.html' %}

{% block title %}Sanskrit Grammar{% endblock %}

{% block grammar_nav %}
<ul>
    <li><a href="/">Index</a> &raquo;</li>
    <li>Sanskrit Grammar</li>
</ul>
{% endblock %}

{% block aside %}{% endblock %}

{% block content %}
<h1>Sanskrit Grammar</h1>

<aside class="note">
    <p>Please see <a href="/guide">our latest grammar guide</a> and <a
                     href="/">our home page</a> for our best and latest content.</p>

    <p>Some of the links here will redirect to our new guide, which presents
    the same content in a clearer way.</p>
</aside>

<ul class="contents">
{% for section in toc %}
    {% set section_id = loop.index0 %}
    <li><a href="{{ section.url }}">{{ section_id }} &nbsp;{{ section.title }}</a>
    {% if section.children %}
        <ul>
        {% for chapter in section.children %}
            {% set chapter_id = loop.index %}
            <li><a href="{{ chapter.url }}">{{ section_id }}.{{ chapter_id }} &nbsp;{{ chapter.title }}</a>
            {% if chapter.children %}
                <ul>
                {% for lesson in chapter.children %}
                    {% set lesson_id = loop.index %}
                    <li>
                        <a href="{{ lesson.url }}">{{ section_id }}.{{ chapter_id}}.{{ lesson_id }} &nbsp;
                            {{ lesson.title }}
                        </a>
                        {% if lesson.has_exercises %}
                        <a href="{{ lesson.url + '-e' }}">(+e)</a>
                        {% endif %}
                {% endfor %}
                </ul>
            {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    </li>
{% endfor %}
</ul>
{% endblock %}
