{% extends 'base-grammar.html' %}

{% block title %}Panini{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li>Panini</li>
</ul>
{% endblock %}

{% block content %}

<h1><span lang="sa-iast">Pāṇini</span></h1>
<blockquote>
<p>Whatever people may say, no one knows Sanskrit, who does not know Panini. <cite>Max Müller</cite></p>
</blockquote>
<p>In the <a href="/introduction">introduction to the grammar guide</a>, I mentioned that the famous grammarian who "froze" Sanskrit grammar was named Panini. Now that you know IAST, I can more accurately say that his name is <dfn lang="sa">pāṇini</dfn>, although I will use "Panini" for convenience. But who was Panini? Why is he important? What, exactly, did he do? These three questions are all related, and it's difficult to answer one without answering the others.</p>
<h2>The origin of Indian linguistics</h2>
<blockquote cite="Bloomfield, L. 1929 in Petersen, W. 2004 (http://user.phil-fak.uni-duesseldorf.de/~petersen/paper/petersen_jolli_proof.pdf)">
<p>The descriptive grammar of Sanskrit, which Pāṇini brought to its perfection, is one of the greatest monuments of human intelligence and an indispensable model for the description of languages. <cite><a href="http://en.wikipedia.org/wiki/Leonard_Bloomfield">Leonard Bloomfield</a>, 1929</cite></p>
</blockquote>
<p>As you may know by now, the <dfn>Vedas</dfn> are the oldest Sanskrit texts. One of their many themes is the power of both speech and the poets who have mastered speech. Given this, we can understand why the ancient Indians placed such importance on preserving the Vedas as precisely as possible: speech was powerful, and holy speech deserved to be preserved exactly as it was first said.</p>
<p>With this in mind, the ancient Indians began devising ways to preserve the Vedas exactly. Plain memorization could never be enough, for distortions inevitably slip in. Instead, they eventually realized that it was important to describe language itself. At first, these explanations dealt with <dfn>phonetics</dfn>, the most fundamental part of speech. Indeed, the <a href="/sounds/consonants/voice">organizational scheme</a> that we learned for the stops and nasals — starting with <span lang="sa">ka</span> and neatly progressing to <span lang="sa">ma</span> — was likely developed some time around 800 BCE.</p>
<p>As far as we know, this moment marks the beginning of <dfn>linguistics</dfn>, the rigorous and scientific study of language. But mere "description" of language slowly became more comprehensive, and as the musings of a few learned men became a rigorous and standardized study of language, the description of Sanskrit became more and more complete. Various theories of language's purpose and nature emerged, and different models were created for its use. But none excelled so much as the one devised by Panini.</p>
<p>We know almost nothing about Panini. Scholars guess that he lived between the 5th and 3rd centuries BCE. From his work, though, it is clear that he came at the end of a long line of Sanskrit linguists. His work was the culmination of perhaps centuries of study and debate. Indeed, his work was considered so perfect that the ancient Indians didn't think the work of his predecessors was worth keeping. For that reason, most of the tradition's history is lost to us. But, we still have its crown jewel.</p>
<h2>The Ashtadhyayi</h2>
<blockquote cite="The Ashtadhyayi, by Srisa Chandra Vasu (preface)">
<p>The Grammatical system elaborated by native Grammarians, is in itself most perfect, and those who have tested Panini's work will readly admit, that there is no Grammar in any language, that could vie with the wonderful mechanism of his eight books of Grammatical rules. <cite>Max Müller</cite></p>
</blockquote>
<p>As far as we know, Panini produced only one work: the <dfn>Ashtadhyayi</dfn> (<dfn lang="sa">aṣṭādhyāyī</dfn>), translating to "The Eight Chapters." This work, consisting of 3,959 aphoristic rules, fits on 35 printed pages, and it describes all of Classical Sanskrit. Essentially, it describes it by definition; the term "Classical Sanskrit" refers to all of the Sanskrit that follows Panini's model. The Ashtadhyayi also includes three "appendix" works, and we will study one of them in the next lesson.</p>
<p>As you might guess from its name, the Ashtadhyayi is divided into eight chapters, each of which loosely follows certain theme. The first chapter, for instance, largely focuses on defining terms and explaining how the text should be read and interpreted. The Ashtadhyayi is known for its extreme brevity, its difficulty, and its unique terminology. Panini used a special system of notation that allowed him to describe Sanskrit in as little space as possible. Brevity was one of his main concerns.</p>
<p>I must add, though, that not <em>all</em> of Sanskrit is described in the Ashtadhyayi. Rather, Panini describes the version that he spoke as his (possibly) native tongue, which differed in a few important ways from the language of the Vedas. Moreover, Panini's successors made various additions and modifications to his system, most of which are followed by the later Sanskrit wirters. Still, this does not change the fact that Panini's system is essentially synonymous with Sanskrit.</p>
<h2>Panini's influence</h2>
<blockquote cite="Kiparsky 1994">
<p>Modern linguistics acknowledges it as the most complete generative grammar of any language yet written, and continues to adopt technical ideas from it. <cite>Paul Kiparsky, 1994</cite></p>
</blockquote>
<p>The Ashtadhyayi defined Sanskrit once and for all. The perfection of Panini's model encouraged all authors to follow his grammatical rules. Eventually, adherence to Panini's rules became a sort of requirement. Even the most lyrical and intricate poems in Sanskrit follow the rules of the Ashtadhyayi, with only the rare exception.</p>
<p>What is surprising, though, is the influence that Panini's work has in the modern day. His work influenced great modern linguists like Ferdinand de Saussure and Noam Chomsky, and his style of notation is similar to <a href="http://en.wikipedia.org/wiki/Backus-Naur_form">Backus-Naur form</a>, which is used to define both human languages and programming languages.</p>
<h2>Using the supplemental lessons</h2>
<p>With that said, feel free to proceed to the next lesson, which introduces a bit of Panini's system. But I must warn you: Panini's system is complex and subtle, and it can be difficult to understand even with the help of an English commentary. Be patient, and go slowly.</p>
{% endblock %}

