{% extends 'base-grammar.html' %}

{% block title %}Separable Verb Prefixes{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/ends">Odds and Ends</a> »</li>
<li><a href="/ends/verbs">Verbs and Participles</a> »</li>
<li>Separable Verb Prefixes</li>
</ul>
{% endblock %}

{% block content %}

<h1>Separable Verb Prefixes</h1>
<p>Vedic Sanskrit differs from ordinary "Classical" Sanskrit in several remarkable ways. Many of these differences are beyond the scope of this guide. However, we can still learn a bit about Vedic Sanskrit's <dfn>separable verb prefixes</dfn>. This concept is exactly what it sounds like: the prefix of the verb separates from it entirely. It can appear after the verb, as well.</p>
<p>Why does this occur? Well, the old Indo-European languages all had words called <dfn>prepositions</dfn>, which survive in English today. These are words like "off", "from", "by," and "at." Sanskrit had them too. In fact, here are the Sanskrit relatives of those four English prepositions:</p>
<dl class="blue">
<dt class="title">English</dt><dd class="title">Sanskrit</dd>
<dt>off</dt><dd lang="sa">apa</dd>
<dt>from</dt><dd lang="sa">pra</dd>
<dt>by</dt><dd lang="sa">abhi</dd>
<dt>at</dt><dd lang="sa">adhi</dd>
</dl>
<p>Notice anything familiar? These old prepositions are all identical to the verb prefixes that we have studied already! This is no coincidence. Over time, prepositions became closely associated with the verb in the sentence, and eventually they just stuck to the front. This is why the <span lang="sa">a</span> of the ordinary past tense comes between the verb prefix and the verb itself:</p>
<ul class="examples">
<li><p class="dev">प्रति अगच्छत् → प्रत्यगच्छत्</p>
<p lang="sa">prati agacchat → pratyagacchat</p>
<p>He returned.</p>
</li>
</ul>
<p>This is also why some verb prefixes still have meaning even when there is no verb around. <dfn lang="sa">api</dfn>, in particular, has found all sorts of uses in later Sanskrit.</p>
<ul class="examples">
<li><p class="dev"><strong>आ</strong> कैलासत्</p>
<p lang="sa"><strong>ā</strong> kailāsat</p>
<p>up to Kailasa <cite>Meghaduta 1.11</cite></p>
</li>
<li><p class="dev">भोगैश्वर्यगतिं <strong>प्रति</strong></p>
<p lang="sa">bhogaiśvaryagatiṃ <strong>prati</strong></p>
<p>with regard to the path to enjoyment and power <cite>Bhagavad Gita 2.43</cite></p>
</li>
<li><p class="dev"><strong>अपि</strong> त्वं गुरुः?</p>
<p lang="sa"><strong>api</strong> tvaṃ guruḥ?</p>
<p>Are you a guru?</p>
</li>
</ul>
<div class="ling box">
<h2>Parallels in Greek</h2>
<p>As in Sanskrit, Greek had prepositions that later became stuck to the beginning of verb forms. But unlike Sanskrit, Greek prepositions also existed as they did before, without the restrictions that occurred in later Sanskrit. Part of the reason for this development is that Greek depends on participles to express the sorts of relationships that the Sanskrit noun cases do already; Greek has only <strong>5</strong> noun cases, whereas Sanskrit has <strong>8</strong>. Thus Greek has the preposition <span lang="gr">en</span> where Sanskrit uses case 7 and Greek has the preposition <span lang="gr">ex</span> where Sanskrit uses case 5. But it is certainly true that Greek prepositions can offer more subtlety than the Sanskrit cases alone. Fortunately, Sanskrit has a large system of adverbs to compensate.</p>
</div>
{% endblock %}

