{% extends 'base-grammar.html' %}

{% block title %}Exercises: Verb Bits{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/nouns">Nouns</a> »</li>
<li><a href="/nouns/cases">Three Cases</a> »</li>
<li>Exercises: Verb Bits</li>
</ul>
{% endblock %}

{% block content %}

<h1>Exercises: Verb Bits</h1>
<h2>Vocabulary</h2>
<h3>New roots and forms</h3>
<dl class="vocab">
<dt>अस्<div lang="sa">as</div></dt><dd>???<dd>be <span class="etym">[is, am, are, es-sence]</span></dd>
<dd><dl>
<dt>अस्ति<div lang="sa">asti</div></dt><dd>inflected<dd>He is</dd>
<dt>असि<div lang="sa">asi</div></dt><dd>inflected<dd>You (singular) are</dd>
<dt>अस्मि<div lang="sa">asmi</div></dt><dd>inflected<dd>I am</dd>
</dd></dd></dd></dl>
<dt>विद्<div lang="sa">vid</div></dt><dd>???<dd>see, know, understand <span class="etym">[wise wit, vision]</span>
<dd class="desc">This root is identical to the a0-class root <span lang="sa">vid</span>, meaning "find." But although these two roots are identical, they behave very differently.
</dd>
<dd><dl>
<dt>वेद<div lang="sa">veda</div></dt><dd>inflected<dd>I know / He knows</dd>
<dt>वेद<div lang="sa">veda</div></dt><dd>m<dd>sacred knowledge, lore; the <a href="http://en.wikipedia.org/wiki/Vedas">Vedas</a>
<dd class="desc">Note that this is a regular word formed by the <span lang="sa">a</span> primary suffix.
</dd>
<dd><dl>
<dt>वैदिक<div lang="sa">vaidika</div></dt><dd>mfn<dd>relating to the Vedas; "Vedic"</dd>
<dt>वैदिक<div lang="sa">vaidika</div></dt><dd>m<dd>one who is well-versed in the Vedas.</dd>
</dd></dd></dl>
</dd></dd></dd></dd></dl>
<dt>वच्<div lang="sa">vac</div></dt><dd>???<dd>speak, talk <span class="etym">[voice, vocal, vox]</span></dd>
<dd><dl>
<dt>उवाच<div lang="sa">uvāca</div></dt><dd>inflected<dd>he/she/it spoke</dd>
</dd></dl>
<dt>अह्<div lang="sa">ah</div></dt><dd>??<dd>speak</dd>
<dd><dl>
<dt>आह<div lang="sa">āha</div></dt><dd>inflected<dd>he/she/it spoke</dd>
<dt>आहुः<div lang="sa">āhuḥ</div></dt><dd>inflected<dd>they spoke</dd>
</dd></dd></dl>
</dd></dd></dd></dd></dd></dd></dd></dd></dd></dl>
<h3>General vocabulary</h3>
<dl class="vocab">
<dt>अस्<div lang="sa">as</div></dt><dd>अस्यति <div lang="sa">asyati</div></dd><dd>throw, cast
	<dd class="desc">Note that this is <strong>not</strong> the same <span lang="sa">as</span> word that gives us <span lang="sa">asti</span>.
</dd>
<dd><dl>
<dt>आस<div lang="sa">āsa</div></dt><dd>m<dd>something that throws or hurls; a bow</dd>
<dt>समस्<div lang="sa">samas</div></dt><dd>समस्यति <div lang="sa">samasyati</div></dd><dd>throw together, combine</dd>
<dd><dl>
<dt>समास<div lang="sa">samāsa</div></dt><dd>m<dd>The Sanskrit term for the compound</dd>
<dd><dl>
<dt>सामासिक<div lang="sa">sāmāsika</div></dt><dd>mfn<dd>related to the compound system</dd>
</dd></dl>
</dd></dd></dl>
</dd></dd></dl>
<dt>अव्<div lang="sa">av</div></dt><dd>avati<dd>protect
	<dd class="desc">Note that this root is stated as <span lang="sa">av</span> — and not <span lang="sa">u</span> or something similar — for a good reason. By learning the root as <span lang="sa">av</span>, we can better remember the gerund and PPP: <span lang="sa">avitvā</span> and <span lang="sa">avita</span>.
</dd>
<dt>क्षर्<div lang="sa">kṣar</div></dt><dd>क्षरति <div lang="sa">kṣarati</div></dd><dd>perish, melt away</dd>
<dd><dl>
<dt>क्षर<div lang="sa">kṣara</div></dt><dd>mfn<dd>perishable</dd>
<dd><dl>
<dt>अक्षर<div lang="sa">akṣara</div></dt><dd>mfn<dd>imperishable</dd>
<dd><dl>
<dt>अक्षर<div lang="sa">akṣara</div></dt><dd>m<dd>the Sanskrit term for letters</dd>
</dd></dl>
</dd></dd></dl>
</dd></dd></dl>
</dd></dd></dd></dd></dd></dl>
<h2>Translation</h2>
<p>Translate from Sanskrit to English.</p>
<ul class="exercises" lang="sa">
<li><p class="dev">संजय उवाच</p></li>
<li><p class="dev">अर्जुन उवाच</p></li>
<li><p class="dev">अवतु माम्</p></li>
<li><p class="dev">तत् त्वमसि</p></li>
<li><p class="dev">अक्षराणामकारो ऽस्मि द्वन्द्वः सामासिकस्य च</p>
<p lang="en">Here, the word <span lang="sa">kāra</span> is used to identify a particular letter. <span lang="sa">kakāra</span>, for instance, means "the letter <span lang="sa">ka</span>."</p></li>
</ul>
<h2>Answers</h2>
<h3>Translation</h3>
<ul class="exercises">
<li><p>Sanjaya said …</p>
<p class="aside"><cite>Bhagavad Gita (various)</cite></p></li>
<li><p>Arjuna said …</p>
<p class="aside"><cite>Bhagavad Gita (various)</cite></p></li>
<li><p>May he protect me.</p>
<p class="aside"><cite>Upanishads (various)</cite></p></li>
<li><p>You are that.</p>
<p class="aside"><cite>Chandogya Upanishad 6.8.7</cite></p>
<p class="aside">For more information on this important and well-known statement, you can <a href="http://en.wikipedia.org/wiki/Tat_Tvam_Asi">read this article at wikipedia.org</a>.</p></li>
<li><p>Of letters, I am <span lang="sa">a</span>, and of compounds, I am the <span lang="sa">dvandva</span>.</p>
<p class="aside"><cite>Bhagavad Gita 10.33</cite></p>
<p class="aside">This verse was featured in our <a href="http://www.learnsanskrit.org/sounds/vowels/simple">first lesson.</a></p></li>
</ul>

{% endblock %}

