{% extends 'base-grammar.html' %}

{% block title %}The Anubandha{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/panini">Panini</a> »</li>
<li>The Anubandha</li>
</ul>
{% endblock %}

{% block content %}

<h1>The <span lang="sa-iast">Anubandha</span></h1>

<aside class="note">
    <p>This content is out of date. <a href="{{ url_for('vyakarana.lesson', topic='sounds', slug='it-letters') }}">See the new version here.</a></p>
</aside>

<h2>Introduction</h2>
<p>Recall that an <span lang="sa">anubandha</span> is a "technical" letter that has no meaning in real Sanskrit. This is the definition that we used when talking about the Shiva Sutras. But this definition obscures the real power of the <span lang="sa">anubandha</span>. Let me redefine the term: an <dfn lang="sa">anubandha</dfn> is an "indicatory" letter that is given a special meaning within the Ashtadhyayi itself, and words behave differently based on the <span lang="sa">anubandha</span> attached to them. By using a considerable number of <span lang="sa">anubandha</span> letters, Panini concisely describes the grammatical behavior of all of Sanskrit grammar.</p>
<p>The <span lang="sa">anubandha</span> might seem like a vague concept, but it's not too difficult to grasp. </p>
<h3>An Illustration</h3>
<p>Consider three sets of verbs: "sing" and "swim," "teach" and "catch," and "walk" and "wonder." The verbs in the first set will change their vowel when used in the past tense: "sing" becomes "sang," and "swim" becomes "swam." The verbs in the second set will use "aught" for their ending: "teach" becomes "taught," and "catch" becomes "caught." Finally, the verbs in the third set just have "ed" added to the end of them: "walk" becomes "walked," and "wonder" becomes "wondered."</p>
<p>Based on these divisions, we can assign different names to the different sets. We could call the first set the "vowel change verbs," the second set the "-ght verbs," and the third set the "regular change verbs." But imagine that we wanted to talk about these verbs with the same brevity and concision that Panini uses in his Ashtadhyayi. These names are all much too long. What do we do? The answer is simple: we make these names shorter! We could name the first set "vowel," the second set "ght," and the third set "ed." But suppose we wanted to make this even briefer. We could reduce these names to one letter: "V" for the first set, "G" for the second set, and "E" for the third set. With these terms, we could talk about "singV," "catchG," or "walkE" and know exactly how each verb behaves. Each single-letter terms is essentially an <span lang="sa">anubandha</span>.</p>
<h3><span lang="sa">it</span></h3>
<p>Panini's special term for the <span lang="sa">anubandha</span> is <dfn lang="sa">it</dfn>, a contraction of the word <span lang="sa">iti</span>. We can talk about a particular <span lang="sa">anubandha</span> by attaching <span lang="sa">it</span> to the end of it. For example, the <span lang="sa">anubandha</span> letter <span lang="sa">k</span> is called <span lang="sa">kit</span>. </p>
<p>The examples in the next lesson will explore the details of <span lang="sa">kit</span>, which is used to describe both the <span lang="sa">tvā</span> suffix of the gerund and the <span lang="sa">ta</span> suffix of the <abbr>PPP</abbr>. Since Panini uses hardly any verbs in the Ashtadhyayi, there's no need to wait until you finish <a href="/verbs">the chapter on verbs</a>. You can proceed to <a href="kit">the next lesson</a> whenever you're ready.</p>
<h2>1.3.2 - 1.3.9 — Which letters are <span lang="sa">anubandha</span>s?</h2>
<p>In seven rules, Panini states which letters are actually used as <span lang="sa">anubandha</span>s. Of these seven rules, the first relies on a term defined in 1.1.8. ?et's take a look at that rule.</p>
<h3>1.1.8 — <span lang="sa">anunāsika</span></h3>
<ul class="examples">
<li><p class="dev">मुखनासिकवचनो ऽनुनासिकः</p>
<p lang="sa">mukhanāsikavacano 'nunāsikaḥ</p></li>
</ul>
<p>This is a <span lang="sa">saṃjñā</span> rule defining <span lang="sa">anunāsika</span>, meaning "nasalized." Something is <span lang="sa">anunāsika</span> if it is a <span lang="sa">vacana</span>, or utterance, made with <span lang="sa">mukha-nāsika</span>. This term is a <span lang="sa">dvandva</span> compound meaning "the mouth and the nose." So, a sound that uses both the mouth and the nose is called <span lang="sa">anunāsika</span>. The <span lang="sa">anusvāra</span>, which is a "pure nasal" sound, is not <span lang="sa">anunāsika</span>. However, the nasal consonants are <span lang="sa">anunāsika</span>, as are <dfn>nasalized vowels</dfn>, which are not used in Classical Sanskrit.</p>
<p>Now we can read the rules below. These rules define the letters that are used as <span lang="sa">anubandha</span>s. I've provided all seven of these rules so that you can see how parts of one rule carry over to the next. Together, these rules show that the order of rules is <strong>not</strong> arbitrary.</p>
<h3>1.3.2 — Nasalized vowels</h3>
<ul class="examples">
<li><p class="dev">उपदेशे ऽजनुनासिक इत्</p>
<p lang="sa">upadeśe 'janunāsika it</p></li>
</ul>
<p>This rule may not make much sense. I provide it here because parts of it carry over to the seven rules that follow.</p>
<p><span lang="sa">upadeśa</span> is a technical term for an "original" expression, one of the supposedly fundamental parts of Sanskrit. Every <span lang="sa">upadeśa</span> has an <span lang="sa">anubandha</span>, or perhaps two. The word is used in the locative case, but there is no substitution going on here. Rather, the locative shows that the rules that follow occur  "in," or within the scope of, an <span lang="sa">upadeśa</span>.</p>
<p><span lang="sa">'janunāsika</span> is originally <span lang="sa">ac-anunāsika</span>, meaning a nasalized vowel. The last word of the rule is <span lang="sa">it</span>, meaning an <span lang="sa">anubandha</span>.</p>
<p>So, this is the rule: <q>In an <span lang="sa">upadeśa</span>, a nasalized vowel is an <span lang="sa">anubandha</span>.</q></p>
<h3>1.3.3 — Final consonants</h3>
<ul class="examples">
<li><p class="dev">हलन्त्यम्</p>
<p lang="sa">halantyam</p></li>
</ul>
<p>With the sandhi split, this rule becomes: <span lang="sa">hal antyam</span>, meaning "a final consonant." The rule doesn't make any sense — that is, unless we consider the terms <span lang="sa">upadeśe</span> and <span lang="sa">it</span>. Then, the rule is plain: <q>In an <span lang="sa">upadeśa</span>, a final consonant is an <span lang="sa">anubandha</span>.</q></p>
<h3>1.3.4 — Exceptions for noun endings</h3>
<ul class="examples">
<li><p class="dev">न विभक्तौ तुस्माः</p>
<p lang="sa">na vibhaktau tusmāḥ</p></li>
</ul>
<p><span lang="sa">vibhakti</span> refers to the "case endings" added to the end of a noun. <span lang="sa">tu-s-māḥ</span> has three parts:</p>
<ul>
<li><span lang="sa">tu</span> is Panini's version of <span lang="sa">tavarga</span>; in the same way, <span lang="sa">ku</span> is <span lang="sa">kavarga</span>, and so on.</li>
<li><span lang="sa">s</span> is the letter <span lang="sa">s</span>.</li>
<li><span lang="sa">ma</span> is the letter <span lang="sa">m</span>. The <span lang="sa">a</span> is here to make the letter easier to say.</li>
</ul>
<p>So, what does the rule mean? It's tempting to translate the rule like this: <q><span lang="sa">tavarga, s,</span> and <span lang="sa">m</span> are not indicatory in a case affix.</q> The problem with this rendition is that it talks about <em>all</em> indicatory letters even though it follows <span lang="sa">halantyam</span>, which is a rule that only deals with <strong>final</strong> consonants. If <span lang="sa">na vibhaktau tusmāḥ</span> were really so general, then it would come <em>before</em> <span lang="sa">halantyam</span>, <strong>not</strong> after it.</p>
<p>Therefore, this rule must be a limiting case of <span lang="sa">halantyam</span>. We should translate the rule like this: <q><span lang="sa">tavarga, s,</span> and <span lang="sa">m</span> are not indicatory when <em>at the end of</em> a case affix.</q></p>
<h3>1.3.5 — Initial syllables</h3>
<ul class="examples">
<li><p class="dev">आदिर्ञिटुडवः</p>
<p lang="sa">ādirñiṭuḍavaḥ</p></li>
</ul>
<p>We have two words here. The first word is <span lang="sa">ādiḥ</span>, meaning "the beginning" or "initial." This word shows that we're not dealing with a final consonant any more. The second word is <span lang="sa">ñi-ṭu-ḍavaḥ</span>, which is formed of three <span lang="sa">anubandha</span> terms: <span lang="sa">ñi, ṭu,</span> and <span lang="sa">ḍu</span>. So, we should translate the rule like this: <q><span lang="sa">ñi, ṭu,</span> and <span lang="sa">ḍu</span> are all indicatory when at the beginning of a word.</q> Consider this rule and <strong>note</strong> this important point: an <span lang="sa">anubandha</span> does not have to be just a single letter.</p>
<p>Perhaps you're wondering: <q>If <span lang="sa">tu</span> refers to all of <span lang="sa">tavarga</span>, then shouldn't <span lang="sa">ṭu</span> refer to <span lang="sa">ṭavarga</span>?</q> Yes, but not in this context. I can only explain why this is the case when we study rule 1.3.7 below.</p>
<h3>1.3.6 — <span lang="sa">ṣa</span> in a suffix</h3>
<ul class="examples">
<li><p class="dev">षः प्रत्ययस्य</p>
<p lang="sa">ṣaḥ pratyayasya</p></li>
</ul>
<p>A <span lang="sa">pratyaya</span> is a suffix. <span lang="sa">ādi</span> carries over. So, we should translate the rule like this: <q>The initial <span lang="sa">ṣ</span> of a suffix is indicatory.</q></p>
<h3>1.3.7 — <span lang="sa">cavarga</span> and <span lang="sa">ṭavarga</span></h3>
<ul class="examples">
<li><p class="dev">चुटू</p>
<p lang="sa">cuṭū</p></li>
</ul>
<p><span lang="sa">ādi</span> and <span lang="sa">pratyaya</span> both carry over. The one word in this rule is <span lang="sa">cuṭu</span>, meaning <q><span lang="sa">cavarga</span> and <span lang="sa">ṭavarga</span>.</q> Therefore, we should translate the rule like this: <q>In a suffix, initial <span lang="sa">cavarga</span> and <span lang="sa">ṭavarga</span> letters are indicatory.</q></p>
<p>Perhaps you're wondering why 1.3.7 isn't just part 1.3.6. According to one translator, the reason is that this rule isn't always true: although <span lang="sa">cavarga</span> and <span lang="sa">ṭavarga</span> can be indicatory at the beginning of a word, they aren't always. I don't like that this ambiguity exists, but we won't have to deal with it for now.</p>
<p>When we studied rule 1.3.5, I mentioned that <span lang="sa">ṭu</span> referred to the syllable <span lang="sa">ṭu</span> and not to all of <span lang="sa">ṭavarga</span>. You should be able to see why that's the case by studying this rule. If the first <span lang="sa">ṭu</span> did refer to all of <span lang="sa">ṭavarga</span>, then the <span lang="sa">ṭu</span> in this rule would be redundant. So, it must be the case that the first <span lang="sa">ṭu</span> is a syllable. We can also infer this fact from the term's context; the first <span lang="sa">ṭu</span> exists with two other <span lang="sa">anubandha</span> terms, neither of which is a single letter.</p>
<h3>1.3.8 — More initial letters</h3>
<ul class="examples">
<li><p class="dev">लशक्वतद्धिते</p>
<p lang="sa">laśakvataddhite</p></li>
</ul>
<p><span lang="sa">ādi</span> and <span lang="sa">pratyaya</span> both carry over. This rule is composed of two words. The first is <span lang="sa">laśaku</span>, which refers to <span lang="sa">l, ś,</span> and the sounds in <span lang="sa">kavarga</span>. The second word is <span lang="sa">ataddhite</span>. Recall that <span lang="sa">taddhita</span> is the term for a secondary suffix, like <span lang="sa">tva</span> or <span lang="sa">maya</span>. So, <span lang="sa">ataddhite</span> means "not in a secondary suffix." </p>
<p>So, we can translate the rule like this: <q><span lang="sa">l, ś,</span>, and the letters in <span lang="sa">kavarga</span> are indicatory at the beginning of a sufffix, as long as the suffix is not a <span lang="sa">taddhita</span> suffix.</q></p>
<p>Now, let's look at one last rule.</p>
<h3>1.3.9 — Removing the <span lang="sa">anubandha</span></h3>
<ul class="examples">
<li><p class="dev">तस्य लोपः</p>
<p lang="sa">tasya lopaḥ</p></li>
</ul>
<p>This highly significant rule describes how <span lang="sa">it</span> letters behave. It is a substitution rule: <q>An <span lang="sa">anubandha</span> is replaced with <span lang="sa">lopa</span>.</q> What is <span lang="sa">lopa</span>? It means "dropping" or "removal," and it shows that the term is lost. So, we can translate the rule as simply as this: <q>The <span lang="sa">anubandha</span> is always deleted.</q> I've added the "always" here to clarify that this rule describes the <span lang="sa">anubandha</span>'s behavior.</p>
<p>This rule clarifies what a <span lang="sa">anubandha</span> really is: a technical marker that has absolutely no meaning in real Sanskrit. These markers are just used in Panini's system of analysis.</p>
{% endblock %}

