{% extends 'base-grammar.html' %}

{% block title %}Neuter Nouns{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/start">Starting Out</a> »</li>
<li><a href="/start/nouns">Noun Basics</a> »</li>
<li>Neuter Nouns</li>
</ul>
{% endblock %}

{% block content %}

<h1>Neuter Nouns</h1>
<p class="alternatives">Also known as: <span lang="sa">napuṃsaka-liṅga</span> ("neuter gender")</p>
<h2>Introduction</h2>
<p>Now is a good time to start our study of the neuter gender. This might seem like an odd idea; why should we start studying another gender when we haven't even finished our discussion of the masculine gender? The answer is that the neuter and masculine genders behave very similarly. The two differ in <strong>cases 1, 2, and 8 only</strong>; they are the same everywhere else.</p>
<h2>Inflection</h2>
<p>You can see the behavior of a normal neuter noun below. The word shown is <span lang="sa">phala</span>, which means "fruit."</p>
{% include 'include/charts/d-a-n.html' %}
<p>Notice that case 1 and case 2 use identical forms. This is one of the strange properties of the neuter gender, and it applies to <strong>all</strong> neuter words.</p>
<h2><span lang="sa">tad</span> in the neuter gender</h2>
<p>Let's take a look at <span lang="sa">tad</span> in the neuter gender:</p>
<table class="inflection">
<caption>tad (neuter)</caption>
<tr><th class="stem">तद्</th>
<th>Singular</th>
<th>Dual</th>
<th>Plural</th>
</tr><tr><th>Case 1 (subject)</th>
<td class="r">तत्<div>tat</div></td>
<td class="g">ते<div>te</div></td>
<td class="b">तानि<div>tāni</div></td>
</tr><tr><th>Case 2 (object)</th>
<td class="r">तत्<div>tat</div></td>
<td class="g">ते<div>te</div></td>
<td class="b">तानि<div>tāni</div></td>
</tr>
</table>
<p>The words <span lang="sa">tat</span> and <span lang="sa">te</span> follow some new external sandhi rules.</p>
<h3 lang="sa">tat</h3>
<p>First, <span lang="sa">tat</span> follows these general rules:</p>
<div class="rule box">
<ul>
<li>A final stop will take the <strong>voice</strong> of the letter that follows it.</li>
<li>A final stop will <strong>become nasal</strong> if followed by a nasal consonant. It will keep its own point of pronunciation.</li>
</ul>
</div>
<ul class="examples">
<li><p class="dev">तत् वनम् → तद् वनम्</p>
<p lang="sa">tat vanam → tad vanam</p>
<p>That is a forest.</p></li>
<li><p class="dev">तत् माम् गच्छति → तन् मां गच्छति</p>
<p lang="sa">tat mām gacchati → tan māṃ gacchati</p>
<p>It goes to me.</p></li>
</ul>
<p>Moreover, a final <span lang="sa">t</span> follows this rule:</p>
<p class="rule box">Final <span lang="sa">t</span> takes the point of pronunciation of the stop that follows it, as long as the stop is not in <span lang="sa">kavarga</span> or <span lang="sa">pavarga</span>.</p>
<ul class="examples">
<li><p class="dev">तत् जयति → तज् जयति</p>
<p lang="sa">tat jayati → taj jayati</p>
<p>He conquers it. (Or, "It conquers.")</p></li>
<li><p class="dev">तत् फलम् → तत् फलम्</p>
<p lang="sa">tat phalam → tat phalam</p>
<p>That is a fruit.</p></li>
</ul>
<h3>Vowels in the dual number</h3>
<p>The dual form <span lang="sa">te</span> is identical to the case 1 plural of masculine <span lang="sa">tad</span>. These two forms are easy to confuse; but <strong>all</strong> dual forms follow an extra sandhi rule:</p>
<p class="rule box"><span lang="sa">ī</span>, <span lang="sa">ū</span>, and <span lang="sa">e</span>, when they are at the end of dual forms, are <strong>immune</strong> to sandhi changes; they never combine.</p>
<ul class="examples">
<li><p class="dev">ते इच्छति → ते इच्छति</p>
<p lang="sa">te icchati → te icchati</p>
<p>He wants the two of them (neuter).</p>
</li>
<li><p class="dev">ते इच्छन्ति → त इच्छन्ति</p>
<p lang="sa">te icchanti → ta icchanti</p>
<p>They (masculine) want.</p>
</li>
<li><p class="dev">फले अश्वः इच्छति → फले अश्व इच्छति</p>
<p lang="sa">phale aśvaḥ icchati → phale aśva icchati</p>
<p>The horse wants the two fruits.</p>
</li>
<li><p class="dev">लभावहे इच्छावः → लभावहे इच्छावः</p>
<p lang="sa">labhāvahe icchāvaḥ → labhāvahe icchāvaḥ</p>
<p>We (two) obtain, we (two) want.</p>
</li>
</ul>
<p>This rule is quite strange, but it's best to just accept it and move on. If you like, you can consider it a way to remove ambiguity:</p>
<ul class="examples">
<li><p class="dev">ते इच्छन्ति</p>
<p lang="sa">te icchanti</p>
<p>They want the two of them.</p>
</li>
<li><p class="dev">त इच्छन्ति</p>
<p lang="sa">ta icchanti</p>
<p>They want.</p>
</li>
</ul>

{% endblock %}

