{% extends 'base-grammar.html' %}

{% block title %}Nouns{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/references">References</a> »</li>
<li>Nouns</li>
</ul>
{% endblock %}

{% block content %}

<h1>Nouns</h1>
<p>This section contains charts and tables that describe the inflectional patterns of all of the noun stems and pronouns featured in this guide. For further details on these noun stems and pronouns, see the corresponding lesson.</p>
{% endblock %}

