{% extends 'base-grammar.html' %}

{% block title %}General Rules{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/verbs">Verbs</a> »</li>
<li><a href="/verbs/doubling">Doubling</a> »</li>
<li>General Rules</li>
</ul>
{% endblock %}

{% block content %}

<h1>General Rules</h1>
<h2>Introduction</h2>
<p>There are several rules that control the nature of the doubled sound. Different forms will have some subtleties to them, but let's go over the general rules now. For the sake of illustration, some of the examples below may use verb roots that you have not seen before. Do not worry; we will study these roots later on.</p>
<h2>General rules for forming the doubled sound</h2>
<p class="rule box">Long vowels become short.</p>
<ul class="sa examples">
<li><p class="dev">दा → ददा</p>
<p lang="sa">dā → dadā</p></li>
</ul>
<p>The intuition for this change is that the doubled sound should be noticeable without taking too much effort.</p>
<p class="rule box">Aspirated letters become unaspirated.</p>
<ul class="sa examples">
<li><p class="dev">धा → दधा</p>
<p lang="sa">dhā → dadhā</p></li>
</ul>
<p>See above. It is not difficult to pronounce two aspirated letters in a row, but it is easier to leave the first one unaspirated.</p>
<p class="rule box">Letters from <span lang="sa">kavarga</span> shift to <span lang="sa">cavarga</span>. <span lang="sa">h</span> becomes <span lang="sa">j</span>.</p>
<ul class="sa examples">
<li><p class="dev">घुष् → जुघुष्</p>
<p lang="sa">ghuṣ → jughuṣ</p></li>
<li><p class="dev">हु → जुहु</p>
<p lang="sa">hu → juhu</p></li>
</ul>
<p>This change ultimately occurs for historical reasons. But it has the nice side-effect of making the result easy to pronounce.</p>
<p class="rule box">If the root starts with two consonants, only the first one appears. But if the first consonant is an "s"-sound and the second consonant is unvoiced, then only the second sound appears.</p>
<ul class="sa examples">
<li><p class="dev">क्री → चिक्री</p>
<p lang="sa">krī → cikrī</p></li>
<li><p class="dev">स्था → तस्था</p>
<p lang="sa">sthā → tasthā</p></li>
<li><p class="dev">स्मृ → सस्मृ</p>
<p lang="sa">smṛ → sasmṛ</p></li>
</ul>
<p class="rule box"><span lang="sa">e</span> becomes <span lang="sa">i</span>. <span lang="sa">ai</span> and <span lang="sa">o</span> become <span lang="sa">a</span>.</p>
<ul class="sa examples">
<li><p class="dev">सेव् → सिषेव्</p>
<p lang="sa">sev → siṣev</p></li>
<li><p class="dev">गै → जगै</p>
<p lang="sa">gai → jagai</p></li>
</ul>
<p>This change makes the doubled sound easier to pronounce.</p>
{% endblock %}

