{% extends 'tools/layout.html' %}

{% block extrahead %}
    {% assets filters="less", output="gen/sanscript.css", "tools/css/sanscript.less" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block name %}Sanscript{% endblock %}

{% block content %}
<h1>Sanscript</h1>
<script src="{{ url_for('tools.static', filename='js/sanscript-app.js') }}"></script>
<div id="sanscript">
<form method="" action="POST">
    <div id="sa-panel">
        {{ form.from_script(class='span6') }}
        &rarr;
        {{ form.to_script }}
        <div class="buttons">
            <input id="submit" type="submit" value="Run" />
            <button id="swap">↔</button>
        </div>
    </div>
    <div class="textbox">
       {{ form.input }}
    </div>
    <div class="readonly textbox">
        {{ form.output(readonly=true) }}
    </div>
</form>

<p><dfn>Sanscript</dfn> transliterates text from one script to another. Sanscript supports all Indian scripts and the most popular romanizations. It focuses on Sanskrit, but it has <strong>partial support for other languages</strong>.</p>

<p>It's easy to use Sanscript:</p>
<ol>
    <li>Choose your <a href="#sa-panel">options</a>.</li>
    <li>Put text in the <a href="#input">left box</a>.</li>
    <li>Click <a href="#submit">"Run"</a>.</li>
</ol>
</div>
{% endblock %}
