{% extends 'tools/layout.html' %}

{% block extrahead %}
    {% assets filters="less", output="gen/sanscript.css", "tools/css/sanscript.less" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block name %}Sanscript{% endblock %}

{% block content %}
<h1>Sanscript</h1>
<script src="{{ url_for('tools.static', filename='js/sanscript-app.js') }}"></script>
<form method="" action="POST">
    {{ form.input }}
    {{ form.output(readonly=true) }}
    {{ form.from_script }}
    {{ form.to_script }}
    <input id="submit" type="submit" value="Go!" />
    <button id="swap">↔</button>
</form>
{% endblock %}
