{% extends 'tools/layout.html' %}

{% block extrahead %}
    {% assets filters="less", output="gen/sanscript.css", "tools/css/sanscript.less" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block title %}Sanscript{% endblock %}

{% block content %}
<div id="sanscript">
<h1>Sanscript <small>(a fast and powerful transliterator)</small></h1>
<form method="" action="POST">
    <div id="sa-panel" class="inset">
        {{ form.from_script }}
        <a id="swap-link" href="#">&rarr;</a>
        {{ form.to_script }}
        <div class="buttons">
            <input id="submit" type="submit" value="Transliterate" />
            <button id="swap">↔</button>
        </div>
        <a href="#options">More options?</a>
        <div id="options">
            <label>
                <input id="live-type" name="live-type" type="checkbox" checked />
                Transliterate while I'm typing
            </label>

            <label>
                <input id="syncope" name="syncope" type="checkbox" />
                Use Hindi-style transliteration
            </label>

            <ul class="examples">
                <li><kbd data-raw="ajay">ajay</kbd>
                &rarr; <samp>{{ 'ajaya'|d('') }}</samp></li>
            </ul>

            <label>
                <input id="skip_sgml" name="skip_sgml" type="checkbox" checked />
                Skip HTML tags
            </label>

            <ul class="examples">
                <li><kbd data-raw="<b>aham</b>">&lt;b&gt;aham&lt;/b&gt;</kbd>
                &rarr; <samp>&lt;b&gt;{{ 'aham'|d('') }}&lt;/b&gt;</samp></li>
            </ul>
        </div>
    </div>
    <div class="textbox">
       {{ form.input }}
    </div>
    <div class="readonly textbox">
        {{ form.output(readonly=true) }}
    </div>
</form>

<div class="tabs">
<section id="t-intro">
    <h1>Sanscript</h1>
    <div class="directions">
        <ol>
            <li>Choose some <a href="#sa-panel" data-spotlight="#sa-panel">options</a>.</li>
            <li>Type some <a href="#input" data-spotlight="#input">text</a>.</li>
            <li>Click the <a href="#submit" data-spotlight="#submit">button</a>.</li>
        </ol>
    </div>

    <p><dfn>Sanscript</dfn> transliterates text from one script to another. Sanscript supports all Indian scripts and the most popular romanizations. It focuses on Sanskrit, but it has strong support for other languages.</p>
</section>

<section id="t-map">
    {% macro script_key_row(letters) -%}
        {% for L in letters %}<li data-raw="{{ L }}" />{% endfor -%}
    {% endmacro %}
    <h1>Script Key</h1>

    <h2>Vowels and marks</h2>
    <ul class="grid-6 letters">
        {{ script_key_row('a A i I u U'.split()) }}
    </ul>
    <ul class="grid-4 letters">
        {{ script_key_row('RRi RRI LLi LLI'.split()) }}
        {{ script_key_row('e ai o au'.split()) }}
        {{ script_key_row('kaM kaH ka.N ka.c'.split()) }}
    </ul>

    <h2>Consonants</h2>
    <h3>Stops and nasals</h3>
    <ul class="grid-5 letters">
        {{ script_key_row('ka kha ga gha ~Na'.split()) }}
        {{ script_key_row('ca chha ja jha ~na'.split()) }}
        {{ script_key_row('Ta Tha Da Dha Na'.split()) }}
        {{ script_key_row('ta tha da dha na'.split()) }}
        {{ script_key_row('pa pha ba bha ma'.split()) }}
    </ul>
    <h3>Other</h3>
    <ul class="grid-4 letters">
        {{ script_key_row('ya ra la va'.split()) }}
    </ul>
    <ul class="grid-4 letters">
        {{ script_key_row('sha Sha sa ha'.split()) }}
    </ul>
    <ul class="grid-4 letters">
        {{ script_key_row('La kSha GYa'.split()) }}
    </ul>
    <h3>Non-Sanskrit</h3>
    <ul class="grid-9 letters">
        {{ script_key_row('qa Ka Ga za .Da .Dha fa Ya Ra'.split()) }}
    </ul>

    <h2>Symbols and punctuation</h2>
    <ul class="grid-10 letters">
        {{ script_key_row('0 1 2 3 4 5 6 7 8 9'.split()) }}
    </ul>
    <ul class="grid-6 letters">
        {{ script_key_row("OM ~ | || a\_ a\'".split()) }}
    </ul>
</section>

<section id="t-details">
    <h1>Details</h1>

    <h2>Disabling transliteration</h2>
    <p>Sometimes, you might prefer to leave parts of your text as they are. You can tell Sanscript to start ignoring your text by typing <kbd>##</kbd>. You can type <kbd>##</kbd> again to resume transliterating:</p>

    <ul class="examples">
        <li><kbd>saMjaya ##Sanjaya## uvAca ##said##</kbd>
        &rarr; <samp>{{ 'saMjaya'|d('') }} Sanjaya {{ 'uvAca'|d('') }} said</samp></li>
    </ul>

    <h2>ITRANS features</h2>
    <p>Sanscript supports some special ITRANS-specific behavior:</p>

    <h3>Backslash escape</h3>
    <ul class="examples">
        <li><kbd>a \a</kbd>
        &rarr; <samp>{{ 'a'|d('') }} a</samp></li>
    </ul>

    <h3>Separating letters</h3>
    <p>You can separate consonants with <kbd>{}</kbd> and vowels with <kbd>_</kbd>.</p>

    <ul class="examples">
        <li><kbd>kShetra k{}Shetra</kbd>
        &rarr; <samp>{{ 'kSetra'|d('') }} {{ 'k'|d('') }}&zwj;{{ 'Setra'|d('') }}</samp></li>
        <li><kbd>barau bara_u</kbd>
        &rarr; <samp>{{ 'barau'|d('') }} {{ 'bara'|d('') }}{{ 'u'|d('') }}</samp></li>
    </ul>
</section>

<section id="t-faq">
    <h1>FAQ</h1>
    <dl class="faq">
        <dt>Scripts like Tamil have shorter versions of <i>e</i> and <i>o</i>. Can Sanscript handle these?</dt>
        <dd>
        <p>Yes, it can! These vowels are supported by two romanizations:</p>
        <ul>
            <li>ITRANS</li>
            <li>Kolkata</li>
        </ul>
        <p>To use these vowels from ITRANS, <a href="#from_script" data-spotlight="select">select</a> the <b>ITRANS (Dravidian)</b> option under <b>Variants</b>.</p>
        </dd>

        <dt>My question isn't answered here. What should I do?</dt>
        <dd><p><a href="{{ url_for('site.contact') }}">Send us an email</a> and we'll do our best to help.</p></dd>
    </dl>
</section>

<section id="t-code">
    <h1>Code</h1>
    <p>Sanscript is available as a standalone JavaScript file. It is comprehensive and extremely easy to use. You can grab the source code and help improve it <a href="http://github.com/akprasad/sanscript">on GitHub</a>.</p>
</section>
</div>
<script src="{{ url_for('tools.static', filename='js/sanscript-app.js') }}"></script>
{% endblock %}
