{% extends 'base-grammar.html' %}

{% block title %}Exercises: Sandhi{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/start">Starting Out</a> »</li>
<li><a href="/start/nouns">Noun Basics</a> »</li>
<li>Exercises: Sandhi</li>
</ul>
{% endblock %}

{% block content %}

<h1>Exercises: Sandhi</h1>
<h2>Vocabulary</h2>
<p>With these five verbs, we bring our collection to 29. All four of these roots are from the <span lang="sa">-a0</span> class.</p>
<dl class="vocab">
<dt>वेद्<div lang="sa">ved</div></dt><dd>विन्दति <div lang="sa">vindati</div></dd><dd>find, meet [find]</dd>
<dt>सर्ज्<div lang="sa">sarj</div></dt><dd>सृजति <div lang="sa">sṛjati</div></dd><dd>release, cast, fall; create (the universe) <span class="etym">[<span lang="sa">visarga</span>]</span></dd>
<dt>एष्<div lang="sa">eṣ</div></dt><dd>इच्छति <div lang="sa">icchati</div></dd><dd>desire, want, wish, seek</dd>
<dt>प्रछ्<div lang="sa">prach</div></dt><dd>पृच्छति <div lang="sa">pṛcchati</div></dd><dd>ask</dd>
</dl>
<h2>Sandhi</h2>
<p>Below, you will find a few phrases from Sanskrit literature. Their sandhi changes have been removed; fix them by applying the changes you've just learned.</p>
<ul class="exercises" lang="sa">
<li><p class="dev">पूर्णस्य पूर्णम् आदाय पूर्णम् एव अवशिष्यते</p><p>pūrṇasya pūrṇam ādāya pūrṇam eva avaśiṣyate</p></li>
<li><p class="dev">भवति इति अनुशुश्रुम</p><p>bhavati iti anuśuśruma</p></li>
<li><p class="dev">नित्यशब्देन अत्र अनित्यत्वस्य अभावः उच्यते</p><p>nityaśabdena atra anityatvasya abhāvaḥ ucyate</p>
<p lang="en">By sandhi, <span lang="sa">abhāvaḥ</span> will become <span lang="sa">abhāva</span>. We will study this rule in the next lesson.</p></li>
</ul>
<h2>Translation</h2>
<p>Translate from Sanskrit to English. Put the verb in front of the noun.</p>
<ul class="drill exercises">
<li>The horse finds.</li>
<li>The horse wants.</li>
<li>We ask.</li>
<li>You release.</li>
</ul>
<h2>Answers</h2>
<h3>Sandhi</h3>
<ul class="exercises" lang="sa">
<li><p class="dev">पूर्णस्य पूर्णम् आदाय पूर्णम् एवावशिष्यते</p>
<p>pūrṇasya pūrṇam ādāya pūrṇam evāvaśiṣyate</p></li>
<li><p class="dev">भवतीत्य् अनुशुश्रुम</p>
<p>bhavatīty anuśuśruma</p></li>
<li><p class="dev">नित्यशब्देनात्रानित्यत्वस्याभाव उच्यते</p>
<p>nityaśabdenātrānityatvasyābhāva ucyate</p></li>
</ul>
<p>Just for fun, here are the translated versions of the Sanskrit excerpts above:</p>
<ul class="exercises">
<li><p>Taking the full from the full, the full itself remains. <cite>Upanishads (various)</cite></p></li>
<li><p>It is; so we have heard. <cite>Bhagavad Gita 1.44</cite></p></li>
<li><p>By the word "permanent" here is meant the absence of impermanence. <cite><span lang="sa">nyāyapraveśa</span> 2.3 [a 6th century work on logic]</cite></p></li>
</ul>
<h3>Translation</h3>
<ul class="drill exercises" lang="sa">
<li><p class="dev">विन्दत्य् अश्वः</p><p>vindaty aśvaḥ</p></li>
<li><p class="dev">इच्छत्य् अश्वः</p><p>icchaty aśvaḥ</p></li>
<li><p class="dev">पृच्छामः</p><p>pṛcchāmaḥ</p></li>
<li><p class="dev">सृजसि</p><p>sṛjasi</p></li>
</ul>
{% endblock %}

