{% extends 'base-grammar.html' %}

{% block title %}Conjunct Consonants{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/references">References</a> »</li>
<li><a href="/references/devanagari">Devanagari</a> »</li>
<li>Conjunct Consonants</li>
</ul>
{% endblock %}

{% block content %}

<h1>Conjunct Consonants</h1>
<p class="warning box">If your computer does not have the necessary files to support complex Devanagari combinations, then the combinations here may not look especially noteworthy.</p>
<h3>Special Combinations</h3>
<p>These combinations are produced from two consonants. These consonants combine so much that it's impossible to recognize them in the result. However, both of these combinations are common enough that you should know them.</p>
<dl class="blue letters" lang="sa">
<dt class="title" lang="en">देवनागरी</dt><dd class="title" lang="en">IAST</dd>
<dt>क्ष</dt><dd>kṣa</dd>
<dt>ज्ञ</dt><dd>jña</dd>
</dl>
<h3>Letter with a vertical line on the right + Letter</h3>
<p>When these letters come first, they lose their line and attach to the consonant that follows them.</p>
<dl class="blue letters" lang="sa">
<dt class="title" lang="en">देवनागरी</dt><dd class="title" lang="en">IAST</dd>
<dt>च्छ</dt><dd>ccha</dd>
<dt>ग्घ</dt><dd>ggha</dd>
<dt>ज्ज</dt><dd>jja</dd>
<dt>ण्ण</dt><dd>ṇṇa</dd>
<dt>ब्भ</dt><dd>bbha</dd>
</dl>
<h3>Letter + <span class="dev">र</span></h3>
<p>The <span class="dev">र</span> is added to the letter with a little mark on the bottom of it. For letters with a "hoop" (<span class="dev">ट ठ ढ द</span>), this mark looks like the caret sign (^).</p>
<dl class="blue letters" lang="sa">
<dt class="title" lang="en">देवनागरी</dt><dd class="title" lang="en">IAST</dd>
<dt>प्र</dt><dd>pra</dd>
<dt>क्र</dt><dd>kra</dd>
<dt>ट्र</dt><dd>ṭra</dd>
<dt>द्र</dt><dd>dra</dd>
<dt>त्र</dt><dd>tra</dd>
</dl>
<h3 lang="sa">dya, dma, hya, hma</h3>
<dl class="blue letters" lang="sa">
<dt class="title" lang="en">देवनागरी</dt><dd class="title" lang="en">IAST</dd>
<dt>द्य</dt><dd>dya</dd>
<dt>द्म</dt><dd>dma</dd>
<dt>ह्य</dt><dd>hya</dd>
<dt>ह्म</dt><dd>hma</dd>
</dl>
<h3><span lang="sa">śra, śva, śca, śla</span></h3>
<p>In these combinations, <span class="dev">श</span> is distorted to make room for the letter that follows it.</p>
<dl class="blue letters" lang="sa">
<dt class="title" lang="en">देवनागरी</dt><dd class="title" lang="en">IAST</dd>
<dt>श्र</dt><dd>śra</dd>
<dt>श्व</dt><dd>śva</dd>
<dt>श्च</dt><dd>śca</dd>
<dt>श्ल</dt><dd>śla</dd>
</dl>
<h3><span lang="sa">dgha, ddha, dbha</span></h3>
<p>In these combinations, the aspirated letter (<span class="dev">घ ध भ</span>) attaches to the bottom of <span class="dev">द</span>. Due to sandhi, combinations like <span class="dev">ट्भ</span> never occur.</p>
<dl class="blue letters" lang="sa">
<dt class="title" lang="en">देवनागरी</dt><dd class="title" lang="en">IAST</dd>
<dt>द्घ</dt><dd>dgha</dd>
<dt>द्ध</dt><dd>ddha</dd>
<dt>द्भ</dt><dd>dbha</dd>
</dl>
<h3>Other Odd Combinations</h3>
<dl class="blue letters" lang="sa">
<dt class="title" lang="en">देवनागरी</dt><dd class="title" lang="en">IAST</dd>
<dt>क्त</dt><dd>kta</dd>
<dt>त्त</dt><dd>tta</dd>
<dt>त्त्र</dt><dd>ttra</dd>
</dl>
{% endblock %}

