{% extends 'base-grammar.html' %}

{% block title %}Basic Vedic Devanagari{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/references">References</a> »</li>
<li><a href="/references/devanagari">Devanagari</a> »</li>
<li>Basic Vedic Devanagari</li>
</ul>
{% endblock %}

{% block content %}

<h1>Basic Vedic Devanagari</h1>
<h2>Accents</h2>
<dl class="blue letters" lang="sa">
<dt class="title" lang="en">देवनागरी</dt><dd class="title" lang="en">IAST</dd>
<dt>क</dt><dd>ka (udātta)</dd>
<dt>क॒</dt><dd>ka (anudātta)</dd>
<dt>क॑</dt><dd>ka (svarita)</dd>
</dl>
<h2>Consonants</h2>
<dl class="blue letters" lang="sa">
<dt class="title" lang="en">देवनागरी</dt><dd class="title" lang="en">IAST</dd>
<dt>ळ</dt><dd>ḻa</dd>
<dt>ळ्ह</dt><dd>ḻha</dd>
</dl>
{% endblock %}

