{% extends 'base-grammar.html' %}

{% block title %}Sandhi{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/references">References</a> »</li>
<li>Sandhi</li>
</ul>
{% endblock %}

{% block content %}

<h1>Sandhi</h1>
<h2>Introduction</h2>
<p>The pages here contain information on all of Sanskrit's sandhi rules. Before proceeding, please review the terms below. If these terms are unfamiliar to you, please review <a href="/sounds">the unit on Sanskrit sounds</a>.</p>
<h2 class="clear">General terms</h2>
<dl class="blue">
<dt class="title">Term</dt><dd class="title">Definition</dd>
<dt>point of pronunciation</dt><dd>The <strong>location of the tongue</strong> when we pronounce a letter.</dd>
<dt>soft palate</dt><dd>The <strong>soft and fleshy</strong> part at the back of the mouth</dd>
<dt>hard palate</dt><dd>The <strong>hard and bony</strong> part in front of the soft palate.</dd>
<dt>retroflex</dt><dd>a name given to sounds that require you to <strong>bend your tongue</strong> ("-flex") <strong>backward</strong> ("retro-").</dd>
<dt>teeth</dt><dd>I hope you know what these are!</dd>
<dt>lips</dt><dd>I hope you know what these are!</dd>
</dl>
<h2>Terms for vowels</h2>
<dl class="blue">
<dt class="title">Term</dt><dd class="title">Definition</dd>
<dt>similar</dt><dd>Two vowels are similar when — well, when they're similar! <a href="/sounds/vowels/simple">See the lesson on simple vowels</a> for examples.</dd>
<dt>dissimilar</dt><dd>Two vowels are dissimilar when they're <strong>not similar</strong>! <a href="/sounds/vowels/simple">See the lesson on simple vowels</a> for examples.</dd>
<dt>short vowel</dt><dd>A vowel that is pronounced <strong>as short as possible.</strong> No compound vowels are short vowels.</dd>
<dt>long vowel</dt><dd>A vowel that is produced for exactly <strong>twice the length of a short vowel</strong>.</dd>
<dt>simple vowel</dt><dd>A sound that is produced by a single type of vowel (like an <span lang="sa">a</span>-vowel, <span lang="sa">i</span>-vowel, or so on).</dd> <dt>compound vowel</dt><dd>A vowel sound that is produced by <strong>two different types of vowels</strong> (like an <span lang="sa">a</span>-sound and an <span lang="sa">u</span>-sound).</dd>
<dt>strength</dt><dd>A quality that describes the <strong>presence of the <span lang="sa">a</span>-sound</strong> that the vowel contains. Due to changes in the earliest parts of Sanskrit, <span lang="sa">e</span> and <span lang="sa">o</span> hide this fact.</dd>
<dt>weak</dt><dd>The <strong>first</strong> of the three vowel strengths.</dd>
<dt>medium</dt><dd>The <strong>second</strong> of the three vowel strengths.</dd>
<dt>strong</dt><dd>The <strong>third</strong> of the three vowel strengths.</dd>
</dl>
<h2>Terms for consonants</h2>
<dl class="blue">
<dt class="title">Term</dt><dd class="title">Definition</dd>
<dt>stop</dt><dd>A consonant that is produced by <strong>stopping and quickly releasing air</strong> in the mouth.</dd>
<dt>tongue consonant</dt><dd>A consonant in <span lang="sa">cavarga</span>, <span lang="sa">ṭavarga</span>, or <span lang="sa">tavarga</span>.</dd>
<dt>nasal</dt><dd>A consonant that is produced by stopping air in the mouth and <strong>redirecting air through the nose</strong>.</dd>
<dt>semivowel</dt><dd>A consonant that sounds like a vowel (<span lang="sa">ya, ra, la, va</span>)</dd>
<dt>"s"-sound</dt><dd>An unvoiced "hissing" sound (<span lang="sa">śa, ṣa, sa</span>)</dd>
<dt lang="sa">varga</dt><dd>A Sanskrit word that refers to a class or division of sounds. See below for the actual divisions.</dd>
</dl>
<h2>Division into vargas</h2>
<dl class="blue" lang="sa">
<dt class="title">Varga</dt><dd class="title" lang="en">Letters</dd>
<dt>kavarga</dt><dd>ka kha ga gha ṅa</dd>
<dt>cavarga</dt><dd>ca cha ja jha ña</dd>
<dt>ṭavarga</dt><dd>ṭa ṭha ḍa ḍha ṇa</dd>
<dt>tavarga</dt><dd>ta tha da dha na</dd>
<dt>pavarga</dt><dd>pa pha ba bha ma</dd>
<dt>yavarga</dt><dd>ya ra la va</dd>
<dt>śavarga</dt><dd>śa ṣa sa ha</dd>
</dl>
{% endblock %}

