`a-`
----
{# 6.3.73-74, or Kale 218-9 #}

It's useful to say what something is *not*. In Sanskrit, the easiest way to do
this is to stick `a-` to some word:

!!! examples
    - {{ m.x('zokaH -> [azokaH]', 'sorrow -> "un-sorrow", sorrowless') }}

But if the word starts with a vowel, we use `an-` instead:

!!! examples
    - {{ m.x('antaH -> [anantaH]', 'end -> unending, limitless') }}


!!! note
    This `a-` has cousins in many other languages. Consider: "a-moral",
    "an-archy", "in-appropriate", or "un-able."


`sa-`
-----
{# 6.3.78-84, or Kale 294-5 #}

`sa-` is a shorter form of the words `saha` or `samAna`.

`saha` is an uninflected word that means "with":

!!! examples
    - {{ m.x('gajena saha -> [sagajaH]', 'with an elephant') }}
    - {{ m.x('visRjya [sazaraM] cApam', 'after throwing aside his bow [with its arrow]') }}

        <cite>Bhagavad Gita 1.47</cite>

And `samAna` is an adjective that means "the same":

!!! examples
    - {{ m.x('yasya samAno garbhaH -> [sagarbhaH]', 'one who has the same womb; sibling, brother') }}
