Review
------

A noun's ending tells us three things: the *case* of the noun, the *number* of
things referred to, and the *gender* of the noun. There are three genders:
*masculine*, *neuter*, and *feminine*. We've studied the masculine and neuter
nouns already:

!!! examples
    - {{ m.x('naraH', 'a man (case 1)') }}
    - {{ m.x('phalam', 'a fruit (case 1)') }}

But we haven't seen any feminine nouns.


The third gender
----------------

Masculine and neuter nouns use mostly the same endings. And both genders are
very common. But feminine nouns are generally less common, and their endings
are more complicated. For those reasons, I have avoided discussing them. But
now seems like a good time to introduce them.

Feminine nouns don't use the `-a` stem that we've seen so far. They use other
stems instead. One of the more common endings is <dfn>`-A`</dfn>, a longer
version of `-a`. You can see its endings below, for the feminine noun `senA`
("army"):

{% include 'guide/include/sena-f.html' %}

Many things are similar, and many things are different. The main differences
occur when the noun refers to just one item. This is the leftmost column in
the table above. So focus more of your attention here and less of your
attention on the other two columns.

I don't expect you to memorize these endings, but I do expect that you can
recognize them and know what gender, case, and number they imply. The same
applies for the endings below.


`-I` and `-U` stems
-------------------

Another common ending is <dfn>`-I`</dfn>, which appears even in modern words
like Lakshmi, Hindi, Gujarati, and so on.

{% include 'guide/include/nadi-f.html' %}

As before, the major differences are in the left column, when we refer to just
one item. The endings are largely the same, but `-A` adds some extra vowels
and letters.

The <dfn>`-U`</dfn> ending is much rarer. But it follows almost the same
pattern as `-I`. Just replace `i` with `u`, `I`, with `U`, and `y` with `v`.
There's just one exception; but first, look over the forms below:

{% include 'guide/include/vadhu-f.html' %}

The one exception is that we use a `visarga` in case 1 when referring to one
item. Thus we have `vadhUH`, not `vadhU`. But all other forms are what we
would expect.
