`a` is the first letter of the Sanskrit alphabet. It is a short sound that we can pronounce easily:

{{ m.sounds(
    ('a', 'a', '"u" in "but"')
)}}

When you pronounce this sound, let your breath flow cleanly through your mouth, without any breaks or stops. Sounds produced in this way are called <dfn>vowels</dfn>.

!!! note
    As you learn the Sanskrit alphabet, study the recordings carefully and consult the knowledgeable people around you. Use the English approximations only as a last resort.
