Review
------

By using nouns, we describe various parts of some action:

!!! examples
    - {{ m.x('gajaH siMhena grAmaM gacchati', 'The elephant goes to the village with the lion.') }}

Noun endings have three properties: *gender*, *case*, and the *number* of
things involved.


What is it like?
----------------

We can use nouns to describe the things that are part of the action. But what if we want to describe the nouns themselves? We can use special *descriptive words*:

!!! examples
    - {{ m.x('[kRSNo] gajaH siMhena grAmaM carati', 'The [black] elephant walks to the village with the lion.') }}
    - {{ m.x('gajaH [zvetena] siMhena grAmaM carati', 'The elephant walks to the village with the [white] lion.') }}
    - {{ m.x('gajaH siMhena [sundaraM] grAmaM carati', 'The elephant walks to the [beautiful] village with the lion.') }}

In English, such words are called <dfn>adjectives</dfn>. And for now, we can use the same term.

### A soft boundary

In Sanskrit, the distinction between nouns and adjectives is not as strong as
it is in English. We can say "The elephant goes" in English, but can we say
"The black goes"? It doesn't sound quite right. But this isn't a problem in
Sanskrit:

!!! examples
    - {{ m.x('kRSNo gacchati', 'The black one goes.') }}

For this reason, the guide will tend to use the word "noun" generally to refer
to both nouns and adjectives. If you think this is a bad idea, <a href="{{
    url_for('site.contact') }}">let me know</a> and I'll change it.


Using adjectives
----------------

Adjectives use the same endings as nouns. Adjectives **must** have the same gender, case and number as the things they describe. Small changes can cause great differences in meaning:

!!! examples
    - {{ m.x('[sundaraM] siMho naraM pazyati [kRSNaH]', 'The [black] lion sees the [beautiful] man.') }}
    - {{ m.x('[sundaraH] siMho naraM pazyati [kRSNam]', 'The [beautiful] lion sees the [black] man.') }}

Like most Sanskrit words, adjectives can appear nearly anywhere:

!!! examples
    - {{ m.x('[sundaro] gajaH siMhaM jayati.', 'The beautiful elephant conquers the lion.') }}
    - {{ m.x('gajaH [sundaraH] siMhaM jayati', 'The beautiful elephant conquers the lion.') }}
    - {{ m.x('gajaH siMhaM [sundaro] jayati', 'The beautiful elephant conquers the lion.') }}
    - {{ m.x('gajaH siMhaM jayati [sundaraH]', 'The beautiful elephant conquers the lion.') }}

And we can use several of them at once:

!!! examples
    - {{ m.x('[sundarau] siMhau naraM pazyati [kRSNau]', 'The two [beautiful black] lions see the man.') }}

Since adjectives are so similar to nouns, they can be used even if no noun is present:

!!! examples
    - {{ m.x('kRSNaH zvetaM rakSati', 'The black one protects the white one.') }}

And sometimes, they can even become actual nouns:

!!! examples
    - {{ m.x('kRSNaH zvetaM rakSati', 'Krishna protects the white one.') }}
