Three root suffixes
-------------------


<dfn>`-an`</dfn>, <dfn>`-man`</dfn>, and <dfn>`-van`</dfn> are *root* suffixes.
They don't cause a clear change in meaning. But `-man` tends to create neuter
abstract nouns. Here are some examples you might recognize:

!!! examples
    - {{ m.x('kR + man -> karma',  'do -> the act of doing; karma') }}
    - {{ m.x('jan + man -> janma',  'be born -> the act of being born; birth') }}
    - {{ m.x('bRh + man -> brahma',  'grow, increase, expand -> <a href="https://en.wikipedia.org/wiki/Brahman">Brahman</a> (neuter)') }}

But this isn't universal:

!!! examples
    - {{ m.x('bRh + man -> brahmA',  'grow, increase, expand -> Brahma, the creator (masculine)') }}


Endings
-------

### Masculine

The endings are the same as before. The strong stems end in `-An/-mAn/-vAn`,
the normal stems end in `-an/-man/-van`, and the weak stem ends in
`-a/-ma/-va`:

{% include 'guide/include/atman-m.html' %}

Here, the **strong** stems have black borders. We see that the strong stems are
used in cases 1, 2, and 8. But when case 2 refers to many things, the weak stem
is used instead.

### Neuter

As usual, everything here is weak:

{% include 'guide/include/karman-n.html' %}

### Feminine

The feminine endings are `-anI`, `-manI`, and `-vanI`. These follow the pattern
of all other stems that end in `-I`. We'll see how these stems work in a later
lesson.


Contraction
-----------

Certain stems will *contract*:

!!! examples
    - {{ m.x('dhAmani -> dhAmni', 'in the house') }}
    - {{ m.x('rAjane -> rAjJe', 'for the king') }}

The pattern here is tricky. Basically, we contract the stem if the part before
`-an` is a consonant cluster ending in `-m` or `-v`. Therefore, these stems
don't contract:

!!! examples
    - {{ m.x('Atmane', 'for the self') }}
    - {{ m.x('atharvaNi', 'in the Atharva Veda') }}
