At this point we've seen almost the entire Sanskrit alphabet. Now two sounds remain.

What's special about these two sounds is that they're usually formed by the same *blending* process that we've already seen. Each sound has its own name.


`anusvAra`
----------

{{ m.sounds(
    ('aM', 'anusvara', '(no match)'),
) }}

This sound is called the <dfn>`anusvAra`</dfn> ("after-sound"). It is a "pure nasal". It must appear after a vowel and must be followed by a consonant.

Generally, the `anusvAra` is pronounced to match the same point of sound as the sound that follows it:

- `zaMkara` sounds like `zaGkara`
- `saMjaya` sounds like `saJjaya`
- `saMskRta` sounds like `sanskRta`
- `saMbuddha` sounds like `sambuddha`

!!! note
    Because of this behavior, `saMskRta` is spelled in English as "Sa**n**skrit."


`visarga`
---------

{{ m.sounds(
    ('aH', 'visarga', '(no match)'),
) }}

This sound is called the <dfn>`visarga`</dfn> ("release").

Originally, the `visarga` was probably just like the "h" in "house." We can think of it as an "s" consonant pronounced at the soft palate. But today, it is usually pronounced as an echo of the vowel before it: `aH` like `aha`, and `iH` like `ihi`.


Blending the `visarga`
----------------------

The `visarga` often blends with the letters around it. As before, the sounds blend because the result is easier to pronounce:

!!! examples
    - {{ m.x('naraH carati -> naraz carati', 'The man walks.') }}
    - {{ m.x('naraH tarati -> naras tarati', 'The man crosses.') }}
    - {{ m.x('tAH TIkAH -> tAS TIkAH', 'Those are commentaries.') }}

Based on these example, we might make a rule like the following:

!!! rule
    In front of unvoiced sounds, the `visarga` becomes the "s" consonant with the same point of sound.

But the change is intuitive enough that we don't need to memorize this rule.

This change also occurs in front of "s" consonants, like `z` and `s`:

!!! examples
    - {{ m.x('naraH zocati (naraz zocati)', 'The man grieves.') }}
    - {{ m.x('naraH smarati (naras smarati)', 'The man remembers.') }}

But in modern Sanskrit printing, the change is rarely written out.


The Sanskrit alphabet
---------------------

You have now seen every sound in the traditional Sanskrit alphabet. There are a few special letters that occur very rarely, but we can talk about those another time.
