The two sounds here are *fundamentally different* from the others we have studied:

- They appear only because of blending.
- They can be pronounced in multiple ways.
- They *must* follow vowels.
- Although they seem to be consonants, the tradition calls them something else.

Each sound has its own special term.


`anusvAra`
----------

{{ m.sounds(
    ('aM', 'anusvara', '(no match)'),
) }}

This sound is called the {{ 'anusvAra'|i('dfn') }} ("after-sound"). It is a "pure nasal" sound that appears only in front of consonants.

Generally, the `anusvAra` uses the same point of sound as the sound that follows it:

- `zaMkara` sounds like `zaGkara`
- `saMjaya` sounds like `saJjaya`
- `saMskRta` sounds like `sanskRta`
- `saMbuddha` sounds like `sambuddha`

!!! note
    Because of this behavior, `saMskRta` is spelled in English as "Sa**n**skrit."


`visarga`
---------

{{ m.sounds(
    ('aH', 'visarga', '(no match)'),
) }}

This sound is called the <dfn>`visarga`</dfn> ("release").

Originally, the `visarga` was probably just like the "h" in "house." We could think of it as an "s" consonant pronounced at the soft palate. But today, it is usually pronounced as an echo of the vowel before it: `aH` like `aha`, and `iH` like `ihi`.


Blending the `visarga`
----------------------

Wherever possible, the `visarga` blends with the letters around it. In front of unvoiced sounds, the `visarga` becomes the "s" consonant with the same point of sound:

!!! examples
    - {{ m.x('naraH carati -> naraz carati', 'The man walks.') }}
    - {{ m.x('naraH tarati -> naras tarati', 'The man crosses.') }}
    - {{ m.x('tAH TIkAH -> tAS TIkAH', 'Those are commentaries.') }}

This change also occurs in front of "s" consonants, like `z` and `s`. But surprisingly, the change is rarely written out:

!!! examples
    - {{ m.x('naraH zocati (naraz zocati)', 'The man grieves.') }}
    - {{ m.x('naraH smarati (naras smarati)', 'The man remembers.') }}
