Review
------

We create *compounds* by removing a noun's ending and combining it with another
noun.

!!! examples
    - {{ m.x('[grAmavIraM] rakSAmi', 'I protect the [village hero].') }}

We lose *freedom* and *clarity* by doing this, but we get a *density* of
expression that is hard to achieve otherwise.


"One who has"
-------------

There's a new type of compound that's easily confused with the `tatpuruSa`.
It can be hard to understand. But fortunately, it exists in English too. Read
over the words below:

- flatfoot
- lowlife
- blockhead

There's a subtle pattern at work here. A flatfoot isn't a *foot*; it's someone
who *has* flat feet. A lowlife isn't a *life*; it's someone who *has* a low way
of life. And a blockhead isn't a *head*; it's someone who *has* a head that's
like a block.

Our new compound follows the same pattern:

!!! examples
    - {{ m.x('kRSNagajaH', 'black elephant ???') }}

If we read `kRSNagaja` as a `tatpuruSa`, then it just means "black elephant."
But if we follow the pattern above, we get "something that *has* black
elephants":

!!! examples
    - {{ m.x('kRSNagaje nagare vasati', 'He lives in the city [that has] black elephants.') }}

Traditionally, this type of compound is called a <dfn>`bahu-vrIhi`</dfn> ("much
rice"). And the word `bahuvrIhi` itself is a `bahuvrIhi` compound:

!!! examples
    - {{ m.x('[bahuvrIhiH] khAdati', '[The one who has much rice] eats.') }}


Easy confusions
---------------

It is very difficult to tell `bahuvrIhi` and `tatpuruSa` compounds apart.
Here's an example from Kalidasa:

!!! examples
    - {{ m.x('sUrya-prabhavaH', 'sun-origin') }}

Is this "origin of the sun" or "one whose origin is the sun?" We can't tell.
So let's look at the next word:

!!! examples
    - {{ m.x('sUrya-prabhavo vaMzaH', 'sun-origin lineage') }}

There are two ways we could read this;

1. "a lineage that is the origin of the sun" (`tatpuruSa`)
2. "a lineage whose origin is the sun" (`bahuvrIhi`)
