A flow of air
-------------

Visualize the flow of air that makes the vowel `a`. The air starts in the lungs, moves through the throat, and flows cleanly through the mouth, like a river flowing straight.

At a high level, we can separate all Sanskrit sounds into two groups:

- those that leave the air flow mostly unchanged
- those that change the air flow in significant ways

The sounds that leave it mostly unchanged are called <dfn>vowels</dfn>. We have seen all of these already. By using our tongues and lips to change the shape of the air flow, we can create a variety of simple and compound vowels.

All other sounds are called <dfn>consonants</dfn>. For example, the four semivowels (`ya`, `ra`, `la`, `va`) are produced by *squeezing* the air flow at certain points in the mouth.

But we can change the air flow in more drastic ways than this.


The `ka` stops
--------------

Try pronouncing the vowel `a`. While pronouncing the vowel, *stop* the flow of air entirely, then quickly let it flow again. This produces sounds like `ka` and `ta` and `pa`. We can call such sounds <dfn>stops</dfn>, since they are made when the air flow stops.

The first stop is simple:

{{ m.sounds(
    ('ka', 'ka', '"k" in "skill"'),
) }}

`ka`, like "skill" or "skip" or "scary scar."

But Sanskrit makes a distinction here that English does not. Recall that a stop is produced when the flow of air stops then quickly resumes. In `ka`, this flow resumes normally, like water from a tap. But this flow can also resume explosively, like water bursting through a dam:

{{ m.sounds(
    ('kha', 'kha', '"k" in "kill"'),
) }}

`kha`, like "kill" or "kiss" or "kick a can." Sounds like `kha` and `gha` are called <dfn>aspirated</dfn> ("breathy"), and sounds like `ka` and `ga` are <dfn>unaspirated</dfn> ("not breathy").

Sanskrit also distinguishes between <dfn>unvoiced</dfn> sounds ("kill", "pill", "till") and <dfn>voiced</dfn> sounds ("gill", "bill", "dill"):

{{ m.sounds(
    ('ka', 'ka', '"k" in "skill"'),
    ('kha', 'kha', '"k" in "kill"'),
    ('ga', 'ga', '"g" in "gill"'),
    ('gha', 'gha', '(no match)'),
) }}

English doesn't quite have a sound like `gha`. The closest might be the "g h" sound in "log house."


The `ka` nasal
--------------

Once more, try pronouncing the vowel `a`. While pronouncing the vowel, stop the flow of air entirely &mdash; then *redirect* it through your nose. This produces sounds like `na` and `ma`. We can call such sounds <dfn>nasals</dfn>, since they are made with help from the nasal cavity:

{{ m.sounds(
    ('ka', 'ka', '"k" in "skill"'),
    ('kha', 'kha', '"k" in "kill"'),
    ('ga', 'ga', '"g" in "gill"'),
    ('gha', 'gha', '(no match)'),
    ('Ga', 'na_k', '"ng" in "lung"'),
) }}


Stopping the flow of air
------------------------

The mouth is a large cavern with a long roof. We can stop the flow of air at many points. Sanskrit uses **five** of these points, and you can see them below:

{% include 'guide/include/sound-points.html' %}

These five points are:

- The <dfn class="r">soft palate</dfn>
- The <dfn class="o">hard palate</dfn>
- The <dfn class="y">hard bump</dfn> on the roof of the mouth
- The <dfn class="g">base of the teeth</dfn>
- The <dfn class="b">lips</dfn>

Let's just call these points the <dfn>points of sound</dfn>.


### Soft palate
We start at the soft palate, at the back of the mouth:

{{ m.sounds(
    ('ka', 'ka', '"k" in "skill"'),
    ('kha', 'kha', '"k" in "kill"'),
    ('ga', 'ga', '"g" in "gill"'),
    ('gha', 'gha', '(no match)'),
    ('Ga', 'na_k', '"ng" in "lung"'),
) }}

We've seen these five already. But the others will be more interesting.

### Hard palate
Moving forward, we reach the hard palate:

{{ m.sounds(
    ('ca', 'ca', '(no match)'),
    ('cha', 'cha', '(no match)'),
    ('ja', 'ja', '(no match)'),
    ('jha', 'jha', '(no match)'),
    ('Ja', 'na_j', '(no match)'),
) }}

!!! note
    `ca` looks and sounds similar to the English "ch" sound. But the two are distinct. The English "ch" is pronounced near the teeth. `ca` is pronounced much further back. Getting this sound right might require some practice.


### Hard bump
Further still, we reach the hard bump on the roof of the mouth:

{{ m.sounds(
    ('Ta', 'ta1', '(no match)'),
    ('Tha', 'tha1', '(no match)'),
    ('Da', 'da1', '(no match)'),
    ('Dha', 'dha1', '(no match)'),
    ('Na', 'na1', '(no match)'),
) }}


"Hard bump sounds" doesn't sound very elegant, so I'll use the usual term and say that these sounds are <dfn>retroflexed</dfn>. This word evokes a tongue that has bent ("flex") backward ("retro") to produce the sound.

!!! note
    Retroflexed sounds do not exist in English. If you have trouble pronouncing them, try curling your tongue further back.

### Base of the teeth
A little further forward, we reach the base of the teeth:

{{ m.sounds(
    ('ta', 'ta', '"th" in "thumb"'),
    ('tha', 'tha', '(no match)'),
    ('da', 'da', '"th" in "this"'),
    ('dha', 'dha', '(no match)'),
    ('na', 'na', '"n" in "nose"'),
) }}

!!! note
    This is the **base** of the teeth, not the tip. At the tip, you get the English "th". At the base, you get the Sanskrit `ta`. The difference is small but still noticeable.

### Lips
Finally, we reach the lips:

{{ m.sounds(
    ('pa', 'pa', '"p" in "spill"'),
    ('pha', 'pha', '"p" in "pill"'),
    ('ba', 'ba', '"b" in "bill"'),
    ('bha', 'bha', '(no match)'),
    ('ma', 'ma', '"m" in "mill"'),
) }}


This arrangement of sounds -- from `ka` and `kha` to `ma` -- is over 2800 years old. It stands at the beginning of the Indian linguistic tradition.


<section class="sandhi">
{% filter markdown %}
Blending stops
--------------

Like vowels, consonants can blend together. Consonants blend according to some simple rules. Let's look at just two of them.

These changes occur *between* words, not *within* them.

### Stops and nasals

Consider these two sentences:

!!! examples
    - {{ m.x('tat na Asyam', 'That is not a mouth.') }}
    - {{ m.x('rAT naraH', 'The king is a man.') }}

Try reading the first sentence out loud a few times.

As you might have noticed, it is tiresome to shift from `t` to `n` when pronouncing `tat na`. Because of clustered sounds like these, speaking Sanskrit can feel hard and slow.

The earliest Sanskrit speakers solved this problem by *blending stops and nasals together*. Whenever a stop is in front of a nasal, it becomes nasal, too:

!!! examples
    - {{ m.x('tat na Asyam -> tan nAsyam', 'That is not a mouth.') }}

Notice that the new sound use the same point of sound as before:

!!! examples
    - {{ m.x('rAT naraH -> rAN naraH', 'The king is a man.') }}

### Voiced stops

A stop uses the same "voice" as the sound that follows it. If the sound is voiced, the stop is voiced; and if the sound is unvoiced, the stop is unvoiced too:

!!! examples
    - {{ m.x('tat gacchati -> tad gacchati', 'That goes.') }}
    - {{ m.x('tat asat -> tad asat', 'That is false.') }}


{% endfilter %}
</section>

A handful of consonants
-----------------------
We're almost done with the alphabet! There are just a few sounds left.
