"and"
-----

{{ 'ca'|i('dfn') }} is an uninflected word that means "and." `ca` follows a list of items:

!!! examples
    - {{ m.x('azvo narau gajAH siMho mRgAz [ca] khAdanti', 'The horse, the two, the elephants, the lion, [and] the deer eat.') }}


If we use `ca` twice, we emphasize that we're considering *both* one thing *and* another:

!!! examples
    - {{ m.x('naraz [ca] gajaz [ca] mriyataH', '[Both] the man [and] the elephant die.') }}

"or"
----

{{ 'vA'|i('dfn') }} is an uninflected word that means "or." `vA` is used the same way as `ca`:


!!! examples
    - {{ m.x('azvo narau gajAH siMho mRgA [vA] khAdanti', 'The horse, the two, the elephants, the lion, [or] the deer eat.') }}

If we use `vA` twice, we emphasize that we're considering *either* one thing *or* another:

!!! examples
    - {{ m.x('naro [vA] gajo [vA] mriyate', '[Either] the man [or] the elephant dies.') }}
