Review
------

Nouns can take different *roles* in some action. The simplest role just states
*who performs the action*. This role is expressed by case 1:

!!! examples
    - {{ m.x('gajaz carati', 'The elephant walks.') }}


What does the action act upon?
------------------------------

Another useful role is **the "object" of the action**, and this is expressed by our next case:

!!! examples
    - {{ m.x('[gajaM] pazyAmi', 'I see [the elephant].') }}
    - {{ m.x('[gajau] pazyasi', 'You see [the two elephants].') }}
    - {{ m.x('[gajAn] pazyAvaH', 'We all see [the elephants].') }}

Since this is the second case we've seen, let's call this <dfn>case 2</dfn> for short.

Of course, we can define more than one role at the same time:

!!! examples
    - {{ m.x('gajo [naraM] pazyati', 'The elephant sees [the man].') }}
    - {{ m.x('vIro [grAmAn] dizati', 'The hero points to [the villages].') }}

And we can even change the order of these words:

!!! examples
    - {{ m.x('gajo pazyati [naram]', 'The elephant sees [the man].') }}
    - {{ m.x('pazyati [naraM] gajaH', 'The elephant sees [the man].') }}
    - {{ m.x('[naraM] gajaH pazyati', 'The elephant sees [the man].') }}

!!! note
    In the examples above, `gajaM` and `naraM` are originally `gajam` and `naram`. But they [blend]({{ m.lesson_url('anusvara-and-visarga') }}) with the sounds that follow them.


### Other meanings of case 2

When the action implies that something is moving, case 2 also defines the *destination* of the movement:

!!! examples
    - {{ m.x('[naraM] gacchatha', 'You all go [to the man].') }}
    - {{ m.x('[narau] carAmi', 'I walk [to the two men].') }}
    - {{ m.x('[azvAn] gacchAvaH', 'The two of us go [to the horses].') }}


## Ambiguities in Sanskrit

Did you notice that `gajau` is a word in both case 1 (`gajau pazyataH`) and case 2 (`gajau pazyAmi`)? This is a real <dfn>ambiguity</dfn> in Sanskrit; it's not immediately clear what case the noun uses, and in some sentences it might be impossible to tell:

!!! examples
    - <p>{{ 'gajau pazyataH'|d }}</p>
      <p>{{ 'gajau pazyataH'|i }}</p>
      <p>(option 1) The two elephants see.<br />
      (option 2) The two of them see the two elephants.</p>

But fortunately, these sorts of ambiguities are very rare. And they disappear if the verb changes even slightly.


Noun table
----------

{{ m.manual_nominal(
    stem='gaja',
    forms=[['gajaH', 'gajO', 'gajAH'], ['gajam', 'gajO', 'gajAn']]
) }}


<section class="sandhi">
{% filter markdown %}
Blending`-n`
------------

At first, `-n` seems to blend in strange ways. But most of its odd changes are
due to a few simple principles.

As a reminder, don't try to memorize all of these rules. Read over them to get
a sense of what's going on, then use the exercises at the bottom to practice.

### `n` unchanged

`-n` is unchanged in front of vowels:

!!! examples
    - {{ m.x('narAn azvo gacchati', 'The horse goes to the men.') }}
    - {{ m.x('gajAn icchasi', 'You want the elephants.') }}

### A hidden `s`

In front of unvoiced stop consonants, `-n` is replaced by `-Ms`. This `s` then
blends with the sounds that follow it.

!!! examples
    - {{ m.x('grAmAn caranti -> grAmAMz caranti', 'They walk to the villages.') }}
    - {{ m.x('gajAn tudati -> gajAMs tudAmi', 'I strike the elephants.') }}

### Different points of sound

In front of consonants that use the tongue, `n` changes its point of sound:

!!! examples
    - {{ m.x('siMhAn jayasi -> siMhAJ jayasi', 'You conquer the lions.') }}
    - {{ m.x('vIrAn zarAH tudanti -> vIrAJ zarAs tudanti', 'The arrows strike the heroes.') }}

### Nasal vowels

And in front of `l`, `n` does something slightly different.

!!! examples
    - {{ m.x('azvAn labhe -> azvA~l labhe', 'I obtain the horses.') }}

`~` indicates a <dfn>nasal vowel</dfn>; it is **not** pronounced as `m` or any other letter. In ordinary Sanskrit, this is the only place where `~` is used.

### Other changes

This list of changes isn't complete, but it's good enough for now.
{% endfilter %}
</section>

