By using *nouns*, we can describe the things involved with some action. Case 1 lets us describe *who performs the action*:

!!! examples
    - {{ m.x('gajaz carati', 'The elephant walks.') }}
    - {{ m.x('narau dizataH', 'The two men point.') }}
    - {{ m.x('azvA gacchanti', 'The horses go.') }}

Our next case describes **the "object" of the action**:

!!! examples
    - {{ m.x('[gajaM] pazyAmi', 'I see [the elephant].') }}
    - {{ m.x('[gajau] pazyasi', 'You see [the two elephants].') }}
    - {{ m.x('[gajAn] pazyAvaH', 'We all see [the elephants].') }}

Since this is the second case we've seen, let's call this <dfn>case 2</dfn> for short.

Of course, we can use more than one role at the same time:

!!! examples
    - {{ m.x('gajo [naraM] pazyati', 'The elephant sees [the man].') }}
    - {{ m.x('vIro [grAmAn] dizati', 'The hero points to [the villages].') }}

And we can even change the order of these words:

!!! examples
    - {{ m.x('gajo pazyati naram', 'The elephant sees the man.') }}
    - {{ m.x('pazyati naraM gajaH', 'The elephant sees the man.') }}
    - {{ m.x('naraM gajaH pazyati', 'The elephant sees the man.') }}

!!! note
    In the examples above, `gajaM` and `naraM` are originally `gajam` and `naram`. But they [blend]({{ m.lesson_url('anusvara-and-visarga') }}) with the sounds that follow them.


## Other meanings of case 2

When the action implies that something is moving, case 2 also defines the *destination* of the movement:

!!! examples
    - {{ m.x('[naraM] gacchatha', 'You all go [to the man].') }}
    - {{ m.x('[narau] carAmi', 'I walk [to the two men].') }}
    - {{ m.x('[azvAn] gacchAvaH', 'The two of us go [to the horses].') }}


## Ambiguities in Sanskrit
Did you notice that `gajau` is a word in both case 1 (`gajau pazyataH`) and case 2 (`gajau pazyAmi`)? This is a real <dfn>ambiguity</dfn> in Sanskrit; it's not immediately clear what case the noun uses, and in some sentences it might be impossible to tell:

!!! examples
    - <p>{{ 'gajau pazyataH'|d }}</p>
      <p>{{ 'gajau pazyataH'|i }}</p>
      <p>(option 1) The two elephants see.<br />
      (option 2) The two of them see the two elephants.</p>

But fortunately, these sorts of ambiguities are very rare. And they disappear if the verb changes even slightly.


## Noun table

{{ m.manual_nominal(
    stem='nara',
    forms=[['naraH', 'narO', 'narAH'], ['naram', 'narO', 'narAn']]
) }}

{#

<section class="sandhi">
    ## Blending the {{ 'visarga'|i }}</h2>
    <p>As we start adding more words to our sentences, we have to be more aware of how different sounds blend.</p>

    <p><a href="{{ lesson_url('sounds', 'anusvara-and-visarga') }}">Recall</a> how the {{ 'visarga'|i }} blends with the sounds that follow it:</p>

    <ul class="examples">
        {{ ihex('azvazcarati', 'The horse walks.') }}
        {{ ihex('gajastiSThati', 'The elephant stands.') }}
        {{ ihex('naro labhate', 'The man obtains.') }}
        {{ ihex('azvAzcaranti', 'The horses walk.') }}
        {{ ihex('gajAstiSThanti', 'The elephants stand.') }}
        {{ ihex('narA labhante', 'The men obtain.') }}
    </ul>

    <p>These examples describe how the {{ 'visarga'|i }} blends with consonants. But how does it blend with vowels? Usually, the {{ 'visarga'|i }} is simply removed. Sometimes the best solution to a problem is the easiest one:</p>

    <ul class="examples">
        {{ iex('vIraH icchati -> vIra icchati', 'The hero wants.') }}
        {{ ihex('vIrAH icchanti -> vIrA icchanti', 'The heroes want.') }}
    </ul>

    <p>But there's also an odd change that we have to consider when {{ 'aH'|i }} is in front of {{ 'a'|i }}. This change is against our intuition, and we must simply accept it.</p>

    <ul class="examples">
        {{ ihex("vIraH azvam icchati -> [vIro 'zvam] icchati", 'The hero wants the horse.') }}
    </ul>

    <p>This change does not occur for {{ '-AH'|i }}:</p>

    <ul class="examples">
        {{ ihex("vIrAH azvam icchanti -> vIrA azvam icchanti", 'The heroes want the horse.') }}
    </ul>

    <p>Do you feel overwhelmed by these changes? Don't be &mdash; we've seen almost all of the ways in which the {{ 'visarga'|i }} blends. If you can become comfortable with the rules above, then you will have little trouble with the rest of Sanskrit's blending.</p>
</section>
#}
