Who is the sentence for?
------------------------

The first seven cases connect a noun to some action. The exception is case 6, which connects a noun to another noun. <dfn>Case 8</dfn> is another exception. It defines *the person for whom the sentence was made*. We can also say that it defines the person we refer to with the word "you."

!!! examples
    - {{ m.x('[putra] vIro bhavasi', '[Son], you are a hero.') }}
    - {{ m.x('[narau] siMhAn pazyAmi', '[O you (two) men], I see the lions.') }}
    - {{ m.x('icchAmy azvaM [devAH] ', "[O gods], I want a horse.") }}


Noun table
----------

This is the complete set of cases for the noun `gaja`. Learn it well!

{{ m.manual_nominal(
    stem='gaja',
    forms=[['gajaH', 'gajO', 'gajAH'],
        ['gajam', 'gajO', 'gajAn'],
        ['gajena', 'gajAByAm', 'gajEH'],
        ['gajAya', 'gajAByAm', 'gajeByaH'],
        ['gajAt', 'gajAByAm', 'gajeByaH'],
        ['gajasya', 'gajayoH', 'gajAnAm'],
        ['gaje', 'gajayoH', 'gajezu'],
        ['gaja', 'gajO', 'gajAH']]
) }}
