Review
------

Nouns can take different *roles* in some action. The simplest role just states *who performs the action*, and this is expressed by case 1.

!!! examples
    - {{ m.x('gajaz carati', 'The elephant walks.') }}


What does the action act upon?
------------------------------

Another useful role is **the "object" of the action**, and this is expressed by our next case:

!!! examples
    - {{ m.x('[gajaM] pazyAmi', 'I see [the elephant].') }}
    - {{ m.x('[gajau] pazyasi', 'You see [the two elephants].') }}
    - {{ m.x('[gajAn] pazyAvaH', 'We all see [the elephants].') }}

Since this is the second case we've seen, let's call this <dfn>case 2</dfn> for short.

Of course, we can define more than one role at the same time:

!!! examples
    - {{ m.x('gajo [naraM] pazyati', 'The elephant sees [the man].') }}
    - {{ m.x('vIro [grAmAn] dizati', 'The hero points to [the villages].') }}

And we can even change the order of these words:

!!! examples
    - {{ m.x('gajo pazyati naram', 'The elephant sees the man.') }}
    - {{ m.x('pazyati naraM gajaH', 'The elephant sees the man.') }}
    - {{ m.x('naraM gajaH pazyati', 'The elephant sees the man.') }}

!!! note
    In the examples above, `gajaM` and `naraM` are originally `gajam` and `naram`. But they [blend]({{ m.lesson_url('anusvara-and-visarga') }}) with the sounds that follow them.


### Other meanings of case 2

When the action implies that something is moving, case 2 also defines the *destination* of the movement:

!!! examples
    - {{ m.x('[naraM] gacchatha', 'You all go [to the man].') }}
    - {{ m.x('[narau] carAmi', 'I walk [to the two men].') }}
    - {{ m.x('[azvAn] gacchAvaH', 'The two of us go [to the horses].') }}


## Ambiguities in Sanskrit

Did you notice that `gajau` is a word in both case 1 (`gajau pazyataH`) and case 2 (`gajau pazyAmi`)? This is a real <dfn>ambiguity</dfn> in Sanskrit; it's not immediately clear what case the noun uses, and in some sentences it might be impossible to tell:

!!! examples
    - <p>{{ 'gajau pazyataH'|d }}</p>
      <p>{{ 'gajau pazyataH'|i }}</p>
      <p>(option 1) The two elephants see.<br />
      (option 2) The two of them see the two elephants.</p>

But fortunately, these sorts of ambiguities are very rare. And they disappear if the verb changes even slightly.


Noun table
----------

{{ m.manual_nominal(
    stem='gaja',
    forms=[['gajaH', 'gajO', 'gajAH'], ['gajam', 'gajO', 'gajAn']]
) }}
