Case 1 and case 2 define very basic relationships:

!!! examples
    - {{ m.x('gajaz carati', 'The elephant walks.') }}
    - {{ m.x('gajaM pazyAmi', 'I see the elephant.') }}

But our next case, which we can call <dfn>case 3</dfn>, is more interesting. Case 3 can describe **something used in the action**:

!!! examples
    - {{ m.x('[gajena] tiSThAmi', 'I stand [by means of the elephant].') }}
    - {{ m.x('naro [hastAbhyAM] bAlaM tudati', 'The man strikes the boy [with his hands].') }}
    - {{ m.x('gacchanti [rathaiH]', 'They go [by means of the chariots].') }}

Case 3 can also describe **something that helps perform the action**:

!!! examples
    - {{ m.x('[azvena] naro carati', 'The man walks [with the horse].') }}


## Noun table

{{ m.manual_nominal(
    stem='nara',
    forms=[['naraH', 'narO', 'narAH'],
        ['naram', 'narO', 'narAn'],
        ['nareRa', 'narAByAm', 'narEH']]
) }}

