Review
------

!!! examples
    - {{ m.x('gajaz carati', 'The elephant walks.') }}
    - {{ m.x('gajaM pazyAmi', 'I see the elephant.') }}
    - {{ m.x('gajair gacchanti', 'They go by means of the elephants.') }}
    - {{ m.x('gajAya gacchanti', 'They go for the elephant.') }}
    - {{ m.x('gajAd gacchanti', 'They go from the elephant.') }}


Nouns to nouns
--------------
So far, each case has connected a noun to some action. <dfn>Case 6</dfn> does not. Instead, case 6 *connects a noun to another noun.* This connection is abstract and can mean almost anything:

!!! examples
    - {{ m.x('[narasya] putro jAyate', 'The son [of the man] is born.') }}
    - {{ m.x('gajaM tudanti zarA [vIrayoH]', 'The arrows [of the two heroes] strike the elephant.') }}
    - {{ m.x('[bAlAnAm] rathA gacchanti', 'The chariots [of the boys] go.') }}


Case 6 is one of the most common Sanskrit cases, and you'll see it frequently.

<section class="sandhi">
{% filter markdown %}
Blending`-n`
------------

At first, `-n` seems to blend in strange ways. But most of its odd changes are due to a few simple principles.

{# First, let's look at how `-n` blends. Then, we'll try to make sense of what we see. #}
{# TODO: clearer #}

### `n` unchanged

`-n` is unchanged in front of vowels:

!!! examples
    - {{ m.x('narAn azvo gacchati', 'The horse goes to the men.') }}
    - {{ m.x('gajAn icchasi', 'You want the elephants.') }}

### A hidden `s`

In front of certain unvoiced sounds, `-n` is replaced by `-Ms`:

!!! examples
    - {{ m.x('grAmAn caranti -> grAmAMz caranti', 'They walk to the villages.') }}
    - {{ m.x('gajAn tudati -> gajAMs tudAmi', 'I strike the elephants.') }}

### Different points of sound

In front of consonants that use the tongue, `n` changes its point of sound:

!!! examples
    - {{ m.x('siMhAn jayasi -> siMhAJ jayasi', 'You conquer the lions.') }}
    - {{ m.x('vIrAn zarAH tudanti -> vIrAJ zarAs tudanti', 'The arrows strike the heroes.') }}

### Nasal vowels

In front of `l`, `n` does something slightly different.

!!! examples
    - {{ m.x('azvAn labhe -> azvA~l labhe', 'I obtain the horses.') }}

`~` indicates a <dfn>nasal vowel</dfn>; it is **not** pronounced as `m` or any other letter. In ordinary Sanskrit, this is the only place where `~` is used.
{% endfilter %}
</section>
