Nouns can take different *roles* in some action. The simplest role just states **who performs the action**:

!!! examples
    - {{ m.x('[gajaH] pazyati', '[The elephant] sees.') }}
    - {{ m.x('[gajau] pazyataH', '[The two elephants] see.') }}
    - {{ m.x('[gajAH] pazyanti', '[The elephants] see.') }}

`pazyati` implies that **only one** thing sees. `gajaH` implies that **only one** elephant performs the action. Each word implies the same number of things (one), so they are used together.

This role is expressed by the first of the eight cases. Since this is the first case we've seen, let's call this <dfn>case 1</dfn> for short.

<section class="sandhi">
{% filter markdown %}
## Blending the `visarga`
Recall that the `visarga` blends with the unvoiced sounds that follow it. (For a refresher, see [this lesson]({{ m.lesson_url('anusvara-and-visarga') }})). But what happens if it's followed by a `voiced` sound?

Unfortunately, it depends on which sound comes after the `visarga`. And it depends on which sounds come *before* the `visarga`, too. Here's what happens if the `visarga` comes after `a`:

1. `aH` followed by a voiced consonant:

    !!! examples
        - {{ m.x('naraH dizati -> [naro] dizati', 'The man points.') }}

2. `aH` followed by any vowels except `a`:

    !!! examples
        - {{ m.x('naraH icchati -> [nara] icchati', 'The man wants.') }}

3. `aH` followed by `a`:

    !!! examples
        - {{ m.x('naraH asyati -> [naro \']syati', 'The man throws.') }}

    The `'` character is called the `avagraha` and it is not pronounced. The `avagraha` shows that `a` was removed from the sentence.


Unfortunately, I don't know of a simple explanation for these changes. It's easiest to just memorize them.

If the `visarga` comes after `A`, the rules are much simpler. In front of voiced sounds, the `visarga` disappears.

!!! examples
    - {{ m.x('narAH dizanti -> [narA] dizanti', 'The men point.') }}
    - {{ m.x('narAH icchanti -> [narA] icchanti', 'The men want.') }}
    - {{ m.x('narAH asyanti -> [narA] asyanti', 'The men throw.') }}

{% endfilter %}
</section>


## Noun table

Nouns are often presented in tables, like this:

{{ m.manual_nominal(
    stem='nara',
    forms=[['naraH', 'narO', 'narAH']],
) }}

Tables like this one will appear throughout the guide. But you don't have to use them if you don't want to.
