Review
------

We have seen five cases so far. Each corresponds to a different role:

!!! examples
    - {{ m.x('gajaz carati', 'The elephant walks.') }}
    - {{ m.x('gajaM pazyAmi', 'I see the elephant.') }}
    - {{ m.x('gajair gacchanti', 'They go by means of the elephants.') }}
    - {{ m.x('gajAya gacchanti', 'They go for the elephant.') }}
    - {{ m.x('gajAd gacchanti', 'They go from the elephant.') }}


Nouns to nouns
--------------

So far, each case has connected a noun to some action. <dfn>Case 6</dfn> does
not. Instead, case 6 *connects a noun to another noun.* This connection is
abstract and can mean almost anything. But generally, we can translate it with
the English word "of":

!!! examples
    - {{ m.x('[narasya] putro jAyate', 'The son [of the man] is born.') }}
    - {{ m.x('gajaM tudanti zarA [vIrayoH]', 'The arrows [of the two heroes] strike the elephant.') }}
    - {{ m.x('[bAlAnAM] rathAn gacchati', "He goes to the boys' chariots. (He goes to the chariots [of] the boys)") }}


Case 6 is one of the most common Sanskrit cases, and you'll see it frequently.
