Review
------

Case 1 and case 2 define some basic (but useful) relationships:

!!! examples
    - {{ m.x('gajaz carati', 'The elephant walks.') }}
    - {{ m.x('gajaM pazyAmi', 'I see the elephant.') }}


What assists the action?
------------------------

Our next case, which we can call <dfn>case 3</dfn>, is more interesting. Case 3 can describe **something used in the action**:

!!! examples
    - {{ m.x('[gajena] tiSThAmi', 'I stand [by means of the elephant].') }}
    - {{ m.x('naro [hastAbhyAM] bAlaM tudati', 'The man strikes the boy [with his hands].') }}
    - {{ m.x('gacchanti [rathaiH]', 'They go [by means of the chariots].') }}

Case 3 can also describe **something that helps perform the action**:

!!! examples
    - {{ m.x('[azvena] naro carati', 'The man walks [with the horse].') }}


## Noun table

{{ m.manual_nominal(
    stem='gaja',
    forms=[['gajaH', 'gajO', 'gajAH'],
        ['gajam', 'gajO', 'gajAn'],
        ['gajena', 'gajAByAm', 'gajEH']]
) }}


<section class="sandhi">
{% filter markdown %}
## Blending `n` inside a word

Inside a single word, `n` sometimes changes to `N`:

!!! examples
    - {{ m.x('narena -> nareNa', 'with the man') }}

This change is often explained in a complex way. But there's a simple
explanation too.

When you pronounce `r`, your tongue moves toward the back of your mouth. (If
your tongue doesn't move this way, it should!) The tongue sits coiled like a
cobra waiting to strike. And `n` is its prey.

If a sound appears that *forces the tongue to move out of position*, the tongue
resets, and the `n` survives another day. These sounds include `c`, `dh`, `l`,
and many others, but *not* sounds like `gh` or `p` or `h` or `y`.

But if nothing distracting comes along, the coiled-up tongue can pounce:

!!! examples
    - {{ m.x('rAmAyana -> rAmAyaNa') }}
    - {{ m.x('rAvana -> rAvaNa') }}
    - {{ m.x('nagarena -> nagareNa') }}

That's all. It's an interesting change, right?
{% endfilter %}
</section>

