Review
------

All verbs are created from verb *roots*. These roots are sorted into different
verb *classes*, from which we make verb *stems*.


Making someone do something
---------------------------

It's useful to say that you *made* someone do something or *caused* them to do
something. In Sanskrit, we express this idea like so:

!!! examples
    - {{ m.x('gajaH khAdati -> vIro gajaM [khAdayati]', 'The elephant eats. -> The hero [makes] the elphant [eat].') }}

We can call these verbs <dfn>causal</dfn> verbs, since they show the *cause* of
something.

In the example above, we see that the verb was changed somehow; `khAdati`
becomes `khAdayati`. There are many rules that we could make to describe this
change. Can you think of one?  Perhaps something like this:

!!! rule
    To create a causal verb, add `ya` after the stem then use the normal
    endings.

Now let's test this rule against other examples. Does the rule hold up?

!!! examples
    - {{ m.x('pazyati -> darzayati', 'He sees -> He makes (someone) see.') }}
    - {{ m.x('gacchati -> gamayati', 'He goes -> He makes (someone) go.') }}
    - {{ m.x('tiSThati -> sthApayati', 'He stands -> He makes (someone) stand.') }}
    - {{ m.x('nayati -> nAyayati', 'He leads -> He makes (someone) lead.') }}

Clearly the rule fails. So what's really going on?


Return of the `-aya` class
--------------------------

Simply, we make a root causal by treating it as a member of the `aya` class.
Roots in the `aya` class are quite rare, actually; most of the verbs that use
it are causal:

!!! examples
    - {{ m.x('dRz -> darzayati', 'He makes (someone) see') }}
    - {{ m.x('yudh -> yodhayati', 'He makes (someone) fight.') }}
    - {{ m.x('nI -> nAyayati', 'He makes (someone) lead.') }}
    - {{ m.x('bhU -> bhAvayati', 'He makes (something) be.') }}

Note that we use the same vowel strengthening rules that were used for the `-a`
and the `-aka` root suffixes.

Curiously, roots that were in the `aya` class already stay the same when they
become causal:

!!! examples
    - {{ m.x('cur -> corayati') }}

        (a) He steals.<br />
        (b) He makes (someone) steal.


### Changing the root
Occasionally, we first have to make changes to the original root. A common one
is to put `p` after the root. Note that the root vowel changes too:

!!! examples
    - {{ m.x('gai -> gApayati', 'He makes (someone) sing.') }}
    - {{ m.x('sthA -> sthApayati', 'He makes (someone) stand.') }}

Also, some roots don't change at all:

!!! examples
    - {{ m.x('gam -> gamayati', 'He makes (someone) go.') }}

The best way to learn about these rarer changes is to read a lot of Sanskrit!
Since causal stems have that distinctive `-aya` ending, it's usually easy to
determine if the verb is causal. And from there, it's usually possible to
deduce the original root.


Using causal verbs
------------------

Causal verbs use both `paramsaipada` and `Atmanepada` endings, regardless of
what the original root used. Whatever was in case 1 *before* the verb became
causal is changed to use case 2 instead:

!!! examples
    - {{ m.x('naro grAmaM gacchati -> vIro naraM grAmaM gamayati', 'The man goes to the village. -> The hero makes the man go to the village.') }}

