Just as tin and copper can combine to make bronze, two vowels can combine to make a <dfn>compound</dfn> vowel. Sanskrit has four compound vowels. Each is a <strong>long vowel</strong>, and each is made by a different combination.


`a/A` + simple vowel
--------------------

Consider the combinations `a` + `i` and `a` + `u`. These combine in an obvious way:

!!! examples

    - `a + i -> ai`

    - `a + u -> au`

But it can be tiresome to keep these two sounds separate. Over time, these two sounds blended and became a little easier to pronounce:

!!! examples

    - `a + i -> e`

    - `a + u -> o`

This gives us our next two vowels:

{{ m.sounds(
    ('e', 'e', '"a" in "mane"'),
    ('o', 'o', '"o" in "go"'),
) }}

!!! note
    As you pronounce `e` and `o`, try to make the sound "flat" and constant. If you are a native English speaker, this can be hard; English "e" sounds like Sanskrit `ei` and English "o" sounds like Sanskrit `ou`.

The other combinations blend in the same way:

!!! examples

    - `a/A + i/I -> e`

    - `a/A + u/U -> o`

!!! note
    For now, let's ignore combinations with `R`, `RR`, and 'lR'.


`a/A` + compound vowel
----------------------

Consider the combinations `a + e` and `a + o`. These combinations are not obvious. But if we remember that `e` comes from `a + i` and that `o` comes from `a + u`, they become easy:

!!! examples

    - `a + a + i -> Ai`

    - `a + a + u -> Au`

But it can be tiresome to spend so much time pronouncing a vowel. Over time, the `A` sound became a little shorter:

!!! examples

    - `a + a + i -> ai`

    - `a + a + u -> au`

This gives us our next two vowels:

{{ m.sounds(
    ('ai', 'ai', '"i" in "fight"'),
    ('au', 'au', '"ow" in "cow"'),
) }}

!!! note

    As you pronounce `ai` and `au`, try to make the "a" part of `ai` and `au` sound just like the vowel `a`. The shorter it is, the better.

The other combinations blend in the same way:

!!! examples

    - `a/A + e -> ai`

    - `a/A + o -> au`

Can we combine `ai` and `au` with anything? We can try:

!!! examples

    - `a/A + ai -> Ai`

    - `a/A + au -> Au`

But they shorten back to `ai` and `au` **and stay unchanged**.

!!! note
    For now, let's ignore combinations with `R`, `RR`, and 'lR'.


Blending vowels
---------------

`a` and `A` blend with the compound vowels, just like they do above:

!!! examples

    -   {{ m.x('sA icchati -> secchati') }}

        She wants.

    -   {{ m.x('tasya udakam -> tasyodakam') }}

        his water

    -   {{ m.x('bAlasya odanam -> bAlasyaudanam') }}

        the boy's rice

    -   {{ m.x('tasya aizvaryam  -> tasyaizvaryam') }}

        his power

Try to blend the words in the phrases below:

!!! examples

    -   {{ m.x('pazya etAm') }}

    -   {{ m.x('hatvA etAn') }}

    -   {{ m.x('sakhA iti matvA') }}

    -   {{ m.x('ca oSadhIH') }}

    -   {{ m.x('na asad AsIn na u sad AsIt tadAnIm') }}

These words blend as you would expect:

!!! examples

    -   {{ m.x('pazyaitAm (pANDuputrANAm AcArya mahatIM camUm)') }}

        Look at this (army of the Pandavas, O master).

        <cite>Bhagavad Gita</cite> 1.3

    -   {{ m.x('hatvaitAn') }}

        Having killed them, &hellip;

        <cite>Bhagavad Gita</cite> 1.36

    -   {{ m.x('sakheti matvA') }}

        Thinking (of you) as a friend, &hellip;

        <cite>Bhagavad Gita</cite> 11.41

    -   {{ m.x('(puSNAmi) cauSadhIH (sarvAH)') }}

        And (I nourish all) the plants.

        <cite>Bhagavad Gita</cite> 15.13

    -   {{ m.x('nAsad AsIn no sad AsIt tadAnIm') }}

        Then there was neither nothing nor anything.

        <cite>Nāsadīya Sūkta</cite>
</ul>
