Review
------

Verbs are formed from verb stems, which are formed from verb roots.

Roots are sorted into ten different *classes*. A root's class tells us how to
turn a root into a verb in the present tense.

We've seen four classes so far. These are the *strong `a` class*:

!!! examples
    - {{ m.x('bhU -> bhavati', 'He is.') }}

The *weak `a` class*:

!!! examples
    - {{ m.x('tud -> tudati', 'He strikes.') }}

The *`ya` class*:

!!! examples
    - {{ m.x('muh -> muhyati', 'He is deluded.') }}

And the *`aya` class*:

!!! examples
    - {{ m.x('cur -> corayati', 'He steals.') }}


Simple and complex classes
--------------------------

The four verb classes that we've seen so far are <dfn>simple</dfn> in various
ways. But the six remaining verb classes are <dfn>complex</dfn> in various
ways:

### Blending

The complex verb classes use stems that don't end in `a`. These vowels often
cause complex sound changes:

!!! examples
    - {{ m.x('tiSTha + si -> tiSThasi', 'You stand.') }}
    - {{ m.x('karo + si -> karoSi', 'You do.') }}
    - {{ m.x('tano + si -> tanoSi', 'You spread out.') }}

Here, the rule is a simple one:

!!! rule
    If `s` appears after a vowel that's not `a` or `A`, it becomes `S`.

This is the same rule that gives us `gajeSu` instead of `*gajesu`.

But there are others that are trickier:

!!! examples
    - {{ m.x('yuj -> yunakti', 'yoke -> He yokes.') }}

We'll look at some of these changes later on.


### Multiple stems

The complex verb classes often **use multiple stems**:

!!! examples
    - {{ m.x('zRNoti', 'He hears.') }}
    - {{ m.x('zRNutaH', 'The two of them hear.') }}

They have a <dfn>strong stem</dfn> that's used for certain forms in
`parasmaipada` and a <dfn>weak stem</dfn> that's used everywhere else.
Unfortunately, I don't know why they use multiple stems at all.
