Non-similar vowels
------------------

As we've already seen, simple vowels can combine in interesting ways:

!!! examples

    -   {{ m.x('sA Apnoti -> sApnoti') }}
    -   {{ m.x('gacchati IzvaraH -> gacchatIzvaraH') }}

In these examples, the vowels are in the same "group": `a` combines with `A`, and `i` combines with `I`. That is, the vowels that combine are <dfn>similar</dfn>. But what if the two vowels *aren't* similar?

!!! examples

    -   {{ m.x('mama icchA') }}
    -   {{ m.x('gacchati azvaH') }}

For now, let's focus on the first example. Let's also look at another similar example:

!!! examples

    -   {{ m.x('mama icchA') }}
    -   {{ m.x('sakhA iti') }}

In other words, what happens when `a` or `A` is the first vowel?


`a/A` + simple vowel
--------------------

Sanskrit vowels tend to blend with each other. And the same thing happens here. But instead of getting another simple vowel, we get a new kind of vowel:

!!! examples
    - {{ m.x('mama icchA -> mamecchA') }}
    - {{ m.x('mama udakam -> mamodakam') }}

Let's call these new vowels <dfn>compound</dfn> vowels, since they're combinations of vowels from different groups. Our first two compound vowels are below:

{{ m.sounds(
    ('e', 'e', '"a" in "mane"'),
    ('o', 'o', '"o" in "go"'),
) }}

(`R`, `RR`, and `lR` can't make compound vowels. We`ll see why in a later lesson.)

!!! note
    The Sanskrit sounds `e` and `o` are different from the English "ay" sound ("mane", "drain") and "o" sound ("bone", "moan"). When you pronounce `e` or `o`, try to make the sound "flat" and constant. If you are a native English speaker, this might be hard; it is tempting to pronounce `e` as if it were `ei` and `o` as if it is were `ou`.

`e` and `o` are both long vowels, like `A`, `I`, and the others. But these vowels pose more interesting questions. Consider this example:

!!! examples
    - {{ m.x('pazya etAm') }}


What happens here? How do the vowels blend?


`a/A` + `e/o`
-------------

When `a` and `i` combine, the two vowels blend and combine into a single `e`. But if we add another `a`, then the `a` sound becomes stronger and forces the sounds to separate:

!!! examples
    - {{ m.x('a + e -> ai') }}

This idea applies more generally to any combination of `a/A` and `e/o`:

!!! examples
    - {{ m.x('a + e -> ai') }}
    - {{ m.x('A + e -> ai') }}
    - {{ m.x('a + o -> au') }}
    - {{ m.x('A + o -> au') }}

And because of this process, we get two more compound vowels:

{{ m.sounds(
    ('ai', 'ai', '"i" in "fight"'),
    ('au', 'au', '"ow" in "cow"'),
) }}

(`R`, `RR`, and `lR` can't make compound vowels. We`ll see why in a later lesson.)

!!! note

    As you pronounce `ai` and `au`, try to make the "a" part of `ai` and `au` sound just like the vowel `a`. The shorter it is, the better.

Now, the natural next question is whether we can combine `ai` and `au` once more. It is easy to imagine what this might look like:

!!! examples
    - {{ m.x('a/A + ai -> Ai ?') }}
    - {{ m.x('a/A + au -> Au ?') }}

But alas, Sanskrit does not work this way. `ai` and `au` "combine," but they remain unchanged:

!!! examples
    - {{ m.x('a/A + ai -> ai') }}
    - {{ m.x('a/A + au -> au') }}

This is probably for the best; without a firm limit, perhaps Sanskrit would end up with vowels like `AAAAAAi`, or something else equally painful.


Blending vowels
---------------

In almost every text, *written Sanskrit is a perfect record of spoken Sanskrit*. By knowing where these compound vowels come from, we can write Sanskrit sentences exactly as they are pronounced:

{% include 'guide/include/a-plus-compound-vowel-sandhi-examples.html' %}

Now, try to blend the vowels in the example below:

!!! examples
    -   {{ m.x('na asad AsIn na u sad AsIt tadAnIm') }}

This example is from the Vedas. By using what we've learned so far, we can
recover the original line:

!!! examples

    -   {{ m.x('nAsad AsIn no sad AsIt tadAnIm') }}

        Then there was neither existence nor non-existence.

        <cite>Nāsadīya Sūkta</cite>



Parting thoughts
----------------

This lesson answered some interesting questions, but there are still more to
answer. What happens if the first vowel isn't `a` or `A`?

!!! examples
    -   {{ m.x('gacchati azvaH -> ???') }}

And why can't we make compound vowels out of `R`, `RR`, or `lR`?

!!! examples
    -   {{ m.x('sA Rcchati -> ???') }}

The next lesson will answer both of these questions.
