Review
------

Not all noun stems end in `-a`. In fact, stems can end in a variety of letters.
But these stems all share a basic set of endings, with the occasional tweak
here and there.


Consonant stems
---------------

Generally, the simplest noun stems are those that end in consonants. Let's call
these <dfn>consonant stems</dfn>. They use the basic set of noun endings almost
unchanged.

As an example, `marut` is a masculine noun that means "wind." You can see its
forms below:

{% include 'guide/include/marut-m.html' %}

There's also a subtle blending rule here. Do you remember the rule that turns `marut + bhiH` into `marudbhiH`? If not, here's a refresher:

<section class="sandhi">
{% filter markdown %}
A stop uses the same "voice" as the sound that follows it. If the sound is voiced, the stop is voiced; and if the sound is unvoiced, the stop is unvoiced too:

!!! examples
    - {{ m.x('tat gacchati -> tad gacchati', 'That goes.') }}
    - {{ m.x('tat asat -> tad asat', 'That is false.') }}
{% endfilter %}
</section>

This was discussed in the lesson on [basic consonants]({{
m.lesson_url('basic-consonants') }}). But what's strange is that this rule
doesn't seem to apply everywhere:

!!! examples
    - {{ m.x('marut + A -> maru[tA] ???') }}

Why does this happen?

It's actually quite simple. *Between words*, it's easier to blend. But *inside
a word*, blending can cause too many changes and make it hard to understand. So
wherever possible, we don't blend when we're inside a word:

!!! examples
    - {{ m.x('marut + A -> marutA') }}

But if that's true, why do we blend `marut + bhiH` together? Unfortunately, I'm
not sure. When the noun ending starts with a consonant, we follow all the
normal blending rules.

<section class="sandhi">
{% filter markdown %}
`-s` stems
----------

Many useful words end in `-s`. Below you see the forms for the word `manas`, a neuter noun that means "mind." But perhaps some of the forms might be surprising to you:

{% include 'guide/include/manas-n.html' %}

Why `manaH` and not `manas`? Why `manobhyAm` and not `manasbhyAm`?

The answer: ordinarily, an `s` at the end of the word changes into the
`visarga`. If the noun ending starts with a vowel, this is prevented, and we
get words like `manasA` and `manase`. But otherwise, we make the change, and we
get words like `manaH` and `manobhyAm`.

In fact, most of the `visarga`s we've seen so far are originally from the
letter `s`:

!!! examples
    - {{ m.x('naras -> naraH', 'man') }}
    - {{ m.x('gacchatas -> gacchataH', 'The two of them go.') }}
{% endfilter %}
</section>
