Review
------

We create *compounds* by removing a noun's ending and combining it with another noun.

!!! examples
    - {{ m.x('[grAmavIraM] rakSAmi', 'I protect the [village hero].') }}

We lose *freedom* and *clarity* by doing this, but we get a *density* of expression that is hard to achieve otherwise.


The simplest compound
---------------------

Wherever we have a list of things followed by `ca`, we can combine all of the items in the list into a single compound:

!!! examples
    - {{ m.x('phalaM pattraM ca -> [phalapattre]', 'A fruit and a leaf.') }}

This is called the {{ 'dvandva'|i('dfn') }} compound. The word means "pair" or "couple"; and in the same way, a `dvandva` compound is *usually* a pair of items. I say "usually" because we can combine as many items as we want:

!!! examples
    - {{ m.x('azvo naro gajaH siMhaz ca -> azvanaragajasimhamRgAH', 'A horse, a man, an elephant, and a lion.') }}


### Gender

Like the `tatpuruSa`, the `dvandva` takes the gender of its last noun:

!!! examples
    - {{ m.x('vRkSAH phalAni ca -> vRkSaphalAni', 'Trees and fruits.') }}
    - {{ m.x('phalAni vRkSAz ca -> phalavRkSAH', 'Fruits and trees.') }}

Strongly bound items
--------------------

If the items in a `dvandva` compound have an extremely strong relationship to each other -- especially if they're opposites -- then they may optionally be inflected as neuter nouns with one item. When used in this way, the `dvandva` means more than the sum of its parts:

!!! examples
    - {{ m.x('sukhaM duHkhaM ca -> sukhaduHkhe', 'Happiness and sadness (neuter, two items)') }}
    - {{ m.x('sukhadukham', 'Happiness and sadness (neuter, one item); the spectrum of happiness and sadness') }}
    - {{ m.x('AhAro nidrA bhayaM ca -> AhAranidrAbhayAni', 'Food, sleep, and fear (neuter, three items)') }}
    - {{ m.x('AhAranidrAbhayam', 'Food, sleep, and fear (neuter, one item); the characteristics of animal life') }}
