"indeed"
--------

In English, we emphasize words by speaking them differently. That is, we usually raise our voice when saying them. Compare the subtle difference between these two English sentences. The words are the same, but the meanings are different:

!!! examples
    - *That* is my horse. (That is my horse, not the other ones.)
    - That is *my* horse. (That is my horse, not yours or anybody else's.)

Sanskrit emphasizes words by using some special uninflected words. The most common is {{ 'eva'|i('dfn') }}.

!!! examples
    - {{ m.x('naro vIra [eva]', 'The man is a <em>hero</em>.') }}
    - {{ m.x('nara [eva] vIraH', 'The <em>man</em> is a hero.') }}

Some translators will translate `eva` as "indeed" or "truly":

!!! examples
    - {{ m.x('nara [eva] vIraH', 'The man, [indeed], is a hero.') }}

!!! note
    Indian English tends to emphasize words by following them with the word "only," as in "That is my horse only." This is very similar to how Sanskrit uses the word `eva`.

"but"
-----

{{ 'tu'|i('dfn') }} also adds emphasis, but `tu` usually has more of a sense of "but" or "however":

!!! examples
    - {{ m.x('nara eva vIraH | na [tu] vIro bAlaH', 'The man, truly, is a hero. [But] the boy is not a hero.') }}

        The man, truly, is a hero. The boy, <mark>however</mark> is not a hero. (alternate)


"after all"
-----------

{{ 'hi'|i('dfn') }} also adds emphasis, but `hi` usually has more of a sense of "for" or "after all":

!!! examples
    - {{ m.x('vanaM na gacchAmi | siMho [hi] vane vasati', "I don't go to the forest. A lion lives in the forest, [after all].") }}

        I don't go to the forest, <mark>for</mark> a lion lives in the forest. (alternate)

{# TODO: add api? #}
