Whatever your reason is for learning Sanskrit, this guide assumes that you'll
want to **read Sanskrit texts**. If you want to *speak* Sanskrit instead, there
are [other, better resources](http://samskritabharati.in/) available.


The fastest way
---------------

The fastest way I know of to learn Sanskrit is to **read as much Sanskrit as
possible**. So it's important to start reading real Sanskrit as soon as
possible. Go ahead and get started:

!!! examples
    - {{ 'dharmakSetre kurukSetre samavetA yuyutsavaH'|d }}

... If only it were that easy. The problem is that you need to *know* certain
things about Sanskrit before you can start *reading* it. And if you don't know
how to read the Devanagari script, this probably just looks like gibberish.

### Lowering the barrier

So the question is this: what's the *least amount of stuff we need to know*
before we can understand this line? I think it's this:

- knowledge of Devanagari.
- knowledge of what every word in the line means.
- knowledge of every grammar concept in the line.

We can't expect to read every new line of Sanskrit on the first try. So we have
resources that we can use to help us out, like dictionaries, grammar guides,
and teachers.

But what makes this guide special is that it can *automatically* take care of a
lot of the things we need. If you don't know Devanagari, it's no problem: you
can convert it to something else:

!!! examples
    - {{ 'dharmakSetre kurukSetre samavetA yuyutsavaH'|i }}

If you don't know what a word means, that's no problem either: you can look it
up in the dictionary. And if you don't know what a word is doing in the
sentence, the guide can tell you that too.

The result is that this guide **dramatically lowers the barrier** to reading
real Sanskrit. Once we know a few basic concepts, we can start reading. And the
more we read, the more we learn.

It's as simple as that.

### "But you're not *really* reading it!"

You can say the same thing about using a dictionary, or asking a teacher a
question. Our goal is to *eventually* know enough that we don't have to consult
some other resource. Until then, this guide simply makes it extremely easy to
get help.

Of course, a child that's always carried will never learn to walk on its own.
The guide will always help you if you need it, but it will also make sure that
you keep walking forward. And eventually, you'll be able to read entirely on
your own.


The strategy
------------

Let's get more specific. The guide has three basic phases:

1. *The foundation*. How to pronounce Sanskrit correctly and create simple
   Sanskrit sentences. These establish basic versions of all of the concepts
   you'll see in Sanskrit.

2. *Self-sustaining Sanskrit*. How to create more complex Sanskrit sentences
   and understand words on a deeper level. Our goal here is to learn enough
   Sanskrit that the language stops feeling so foreign. At this point, we can
   start reading texts.

3. *Reading texts*. Instead of doing what the guide tells you to, you'll direct
   your own study and read the texts you want to. And if you're ever confused
   about something you read, the guide will be here to help.

The first two steps are similar to a regular Sanskrit textbook, but with some
changes to make them a little faster. The third is similar to using what's
called a Sanskrit <dfn>reader</dfn>, but with a little more ease of use.


Tactics
-------

If that's the high-level strategy, here are some low-level tactics:

- *No background required.* If you can read English and want to read Sanskrit
texts in the original Sanskrit, you can use this guide.

- *Focus on the useful parts.* Sanskrit is complicated, but we just need to
learn enough to read the texts that we want to read. Therefore, this guide
focuses on the most useful and general parts of Sanskrit first.

- *Examples before rules.* Many Sanskrit textbooks teach the language by
describing some rule then showing how the rule applies for some sample
sentences. I think it's usually easier (and more fun) to start with examples
*first* and then create rules to describe what we see.

- *Grammar is a means to an end.* Traditional approaches to Sanskrit use
Sanskrit terms for the grammar. Western approaches tend to use terms from Greek
and Latin. Meanwhile, this guide tries to use the *simplest and most obvious*
terms possible. It borrows terms from both traditions (or invents its own) as
the need arises.


What this guide doesn't cover
-----------------------------

There are many interesting subjects related to Sanskrit that are not covered by the main part of the guide to any satisfying degree. These include:

- how to read and write Devanagari
- the origin of Sanskrit, including related languages
- the history of Sanskrit, including its major authors, genres, and styles
- Sanskrit metrical, poetic, and linguistic traditions

Some of these topics are described in **optional lessons**. If you want to
learn about these topics, use the optional lessons. If you don't care about
them, the guide won't force them on you.
