Word order
----------

Here's a basic English sentence:

!!! examples
    - Elephants eat fruits.

Here's the same sentence in Sanskrit:

!!! examples
    - {{ m.x('gajAH phalAni khAdanti', 'elephants fruits eat ("Elephants eat fruits.")') }}

Each sentence has a word about elephants, a word about eating, and a word about fruits. But these words appear in different orders in each sentence.

In Sanskrit, this <dfn>word order</dfn> does not matter much:

!!! examples
    - {{ m.x('gajAH khAdanti phalAni', 'elephants eat fruits ("Elephants eat fruits.")') }}
    - {{ m.x('phalAni khAdanti gajAH', 'fruits eat elephants ("Elephants eat fruits.")') }}
    - {{ m.x('khAdanti phalAni gajAH', 'eat fruits elephants ("Elephants eat fruits.")') }}

But if we try to do this in English, we get a sentence with a different meaning:

!!! examples
    - Fruits eat elephants.


Inflection
----------
Why is Sanskrit so flexible? Why is it so easy to change the word order in a sentence?

Sanskrit is so flexible because its words carry **extra information** with them. In the examples above, we take a basic word like `gaja` ("elephant") and somehow <em>mark</em> it to show two things:

- There are multiple elephants.
- These elephants are eating (but the fruits are not).

And likewise for `phala` ("fruit"):

- There are multiple fruits.
- These fruits are being eaten (but the elephants are not).

We add this extra information by **changing** part of the word: `gaja` becomes `gajAH`, and `phala` becomes `phalAni`. Or to use a term from English grammar, we can say that we <dfn>inflect</dfn> the word.

!!! note
    Words are inflected in English, too, but not very much. Compare "elephant" and "elephants," for example; that extra "s" shows that there's more than one elephant. Or compare "eat" with "eaten," "eating," "eats," and "ate." In each word, there's a basic "core" that we change in some way. And by *inflecting* that basic core, we change the underlying meaning.

Sanskrit words are inflected much more than English words. Even complex ideas can be represented as single words:

!!! examples
    - {{ m.x('grAmAn bAlau [jigamayiSanti]', '[They want to make] the two boys [go] to the villages.') }}

There are also <dfn>uninflected</dfn> words, which always remain the same:

!!! examples
    - {{ m.x('sa [eva] gacchati', '[Only] he goes.')}}


Making words
------------

To my mind, the single most enjoyable part of Sanskrit is that we can **make our own words**. We can combine basic pieces to create words of great subtlety and nuance:

!!! examples
    - {{ m.x('bhaj -> bhaga -> bhagavat -> bhAgavata', 'adore, love -> adoration, love -> glorious, fortunate; the blessed one, Lord -> concerning the blessed Lord') }}
    - {{ m.x('yuj -> yoga -> yogin', 'connect, bind, prepare -> concentration, exertion (<a href="http://en.wikipedia.org/wiki/Yoga">yoga</a>) -> <a href="http://en.wikipedia.org/wiki/Yogi">yogin</a>'|safe) }}

Other languages have these word-creating features too. But few languages use these features as pervasively and as clearly as Sanskrit does.
