Now that we've seen how Sanskrit sounds work, let's start learning how Sanskrit
*sentences* work.


Sanskrit sentences
------------------

Here's a basic English sentence:

!!! examples
    - Elephants eat fruits.

Here's the same sentence in Sanskrit:

!!! examples
    - {{ m.x('gajAH phalAni khAdanti', 'elephants fruits eat ("Elephants eat fruits.")') }}

Each sentence has a word about elephants, a word about eating, and a word about fruits. But these words appear in different orders in each sentence.

In Sanskrit, this <dfn>word order</dfn> does not matter much:

!!! examples
    - {{ m.x('gajAH khAdanti phalAni', 'Elephants eat fruits.') }}
    - {{ m.x('phalAni khAdanti gajAH', 'Elephants eat fruits.') }}
    - {{ m.x('khAdanti phalAni gajAH', 'Elephants eat fruits.') }}

But if we try to do this in English, we get a sentence with a different meaning:

!!! examples
    - Fruits eat elephants.

Why is Sanskrit so flexible? Why is it so easy to change the word order in a sentence?


Inflection
----------

Sanskrit is so flexible because its words carry **extra information** with them. In the examples above, we take a basic word like `gaja` ("elephant") and somehow <em>mark</em> it to show two things:

- There are multiple elephants.
- These elephants are eating (but the fruits are not).

And likewise for `phala` ("fruit"):

- There are multiple fruits.
- These fruits are being eaten (but the elephants are not).

We add this extra information by **changing** part of the word: `gaja` becomes `gajAH`, and `phala` becomes `phalAni`. Or to use a term from English grammar, we can say that we <dfn>inflect</dfn> the word.

!!! note
    Words are inflected in English, too, but not very much. Compare "elephant" and "elephants," for example; that extra "s" shows that there's more than one elephant. Or compare "eat" with "eaten," "eating," "eats," and "ate." In each word, there's a basic "core" that we change in some way. And by *inflecting* that basic core, we change the underlying meaning.

Sanskrit words are inflected much more than English words. Even complex ideas can be represented as single words:

!!! examples
    - {{ m.x('grAmAn bAlau [jigamayiSanti]', '[They want to make] the two boys [go] to the villages.') }}

But not all words are inflected. There are also <dfn>uninflected</dfn> words, which always remain the same:

!!! examples
    - {{ m.x('sa [eva] gacchati', '[Only] he goes.')}}


Creating new words
------------------

The art of *inflecting something to give it extra meaning* is one of the major challenges involved in learning Sanskrit. But there's another aspect to Sanskrit that, in my opinion, is the most enjoyable part of the entire business. This is the art of **making new words**:

!!! examples
    - {{ m.x('bhaj -> bhaga -> bhagavat -> bhAgavata', 'adore, love -> adoration, love -> glorious, fortunate; the blessed one, Lord -> concerning the blessed Lord') }}
    - {{ m.x('yuj -> yoga -> yogin', 'connect, bind, prepare -> concentration, exertion (<a href="http://en.wikipedia.org/wiki/Yoga">yoga</a>) -> <a href="http://en.wikipedia.org/wiki/Yogi">yogin</a>') }}

Other languages have these word-creating features too. But few languages use these features as pervasively and as clearly as Sanskrit does.


Sanskrit grammar
----------------

These, then, are the three areas we must study and the three focuses of the guide:

- **Sanskrit sentences**, including how words are arranged and how they connect to each other.

- **Inflection**, the art of *changing* a word to give it extra meaning.

- **Creating new words** by starting with small pieces. There are many techniques for this.

First, we'll cover each subject a high level and focus on simple sentences, simple kinds of inflection, and simple word creation. Once these basics are in place, 90% of the battle is won; the rest is just details.
