"Characterized by X"
--------------------

<dfn>`-in`</dfn>, <dfn>`-min`</dfn>, and <dfn>`-vin`</dfn> are stem suffixes.
When added to something that means X, they create a stem that means something
like "characterized by X." And if the original stem ends in `-a`, that `-a` is
removed.

Here's an example you might recognize:

!!! examples
    - {{ m.x('yoga + in',  'yoga -> characterized by yoga; a yogi') }}


`-in` can also be used as a root suffix. When added to a root that means Y, it creates a stem that means "one who does X". This causes the same consonant change that the usual `-a` suffix does:

!!! examples
    - {{ m.x('tyaj + in -> tyAgin', 'abandon -> one who abandons') }}



Endings
-------

### Masculine

The endings are the same as before. The strong and normal stems end in
`-in/-min/-vin`, and the weak stem ends in `-i/-mi/-vi`:

{% include 'guide/include/yogin-m.html' %}

Here, the **strong** stems have black borders. We see that the strong stems are used in cases 1, 8, and 8. But when case 2 refers to many things, the weak stem is used instead.

Note, too, that when case 1 refers to one thing, the stem is even stronger:
it's `yogI`, not `yogin`. I'm not sure why the `n` is removed.

Finally, note where the weak stems are used only in front of consonants.

### Neuter

As usual, everything here is weak:

{% include 'guide/include/yogin-n.html' %}


### Feminine

The feminine endings are `-inI`, `-minI`, and `-vinI`. These follow the pattern
of all other stems that end in `-I`. We'll see how these stems work in a later
lesson.
