Sanskrit
--------

Thousands of years ago there emerged on the Indian subcontinent a language of extraordinary beauty and power, whose immense intellectual tradition is one of the treasures of the ancient world and of humankind. With this language as their thread, some of the greatest minds of an older India wove their meditations on every point on the spectrum of human concerns. Now much time has passed, and the worlds that nurtured those meditations have long receded into memory. But by learning that language, we might revive those old worlds and those old minds, if only for a moment.

The language, of course, is Sanskrit.

If you are reading these words, then you probably know what Sanskrit is and have resolved to learn it. Now let's discuss how this guide can help.


The guide
---------

This guide makes the simple assumption that **you are learning Sanskrit so that you can read Sanskrit texts**. Specifically, this means the following:

- **Focus on the useful parts.** Sanskrit is a complicated language, and it can take a long time to master. But we don't *need* to master it; we just need to learn enough to read the texts that we want to read. Therefore, this guide focuses on the most useful and general parts of Sanskrit first. 

- **Grammar is a means to an end.** Many textbooks use terms from Greek and Latin grammar that don't clearly map to concepts in Sanskrit. These terms make it difficult to talk about Sanskrit clearly. Other textbooks borrow terms from traditional Sanskrit grammar, but if the student doesn't know Sanskrit already, these terms might be even *more* difficult. Instead of following either of these approaches, this guide tries to use the *simplest and most obvious* terms possible.

- **Examples before rules.** Many Sanskrit textbooks teach the language by describing some rule then showing how the rule applies for some sample sentences. This approach has its merits; but I think it's often easier (and more fun) to start with examples *first* and then create rules to describe what we see. In my experience, approaching the language in this way makes it feel more alive.

- **No background required.** If you can read English and want to read Sanskrit texts in the original Sanskrit, you can use the guide. That's all.

If you want to learn how to *speak* Sanskrit to other people, there are [other, better resources](http://samskritabharati.in/) available.


Outline
-------

You can think of this guide as having four parts:

1. In the first part, we focus on **Sanskrit sounds**: how to pronounce them, how they fit together, and how to read Sanskrit sentences.

2. In the second part, we focus on **simple Sanskrit sentences** and the basic concepts behind them.

3. In the third part, we focus on **complex sentences** and start reading texts with some assistance. Specifically, the guide will focus on the <i>Bhagavad Gita</i>. And as your Sanskrit knowledge improves, you'll be able to read more and more of the text on your own.

4. In the fourth part, we **read Sanskrit texts extensively**, with minimal assistance for the finer points of the language. At this point, the guide is supplementary; texts are the main focus.


What this guide doesn't cover
-----------------------------

There are many interesting subjects related to Sanskrit that are not covered by the main part of the guide to any satisfying degree. These include:

- how to read and write Devanagari
- the origin of Sanskrit, including related languages
- the history of Sanskrit, including its major authors, genres, and styles
- Sanskrit metrical, poetic, and linguistic traditions

Some of these topics are described in **optional lessons**. These lessons are optional for a reason: although they are interesting and worthwhile, they are not directly related to learning the Sanskrit language. Devanagari, specifically, was once a necessity, and it might still be useful for printed Sanskrit texts, but most of the popular Sanskrit texts have been digitized and can be converted to any format. If you want to learn Devanagari, use the optional lessons; if you don't care about it, the guide won't force it on you.
