Who says what?
--------------

{{ 'iti'|i('dfn') }} is a common and useful uninflected word. Generally, `iti` follows something that should be quoted. In other words, it acts like a quotation mark:

!!! examples
    - {{ m.x('pazyAmi siMham [iti] vadati', 'He says "I see a lion."') }}

We can translate this example slightly differently, too:

!!! examples
    - {{ m.x('pazyAmi siMham [iti] vadati', 'He says that he sees a lion.') }}

In the first example, we get the word-for-word quote: "I see a lion." In the second example, we get an *indirect* quote about what the person said: he says *that he sees a lion*. Sanskrit doesn't give us a way to tell these two apart; we just use `iti` for both.


Abstract usage
--------------

`iti` is more abstract than an ordinary quotation mark. The late Sanskrit scholar Michael Coulson writes that `iti` <q>frequently expresses an attitude of mind or the grounds on which something is done.</q> Some examples of this:

!!! examples
    - {{ m.x('sa vIra [iti] gacchanti', '[Thinking that] he is a hero, they go.') }}
    - {{ m.x('[iti] gacchanti', '[Thinking in that way], they go.') }}
