What is it like?
----------------

{{ 'iva'|i('dfn') }} is a common and useful uninflected word. Generally, `iva` is used like the English phrase "as if":

!!! examples
    - {{ m.x('naro siMha [iva] carati', 'The man walks [as if he were] a lion.') }}

This can also be translated more simply, of course:

!!! examples
    - {{ m.x('naro siMha [iva] carati', 'The man walks [like] a lion.') }}


### `iva` with single words

The basic pattern is: if you want to say "X is like Y", then `iva` follows Y. Here, X and Y have to have the same case and number:

!!! examples
    - {{ m.x('nara [iva] bAlo gajAn nayati', 'The boy leads the elephants [as if he were] a man.') }}

Otherwise, the sentence could mean something completely different:

!!! examples
    - {{ m.x('narAn [iva] bAlo gajAn nayati', 'The boy leads the elephants [as if they were] men.') }}


### `iva` with multiple words

`iva` can also be used with multiple words if the analogy is complex. The word order is more flexible here:

!!! examples
    - {{ m.x('naraH siMho mRgam [iva] phalaM khAdati', 'The man eats the fruit [as if he were] a lion (eating) a deer.') }}
    - {{ m.x('naraH siMha [iva] mRgam phalaM khAdati', 'The man eats the fruit [as if he were] a lion (eating) a deer.') }}

The best way to a get a sense of which usages are good and which are bad is to read a lot of Sanskrit!


### `iva` abstractly

Here is an example of more abstract usage from the Bhagavad Gita. Again, the best way to get a sense of how `iva` is used is to read a lot of Sanskrit.

!!! examples
    - {{ m.x('tam uvAca hRSIkezaH prahasann [iva] bhArata', 'Krishna spoke to him [as if he were] laughing, O son of Bharata.') }}

        <cite>Bhagavad Gita 2.10</cite>

