Review
------

We can use *pronouns* to refer to nouns in general:

!!! examples
    - {{ m.x('naro gacchati -> sa gacchati', 'The man goes. -> He goes.') }}


Asking questions
----------------

We can ask questions by using <dfn>`kim`</dfn>, a pronoun that mean something
like "who?" or "which?". It is used almost exactly like `tad`:

!!! examples
    - {{ m.x('[kaM] pazyasi', '[What] do you see?') }}
    - {{ m.x('[kena] carati', '[With whom] do you walk?') }}

`kim` differs from `tad` in two small ways. First, `kaH` blends normally,
unlike `saH`:

!!! examples
    - {{ m.x('[ko] gacchati') }}

Second, `kim` is used instead of `tat`:

!!! examples
    - {{ m.x('[kiM] khAdAmi', 'What am I eating?') }}
