`-mat` and `-vat`
-----------------

<dfn>`-mat`</dfn> and <dfn>`-vat`</dfn> are stem suffixes. When added something that means X, they create words that mean "one that has X". If the original stem ends in `-a`, then `-vat` is used. Otherwise, `-mat` is used instead.

Here are two examples you might recognize:

!!! examples
    - {{ m.x('hanu + mat -> hanumat',  'jaw -> having (large) jaws; Hanuman') }}
    - {{ m.x('bhaga + vat -> bhagavat',  'glory -> having glory, glorious') }}


Endings
-------

### Masculine

The endings are the same as before. But note where the **strong** stems are
used and where the weak stems are used:

{% include 'guide/include/bhagavat-m.html' %}

Here, the **strong** stems have black borders. We see that the strong stems are used in cases 1, 8, and 8. But when case 2 refers to many things, the weak stem is used instead.

Note, too, that when case 1 refers to one thing, the stem is even stronger: it's `bhagavAn`, not `bhagavan`.

### Neuter

As usual, everything here is weak:

{% include 'guide/include/bhagavat-n.html' %}


### Feminine

The feminine endings are `-matI` and `-vatI`. These follow the pattern of all other stems that end in `-I`. We'll see how these stems work in a later lesson.
