A small word ... and a small lesson
-----------------------------------

{{ 'na'|i('dfn') }} is an uninflected word that means "no" or "not". It usually goes in front of the verb:

!!! examples
    - {{ m.x('[na] gacchati', 'He [does not] go.') }}

In verbless sentences, `na` usually appears next to the noun that's being denied:

!!! examples
    - {{ m.x('naro vIro [na]', 'The man [is not] a hero.') }}
    - {{ m.x('naro [na] vIraH', 'The man [is not] a hero.') }}

But note the subtle difference if we rearrange the sentence slightly:

!!! examples
    - {{ m.x('[na] naro vIraH', 'The hero [is not] a man.') }}

