The parts of an action
----------------------
Generally, every Sanskrit sentence describes an *action*. The simplest sentences are just actions and nothing else:

!!! examples
    - {{ m.x('pazyati', 'He sees.')}}

But these sentences don't tell us much. If we see just `pazyati`, how can we tell who sees, or what is seen? How and where does this "seeing" happen?

To fill these gaps, we use <dfn>nouns</dfn>:

!!! examples
    - {{ m.x('[gajaH] pazyati', '[The elephant] sees.')}}

Nouns refer to ideas as simple as "elephants" and "fruits," and as complex as "Sanskrit" and "yoga."


Stems and endings
-----------------

Just like verbs, nouns have a <dfn>stem</dfn>, which combines with an <dfn>ending</dfn> to make a complete word:

!!! examples
    - {{ m.x('gajaH pazyati', 'The elephant sees.') }}
    - {{ m.x('gajau pazyataH', 'The two elephants see.') }}
    - {{ m.x('gajAH pazyanti', 'The elephants see.') }}
    - {{ m.x('naraH pacate', 'The man cooks for himself.') }}
    - {{ m.x('narau pacete', 'The two men cook for themselves.') }}
    - {{ m.x('narAH pacante', 'The men cook for themselves.') }}
    - {{ m.x('azvas tiSThati (azvaH tiSThati)', 'The horse stands.') }}
    - {{ m.x('azvau tiSThataH', 'The two horses stand.') }}
    - {{ m.x('azvAs tiSThanti (azvAH tiSThanti)', 'The horses stand.') }}

!!! note
    Note the blending that occurs in `azvas tiSThati` and `azvAs tiSThati`. Now that our sentences have multiple words, we have to be mindful of how the sounds in the two words affect each other.

And just as before, the ending contains some *extra information*. Two are especially important. the first is the *number*, which we've seen before. And the second is the <dfn>role</dfn>, which we'll study now.

Noun roles
----------

In each example above, the noun defines the thing that "does" the action. But nouns can define other parts of the action, too. With `pazyati`, for example, we can define what is seen:

!!! examples
    - {{ m.x('gajaH pazyati [naram]', 'The elephant sees [the man].') }}

Or where the elephant sees:

!!! examples
    - {{ m.x('[grAme] gajaH pazyati', 'The elephant sees [in the village].') }}

Or who the elephant sees with:

!!! examples
    - {{ m.x('[azvena] gajaH pazyati', 'The elephant sees [with the horse].') }}

When we change the noun ending, we change the role that the noun plays. This is part of the *extra information* that a noun ending contains.

More accurately, the noun ending shows the noun's <dfn>case</dfn>, where "case" is an English grammatical term that we'll define in a later lesson. There is a subtle distinction between a role and a case, but we can totally ignore for the time being. For now, treat "noun role" and "case" as identical concepts.
