Generally, every Sanskrit sentence describes an *action*. The simplest sentences are just actions and nothing else:

!!! examples
    - {{ m.x('pazyati', 'He sees.')}}

Unfortunately, these sentences tell us very little. If we see just `pazyati`, how can we tell who sees, or what is seen? How and where does this "seeing" happen?

To fill these gaps, we use <dfn>nouns</dfn>:

!!! examples
    - {{ m.x('[gajaH] pazyati', '[The elephant] sees.')}}

Nouns describe ideas as simple as elephants and fruits, and as complex as places and concepts.


Stems and endings
-----------------

Just like verbs, nouns have a <dfn>stem</dfn>, which combines with an <dfn>ending</dfn> to make a complete word:

!!! examples
    - {{ m.x('gajaH pazyati', 'The elephant sees.') }}
    - {{ m.x('gajau pazyataH', 'The two elephants see.') }}
    - {{ m.x('gajAH pazyanti', 'The elephants see.') }}
    - {{ m.x('naraH pacate', 'The man cooks for himself.') }}
    - {{ m.x('narau pacete', 'The two men cook for themselves.') }}
    - {{ m.x('narAH pacante', 'The men cook for themselves.') }}
    - {{ m.x('azvas tiSThati (azvaH tiSThati)', 'The horse stands.') }}
    - {{ m.x('azvau tiSThataH', 'The two horses stand.') }}
    - {{ m.x('azvAs tiSThanti (azvAH tiSThanti)', 'The horses stand.') }}

!!! note
    Note the blending that occurs in `azvas tiSThati` and `azvAs tiSThati`. Now that our sentences have multiple words, we have to be mindful of how the sounds in the two words affect each other.


Noun roles
----------

In each example above, the noun defines the thing that "does" the action. But nouns can define other parts of the action, too. With `pazyati`, for example, we can define what is seen:

!!! examples
    - {{ m.x('gajaH pazyati [naram]', 'The elephant sees [the man].') }}

Or where the elephant sees:

!!! examples
    - {{ m.x('[grAme] gajaH pazyati', 'The elephant sees [in the village].') }}

Or what the elephant sees with:

!!! examples
    - {{ m.x('[azvena] gajaH pazyati', 'The elephant sees [with the horse].') }}

Here, the role of the noun changes when we change the noun ending. So in addition to showing the *number* of items involved, the noun ending shows the noun's role. Generally, we can call these roles <dfn>cases</dfn>. But in later lessons, we'll see that roles and cases are not exactly the same.

