We have already seen some simple Sanskrit verbs:

!!! examples
    - {{ m.x('tiSThati', 'He stands.') }}
    - {{ m.x('pazyataH', 'The two of them see.') }}
    - {{ m.x('gacchanti', 'They go.') }}

These verbs let us describe what is happening **right now**. In English, such verbs are called <dfn>present tense</dfn> verbs. But these Sanskrit verbs have a broader meaning than their English counterparts:

!!! examples
    - {{ m.x('tiSThati', 'He is standing.') }}
    - {{ m.x('pazyataH', 'The two of them are seeing.') }}
    - {{ m.x('gacchanti', 'They are going.') }}

And they have many others too. As much as possible, we should focus on *Sanskrit* words and sentences, not their counterparts in English. The more we rely on English, the less we learn about Sanskrit itself.

Verbs are often presented in tables like this one:

{# TODO: table #}

Tables like this one will appear throughout the guide. But you don't have to use them if you don't want to.
