Review
------

We can use *pronouns* to refer to nouns in general:

!!! examples
    - {{ m.x('naro gacchati -> sa gacchati', 'The man goes. -> He goes.') }}


Pronominal adjectives
---------------------

There are a few adjectives that use the same endings that the pronouns do.
We can call them <dfn>pronominal adjectives</dfn>. Instead of listing them
exhaustively, I'll just give a few examples:

!!! examples
    - {{ m.x('[sarve] yuddhavizAradAH', '[They all] are skilled in battle.') }}

        <cite>Bhagavad Gita 1.6</cite>

    - {{ m.x('[anye] ca bahavaH zUrAH', 'And many [other] warriors.') }}

        <cite>Bhagavad Gita 1.9</cite>


Traditional grammar doesn't really distinguish between pronouns and pronominal
adjectives. They are all simply called `sarva-nAman` ("name for all", a
`tatpuruSa` compound).
