{% from 'guide/macros-devanagari.html' import rows %}

English has a variety of different punctuation marks. Sanskrit uses only three:

{{ rows("| || '") }}

The first is the <dfn>`daNDa`</dfn>, or "stick." This marks the end of a sentence or half-verse. The second can be called a <dfn>double `daNDa`</dfn>. This marks the end of a paragraph or full verse. The third is the <dfn>`avagraha`</dfn>. This is used mainly to indicate that a vowel sound was removed due to blending.

!!! note
    The grammar guide discusses the `avagraha` in more detail.
