Review
------

Verbs are made from verb <dfn>stems</dfn>. And these stems are made from verb <dfn>roots</dfn>:

!!! examples
    - {{ m.x('gam -> gaccha -> gacchati', 'go (root) -> go (stem) -> She goes.') }}


Making words
------------

My favorite part of Sanskrit, by *far*, is that we can make new words out of
old ones. By learning to do this, we can quickly learn hundreds of new words
and understand thousands more.

In Sanskrit, we usually do this by sticking something at the end of an old
word:

!!! examples
    - {{ m.x('man + tra -> mantra', 'think + `tra` -> means of thinking; a mantra') }}

In English grammar, these things are called <dfn>suffixes</dfn>. Here we'll
look at a few <dfn>root suffixes</dfn>, which are stuck right after a verb
root.


`-a`
----
{# TODO: double check greek #}

<dfn>`-a`</dfn> is a *very* common suffix and has many cousins. It's related to
the "-us" sound in Latin words like "bonus" and "campus" and the "-os" sound in
Greek words like "pathos" and "thermos".

`-a` usually creates masculine nouns with an abstract meaning. Here are some
examples:

!!! examples
    - {{ m.x('ji -> jayaH', 'win, conquer -> victory') }}
    - {{ m.x('nI -> nAyaH', 'lead -> guidance, direction') }}

Look at what happens to the root's vowel. It [strengthens][strengthening], just
like when use [the strong `-a` class][the-strong-a-class].

But something else happens too:

!!! examples
    - {{ m.x('yuj -> yogaH', 'join, yoke -> joining, yoking; yoga') }}
    - {{ m.x('zuc -> zokaH', 'grieve -> grief') }}
    - {{ m.x('sRj -> sargaH', 'emit, produce -> creation') }}

The rule seems to be something like:

!!! rule
    The consonant at the end of the root shifts from the hard palate (`ca`) to the soft palate (`ka`).

But if there's no corresponding sound at the soft palate, the sound stays the same:

!!! examples
    - {{ m.x('paz -> pAzaH', 'bind, tie -> noose') }}

[strengthening]: {{ m.lesson_url('roots') }}
[the-strong-a-class]: {{ m.lesson_url('the-strong-a-class') }}


`-ana`
------

<dfn>`-ana`</dfn> usually creates neuter nouns that mean "the act of doing X."
`-ana` causes the same vowel change as `-a`:

!!! examples
    - {{ m.x('jan -> jananam', 'be born -> birth') }}
    - {{ m.x('mR -> maraNam', 'die -> death') }}
    - {{ m.x('dRz -> darzanam', 'see -> the act of seeing') }}

But it doesn't cause the same changes to the last consonant:

!!! examples
    - {{ m.x('yuj -> yojanam', 'join, yoke -> the act of joining; a unit of distance') }}
    - {{ m.x('sRj -> sarjanam', 'release -> the act of releasing, giving up, creating') }}


`-tra`
------

<dfn>`-tra`</dfn> usually creates neuter nouns that mean "the means of doing
X." `-tra` causes the same vowel change as `-a`:

!!! examples
    - {{ m.x('nI -> netram', 'lead -> a means of leading; the eye') }}
    - {{ m.x('man -> mantram', 'think -> a means of thinking; a mantra') }}

But something else happens too:

!!! examples
    - {{ m.x('vac -> vaktram', 'speak -> a means of speaking; mouth, face') }}
    - {{ m.x('yuj -> yoktram', 'join, yoke -> a means of joining; rope, strap') }}
    - {{ m.x('rAj -> rASTram', 'rule -> kingdom, empire') }}

This ruler is harder to sum up. Generally, the rule is something like this:

!!! rule
    Sounds at the hard palate (`ca`) move to the soft palate (`ka`), as before.
    And since `-tra` starts with a sound that's unvoiced, the other sound
    becomes unvoiced too.

The excption is that some words ending with `-j` change to use `-S` instead.
And this `-S` is distinct enough that it overpowers the `-t` in `-tra`. So the
result is `-STra`, as in `rASTra` above.
