{% include 'guide/include/sound-points.html' %}

Once more, picture the flow of air that makes the vowel `a`. It starts in the lungs, moves through the throat, and flows cleanly through the mouth, like a river flowing straight.

When this air flow becomes <em>turbulent</em>, we get a "hissing" sound, like the "s" in "snake." For convenience, let us call these sounds the <dfn>"s" consonants</dfn>.

English has two "s" consonants ("s" and "sh"). But Sanskrit has three:

{{ m.sounds(
    ('za', 'sha', '(no match)'),
    ('Sa', 'shha', '(no match)'),
    ('sa', 'sa', '"s" in "snake"'),
) }}

Each sound uses a different point of sound:

- `za` uses the hard palate
- `Sa` is retroflexed
- `sa` is just like the English "s"

And all of them are **unvoiced** sounds.
