A new kind of sound
-------------------

In two lessons we have seen two very interesting behaviors among the Sanskrit vowels. First, <dfn>similar</dfn> vowels combine and become long:

!!! examples
    -   {{ m.x('sA Apnoti -> sApnoti') }}

Second, non-similar vowels form <dfn>compound</dfn> vowels if the first vowel is `a` or `A`:

!!! examples
    -   {{ m.x('mama icchA') }}

But we have seen two cases that are still difficult to explain.

First, what happens if the first vowels isn't `a` or `A`?

!!! examples
    -   {{ m.x('gacchati azvaH') }}

And second, why can't we make compound vowels out of `R`, `RR`, or `lR`?

!!! examples
    -   {{ m.x('sA Rcchati') }}

Both questions are answered by using a new kind of sound.

Compressed vowels
-----------------
Consider the combinations `i` + `a` and `u` + `a`. According to what we know so far, these vowels just sit next to each other and stay unchanged:

!!! examples
    -   {{ m.x('gacchati azvaH') }}
    -   {{ m.x('sAdhu Aste') }}

It can be tiresome to keep these two sounds separate. But these sounds do not blend easily. They fight for space, like two wrestlers in the ring, and only one of them can remain. Ultimately, one of the sounds collapses and becomes *shorter than a short vowel*. Wherever possible, the first sound is the one that shortens:

!!! examples

    -   {{ m.x('gacchati azvaH -> gacchat[y] azvaH') }}
    -   {{ m.x('sAdhu Aste -> sAdh[v] Aste') }}

These shortened vowels are called <dfn>semivowels</dfn>. Every simple vowel has one, except for `a` and `A`:

{{ m.sounds(
    ('ya', 'ya', '"y" in "yellow"'),
    ('ra', 'ra', '(no match)'),
    ('la', 'la', '"l" in "loose"'),
    ('va', 'va', '"v" in "vase"'),
) }}

!!! note
    Since semivowels can exist only around other vowels, they are all listed with the vowel `a`. As you pronounce these letters, keep them as short as possible.

This answers the issue of `gacchati azvaH`. Now let us turn to `sA Rcchati`.


Fake compound vowels
--------------------

Sanskrit's four compound vowels are `e`, `o`, `ai`, and `au`. But none of these compound vowels use `R`, `RR`, or `lR`. Can we use these three vowels at all? Yes and no. Using semivowels, we can create "fake" compound vowels:

!!! examples

    -   {{ m.x('a/A + R/RR -> ar') }}
    -   {{ m.x('a/A + lR -> al') }}

Since `a` and `A` have no semivowels, they cannot be "crushed" into semivowels. So `R / RR / lR` are crushed instead.

Just like the "real" compound vowels, these "fake" compound vowels can combine again:

!!! examples

    -   {{ m.x('a/A + ar -> Ar') }}
    -   {{ m.x('a/A + Ar -> Ar') }}
    -   {{ m.x('a/A + al -> Al') }}
    -   {{ m.x('a/A + Al -> Al') }}

This answers the question of `sA Rcchati`:

!!! examples
    -   {{ m.x('sA Rcchati -> sarcchati') }}

        (This may seem like a strange result. But it fully follows the general rules that we've seen so far.)

But why do `R`, `RR`, and `lR` go through this "fake" business at all? I'm not sure. My guess is that these three vowels are so different and strange that they can't blend as easily as `i` and the others do. It's like blending oil and water. So at all times, `R` (and the others) stay totally separate.


Blending compound vowels
------------------------

We have now seen three basic behaviors that the Sanskrit vowels have. Each example below shows a different rule:

!!! examples
    -   {{ m.x('sA Apnoti -> sApnoti') }}
        Similar vowels combine and become long.

    -   {{ m.x('mama icchA -> mamecchA') }}
        Otherwise, `a/A` blends with the next vowel.

    -   {{ m.x('gacchati azvaH -> gacchaty azvaH') }}
        And other simple vowels are "crushed" into semivowels.

Only one case remains: what if the compound vowel comes first?

!!! examples
    -   {{ m.x('azvau icchati') }}

But we need no new rules. We just need to use the same simple behaviors that we've already seen.

First, remember how the compound vowels are created (rule 2). `au` comes from `a/A` + `o`, and `o` comes from `a/A` + `u/U`. So let's rewrite the example in a strange way, to make this idea clearer:

!!! examples
    -   {{ m.x('azvau icchati -> azv [a/A a/A u/U] icchati') }}

Second, we know that simple vowels are *crushed* into semivowels (rule 3):

!!! examples
    -   {{ m.x('azvau icchati -> azv a/A a/A [v] icchati') }}

Finally, similar vowels *combine* (rule 1):

!!! examples
    -   {{ m.x('azvau icchati -> azv[A]v icchati') }}

So we get our final result:

!!! examples
    -   {{ m.x('azvau icchati -> azvAv icchati') }}

Amazing! Our three simple rules explain a totally new kind of change. This is the approach that these lessons will use wherever possible. With basic ideas and some common sense, we can avoid a lot of headaches.

And in addition, these three rules explain nearly all of the things that two Sanskrit vowels do when they're next to each other.

Now, try to blend the vowels in the phrases below:

!!! examples

    - {{ m.x('bhavati iti anuzuzruma') }}
    - {{ m.x('na tu eva ahaM jAtu na Asam') }}
    - {{ m.x('tejasvi nau adhItam astu') }}
    - {{ m.x('yadi api ete na pazyanti') }}

These examples are all from real Sanskrit texts:

!!! examples

    -   {{ m.x('bhavatIty anuzuzruma') }}

        (They dwell eternally in hell) &mdash; so we have heard.

        <cite>Bhagavad Gita</cite> 1.44

    -   {{ m.x('na tv evAhaM jAtu nAsam') }}

        Never was I ever not.

        <cite>Bhagavad Gita</cite> 2.12

    -   {{ m.x('tejasvi nAv adhItam astu') }}

        May our studies be glorious.

        <cite>Upanishads</cite> (various)

    -   {{ m.x('yady apy ete na pazyanti') }}

        But even if they do not see, &hellip;

        <cite>Bhagavad Gita</cite> 1.38


The rest of the alphabet
------------------------
Forgive me for spending so much time on vowels! But they are extremely important in Sanskrit and are fundamental to the most beautiful parts of it.

Future lessons will explore other sorts of sounds. These lessons will be much simpler, so we can go a little faster.
