`a` is the only letter we've seen so far. So let's add another. This new letter is **twice as long** as `a` and sounds slightly different:

{{ m.sounds(
    ('A', 'aa', '"a" in "father"')
)}}

`a` is called <dfn>short</dfn> because it is not as long as `A`. And `A` is called <dfn>long</dfn> because it is longer than `a`. When you pronounce these sounds, try to make `A` exactly twice as long as `a`.


Blending vowels
---------------

In almost every text, written Sanskrit is a perfect record of the sounds that appear in spoken Sanskrit. To understand what this means, let's look at two simple Sanskrit sentences:

!!! examples

    -   {{ m.x('bAlAya Aha') }}

        He speaks for the boy.

    -   {{ m.x('sA Apnoti') }}

        She obtains.

Try reading the first sentence out loud ten times.

As you might have noticed, it is tiresome to keep stopping after `bAlAya` and keep starting again at `Aha`. Because of these pauses, speaking Sanskrit can feel hard and slow. The earliest Sanskrit speakers solved this problem by **blending words together**. Blended words are easier to pronounce and can be pronounced faster. In `bAlAya Aha`, for example, it is much easier to blend `a` and `A` and just say `bAlAyAha`.

This is how Sanskrit is usually written down, too. Even if two words are supposed to be separate, they are blended wherever possible:

!!! examples

    -   {{ m.x('bAlAya Aha -> [bAlAyAha]', 'He speaks for the boy.') }}
    -   {{ m.x('sA Apnoti -> [sApnoti]', 'She obtains.') }}

This blending occurs almost everywhere. Try to blend the words in the sentences below:

!!! examples

    -  {{ m.x('pUrNam eva avaziSyate') }}
    -  {{ m.x('na anuzocanti paNDitAH') }}
    -  {{ m.x('nityazabdena atra anityatvasya abhAvaH') }}

These sentences are all from real Sanskrit texts:

!!! examples

    -   {{ m.x('(pUrNasya pUrNam AdAya) pUrNamevAvaziSyate') }}

        (Taking the full from the full,) the full itself remains.

        <cite lang="sa">Īśa Upaniṣad</cite>

    -   {{ m.x('(gatAsUn agatAsUMzca) nAnuzocanti paNDitAH') }}

        The learned do not grieve (for the dead or for the living).

        <cite>Bhagavad Gita</cite> 1.11

    -   {{ m.x('nityazabdenAtrAnityatvasyAbhAvaH (ucyate)') }}

        By the word "permanent" here (is meant) the absence of impermanence.

        <cite lang="sa">Nyāyapraveśa</cite> 2.3 (a 6th century treatise on logic)

To summarize: even though "blending" is something that occurs when Sanskrit is *spoken*, you will see it in nearly every *written* Sanskrit text. In time, you will able to undo this blending with ease.
