We've seen several examples of vowels blending together. Let's study this is a little more detail.

First, let's focus on the simple vowels. Some of them resemble each other very closely. In general, we can sort them into four groups:

- the `a` group (`a`, `A`)
- the `i` group (`i`, `I`)
- the `u` group (`u`, `U`)
- the `R` group (`R`, `RR`, `lR`)

!!! note
    Why is `lR` in the `R` group? The tradition tends to treat this vowel as a special version of `R`.

Let's say that two vowels are <dfn>similar</dfn> if they are in the same group. If two similar vowels are next to each other, they blend and become long:

{% include 'guide/include/similar-vowel-sandhi-examples.html' %}

Unsimilar vowels
----------------

Now let's consider the compound vowels. They don't blend like other vowels. In fact, they never follow the pattern above:

!!! examples

    - {{ m.x('narau u -> ???') }}

    - {{ m.x('narau apazyam -> ???') }}

    - {{ m.x('madhu auSadham -> ???') }}

In other words, compound vowels are <dfn>unsimilar</dfn> with all other vowels. We'll learn how to handle these vowels in a later lesson.
