We have heard two vowels so far: the short vowel `a` and the long vowel `A`. But there are other short and long vowels, too. Below, the vowels on the left are short, and the vowels on the right are long:

{{ m.sounds(
    ('i', 'i', '"i" in "bit"'),
    ('I', 'ii', '"ee" in "teeth"')
)}}

{{ m.sounds(
    ('u', 'u', '"u" in "put"'),
    ('U', 'uu', '"oo" in "mood"'),
)}}

{{ m.sounds(
    ('R', 'r', '(no match)'),
    ('RR', 'rr', '(no match)'),
)}}

`a`, `i`, `u`, and `R` are the most common short vowels by far. Sanskrit has just one more short vowel, but it is **extremely** rare and has no longer partner:

{{ m.sounds(
    ('lR', none, '(no match)')
)}}

Together, these 9 vowels are often called the <dfn>simple vowels</dfn>.

!!! note
    `R` and `RR` are pronounced in various ways. From my experience, the version in the recordings above is the most accurate.

    Generally, you can pronounce `lR` however you like. Just use your best guess.


Blending vowels
---------------

[We have already seen]({{ m.lesson_url('short-and-long-vowels') }}) that `a` and `A` can blend together. These new vowels can blend too:

!!! examples

    -   {{ m.x('sA Apnoti -> sApnoti') }}

        She obtains.

    -   {{ m.x('gacchati IzvaraH -> gacchatIzvaraH') }}

        The lord goes.

    -   {{ m.x('madhu udakam -> gacchati madhUdakam') }}

        sweet water

    -   {{ m.x('hotR RkAra -> hotRRkaraH') }}

        the `R` pronounced by the sacrificer

In these examples, the vowels that blend together resemble each other: {{ 'A'|i }} blends with {{ 'A'|i }}, {{ 'i'|i }} blends with {{ 'I'|i }}, {{ 'u'|i }} blends with {{ 'u'|i }}, and so on. In each example, the vowels are roughly the same, although they sometimes have different lengths. We'll return to this idea later on.

Try to blend the words in the phrases below:

!!! examples

    -   {{ m.x('na anyadasti iti') }}
    -   {{ m.x('eSa tu uddezataH') }}

These phrases are from the <cite>Bhagavad Gita</cite>:

!!! examples

    -   {{ m.x('na anyadastIti') }}

        (The unwise, who delight in the letter of the Vedas and proclaim) "there is nothing else", ...

        <cite>Bhagavad Gita</cite> 2.42

    -   {{ m.x('eSa tUddezataH') }}

        (What I have declared) is just an example (of my many splendors.)

        <cite>Bhagavad Gita</cite> 10.40
