Review
------

Sanskrit lets us make new words out of old ones. By learning to do this, we can
quickly learn hundreds of new words and understand thousands more.

In Sanskrit, we usually do this by sticking a *suffix* to the end of an old
word:

!!! examples
    - {{ m.x('gam -> gaccha -> gacchati', 'go (root) -> go (stem) -> She goes.') }}


Stem suffixes
-------------

A <dfn>stem suffix</dfn> is a suffix we attach to a noun or adjective stem
instead of a verb root. There are dozens of different stem suffixes, but only a
few are especially common. Here we'll study four of the most common stem
suffixes.


`-a`
----

<dfn>`-a`</dfn> creates all sorts of words. Generally, it creates adjectives
that mean "coming from X." The first vowel is strengthened as much as possible:

!!! examples
    - {{ m.x('putra -> pautraH', 'son -> "coming from a son," a grandson') }}
    - {{ m.x('kuru -> kauravaH', 'Kuru -> "coming from Kuru"; a Kaurava') }}
    - {{ m.x('pANDu -> pANDavaH', 'Pandu -> "coming from Pandu"; a Pandava') }}


`-tva`
------

<dfn>`-tva`</dfn> creates neuter nouns that mean "X-ness". It causes no vowel
changes:

!!! examples
    - {{ m.x('kRSNa -> kRSNatvam', 'black -> blackness') }}
    - {{ m.x('sundara -> sundaratvam', 'beautiful -> beauty ("beautifulness")') }}
    - {{ m.x('nara + tva -> naratvam', 'man + `tva` -> "man-ness", manhood, humanity') }}


`-maya`
-------

<dfn>`-maya`</dfn> creates adjectives that mean "consisting of X" or "made of
X". It causes no vowel changes:

!!! examples
    - {{ m.x('Ananda -> AnandamayaH', 'bliss -> made of bliss') }}
    - {{ m.x('hiraNya -> hiraNyamayaH', 'gold -> made of gold, golden') }}


`-ya`
-----

<dfn>`-ya`</dfn> generally creates neuter abstract nouns. But the meanings can
vary. The first vowel is strengthened as much as possible:

!!! examples
    - {{ m.x('AcAra -> AcAryaH', 'rules, conduct -> one who knows the `AcAra`; an acharya') }}
    - {{ m.x('sundara -> saundaryam', 'beautiful -> beauty') }}


