Review
------

There's a basic set of endings that we can use for all sorts of new stems. For
example, here are the endings for `marut`:

{% include 'guide/include/marut-m.html' %}


Multiple stems
--------------

A few consonants, like `marut`, are small and simple. But most consonant stems
are made by adding stem suffixes to other words:

These suffixes actually use *multiple stems*. Sometimes the stems are
<dfn>strong</dfn>:

!!! examples
    - {{ m.x('bhagavat -> bhaga[vantaH]', 'The blessed ones (case 1)') }}
    - {{ m.x('bhagavat -> bhaga[vantam]', 'The blessed one (case 2)') }}

And sometimes they're <dfn>weak</dfn>:

!!! examples
    - {{ m.x('bhagavat -> bhaga[vataH]', 'The blessed ones (case 2)') }}
    - {{ m.x('bhagavat -> bhaga[vatsu]', 'Among the blessed ones (case 7)') }}

Do you see the difference? Here the strong stem uses `-vant` and the weak stem
uses `-vat`.

I do not know why this change occurs and have no good explanation for it. But
the good news is that the endings are the same as before. The next few lessons
will introduce some of these special suffixes.
