Review
------

There's a basic set of endings that we can use for all sorts of new stems. For
example, here are the endings for `marut`:

{% include 'guide/include/marut-m.html' %}


Multiple stems
--------------

A few consonants, like `marut`, are small and simple. But most consonant stems
are made by adding suffixes to other words:

Many of these suffixes actually use *multiple stems*. They have a
<dfn>strong</dfn> stem that's used in certain places:

!!! examples
    - {{ m.x('Atman -> At[mAnam]', 'The self (case 2)') }}

Otherwise, they use a <dfn>weak</dfn> stem in front of consonants:

!!! examples
    - {{ m.x('Atman -> Atma[su]', 'In the selves') }}

An an unchanged stem in front of vowels:

!!! examples
    - {{ m.x('Atman -> AtmanaH', 'Of the self') }}

The next few lessons will make all of this concrete, so don't worry about the
details here.


Why have multiple stems?
------------------------

Weak stems make the full word a little easier to pronounce, but I don't know
why strong stems exist and have no explanation for them.

However, I *do* have two pieces of good news. First, all of the endings we use
are still the same. And second, this strong/weak stem business is used only in
the *masculine* gender.
