We studied the Sanskrit alphabet by focusing on one letter at a time. But real language is made of sounds that are *chained together*. If we cannot pronounce verses and sentences, we will be like those musicians who can play beautiful notes but no songs.

To fix that, this lesson focuses on <dfn>meter</dfn>, the study of how sounds flow together. Even if you can pronounce Sanskrit well already, a good knowledge of meter is vital to understanding certain parts of how Sanskrit behaves.

Along with phonetics (`zikSA`), meter (`chandas`) is one of the six `vedAGga`, the "limbs" of the Vedas that support the study of its contents. Four of the six `vedAGga` focus on language.

Definition
-----------

We start with the most basic part of meter: the <dfn>syllable</dfn>. Syllables are simple. They have **exactly one vowel**:

!!! examples
    - {{ m.x('i') }}
    - {{ m.x('kA') }}
    - {{ m.x('nau') }}
    - {{ m.x('yo') }}
    - {{ m.x('he') }}

they start with consonants wherever possible:

!!! examples
    - {{ m.x('phalam -> pha-lam') }}
    - {{ m.x('iti -> i-ti') }}

and they end with the `anusvAra` and `visarga` wherever possible:

!!! examples
    - {{ m.x('naraH pacati -> na-raH-pa-ca-ti') }}
    - {{ m.x('taM carAmi -> taM-ca-rA-mi') }}

Sometimes, a phrase can be divided in multiple ways:

!!! examples
    - {{ m.x('putraH -> pu-traH, put-raH') }}
    - {{ m.x('dharmaH -> dha-rmaH, dhar-maH') }}

In these cases, you can divide the phrases however you like. Traditional grammar tries to make syllables end in vowels (`dha-rmaH`). But this makes some parts of Sanskrit more difficult later on. So this guide uses the following convention:

!!! rule
    A syllable should end with **one** consonant, if possible. But we must not break the rules above.

With this convention, all phrases can be divided in exactly one way:

!!! examples
    - {{ m.x('putraH -> put-raH') }}
    - {{ m.x('dharmaH -> dhar-maH') }}

Now we can split any Sanskrit phrase into syllables:

!!! examples
    - {{ m.x('anekavaktranayanam -> a-ne-ka-vak-tra-na-ya-nam', 'with many faces and many eyes') }}


Light and heavy
---------------

This is the key insight of the lesson:

!!! rule
    A syllable that ends in a short vowel is <dfn>light</dfn>. All other syllables are called <dfn>heavy</dfn>. Heavy syllables last **exactly twice as long** as light syllables.

In this sentence, every syllable is heavy:

!!! examples
    - {{ m.x('vRddho vRkSas tiSThaty agre -> vRd-dho-vRk-Sas-tiS-That-yag-re', 'An ancient tree stands ahead.') }}

In this sentence, every syllable is light:

!!! examples
    - {{ m.x('sa zukam api girati -> sa-zu-ka-ma-pi-gi-ra-ti', 'It swallows the parrot, too.') }}

Like the previous example, this one has eight syllables. But since each syllable in this example is light, the example lasts exactly half as long as the previous one.

Finally, consider this example:

!!! examples
    - {{ m.x('arjuna -> ar-ju-na', 'Arjuna') }}

"`ar`" and "`juna`" last for exactly the same amount of time, even though all of these vowels are short.

As you read Sanskrit, try to be mindful of these light and heavy syllables. They do more than control how Sanskrit is pronounced; they also give Sanskrit poetry some of its beauty and power.
