The most useful root suffix
---------------------------

<dfn>`-ta`</dfn> is one of the most useful root suffixes in Sanskrit. Or maybe
it's *the* most useful. When added to a root that means X, it creates an
adjective that means "One who was X-ed." This might sound strange, but examples
will make it clearer:

!!! examples
    - {{ m.x('kRSNo [dRSTo] nagare', 'Krishna [was seen] in the city.') }}
    - {{ m.x('gajAH siMhena [khAditAH]', 'The elephants [were eaten] by the lion.') }}
    - {{ m.x('bAlena [smRtam] azvaM pazyAmaH', 'We see the horse [remembered] by the boy.') }}


### Active and passive

Usually, `-ta` creates words with a more *passive* meaning, as in the examples
above. In these examples, the `-ta` word matches the *object* of the seeing,
eating, and remembering.

Sometimes, the word has a more *active* meaning. This is usually true if
the root implies motion:

!!! examples
    - {{ m.x('azvo vanaM [gataH]', 'The horse [has gone] to the forest.') }}

And it can be true for other roots too:

!!! examples
    - {{ m.x('naro [buddhaH]', 'The man [has awakened].') }}

In these two examples, the `-ta` word matches the *subject* of the going and
awakening.

In some sentences, however, a passive reading might be more correct. Once
again, context is the key:

!!! examples
    - {{ m.x('azvo [gato] gajena', 'The horse [was gone to] by the elephant.') }}
    - {{ m.x('naro [buddho] bAlena', 'The man [was awakened] by the boy.') }}


A verbal adjective
------------------

A word ending in `-ta` can be used with nouns in different cases (`kRSNo
dRSTaH`), just like ordinary verbs. But since
these words are adjectives, they must have the same gender, case, and number as
whatever's being seen, eaten, remembered, and so on:

!!! examples
    - {{ m.x('siMhAn mRgaM ca vane [dRSTaM] khAdAmi', 'I eat the lions and the deer [seen] in the forest.') }}
    - {{ m.x('siMhAn mRgaM ca vane [dRSTAn] khAdAmi', 'I eat the lions [seen] in the forest and the deer.') }}

That is, `-ta` words are basically *verbal adjectives*. There are other
verbal adjectives in Sanskrit, but the ones that use `-ta` are the most common
by far.


`-i-`
-----

Sometimes it's `-ta` and sometimes it's `-ita`. Knowing when to add this
`-i-` is a tricky business. Here's the rule for it:

!!! rule
    There's no simple rule for it. Some roots *always* use it, some roots
    *never* use it, and some roots *optionally* use it. Learn which are which
    by reading a lot of Sanskrit.

But the good news is that the root is usually easy to identify:

!!! examples
    - {{ m.x('khAd -> khAdita', 'eat -> eaten') }}
    - {{ m.x('car -> carita', 'walk -> walked (to)') }}
    - {{ m.x('smR -> smRta', 'remember -> remembered') }}
    - {{ m.x('zuc -> zucita', 'grieve -> grieved (for)') }}


Roots in the `aya` class and causal roots always use `-ita`. The root vowel is
also strengthened, just as it is when we create the verb stem:

!!! examples
    - {{ m.x('cur -> corita', 'steal -> stolen') }}
    - {{ m.x('dRz -> darzita', 'see -> made to be seen') }}


Root changes
------------

In general, `-ta` doesn't cause any changes to the root. However, there are a
few exceptions:

### Roots that end in `-m` or `-n`

Usually, these roots lose the `-m` or `-n`:

!!! examples:
    - {{ m.x('gam -> gata', 'go -> gone') }}
    - {{ m.x('man -> mata', 'think -> thought') }}
    - {{ m.x('jan -> jAti', 'be born -> born') }}

Note that `jan` is irregular here.

### Roots that end in `RR`

`RR` is a rare sound in Sanskrit, and Panini uses it in his roots mainly as a
sort of shorthand:

!!! rule
    If `RR` follows any of the stop consonants at the lips (`pa, pha, ba, bha,
    ma`), it becomes `Ur`. Otherwise it becomes `Ir`:

Usually, `-RR` roots use `-na` instead:

!!! examples:
    - {{ m.x('tRR -> tIrNA', 'cross -> crossed') }}
    - {{ m.x('pRR -> pUrNA', 'fill -> filled, full') }}

I'm not sure why some roots use `-na` instead. Fortunately, there are only a
few common ones, and they're easily recognized.

### Other changes

There are other changes that `-ta` causes, but all the other suffixes that
start with `-t` cause these changes too. So let's study these later, once we've
seen some of the others.
