Review
------

We create *compounds* by removing a noun's ending and combining it with another noun.

!!! examples
    - {{ m.x('[grAmavIraM] rakSAmi', 'I protect the [village hero].') }}

We lose *freedom* and *clarity* by doing this, but we get a *density* of expression that is hard to achieve otherwise.


The most common compound
------------------------

Now that we understand what compounds are and what they can do, let's study an example in more detail. This example uses the word `tasya`, which means "his":

!!! examples
    - {{ m.x('tasya puruSaH → [tatpuruSaH]', 'His servant') }}

Here, `tatpuruSa` ("his servant") is a type of `puruSa` ("servant"). Any
compound that follows this pattern is called a <dfn>`tatpuruSa` compound</dfn>,
or just <dfn>`tatpuruSa`</dfn> for short. Here are some examples that are
`tatpuruSa` compounds:

!!! examples
    - {{ m.x('devalokaH', 'The world of the gods ("god-world")') }}
    - {{ m.x('grAmavIraH', 'The hero of the village ("village-hero")') }}

Here, `devaloka` is a type of `loka`, and `grAmavIra` is a type of `vIra`.

Now, here are some examples that are *not* `tatpuruSa` compounds:

!!! examples
    - {{ m.x('bahuvrIhiH', 'A man with much rice ("much-rice")') }}
    - {{ m.x('arjunakRSNau', 'Arjuna and Krishna ("Arjuna-Krishna")') }}

Here, `bahuvrIhi` is not a `bahu` or a `vrIhi`, and `arjunakRSNau` is both
`arjuna` and `kRSNa`. We'll study both of these types of compound in later
lessons.

### Case 6 `tatpuruSa`
The `tatpuruSa` is a rich compound that appears in many different forms. To
help us talk about these forms, we can label a `tatpuruSa` compound based on
the case that its first noun would normally have.

Consider the phrase below:

!!! examples
    - {{ m.x('devasya putraH -> devaputraH', 'The son of the god') }}


Here `deva` is originally in case 6. So we would say that `devaputra` is a
<dfn>case 6 `tatpuruSa`</dfn>. These sorts of compounds are in English, too:

!!! examples
    - patch of cabbages → cabbage patch
    - leader of the world → world leader
    - bar of iron → iron bar

!!! note
    Just as in Sanskrit, the first word loses its ending. For example,
    "cabbages" becomes just "cabbage."

### Case 1 `tatpuruSa`
The <dfn>case 1</dfn> `tatpuruSa` is a little more difficult to understand. An English example of it is "singer-songwriter," a person who is both a singer and a songwriter. Most often, it is used to pair a noun with an adjective:

!!! examples
    - {{ m.x('kRSNo mRgaH → kRSNamRgaH', 'black deer') }}
    - {{ m.x('zvetAv azvau → zvetAzvau', 'two white horses') }}
    - {{ m.x('sundarAH siMhAH → sundarasiMhAH', 'beautiful lions') }}


But it can pair nouns with nouns, too:

!!! examples
    - {{ m.x('naro vIraH → naravIraH', 'man-hero; he who is both a man a hero') }}
    - {{ m.x('naraH siMhaH → narasiMhaH', 'man-lion; "he who is both a man and a lion," i.e. <a href="http://en.wikipedia.org/wiki/Narasimha">Narasimha</a>') }}


Notice that even without case endings, it is fairly easy to tell what the relationship between the two parts of each compound should be. As you read more Sanskrit, you will intuitively understand these compounds.
