Things that should be done
--------------------------

<dfn>`-tavya`</dfn>, <dfn>`-anIya`</dfn>, and <dfn>`-ya`</dfn> all create
verbal adjectives, just like `-ta`. When added to a root that means X, they
create adjectives that mean something like "should be X-ed," "ought to be
X-ed," or "will be X-ed." All three suffixes have the same meaning and are used
in the same ways:

!!! examples
    - {{ m.x('kRSno [draSTavyo] nagare', 'Krishna [should be seen] in the city.') }}
    - {{ m.x('gajAH siMhena [khAditavyAH]', 'The elephants [ought to be eaten] by the lion.') }}
    - {{ m.x('bAlena [smAryam] azvaM pazyAmaH', 'We see the horse [that will be remembered] by the boy.') }}


Verbal adjectives
-----------------

These three suffixes all create words that can be used with nouns in different
cases (`kRSNo draSTavyaH`), just like ordinary verbs. But since these words are
adjectives, they must have the same gender, case, and number as whatever should
be seen, eaten, remembered, and so on:

!!! examples
    - {{ m.x('siMhAn mRgaM ca vane [draSTavyam] khAdAmi', 'I eat the lions and the deer [that should be seen] in the forest.') }}
    - {{ m.x('siMhAn mRgaM ca vane [draSTavyAn] khAdAmi', 'I eat the lions [that should be seen] in the forest and the deer.') }}

That is, these words are basically *verbal adjectives*.


`-i-`
-----

Just like `-ta`, `-tavya` is sometimes `-tavya` and sometimes
`-itavya`. As before, there's no simple rule for it.

But the good news is that roots use it (or avoid it) consistently:

!!! examples
    - {{ m.x('khAd -> khAditvA, khAditavya', 'eat -> after eating, to be eaten') }}
    - {{ m.x('car -> caritvA, caritavya', 'walk -> after walking, to be walked (to)') }}
    - {{ m.x('smR -> smRtvA, smartavya', 'remember -> after remembering, to be remembered') }}
    - {{ m.x('zuc -> zucitvA, zocitavya', 'grieve -> after grieving, to be grieved') }}

`-anIya` and `-ya` don't use `-i-` at all.

Root changes
------------

### For `-tavya`

`-tavya` strengthens the root vowel:

!!! examples:
    - {{ m.x('kR -> kartavya', 'do -> to be done; duty, task') }}

There are other changes that `-tavya` causes, but all the other suffixes that
start with `-t` cause these changes too. So let's study these later, once we've
seen more of the others.


### For `-anIya`

`-anIya` strengthens the root vowel, too:

!!! examples:
    - {{ m.x('zuc -> zocanIya', 'grieve -> to be grieved for; lamentable') }}


### For `-ya`

In general, `-ya` strengthens the root vowel as usual:

!!! examples
    - {{ m.x('ji -> jeya', 'conquer -> to be conquered') }}
    - {{ m.x('nI -> neya', 'lead -> to be led') }}
    - {{ m.x('nu -> navya', 'praise -> to be praised') }}

But if the root ends in `-A`, the vowel changes to `-e`:

!!! examples
    - {{ m.x('sthA -> stheya', 'stand -> to be stood, stationed, or placed') }}
    - {{ m.x('mA -> meya', 'measure -> to be measured, measurable') }}

Otherwise, there isn't a clear pattern. Some roots strengthen to the highest
possible level:

!!! examples
    - {{ m.x('plu -> plAvya', 'swim, bathe -> to be bathed (in)') }}
    - {{ m.x('bhU -> bhAvya', 'be -> to be become or caused') }}
    - {{ m.x('kR -> kArya', 'done -> to be done') }}
    - {{ m.x('tRR -> tArya', 'cross -> to be crossed') }}

And some roots strengthen hardly at all:

!!! examples
    - {{ m.x('dRz -> dRzya', 'see -> to be seen') }}

!!! note
    There *are* ways to formalize the vowel changes here, but it's not worth
    the time or trouble right now.
