Review
------

Roots are sorted into ten different *classes*. We have seen three classes so far:

!!! examples
    - {{ m.x('bhU -> bhavati', 'He becomes.') }}
    - {{ m.x('tud -> tuda -> tudati', 'He strikes.') }}
    - {{ m.x('muh -> muhya -> muhyati', 'He is deluded.') }}


`aya`
-----

In this class, the root vowel strengthens and we add `aya` to the end of the root. Since we add `aya`, we can just call this class the <dfn>`aya` class</dfn>:

!!! examples
    - {{ m.x('cur -> coraya -> corayati', 'He steals.') }}
