We have seen basically every sound in ordinary Sanskrit.

Let's review these in the traditional alphabetical order.

First are the Sanskrit vowels:

{{ m.row_ul('a A i I u U R RR lR e ai o au'.split()) }}

Then the `anusvAra` and `visarga`:

{{ m.row_ul('aM aH'.split()) }}

Next come the stops and nasals:

{{ m.row_ul('ka kha ga gha Ga ca cha ja jha Ja Ta Tha Da Dha Na ta tha da dha na pa pha ba bha ma'.split()) }}

Followed by the semivowels:

{{ m.row_ul('ya ra la va'.split()) }}

the "s" consonants:

{{ m.row_ul('za Sa sa'.split()) }}

and, finally, `ha`:

{{ m.row_ul('ha'.split()) }}
