{% macro as_sa2(x) %}{{ x|i }}{% endmacro %}
{% macro rows(data) %}
{{ m.row_ul(data.split(), callback=as_sa2) }}
{% endmacro %}

We have seen basically every sound in ordinary Sanskrit.

Let's review these in the traditional alphabetical order.

First are the Sanskrit vowels:

{{ rows('a A i I u U R RR lR e ai o au') }}

Then the `anusvAra` and `visarga`:

{{ rows('aM aH') }}

Next come the stops and nasals:

{{ rows('ka kha ga gha Ga ca cha ja jha Ja Ta Tha Da Dha Na ta tha da dha na pa pha ba bha ma') }}

Followed by the semivowels:

{{ rows('ya ra la va') }}

the "s" consonants:

{{ rows('za Sa sa') }}

and, finally, `ha`:

{{ rows('ha') }}
