`-no` and `-nu`
---------------

In this complex class, we form the strong stem by adding `-no` and the weak
stem by adding `-nu`:

!!! examples
    - {{ m.x('su -> sunoti', 'He presses out.') }}
    - {{ m.x('su -> sunumaH', 'We press out.') }}

Let's call this class the <dfn>`no` class</dfn>.


Strong and weak stems
---------------------

Certain forms have *variants* that are occasionally used instead.

### `parasmaipada`
{% include('guide/include/su-5p.html') %}


### `Atmanepada`
{% include('guide/include/su-5a.html') %}


`zru`
-----

The `-no` class has only a few irregular verbs. The most important is `zru`:

!!! examples
    - {{ m.x('zru -> zRNoti', 'He hears.') }}
    - {{ m.x('zru -> zRNvanti', 'They hear.') }}

`zRnu` becomes `zRNu` due to the same blending rule that turns `narena` into
`nareNa`.

