Review
------

Roots are sorted into ten different *classes*. We have seen one class so far:

!!! examples
    - {{ m.x('bhU -> bhavati', 'He becomes.') }}


Strong and weak `a`
-------------------

In our next class, we add `a` to the end of the root without changing the root vowel. Since the root vowel remains *weak*, we can call this the <dfn>weak `a` class</dfn>:

!!! examples
    - {{ m.x('tud -> tuda -> tudati', 'He strikes.') }}
    - {{ m.x('iS -> iccha -> icchAvaH', 'The two of us want.') }}
    - {{ m.x('prach -> pRccha -> pRcchAmi', 'I ask.') }}


`iS` and `prach` are irregular roots, but since they create stems with weak
vowels, Panini chose to sort them here.


Adding a nasal sound
--------------------

Some roots in this class have an `n` or `m` inserted right before their last
consonant:

!!! examples
    - {{ m.x('vid -> vinda -> vindasi', 'You find.') }}
    - {{ m.x('lip -> limpa -> limpati', 'He stains.') }}

But I'm not sure why Panini didn't put these in their own class.
