Review
------

Roots are sorted into ten different *classes*. A root's class tells us how to turn a root into a verb in the present tense.


The largest class of all
------------------------

### Strengthening
The first class contains roughly half of all verb roots in the Sanskrit language. In this class, the root vowel *strengthens* and we add `a` to the end of the root. Since roots become stronger and use the vowel `a`, we can just call this class the <dfn>strong `a`</dfn> class:

!!! examples
    - {{ m.x('ji -> jaya -> jayati', 'He conquers.') }}
    - {{ m.x('nI -> naya -> nayanti', 'They lead.') }}
    - {{ m.x('bhU -> bhava -> bhavasi', 'You are.') }}
    - {{ m.x('zuc -> zoca -> zocAvaH', 'The two of us grieve.') }}
    - {{ m.x('khAd -> khAda -> khAdatha', 'You all eat.') }}


!!! note
    The roots blend with `a` according to the rules we've already seen. You can <a href="{{ m.lesson_url('semivowels') }}">review those rules here</a> if they are unfamiliar or confusing.

{# TODO: strong vs medium #}


### No change

Panini's system is elegant, but it isn't perfect. One of its strange quirks is the following:

!!! rule
    The `a` in a root strengthens to `a` instead of `A`.

This means that all of the following roots are also in the strong `a` class:

!!! examples
    - {{ m.x('car -> carati', 'He walks.') }}
    - {{ m.x('pac -> pacati', 'He cooks.') }}
    - {{ m.x('rakS -> rakSati', 'He protects.') }}
    - {{ m.x('labh -> labhate', 'He obtains.') }}

### Irregular verbs
In addition to the stems above, this class contains roots that have irregular stems:

!!! examples
    - {{ m.x('gam -> gacchati', 'He goes.') }}
    - {{ m.x('dRz -> pazyati', 'He sees.') }}
    - {{ m.x('sthA -> tiSThati', 'He stands.') }}

In general, roots with irregular stems are lumped into the strong `a` class.
