`-nA` and `-nI`
---------------

In this class, we form the strong stem by adding `-nA` and the weak stem by
adding `-nI`:

!!! examples
    - {{ m.x('krI -> krINAti', 'He buys.') }}
    - {{ m.x('krI -> krINImaH', 'We buy.') }}

Let's call this class the <dfn>`nA` class</dfn>.


Strong and weak stems
---------------------

`krI` uses both `parasmaipada` and `Atmanepada` endings. Here are its forms:

### `parasmaipada`
{% include('guide/include/kri-9p.html') %}

Note that it's `krINanti`, not `*krINyanti`. The final `-I` disappears in front of vowels.

### `Atmanepada`
{% include('guide/include/kri-9a.html') %}

Again, the final `-I` disappears in front of vowels.


`jJA`
-----

The `nA` class has a few irregular verbs, but the most important one is `jJA`
("know"). Its strong stem is `jAnA`, and its weak stem is `jAnI`:

!!! examples
    - {{ m.x('na jAnAmi', "I don't know.") }}
