{% macro as_sa2(x) %}{{ x|i }}{% endmacro %}
{% macro rows(data) %}
{{ m.row_ul(data.split(), callback=as_sa2) }}
{% endmacro %}

We have seen every sound in ordinary Sanskrit. Let's review these in the traditional alphabetical order.


Vowels
------

!!! note
    Note that the compound vowels are in a different order. The guide introduced them as `e o ai au`, but the traditional order is `e ai o au`.

{{ m.sounds(
    ('a', 'a', '"u" in "but"'),
    ('A', 'aa', '"a" in "father"')
)}}
{{ m.sounds(
    ('i', 'i', '"i" in "bit"'),
    ('I', 'ii', '"ee" in "teeth"')
)}}
{{ m.sounds(
    ('u', 'u', '"oo" in "mood" (short)'),
    ('U', 'uu', '"oo" in "mood" (long)'),
)}}
{{ m.sounds(
    ('R', 'r', '(no match)'),
    ('RR', 'rr', '(no match)'),
    ('lR', none, '(no match)')
)}}
{{ m.sounds(
    ('e', 'e', '"a" in "mane"'),
    ('ai', 'ai', '"i" in "fight"'),
    ('o', 'o', '"o" in "go"'),
    ('au', 'au', '"ow" in "cow"'),
) }}





`anusvAra` and `visarga`
------------------------

{{ m.sounds(
    ('aM', 'anusvara', '(no match)'),
    ('aH', 'visarga', '(no match)'),
) }}


Stops and nasals
----------------

{{ m.sounds(
    ('ka', 'ka', '"k" in "skill"'),
    ('kha', 'kha', '"k" in "kill"'),
    ('ga', 'ga', '"g" in "gill"'),
    ('gha', 'gha', '(no match)'),
    ('Ga', 'na_k', '"ng" in "lung"'),
) }}
{{ m.sounds(
    ('ca', 'ca', '(no match)'),
    ('cha', 'cha', '(no match)'),
    ('ja', 'ja', '(no match)'),
    ('jha', 'jha', '(no match)'),
    ('Ja', 'na_j', '(no match)'),
) }}
{{ m.sounds(
    ('Ta', 'ta1', '(no match)'),
    ('Tha', 'tha1', '(no match)'),
    ('Da', 'da1', '(no match)'),
    ('Dha', 'dha1', '(no match)'),
    ('Na', 'na1', '(no match)'),
) }}
{{ m.sounds(
    ('ta', 'ta', '"th" in "thumb"'),
    ('tha', 'tha', '(no match)'),
    ('da', 'da', '"th" in "this"'),
    ('dha', 'dha', '(no match)'),
    ('na', 'na', '"n" in "nose"'),
) }}
{{ m.sounds(
    ('pa', 'pa', '"p" in "spill"'),
    ('pha', 'pha', '"p" in "pill"'),
    ('ba', 'ba', '"b" in "bill"'),
    ('bha', 'bha', '(no match)'),
    ('ma', 'ma', '"m" in "mill"'),
) }}


Semivowels
----------

{{ m.sounds(
    ('ya', 'ya', '"y" in "yellow"'),
    ('ra', 'ra', '(no match)'),
    ('la', 'la', '"l" in "loose"'),
    ('va', 'va', '"v" in "vase"'),
) }}


"s" consonants and `ha`
-----------------------

!!! note
    The tradition tends to group `ha` with the "s" consonants, even though `ha` is voiced and the others are not.

{{ m.sounds(
    ('za', 'sha', '(no match)'),
    ('Sa', 'shha', '(no match)'),
    ('sa', 'sa', '"s" in "snake"'),
    ('ha', 'ha', '(no match)'),
) }}
