`-na-` and `-n-`
----------------

In the classes we've seen so far, we *add* something to the end of the root.
Sometimes, the root's vowel changes too.

This class is different. Instead of *adding* something, we *insert* something.
We insert `na` for the strong stem and `n` for the weak stem:

!!! examples
    - {{ m.x('kSud -> [kSunadmi]', 'I pound.') }}
    - {{ m.x('kSud -> kSundanti', 'They pound.') }}


Ending in a consonant
---------------------
{# TODO #}


Strong and weak stems
---------------------

### `parasmaipada`
{% include('guide/include/rudh-7p.html') %}

### `Atmanepada`
{% include('guide/include/rudh-7a.html') %}
