Review
------

Roots are sorted into ten different *classes*. We have seen two classes so far:

!!! examples
    - {{ m.x('bhU -> bhavati', 'He becomes.') }}
    - {{ m.x('tud -> tuda -> tudati', 'He strikes.') }}


`ya`
----

In our next class, we add `ya` to the end of the root without changing the root vowel. Since we add `ya`, we can just call this class the <dfn>`ya`</dfn> class:

!!! examples
    - {{ m.x('muh -> muhya -> muhyati', 'He is deluded.') }}
    - {{ m.x('man -> manya -> manyate', 'He thinks.') }}
    - {{ m.x('jan -> jAya -> jAyate', 'He is born.') }}

`jan` is an irregular root, but since its stem ends in `ya`, Panini chose to sort it here.
