Review
------

Roots are sorted into ten different *classes*. We have seen one class so far:

!!! examples
    - {{ m.x('bhU -> bhavati', 'He becomes.') }}

Strong and weak `a`
-------------------

In our next class, we add `a` to the end of the root without changing the root vowel. Since the root vowel remains *weak*, we can call this the <dfn>weak `a` class</dfn>:

!!! examples
    - {{ m.x('tud -> tuda -> tudati', 'He strikes.') }}
    - {{ m.x('iS -> iccha -> icchAvaH', 'The two of us want.') }}


`iS` is an irregular root, but since it has a weak vowel, Panini chose to sort it here.
