`-o` and `-u`
-------------

What's strange about the <dfn>`o` class</dfn> is that its verbs look like
members of the `no` class:

!!! examples
    - {{ m.x('tanoti', 'He extends.') }}
    - {{ m.x('tanute', 'He extends.') }}

It seems that we could just at easily model these verbs with the root `ta` in
the `-no` class. But by saying that the root is `tan`, we make other results
easier to explain:

!!! examples
    - {{ m.x('tan + a -> tAnaH', 'stretch out, display + `a` -> fiber, tone') }}
    - {{ m.x('tan + tra -> tantram', 'stretch out, display + `tra` -> doctrine, theory') }}


Strong and weak stems
---------------------

We create the strong stem by adding `-o` and the weak stem by adding `-u`. Here
are the resulting verbs:

### `parasmaipada`
{% include('guide/include/tan-8p.html') %}

### `Atmanepada`
{% include('guide/include/tan-8a.html') %}


`kR`
----

The `o` class is the smallest verb class by far, with about 10 roots overall.
And the verbs in this class are all quite rare. So why should we study this
class at all?

Because it contains `kR`, one of the most common and general Sanskrit verbs:

!!! examples
    - {{ m.x('karoti', 'He does.') }}
    - {{ m.x('kurute', 'He does for himself.') }}

`kR` is irregular. Its strong stem is `karo` and its weak stem is `kuru`.

It is hard to imagine a verb more basic than {{ 'kR'|i }}. The whole point of
verbs is to describe action &mdash; and what action is more basic than just
*doing* something? Along with `bhU`, `kR` is one of the most common roots in
all of Sanskrit. In fact, `kR` is literally the root of the word "Sanskrit":

!!! examples
    - {{ m.x('saMs-kR -> saMskRta -> saMskRtam', 'make perfectly -> perfectly made -> Sanskrit') }}

`kR` is also one of the oldest roots in Sanskrit. Especially in Vedic Sanskrit,
`kR` follows the pattern of the `no` class, where it might have belonged
originally:

!!! examples
    - {{ m.x('kRNoti', 'He does.') }}
    - {{ m.x('kRNute', 'He does for himself.') }}
