To do
-----

<dfn>`-tum`</dfn> creates an uninflected word that has verb-like properties,
just like `-tvA`. When added to a root meaning X, `-tum` creates a word that
means "to X":

!!! examples
    - {{ m.x('vanaM [gantuM] icchanti', 'They want [to go] to the forest.') }}


Using `-tum` words
------------------

`-tum` words can appear only in certain places. They're commonly used with
words that imply wanting:

!!! examples
    -   {{ m.x('etAn na [hantum] icchAmi', 'I do not want [to kill] them.') }}

        <cite>Bhagavad Gita 1.35</cite>

or deserving:

!!! examples
    -   {{ m.x('taM santaH [zrotum arhanti]', 'The good [deserve to hear] it') }}

        <cite>Raghuvamsha 1.10</cite>

    -   {{ m.x('na tvaM [zocitum arhasi]', 'You [should not grieve].') }}

        <cite>Bhagavad Gita 2.27</cite>


`-i-`
-----

Just like `-tvA`, `-tum` is sometimes `-tum` and sometimes `-itum`. As before,
there's no simple rule for it.

But the good news is that roots use it (or avoid it) consistently:

!!! examples
    - {{ m.x('khAd -> khAditvA, khAditum', 'eat -> after eating, to eat') }}
    - {{ m.x('car -> caritvA, caritum', 'walk -> after walking, to walk') }}
    - {{ m.x('smR -> smRtvA, smartum', 'remember -> after remembering, to remember') }}
    - {{ m.x('zuc -> zucitvA, zocitum', 'grieve -> after grieving, to grieve') }}


Root changes
------------

`-tum` strengthens the root vowel:

!!! examples:
    - {{ m.x('kR -> kartavya', 'do -> to be done; duty, task') }}

There are other changes that `-tum` causes, but all the other suffixes that
start with `-t` cause these changes too. We've seen enough of these suffixes
now, so we'll focus on these rules in the next lesson.
