All the rest
------------

We know that verbs define an action:

!!! examples
    - {{ m.x('gacchati', 'He goes.') }}

And that nouns define the things involved in that action:

!!! examples
    - {{ m.x('gajo gacchati', 'The elephant goes.')}}

But there are also <dfn>uninflected words</dfn>, which let us express more complicated ideas. As the name implies, these words aren't inflected; they always look the same, and they always have the same meaning.

Here's a small taste of what uninflected words can do:

!!! examples
    - {{ m.x('gajo [na] gacchati', 'The elephant [does not] go.')}}
    - {{ m.x('vIra [iva] carati', 'He walks [like] a hero.')}}
    - {{ m.x('azvaM naraM [vA] khAdanti', 'They eat the man [or] the horse.') }}

Each of these words works in slightly different ways. Future lessons will explain exactly how these words work.
