Actions
-------

The typical Sanskrit sentence is just some <dfn>action</dfn>. The simplest sentences are just actions and nothing else:

!!! examples
    - {{ m.x('gacchati', 'He goes.') }}

These sentences are just actions, too:

!!! examples
    - {{ m.x('gacchataH', 'The two of them go.') }}
    - {{ m.x('gacchanti', 'They go.') }}

The actions in these sentences all share a basic "core" that we add endings to. These sorts of actions are called <dfn>verbs</dfn> in English grammar, and I'll use the same term here.


Stems and endings
-----------------

`gacchati`, `gacchataH`, and `gacchanti` both start the same way, with `gaccha`. This part of the verb is called the <dfn>stem</dfn>. Just as many flowers bloom from the same plant stem, many verbs are formed from the same verb stem.

We *inflect* a stem by adding an <dfn>ending</dfn> to it. The result is a complete Sanskrit word:

!!! examples
    - {{ m.x('gaccha + ti -> gacchati', 'He goes.') }}
    - {{ m.x('tiSTha + taH -> tiSThati', 'The two of them stand.') }}
    - {{ m.x('pazya + nti -> pazyanti', 'They see.') }}


The stem contains the basic meaning of the verb: going somewhere (`gaccha`), standing (`tiSTha`), seeing (`pazya`), and so on. But the ending contains some extra information:


### Number

A verb's ending describes the *number of things* that perform the action:

!!! examples
    - {{ m.x('tiSThati', 'He stands.') }}
    - {{ m.x('pazyataH', 'The two of them see.') }}
    - {{ m.x('gacchanti', 'They go.') }}


In English, this idea is called the <dfn>number</dfn> of the verb. We have the
<dfn>singular</dfn> ("you"), the <dfn>dual</dfn> ("the two of you"), and the
<dfn>plural</dfn> ("you all"). It's not important to remember these terms, 
but it helps to be able to recognize them when you see them.

Note that this "number" information is all contained in the verb ending. The
stem stays the same.


### Person

Not all verbs describes "he" and "they" and so on. We can talk about other sorts of people, too. We can talk about the people in front of us:

!!! examples
    - {{ m.x('gacchasi', 'You go.') }}
    - {{ m.x('gacchathaH', 'The two of you go.') }}
    - {{ m.x('gacchatha', 'You all go.') }}

And we can talk about ourselves:

!!! examples
    - {{ m.x('tiSThAmi', 'I stand.') }}
    - {{ m.x('tiSThAvaH', 'The two of us stand.') }}
    - {{ m.x('tiSThAmaH', 'We all stand.') }}

In English, this idea is called the <dfn>person</dfn> of the verb. We have the
<dfn>first</dfn> person ("I"), the <dfn>second</dfn> ("you"), and the
<dfn>third</dfn> ("he", "she"). It's not important to remember these terms, 
but it helps to be able to recognize them when you see them.

Note that this "person" information is all contained in the verb ending. The
stem stays the same.
