Review
------

The typical Sanskrit sentence is just some *action*:

!!! examples
    - {{ m.x('gacchati', 'He goes.') }}

We define the different *roles* in a sentence by using *nouns*:

!!! examples
    - {{ m.x('gajo gacchati', 'The elephant goes.') }}


An implied verb
---------------

Some things exist and some things don't. Sanskrit lets us express this idea in various ways, but one of the simplest is to use the `bhava` stem:

!!! examples
    - {{ m.x('naro vIro bhavati', 'The man is a hero.') }}

This idea of "being" is so basic that it's *implied* even if the verb is missing:

!!! examples
    - {{ m.x('naro vIraH', 'The man is a hero.') }}

We can call these sentences <dfn>verbless</dfn> sentences, for obvious reasons.


Usage
-----

These sentences are simple. Just create a sentence with the verb `bhava`, then take the verb out:

!!! examples
    - {{ m.x('vIro narasya putraH', "The hero is the man's son.") }}
    - {{ m.x('azvo grAme', 'The horse is in the village.') }}
