Generally, every Sanskrit sentence is just some <dfn>action</dfn>. The simplest sentences are just actions and nothing else:

!!! examples
    - {{ m.x('gacchati', 'He goes.') }}

These sorts of actions are called <dfn>verbs</dfn>. `gacchati` is a verb. So are the words below:

!!! examples
    - {{ m.x('gacchataH', 'The two of them go.') }}
    - {{ m.x('gacchanti', 'They go.') }}


Stems and endings
-----------------

`gacchati`, `gacchataH`, and `gacchanti` both start the same way, with `gaccha`. This part of the verb is called the <dfn>stem</dfn>. Just as many flowers bloom from the same plant stem, many verbs are formed from the same verb stem.

We combine a stem with an <dfn>ending</dfn> to make a complete word:

!!! examples
    - {{ m.x('gaccha + ti -> gacchati', 'He goes.') }}
    - {{ m.x('tiSTha + taH -> tiSThati', 'The two of them stand.') }}
    - {{ m.x('pazya + nti -> pazyanti', 'They see.') }}


Number
------

A verb's ending describes the *number of things* that perform the action:

!!! examples
    - {{ m.x('tiSThati', 'He stands.') }}
    - {{ m.x('pazyataH', 'The two of them see.') }}
    - {{ m.x('gacchanti', 'They go.') }}

We can call this a change in the verb's <dfn>number</dfn>.


Person
------

Not all verbs describes "he" and "they" and so on. We can talk about other sorts of people, too. We can talk about the people in front of us:

!!! examples
    - {{ m.x('gacchasi', 'You go.') }}
    - {{ m.x('gacchathaH', 'The two of you go.') }}
    - {{ m.x('gacchatha', 'You all go.') }}

And we can talk about ourselves:

!!! examples
    - {{ m.x('tiSThAmi', 'I stand.') }}
    - {{ m.x('tiSThAvaH', 'The two of us stand.') }}
    - {{ m.x('tiSThAmaH', 'We all stand.') }}

In English, this is called a change in the verb's <dfn>person</dfn>. This guide will use that term, too.
