Review
------

Verbs are formed from verb stems. And verb stems are formed from *roots*. There are many different ways of defining the Sanskrit verb roots, but we'll follow the conventions laid down by Panini. By his convention, the words in the examples below share the root `ji`.

!!! examples
    - {{ m.x('vIrA [jayanti]', 'The heroes [conquer].') }}
    - {{ m.x('loko [jitaH]', 'The world [has been conquered].') }}


Roots and classes
-----------------

But how should we turn verb roots into the verbs that we've seen so far? There doesn't seem to be a clear pattern:

!!! examples
    - {{ m.x('ji -> jayati', 'He conquers.') }}
    - {{ m.x('man -> manyate', 'He thinks.') }}
    - {{ m.x('tud -> tudati', 'He strikes.') }}
    - {{ m.x('cur -> corayati', 'He steals.') }}

Panini's solution is to group all roots into <dfn>verb classes</dfn>. Each class follows a specific pattern and tells us how to create verbs in the present tense. For example, the most common class follows the pattern you see below:

!!! examples
    - {{ m.x('nI -> nayati', 'He leads.') }}
    - {{ m.x('bhU -> bhavati', 'He becomes.') }}
    - {{ m.x('ji -> jayati', 'He conquers.') }}
    - {{ m.x('zuc -> zocati', 'He grieves.') }}

There are **ten verb classes** in total. But the four above are the simplest, and those are the ones that we'll focus on for now.

Class confusions
----------------

Classes are strange, and it is easy to get confused about what they mean. I find it easiest to think that *classes are just a way to remember how verbs behave*. So keep the following in mind as you go forward:

- In general, there is no relationship between a verb's class and whether it is `parasmaipada` or `Atmanepada`. Most verb classes have `parasmaipada` roots, `Atmanepada` roots, and roots that use both.

- In general, we cannot tell which classes a verb root might use just by looking at the root. This is information we have to memorize for each new root we see.

- A root can be in multiple verb classes. But in general, a root has just one class.

### Reading the dictionary
For these reasons, most dictionaries will provide the class and `pada` information for a verb. Here's an adapted example from the Monier-Williams dictionary:

> `bhU`: P. `bhavati` (rarely A. `-te`)

This entry says that the root is `bhU`. The root is `parasmaipada` and produces the present tense verb `bhavati`. But rarely, `bhU` uses `Atmanepada` and produces the present tense verb `bhavate`.
