Both "k" and "g" are sounds that are pronounced at the soft palate. So what makes "k" sound different from "g"? The answer is that one is <dfn>voiced</dfn> and the other is <dfn>unvoiced</dfn>.

You can feel the difference between voiced and unvoiced sounds by placing your fingers on your throat, right underneath your jaw. When you pronounce a voiced sound, the vocal cords vibrate and cause your windpipe to vibrate, too. But when you pronounce an unvoiced sound, your windpipe will not vibrate very much at all.

Of the sounds we've studied so far, only `k`, `c`, `T`, `t`, and `p` are unvoiced. All others are voiced. That means vowels, semivowels, and nasals are **all** voiced sounds.

We'll see some interesting examples of voiced and unvoiced sounds later on.
