Before we begin, it's worth considering why we should learn Sanskrit at all.


A history of motivations
------------------------

### Religion and spirituality

> From where did all this creation come?<br />
> Whether He made it or whether He didn't,<br />
> *He* surely knows, who sees all creation<br />
> from the highest heaven.<br />
> Or perhaps He doesn't know.<br />
> <cite>Rigveda 10.129 (`nAsadIya sUkta`)</cite>

Thousands of years ago, a language of great beauty and power arose on the
Indian subcontintent. With this language as their thread, some of the
greatest minds of that older India wove their meditations on every aspect of
their world, their lives, and the nature of their existence.

Together, these compositions are known as the [Vedas][vedas], the sacred lore
of what we call Hinduism today. And of course, the language used in these
compositions was Sanskrit.

[vedas]: https://en.wikipedia.org/wiki/Vedas

As time went on, Sanskrit changed from a native language to a learned one. But
because it was the language of this sacred lore, Sanskrit itself became a
powerful and prestigious thing. So it was then the language of the great works
that came after it, both as part of the Hindu tradition and as part of the
other spiritual traditions of the time, like Buddhism and Jainism.

Reading these texts in Sanskrit has an intimacy that doesn't easily appear when
reading translations. But if you are not seriously invested in your tradition
or its texts, then this motivation might not be strong enough. And depending on
which tradition you follow, Sanskrit might even be unwise:

> Seek [Govinda](http://en.wikipedia.org/wiki/Krishna), seek Govinda &mdash;
> seek Govinda, you fool!<br />
> For when you've come to your final hour, not even Sanskrit will save you.<br />
> <cite><a href="http://en.wikipedia.org/wiki/Bhaja_Govindam">Bhaja Govindam</a></cite>


### Ancient knowledge

> Now begins the instruction on words.<br />
> <cite>Ashtadhyayi</cite>

Because of its prestige and cultural power, Sanskrit soon became the common
language of the Indian intellectual world &mdash; or at least, of a piece of
it. Sanskrit was typically a language for upper-caste males, and Sanskrit works
typically have little regard for the thoughts of women or the "lower" castes.

Despite these shortcomings, the texts that these great minds have left
behind are one of the surest views we have into the thoughts and views of the
time.  Reading the views of these older generations has a way of putting our
own into useful perspective.

(I'd like to highlight the Sanskrit linguistic tradition in particular. Its
[crown jewel][ashtadhyayi] is a true work of genius, and its insights extend
even [into the present day][generative].)

[ashtadhyayi]: https://en.wikipedia.org/wiki/Pāṇini#Aṣṭādhyāyī
[generative]: https://en.wikipedia.org/wiki/Generative_grammar

But the discoveries of the modern world are fascinating too, and far more
accessible. And the more common texts have translations available. Unless
you're interested in the history of rarer kinds of Indian intellectual
thought, this motivation might not be strong enough.


### Literature

> All that is here is found elsewhere.<br />
> But what's *not* here is nowhere else.<br />
> <cite>[Mahabharata](https://en.wikipedia.org/wiki/Mahabharata)</cite>

As time passed, the status of Sanskrit continued to grow. What was once just
"language (`bhASA`) become "the perfected language" (`saMskRtA`) and, later,
the "languge of the gods" (`deva-bhASA`).

And as Sanskrit became more and more exalted, its literature and poetry became
more and more intricate. All poetry is hard to translate, but Sanskrit poetry
is *especially* difficult to translate. Its multiple shades of meaning, its
elaborate double entendres, and its [ingenious feats of linguistic
acrobatics][svadha] are dazzling to behold, and I know of no other language
that allows all of them so fluidly.

[svadha]: https://en.wikipedia.org/wiki/Shishupala_Vadha#Linguistic_ingenuity

But I acknowledge that this can be an acquired taste. And since Sanskrit poetry
can be so hard to translate, it can be hard to get a sense of what it's like
unless you know a bit of the language already.


### Philology

> The Sanscrit language, whatever be its antiquity, is of a wonderful structure;
> more perfect than the Greek, more copious than the Latin, and more exquisitely
> refined than either, yet bearing to both of them a stronger affinity &hellip;
> than could possibly have been produced by accident; &hellip; <br />
> <cite>Sir William Jones</cite>, in a speech delivered to the Asiatic Society in February 1786

When Western scholars first encountered Sanskrit, they found that Sanskrit was
*unusually* similar to Greek and Latin. For a small taste of this, here are
some common English words and their counterparts in Latin, Greek, and Sanskrit:

<table>
    <tr><th>English</th><th>Latin</th><th>Greek</th><th>Sanskrit</th></tr>
    <tr><td>father</td><td>pater</td><td>pater</td><td>{{ 'pitar'|i }}</td></tr>
    <tr><td>night</td><td>nox</td><td>nuks</td><td>{{ 'nakta'|i }}</td></tr>
    <tr><td>is</td><td>est</td><td>esti</td><td>{{ 'asti'|i }}</td></tr>
</table>

Notice that the words in all four languages are unusually similar. This is more
than a coincidence: all of these languages share a common origin, which is also
the origin of German, Persian, French, Bengali, and thousands of other
languages across the globe. Together, these are called [Indo-European
languages][iel], and Sanskrit is one of the oldest among them. Learning
Sanskrit provides a deep and fascinating glimpse of the history behind all of
these languages and how all language is destined to change over time.

[iel]: [https://en.wikipedia.org/wiki/Indo-European_languages]

Resolve
-------

Whatever your reason, it's important to have one, even if it's just that you're
curious about how Sanskrit works. There are no limits to how little or how much
time you can spend with the language. But whatever you choose to do, I hope
that you find your Sanskrit journey to be a valuable one.

Now, let's see how this guide can help!
