{% extends 'base-grammar.html' %}

{% block title %}The -aya Class{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/verbs">Verbs</a> »</li>
<li><a href="/verbs/derived">Derived Verbs</a> »</li>
<li>The -aya Class</li>
</ul>
{% endblock %}

{% block content %}

<h1>The <span lang="sa">-aya</span> Class</h1>
<p>Verbs in the <span lang="sa">-aya</span> class form stems by strengthening to the <strong>medium</strong> level and using the suffix <span lang="sa">aya</span>. Consider the behavior of the root <span lang="sa">cur</span>, meaning "steal":</p>
<div class="hideDouble">
{% include 'include/charts/c-cur-pres-p.html' %}</div>
<p>This is straightforward; let's move on.</p>
<h2>The <span lang="sa">-aya</span> class with different suffixes</h2>
<p>Any suffix that uses the connecting <span lang="sa">i</span> vowel will <strong>always</strong> use <span lang="sa">i</span>.</p>
<h3>The gerund</h3>
<p>Note that the suffix <span lang="sa">itvā</span> is used. If an <span lang="sa">-aya</span> class root does not have a prefix, then its gerund form will use the <strong>verb stem</strong>, with the last <span lang="sa">a</span> removed.</p>
<ul class="examples">
<li><p class="dev">चुर् → चोरयित्वा</p>
<p lang="sa">cur → corayitvā</p>
<p>steal → having stolen</p></li>
</ul>
<p>Otherwise, the regular rules are followed.</p>
<h3>The PPP</h3>
<p>Note that the suffix <span lang="sa">ita</span> is used. The <span lang="sa">-aya</span> class uses a medium-strength root in the PPP.</p>
<ul class="examples">
<li><p class="dev">चुर् → चोरित</p>
<p lang="sa">cur → corita</p>
<p>steal → stolen</p></li>
</ul>

{% endblock %}

