{% extends 'base-grammar.html' %}

{% block title %}Exercises: Case 7{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/nouns">Nouns</a> »</li>
<li><a href="/nouns/cases">Three Cases</a> »</li>
<li>Exercises: Case 7</li>
</ul>
{% endblock %}

{% block content %}

<h1>Exercises: Case 7</h1>
<h2>Vocabulary</h2>
<dl class="vocab">
<dt><div lang="sa"></div></dt><dd><dd></dd>
<dt><div lang="sa"></div></dt><dd><dd></dd>
<dd><dl>
<dt><div lang="sa"></div></dt><dd><dd></dd>
</dd></dl>
<dt><div lang="sa"></div></dt><dd><dd></dd>
</dd></dd></dd></dd></dl>
<h2>Translation (English → Sanskrit)</h2>
<p>Translate from English to Sanskrit.</p>
<ul class="drill exercises">
<li><p></p></li>
<li><p></p></li>
<li><p></p></li>
</ul>
<h2>Translation (Sanskrit → English)</h2>
<p>Translate from Sanskrit to English.</p>
<ul class="exercises" lang="sa">
<li><p class="dev"></p></li>
<li><p class="dev"></p></li>
<li><p class="dev"></p></li>
</ul>
<h2>Answers</h2>
<h3>Translation (English → Sanskrit)</h3>
<ul class="drill exercises" lang="sa">
<li><p class="dev"></p><p></p></li>
<li><p class="dev"></p><p></p></li>
<li><p class="dev"></p><p></p></li>
</ul>
<h3>Translation (Sanskrit → English)</h3>
<ul class="exercises">
<li><p></p></li>
<li><p></p></li>
<li><p></p></li>
</ul>

{% endblock %}

