{% extends 'base-grammar.html' %}

{% block title %}Exercises: Questions{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/nouns">Nouns</a> »</li>
<li><a href="/nouns/pronouns">More Pronouns</a> »</li>
<li>Exercises: Questions</li>
</ul>
{% endblock %}

{% block content %}

<h1>Exercises: Asking Questions</h1>
<h2>Vocabulary</h2>
<dl class="vocab">
<dt><div lang="sa"></div></dt><dd><dd></dd>
<dt><div lang="sa"></div></dt><dd><dd></dd>
<dd><dl>
<dt><div lang="sa"></div></dt><dd><dd></dd>
</dd></dl>
<dt><div lang="sa"></div></dt><dd><dd></dd>
</dd></dd></dd></dd></dl>
<h2>Translation (English → Sanskrit)</h2>
<p>Translate from English to Sanskrit.</p>
<ul class="drill exercises">
<li><p></p></li>
<li><p></p></li>
<li><p></p></li>
</ul>
<h2>Translation (Sanskrit → English)</h2>
<p>Translate from Sanskrit to English.</p>
<ul class="exercises" lang="sa">
<li><p class="dev">न काङ्क्षे विजयं कृष्ण न च राज्यं सुखानि च ।<br/>
किं नो राज्येन गोविन्द किं भोगैर्जीवितेन वा ॥</p></li>
<li><p class="dev">अव्यक्तादीनि भूतानि व्यक्तमध्यानि भारत ।<br/>
अव्यक्तनिधनान्येव तत्र का परिदेवना ॥</p></li>
<li><p class="dev"></p></li>
</ul>
<h2>Answers</h2>
<h3>Translation (English → Sanskrit)</h3>
<ul class="drill exercises" lang="sa">
<li><p class="dev"></p><p></p></li>
<li><p class="dev"></p><p></p></li>
<li><p class="dev"></p><p></p></li>
</ul>
<h3>Translation (Sanskrit → English)</h3>
<ul class="exercises">
<li><p>I do not desire victory, Krishna, nor kingship, nor pleasures.<br/>
	What is kingship to us, Krishna, (what are) enjoyments, (what is) life?</p>
<p class="aside"><cite>Bhagavad Gita 1.32</cite></p></li>
<li><p>Beings are unmanifest at first, (and) manifest in the middle, Arjuna;<br/>
	(and) surely, unmanifest at death. What complaint can there be in this? (literally "What complaint is there?")</p>
<p class="aside"><cite>Bhagavad Gita 2.28</cite></p></li>
</ul>

{% endblock %}

