{% extends 'base-grammar.html' %}

{% block title %}Stops and Nasals{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/sounds">Sounds</a> »</li>
<li><a href="/sounds/consonants">Consonants</a> »</li>
<li>Stops and Nasals</li>
</ul>
{% endblock %}

{% block content %}

<h1>Stops and Nasals</h1>
<p>Consonants that are produced by <strong>stopping</strong> the air flow are fittingly called <dfn>stops</dfn> or <dfn>stop consonants</dfn>. When pronouncing a stop consonant, the air flow stops within the mouth, and no air exits through the nose. Once the air is stopped, it is quickly released. This release produces a sound. An example of a stop is the letter "k." Here, the air stops at the back of the mouth before continuing.</p>
<p>The stop is related to the <dfn>nasal</dfn>, which is produced by stopping the air flow and <strong>redirecting</strong> it through the nose. An example of a nasal is the letter "m." Here, the air stops at the lips and goes through the nose instead.</p>
<div class="floating image" style="width: 256px"><img alt="Points of Pronunciation" src="/static/img/points_of_pronunciation.png"/><p>The five points of pronunciation. This is an "inside" view of the mouth. The person in this image is looking left.</p></div>
<p>For both stops and nasals, we must know where to stop the air flow. For instance, "k" requires that we stop the air at the back of the mouth, and "m" requires that we stop the air at the lips. The spot where the air flow is stopped has many names, but I will just call it the <dfn>point of pronunciation</dfn>. There are five points of pronunciation in Sanskrit:</p>
<ul>
<li>The <dfn style="color:#F00;">soft palate</dfn>. The soft palate is the fleshy region at the very back of the mouth.</li>
<li>The <dfn style="color:#F70;">hard palate</dfn>. The hard palate is the bony region at the top of the mouth.</li>
<li>The area behind the <dfn style="color:#FC0;">hard bump</dfn> on the roof of the mouth. This bump sits behind the teeth.</li>
<li>The <dfn style="color:#0A0;">base of the teeth</dfn>.</li>
<li>The <dfn style="color:#06F;">lips</dfn>.</li>
</ul>
<p>You can see that the list above starts at the back of the mouth and moves to the front. This is how the stops and nasals are ordered, too.</p>
<p>Now let's learn some of the stops and nasals. Remember that we're proceeding from the back of the mouth to the front.</p>
<p class="note box">The vowels, too, are arranged according to their point of pronunciation. <span lang="sa">a</span> is said to be pronounced at the soft palate, <span lang="sa">i</span> at the hard palate, and <span lang="sa">u</span> at the lips. <span lang="sa">ṛ</span> is not where we would expect; perhaps this is because <span lang="sa">ṛ</span> has a slightly odd pronunciation.</p>
<p class="fact box">The same organization scheme that is used for Sanskrit eventually found its way to Japan, where it influenced the arrangement of the <a href="http://www.japanorama.com/hira_ref.html">letters in the Japanese writing system</a>. For more information, you can read <a href="
http://www.eric.ed.gov/ERICWebPortal/detail?accno=ED043872">"The Influence of Sanskrit on the Japanese Sound System"</a>.</p>
<h2>Soft palate consonants</h2>
<p>To produce these sounds, we stop the air at the soft palate. To stop the air, we use the base of the tongue.</p>
<table class="blue">
<tr><th>Letter</th><th>Approximation</th><th>Example</th></tr>
<tr><td class="big" lang="sa">ka</td><td>"k" in "skill"</td><td><div class="audio"><audio controls="" src="/static/audio/ka.OGG"><embed autoplay="false" height="20" src="/static/audio/ka.wav" width="200"/></audio><p></p></div>
</td></tr>
<tr><td class="big" lang="sa">ṅa</td><td>"ng" in "lung"</td><td><div class="audio"><audio controls="" src="/static/audio/na_k.OGG"><embed autoplay="false" height="20" src="/static/audio/na_k.wav" width="200"/></audio><p></p></div>
</td></tr>
</table>
<h2>Hard palate consonants</h2>
<p>To produce these consonants, we stop the air at the hard palate. To stop the air, we use the middle of the tongue. None of these sounds appear in English.</p>
<table class="blue">
<tr><th>Letter</th><th>Approximation</th><th>Example</th></tr>
<tr><td class="big" lang="sa">ca</td><td>---</td><td><div class="audio"><audio controls="" src="/static/audio/ca.OGG"><embed autoplay="false" height="20" src="/static/audio/ca.wav" width="200"/></audio><p></p></div>
</td></tr>
<tr><td class="big" lang="sa">ña</td><td>---</td><td><div class="audio"><audio controls="" src="/static/audio/na_j.OGG"><embed autoplay="false" height="20" src="/static/audio/na_j.wav" width="200"/></audio><p></p></div>
</td></tr>
</table>
<h2>Retroflex Consonants</h2>
<p>Terms like "soft palate consonants" and "hard palate consonants" are short and easy to understand, but "behind-the-bony-bump-on-the-roof-of-the-mouth consonants" is long and hard to read! These consonants are called by many names, but it's easiest to call them <dfn>retroflex consonants</dfn>. This term shows that the tongue bends ("-flex") backward ("retro-").</p>
<p>To produce the retroflex consonants, we stop the air behind the bony bump on the roof of the mouth. To stop the air, we use the tip of the tongue. Again, none of these sounds appear in English.</p>
<table class="blue">
<tr><th>Letter</th><th>Approximation</th><th>Example</th></tr>
<tr><td class="big" lang="sa">ṭa</td><td>---</td><td><div class="audio"><audio controls="" src="/static/audio/ta1.OGG"><embed autoplay="false" height="20" src="/static/audio/ta1.wav" width="200"/></audio><p></p></div>
</td></tr>
<tr><td class="big" lang="sa">ṇa</td><td>---</td><td><div class="audio"><audio controls="" src="/static/audio/na1.OGG"><embed autoplay="false" height="20" src="/static/audio/na1.wav" width="200"/></audio><p></p></div>
</td></tr>
</table>
<div class="ling box">
<p>Gray boxes, like this one, contain information about Indo-European linguistics and languages related to Sanskrit. Although I think this is a fascinating topic, I know that many do not feel the same way. Fortunately, these linguistic digressions are optional and clearly marked. Feel free to skip them!</p>
<h3>Retroflex consonants in Indo-European languages</h3>
<p>The retroflex consonants do not exist in Greek, Latin, Avestan, Old Persian, Hittite, or the other old Indo-European languages. Their absence in these languages is significant. Because of their absence, most linguists say that Sanskrit could not have been the ancestor of all other Indo-European languages, as a few linguists have proposed. Retroflex consonants, however, exist in languages like Tamil and Kannada, the so-called <dfn>Dravidian</dfn> languages. Linguists tend to believe that Sanskrit borrowed the retroflex consonants from those languages.<p>
</p></p></div>
<h2>Tooth Consonants</h2>
<p>To produce these consonants, we stop the air at the base of the top row of teeth. To stop the air, we use the tip of the tongue.</p>
<table class="blue">
<tr><th>Letter</th><th>Approximation</th><th>Example</th></tr>
<tr><td class="big" lang="sa">ta</td><td>"th" in "thumb"</td><td><div class="audio"><audio controls="" src="/static/audio/ta.OGG"><embed autoplay="false" height="20" src="/static/audio/ta.wav" width="200"/></audio><p></p></div>
</td></tr>
<tr><td class="big" lang="sa">na</td><td>"n" in "now"</td><td><div class="audio"><audio controls="" src="/static/audio/na.OGG"><embed autoplay="false" height="20" src="/static/audio/na.wav" width="200"/></audio><p></p></div>
</td></tr>
</table>
<p>These English sounds are <strong>not</strong> the same as their Sanskrit counterparts, although the difference is quite subtle. The consonants above use a point of pronunciation that sits at the <strong>base</strong> of the teeth, and it is not found in English. The closest English match places the point of pronunciation more forward, near the <strong>edge</strong> of the teeth.</p>
<h2>Lip Consonants</h2>
<p>To produce these consonants, we stop the air with the lips. We don't use the tongue at all!</p>
<table class="blue">
<tr><th>Letter</th><th>Approximation</th><th>Example</th></tr>
<tr><td class="big" lang="sa">pa</td><td>"p" in "spill"</td><td><div class="audio"><audio controls="" src="/static/audio/pa.OGG"><embed autoplay="false" height="20" src="/static/audio/pa.wav" width="200"/></audio><p></p></div>
</td></tr>
<tr><td class="big" lang="sa">ma</td><td>"m" in "mail"</td><td><div class="audio"><audio controls="" src="/static/audio/ma.OGG"><embed autoplay="false" height="20" src="/static/audio/ma.wav" width="200"/></audio><p></p></div>
</td></tr>
</table>
<h2>The Alphabet</h2>
<p>Let's wait one more lesson before adding consonants to our alphabet.</p>
<h2>Review</h2>
<p>In this lesson, we've learned the following terms:</p>
<dl class="blue">
<dt class="title">Term</dt><dd class="title">Definition</dd>
<dt>stop</dt><dd>A consonant that is produced by <strong>stopping and quickly releasing air</strong> in the mouth.</dd>
<dt>nasal</dt><dd>A consonant that is produced by stopping air in the mouth and <strong>redirecting air through the nose</strong>.</dd>
<dt>point of pronunciation</dt><dd>The <strong>location of the tongue</strong> when we pronounce a letter.</dd>
<dt>soft palate</dt><dd>The <strong>soft and fleshy</strong> part at the back of the mouth</dd>
<dt>hard palate</dt><dd>The <strong>hard and bony</strong> part in front of the soft palate.</dd>
<dt>retroflex</dt><dd>a name given to sounds that require you to <strong>bend</strong> your tongue ("-flex") <strong>backward</strong> ("retro-").</dd>
<dt>teeth</dt><dd>I hope you know what these are!</dd>
<dt>lips</dt><dd>I hope you know what these are!</dd>
</dl>
<p>In addition, we studied the following consonants, which you can see arranged below. As you can see, we still have a few more stop consonants to cover:</p>
<table class="blue" lang="sa">
<tr lang="en"><th>Stop</th><th>Stop</th><th>Stop</th><th>Stop</th><th>Nasal</th></tr>
<tr class="big" lang="sa"><td>ka</td><td>???</td><td>???</td><td>???</td><td>ṅa</td></tr>
<tr class="big" lang="sa"><td>ca</td><td>???</td><td>???</td><td>???</td><td>ña</td></tr>
<tr class="big" lang="sa"><td>ṭa</td><td>???</td><td>???</td><td>???</td><td>ṇa</td></tr>
<tr class="big" lang="sa"><td>ta</td><td>???</td><td>???</td><td>???</td><td>na</td></tr>
<tr class="big" lang="sa"><td>pa</td><td>???</td><td>???</td><td>???</td><td>ma</td></tr>
</table>
<p>To learn what these consonants are, proceed to the next lesson.</p>
{% endblock %}

