{% extends 'base-grammar.html' %}

{% block title %}Doubling{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/verbs">Verbs</a> »</li>
<li>Doubling</li>
</ul>
{% endblock %}

{% block content %}

<h1>Doubling</h1>
<p class="alternatives">Also known as: reduplication, <span lang="sa">abhyāsa</span> ("placing in front")</p><h2>Introduction</h2>
<p>So far, this guide has taken pains to avoid one particular topic. Consider the verb <span lang="sa">dā</span>, which means "give." It is related to English words like "donor." You can see one of its forms below.</p>
<ul class="sa examples">
<li><p class="dev">दा → ददाति</p>
<p lang="sa">dā → dadāti</p>
<p>give → He gives.</p></li>
</ul>
<p>Well, this is something new! The verb root <span lang="sa">dā</span> produces the verb stem <span lang="sa">dadā</span>. It's almost as if the verb root were doubled. In fact, that's exactly what has happened. The process of doubling the root has many names, but let's make our own and call it <dfn>doubling</dfn>. Let's also call the <span lang="sa">da</span> part the <dfn>doubled</dfn> sound.</p>
<p>Doubling occurs primarily in the older verb forms. It also occurs in the last verb class, which we will study a few lessons from now. But it occurs in other places too. For instance, the root <span lang="sa">sthā</span> uses the stem <span lang="sa">tiṣṭha</span>, which is irregularly produced by doubling!</p>
<h2>In This Chapter</h2>
<p>We will start with an overview of the rules that describe doubling. From there, we will study four of the five forms that actually use doubling. We'll study the fifth form at the end of the chapter.</p>

{% endblock %}

