<nav class="pa3 f6" style="color: #777; text-align: right">
<label>Large script:</label>
<select id="switch-sa1" onchange="switchSa1(this.value)">
    <option value="devanagari" selected>Devanagari</option>
    <option value="kannada">Kannada</option>
    <option value="telugu">Telugu</option>
    <option value="iast">Roman</option>
</select>

<br />

<label>Small script:</label>
<select id="switch-sa2" onchange="switchSa2(this.value)">
    <option value="devanagari">Devanagari</option>
    <option value="kannada">Kannada</option>
    <option value="telugu">Telugu</option>
    <option value="iast" selected>Roman</option>
</select>
</nav>
