{% extends 'base-grammar.html' %}

{% block title %}Vowels{% endblock %}

{% block grammar_nav %}
<ul>
<li><a href="/">Index</a> »</li>
<li><a href="/grammar">Sanskrit Grammar</a> »</li> <li><a href="/sounds">Sounds</a> »</li>
<li>Vowels</li>
</ul>
{% endblock %}

{% block content %}

<h1>Vowels</h1>
<p>We can divide all sounds into two types: <dfn>vowels</dfn> and <dfn>consonants</dfn>. <strong>Vowels</strong> are sounds that are produced by <strong>letting air flow cleanly</strong> through the mouth. The air stream has no stops or breaks of any kind. are sounds like "a" or "o," but <em>not</em> sounds like "k" or "b." Consonants, meanwhile, are sounds that are produced by <strong>interrupting the flow</strong> of air through the mouth. Consonants are sounds like "k" and "b," but <em>not</em> sounds like "a" or "o."</p>
<p>In this part of the chapter, we will study the Sanskrit vowel and learn how vowels are related to each other. By learning about these relations, you will greatly improve your ability to read, understand, and use Sanskrit. Granted, this is a very modest way of starting our Sanskrit studies. But these simple principles are so fundamental that they must be learned and mastered as early as possible.</p>
{% endblock %}

