#sanscript {
	background: #e3d0b1;
	padding: 2%;
	margin: 1em auto;
}
#sanscript label {
	font-weight: bold;
	line-height: 3.0em;}
#sansSelect, #sansText ul, #tabs, #map ul, #options ul{
	margin: 0;
	padding: 0;
	list-style-type: none;}
#sansSelect li {float:left;}
#sansSelect {height: 4.0em;}
#sansSel1 {width: 54%;}
#sansSel2 {width: 46%;}
#sansText {width: 100%; clear: left;}
#sansText textarea, #sansText ul {float:left;}
#sansText textarea {
	width: 45.5%;
	height: 225px;
	margin: 0;
	padding: 0;
	font-family: "Sanskrit 2003", Sans-Serif;}
#sansText ul {
	width: 7%;
	margin: 0 0.5%;
	height: 250px;
	list-style-type: none;}
#sansText input {width: 100%;}
#sansText .run {
	height: 200px;
	font-size: 3.0em;
	color: #037;
}
#sansText .swap {height: 25px;}
#sansFooter {clear:both; margin-top: 2.0em;}
#status {color: #555; padding: 0; margin: 0; font-size: 0.8em; text-align: right;}

#sanscript #tabs {padding: 0 0 0.5em 0;}
#tabs li { display: inline;}
#tabs li a {
	color: #037; background: #DDD;
	padding: 0.7em; text-decoration: none;
	border-top-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		-webkit-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-webkit-border-top-left-radius: 5px;
	border: 1px #DDD solid;
	border-bottom: 0;}

/* Transliteration Map */
#map ul {font-family: GentiumAlt, "Sanskrit 2003", "Arial Unicode MS", Sans-Serif; font-size: 125%;}
#map li {text-align: center; float: left; height: 5.0em; font-size: 1.25em;}
#map li div {color: #F00; font-size: 1.6em; height: 1.6em;} 
#map h3, #map h4 {clear: left;}
#map h3 {border-bottom: 1px #DDD solid;}
#map ul + * {padding-top: 2.0em;}
#tVowels li {width: 12.45%;}
#symbols li {width: 16.4%;}
#tStops li {width: 20%;}
#tOther li, #tConjuncts li {width: 24%;}
#numbers li, #special li {width: 10%;}


.tabContent, #tabs li a.selected, #tabs li a.selected:hover {background: #FEFEFC;}
#tabs li a:hover {background: #EEE;}
#tabs li a.selected {
	font-size: 1.1em; font-weight: bold; color: #000;
	padding-top: 0.7em;}
.tabContent {
	padding: 0.5em; border: 1px #DDD solid; border-top: 0;
	height: 300px; overflow: auto;}
.tabContent.hide { display: none; }
.tabContent h2 {color: #321; border-bottom: 0;}
del {color: #555;}
.textBlueArrow {
	font-size: 2.0em; color: #037; font-family: Sans-Serif;
	line-height: 0.5em;}
.examples {font-size: 1.3em;}